*, :before, :after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
    outline: 0;
    border: none;
    -webkit-text-size-adjust: 100%;
}

a {
    font-weight: bold;
    cursor: pointer;
}

a:hover {
    text-decoration: none;
}

img {
    display: block;
    max-width: 100%;
}

body {
    font-family: 'Noto Sans', sans-serif;
    font-size: 16px;
    line-height: 1;
    color: #101F26;
}

.wrapper {
    overflow: hidden;
}

.container {
    width: 1620px;
    margin: 0 auto;
    position: relative;
    z-index: 1;
}

.present {
    background: rgba(0, 18, 27, 0.1);
    position: relative;
}

.present__cursor {
    width: 2px;
    height: 30px;
    background: #000;
    position: absolute;
    bottom: 0;
    left: 50%;
    margin: 0 0 20px -1px;
  display:none
}

.present__cursor:before {
    content: '';
    width: 10px;
    height: 10px;
    border: 2px solid transparent;
    border-right-color: #000;
    border-bottom-color: #000;
    position: absolute;
    bottom: 0;
    left: 50%;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    margin: 0 0 0 -5px;
}

.logo {
    min-height: 110px;
    position: absolute;
    top: 20px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
    z-index: 5;
}

.logo:before {
    content: '';
    background: url("logo.png") center no-repeat;
    -webkit-background-size: contain;
    background-size: contain;
    width: 244px;
    height: 110px;
    display: block;
    margin: 0 auto;
}

.present__title {
    font-family: 'Playfair Display', serif;
    font-size: 400px;
    color: #fff;
    text-align: center;
    letter-spacing: 20px;
    line-height: .9;
}

.present__wrap {
    display: table;
    width: 100%;
    table-layout: fixed;
    direction: rtl;
}

.present__cell {
    direction: ltr;
    display: table-cell;
    vertical-align: bottom;
    position: relative;
}

.present__text {
    line-height: 1.43;
    padding: 40px 0;
}

.present__list {
    font-size: 0;
}

.present__item {
    font-size: 16px;
    width: 50%;
    display: inline-block;
    vertical-align: text-top;
    line-height: 1.43;
    padding: 10px 0 35px 80px;
    position: relative;
}

.present__item b {
    display: block;
}

.present__icon {
    width: 60px;
    height: 60px;
    background: #fff;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 0;
}

.present__icon_01:before {
    background: url("present_icon_01.svg") center no-repeat;
}

.present__icon_02:before {
    background: url("present_icon_02.svg") center no-repeat;
}

.present__icon_03:before {
    background: url("present_icon_03.svg") center no-repeat;
}

.present__icon:before {
    content: '';
    width: 22px;
    height: 22px;
    -webkit-background-size: contain;
    background-size: contain;
    position: absolute;
    top: 0;
    left: 0;
    margin: 19px 0 0 20px;
}

.present__product {
    position: relative;
}

.present__product img {
    position: absolute;
    width: 50%;
    top: 0;
    left: 45%;
    -webkit-transform: rotate(-20deg) translate(-25%, -42%);
    -ms-transform: rotate(-20deg) translate(-25%, -42%);
    transform: rotate(-20deg) translate(-25%, -42%);
}

.present__mark {
    position: absolute;
    top: -50%;
    right: 0;
    width: 247px;
    min-height: 247px;
    font-family: 'Playfair Display', serif;
    font-size: 70px;
    padding: 0 0 15px;
  
    text-align: center;
    background: #FFF7E4;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    margin: 0 40px 0 0;
}

.present__mark span {
    display: table-cell;
    vertical-align: middle;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    line-height: 0;
}

.present .subtitle {
    padding-left: 50px;
}

.advantages {
    background: #E8DDDC;
    position: relative;
    padding: 0 0 30px;
    z-index: 4;
}

.advantages:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: -webkit-radial-gradient(50% 50%, 50% 50%, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0) 100%);
    background: -o-radial-gradient(50% 50%, 50% 50%, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0) 100%);
    background: radial-gradient(50% 50% at 50% 50%, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0) 100%);
}

.advantages__decore {
    position: absolute;
    top: 0;
    right: 0;
    width: 60%;
    height: 100%;
}

.advantages__decore:before {
    content: '';
    /* min-width: 1270px; */
    /* max-width: 100%; */
    height: 100%;
    background: url("advantages_bg_01.png") left center no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    display: block;
    width: 100%;
}

.advantages__decore_on-right {
    left: 0;
    width: 50%;
}

.advantages__decore_on-right:before {
    min-width: 100%;
    width: 1038px;
    max-width: 100%;
    background: url("advantages_bg_02.png") right center no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
}

.advantages__wrap {
    position: relative;
    z-index: 1;
    width: 50%;
    padding: 0 140px 50px 0;
}

.title {
    padding: 40px 0 0;
    font-family: 'Playfair Display', serif;
    color: #fff;
    font-size: 200px;
}

.title_centered {
    color: #000;
    line-height: 1.2;
    text-align: center;
    padding: 0;
}

.subtitle {
    font-family: 'Playfair Display', serif;
    font-size: 62px;
}

.subtitle_centered {
    text-align: center;
}

.advantages__text {
    padding: 50px 0;
    font-size: 24px;
    line-height: 1.43;
}

.advantages__list {
    font-size: 0;
    padding: 0 0 20px;
}

.advantages__item {
    font-size: 16px;
    display: inline-block;
    vertical-align: text-top;
    line-height: 1.43;
    width: 50%;
    min-height: 75px;
    padding: 0 25px 20px 55px;
    position: relative;
}

.advantages__item:before {
    content: '';
    width: 40px;
    height: 40px;
    background: #fff;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 0;
    margin: -10px 0 0 0;
}

.advantages__item:after {
    content: '';
    width: 10px;
    height: 16px;
    border: 2px solid transparent;
    border-right-color: #000;
    border-bottom-color: #000;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    position: absolute;
    top: 0;
    left: 0;
    margin-left: 15px;
}

.button__wrap_mod {
    padding: 40px 0;
}

button {
    background: -webkit-gradient(linear, left top, left bottom, from(#FFFFFF), to(rgba(255, 255, 255, 0.9))), #8E534F;
    background: -webkit-linear-gradient(top, #FFFFFF 0%, rgba(255, 255, 255, 0.9) 100%), #8E534F;
    background: -o-linear-gradient(top, #FFFFFF 0%, rgba(255, 255, 255, 0.9) 100%), #8E534F;
    background: linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0.9) 100%), #8E534F;
    -webkit-box-shadow: 0 15px 15px rgba(142, 83, 79, 0.25);
    box-shadow: 0 15px 15px rgba(142, 83, 79, 0.25);
    -webkit-border-radius: 35px;
    border-radius: 35px;
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
    display: inline-block;
    padding: 25px 50px;
    cursor: pointer;
    font-family: 'Noto Sans', sans-serif;
    font-size: 16px;
    -webkit-transition: -webkit-box-shadow .3s, -webkit-transform .3s;
    transition: -webkit-box-shadow .3s, -webkit-transform .3s;
    -o-transition: box-shadow .3s, transform .3s;
    transition: box-shadow .3s, transform .3s;
    transition: box-shadow .3s, transform .3s, -webkit-box-shadow .3s, -webkit-transform .3s;
}

button:hover {
    -webkit-transform: translateY(10px);
    -ms-transform: translateY(10px);
    transform: translateY(10px);
    -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.4);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.4);
}

.product {
    position: relative;
}

.product img {
    width: 320px;
    position: absolute;
    right: 0;
    top: 0;
    margin: -160px 0 0;
    -webkit-transform: rotate(7deg);
    -ms-transform: rotate(7deg);
    transform: rotate(7deg);
}

.advantages_mod-01 {
    background: #D7D8DF;
    z-index: 3;
}

.advantages_mod-01 .title, .advantages_mod-01 .subtitle {
    width: 50%;
    margin-left: auto;
}

.advantages__wrap_on-left {
    margin-left: auto;
    padding: 0;
    width: 50%;
}

.button_mod {
    background: -webkit-gradient(linear, left top, left bottom, from(#FFFFFF), to(rgba(255, 255, 255, 0.9))), #4F8E83;
    background: -webkit-linear-gradient(top, #FFFFFF 0%, rgba(255, 255, 255, 0.9) 100%), #4F8E83;
    background: -o-linear-gradient(top, #FFFFFF 0%, rgba(255, 255, 255, 0.9) 100%), #4F8E83;
    background: linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0.9) 100%), #4F8E83;
    -webkit-box-shadow: 0 15px 15px rgba(79, 142, 131, 0.25);
    box-shadow: 0 15px 15px rgba(79, 142, 131, 0.25);
}

.product_add-pack:after {
    content: '';
    background: url("product_01.png") center no-repeat;
    -webkit-background-size: contain;
    background-size: contain;
    width: 320px;
    height: 390px;
    position: absolute;
    top: 0;
    right: 0;
    margin: -120px -20px 0 0;
    -webkit-transform: rotate(14deg);
    -ms-transform: rotate(14deg);
    transform: rotate(14deg);
}

.advantages_mod-02 {
    background: #DCE8E6;
    padding: 0 0 70px;
    z-index: 2;
}

.advantages__decore_mod {
    z-index: 2;
    width: 55%;
}

.advantages__decore_mod:before {
    content: '';
    /* min-width: 1270px; */
    /* max-width: 100%; */
    height: 100%;
    background: url("advantages_bg_03.png") left center no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    display: block;
    width: 100%;
}

.product_third-pack img {
    left: 100%;
    margin: -160px 0 0 -85px;
    -webkit-transform: rotate(-5deg);
    -ms-transform: rotate(-5deg);
    transform: rotate(-5deg);
}

.product_third-pack:after {
    left: 100%;
    margin-left: -50px;
}

.product_third-pack:before {
    content: '';
    background: url("product_01.png") center no-repeat;
    -webkit-background-size: contain;
    background-size: contain;
    width: 320px;
    height: 390px;
    position: absolute;
    top: 0;
    left: 100%;
    margin: -160px 0 0 -135px;
    -webkit-transform: rotate(-14deg);
    -ms-transform: rotate(-14deg);
    transform: rotate(-14deg);
}

.composition {
    padding: 200px 0 20px;
    background: url("composition_bg.jpg") -40px 0 no-repeat;
    -webkit-background-size: contain;
    background-size: contain;
}

.composition__subtitle {
    font-weight: normal;
    font-size: 24px;
    line-height: 1.43;
    text-align: center;
    display: table;
    margin: 0 auto;
    padding: 0 15px;
    position: relative;
    width: 40%;
}

.composition__subtitle:before, .composition__subtitle:after {
    content: '';
    width: 80px;
    height: 2px;
    background: #101F26;
    position: absolute;
    top: 0;
    margin-top: 20px;
}

.composition__subtitle:before {
    left: 100%;
}

.composition__subtitle:after {
    right: 100%;
}

.composition__wrap {
    padding: 140px 0;
    text-align: justify;
    position: relative;
}

.composition__photo {
    position: absolute;
    top: 20px;
    left: 48%;
    width: 420px;
    /*width: 320px;*/
    /*height: 390px;*/
    margin: 340px 0 0 -160px;
    /*-webkit-transform: rotate(12deg);*/
    /*-ms-transform: rotate(12deg);*/
    /*transform: rotate(12deg);*/
}

.composition__item {
    font-size: 16px;
    display: inline-block;
    vertical-align: text-top;
    padding: 50px 0 95px;
    min-height: 240px;
    position: relative;
}

.composition__item_01, .composition__item_02 {
    width: 44%;
}

.composition__item_03, .composition__item_04 {
    width: 32%;
}

.composition__item_05, .composition__item_06 {
    width: 36%;
}

.composition__item_01:before {
    background: url("composition_pict_01.png") center no-repeat;
}

.composition__item_02:before {
    background: url("composition_pict_02.png") center no-repeat;
}

.composition__item_03:before {
    background: url("composition_pict_03.png") center no-repeat;
}

.composition__item_04:before {
    background: url("composition_pict_04.png") center no-repeat;
}

.composition__item_05:before {
    background: url("composition_pict_05.png") center no-repeat;
}

.composition__item_06:before {
    background: url("composition_pict_06.png") center no-repeat;
}

.composition__item_07:before {
    background: url("composition_pict_07.png") center no-repeat;
}

.composition__pict {
    width: 150px;
    height: 150px;
    -webkit-background-size: 100px;
    background-size: 100px;
    position: absolute;
    top: 0;
    margin-top: 15px;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}

.composition__pict_01 {
    -webkit-box-shadow: inset 0 0 50px 30px #D7D8DF;
    box-shadow: inset 0 0 50px 30px #D7D8DF;
}

.composition__pict_02 {
    -webkit-box-shadow: inset 0 0 50px 30px #E8DDDC;
    box-shadow: inset 0 0 50px 30px #E8DDDC;
}

.composition__pict_03 {
    -webkit-box-shadow: inset 0 0 50px 30px #DCE8E6;
    box-shadow: inset 0 0 50px 30px #DCE8E6;
}

.composition__pict_04 {
    -webkit-box-shadow: inset 0 0 50px 30px #D7D8DF;
    box-shadow: inset 0 0 50px 30px #D7D8DF;
}

.composition__pict_05 {
    -webkit-box-shadow: inset 0 0 50px 30px #D7D8DF;
    box-shadow: inset 0 0 50px 30px #D7D8DF;
}

.composition__pict_06 {
    -webkit-box-shadow: inset 0 0 50px 30px #DCE8E6;
    box-shadow: inset 0 0 50px 30px #DCE8E6;
}

.composition__pict_07 {
    -webkit-box-shadow: inset 0 0 50px 30px #E8DDDC;
    box-shadow: inset 0 0 50px 30px #E8DDDC;
}

.composition__pict_01:before {
    background: url("composition_pict_01.png") center no-repeat;
}

.composition__pict_02:before {
    background: url("composition_pict_02.png") center no-repeat;
}

.composition__pict_03:before {
    background: url("composition_pict_03.png") center no-repeat;
}

.composition__pict_04:before {
    background: url("composition_pict_04.png") center no-repeat;
}

.composition__pict_05:before {
    background: url("composition_pict_05.png") center no-repeat;
}

.composition__pict_06:before {
    background: url("composition_pict_06.png") center no-repeat;
}

.composition__pict_07:before {
    background: url("composition_pict_07.png") center no-repeat;
}

.composition__pict:before {
    content: '';
    -webkit-background-size: contain;
    background-size: contain;
    width: 100px;
    height: 100px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -50px 0 0 -50px;
}

.composition__name {
    font-size: 24px;
    line-height: 1.43;
    padding: 0 0 10px;
    display: block;
}

.composition__text {
    line-height: 1.2;
}

.composition__item_left {
    text-align: right;
    padding-right: 190px;
}

.composition__item_left .composition__pict {
    right: 0;
}

.composition__item_right {
    text-align: left;
    padding-left: 190px;
}

.composition__item_right .composition__pict {
    left: 0;
}

.composition__item_center {
    width: 100%;
    margin: 0 auto;
    text-align: center;
    padding-top: 0;
}

.composition__item_center .composition__text {
    max-width: 390px;
    margin: 0 auto;
}

.composition__item_center .composition__pict {
    position: relative;
    display: block;
    margin: -70px auto 40px;
}

.use {
    position: relative;
    background: rgba(16, 31, 38, 0.1);
    padding: 0 0 180px;
}

.use:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: -webkit-radial-gradient(50% 50%, 50% 50%, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.5) 100%);
    background: -o-radial-gradient(50% 50%, 50% 50%, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.5) 100%);
    background: radial-gradient(50% 50% at 50% 50%, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.5) 100%);
    opacity: 0.1;
}

.use:after {
    content: '';
    /*background: url("use_photo.png") center no-repeat;*/
    -webkit-background-size: contain;
    background-size: contain;
    width: 940px;
    height: 860px;
    position: absolute;
    top: 0;
    right: 0;
    margin: -230px 0 0;
}

.use__text {
    font-size: 24px;
    line-height: 1.43;
    padding: 50px 0 10px;
}

.use__list {
    font-size: 0;
    counter-reset: use__count;
    width: 70%;
    display: inline-block;
}

.use__item {
    display: inline-block;
    vertical-align: top;
    width: 45%;
    padding: 40px 50px 40px 130px;
    font-size: 24px;
    line-height: 1.43;
    position: relative;
}

.use__item:before {
    content: counter(use__count) ".";
    counter-increment: use__count;
    font-family: 'Playfair Display', serif;
    font-size: 140px;
    position: absolute;
    top: 0;
    left: 0;
    margin: -20px 0 0;
}

.use__subtext {
    display: inline-block;
    vertical-align: bottom;
    width: 360px;
    padding: 15px 25px 15px 60px;
    margin: 0 0 30px;
    background: #fff;
    position: relative;
    line-height: 1.43;
}

.use__subtext:before {
    content: '*';
    font-size: 24px;
    display: inline-block;
    text-indent: -25px;
    line-height: 0;
    -webkit-transform: translateY(5px);
    -ms-transform: translateY(5px);
    transform: translateY(5px);
}

.opinion {
    background: url("opinion_bg.jpg") center no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    position: relative;
}

.opinion:before {
    content: '';
    background: -webkit-gradient(linear, left top, left bottom, from(#FFFFFF), to(rgba(255, 255, 255, 0.5)));
    background: -webkit-linear-gradient(top, #FFFFFF 0%, rgba(255, 255, 255, 0.5) 100%);
    background: -o-linear-gradient(top, #FFFFFF 0%, rgba(255, 255, 255, 0.5) 100%);
    background: linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0.5) 100%);
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.opinion__wrap {
    width: 50%;
    min-height: 980px;
    margin-left: auto;
    padding: 100px 100px 100px 10px;
    position: relative;
}

.opinion__wrap:before {
    content: '';
    background: url("opinion_photo.png") center bottom no-repeat;
    -webkit-background-size: contain;
    background-size: contain;
    width: 705px;
    height: 1080px;
    position: absolute;
    bottom: 0;
    right: 100%;
    margin-right: 50px;
}

.opinion__subtitle {
    font-weight: normal;
    line-height: 1.43;
    padding: 50px 0 40px;
}

.opinion__text {
    padding: 0 0 30px;
    line-height: 1.74;
}

.reviews {
    padding: 100px 0;
}

.subtitle_colored {
    text-align: center;
}

.reviews__wrap {
    padding: 50px 0;
    display: table;
    width: 100%;
    table-layout: fixed;
}

.reviews__cell {
    display: table-cell;
    vertical-align: top;
}

.reviews__item {
    max-width: 500px;
    margin: 0 auto;
    padding: 40px;
    background: #FFF7E4;
}

.reviews__photo {
    margin: 0 auto;
}

.reviews__name {
    font-size: 24px;
    line-height: 1.43;
    font-weight: bold;
    padding: 30px 0 20px;
}

.reviews__text {
    line-height: 1.74;
}

.instructions {
    background: #DCE8E6;
    position: relative;
    padding: 0 0 60px;
}

.instructions:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: -webkit-radial-gradient(50% 50%, 50% 50%, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0) 100%);
    background: -o-radial-gradient(50% 50%, 50% 50%, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0) 100%);
    background: radial-gradient(50% 50% at 50% 50%, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0) 100%);
}

.instructions__inner {
    position: relative;
}

.instructions .title {
    text-align: center;
}

.instructions__wrap {
    padding: 75px 0;
    display: table;
    width: 100%;
    table-layout: fixed;
    counter-reset: instructions__count;
}

.instructions__cell {
    display: table-cell;
    vertical-align: top;
}

.instructions__item {
    padding: 0 75px 0 120px;
    position: relative;
    font-size: 20px;
    line-height: 1.3;
    display: table;
    height: 100px;
    width: 100%;
}

.instructions__item span {
    display: table-cell;
    vertical-align: middle;
}

.instructions__item:before {
    content: counter(instructions__count) ".";
    counter-increment: instructions__count;
    font-family: 'Playfair Display', serif;
    font-size: 70px;
    text-align: center;
    line-height: 80px;
    text-indent: 10px;
    width: 100px;
    height: 100px;
    background: #fff;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 0;
}

.order {
    background: url("order_bg.jpg") center no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    padding: 0 0 150px;
    position: relative;
}

.order .subtitle {
    width: 70%;
    font-size: 45px;
}

.order__wrap {
    font-size: 0;
    display: table;
    width: 100%;
}

.order__item {
    font-size: 16px;
    display: inline-block;
    vertical-align: bottom;
    width: 50%;
}

.order__text {
    font-size: 24px;
    line-height: 1.43;
    font-weight: bold;
    padding: 40px 0;
}

.order__list {
    list-style: none;
    max-width: 300px;
}

.order__point {
    padding: 30px 0 30px 80px;
    position: relative;
    width: 70%;
}

.order__pict {
    width: 60px;
    height: 60px;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    background: #fff;
    position: absolute;
    top: 50%;
    left: 0;
    margin: -30px 0 0;
}

.order__pict_01:before {
    background: url("order_icon_01.svg") center no-repeat;
}

.order__pict_02:before {
    background: url("order_icon_02.svg") center no-repeat;
}

.order__pict_03:before {
    background: url("order_icon_03.svg") center no-repeat;
}

.order__pict:before {
    content: '';
    -webkit-background-size: contain;
    background-size: contain;
    width: 22px;
    height: 22px;
    position: absolute;
    top: 50%;
    left: 0;
    margin: -11px 0 0 19px;
}

.order__product {
    position: relative;
    width: 60%;
}

.order__product img {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 500px;
    z-index: 1;
}

.order__photo {
    position: absolute;
    bottom: 0;
    left: 100%;
    margin: 0 0 -45px -75px;
}

.form__wrap {
    width: 360px;
    margin: 0 auto 50px;
    background: #fff;
    padding: 25px 35px;
    -webkit-box-shadow: 0 25px 25px rgba(16, 31, 38, 0.25);
    box-shadow: 0 25px 25px rgba(16, 31, 38, 0.25);
}

.form__wrap .subtitle {
    width: auto;
}

form {
    padding: 30px 0 0;
}

.form__field {
    margin-bottom: 30px;
    background: #FFF7E4;
    position: relative;
}

.form__field_select:before {
    content: '';
    width: 10px;
    height: 10px;
    border: 2px solid rgba(0, 0, 0, 0);
    border-right-color: #000;
    border-bottom-color: #000;
    position: absolute;
    top: 50%;
    right: 0;
    margin: -8px 20px 0 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

select, option, input {
    padding: 15px 20px;
    display: block;
    width: 100%;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    font-size: 18px;
    background: none;
    position: relative;
    z-index: 5;
    outline: none;
}

input::-webkit-input-placeholder {
    font-size: 18px;
    color: rgba(16, 31, 38, 0.5);
}

input::-moz-placeholder {
    font-size: 18px;
    color: rgba(16, 31, 38, 0.5);
}

input:-ms-input-placeholder {
    font-size: 18px;
    color: rgba(16, 31, 38, 0.5);
}

input::-ms-input-placeholder {
    font-size: 18px;
    color: rgba(16, 31, 38, 0.5);
}

input::placeholder {
    font-size: 18px;
    color: rgba(16, 31, 38, 0.5);
}

select::-ms-expand {
    display: none;
}

.price {
    font-size: 0;
    text-align: center;
}

.price__title {
    text-align: left;
    font-size: 18px;
    display: inline-block;
    width: 50%;
    vertical-align: middle;
    padding: 15px 20px;
}

.price__value {
    font-size: 35px;
    text-align: center;
    display: inline-block;
    width: 50%;
    vertical-align: middle;
    font-family: 'Playfair Display', serif;
}
.price__old {
    font-size: 30px;
    text-decoration: line-through;
}

form .button__wrap {
    padding: 20px 0;
    text-align: center;
}

form button {
    width: 100%;
    background: -webkit-gradient(linear, left top, left bottom, from(#FFFFFF), to(rgba(255, 255, 255, 0.9))), #353D5E;
    background: -webkit-linear-gradient(top, #FFFFFF 0%, rgba(255, 255, 255, 0.9) 100%), #353D5E;
    background: -o-linear-gradient(top, #FFFFFF 0%, rgba(255, 255, 255, 0.9) 100%), #353D5E;
    background: linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0.9) 100%), #353D5E;
    -webkit-box-shadow: 0 15px 15px rgba(53, 61, 94, 0.25);
    box-shadow: 0 15px 15px rgba(53, 61, 94, 0.25);
}

/*===================ON SCROLL ANIMATION===================*/
[data-unshow] {
    -webkit-transform: translate(0, -50px) scale(0.9);
    -ms-transform: translate(0, -50px) scale(0.9);
    transform: translate(0, -50px) scale(0.9);
    opacity: 0;
    -webkit-transition: opacity .5s .2s, -webkit-transform .7s .2s;
    transition: opacity .5s .2s, -webkit-transform .7s .2s;
    -o-transition: transform .7s .2s, opacity .5s .2s;
    transition: transform .7s .2s, opacity .5s .2s;
    transition: transform .7s .2s, opacity .5s .2s, -webkit-transform .7s .2s;
}

[data-horizontal="1"] {
    -webkit-transform: translate(50px, 0);
    -ms-transform: translate(50px, 0);
    transform: translate(50px, 0);
}

[data-horizontal="2"] {
    -webkit-transform: translate(-50px, 0);
    -ms-transform: translate(-50px, 0);
    transform: translate(-50px, 0);
}

[data-horizontal] {
    -webkit-transition: opacity .7s .2s, -webkit-transform .9s .2s;
    /*transition: opacity .7s .2s, -webkit-transform .9s .2s;*/
    -o-transition: transform .9s .2s, opacity .7s .2s;
    transition: transform .9s .2s, opacity .7s .2s;
    /*transition: transform .9s .2s, opacity .7s .2s, -webkit-transform .9s .2s;*/
}

[data-unshow].show {
    -webkit-transform: translate(0) scale(1);
    -ms-transform: translate(0) scale(1);
    transform: translate(0) scale(1);
    opacity: 1;
}

[data-unshow="1"] {
    -webkit-transition-delay: .1s;
    -o-transition-delay: .1s;
    transition-delay: .1s;
}

[data-unshow="2"] {
    -webkit-transition-delay: .2s;
    -o-transition-delay: .2s;
    transition-delay: .2s;
}

[data-unshow="3"] {
    -webkit-transition-delay: .3s;
    -o-transition-delay: .3s;
    transition-delay: .3s;
}

[data-unshow="4"] {
    -webkit-transition-delay: .4s;
    -o-transition-delay: .4s;
    transition-delay: .4s;
}

[data-unshow="5"] {
    -webkit-transition-delay: .5s;
    -o-transition-delay: .5s;
    transition-delay: .5s;
}

/*====================REVIEWS_SLIDER_CONTROL================/* */
.slick-arrow {
    position: absolute;
    font-size: 0;
    background: none;
    border: none;
    -webkit-border-radius: 0;
    border-radius: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    padding: 0;
    width: 30px;
    height: 20px;
    bottom: 0;
    z-index: 5;
    cursor: pointer;
}

.slick-arrow:hover {
    transform: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

.slick-arrow:before {
    content: '';
    width: 100%;
    height: 2px;
    background: #000;
    position: absolute;
    top: 50%;
    left: 0;
    margin-top: -1px;
}

.slick-arrow:after {
    content: '';
    width: 10px;
    height: 10px;
    border: 2px solid transparent;
    border-top-color: #000;
    border-right-color: #000;
    position: absolute;
    top: 50%;
    margin-top: -5px;
}

.slick-prev:after {
    left: 0;
    -webkit-transform: rotate(-135deg);
    -ms-transform: rotate(-135deg);
    transform: rotate(-135deg);
}

.slick-next:after {
    right: 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.slick-prev {
    right: 50%;
    margin-right: 10px;
}

.slick-next {
    left: 50%;
    margin-left: 10px;
}

/*====================REVIEWS_SLIDER_CONTROL================*/

/*.normalScroll, .normalScroll .fp-tableCell {*/
/*height: 100% !important;*/
/*display: block !important;*/
/*}*/