@media (max-width: 1620px) {
    .container {
        width: 1440px;
        padding: 0 20px;
    }

    .present__title {
        letter-spacing: 0;
        font-size: 380px;
    }

    .product img {
        margin-right: -90px;
    }

    .composition__item {
        padding-bottom: 50px;
    }

    .composition__item_01, .composition__item_02 {
        width: 45%;
    }

    .composition__item_03, .composition__item_04 {
        width: 35%;
    }

    .composition__item_05, .composition__item_06 {
        width: 39%;
    }

    .use {
        padding: 0 0 70px;
    }

    .use:after {
        width: 640px;
        height: 585px;
        margin: -130px 0 0;
    }

    .use__list {
        width: 75%;
    }

    .use__item {
        font-size: 21px;
    }

    .use__item:before {
        font-size: 130px;
    }

    .use__subtext {
        width: 340px;
    }

    .reviews__item {
        max-width: 440px;
    }
}

@media (max-width: 1439px) {
    .container {
        width: 1024px;
    }

    .present__title {
        font-size: 265px;
        line-height: .8;
    }

    .present__mark {
        top: 0;
        margin: -85px 40px 0 0;
        width: 190px;
        min-height: 190px;
        font-size: 50px;
    }

    .title {
        font-size: 150px;
    }

    .subtitle {
        font-size: 50px;
    }

    .present__product img {
        width: 340px;
        -webkit-transform: rotate(-20deg) translate(-25%, -30%);
        -ms-transform: rotate(-20deg) translate(-25%, -30%);
        transform: rotate(-20deg) translate(-25%, -30%);
    }

    .present__text {
        padding: 20px 0 0;
    }

    .present__list {
        text-align: center;
    }

    .present__item {
        padding: 15px 0;
    }

    .present__icon {
        position: relative;
        margin: 0 auto 10px;
        display: block;
    }

    .present .subtitle {
        padding-bottom: 40px;
    }

    .advantages__wrap {
        width: 70%;
        padding-right: 65px;
    }

    .advantages__text {
        padding: 30px 0;
        font-size: 21px;
    }

    .advantages_mod-01 .title, .advantages_mod-01 .subtitle {
        width: 65%;
    }

    .advantages__wrap_on-left {
        width: 65%;
    }

    .advantages__decore_on-right {
        width: 42%;
    }

    .advantages__decore_mod {
        z-index: 0;
        width: 75%;
    }

    .composition {
        padding: 100px 0 20px;
    }

    .composition__subtitle {
        width: 65%;
    }

    .composition__wrap {
        padding: 25px 0;
    }

    .composition__wrap {
        font-size: 0;
        text-align: center;
    }

    .composition__photo {
        display: none;
    }

    .composition__item {
        width: 50%;
        min-height: initial;
        vertical-align: text-top;
        padding: 30px;
        text-align: center;
    }

    .composition__pict {
        display: block;
        position: relative;
        margin: 0 auto 15px;
    }

    .composition__item_center .composition__pict {
        margin-top: 0;
    }

    .use:after {
        width: 440px;
        height: 410px;
        margin-top: -65px;
    }

    .use__list {
        width: auto;
    }

    .use__item {
        width: 50%;
        font-size: 18px;
    }

    .use__item:before {
        font-size: 120px;
    }

    .use__subtext {
        display: block;
        width: auto;
        text-align: center;
        padding: 15px 25px;
    }

    .opinion__wrap {
        width: 65%;
        min-height: 720px;
        padding: 50px 35px 50px 10px;
    }

    .opinion__wrap:before {
        width: 510px;
        height: 780px;
        margin-right: -40px;
    }

    .opinion__subtitle {
        padding: 25px 0 20px;
        font-size: 21px;
    }

    .opinion__text {
        padding: 0 0 15px;
    }

    .reviews__item {
        max-width: 320px;
        padding: 20px;
    }

    .reviews__name {
        padding: 15px 0 10px;
    }

    .reviews__text {
        line-height: 1.43;
    }

    .instructions__wrap {
        padding: 45px 0 0;
    }

    .instructions__item {
        padding: 0 25px 0 120px;
        font-size: 16px;
    }

    .order__product {
        width: 70%;
    }

    .order__item {
        display: block;
        width: 100%;
    }

    .order__list {
        max-width: 430px;
        font-size: 0;
        text-align: center;
    }

    .order__point {
        display: inline-block;
        vertical-align: text-top;
        width: 50%;
        font-size: 16px;
        padding: 15px;
    }

    .order__pict {
        display: block;
        position: relative;
        margin: 0 auto 15px;
    }

    .form__wrap {
        margin: 50px auto 0;
    }
}

@media (max-width: 1023px) {
    body {
        font-size: 15px;
    }

    .container {
        width: 768px;
    }

    .present__cursor {
        display: none;
    }

    .title {
        padding: 0;
    }

    .present__title {
        font-size: 190px;
    }

    .present__product img {
        width: 200px;
        -webkit-transform: rotate(-20deg) translate(-25%, -40%);
        -ms-transform: rotate(-20deg) translate(-25%, -40%);
        transform: rotate(-20deg) translate(-25%, -40%);
    }

    .present__wrap, .present__cell {
        display: block;
    }

    .present .subtitle {
        font-size: 40px;
        padding: 20px 0;
    }

    .present__item {
        width: 33%;
    }

    .advantages {
        padding: 0 0 50px;
    }

    .advantages:before, .product:not(.product_third-pack) {
        display: none;
    }

    .product_third-pack {
        width: 70%;
    }

    .product_third-pack img {
        width: 200px;
        margin-top: -110px;
    }

    .product_add-pack:after, .product_third-pack:before {
        width: 200px;
        margin-top: -180px;
    }

    .advantages__decore {
        width: 100%;
        max-width: 520px;
        margin: 0 auto -30px;
        height: 400px;
        position: static;
    }

    .advantages__decore:before {
        width: 100%;
        background: url("advantages_bg_01.png") center top no-repeat;
        -webkit-background-size: contain;
        background-size: contain;
        /* min-width: auto; */
        /* max-width: none; */
    }

    .advantages__decore_on-right:before {
        background: url("advantages_bg_02.png") center top no-repeat;
        -webkit-background-size: contain;
        background-size: contain;
    }

    .advantages__decore_mod:before {
        background: url("advantages_bg_03.png") center top no-repeat;
        -webkit-background-size: contain;
        background-size: contain;
    }

    .advantages__decore:after {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        -webkit-box-shadow: inset 125px -190px 90px -70px #E8DDDC, inset -190px 0 80px -80px #E8DDDC;
        box-shadow: inset 125px -190px 90px -70px #E8DDDC, inset -190px 0 80px -80px #E8DDDC;
    }

    .advantages__decore_on-right:after {
        -webkit-box-shadow: inset 0 -300px 180px -70px #D7D8DF;
        box-shadow: inset 0 -300px 180px -70px #D7D8DF;
    }

    .advantages__decore_mod:after {
        -webkit-box-shadow: inset 0 -300px 180px -70px #DCE8E6;
        box-shadow: inset 0 -300px 180px -70px #DCE8E6;
    }

    .advantages__wrap {
        width: auto;
        padding: 0;
    }

    .button__wrap_mod {
        padding: 0;
    }

    .advantages_mod-01 .title, .advantages_mod-01 .subtitle {
        width: auto;
    }

    .use:after {
        width: 340px;
        height: 320px;
    }

    .composition {
        padding: 50px 0 20px;
    }

    .composition__subtitle {
        font-size: 18px;
    }

    .composition__item {
        font-size: 15px;
    }

    .composition__pict {
        width: 100px;
        height: 100px;
    }

    .composition__pict:before {
        width: 64px;
        height: 64px;
        margin: -32px 0 0 -32px;
    }

    .composition__name {
        font-size: 18px;
    }

    .use {
        padding: 0 0 80px;
    }

    .use .title {
        font-size: 110px;
    }

    .use__text {
        padding: 20px 0 10px;
        font-size: 21px;
    }

    .use__item {
        padding: 15px 50px 15px 75px;
        font-size: 16px;
    }

    .use__item:before {
        font-size: 80px;
        margin-top: -10px;
    }

    .use__subtext {
        margin: 20px 0 0;
    }

    .opinion {
        background: none;
    }

    .opinion:before {
        display: none;
    }

    .opinion__wrap {
        min-height: initial;
        width: auto;
        padding: 0;
    }

    .opinion__wrap:before {
        position: static;
        display: block;
        width: 100%;
        max-height: 520px;
        max-width: 340px;
        margin: -50px auto -30px;
        -webkit-box-shadow: inset 0 -180px 70px -100px #fff;
        box-shadow: inset 0 -180px 70px -100px #fff;
    }

    .reviews {
        padding: 80px 0 20px;
    }

    .reviews__wrap {
        display: block;
        padding: 30px 0;
    }

    .reviews__cell {
        display: block;
    }

    .instructions__wrap, .instructions__cell {
        display: block;
        max-width: 320px;
        margin: 0 auto;
        padding: 20px 0;
    }

    .instructions__item {
        min-height: 65px;
    }

    .order {
        background: rgba(16, 31, 38, 0.1);
    }

    .order:before {
        content: '';
        background: url("order_bg.jpg") center top no-repeat;
        -webkit-background-size: 600px;
        background-size: 600px;
        width: 100%;
        max-width: 600px;
        height: 280px;
        display: block;
        margin: 0 auto -45px;
        -webkit-box-shadow: inset -100px -100px 35px -45px #e7e8e9, inset 150px 0 100px -45px #e7e8e9;
        box-shadow: inset -100px -100px 35px -45px #e7e8e9, inset 150px 0 100px -45px #e7e8e9;
    }

    .order .subtitle {
        width: auto;
    }

    .order__list {
        margin: 0 auto 30px;
    }

    .order__product {
        width: auto;
        max-width: 320px;
        margin: 0 auto;
    }

    .order__product:before {
        margin: 0 10px 50px 0;
        width: 70px;
        height: 90px;
        right: 50%;
    }

    .order__product:after {
        margin: 0 35px 35px 0;
        width: 70px;
        height: 90px;
        right: 50%;
    }

    .order__product img {
        right: 50%;
        width: 100px;
        margin: 0 5px 20px 0;
    }

    .order__product .order__photo {
        position: relative;
        left: auto;
        right: 50px;
        display: block;
        margin: 0 0 0 auto;
        width: 220px;
        height: auto;
    }

    .form__wrap {
        margin-top: 20px;
    }

    .button__wrap {
        text-align: center;
    }
}

@media (max-width: 767px) {
    .container {
        width: auto;
        max-width: 425px;
    }

    .logo {
        min-height: 50px;
        padding: 0 0 10px;
    }

    .logo:before {
        width: 110px;
        height: 50px;
    }

    .present__title {
        font-size: 68px;
        letter-spacing: 4px;
    }

    .present__product img {
        width: 200px;
        -webkit-transform: rotate(-20deg) translate(-30%, -25%);
        -ms-transform: rotate(-20deg) translate(-30%, -25%);
        transform: rotate(-20deg) translate(-30%, -25%);
    }

    .present__mark {
        font-size: 25px;
        width: 70px;
        min-height: 70px;
        padding: 0 0 7px;
        margin: -25px 5px 0 0;
    }

    .present .subtitle {
        font-size: 25px;
        padding: 70px 0 0;
    }

    .present__item {
        width: 50%;
        font-size: 12px;
    }

    .advantages {
        overflow: hidden;
    }

    .advantages__decore {
        height: 320px;
        width: 380px;
    }

    .advantages__decore:before {
        -webkit-background-size: 380px;
        background-size: 380px;
    }

    .advantages__decore:after {
        -webkit-box-shadow: inset 0 -170px 70px -70px #E8DDDC, inset -100px 0 40px -35px #E8DDDC;
        box-shadow: inset 0 -170px 70px -70px #E8DDDC, inset -100px 0 40px -35px #E8DDDC;
        background: rgba(232, 221, 220, 0.3);
    }

    .advantages__decore_on-right:before {
        -webkit-background-size: contain;
        background-size: contain;
    }

    .advantages__decore_on-right:after {
        -webkit-box-shadow: inset 0 -170px 70px -70px #D7D8DF;
        box-shadow: inset 0 -170px 70px -70px #D7D8DF;
        background: rgba(215, 216, 223, 0.3);
    }

    .advantages__decore_mod:after {
        -webkit-box-shadow: inset 0 -170px 90px -70px #DCE8E6;
        box-shadow: inset 0 -170px 90px -70px #DCE8E6;
        background: rgba(220, 232, 230, 0.3);
    }

    [data-horizontal="1"], [data-horizontal="2"] {
        -webkit-transform: translate(0, -50px);
        -ms-transform: translate(0, -50px);
        transform: translate(0, -50px);
    }

    .title {
        font-size: 50px;
    }

    .subtitle {
        font-size: 30px;
    }

    .advantages_mod-02 {
        overflow: visible;
    }

    .advantages__text {
        font-size: 16px;
        padding: 20px 0;
    }

    .advantages__item {
        display: block;
        width: auto;
        font-size: 15px;
    }

    .advantages__item:before {
        margin: 0;
    }

    .advantages__item:after {
        margin-top: 10px;
    }

    button {
        padding: 20px;
        font-size: 15px;
    }

    .product_third-pack {
        width: 150px;
        margin: 0 auto;
    }

    .product_third-pack img {
        width: 120px;
        position: static;
        margin: 40px auto -140px;
    }

    .product_add-pack:after {
        width: 120px;
        height: 150px;
        left: 0;
        margin: 0 0 0 40px;
    }

    .product_third-pack:before {
        width: 120px;
        height: 150px;
        left: 0;
        margin: 0 0 0 -10px;
    }

    .composition__subtitle {
        font-size: 16px;
        width: auto;
        padding: 10px 0 0;
    }

    .composition__subtitle:before, .composition__subtitle:after {
        display: none;
    }

    .composition__item {
        width: auto;
        display: block;
    }

    .use {
        padding: 160px 0 70px;
    }

    .use .title {
        font-size: 50px;
    }

    .use:after {
        width: 310px;
        height: 290px;
    }

    .use__text {
        font-size: 16px;
    }

    .use__item {
        width: auto;
        display: block;
        padding: 15px 30px;
        text-align: center;
    }

    .use__item:before {
        position: static;
        display: block;
        margin: 0 auto;
    }

    .opinion .subtitle {
        text-align: center;
    }

    .opinion__wrap:before {
        margin-top: -80px;
    }

    .opinion__subtitle {
        font-size: 16px;
    }

    .reviews {
        padding: 35px 0 20px;
    }

    .instructions {
        padding: 30px 0;
    }

    .instructions__cell {
        padding: 0;
    }

    .instructions__item {
        padding: 15px 30px;
        text-align: center;
    }

    .instructions__item span {
        display: block;
        padding-top: 15px;
    }

    .instructions__item:before {
        position: static;
        display: block;
        margin: 0 auto;
    }

    .order {
        padding: 0;
    }

    .order:before {
        -webkit-box-shadow: inset 100px -100px 40px -45px #e7e8e9, inset -100px 0 40px -45px #e7e8e9;
        box-shadow: inset 100px -100px 40px -45px #e7e8e9, inset -100px 0 40px -45px #e7e8e9;
        opacity: .8;
    }

    .order__text {
        font-size: 16px;
        padding: 20px 0;
    }

    .form__wrap {
        width: 280px;
        padding: 20px 0;
        margin-top: 40px;
        -webkit-box-shadow: 0 0 0 20px #fff;
        box-shadow: 0 0 0 20px #fff;
    }
}

@media (max-width: 424px) {
    .advantages__decore_01:after {
        -webkit-box-shadow: inset 0 -170px 70px -70px #E8DDDC, inset -100px 0 40px -35px #E8DDDC;
        box-shadow: inset 0 -170px 70px -70px #E8DDDC, inset -100px 0 40px -35px #E8DDDC;
    }

    .use:after {
        width: 260px;
        height: 240px;
    }

    .order:before {
        -webkit-box-shadow: inset 0 -100px 40px -45px #e7e8e9;
        box-shadow: inset 0 -100px 40px -45px #e7e8e9;
    }

    .order__product img {
        margin: 0 25px 20px 0;
    }

    .order__product:after {
        margin: 0 60px 35px 0;
    }

    .order__product:before {
        margin: 0 15px 45px 0;
    }
}

@media (max-width: 374px) {
    .advantages__decore {
        width: auto;
    }

    .advantages__decore_01:after {
        -webkit-box-shadow: inset 0 -170px 70px -70px #E8DDDC;
        box-shadow: inset 0 -170px 70px -70px #E8DDDC;
    }
}