/*reset*/
 body, h1, h2, h3, h4, h5, p, ul {
	padding: 0;
	margin: 0;
}

ol, ul {
	list-style-type: none;
}

* {
	box-sizing: border-box;
}

img {
	max-width: 100%;
}

body {
	font-size: 16px;
	line-height: 1.3;
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
}

.wrapper {
	overflow: hidden;
}

.container {
	margin-right: auto;
  margin-left: auto;
	position: relative;
	width: 290px;
	padding: 20px 0;
}

.health {
	padding: 20px 0;
	background: url(health-bg.jpg) center top no-repeat;
	-webkit-background-size: cover;
	background-size: cover;
}

.health > .container {
	padding: 0;
}


.health__title {
	color: #fff;
	font-size: 30px;
	padding: 20px 20px 10px;
	margin-left: -15px;
	background: url(health-leaves.png) left 10px no-repeat;
    max-width: 195px;
    margin: auto;
}

.painless__line {
	background: #d4f71e;
}

.painless__line .container {
	padding: 5px 0;
}

.painless__title {
	font-size: 22px;
	color: #264f96;
	line-height: 1.4;
	font-weight: 700;
}

.painless__item {
	text-transform: uppercase;
}

.health__product .container {
	padding-top: 10px;
}

.deliverance__title {
	position: relative;
	z-index: 2;
	text-align: right;
	font-size: 18px;
	padding-left: 180px;
	font-weight: 700;
	color: #fff;
}

.product__wrapper {
	position: relative;
	z-index: 1;
	margin-top: -5px;
	text-align: center;
}

.sale {
	position: absolute;
	width: 100px;
	height: 100px;
}

.sale_health {
	right: 5%;
	bottom: 70%;
}

.sale__text {
	position: absolute;
	top: 50%;
	left: 0;
	right: 0;
	margin-top: -16px;
	color: #fff;
	font-size: 26px;
	font-weight: 700;
	text-align: center;
	text-shadow: 1px 1px 1px #000;
}

.health-price {
	text-align: center;
}

.old__price {
	font-size: 24px;
	color: rgba(255, 255, 255, .8);
	font-weight: 700;
	text-shadow: 1px 1px 1px #000;
}

.new__price {
	font-size: 44px;
	color: #e4ff00;
	font-weight: 700;
	text-shadow: 1px 1px 1px #000;
}

.button {
	outline: none;
	border: none;
	display: inline-block;
	color: #fff;
	font-size: 24px;
	padding: 20px 40px;
	border-radius: 5px;
	cursor: pointer;
	-webkit-box-shadow: 0 3px 5px 0 rgba(0, 0, 0, .6);
	box-shadow: 0 3px 5px 0 rgba(0, 0, 0, .6);
	background: #d93636;
background: -moz-linear-gradient(top, #d93636 0%, #a30000 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, #d93636), color-stop(100%, #a30000));
background: -webkit-linear-gradient(top, #d93636 0%, #a30000 100%);
background: -o-linear-gradient(top, #d93636 0%, #a30000 100%);
background: -ms-linear-gradient(top, #d93636 0%, #a30000 100%);
background: linear-gradient(to bottom, #d93636 0%, #a30000 100%);
}

.button_health {
	margin-top: 20px;
}

/*danger*/

.effect{

}

.effect__list {
	position: relative;
	display: table;
	width: 100%;
	height: 60px;
	min-height: 60px;
	margin: 15px 0;
	padding-left: 70px;
}

.effect__wrap {
	display: table-cell;
	vertical-align: middle;
	color: #596115;
	font-size: 16px;
}

.effect__list:before {
	content: '';
	position: absolute;
	left: 0;
	top: 50%;
	margin-top: -29.5px;
	width: 55px;
	height: 55px;
	border: 2px solid #8baa38;
	border-radius: 50%;
}

.effect__list_img1:before {
	background: url(effect-img1.jpg) center no-repeat;
}

.effect__list_img2:before {
	background: url(effect-img2.jpg) center no-repeat;
}

.effect__list_img3:before {
	background: url(effect-img3.jpg) center no-repeat;
}

.effect__list_img4:before {
	background: url(effect-img4.jpg) center no-repeat;
}

.effect__item {
	color: #596115;
	font-weight: 700;
}

.danger__title {
	font-size: 22px;
	font-weight: 300;
	text-align: center;
	color: #ff0b00;
	margin: 30px 0;
}

.danger__item {
	text-transform: uppercase;
	font-weight: 700;
}


.why__item {
	position: relative;
	display: table;
	padding-left: 85px;
	font-size: 16px;
	height: 72px;
	min-height: 72px;
	margin: 15px 0;
}

.why__wrap {
	display: table-cell;
	vertical-align: middle;
}

.why__item:before {
	content: '';
	position: absolute;
	top: 50%;
	margin-top: -36px;
	left: 0;
	width: 68px;
	height: 68px;
	border: 2px solid #f24841;
	border-radius: 50%;
}

.why__item_img1:before {
	background: url(why-img1.jpg) center no-repeat;
}

.why__item_img2:before {
	background: url(why-img2.jpg) center no-repeat;
}

.why__item_img3:before {
	background: url(why-img3.jpg) center no-repeat;
}

/*safe*/

.safe {
	background: #2e68d9;
}

.safe__title {
	position: relative;
	font-size: 22px;
	padding: 20px 0;
	color: #fff;
}

.safe__title:before {
	content: '';
	position: absolute;
	width: 100px;
	height: 4px;
	background: #fff;
	bottom: 0;
}

.safe__item {
	font-weight: 300;
}

.safe__text {
	font-size: 18px;
	color: #fff;
	line-height: 1.5;
}

.safe__text_margin {
	margin-top: 20px;
}

/*formula*/

.description__title {
	font-size: 26px;
	color: #292929;
	margin: 20px 0;
}

.description__item {
	font-weight: 300;
}

.description__text {
	font-size: 18px;
	color: #292929;
}

.description__text__item {
	color: #045b93;
	font-weight: 700;
}

.formula__product {
	position: relative;
	margin-top: 20px;
}

.formula__product:before,
.formula__product:after {
	content: '';
	position: absolute;
}

.formula__product:before {
	width: 130px;
	height: 123px;
	background: url(plant.png) center no-repeat;
	right: 70px;
	top: 40px;
}

.formula__product:after {
	z-index: 3;
	width: 90px;
	height: 90px;
	border-radius: 50%;
	border: 3px solid #457cce;
	background: url(formula-element.jpg);
	bottom: 0;
	right: 60px;
}

.formula__img {
	position: relative;
	z-index: 2;
	width: 160px;
}

/*main-consist*/

.main-consist {
	background: #2e68d9;
}

.consist__item {
	margin: 20px 0;
}

.consist__item:last-child {
	margin-bottom: 0;
}

.consist__wrap {
	display: table;
	vertical-align: middle;
	width: 100%;
	height: 80px;
	min-height: 80px;
}

.consist__title {
	position: relative;
	display: table-cell;
	vertical-align: middle;
	padding: 0 30px 0 90px;
	font-size: 18px;
	color: #fff;
	font-weight: 700;
	text-shadow: 1px 1px 1px #000;
}

.consist__title:before {
	content: '';
	position: absolute;
	width: 76px;
	height: 76px;
	left: 0;
	top: 50%;
	border: 2px solid #a3ce28;
	border-radius: 50%;
	margin-top: -40px;
}

.consist__title_img1:before {
	background: url(consist-img1.jpg) center no-repeat;
}

.consist__title_img2:before {
	background: url(consist-img2.jpg) center no-repeat;
}

.consist__title_img3:before {
	background: url(consist-img3.jpg) center no-repeat;
}

.consist__text {
	margin-top: 15px;
	color: #fff;
	line-height: 1.4;
	text-shadow: 1px 1px 1px #000;
}

/*advice*/

.advice__product {
	position: relative;
	text-align: center;
}

.advice__product:before {
	content: '';
	position: absolute;
	width: 91px;
	height: 96px;
	right: 20px;
	bottom: 60px;
	background: url(advice-decor.png) center no-repeat;
}

.advice__img {
	position: relative;
	z-index: 2;
	width: 180px;
}

.advice__title {
	text-align: center;
	font-size: 24px;
}

.advice__item {
	font-weight: 300;
}

.button_advice {
	display: block;
	margin: 30px auto 10px;
}

/*reviews*/

.reviews {
	background: #2e68d9;
}

.reviews__title {
	text-align: center;
	color: #fff;
	font-size: 24px;
	margin-bottom: 30px;
	text-shadow: 1px 1px 1px #000;
}

.reviews-slider {
	color: #fff;
}

.user__name {
	font-size: 18px;
	font-weight: 700;
	margin-bottom: 10px;
}

.user__text {
	font-size: 18px;
	line-height: 1.5;
}

.user__result {
	display: table;
	table-layout: fixed;
	text-align: center;
	width: 290px;
	height: 180px;
	margin-top: 20px;
		-webkit-box-shadow: 0 5px 10px 0 rgba(0, 0, 0, .55);
	box-shadow: 0 5px 10px 0 rgba(0, 0, 0, .55);
}

.user__result_img1 {
	background: url(result-img1.jpg) center no-repeat;
}

.user__result_img2 {
	background: url(result-img2.jpg) center no-repeat;
}

.user__result_img3 {
	background: url(result-img3.jpg) center no-repeat;
}

.user__result__bef,
.user__result__aft {
	position: relative;
	display: table-cell;
	vertical-align: top;
	padding: 3px;
}

.user__result__text {
	position: absolute;
	padding: 5px 20px;
	left: 3px;
	max-width: 85%;
	bottom: 3px;
	color: #fff;
	font-weight: 700;
	background: #e31120;
	text-shadow: 1px 1px 1px #000;
}

.user__result__text_color {
	background: #1e900f;
}

/*med-notice*/

.specialist {
	position: relative;
	padding-left: 90px;
	margin-top: 20px;
}

.specialist:before {
	content: '';
	position: absolute;
	width: 70px;
	height: 70px;
	left: 0;
	top: 0px;
	border: 2px solid #5c90be;
	border-radius: 50%;
	background: url(specialist-img.jpg) center no-repeat;
}

.specialist__name {
	font-size: 18px;
	font-weight: 700;
	font-style: italic;
	color: #292929;
	margin-bottom: 10px;
}

.specialist__prof {
	font-size: 14px;
	font-style: italic;
	color: #757575;
}

.specialist__text {
	margin-top: 30px;
	margin-left: -90px;
	line-height: 1.5;
}

/*beauty*/

.beauty {
background: #2e68d9;
}

.beauty__title {
	margin-top: 20px;
	font-size: 30px;
	color: #fff;
	text-align: center;
	line-height: 1.2;
}

.beauty__title__item {
	font-weight: 300;
}

.beauty__product {
	position: relative;
	margin-top: 30px;
	text-align: center;
}

.beauty__product:before {
	content: '';
	position: absolute;
	width: 92px;
	height: 106px;
	right: 10px;
	top: 40%;
	background: url(beauty-leaves.png) center no-repeat;
}

.beauty__img {
	position: relative;
	z-index: 1;
	width: 180px;
}

.sale_beauty {
	z-index: 2;
	top: -10%;
    left: 5%;
}

.beaty-timer {
	padding: 10px 0;
	font-size: 34px;
	font-weight: 700;
	color: #cef81d;
	text-align: center;
	text-shadow: 1px 1px 1px #000;
	background: rgba(255,255,255,0);
background: -moz-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,0.3) 30%, rgba(255,255,255,0.3) 70%, rgba(255,255,255,0) 100%);
background: -webkit-gradient(left top, right top, color-stop(0%, rgba(255,255,255,0)), color-stop(30%, rgba(255,255,255,0.3)), color-stop(70%, rgba(255,255,255,0.3)), color-stop(100%, rgba(255,255,255,0)));
background: -webkit-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,0.3) 30%, rgba(255,255,255,0.3) 70%, rgba(255,255,255,0) 100%);
background: -o-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,0.3) 30%, rgba(255,255,255,0.3) 70%, rgba(255,255,255,0) 100%);
background: -ms-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,0.3) 30%, rgba(255,255,255,0.3) 70%, rgba(255,255,255,0) 100%);
background: linear-gradient(to right, rgba(255,255,255,0) 0%, rgba(255,255,255,0.3) 30%, rgba(255,255,255,0.3) 70%, rgba(255,255,255,0) 100%);
}

.timer__title {
	text-align: center;
	font-size: 22px;
	margin-bottom: 5px;
}

/*order*/

.order__form {
	padding: 15px;
	position: relative;
	background: #fff;
	-webkit-box-shadow: 0 3px 18px rgba(0, 0, 0, .5);
	box-shadow: 0 3px 18px rgba(0, 0, 0, .5);
}

.order__form__title {
	font-size: 24px;
	font-weight: 700;
	margin-top: 20px;
	color: #3257a0;
	text-align: center;
}

.form__price {
	text-align: center;
	padding: 10px;
	margin: 25px -15px;
background: #c1eb38;
background: -moz-linear-gradient(top, #c1eb38 0%, #b7e12f 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, #c1eb38), color-stop(100%, #b7e12f));
background: -webkit-linear-gradient(top, #c1eb38 0%, #b7e12f 100%);
background: -o-linear-gradient(top, #c1eb38 0%, #b7e12f 100%);
background: -ms-linear-gradient(top, #c1eb38 0%, #b7e12f 100%);
background: linear-gradient(to bottom, #c1eb38 0%, #b7e12f 100%);
}

.form__old-price,
.form__new-price {
	font-size: 18px;
	color: #264f96;
	font-weight: 700;
}

.form__old-price {
	color: rgba(38, 79, 150, .5);
}

.form__new-price{
	font-size: 50px;
}

.order__field {
	display: block;
	margin: 15px auto;
	width: 95%;
	height: 40px;
	padding: 0 15px;
	border: 1px solid #ccc;
}

.order__select {
	-webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
	background: url(select-arrow.png) #fff 95% center no-repeat !important;
}

.form__button {
	display: block;
	width: 95%;
	margin: 25px auto 0;
	font-size: 20px;
}
