html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline;}
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section{display:block;}
body{line-height:1;}
ol, ul{list-style:none;}
blockquote, q{quotes:none;}
blockquote:before, blockquote:after,
q:before, q:after{content:'';content:none;}
table{border-collapse:collapse;border-spacing:0;}
.clrfx:after{clear:both;content:"";display:table;}
*{box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;}
a:focus{outline:none;}
*:focus{outline-style:none;outline-width:0px !important;outline-color:none !important;}
select, input, button{font-family:'Open Sans', sans-serif;-webkit-appearance:none;-moz-appearance:none;appearance:none;outline:none;}
article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary{display:block;}
h1, h2, h3, h4, h5, h6{text-transform:uppercase;font-weight:700;line-height:1em;}
h2, h3, h4, h5, h6{color:#291504;}
.btitle{text-align:center;font-size:36px;}
.btitle span{color:#42413d;text-shadow:0px 2px 1px black;}
b{font-weight:700;}
body{font-family:'Open Sans', sans-serif;font-weight:400;font-size:16px;line-height:30px;color:#222222;width:100%;background:#fff;}
.old-cost:before, .new-cost:before{display:block;position:absolute;font-size:14px;font-weight:700;color:#fff;text-transform:uppercase;top:-48px;left:42px;}
.old-cost:before{content:'Stara cena';}
.new-cost:before{content:'Nova cena';}
.old-cost, .new-cost{display:block;width:50%;line-height:60px;position:relative;}
.old-cost{float:left;color:#fff;font-size:30px;text-decoration:line-through;}
.new-cost{float:right;font-size:30px;color:#42413d;}
.old-cost small, .new-cost small{font-size:0.8em;}
.show-medium{display:none;}
.wrap{width:960px;height:100%;padding:0px 10px;margin:0 auto;position:relative;}
.wrap:after{clear:both;content:"";display:table;}
section{width:100%;max-width:1920px;margin:0 auto;position:relative;}
section:after{clear:both;content:"";display:table;}
.topline{background:rgba(0, 0, 0, 0.39);border-bottom:1px solid rgba(255,255,255,0.2);height:103px;z-index:2;margin-bottom:-103px;padding:0;}
/*.topline .wrap:before{content:'';display:block;width:147px;height:82px;background-size:cover;position:absolute;top:9px;left:30px;}
*/.topline ul{display:block;text-align:center;}
.topline ul li{display:inline-block;margin:36px 17px 0;}
.topline ul li a{text-decoration:none;color:#fff;text-transform:uppercase;font-weight:700;-webkit-transition:color 200ms ease-out;-moz-transition:color 200ms ease-out;-ms-transition:color 200ms ease-out;-o-transition:color 200ms ease-out;transition:color 200ms ease-out;}
.topline ul li a:hover{color:#42413d;}
.block1{background: #2a292959;background-image: url(bg1.jpeg);height:625px;color:#fff;z-index:1;padding:0;background-blend-mode: soft-light;}
.block1 .wrap{padding:155px 0 0 30px;}
.block1 h1{font-size:33px;}
.block1 h1 span{font-size:33px;font-weight:300;display:block;color: #fff;}
.sale{font-size:36px;line-height:72px;font-weight:700;color:#fff;letter-spacing:2px;text-transform:uppercase;display:block;}
.produkt{background:url(sd.png) no-repeat 0 0;width:351px;height:270px;position:absolute;border-radius: 20px;}
.block1 .produkt{top:200px;right:200px;}
.conversion{width:374px;margin-top:28px;}
.prices{width:100%;height:66px;border-radius:7px;-webkit-border-radius:7px;border:1px solid #42413d;text-align:center;background:#fff url(cost-bg.png) no-repeat -13px center;font-weight:700;margin-bottom:10px;position:relative;}
.prices:after,
.button:after{content:'';display:block;width:374px;height:25px;position:absolute;bottom:-26px;left:0;}
.button:after{bottom:-28px;}
.button{display:block;text-decoration:none;text-transform:uppercase;color:#fff;width:374px;height:69px;font-family:'Open Sans', sans-serif;text-align:center;font-weight:700;font-size:20px;letter-spacing:1px;text-shadow:0 1px 0 #193831;line-height:67px;border-radius:7px;-webkit-border-radius:7px;border:none;border-bottom:3px solid #555;cursor:pointer;position:relative;color:#fff;background-color:#5d66b1;background-image: -moz-linear-gradient(#bdd7fa, #5d66b1 50%, #514ca1 20%, #9ba6f3);background-image: -webkit-linear-gradient(#bdd7fa, #5d66b1 50%, #514ca1 20%, #9ba6f3);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#edad5a', endColorstr='#ca7630',GradientType=0);-webkit-transition:all 150ms ease-out;-moz-transition:all 150ms ease-out;-ms-transition:all 150ms ease-out;-o-transition:all 150ms ease-out;transition:all 150ms ease-out;z-index:2;margin: 0 auto;top: 70%;}
.button:hover{background-image: -moz-linear-gradient(#bad4f8, #b2b7da 50%, #8b90bb 50%, #8b90bb);background-image: -webkit-linear-gradient(#bad4f8, #b2b7da 50%, #8b90bb 50%, #8b90bb);background-image: -o-linear-gradient(#bad4f8, #b2b7da 50%, #8b90bb 50%, #3ed8f3);color:#fff;}
.action{color:rgba(255,255,255,0.5);font-size:14px;line-height:19px;font-weight:700;text-transform:uppercase;width:103px;position:absolute;bottom:63px;left:531px;}
.action span{padding-left:10px;}
.action:before{content:'';display:block;width:34px;height:30px;background:url(spr1-min.png) no-repeat right top;position:absolute;left:-36px;top:5px;}
.block2{background:url(pattern.png) repeat;padding: 50px 0;}
.block2 ul{text-align:center;}
.block2 ul li{display:block;float:left;width:415px;margin:0 0 32px 38px;text-align:left;border: 2px solid #514ca1;-webkit-border-radius:10px 10px 10px 10px;border-radius:10px 10px 10px 10px;padding:10px 0 28px 53px;position:relative;height:160px;}
.block2 ul li:nth-child(2), .block2 ul li:nth-child(4){margin:0 0 32px 72px;}
.block2 ul h3{font-size:18px;line-height:28px;}
.block2 ul li:nth-child(2):before{background-position:-72px 0;}
.block2 ul li:nth-child(3):before{background-position:-144px 0;}
.block2 ul li:nth-child(4):before{background-position:-216px 0;}
i.fas.fa-star{position: absolute;left: -30px;top: 29%;font-size: 54px;background: url(pattern.png) repeat;color: #514ca1;}
i.fas.fa-truck{position: absolute;left: -30px;top: 29%;font-size: 54px;background: url(pattern.png) repeat;color: #514ca1;}
i.far.fa-credit-card{position: absolute;left: -30px;top: 29%;font-size: 54px;background: url(pattern.png) repeat;color: #514ca1;}
i.fas.fa-shield-alt{position: absolute;left: -28px;top: 29%;font-size: 54px;background: url(pattern.png) repeat;color: #514ca1;}
.block3{background:#fff;height:620px;padding: 50px 0;}
.btitle:after{content:'';display:inline-block;background:url(spr4.png) no-repeat center -13px;height:26px;width:100%;margin:20px 0 25px;}
.gallery{background:#fff;width:462px;height:394px;border-radius:10px;-webkit-border-radius:10px;border:2px solid #514ca1;margin:0 auto;padding-top:7px;position:relative;z-index:2;}
.char{margin-top:-353px;position:relative;z-index:1;}
.char ul{display:block;width:241px;font-size:14px;line-height:21px;}
.char ul h3{position:relative;}
.char ul h3:before{content:'';display:block;width:6px;height:6px;background:#42413d;border-radius:100%;-webkit-border-radius:100%;background-clip:padding-box;border:2px solid rgba(0, 0, 0, 0);-webkit-box-shadow:0 0 0 1px #f0d2b5;box-shadow:0 0 0 1px #cac8cb;position:absolute;top:2px;left:-17px;}
.left-char{float:left;}
.right-char{float:right;}
.left-char li{padding-left:33px;}
.right-char li{padding-left:63px;}
.char ul li{display:block;}
.char ul li:nth-child(odd){background:#9a9bd9;border-radius:7px;-webkit-border-radius:7px;padding-top:10px;padding-bottom:7px;}
.char ul li:nth-child(even){padding-top:22px;padding-bottom:22px;}
.block4{height:640px;color:#fff;background: #2a292959;background-image: url(bg4.jpeg);background-blend-mode: soft-light;}
.block4 h2{color:#fff;padding-top: 20%;}
.block4 .btitle:after{background-position:center -39px;}
.block4 article{padding:12px 10px 0 10px;text-align:center;}
.block4 b{font-weight:700;}
.block4 span{color:#fff;text-shadow:1px 1px 1px #514ca1;}
.block4 p{padding-top:12px;}
.block4 .leftside{color: #fff;background: #353a45ab;width: 50%;height: 640px;display: inline-block;float: left;}
.block4 .rightside{width: 50%;height: 640px;display: inline-block;float: right;}
.block4 .produkt {bottom: 240px;left: 533px;}
.block5{background:url(pattern.png) repeat;padding:50px 0 20px!important;}
.block5 .button{margin:0 auto 20px;position:relative;top:-33px;}
.block5 .button::after{bottom:-27px;}
.block5 .btitle:after{height:34px;background-position:center -65px;}
.reviews{margin:10px 0 50px;}
.reviews li{padding:0 60px;text-align:left;}
.reviews li h3{line-height:30px;}
.reviews li h3 span{text-transform:lowercase;}
.reviews li:before{content:'';display:block;float:left;margin-right:30px;background:url(avs.png) no-repeat 0 0;width:205px;height:165px;}
.reviews li.r2:before{background-position:-205px 0;}
.reviews li.r3:before{background-position:-410px 0;}
.photo{position:relative;}
.photo li{display:block;position:relative;float:left;margin:0 39px 0 0;width:205px;height:163px;background:url(photo.jpg) no-repeat 0 -1px;border-radius:7px;-webkit-border-radius:7px;border:1px solid #d4ad87;}
.photo li:nth-child(2){background-position:-205px -1px;}
.photo li:nth-child(3){background-position:-410px -1px;}
.photo li:nth-child(4){margin:0;background-position:-615px -1px;}
.photo:before{content:'';display:block;width:90%;height:2px;background:#d4ad87;position:absolute;top:50%;left:50px;}
.as{margin:10px 0 30px;height: 240px;}
.as li{display:block;float:left;width:25%;text-align:center;line-height:24px;position:relative;}
.as li:nth-child(2):before{background-position:-159px 0;}
.as li:nth-child(3):before{background-position:-319px 0;}
.as li:nth-child(4):before{background-position:-478px 0;}
.as h3{font-size:18px;line-height:24px;padding:10px 34px;position: relative;top: 130	px;}
.as p{font-size:14px;line-height:24px;padding:0px 23px;position: relative;top: 130	px;}
.as li:after{content:'';display:block;width:25px;height:41px;background:url(arrows.png) no-repeat -25px 0;position:absolute;top:39px;right:-13px;opacity:0.5;}
.as li:last-child:after{display:none;}
.note{text-align:center;line-height:24px;padding:60px 0 50px;background:url(spr4.png) no-repeat center -99px;}
.block7{background: #2a292959;background-image: url(bg1.jpeg);background-blend-mode: soft-light;height:625px;border-bottom:1px solid #504d47;}
.block7 .wrap{padding:120px 0 0 30px;}
.fsale{font-size:42px;font-weight:700;text-transform:uppercase;letter-spacing:2px;color:#fff;padding:0 0 0 98px;}
.formbox{width:374px;padding:51px 0 0 0;margin-left: 60px;}
.formbox .prices{margin-bottom:20px;}
.formbox input{display:block;height:66px;width:100%;border:none;background:#fff;border-radius:7px;-webkit-border-radius:7px;font-size:16px;font-weight:700;color:#333;padding:0 30px;margin-bottom:20px;}
.block6{padding-top: 50px;}
.block6 i.fas.fa-truck {position:static;left: 55px;top: 23%;font-size: 99px;background: none;color: #514ca1;}
i.fas.fa-clipboard-list {left: 80px;top: 17%;font-size: 99px;color: #514ca1;}
i.fas.fa-clipboard-check {left: 80px;top: 17%;font-size: 99px;color: #514ca1;}
i.fas.fa-credit-card {left: 60px;top: 21%;font-size: 99px;color: #514ca1;}
.block7 .produkt{top:200px;right:120px;}
::-webkit-input-placeholder{color:#333;opacity:1;}
:-moz-placeholder{color:#333;opacity:1;}
::-moz-placeholder{color:#333;opacity:1;}
:-ms-input-placeholder{color:#333;opacity:1;}
:focus::-webkit-input-placeholder{opacity:0;}
:focus::-moz-placeholder{opacity:0;}
:focus:-moz-placeholder{opacity:0;}
:focus:-ms-input-placeholder{opacity:0;}
.block8{padding:40px 0;background:#232124;text-align:center;}
.block8 a{color:#fff;text-decoration:none;}
@media screen and (max-width:959px){.wrap{width:640px;}
    .btitle{font-size:30px;}
    .topline, .action:before, .show-large, .as li:nth-child(2):after, .block1 .action{display:none;}
    .block1{height:524px;}
    .produkt{width:376px;height:446px;background-size:contain;}
    .block1 .produkt{top:125px;right:0px;width: 340px;}
    .block1 .wrap{padding:68px 0 0 0;}
    .block1 h1{font-size:43px;}
    .block1 h1 span{font-size:28px;line-height:44px;}
    .sale{font-size:30px;line-height:36px;letter-spacing:3px;}
    .sale:before{content:'';display:block;width:316px;height:13px;background:url(spr4.png) no-repeat center top;margin-bottom:10px;}
    .formbox, .conversion, .button, .prices:after, .button:after{width:300px;}
    .conversion{margin-top:61px;}
    .prices{background-position:-43px center;}
    .old-cost{font-size:22px;}
    .new-cost{font-size:22px;}
    .old-cost, .new-cost{line-height:62px;}
    .old-cost::before, .new-cost::before{left:31px;}
    .button{letter-spacing:0;}
    .prices:after, .button:after{background:url(spr3.png) no-repeat center top;}
    .block2 ul li, .reviews li::before, .photo li{float:none;}
    .block2 ul li{width:90%;margin:0 0 30px 38px;}
    .block2 ul li:nth-child(2), .block2 ul li:nth-child(4){margin:0 0 30px 38px;}
    .block3{height:auto;padding-bottom:40px;}
    .char{margin-top:30px;}
    .gallery{width:100%;}
    .char ul{width:295px;}
    .block4{background: #353a45;height: 450px;}
    .block4 .leftside {width: 100%;height: 400px;}
    .block4 .rightside {display: none;}
    .block4 article{padding:10px 20px 0 20px;text-align: center;}
    .block4 h2{padding-top: 50px;}
    .block5{padding:0 0 30px;height: 665px;}
    .reviews li::before{margin:0 auto 20px;}
    .reviews li h3, .photo{text-align:center;}
    .photo li{display:inline-block;margin:0 10px 12px 10px;}
    .photo li:nth-child(4){margin:0 10px 12px 10px;}
    .photo::before{width:225px;height:179px;background:rgba(0,0,0,0);border:2px solid #d4ad87;top:80px;left:184px;}
    .as li{width:50%;margin-bottom:30px;}
    .as h3{padding:5px 72px 10px;}
    .as p{padding:0px 61px;}
    .block7{height:100%;padding-top:40px;}
    .block7 .produkt{top:110px;right: 4px;width: 240px;}
    .block7 .wrap, .action span, .fsale{padding:0;}
    .show-medium{display:inline-block;}
    .fsale{font-size:30px;color:#fff;}
    .block7 h2{display:block;color:#fff;font-size:35px;margin-bottom:10px;}
    .prev_block{display:block;margin-left:25%;}
    .reviews li p{text-align:center;}
    .img_n_a{max-width: 300px!important;margin-top: 0px!important;}
}
.note{display: none;}
@media screen and (max-width:639px){body{line-height:24px;}
    .prev_block{display:block;margin-left:3%;}
    .block1 .produkt{display: block;margin: 0 auto;width: 270px;height: 200px;}
    .produkt{background:url(sd-mobile.png) no-repeat 0 0;width:306px;height:446px;background-size:contain;}
    .block7 .produkt{    display: block;margin: 0 auto;width: 270px;height: 200px;}
    .wrap{width:320px;}
    .btitle{font-size:24px;line-height:32px;}
    .block1{height:585px;}
    .block1 h1{font-size:37px;text-align:center;}
    .block1 h1 span{font-size:23px;}
    .block1 .wrap{padding:5px 0 0 0;}
    .produkt{position:static;margin:0 auto;}
    .sale::before{display:none;}
    .sale{text-shadow:0 2px 0 rgba(0,0,0,0.5);margin:44px 0 20px;}
    .conversion{position: relative;top: 32px;margin: 0 auto;}
    .block2{padding-top:80px}
    .block2 ul li, .block2 ul li:nth-child(2), .block2 ul li:nth-child(4){margin:0 0 110px 0px;}
    .block2 ul li{float:none;width:100%;padding:0;border:none;text-align:center;padding-top: 90px;}
    .block2 ul li::before{position:static;margin:0 auto 20px;}
    .block2 ul h3{text-align:center;}
    i.fas.fa-star{top: 20px;left: 120px;}
    i.fas.fa-truck{top: 20px;left: 120px;}
    i.far.fa-credit-card{top: 20px;left: 120px;}
    i.fas.fa-shield-alt{top: 20px;left: 120px;}
    .gallery{width:100%;height:357px;padding-top:14px;}
    .char{margin-top:83px;}
    .left-char, .right-char{float:none;}
    .char ul{width:100%;font-size: 16px;}
    .left-char li{padding-left:63px;}
    .char ul.right-char li:nth-child(odd){background:#fff;padding-top:22px;padding-bottom:22px;}
    .char ul.right-char li:nth-child(even){background:#9a9bd9;border-radius:7px;-webkit-border-radius:7px;padding-top:10px;padding-bottom:7px;}
    .block4{background: #353a45;height: 650px;}
    .block4 .leftside{height: 600px;}
    .block4 article{padding:10px 15px;text-align:center;}
    .reviews li{padding:0;}
    .reviews li p{padding:0 10px;}
    .photo:before{width:2px;height:564px;background:#d4ad87;border:none;left:147px;}
    .as{margin:10px 0 0px;}
    .as li{width:100%;margin-bottom:60px;}
    .as h3{padding:0 0 7px;}
    .as p{padding:0px;line-height:14px;}
    .as li::after{top:67px;right:139px;-moz-transform:rotate(90deg);-webkit-transform:rotate(90deg);-o-transform:rotate(90deg);-ms-transform:rotate(90deg);transform:rotate(90deg);}
    .as li:nth-child(2):after{display:block;}
    .note{font-size:14px;}
    .block7{height:100%;padding-top:5px;text-align:center;}
    .block7 .wrap{padding:0;margin-top:-180px;}
    .block7 h2{font-size:26px;margin-top:184px;}
    h2.show-medium:before{display:inline-block;font-size:23px;text-transform:uppercase;font-weight:400;}
    .fsale{text-shadow:0 2px 0 rgba(0,0,0,0.5);margin:40px 0 30px;display:block;}
    .formbox{margin:0 auto;}
    .action{bottom:442px;left:40px;}
    .img_n_a{width:282px;}
}
.gift-block{display:none;}
.gift{position:absolute;left:60px;top:20px;}
.gift:nth-child(1){left:480px;top:380px;}
.gift:nth-child(2){left:870px;top:380px;}
.img-contr{width:100px;height:auto;}
@media screen and (min-width:1000px){.gift-block{display:block;}
}
.img_n_a{display:block;float:left;max-width:374px;margin-top: 25px;}
@media (min-width:640px) and (max-width:762px){.block7 .produkt{}
}
.form-control{
    display: block;
    height: 66px;
    width: 100%;
    border: none;
    background: #fff;
    border-radius: 7px;
    -webkit-border-radius: 7px;
    font-size: 16px;
    font-weight: 700;
    color: #333;
    padding: 0 30px;
    margin-bottom: 20px;
}