body {
    font-size: 18px;
    line-height: 1.4;
    font-family: "Roboto", sans-serif;
}

.wrapper {
    overflow: hidden;
}

.container {
    min-width: 320px;
    max-width: 1000px;
    padding: 0 15px;
}

.pr {
    position: relative;
}

img {
    max-width: 100%;
}

.image-hidden-container {
    position: absolute;
    right: 0;
    bottom: 0;

    height: 100%;
    overflow: hidden;
}

.hide-on-web {
    display: none;
}

.green-bg {
    display: inline-block;

    font-weight: 900;
    font-size: 45px;
    line-height: 1;
    font-family: "Montserrat", sans-serif;
    text-align: center;
    color: #ffffff;

    background-image: -moz-linear-gradient( 90deg, #7fcd36 0%, #4aa920 100%);
    background-image: -webkit-linear-gradient( 90deg, #7fcd36 0%, #4aa920 100%);
    background-image: -ms-linear-gradient( 90deg, #7fcd36 0%, #4aa920 100%);
    box-shadow: 0 6px 16px 0 rgba(0, 0, 0, 0.13);
    transform: skewX(-10deg);
}

.green-bg div {
    padding: 10px 20px;

    text-transform: uppercase;

    transform: skewX(10deg);
}

.title {
    margin-bottom: 20px;

    font-weight: 900;
    font-size: 24px;
    font-family: "Montserrat", sans-serif;
}

.title-big {
    margin-bottom: 20px;

    font-weight: 900;
    font-size: 48px;
    font-family: "Montserrat", sans-serif;
    text-align: center;
    text-transform: uppercase;
}

.title.green-bg {
    font-size: 48px;
}

.subtitle {
    margin-bottom: 20px;

    font-weight: 900;
    font-size: 24px;
    font-family: "Montserrat", sans-serif;
    color: #444444;
    text-transform: uppercase;
}

.sale {
    position: absolute;
    bottom: 50px;
    left: -20px;

    width: 104px;
    height: 104px;

    font-weight: 700;
    font-size: 30px;
    line-height: 104px;
    text-align: center;
    color: #ffffff;

    background-image: -moz-linear-gradient( -63deg, #ffe100 0%, #ffc300);
    background-image: -webkit-linear-gradient( -63deg, #ffe100 0%, #ffc300);
    background-image: -ms-linear-gradient( -63deg, #ffe100 0%, #ffc300);
    border-radius: 50%;
    box-shadow: 0 8px 18px 0 rgba(255, 198, 0, 0.27);
}

.sale span {
    display: inline-block;

    line-height: 1;
    vertical-align: middle;
}

.button {
    position: relative;

    display: block;
    width: 100%;
    max-width: 250px;
    margin: 0 auto;
    padding: 15px 5px;

    font-weight: 900;
    font-size: 18px;
    font-family: "Montserrat", sans-serif;
    text-align: center;
    color: #ffffff;
    text-transform: uppercase;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);

    background-image: -moz-linear-gradient( 90deg, #7fcd36 0%, #4aa920 100%);
    background-image: -webkit-linear-gradient( 90deg, #7fcd36 0%, #4aa920 100%);
    background-image: -ms-linear-gradient( 90deg, #7fcd36 0%, #4aa920 100%);
    border: 0;
    border-radius: 5px;
    outline: none;
    box-shadow: 0 6px 16px 0 rgba(103, 189, 44, 0.13);
    cursor: pointer;

    transition: all 0.5s;
}

.price {
    font-size: 30px;
    text-align: center;
}

.price__new {
    font-weight: 700;
    font-size: 48px;
}

.price__old {
    font-size: 24px;
    color: #8383a1;
    text-decoration: line-through;
}

.button:hover {
    transform: scale(1.1);
}

.block1 {
    position: relative;

    padding-bottom: 25px;

    color: #ffffff;

    background: rgb(42, 49, 83);
    background: -moz-linear-gradient(left, rgba(42, 49, 83, 1) 0%, rgba(81, 94, 159, 1) 50%, rgba(42, 49, 83, 1) 100%);
    background: -webkit-linear-gradient(left, rgba(42, 49, 83, 1) 0%, rgba(81, 94, 159, 1) 50%, rgba(42, 49, 83, 1) 100%);
    background: linear-gradient(to right, rgba(42, 49, 83, 1) 0%, rgba(81, 94, 159, 1) 50%, rgba(42, 49, 83, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2a3153', endColorstr='#2a3153', GradientType=1);
}

.block1__woman {
    position: absolute;
    /* top: 0; */
    bottom: -35px;
    left: 0;
    z-index: 2;
}

.block1 .container {
    z-index: 3;
}

.block1 .title {
    max-width: 400px;
    margin-bottom: 0;

    font-weight: 300;
    font-size: 72px;
    font-family: "Roboto", sans-serif;
}

.block1 .title span {
    font-weight: 900;
}

.block1 .subtitle {
    margin-top: -10px;

    font-weight: 900;
    font-size: 17px;
    font-family: "Montserrat", sans-serif;
    color: #8591ce;
}

.block1 .green-bg {
    margin-left: 80px;
    padding-left: 20px;

    font-size: 28px;
    text-transform: uppercase;
}

.block1 .green-bg div {
    text-transform: uppercase;
}

.product {
    position: absolute;
    top: 145px;
    right: -80px;
    width: 230px;
    text-align: center;
}

.block1__weight {
    position: relative;
    margin-top: -80px;
    margin-bottom: 14px;
    font-weight: 900;
    font-size: 90px;
    line-height: 1;
    font-family: "Montserrat", sans-serif;
    text-shadow: 0 0 21px rgba(0, 0, 0, 0.31);
}

.block1__weight span {
    font-size: 178px;
}

.block1__days {
    width: 100%;
    max-width: 370px;
    margin-top: 35px;
    margin-bottom: 100px;
    padding: 10px;

    font-weight: 700;
    font-size: 18px;
    text-align: center;
    text-transform: uppercase;

    background: -moz-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(60, 62, 100, 1) 45%, rgba(60, 62, 100, 1) 55%, rgba(255, 255, 255, 0) 100%);
    background: -webkit-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(60, 62, 100, 1) 45%, rgba(60, 62, 100, 1) 55%, rgba(255, 255, 255, 0) 100%);
    background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(60, 62, 100, 1) 45%, rgba(60, 62, 100, 1) 55%, rgba(255, 255, 255, 0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#00ffffff', GradientType=1);
}

.block1__bottom-bg {
    position: absolute;
    bottom: -10px;
    left: 0;
    z-index: 2;

    width: calc(100% + 300px);
    height: 225px;
    margin-left: -150px;

    background: rgb(21, 21, 40);
    background: -moz-linear-gradient(left, rgba(21, 21, 40, 1) 0%, rgba(37, 39, 74, 1) 41%, rgba(20, 20, 39, 1) 100%);
    background: -webkit-linear-gradient(left, rgba(21, 21, 40, 1) 0%, rgba(37, 39, 74, 1) 41%, rgba(20, 20, 39, 1) 100%);
    background: linear-gradient(to right, rgba(21, 21, 40, 1) 0%, rgba(37, 39, 74, 1) 41%, rgba(20, 20, 39, 1) 100%);
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#151528', endColorstr='#141427', GradientType=1);
}

.block2 {
    background: rgb(87, 1, 1);
    background: -moz-linear-gradient(left, rgba(87, 1, 1, 1) 0%, rgba(245, 70, 82, 1) 50%, rgba(87, 1, 1, 1) 100%);
    background: -webkit-linear-gradient(left, rgba(87, 1, 1, 1) 0%, rgba(245, 70, 82, 1) 50%, rgba(87, 1, 1, 1) 100%);
    background: linear-gradient(to right, rgba(87, 1, 1, 1) 0%, rgba(245, 70, 82, 1) 50%, rgba(87, 1, 1, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#570101', endColorstr='#570101', GradientType=1);
    /* padding-bottom: 70px; */
}

.block2__list {
    float: left;
    max-width: 485px;
    padding-top: 30px;
    padding-bottom: 50px;
    padding-left: 135px;
}

.block2__list li {
    position: relative;

    margin-bottom: 30px;
    padding-left: 130px;

    list-style: none;
    font-size: 17px;
    color: #f3b6b9;
}

.block2__list li div {
    font-weight: 900;
    font-size: 24px;
    font-family: "Montserrat", sans-serif;
    color: #ffffff;
}

.block2__list li::before,
.block2__list li::after {
    content: "";
    position: absolute;
    left: 0;

    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
}

.block2__list li::before {
    width: 60px;
    height: 60px;
}

.block2__list li:first-child::before {
    background-image: url("block2__i1.png");
}

.block2__list li:nth-child(2)::before {
    background-image: url("block2__i2.png");
}

.block2__list li:nth-child(3)::before {
    background-image: url("block2__i3.png");
}

.block2__list li:nth-child(4)::before {
    background-image: url("block2__i4.png");
}

.block2__list li:nth-child(5)::before {
    background-image: url("block2__i5.png");
}

.block2__list li::after {
    left: 70px;

    width: 37px;
    height: 3px;

    background-color: #ed5a64;
}

.block2 .image-hidden-container {
    top: 0;
    right: 100px;
    bottom: 10px;

    width: 420px;
}

.image-hidden-container .block2__woman {
    position: absolute;
    bottom: 0;
}

.block3 .title {
    margin-top: -35px;
}

.block4 {
    padding-top: 30px;

    padding-bottom: 220px;

    background: rgb(23, 23, 45);
    background: -moz-linear-gradient(left, rgba(23, 23, 45, 1) 0%, rgba(44, 45, 84, 1) 50%, rgba(22, 23, 43, 1) 100%);
    background: -webkit-linear-gradient(left, rgba(23, 23, 45, 1) 0%, rgba(44, 45, 84, 1) 50%, rgba(22, 23, 43, 1) 100%);
    background: linear-gradient(to right, rgba(23, 23, 45, 1) 0%, rgba(44, 45, 84, 1) 50%, rgba(22, 23, 43, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#17172d', endColorstr='#16172b', GradientType=1);
}

.block4 .title-big {
    margin-bottom: 110px;

    color: #ffffff;
}

.block4__promo-title {
    margin-top: -60px;

    font-weight: 300;
    font-size: 36px;
    color: #ffffff;
}

.block4__promo-title span {
    font-weight: 900;
    color: #9c9dbc;
}

.block4__promo {
    position: relative;

    display: block;
    max-width: 500px;
    margin: 0 auto;
    padding: 20px 20px 20px 90px;

    border: 3px solid #3a3c62;
}

.block4__prod {
    position: absolute;
    top: 0px;
    left: 5px;

    height: 350px;
}

.block4__top {
    font-weight: 900;
    font-size: 20px;
    color: #ffffff;
    text-transform: uppercase;
}

.block4__bottom {
    font-size: 17px;
    color: #9c9cbe;
}

.block4__light {
    position: absolute;
    bottom: 0;
    left: 50%;

    transform: translateX(-50%);
}

.block5 {
    padding-bottom: 70px;

    text-align: center;
}

.block5 .title {
    margin-bottom: 10px;
}

.block5__text {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    padding: 5px;

    font-size: 17px;
    color: #777777;
}

.block5__fats {
    position: relative;

    max-width: 345px;
    margin: 0 auto 20px;

    font-weight: 900;
    font-size: 24px;
    color: #444444;
    text-transform: uppercase;
}

.block5__fats span {
    position: relative;
    z-index: 2;

    display: inline-block;
    padding: 0 5px;

    background-color: #ffffff;
}

.block5__fats::before,
.block5__fats::after {
    content: "";
    position: absolute;
    top: 50%;

    width: 100%;
    max-width: 130px;
    height: 3px;

    background-color: #444444;
    transform: translateY(-50%);
}

.block5__fats::before {
    left: 0;
}

.block5__fats::after {
    right: 0;
}

.block5__center {
    position: relative;
    z-index: 2;

    width: 100%;
    max-width: 345px;
    margin: 0 auto;
}

.block5__before,
.block5__after {
    padding: 5px 15px;

    font-weight: 900;
    color: #ffffff;
    text-transform: uppercase;

    background-image: -moz-linear-gradient( 90deg, #e3414f 0%, #d0272f 100%);
    background-image: -webkit-linear-gradient( 90deg, #e3414f 0%, #d0272f 100%);
    background-image: -ms-linear-gradient( 90deg, #e3414f 0%, #d0272f 100%);
    border-radius: 20px;
    box-shadow: 0 6px 16px 0 rgba(214, 48, 58, 0.2);
}

.block5__before {
    float: left;
}

.block5__after {
    float: right;

    background-image: -moz-linear-gradient( 90deg, #7ecc35 0%, #4aa920 100%);
    background-image: -webkit-linear-gradient( 90deg, #7ecc35 0%, #4aa920 100%);
    background-image: -ms-linear-gradient( 90deg, #7ecc35 0%, #4aa920 100%);
    box-shadow: 0 6px 16px 0 rgba(103, 189, 44, 0.2);
}

.block5__logo {
    position: relative;
    z-index: 3;

    width: 155px;
    height: 147px;
    margin: -72px auto 40px;

    font-weight: 900;
    font-size: 28px;
    line-height: 147px;
    text-align: center;
    color: #ffffff;
    text-shadow: 0.809px 0.588px 1px rgba(0, 0, 0, 0.1);

    background: url("block5__molecule.png") no-repeat center center;
    background-size: cover;
}

.block5__logo-wrap {
    display: inline-block;

    line-height: 1;
    vertical-align: middle;
}

.block5__logo::before,
.block5__logo::after {
    content: "";
    position: absolute;
    bottom: -30px;

    width: 136px;
    height: 70px;

    background: url("block5__arrow.png")no-repeat center center;
    background-size: cover;
}

.block5__logo::before {
    left: -90px;

    transform: scale(-1, 1);
}

.block5__logo::after {
    right: -90px;
}

.block5__effect {
    margin-bottom: 50px;
}

.block5__skin {
    position: absolute;
    top: -70px;
    left: 50%;

    transform: translateX(-50%);
}

.block6 {
    background: #fafafa;
}

.block6 .subtitle {
    margin-bottom: 80px;

    font-weight: 900;
    text-transform: uppercase;
}

.block6 .subtitle div {
    font-weight: 300;
    font-size: 17px;
    text-transform: initial;
}

.block6 .title {
    margin-top: -60px;
}

.block6__descr {
    width: 100%;
    max-width: 315px;
    padding: 40px;

    font-weight: 300;
    font-size: 17px;
    text-align: center;
    color: #777777;

    background-color: rgb(255, 255, 255);
    box-shadow: 0 0 21px 0 rgba(0, 0, 0, 0.08);
}

.block6__descr-logo {
    width: 101px;
    height: 101px;
    margin: -90px auto 15px;

    font-weight: 900;
    font-size: 17px;
    line-height: 101px;
    color: #ffffff;

    background: url("block6__molecule.png")no-repeat center center;
    background-size: cover;
}

.block6__descr-logo span {
    display: inline-block;

    line-height: 1;
    vertical-align: middle;
}

.block6__woman {
    display: block;
    width: 240px;
    margin-top: 30px;
    margin-left: auto;
}

.block5__item {
    position: absolute;
    left: 45px;

    font-weight: 900;
    font-size: 16px;
    color: #444444;
}

.block5__item div {
    position: absolute;
    bottom: 80px;

    width: 100%;
    max-width: 100px;
}

.block5__item:first-child {
    top: 20px;
}

.block5__item:first-child div {
    right: 0;
    bottom: 60px;
}

.block5__item:nth-child(2) {
    top: 170px;
}

.block5__item:nth-child(2) div {
    right: 58px;
}

.block5__item:nth-child(3) {
    top: 310px;
}

.block5__item:nth-child(3) div {
    right: 36px;
    bottom: 107px;
}

.block6__left,
.block6__right {
    display: inline-block;
}

.block6__left {
    width: 100%;
    max-width: 380px;

    vertical-align: top;
}

.block6__right {
    width: 100%;
    max-width: 465px;

    vertical-align: bottom;
}

.block7 {
    padding-bottom: 80px;
    overflow: hidden;

    background: rgb(42, 44, 83);
    background: -moz-linear-gradient(left, rgba(42, 44, 83, 1) 0%, rgba(42, 44, 83, 1) 50%, rgba(42, 44, 83, 1) 100%);
    background: -webkit-linear-gradient(left, rgba(42, 44, 83, 1) 0%, rgba(42, 44, 83, 1) 50%, rgba(42, 44, 83, 1) 100%);
    background: linear-gradient(to right, rgba(42, 44, 83, 1) 0%, rgba(42, 44, 83, 1) 50%, rgba(42, 44, 83, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2a2c53', endColorstr='#2a2c53', GradientType=1);
}

.block7 .container {
    position: relative;
    padding-top: 75px;
}

.block7__header {
    position: absolute;
    top: 0;

    width: 100%;
    height: 235px;

    background: url("block7__top.jpg") no-repeat center top;
    background-size: cover;
}

.block7__prod {
    display: block;
    margin: 0 auto;
}

.block7 .title {
    margin-top: -35px;

    background: #e1171e;
}

.block7 .button {
    width: 220px;
    margin: 0;
}

.block7__title {
    font-weight: 900;
    font-size: 24px;
    color: #ffffff;
    text-transform: uppercase;
    margin-top: -5px;
}

.block7__subtitle {
    margin-bottom: 15px;

    font-weight: 300;
    font-size: 17px;
    color: #8383a1;
}

.block7__list {
    padding: 0;

    list-style: none;
    margin-top: 60px;
}

.block7__list li {
    position: relative;

    margin-bottom: 40px;
    padding-left: 120px;

    font-weight: 900;
    font-size: 24px;
    color: #ffffff;
}

.block7__list li div {
    font-weight: 300;
    font-size: 17px;
    color: #8383a1;
}

.block7__list li::before {
    content: "";
    position: absolute;
    top: -15px;
    left: 0;

    width: 102px;
    height: 102px;

    font-size: 18px;
    line-height: 102px;
    text-align: center;

    background-repeat: no-repeat;
    background-size: cover;
}

.block7__list li:first-child:before {
    content: "100%";

    background-image: url("block7__i1.png");
}

.block7__list li:nth-child(2):before {
    content: "73%";

    background-image: url("block7__i2.png");
}

.block7__list li:nth-child(3):before {
    content: "88%";

    background-image: url("block7__i3.png");
}

.block7__list li:nth-child(4):before {
    content: "92%";

    background-image: url("block7__i4.png");
}

.block8 {
    padding-bottom: 70px;
}

.block8 .subtitle {
    margin-bottom: 40px;
}

.block7__woman {
    position: absolute;
    bottom: -150px;
    z-index: 0;
}

.block8 .title {
    margin-top: -50px;
}

.block8__item {
    font-size: 17px;
    text-align: center;
    color: #777777;
}

.block8__item-txt div {
    margin: 10px 0;

    font-weight: 900;
    font-size: 18px;
    color: #63ba2a;
}

.block8__item img {
    border-radius: 50%;
}


.block9 {
    background: rgb(87, 1, 1);
    background: -moz-linear-gradient(left, rgba(87, 1, 1, 1) 0%, rgba(215, 51, 61, 1) 50%, rgba(87, 1, 1, 1) 100%);
    background: -webkit-linear-gradient(left, rgba(87, 1, 1, 1) 0%, rgba(215, 51, 61, 1) 50%, rgba(87, 1, 1, 1) 100%);
    background: linear-gradient(to right, rgba(87, 1, 1, 1) 0%, rgba(215, 51, 61, 1) 50%, rgba(87, 1, 1, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#570101', endColorstr='#570101', GradientType=1);
}

.block9 .green-bg {
    margin-top: -40px;

    background: #1e1f3b;
}

.block9__prod {
    display: block;
    height: 300px;
    margin: 0 auto;
}

.block9__title {
    font-weight: 900;
    font-size: 36px;
    color: #ffffff;
    text-transform: uppercase;
}

.block9__subtitle {
    margin-bottom: 40px;

    font-size: 17px;
    color: #f3b6b9;
}

.block9 .button {
    margin: 0;
}

.block9__center {
    padding-top: 80px;
    margin-left: -55px;
}

.block9__woman {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 60%;

    height: 100%;
}

.block9 .container {
    padding-bottom: 50px;
}

.block10 {
    padding-top: 50px;
    padding-bottom: 50px;

    background: #fafafa;
}

.block10 .row {
    counter-reset: counter;
}

.block10 .title {
    margin-bottom: 50px;

    font-size: 24px;
    text-align: center;
    color: #444444;
}

.block10 .title div {
    font-weight: 900;
    font-size: 48px;
    color: #63ba2a;
    text-transform: uppercase;
}

.block10__item {
    position: relative;

    counter-increment: counter;
}

.block10__item::before {
    content: counter(counter);
    position: absolute;
    top: 0;
    left: 0;

    width: 25px;
    height: 25px;

    font-weight: 900;
    font-size: 17px;
    line-height: 25px;
    text-align: center;
    color: #fafafa;

    background: #63ba2a;
    border-radius: 50%;
}

.block10__item-txt {
    margin-top: 20px;

    font-size: 17px;
    color: #777777;
}

.block10__item-txt span {
    font-weight: 900;
    color: #63ba2a;
}

.block11 {
    padding: 40px 0;

    background: rgb(23, 24, 45);
    background: -moz-linear-gradient(left, rgba(23, 24, 45, 1) 0%, rgba(43, 44, 84, 1) 50%, rgba(23, 24, 45, 1) 100%);
    background: -webkit-linear-gradient(left, rgba(23, 24, 45, 1) 0%, rgba(43, 44, 84, 1) 50%, rgba(23, 24, 45, 1) 100%);
    background: linear-gradient(to right, rgba(23, 24, 45, 1) 0%, rgba(43, 44, 84, 1) 50%, rgba(23, 24, 45, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#17182d', endColorstr='#17182d', GradientType=1);
}

.block11 .title {
    text-align: center;
    color: #8383a1;
    text-transform: uppercase;
}

.block11 .title div {
    font-weight: 900;
    font-size: 48px;
    color: #ffffff;
}

.chart,
.chart-text {
    position: relative;

    width: 100%;
    max-width: 700px;
    margin: 0 auto;
}

.chart-text {
    padding-top: 30px;
}

.chart__line {
    position: relative;

    width: 100%;
    height: 115px;

    font-weight: 900;
    font-size: 14px;
    color: #797998;
    text-transform: uppercase;

    border-bottom: 2px dashed rgba(240, 155, 161, 0.25);
}

.chart__line:first-child {
    height: 50px;
}


.chart__bottom-txt {
    float: left;
    width: 130px;
    margin-left: 18%;

    font-size: 14px;
    text-align: right;
    color: #797998;
}

.chart__bottom-txt span {
    color: #ffffff;
}

.chart__bottom-txt-2 {
    float: right;
    margin-right: 28%;
    margin-left: auto;

    text-align: left;
}

.chart__y {
    position: absolute;
    bottom: 0;
    left: 0;
}

.chart__col {
    position: absolute;
    bottom: 0;

    width: 80px;
}

.chart__col-text {
    font-size: 14px;
    color: #797998;
}

.chart__col-text div {
    font-weight: 900;
    font-size: 28px;
    color: #ffffff;
}

.chart__col--1 {
    left: 25%;

    height: 135px;
}

.chart__col--2 {
    left: 45%;

    height: 270px;
}

.chart__bar--first {
    position: absolute;
    right: 0;
    bottom: 0;

    width: 16px;
    height: 89px;

    background: rgb(225, 23, 30);
    background: -moz-linear-gradient(top, rgba(225, 23, 30, 1) 0%, rgba(214, 17, 23, 1) 50%, rgba(225, 23, 30, 1) 100%);
    background: -webkit-linear-gradient(top, rgba(225, 23, 30, 1) 0%, rgba(214, 17, 23, 1) 50%, rgba(225, 23, 30, 1) 100%);
    background: linear-gradient(to bottom, rgba(225, 23, 30, 1) 0%, rgba(214, 17, 23, 1) 50%, rgba(225, 23, 30, 1) 100%);
    border-radius: 3px;
    box-shadow: 0 6px 16px 0 rgba(215, 18, 24, 0.13);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e1171e', endColorstr='#e1171e', GradientType=0);
}

.chart__bar--second {
    position: absolute;
    right: 0;
    bottom: 0;

    width: 16px;
    height: 225px;

    background: rgb(97, 184, 41);
    background: -moz-linear-gradient(top, rgba(97, 184, 41, 1) 0%, rgba(97, 185, 41, 1) 50%, rgba(72, 167, 30, 1) 100%);
    background: -webkit-linear-gradient(top, rgba(97, 184, 41, 1) 0%, rgba(97, 185, 41, 1) 50%, rgba(72, 167, 30, 1) 100%);
    background: linear-gradient(to bottom, rgba(97, 184, 41, 1) 0%, rgba(97, 185, 41, 1) 50%, rgba(72, 167, 30, 1) 100%);
    border-radius: 3px;
    box-shadow: 0 6px 16px 0 rgba(97, 184, 41, 0.13);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#61b829', endColorstr='#48a71e', GradientType=0);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e1171e', endColorstr='#e1171e', GradientType=0);
}

.block11__prod {
    position: absolute;
    bottom: 0;
    left: 63%;

    height: 265px;
}

.block12 {
    padding-bottom: 40px;

    background-color: #fafafa;
}

.block12 .title {
    margin-top: -45px;
}

.block12 .subtitle div {
    margin-bottom: 40px;

    font-weight: 300;
    font-size: 17px;
    color: #777777;
    text-transform: initial;
}


.rw-slide-inner {
    max-width: 300px;
    min-height: 320px;
    margin: 0 auto;
    padding-bottom: 40px;
    /*background: url(bottom-icons.jpg) no-repeat center bottom;*/
    -webkit-background-size: contain;
    background-size: contain;
    -webkit-box-shadow: 0 0 15px 0 #9696967d;
    box-shadow: 0 0 15px 0 #9696967d;
}


@media all and (max-width: 500px) {
    .rw-slide-inner {
        margin-bottom: 50px;
    }
}



.rw-slide-inner p {
    padding: 0 20px;
}

.lSSlideOuter {
    overflow: hidden;
}

.hashtag {
    font-weight: bold;
    color: #1d62a6;
}


/* .lSSlideWrapper {
  -webkit-box-shadow: 1px 1px 10px 0 #ababab;
  box-shadow: 1px 1px 10px 0 #ababab;
} */

.review-name {
    position: relative;

    padding: 15px 15px 15px 5px;

    font-size: 0;
}

.review-name__dots {
    position: absolute;
    top: 35%;
    right: 10px;
}

.review-name img:not(.review-name__dots) {
    display: inline-block;
    width: 30px;
    margin-right: 10px;

    vertical-align: middle;

    -webkit-border-radius: 50%;
    border-radius: 50%;
}

.review-name span {
    display: inline-block;

    font-weight: 900;
    font-size: 12px;
    vertical-align: middle;
}

.review-name span i {
    display: block;

    font-weight: 400;
    font-style: normal;
}

.review-image {
    width: 100%;
    margin-bottom: 5px;
}

.likes {
    padding: 10px;

    font-weight: bold;
    font-size: 12px;
}

.rw-slide p {
    margin: 0;
    padding: 0 10px 10px;

    font-size: 11px;
}

.post-manage {
    min-height: 35px;

    background: url(icons.jpg) no-repeat center top;
    -webkit-background-size: contain;
    background-size: contain;
}

.lSSlideOuter .lSPager.lSpg {
    margin-top: 20px!important;
}

.lSSlideOuter .lSPager.lSpg>li a {
    width: 20px;
    height: 20px;

    background-color: #ededed;
    -webkit-box-shadow: 1px 1px 10px 0 #ababab;
    box-shadow: 1px 1px 10px 0 #ababab;
}

.block_11 .lSSlideOuter .lSPager.lSpg {
    padding-top: 15px;
    padding-bottom: 10px;
}

.lSSlideOuter .lSPager.lSpg>li.active a,
.lSSlideOuter .lSPager.lSpg>li:hover a {
    width: 20px;
    height: 20px;

    background-color: #63ba2a;
}

.block13 {
    padding-top: 50px;

    background: rgb(44, 51, 86);
    background: -moz-linear-gradient(left, rgba(44, 51, 86, 1) 0%, rgba(81, 93, 157, 1) 50%, rgba(42, 49, 83, 1) 100%);
    background: -webkit-linear-gradient(left, rgba(44, 51, 86, 1) 0%, rgba(81, 93, 157, 1) 50%, rgba(42, 49, 83, 1) 100%);
    background: linear-gradient(to right, rgba(44, 51, 86, 1) 0%, rgba(81, 93, 157, 1) 50%, rgba(42, 49, 83, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2c3356', endColorstr='#2a3153', GradientType=1);
}

.block13 .container {
    z-index: 3;

    padding-bottom: 60px;
}

.block13 .title {
    max-width: 400px;
    margin-bottom: 0;

    font-weight: 300;
    font-size: 72px;
    font-family: "Roboto", sans-serif;
    color: #ffffff;
}

.block13 .title span {
    font-weight: 900;
}

.block13 .subtitle {
    margin-top: -10px;
    margin-bottom: 70px;

    font-weight: 900;
    font-size: 17px;
    font-family: "Montserrat", sans-serif;
    color: #8591ce;
    text-transform: initial;
}

.block13 .green-bg {
    font-weight: 900;
    font-size: 24px;
}

.block13__discount {
    margin-bottom: 20px;

    font-weight: 900;
    font-size: 57px;
    color: #ffffff;
    text-transform: uppercase;
    text-shadow: 0 12px 10px rgba(0, 0, 0, 0.16);
}


.block13__price {
    position: relative;
    left: -160px;

    width: 580px;
    padding: 15px;
    padding-right: 170px;

    color: #ffffff;

    border: 2px dashed rgba(80, 93, 156, 0.2);
    border-radius: 70px;
}

.block13__price .price {
    text-align: right;
}

.block13__woman {
    position: absolute;
    right: 81%;
    bottom: 0;
    z-index: 2;
}

.block13 .product {
    /* position: static; */
    top: 60px;
    right: -25px;
}

.block13 .product img {
  /*  height: 200px; */
}

.block13__bottom-bg {
    position: absolute;
    bottom: 0;
    left: 0;

    width: calc(100% + 500px);
    height: 365px;
    margin-left: -250px;

    background: rgb(21, 21, 40);
    background: -moz-linear-gradient(left, rgba(21, 21, 40, 1) 0%, rgba(37, 39, 74, 1) 41%, rgba(20, 20, 39, 1) 100%);
    background: -webkit-linear-gradient(left, rgba(21, 21, 40, 1) 0%, rgba(37, 39, 74, 1) 41%, rgba(20, 20, 39, 1) 100%);
    background: linear-gradient(to right, rgba(21, 21, 40, 1) 0%, rgba(37, 39, 74, 1) 41%, rgba(20, 20, 39, 1) 100%);
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#151528', endColorstr='#141427', GradientType=1);
}

.main_form {
    margin-top: 130px;
    padding: 0 15px 15px;

    background-color: #383954;
    border-radius: 20px;
    position: relative;
    z-index: 1000;
}

.main_form__title {
    width: calc(100% + 30px);
    margin-bottom: 25px;
    margin-left: -15px;
    padding: 15px;

    font-weight: 900;
    font-size: 18px;
    text-align: center;
    color: #ffffff;
    text-transform: uppercase;

    background: rgb(212, 17, 22);
    background: -moz-linear-gradient(top, rgba(212, 17, 22, 1) 0%, rgba(222, 21, 28, 1) 50%, rgba(212, 17, 22, 1) 100%);
    background: -webkit-linear-gradient(top, rgba(212, 17, 22, 1) 0%, rgba(222, 21, 28, 1) 50%, rgba(212, 17, 22, 1) 100%);
    background: linear-gradient(to bottom, rgba(212, 17, 22, 1) 0%, rgba(222, 21, 28, 1) 50%, rgba(212, 17, 22, 1) 100%);
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d41116', endColorstr='#d41116', GradientType=0);
}

.main_form__inp {
    width: 100%;
    height: 45px;
    margin-bottom: 15px;
    padding-left: 40px;

    color: #ffffff;

    background-color: rgba(35, 37, 70, 0);
    background-repeat: no-repeat;
    border: 2px solid rgb(58, 59, 95);
    border-radius: 0;
    outline: none;
    box-shadow: inset 11px 6px 19px 6px rgba(14, 15, 35, 0.34);
    opacity: 0.7;

    transition: all 0.5s;
}

select.main_form__inp {
    color: #8383a1;
    font-style: italic;

    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.main_form__inp::-webkit-input-placeholder {
    font-weight: 300;
    color: #8383a1;
    font-style: italic;
}

.main_form__inp::-moz-placeholder {
    font-weight: 300;
    color: #8383a1;
    font-style: italic;
}

.main_form__inp:-moz-placeholder {
    font-weight: 300;
    color: #8383a1;
    font-style: italic;
}

.main_form__inp:focus,
.main_form__inp:active {
    border: 2px solid rgb(58, 59, 95);
    opacity: 1;
}

.main_form__inp:focus::-webkit-input-placeholder,
.main_form__inp:active::-webkit-input-placeholder {
    color: #ffffff;

    transition: all 0.5s;
}

.main_form__inp:focus::-moz-placeholder,
.main_form__inp:active::-moz-placeholder {
    color: #ffffff;

    transition: all 0.5s;
}

.main_form__inp:focus:-moz-placeholder,
.main_form__inp:active:-moz-placeholder {
    color: #ffffff;

    transition: all 0.5s;
}

.main_form__inp[name="phone"] {
    background-image: url("icon-phone.png");
    background-position: 5% 50%;
}

.main_form__inp[name="phone"]:focus {
    background-image: url("icon-phone-focus.png");
}


.main_form__inp[name="name"] {
    background-image: url("icon-name.png");
    background-position: 5% 50%;
}


.main_form__inp[name="name"]:focus {
    background-image: url("icon-name-focus.png");
}


.main_form__inp[name="country"] {
    background-image: url("icon-country.png");
    background-position: 5% 50%;
}


.main_form__inp[name="country"]:focus {
    background-image: url("icon-country-focus.png");
}

.mobile-in__text {
    display: none;
}

.lSSlideOuter .lSPager.lSpg {
    display: none;
}

.block3 {
  padding: 30px 0;
}

.video {
    display: block;
    margin: auto;
    max-width: 100%;
}

@media all and (max-width: 990px) {
    .hide-on-wap {
        display: none;
    }
    .hide-on-web {
        display: block;
    }
    .container {
        width: 320px;
    }
    .product img {
/*        height: 160px;*/
    padding-left: 100px;
    }

    .block1__woman {
        top: 0;
        bottom: 0;
        left: -170px;
        z-index: 1;

        height: 80%;
    }

    .sale {
        bottom: 110px;
        left: 110px;

        width: 70px;
        height: 70px;

        font-size: 26px;
        line-height: 70px;
    }

    .block1__days,
    .price,
    .button,
    .product {
        z-index: 3;
    }

    .block1 .block1__weight {
        z-index: 3;

        width: 165px;
        margin-top: -45px;
        margin-right: auto;
        margin-left: auto;

        font-size: 55px;
    }
    .block1__weight span {
        font-size: 100px;
    }
    .product {
        right: -45px;
        top: 120px;
        z-index: 5;
        width: 195px;
    }
    .block1 .container {
        z-index: initial;
    }
    .block1 .title {
        font-size: 47px;
        text-align: right;
    }
    .block1 .subtitle {
        width: 200px;
        margin-bottom: 40px;
        margin-left: auto;

        text-align: right;
        text-transform: initial;
    }
    .block1 .green-bg {
        margin-left: 100px;
        padding-left: 10px;

        font-size: 16px;
        text-transform: uppercase;
    }
    .block1__days {
        position: relative;
        z-index: 4;

        margin-top: 55px;
        margin-bottom: 0;

        font-size: 25px;
        text-align: left;
        margin-left: -20px;

        background: -moz-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(60, 62, 100, 1) 10%, rgba(60, 62, 100, 1) 55%, rgba(255, 255, 255, 0) 100%);
        background: -webkit-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(60, 62, 100, 1) 10%, rgba(60, 62, 100, 1) 55%, rgba(255, 255, 255, 0) 100%);
        background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(60, 62, 100, 1) 10%, rgba(60, 62, 100, 1) 55%, rgba(255, 255, 255, 0) 100%);
    }
    .block1__bottom-bg {
        height: 170px;
    }
    .price {
        position: relative;
        z-index: 4;
        margin-right: 30px;
    }

    .price__new {
        font-size: 30px;
    }

    .price__old {
        font-size: 18px;
    }
    .block2__list {
        max-width: 200px;
        padding-left: 0;

        list-style: disc;
    }
    .block2__list li {
        padding-left: 0;

        font-size: 17px;
    }
    .block2__list li::before {
        content: none;
    }
    .block2__list li::after {
        content: none;
    }
    .block2 .image-hidden-container {
        right: -150px;

        width: 300px;
    }
    .block2__list li {}
    .block2__list li div {
        font-size: 18px;
    }
    .title-big {
        font-size: 24px;
    }

    .block4__promo {
        border: none;
    }
    .block4__prod {
        top: 0;
        left: -60px;

        height: 220px;
    }
    .block4 .title-big {
        margin-bottom: 20px;
    }
    .block4 {
        padding-bottom: 140px;
    }
    .block5__logo {
        width: 100px;
        height: 100px;

        font-size: 20px;
        line-height: 100px;

        background-size: contain;
    }
    .block5__logo::before,
    .block5__logo::after {
        content: none;
    }
    .block5__skin {
        top: -25px;
    }
    .block5__fats {
        margin-top: -28px;

        font-size: 18px;
    }
    .block5__fats::before,
    .block5__fats::after {
        width: 70px;
        height: 2px;
    }
    .block5__fats::before {
        right: 60%;
        left: auto;
    }
    .block5__fats::after {
        right: auto;
        left: 60%;
    }

    .block5__effect {
        margin-bottom: 20px;
    }

    .title.green-bg {
        position: relative;
        top: -10px;
        z-index: 2;

        font-size: 30px;
    }
    .subtitle {
        font-size: 18px;
    }

    .block6 .subtitle {
        margin-bottom: 30px;
    }

    .block5__item {
        left: -10px;
        /* width: 200px; */
    }

    .block5__item img {
        height: 118px;
    }

    .block6__woman {
        margin-right: -80px;
    }
    .block5__item:first-child div {
        right: -15px;
    }
    .block5__item:nth-child(2) div {
        right: 32px;
        bottom: 65px;
    }
    .block5__item:nth-child(3) div {
        right: 0;
        bottom: 77px;
    }
    .block7__prod {

        top: -35px;
        right: -80px;

        height: 240px;
    }
    .block7__title {
        font-size: 17px;
        margin-top: -19px;
    }
    .block7__woman {
        bottom: -90px;
        left: -52px;

        height: 450px;
    }
    .block7 .button {
        margin-bottom: 40px;
    }
    .block7__list li {
        padding-left: 90px;

        font-size: 18px;
    }
    .block7__list {
        padding-left: 65px;
    }
    .block7__list li::before {
        width: 95px;
        height: 95px;

        line-height: 95px;
    }
    .block8__item img {
        float: left;
    }
    .block8__item-txt {
        padding-left: 120px;

        text-align: left;
    }
    .block8__item {
        margin-bottom: 30px;
    }
    .block9__prod {
        height: auto;
    }
    .block9__title {
        font-size: 17px;
    }

    .block10 .title {
        font-size: 18px;
    }

    .block10 .title div {
        font-size: 30px;
    }
    .block10__item {
        margin-bottom: 50px;
    }

    .block10__item:nth-child(odd) img {
        float: left;
    }

    .block10__item:nth-child(even) img {
        float: right;
    }

    .block10__item:nth-child(odd) .block10__item-txt {
        padding-left: 130px;
    }
    .block10__item:nth-child(even) .block10__item-txt {
        padding-right: 130px;
    }
    .block10__item::before {
        top: -10px;
    }
    .block10__item:nth-child(even)::before {
        right: 100px;
        left: auto;
    }
    .block10__item:nth-child(odd)::before {
        left: 20px;
    }
    .block10 {
        padding-bottom: 30px;
    }
    .block11 .title {
        font-size: 16px;
    }
    .block11 .title div {
        font-size: 30px;
    }
    .chart__col--1 {
        left: 15%;
    }
    .chart__col--2 {
        left: 30%;
    }
    .block11__prod {
        left: 60%;
        height: 195px;
    }
    .chart__bottom-txt {
        margin-left: 0;
    }
    .chart__bottom-txt-2 {
        margin-right: 10px;
    }
    .block13__bottom-bg {
        height: 480px;
    }
    .block13 .title {
        font-size: 36px;
    }
    .block13 .green-bg {
        font-size: 16px;
    }
    .block13__discount {
        font-size: 39px;
        text-shadow: 1px 1px 1px #000;
    }
    .block13__price {
        border: 0;
        left: 80px;
        width: auto;
        padding-right: 15px;
        position: absolute;
    }

    .block13 .price {
        text-align: center;
    }
    .block13 .product img {
        /*height: 220px;*/
    }
    .block13 .container {
        padding-bottom: 30px;
    }
    .block13 .subtitle {
        margin-bottom: 30px;
        font-size: 18px;
        width: 240px;
        padding-left: 30px;
    }
    .block13 .product {
        top: 140px;
    }
    .block13__bottom-wrap {
        position: relative;
    }
    .block13__woman-mobile {
        position: absolute;
        bottom: 460px;
        right: 65%;
        width: 125px;
    }
    .block13__mobile-padding {
        padding-left: 50px;
    }
    .block13 {
        padding-top: 35px;
    }
    .mobile-in__text {
        display: block;
        padding: 5px;
        font-size: 17px;
        color: #777777;
        max-width: 200px;
        margin-top: -60px;
        margin-bottom: 30px;
    }
    .block8__item-txt div {
        max-width: 145px;
    }
    .lSSlideOuter .lSPager.lSpg {
        display: block;
    }
    .block9__center {
        max-width: 180px;
        margin-left: 0;
    }
}
