
.fcWDWT {
    margin-bottom: 37px;
    padding-left: 15px;
    padding-right: 15px;
}

.kHPXnb {
    margin-bottom: 18px;
}

.kPobpA {
    margin-top: 15px;
    width: 161px;
    height: 1px;
    background-color: #ebebeb;
}

.ZrbPu {
    margin-bottom: 72px;
}

.fQHViT {
    padding-left: 14px;
    padding-right: 14px;
}

.gWSdNr {
    margin-bottom: 15px;
    padding-top: 4px;
    padding-left: 4px;
    padding-right: 4px;
    background-color: #dfdfdf;
}

.fxCkYy {
    padding-top: 4px;
    padding-left: 4px;
    padding-right: 4px;
    background-color: #8de079;
}

.cRjIWu {
    margin-top: 18px;
}

.dtgCvM {
    width: 220px;
}

.ifzqnV {
    margin-top: 59px;
}

.jsjIKM {
    padding-top: 16px;
}

.hBXkmQ {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.hmYHwO {
    width: 43px;
    height: 84px;
    font-size: 21px;
    color: #fff;
    text-align: center;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}

.chqlaC {
    margin-left: 5px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}

.bTgGmD {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: flex-start;
    -webkit-box-align: flex-start;
    -ms-flex-align: flex-start;
    align-items: flex-start;
}

.hOEIxB {
    width: 100%;
    background-color: #393a45;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.ikQccu {
    padding: 4px 15px 13px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}

.bTYtQt {
    padding-bottom: 6px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.fuByBr {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.bNqQey {
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.fAjNvW {
    margin-bottom: 21px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}

.dEyZHH {
    width: 100%;
    height: 127px;
    color: #000000;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: space-evenly;
    -webkit-justify-content: space-evenly;
    -ms-flex-pack: space-evenly;
    justify-content: space-evenly;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}

.dcyFSe {
    padding-top: 45px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}

.czdZQT {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}

.eBVlMS {
    margin-bottom: 29px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}

.jTutEF {
    margin-left: -16px;
    margin-right: -16px;
    height: 280px;
    background-color: #f5f5f5;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}

.gTADAz {
    margin-top: 15px;
    padding-left: 8px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.cEJE {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}

.icFXhg {
    margin-top: 17px;
    margin-left: 52px;
    width: 225px;
    font-size: 12px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.cSefPr {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.cjQdkt {
    padding-left: 15px;
    padding-right: 15px;
    font-size: 35px;
    background-image: url(pic-bc6fbabd04e31a3450478e3fed2b0423.png);
    background-size: 61px;
    background-position: 235px calc(50% + 4px);
    background-repeat: no-repeat;
}

.exMjpH {
    margin-top: 0;
    background-color: transparent;
    background-image: url(discount-9c2103b7783f8fa8b1d94adf76db1ab1.png);
    background-position: center;
    background-repeat: no-repeat;
}

.iNjJcz {
    margin-bottom: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 90px;
    font-size: 15px;
    text-align: right;
    background-image: url(pic-bc6fbabd04e31a3450478e3fed2b0423.png);
    background-position: center right;
    background-repeat: no-repeat;
}

.jCbWlg {
    padding-left: 15px;
    padding-right: 15px;
    font-size: 35px;
    font-family: Gilroy, Arial, system-ui, sans-serif;
    font-weight: 600;
    -webkit-letter-spacing: 1.6px;
    -moz-letter-spacing: 1.6px;
    -ms-letter-spacing: 1.6px;
    letter-spacing: 1.6px;
}

.cBHsuP {
    margin-top: 4px;
    font-size: 18px;
    font-weight: 300;
    -webkit-letter-spacing: 0.68px;
    -moz-letter-spacing: 0.68px;
    -ms-letter-spacing: 0.68px;
    letter-spacing: 0.68px;
    text-transform: uppercase;
}

.iKtyOM {
    margin-bottom: 20px;
    padding-left: 15px;
    padding-right: 15px;
    height: 363px;
    font-size: 18px;
    font-weight: 600;
    line-height: 1.2;
}

.fPBDQR {
    width: 43px;
    height: 84px;
    font-size: 21px;
    color: #fff;
    text-align: center;
    font-family: Gilroy, Arial, system-ui, sans-serif;
    font-weight: 700;
    text-align: center;
    line-height: 1;
    text-transform: uppercase;
}

.bLZRBM {
    font-size: 8px;
    font-weight: 400;
    -webkit-letter-spacing: 1px;
    -moz-letter-spacing: 1px;
    -ms-letter-spacing: 1px;
    letter-spacing: 1px;
}

.aHtGv {
    font-size: 1em;
}

.kDmOby {
    font-size: 10px;
    font-family: Gilroy, Arial, system-ui, sans-serif;
}

.dsGBDi {
    font-size: 14px;
    color: #000000;
    font-family: Roboto, Arial, system-ui, sans-serif;
    font-weight: 700;
    line-height: 1;
}

.cCxblX {
    color: #fff;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    text-align: center;
    font-family: Gilroy, Arial, system-ui, sans-serif;
    text-align: center;
}

.eyXTsY {
    padding-top: 2px;
    padding-left: 10px;
    font-size: 14px;
    font-weight: 800;
}

.ERypw {
    font-size: 12px;
    color: #fff;
    font-family: Gilroy, Arial, system-ui, sans-serif;
    font-weight: 300;
}

.ibLqWq {
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 18px;
    text-align: center;
    font-family: Gilroy, Arial, system-ui, sans-serif;
    font-weight: 800;
    text-align: center;
}

.dgGlAO {
    font-size: 14px;
    font-family: Gilroy, Arial, system-ui, sans-serif;
}

.dLmprL {
    margin-top: 13px;
    width: 220px;
    font-size: 14px;
    text-align: center;
    font-family: Gilroy, Arial, system-ui, sans-serif;
    text-align: center;
    line-height: 1.25;
}

.jgPUrM {
    margin-bottom: 48px;
    font-size: 20px;
    font-weight: 600;
}

.dpyNLn {
    margin-top: 25px;
    font-size: 15px;
    color: #393a45;
    text-align: center;
    font-family: Gilroy, Arial, system-ui, sans-serif;
    font-weight: 300;
    text-align: center;
    line-height: 1.1;
}

.dvXrqe {
    font-size: 14px;
    text-align: center;
    font-weight: 600;
    text-align: center;
}

.kpQvTO {
    font-size: 14px;
    font-family: Gilroy, Arial, system-ui, sans-serif;
    line-height: 1.1;
}

.kAhmQl {
    font-size: 20px;
    color: #000000;
    font-family: Gilroy, Arial, system-ui, sans-serif;
    font-weight: 800;
    line-height: 1.2;
}

.jsLgHV {
    margin-bottom: 13px;
    font-size: 14px;
    color: #000;
    font-weight: 300;
}

.erVYlI {
    padding-top: 26px;
    width: 250px;
    font-size: 14px;
    text-align: center;
    text-align: center;
}

.kNHKAL {
    font-size: 20px;
    text-align: center;
    text-align: center;
}

.mqEPO {
    margin-right: 8px;
    font-size: 12px;
    color: #444950;
    font-family: Tahoma, Arial, system-ui, sans-serif;
    font-weight: 400;
}

.fxQFKu {
    margin-top: 20px;
    padding-left: 8px;
    font-family: Tahoma, Arial, system-ui, sans-serif;
}

.hoUbbW {
    font-size: 12px;
    color: #385898;
    font-weight: 700;
}

.hHWbes {
    font-size: 12px;
    font-weight: 400;
}

.jYWUet {
    margin-left: 6px;
    margin-right: 6px;
    font-size: 12px;
    color: #898989;
    font-family: Tahoma, Arial, system-ui, sans-serif;
    font-weight: 400;
}

.gzSmDT {
    margin-top: 17px;
    margin-left: 52px;
    width: 225px;
    font-size: 12px;
    font-family: Tahoma, Arial, system-ui, sans-serif;
    font-weight: 400;
}

.gVrJsk {
    color: #385898;
}

.fnheXH {
    color: #444950;
}

.VMcIR {
    font-size: 22px;
    text-align: center;
    font-family: Gilroy, Arial, system-ui, sans-serif;
    font-weight: 600;
    text-align: center;
}

.klWLkV {
    margin-top: 7px;
    margin-bottom: 20px;
    font-weight: 300;
    text-transform: uppercase;
}

.feGeRz {
    margin-bottom: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 90px;
    font-size: 15px;
    text-align: right;
    font-family: Gilroy, Arial, system-ui, sans-serif;
    font-weight: 600;
    text-align: right;
}

.cLlWrm {
    margin: 0;
    font-size: 50px;
    color: #d31f07;
    font-family: Gilroy, Arial, system-ui, sans-serif;
    font-weight: 700;
    line-height: 1;
}

.dakODw {
    margin: 10px auto 32px;
    font-size: 22px;
    font-family: Gilroy, Arial, system-ui, sans-serif;
    font-weight: 700;
    text-transform: uppercase;
}

.belVXy {
    font-weight: 700;
}

.jbmokB {
    padding: 56px 0 36px;
    font-size: 20px;
    text-align: center;
    font-weight: 700;
    text-align: center;
}

.khUyLd {
    font-size: 20px;
    text-align: center;
    font-weight: 700;
    text-align: center;
}

.hURAvY {
    margin: 0;
    margin-right: 7px;
    width: 28px;
    height: auto;
    max-width: 100%;
    display: block;
    height: auto;
    max-width: 100%;
}

.bfRkSv {
    margin: 0;
    height: auto;
    max-width: 100%;
    display: block;
    height: auto;
    max-width: 100%;
}

.gRrges {
    margin: 0;
    margin-bottom: 20px;
    height: auto;
    max-width: 100%;
    display: block;
    height: auto;
    max-width: 100%;
}

.bzeqOJ {
    margin: 0;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    height: auto;
    max-width: 100%;
    display: block;
    height: auto;
    max-width: 100%;
}

.keMVkk {
    margin: 0;
    width: 310px;
    height: auto;
    max-width: 100%;
    display: block;
    height: auto;
    max-width: 100%;
}

.bEzqwZ {
    margin: 0;
    width: 310px;
    height: 184px;
    max-width: 100%;
    display: block;
    height: 184px;
}

.ibSwJ {
    margin: 26px 0 0 14px;
    height: auto;
    max-width: 100%;
    display: block;
    height: auto;
    max-width: 100%;
}

.kaXtFV {
    margin: -34px 0 22px;
    height: auto;
    max-width: 100%;
    display: block;
    height: auto;
    max-width: 100%;
}

.gKRAFt {
    margin: 0;
    width: 30px;
    height: 30px;
    max-width: 100%;
    display: block;
    height: 30px;
}

.gyZwbu {
    position: relative;
}

.DarRM {
    position: absolute;
    z-index: -1;
    top: -175px;
}

.cLtUfX {
    position: absolute;
    z-index: -1;
    top: -125px;
    right: 0;
}

.jCUBNt {
    position: absolute;
    right: 10px;
    bottom: -10px;
}

.kGmGbZ {
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    boxSizing: content-box;
    -webkit-flexShrink: 0;
    -ms-flexShrink: 0;
    flexShrink: 0;
    fill: currentColor;
    color: currentColor;
    background-color: #ffffff;
    font-size: 13px;
}

.eGHXZI {
    margin-left: auto;
    margin-right: auto;
    height: auto;
    background-image: url(bg-df4589b19ec36b4832ae1c8bd8c32fcd.png);
    background-position: center top;
    background-repeat: no-repeat;
    height: auto;
    position: relative;
}

.iXxOFo {
    background-position: 10px 50px;
    background-repeat: no-repeat;
    position: relative;
}

.bdWzmQ {
    margin-top: 0;
    background-color: transparent;
    background-image: url(discount-9c2103b7783f8fa8b1d94adf76db1ab1.png);
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}

.fKJsSG {
    margin-bottom: 16px;
    background-position: center top;
    background-repeat: no-repeat;
    position: relative;
}

.gdrpPM {
    background-position: center top;
    background-repeat: no-repeat;
    position: relative;
}

.jPquGL {
    width: 290px;
    text-align: center;
    background-position: center top;
    background-repeat: no-repeat;
    position: relative;
}

.cmPUMP {
    margin-bottom: 22px;
    background-position: center top;
    background-repeat: no-repeat;
    position: relative;
}

.iCnxRm {
    margin-bottom: 22px;
    margin-left: auto;
    background-position: center top;
    background-repeat: no-repeat;
    position: relative;
}

.iGFmeD {
    margin-left: auto;
    margin-right: auto;
    height: 1210px;
    background-image: url(bg_foot-8712c3a745e2e9caf2b73d8ee502530c.jpg);
    background-position: center top;
    background-repeat: no-repeat;
    height: 1210px;
    position: relative;
}

.dMAeUO {
    margin-left: auto;
    margin-right: auto;
    padding-top: 16px;
    padding-left: 0;
    padding-right: 0;
    width: 320px;
    max-width: 336px;
    max-width: 336px;
}

@media screen and (min-width: 75em) {
    .dMAeUO {
        max-width: 1140px;
    }
}

@media screen and (min-width: 75em) {
    .dMAeUO {
        max-width: 1140px;
    }
}

.hFPqcP {
    margin-left: auto;
    margin-right: auto;
    padding-top: 88px;
    padding-left: 15px;
    padding-right: 15px;
    width: 320px;
    max-width: 336px;
    text-align: center;
    max-width: 336px;
}

@media screen and (min-width: 75em) {
    .hFPqcP {
        max-width: 1140px;
    }
}

@media screen and (min-width: 75em) {
    .hFPqcP {
        max-width: 1140px;
    }
}

.bkwREE {
    margin-left: auto;
    margin-right: auto;
    padding-top: 65px;
    padding-left: 10px;
    padding-right: 10px;
    width: 320px;
    max-width: 320px;
    max-width: 320px;
}

.jmvIZc {
    margin-left: auto;
    margin-right: auto;
    padding-top: 78px;
    padding-left: 0;
    padding-right: 0;
    width: 320px;
    max-width: 320px;
    text-align: center;
    max-width: 320px;
}

.fsUtir {
    margin-left: auto;
    margin-right: auto;
    padding-top: 68px;
    padding-left: 0;
    padding-right: 0;
    width: 320px;
    height: 760px;
    max-width: 336px;
    text-align: center;
    max-width: 336px;
}

@media screen and (min-width: 75em) {
    .fsUtir {
        max-width: 1140px;
    }
}

@media screen and (min-width: 75em) {
    .fsUtir {
        max-width: 1140px;
    }
}

.kqHJmZ {
    margin-left: auto;
    margin-right: auto;
    padding-top: 10px;
    padding-left: 15px;
    padding-right: 15px;
    width: 320px;
    max-width: 320px;
    text-align: center;
    max-width: 320px;
}

.dyvXRQ {
    margin-left: auto;
    margin-right: auto;
    padding: 63px 8px 65px;
    padding-left: 8px;
    padding-right: 8px;
    width: 320px;
    max-width: 336px;
    max-width: 336px;
}

@media screen and (min-width: 75em) {
    .dyvXRQ {
        padding-left: 16px;
        padding-right: 16px;
    }
}

@media screen and (min-width: 75em) {
    .dyvXRQ {
        max-width: 1140px;
    }
}

@media screen and (min-width: 75em) {
    .dyvXRQ {
        max-width: 1140px;
    }
}

html {
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    text-size-adjust: 100%;
}

body {
    margin: 0;
}

h1 {
    font-size: 2em;
    margin: 0.67em 0;
}

hr {
    box-sizing: content-box;
    height: 0;
    overflow: visible;
}

pre {
    font-family: monospace, monospace;
    font-size: 1em;
}

a {
    background-color: transparent;
}

abbr[title] {
    border-bottom: none;
    -webkit-text-decoration: underline;
    text-decoration: underline;
}

b, strong {
    font-weight: bolder;
}

code, kbd, samp {
    font-family: monospace, monospace;
    font-size: 1em;
}

small {
    font-size: 80%;
}

sub, sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

sub {
    bottom: -0.25em;
}

sup {
    top: -0.5em;
}

img {
    border-style: none;
}

button, input, optgroup, select, textarea {
    font-family: inherit;
    font-size: 100%;
    line-height: 1.15;
    margin: 0;
}

button, input {
    overflow: visible;
}

button, select {
    text-transform: none;
}

button, html [type="button"], [type="reset"], [type="submit"] {
    -webkit-appearance: button;
}

button::-moz-focus-inner, [type="button"]::-moz-focus-inner, [type="reset"]::-moz-focus-inner, [type="submit"]::-moz-focus-inner {
    border-style: none;
    padding: 0;
}

button:-moz-focusring, [type="button"]:-moz-focusring, [type="reset"]:-moz-focusring, [type="submit"]:-moz-focusring {
    outline: 1px dotted ButtonText;
}

fieldset {
    padding: 0.35em 0.625em 0.75em;
}

legend {
    box-sizing: border-box;
    color: inherit;
    display: table;
    max-width: 100%;
    padding: 0;
    white-space: normal;
}

progress {
    vertical-align: baseline;
}

textarea {
    overflow: auto;
}

[type="checkbox"], [type="radio"] {
    box-sizing: border-box;
    padding: 0;
}

[type="number"]::-webkit-inner-spin-button, [type="number"]::-webkit-outer-spin-button {
    height: auto;
}

[type="search"] {
    -webkit-appearance: textfield;
    outline-offset: -2px;
}

[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}

::-webkit-file-upload-button {
    -webkit-appearance: button;
    font: inherit;
}

details {
    display: block;
}

summary {
    display: list-item;
}

template {
    display: none;
}

[hidden] {
    display: none;
}

abbr[title] {
    -webkit-text-decoration: underline dotted;
    text-decoration: underline dotted;
}

*, *:after, *:before {
    box-sizing: border-box;
}

:root {
    --testcolor: #34bc34;
}

html, body {
    font-size: 16px;
    font-family: Roboto, Arial, system-ui, sans-serif;
}

body {
    position: relative;
    margin: 0;
    padding: 0;
    line-height: 1.5;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
}

h1 {
    font-size: 2.5rem;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.75rem;
}

h4 {
    font-size: 1.5rem;
}

h5 {
    font-size: 1.25rem;
}

h6 {
    font-size: 1rem;
}

.modal {
    outline: none;
    padding: 0;
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.8);
    z-index: 1000;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    overflow-y: auto;
}

@media (max-width: 576px) {
    .overlay {
        -webkit-align-items: flex-start;
        -webkit-box-align: flex-start;
        -ms-flex-align: flex-start;
        align-items: flex-start;
    }
}

body {
    line-height: 1.15 !important;
}

.dTjgh {
    width: 100%;
    height: 50px;
    margin: 0 auto 15px auto;
    padding: 0 20px;
    display: block;
    font-family: "Gilroy", sans-serif;
    font-size: 16px;
    font-weight: 800;
}

.dTjgh::-webkit-input-placeholder {
    color: #8c8c8c;
    font-size: 14px;
    font-weight: 300;
}

.dTjgh::-moz-placeholder {
    color: #8c8c8c;
    font-size: 14px;
    font-weight: 300;
}

.dTjgh:-ms-input-placeholder {
    color: #8c8c8c;
    font-size: 14px;
    font-weight: 300;
}

.dTjgh::placeholder {
    color: #8c8c8c;
    font-size: 14px;
    font-weight: 300;
}

.cZXZbG {
    padding-left: 15px;
    padding-right: 15px;
    background-position: center top;
    background-repeat: no-repeat;
    position: relative;
    box-shadow: 0 0 13px rgba(0, 0, 0, 0.15);
    border: 4px solid #ffc02a;
    background-color: #ffffff;
}

.hCwHxj {
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    position: relative;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    outline: none;
    -webkit-text-decoration: none;
    text-decoration: none;
    cursor: pointer;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    vertical-align: middle;
    text-align: center;
    margin: 0;
    padding: 0;
    border-radius: 0;
    border: 0;
    color: inherit;
    background-color: transparent;
    text-transform: uppercase;
    padding-left: 25px;
    padding-right: 25px;
    font-size: 18px;
    font-family: Gilroy, Arial, system-ui, sans-serif;
    color: #000000;
    background-color: #ffc02a;
    height: 63px;
    font-weight: 800;
    border-radius: 9999px;
    min-width: 238px;
    cursor: pointer;
    display: block;
    margin: 30px auto 30px auto;
}

.hCwHxj:disabled {
    pointer-events: none;
}

.hCwHxj:hover {
    background-color: #f3a308;
}

.jkThTP {
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    font-size: 20px;
    -webkit-align-self: auto;
    -ms-flex-item-align: auto;
    align-self: auto;
}

.jkThTP svg {
    fill: currentColor;
}

.fuUtFg {
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    font-size: 10px;
    -webkit-align-self: auto;
    -ms-flex-item-align: auto;
    align-self: auto;
}

.fuUtFg svg {
    fill: currentColor;
}

.jooVSH {
    position: relative;
}

.jooVSH .video {
    position: relative;
    height: 0;
    padding-bottom: 56.2%;
    overflow: hidden;
}

.jooVSH .video iframe {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
}

.jooVSH .pic {
    position: absolute;
    width: 100%;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.jooVSH .pic img {
    width: 100%;
    height: auto;
}

.jooVSH .heading {
    text-align: left;
}

.dtqXKM {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    height: 25%;
    width: 25%;
    max-width: 51px;
    max-height: 51px;
    cursor: pointer;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    -webkit-transition: -webkit-transform 0.4s;
    -webkit-transition: transform 0.4s;
    transition: transform 0.4s;
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0naHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmcnIHZpZXdCb3g9JzAgMCAyNCAyNCc+PHBhdGggZD0nTTEyIDBhMTIgMTIgMCAxIDAgMTIgMTJBMTIgMTIgMCAwIDAgMTIgMHonIGZpbGw9JyMyMTdkZmMnLz48cGF0aCBkPSdNMTYuOTEgMTEuMjVhLjg5Ljg5IDAgMCAxIDAgMS40N2wtNi44MiA0LjQ5YS42Ni42NiAwIDAgMS0uMzQuMTIuNzQuNzQgMCAwIDEtLjM4LS4xMiAxIDEgMCAwIDEtLjM3LS43NHYtOWEuODkuODkgMCAwIDEgLjM0LS43NC42LjYgMCAwIDEgLjcyIDB6JyBmaWxsPScjZmZmZmZmJy8+PC9zdmc+);
}

.dtqXKM:hover, .dtqXKM:focus, .dtqXKM:active {
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0naHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmcnIHZpZXdCb3g9JzAgMCAyNCAyNCc+PHBhdGggZD0nTTEyIDBhMTIgMTIgMCAxIDAgMTIgMTJBMTIgMTIgMCAwIDAgMTIgMHonIGZpbGw9JyMzMzMzMzMnLz48cGF0aCBkPSdNMTYuOTEgMTEuMjVhLjg5Ljg5IDAgMCAxIDAgMS40N2wtNi44MiA0LjQ5YS42Ni42NiAwIDAgMS0uMzQuMTIuNzQuNzQgMCAwIDEtLjM4LS4xMiAxIDEgMCAwIDEtLjM3LS43NHYtOWEuODkuODkgMCAwIDEgLjM0LS43NC42LjYgMCAwIDEgLjcyIDB6JyBmaWxsPScjZmZmZmZmJy8+PC9zdmc+);
}

.slick-slider {
    position: relative;
    display: block;
    box-sizing: border-box;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -ms-touch-action: pan-y;
    touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}

.slick-list {
    position: relative;
    overflow: hidden;
    display: block;
    margin: 0;
    padding: 0;
    outline: none;
}

.slick-list:focus, .slick-list:active {
    outline: none;
}

.slick-list.dragging {
    cursor: pointer;
    cursor: hand;
    outline: none;
}

.slick-slider .slick-track, .slick-slider .slick-list {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.slick-track {
    position: relative;
    left: 0;
    top: 0;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.slick-track:before, .slick-track:after {
    content: "";
    display: table;
}

.slick-track:after {
    clear: both;
}

.slick-loading .slick-track {
    visibility: hidden;
}

.slick-slide {
    float: left;
    outline: none;
    height: 100%;
    min-height: 1px;
}

[dir="rtl"] .slick-slide {
    float: right;
}

.slick-slide img {
    display: block;
}

.slick-slide.slick-loading img {
    display: none;
}

.slick-slide.dragging img {
    pointer-events: none;
}

.slick-initialized .slick-slide {
    display: block;
}

.slick-loading .slick-slide {
    visibility: hidden;
}

.slick-vertical .slick-slide {
    display: block;
    height: auto;
    border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
    display: none;
}

.dhHoka {
    padding-left: 8px;
    padding-right: 8px;
    font-size: 30px;
    font-family: Gilroy, Arial, system-ui, sans-serif;
    font-weight: 300;
    line-height: 0.9;
    position: relative;
}

.dhHoka::after {
    content: ':';
    position: absolute;
    top: 0;
    right: 0;
    -webkit-transform: translatex(50%);
    -ms-transform: translatex(50%);
    transform: translatex(50%);
}

.dhHoka:nth-last-child(1)::after {
    content: '';
}

.fVBiLJ {
    margin-right: -8px;
    color: #ffe324;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
}

.eDGfNY {
    margin-top: 11px;
    padding-top: 15px;
    padding-bottom: 15px;
    width: 320px;
    background-color: #fff;
    border: 4px solid #f0f0f0;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}

.hCojAQ {
    margin-bottom: 20px;
    padding-left: 15px;
    padding-right: 15px;
    height: 363px;
    font-size: 18px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: flex-end;
    -webkit-box-align: flex-end;
    -ms-flex-align: flex-end;
    align-items: flex-end;
    text-shadow: 1px 2px 0 #fede3b;
}

.gekNSZ {
    margin: 0;
    height: auto;
    max-width: 100%;
    display: block;
    height: auto;
    max-width: 100%;
}

.gekNSZ:not(:last-child) {
    margin-bottom: 5px;
}

.PIZhM {
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    position: relative;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    outline: none;
    -webkit-text-decoration: none;
    text-decoration: none;
    cursor: pointer;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    vertical-align: middle;
    text-align: center;
    margin: 0;
    padding: 0;
    border-radius: 0;
    border: 0;
    color: inherit;
    background-color: transparent;
    text-transform: uppercase;
    padding-left: 25px;
    padding-right: 25px;
    font-size: 18px;
    font-family: Gilroy, Arial, system-ui, sans-serif;
    color: #fff;
    background-color: #d81616;
    height: 63px;
    font-weight: 800;
    border-radius: 9999px;
    min-width: 240px;
    cursor: pointer;
}

.PIZhM:disabled {
    pointer-events: none;
}

.PIZhM:hover {
    background-color: #bd1313;
}

.btEwPM {
    position: absolute;
    z-index: 1;
    top: 49%;
    left: 15px;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    cursor: pointer;
}

.iDyDMT {
    position: absolute;
    z-index: 1;
    top: 49%;
    right: 15px;
    left: auto;
    -webkit-transform: translate(50%, -50%) scaleX(-1);
    -ms-transform: translate(50%, -50%) scaleX(-1);
    transform: translate(50%, -50%) scaleX(-1);
    cursor: pointer;
}

.dmjXKE {
    width: 35px;
    height: 35px;
    background-color: #ffffff;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    display: -webkit-box !important;
    display: -webkit-flex !important;
    display: -ms-flexbox !important;
    display: flex !important;
    border-radius: 100%;
    box-shadow: 0 0 14px 1px rgba(0, 0, 0, 0.1);
}

.bKaNtM {
    outline: none;
}

.hUQoyp {
    font-size: 14px;
    font-family: Gilroy, Arial, system-ui, sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    position: relative;
}

.hUQoyp:after {
    content: ' ';
    display: block;
    position: absolute;
    top: 30px;
    left: calc(50% - 25px);
    width: 52px;
    height: 1px;
    background-color: #000000;
}

.bejade {
    width: 100%;
    height: 127px;
    color: #000000;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: space-evenly;
    -webkit-justify-content: space-evenly;
    -ms-flex-pack: space-evenly;
    justify-content: space-evenly;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    overflow: hidden;
}

.kYawPJ {
    font-size: 14px;
    font-family: Gilroy, Arial, system-ui, sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    position: relative;
}

.kYawPJ:after {
    content: ' ';
    display: block;
    position: absolute;
    top: 30px;
    left: calc(50% - 25px);
    width: 52px;
    height: 1px;
    background-color: #000000;
}

.fFrGqm {
    padding-left: 9px;
    padding-right: 9px;
    font-size: 17px;
    color: #fff;
    text-align: center;
    font-family: Gilroy, Arial, system-ui, sans-serif;
    text-align: center;
    border-radius: 18px;
    background-color: #393a45;
    display: inline-block;
}

.hgYkbD {
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid #4267b2;
}

.ixEIuR {
    width: 2px;
    height: 2px;
    background-color: #898989;
    border-radius: 50%;
}

.kMqotx {
    padding-bottom: 15px;
    font-size: 20px;
    font-family: Gilroy, Arial, system-ui, sans-serif;
    font-weight: 800;
    border-bottom: 1px solid #dadde1;
}

.kyWLHa {
    margin-left: 5px;
    width: 255px;
    background-color: #f2f3f5;
    padding: 10px 15px 17px 15px;
    border-radius: 20px;
    position: relative;
}

.bFrsoI {
    padding-left: 2px;
    width: 100%;
    background-color: #fff;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}

.iQnHKr {
    width: 100%;
    background-color: #fff;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}

.eEaOub {
    width: 290px;
    text-align: center;
}

.eEaOub:not(:last-child) {
    margin-bottom: 40px;
}

.iFPEmP {
    overflow: hidden;
}

.vMzMh {
    background-color: #f4f4f4;
}

.jhqOuX {
    width: 320px;
    max-width: 320px;
    margin: 0 auto;
    padding: 0 15px;
    position: relative;
}

.jAvwLZ {
   border-top: 1px solid #e7e7e7;
   padding-top: 19px;
   padding-bottom: 25px;
   margin-top: 10px;
}

.grIaGQ {
    margin-top: 0;
    margin-bottom: 12px;
    font-family: 'Gilroy', HelveticaNeueCyr, Arial, sans-serif;
    font-size: 11px;
    font-weight: 300;
    color: #000000;
    text-align: center;
    line-height: 1.2em;
}

.fPUOAb {
    width: 270px;
    height: 64px;
    display: block;
    margin: 0 auto 7px;
    -webkit-text-decoration: none;
    text-decoration: none;
    cursor: pointer;
    outline: none;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' viewBox='0 0 552.73 78.13'%3E%3Cdefs%3E%3Cstyle%3E.cls-1,.cls-4,.cls-5%7Bstroke:%23fff;stroke-miterlimit:10;%7D.cls-1%7Bstroke-width:0.5px;fill:url(%23Безымянный_градиент_317);%7D.cls-2,.cls-3%7Bfill:%23fff;%7D.cls-2%7Bopacity:0.7;%7D.cls-4%7Bfill:%23161616;%7D.cls-5%7Bfill:%234e7bf9;%7D%3C/style%3E%3ClinearGradient id='Безымянный_градиент_317' x1='11.06' y1='14.94' x2='72.83' y2='67.85' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23d3f2ff'/%3E%3Cstop offset='0.14' stop-color='%23a8d1ff'/%3E%3Cstop offset='0.21' stop-color='%2394c2ff'/%3E%3Cstop offset='0.37' stop-color='%2379a7fa'/%3E%3Cstop offset='0.65' stop-color='%234d7af2'/%3E%3Cstop offset='0.87' stop-color='%23315eed'/%3E%3Cstop offset='1' stop-color='%232754eb'/%3E%3C/linearGradient%3E%3C/defs%3E%3Ctitle%3EРесурс 1%3C/title%3E%3Cg id='Слой_2' data-name='Слой 2'%3E%3Cg id='text'%3E%3Cpath class='cls-1' d='M77,74.61H37.15C16.77,74.61.25,57.69.25,37.31h0A37.17,37.17,0,0,1,37.31.25h0A37.17,37.17,0,0,1,74.37,37.31v16c-.18,15.32,3.37,15.45,4.68,18.09a2.44,2.44,0,0,1,.25,2.12C79.1,73.92,78.68,74.61,77,74.61Z'/%3E%3Ccircle class='cls-2' cx='50.83' cy='56' r='2.91'/%3E%3Cpath class='cls-3' d='M32.89,30.79H26.65c-3,0-3.69-.7-3.78-3.87-.07-2.83,1.09-4.29,3.67-4.47,1.32-.09,2.64,0,4,0h19c2.93,0,3.51.6,3.63,3.74.12,2.92-1,4.36-3.5,4.59-1.05.09-2.11,0-3.16,0H43V55c0,4.63,2.38,3.82-3,3.82l-1.74,0c-3.48,0-5.3-1-5.3-6.14Z'/%3E%3Cpath class='cls-4' d='M332.48,58.22V27.52a49.71,49.71,0,0,0-5.18-.9c-5.63-.36-7.77,1.57-7.79,7.19-.07,12.7,0,25.4-.08,38.1,0,2.58,1.05,3.7,3.33,4.22,6.46,1.46,12.89,1.06,16.15-7.11,2.88-7.21,6.58-14.1,9.92-21.12.28-.58.67-1.1,1.39-2.28v25c0,5.79.28,6.08,5.86,6.19,5.26.1,7.19-1.59,7.21-6.61q.07-19,0-38.1a5,5,0,0,0-1.33-3.42c-3.92-3.23-14.07-3-16.84,3.37C341.37,40.61,337,48.88,332.48,58.22Z'/%3E%3Cpath class='cls-4' d='M265.87,51.4c0-6,.09-12,0-18,0-2.73,1.1-4.32,3.65-5,9.48-2.48,18.92-2.85,28.19.92a18.19,18.19,0,0,1,4.91,2.92c8.92,7.58,9.72,17.54,7.31,27.95-2.19,9.54-9,14.68-18.36,16.53A42.67,42.67,0,0,1,272,76.18c-4.86-1.31-6.06-2.92-6.07-7.87C265.86,62.67,265.87,57,265.87,51.4Zm13.58.42c0,3.83-.1,7.67.07,11.5.05.93.89,2.56,1.5,2.62,4.59.49,9.36.62,12.6-3.39,4.45-5.51,4.29-11.87,1.76-18-2.27-5.53-7.21-6.8-12.79-6.6-2.27.09-3.26.73-3.17,3.12C279.55,44.63,279.45,48.22,279.45,51.82Z'/%3E%3Cpath class='cls-4' d='M478.86,59.58V75.91c-1.6.3-3,.66-4.36.81-7.26.76-9.36-1.13-9.36-8.4,0-11.87.13-23.74-.08-35.6-.06-3.26.84-4.69,4.13-5.22,6.63-1.08,9.51,1.13,9.52,7.85a58,58,0,0,0,.77,11.15c1-1.1,1.94-2.18,2.88-3.29q5.61-6.55,11.18-13.14c2.6-3.07,5.44-3.46,9-1.23A6.33,6.33,0,0,1,505,37.31a21.35,21.35,0,0,1-4,5.42c-3.22,3.21-6.67,6.19-10.28,9.51,5.17,5.51,9.72,10.39,14.3,15.23,3.11,3.28,2.38,6.79-1.86,8.58-3.92,1.65-7.37.6-10.18-2.29-3.83-4-7.45-8.12-11.13-12.21-.7-.79-1.27-1.69-1.9-2.53Z'/%3E%3Cpath class='cls-5' d='M149.68,38.7v8h14.58c3.75,0,4.66,1,4.76,4.89.1,3.61-1.28,5.48-4.57,5.58-4.78.16-9.56,0-14.66,0V66.3c5.78,0,11.51.24,17.2-.09,3.54-.21,4.35,1.61,4.62,4.4.33,3.44-1.11,6-4.07,6.08-8.38.2-16.77.24-25.15,0-3.83-.13-6.06-2.81-6.09-6.73q-.17-17.44,0-34.87c0-4.23,2.54-6.73,6.8-6.81,8.27-.16,16.54,0,24.8-.06,3.51,0,3.14,2.76,3.31,4.87.27,3.55-1.26,5.47-4.53,5.6-4.31.17-8.63,0-12.94.06Z'/%3E%3Cpath class='cls-4' d='M434.55,57.23V66.3c5.89,0,11.62.24,17.31-.09,3.54-.21,4.35,1.6,4.62,4.39.33,3.45-1.11,6-4.06,6.09-8.38.2-16.77.24-25.15,0-3.83-.13-6.06-2.8-6.1-6.73q-.17-17.43,0-34.87c.05-4.23,2.54-6.73,6.8-6.81,8.27-.16,16.54,0,24.8-.06,3.52,0,3.14,2.76,3.31,4.86.28,3.56-1.25,5.47-4.53,5.61-4.3.17-8.62,0-12.93.06h-4.06v8h14.57c3.76,0,4.66.94,4.77,4.89.1,3.61-1.28,5.48-4.57,5.58C444.55,57.35,439.76,57.23,434.55,57.23Z'/%3E%3Cpath class='cls-5' d='M235.05,38.83v7.89h14.48c3.83,0,4.71.88,4.86,4.78s-1.3,5.6-4.81,5.71c-4.19.13-8.39,0-12.58.06a16.41,16.41,0,0,0-1.92.23v8.8H251.9c4.14,0,5,.86,5.06,4.94.05,3.63-1.51,5.51-5,5.55-7.67.1-15.34.13-23,0-4.75-.09-7.26-2.73-7.29-7.51q-.09-16.71,0-33.42c0-5.18,2.53-7.62,7.82-7.66,7.43-.07,14.86,0,22.28,0,3.91,0,4.76.83,4.92,4.75.15,3.68-1.37,5.63-4.84,5.73-4.67.14-9.35,0-14,.05C237,38.71,236.16,38.78,235.05,38.83Z'/%3E%3Cpath class='cls-4' d='M387.69,61.34v14.6c-1.41.28-2.56.57-3.72.73-7.49,1-9.85-1-9.85-8.58,0-11.26.12-22.52-.08-33.77-.06-3.51,1.25-5.42,4.52-6.21,7.32-1.75,14.65-2.24,22-.18,8.59,2.42,13.13,8.59,12.68,17.19-.45,8.43-5.44,13.86-14.36,15.26C395.37,60.93,391.78,61,387.69,61.34Zm.2-10.87c4.07-.26,8.48,1.22,10.56-3.08a8.24,8.24,0,0,0-.45-6.93c-2.38-3.56-6.4-2.55-10.11-2.23Z'/%3E%3Cpath class='cls-5' d='M114.86,38.68V75.93c-1.64.3-3,.66-4.41.8-7,.72-9.19-1.24-9.19-8.23V38.7H92.73c-4.07,0-4.87-.79-5.11-5s1.39-6.18,5-6.41c2-.13,4.07,0,6.11,0q12.57,0,25.15,0c4,0,4.76.82,4.91,5.13.15,4-1.31,6-4.8,6.21C121.16,38.82,118.29,38.68,114.86,38.68Z'/%3E%3Cpath class='cls-4' d='M538.25,38.68V75.92c-1.75.32-3.22.71-4.72.84-6.81.61-8.95-1.38-9-8.18q0-14.37-.08-28.75a5.65,5.65,0,0,0-.4-1.13,66,66,0,0,0-8.31.07c-4.08.5-4.53-2.11-4.81-5-.34-3.63,1.2-6,4.25-6.41a36.64,36.64,0,0,1,5-.09q13.47,0,27,0c4,0,4.78.82,5,5.05.22,3.86-1.34,6.07-4.76,6.29C544.5,38.83,541.53,38.68,538.25,38.68Z'/%3E%3Cpath class='cls-5' d='M180.49,28.41c1.63-.37,2.88-.72,4.16-.93,6.74-1.1,9.42,1.14,9.42,7.89,0,9.8,0,19.61,0,30.05h14.68c4.23,0,5.15.89,5.34,5.1.18,4-1.45,6.21-5.14,6.26-7.18.12-14.36.16-21.54,0-4.25-.1-6.85-2.64-6.89-6.75C180.42,56.25,180.49,42.5,180.49,28.41Z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E"), url(logo_bg-f5ee63e1f2fc9da39f0f3a91d5b75c07.png);
    background-repeat: no-repeat;
    background-position: center 11px, center;
    background-size: 166px 24px, auto;
}