.distance {
  padding: 92px 0;
  position: relative
}

button {
  outline: none
}

.clear {
  clear: both
}

h2 {
  font-family: Oswald;
  font-size: 44px;
  line-height: 1.3em;
  margin: 0 0 45px 0
}

p {
  font-family: Roboto-Light;
  font-size: 20px
}

.red {
  color: #f40e46
}

.white {
  color: #fff
}

.blue {
  color: #0f2347
}

h3 {
  margin: 0
}

body {
  overflow-x: hidden
}

header {
  height: 63px;
  background-color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10
}

header div {
  height: inherit
}

.btnMenu {
  display: none;
  width: 50px;
  height: 50px;
  float: right;
  background-color: #ecf2ff;
  border-radius: 50%;
  position: relative;
  cursor: pointer;
  z-index: 10;
  margin-top: 5px
}

.btnMenu span,
.btnMenu span::before,
.btnMenu span::after {
  position: absolute;
  top: 50%;
  margin-top: -1px;
  left: 50%;
  margin-left: -10px;
  width: 20px;
  height: 2px;
  background-color: #222
}

#logo {
  display: flex;
  align-items: center
}

menu {
  padding: 0;
  margin: 0;
  height: inherit
}

menu ul {
  height: inherit;
  margin: 0;
  padding: 0 40px 0 15px;
  display: flex;
  align-items: center
}

menu li {
  list-style: none;
  height: inherit
}

menu a {
  display: flex;
  align-items: center;
  height: inherit;
  font-family: Roboto-Regular;
  font-size: 16px;
  color: #0f2347;
  text-decoration: none;
  padding: 0 20px
}

menu a:hover {
  background-color: #e0e9ff;
  text-decoration: none
}

.btnCallback {
  color: #fff;
  background-color: #173f76;
  border: none;
  border-radius: 6px;
  width: 100%;
  padding: 8px 0;
  margin: 15px 0;
  -webkit-transition: background .5s;
  -moz-transition: background .5s;
  -o-transition: background .5s;
  transition: background .5s
}

.btnCallback:hover {
  color: #173f76;
  background-color: #fff;
  border: 1px solid #173f76
}

.main {
  background-color: #e0e9ff;
  background-image: url(main_bg.png);
  background-repeat: no-repeat;
  background-position: bottom;
  overflow-x: hidden
}

.main p {
  font-family: Roboto-Regular;
  font-size: 14px
}

.contant {
  padding-top: 75px
}

.main h2 {
  margin-top: 10px;
  width: 550px;
  font-size: 64px;
  color: #0f2347
}

.main h4 {
  font-family: Roboto-Regular;
  font-size: 30px;
  margin-top: 25px
}

.product {
  margin-top: 30px;
  height: 350px;
  background-image: url(product.png);
  background-repeat: no-repeat
}

.effects {
  margin-left: 432px
}

.effects ul {
  padding: 5px 10px
}

.effects li {
  list-style-type: none;
  font-family: Roboto-Regular;
  font-size: 19px;
  line-height: 1.2em;
  height: 85px;
  font-weight: 600
}

.effects li:before {
  content: ' ';
  background-image: url(mark.png);
  background-repeat: no-repeat;
  width: 45px;
  height: 85px;
  display: block;
  float: left
}

.orderForm,
.protection {
  float: right
}

.orderForm {
  border: 5px solid #fff;
  width: 310px;
  height: 550px;
  margin-top: 90px;
  text-align: center
}

.orderForm h3 {
  color: #173f76;
  font-family: Roboto-Medium;
  font-size: 23px;
  line-height: 1.2em;
  padding-top: 15px
}

.orderForm h3 span {
  font-size: 18px
}

.orderForm p {
  padding-top: 15px;
  font-weight: 600
}

.inner_counter {
  padding: 8px 6px;
  background-color: #0f2347;
  color: #fff
}

.text_timer {
  font-family: Roboto-Regular;
  font-size: 28px
}

.timer p {
  width: 43px;
  margin: 0 10px;
  padding-top: 10px;
  font-size: 12px
}

.time {
  padding: 0;
  display: flex;
  justify-content: center
}

.orderForm h5 {
  font-family: Oswald;
  font-size: 26px;
  color: #000
}

.orderForm .red {
  font-size: 44px
}

input {
  width: 280px;
  height: 48px;
  border: none;
  margin: 10px 0 11px 0;
  padding-left: 25px;
  font-family: Roboto-Regular;
  font-size: 16px;
  color: #98a0b0
}

.btnOrder {
  margin-top: 12px;
  width: 280px;
  height: 75px;
  padding: 0 35px;
  border: none;
  border-radius: 6px;
  font-family: Roboto-Medium;
  font-size: 20px;
  color: #fff;
  background-color: #f40e46;
  box-shadow: 0 25px 20px -15px #eb6e95
}

.btnOrder:hover {
  -webkit-transition: background .5s;
  -moz-transition: background .5s;
  -o-transition: background .5s;
  transition: background .5s;
  background-color: #fff;
  color: #f40e46;
  border: 1px solid #f40e46
}

.for_ {
  display: block
}

.for_,
.protection span {
  margin-top: 18px;
  font-family: Roboto-Regular;
  font-size: 16px;
  font-weight: 400;
  color: #2c3d5c;
  opacity: .7
}

.protection img {
  float: left;
  padding-right: 10px
}

.protection {
  margin-top: 15px;
  width: 235px;
  margin-bottom: 92px
}

.contant {
  position: relative
}

.starper {
  position: absolute;
  background-image: url(ded.png);
  width: 537px;
  height: 639px;
  right: -527px;
  bottom: 5px
}

.circle {
  position: absolute;
  width: 46px;
  height: 46px;
  top: -23px;
  left: 49%;
  background-color: #de0e42;
  border: 5px solid #fff;
  border-radius: 23px;
  box-shadow: 0 0 35px 3px #eb6e95;
  animation: radial-pulse 1.2s infinite
}

.video_block {
  background-color: #10203c
}

.movie {
  padding-left: 0
}

.movie div {
  width: 100%;
  height: 320px;
  background-color: #000;
  margin-top: 12px
}

.koleno {
  position: absolute;
  background-image: url(3_bg.png);
  width: 626px;
  height: 645px;
  right: 35px;
  top: -92px
}

.risks_block h2 {
  margin-bottom: 12px
}

.risks_inner ul {
  margin: 0;
  padding: 75px 40px 0 5px;
  display: flex;
  align-items: center
}

.risks_inner li {
  list-style-type: none;
  font-family: Roboto-Regular;
  font-size: 20px;
  width: 33%;
  font-weight: 500;
  padding-right: 30px
}

.risks_inner li:before {
  content: ' ';
  background-image: url(mark_2.png);
  background-repeat: no-repeat;
  width: 65px;
  height: 55px;
  display: block;
  float: left
}

.reasons_grey {
  background-color: #ecf2ff
}

.reasons_grey .distance {
  background-image: url(4_bg.png);
  background-repeat: no-repeat;
  background-position: bottom 0 right 0
}

.reasons_grey p {
  font-family: Roboto-Light;
  font-size: 20px;
  padding-top: 20px
}

.reasons_grey li {
  list-style-type: none;
  height: 65px
}

.reasons_grey li:before {
  content: '!';
  font-family: Oswald;
  font-weight: 600;
  font-size: 41px;
  color: #f40e46;
  width: 45px;
  display: block;
  float: left
}

.careful {
  width: 530px;
  height: 140px;
  margin: 20px 0 0 45px;
  background-color: inherit;
  border: 5px solid #fff;
  font-family: Roboto-Light;
  font-size: 26px;
  padding: 0 65px;
  box-shadow: inset 10px 10px 10px #e2e9f8, 10px 10px 10px #e2e9f8
}

.reasons_white {
  position: relative;
  text-align: center
}

.reasons_white h3 {
  font-family: Roboto-Medium;
  font-size: 28px;
  padding: 79px 150px 0 150px
}

.reasons_white p {
  font-family: Roboto-Regular;
  color: #000;
  font-size: 20px;
  padding: 20px 120px 40px 140px
}

.doctors {
  background-color: #10203c
}

.doctors h2 {
  padding-top: 8px;
  text-align: center
}

.doctors img {
  padding-top: 10px;
  width: 519px;
  height: 550px
}

.arrow {
  position: absolute;
  top: 240px;
  right: 15px;
  width: 70px;
  height: 70px;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 8px solid #10203c;
  border-radius: 35px;
  z-index: 3
}

.arrow img {
  padding: 0;
  width: 14px;
  height: 27px
}

.doctors h4 {
  font-family: Roboto-Regular;
  font-size: 24px
}

.doctors p {
  padding-top: 15px;
  font-family: Roboto-Light;
  font-size: 20px
}

.points {
  display: flex
}

.fix_height {
  height: 500px
}

.points_inner {
  width: 12px;
  height: 12px;
  background-color: #fff;
  border: 3px solid #fff;
  border-radius: 6px;
  margin: 20px 20px 0 0
}

.activePoint {
  background-color: #de0e42;
  border: 3px solid #de0e42
}

.doctors_images,
.slide_text {
  position: absolute;
  opacity: 0;
  z-index: 1;
  -webkit-transition: opacity 1s;
  -moz-transition: opacity 1s;
  -o-transition: opacity 1s;
  transition: opacity 1s
}

.showing {
  opacity: 1;
  z-index: 2
}

.sl {
  height: 850px
}

.effects_block {
  background-image: url(effects_bg.png);
  background-position: bottom;
  background-repeat: no-repeat
}

.effects_block h2 {
  color: #0f2347;
  margin-bottom: 30px
}

.effects_block p,
.circleText h4 {
  color: #0f2347;
  font-family: Roboto-Regular;
  font-size: 22px
}

.effects_title {
  padding: 0 75px
}

.circleText {
  width: 300px
}

.circleText p {
  font-family: Roboto-Light;
  font-size: 16px
}

.circleItem {
  position: relative;
  margin: 45px 0
}

.bg_img {
  position: relative;
  margin-left: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 166px;
  height: 166px;
  border: none;
  border-radius: 83px;
  background-color: #ecf2ff
}

.circleUp {
  position: absolute;
  width: 32px;
  height: 32px;
  top: -15px;
  left: 65px;
  background-color: #de0e42;
  border: 4px solid #fff;
  border-radius: 16px;
  box-shadow: 0 0 5px 3px #bdc5d1
}

#animated {
  animation: radial-pulse 1s infinite
}

.circleBottom {
  margin-top: 210px
}

.LastChild {
  padding-left: 85px
}

.SecondChild {
  padding-left: 55px
}

.effects_product {
  position: relative
}

.effects_product img {
  position: absolute;
  width: 483px;
  height: 400px;
  top: 360px;
  left: 30%
}

.comments h2 {
  text-align: center
}

.sl_2 {
  margin-top: 15px;
  width: 925px;
  height: 460px;
  background-color: #cadcff;
  border-radius: 7px
}

.slider_item {
  height: inherit;
  display: flex
}

.slider_img img {
  margin-right: 8px;
  width: 345px;
  height: 460px
}

.slider_content {
  width: 575px
}

.slider_content img {
  padding: 20px 0
}

.slider_content span {
  font-family: Roboto-Medium;
  font-size: 18px
}

.arrow_right,
.arrow_left {
  position: absolute;
  top: 40%;
  width: 70px;
  height: 70px;
  background-color: #cadcff;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 8px solid #fff;
  border-radius: 35px;
  z-index: 3
}

.arrow_right {
  right: 0
}

.arrow_left {
  left: -20px
}

.dot {
  margin-top: 25px;
  display: flex;
  justify-content: center;
  width: 100%
}

.dot_inner {
  width: 22px;
  height: 22px;
  background-color: #fff;
  border: 1px solid #cadcff;
  border-radius: 11px;
  margin: 20px 10px
}

.dotActive {
  -webkit-transition: opacity 1s;
  -moz-transition: opacity 1s;
  -o-transition: opacity 1s;
  transition: opacity 1s;
  background-color: #cadcff
}

.black_box {
  display: none;
  width: 487px;
  height: 311px;
  background-color: #000;
  margin: 60px 20px 0 20px;
  border-radius: 8px
}

video {
  outline: none;
  width: inherit;
  height: inherit
}

.HowTo {
  background-color: #ecf2ff;
  text-align: center
}

.arrow_blue {
  padding-top: 75px
}

.HowTo p {
  font-size: 16px
}

.hImg {
  height: 220px
}

.Code h2 {
  text-align: center;
  margin-bottom: 65px
}

.product_bg {
  background-image: url(Code_bg.png);
  background-repeat: no-repeat
}

.grey_content {
  position: relative;
  float: right;
  width: 415px;
  height: 250px;
  background-color: #cadcff;
  border-radius: 8px;
  margin: 85px 0
}

.grey_content p {
  padding: 25px;
  font-size: 18px
}

.grey_content .circleUp {
  left: 25px
}

.codeForm {
  text-align: center;
  margin-top: 20px;
  float: right;
  width: 330px;
  height: 360px;
  border: 5px solid #ecf2ff
}

.codeForm img {
  padding: 35px 0
}

.codeForm input {
  background-color: #ecf2ff;
  color: #b2b8c2;
  height: 55px
}

.trust h2 {
  text-align: center
}

.trust {
  background-color: #10203c;
  background-image: url(trust_bg.png);
  background-repeat: no-repeat
}

.trust_inner {
  display: flex;
  justify-content: space-around
}

.trust_element {
  width: 225px;
  height: 285px;
  background-color: #fff;
  border-radius: 8px
}

.trust_element img {
  height: inherit;
  width: 100%
}

.delivery {
  text-align: center
}

.delivery_inner {
  display: flex;
  justify-content: center
}

div.arrow_blue {
  height: 31px;
  padding-top: 90px
}

.delivery_element {
  width: 300px
}

.delivery_element p {
  font-size: 18px
}

.delivery_img {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 184px;
  height: 184px;
  background-color: #e0e9ff;
  border-radius: 92px;
  margin: 20px 65px
}

.delivery_img .circleUp {
  left: 41%
}

#end h2 {
  width: 700px
}

footer {
  padding: 50px;
  text-align: center;
  background-color: #10203c;
  color: #fff
}

@keyframes radial-pulse {
  0% {
    box-shadow: 0 0 10px 2px #eb6e95;
  ;
  }
  100% {
    box-shadow: 0 0 2px 40px rgba(0, 0, 0, 0);
  }
}