html {
    font-family: "PT Sans Caption", arial;
    font-size: 14px;
}
ul,
ol,
p,
body,
h1,
h2,
h3,
h4,
h5,
h6,
figure {
    padding: 0px;
    margin: 0px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Lobster", arial;
    font-weight: normal;
}
a {
    color: inherit;
    text-decoration: none;
}
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}
.center-wrapper {
    width: 990px;
    margin: 0px auto;
}
.left {
    float: left;
}
.right {
    float: right;
}
img.inside {
    display: none;
}
.for640,
.for320 {
    display: none;
}
#header {
    width: 100%;
    position: fixed;
    z-index: 1000;
    background-color: rgb(0, 196, 153);
    color: rgb(255, 255, 255);
    font-family: "PT Sans Caption Bold", arial;
    font-size: 0px;
    box-shadow: 2px 0px 5px rgba(0, 0, 0, 0.2);
}
#header .nav {
    font-size: 16px;
    padding: 25px 0px;
}
#header .nav li {
    display: inline-block;
    padding-right: 55px;
}
#block1 {
    background: transparent url("block1-bg.jpg") /*tpa=http://waist-trainer.me/dis_cens3/block1-bg.jpg*/ no-repeat scroll 50% 0px / cover;
    color: rgb(255, 255, 255);
}
#block1 .content {
    position: relative;
    padding: 165px 0px 70px;
}
#block1 .content .arrow {
    position: absolute;
    top: 54%;
    left: 56%;
}
#block1 .content .column {
    width: 50%;
}
#block1 .content .column h1 {
    padding-bottom: 20px;
    font-family: "Lobster", arial;
    font-size: 45px;
    font-weight: normal;
}
#block1 .content h1 + p {
    line-height: 24px;
    color: rgba(255, 255, 255, 0.8);
}
#block1 .content .info {
    padding-top: 45px;
}
#block1 .content .info .effects {
    padding-left: 15px;
    padding-bottom: 45px;
    line-height: 25px;
    color: rgba(255, 255, 255, 0.8);
}
[id^="block"] .content .prices {
    font-family: "Lobster", arial;
    font-size: 25px;
}
[id^="block"] .content .prices .old {
    color: rgba(255, 255, 255, 0.5);
    text-decoration: line-through;
    padding-right: 20px;
}
#block1 .content .info .prices {
    padding-bottom: 50px;
}
#block1 .content .info .rest {
    color: rgba(255, 255, 255, 0.8);
}
#block1 .content .product {
    position: relative;
}
#block1 .content .product img {
    position: absolute;
    top: -35px;
    right: 0px;
}
#block1 .content form {
    padding-top: 60px;
    width: 280px;
}
#block1 .content form .inp {
    box-sizing: border-box;
    width: 100%;
    height: 48px;
    padding: 15px;
    margin-bottom: 15px;
    color: rgb(255, 255, 255);
    border: 1px dashed rgba(255, 255, 255, 0.78);
    background-color: rgba(255, 255, 255, 0.1);
}
#block1 .content form select.inp {
    background-image: url("select-arrow.png") /*tpa=http://waist-trainer.me/dis_cens3/select-arrow.png*/;
    background-repeat: no-repeat;
    background-position: 95% 50%;
    -moz-appearance: none;
}
#block1 .content form select.inp option {
    background-color: rgba(0, 0, 0, 0.5);
}
#block1 .content form .inp[type="submit"] {
    height: 55px;
    margin-top: 10px;
    background-color: rgb(220, 35, 68);
    border: medium none;
    font-size: 24px;
    line-height: 24px;
    cursor: pointer;
}
#block2 {
    color: rgb(95, 92, 93);
}
#block2 .content {
    padding-top: 50px;
    padding-bottom: 75px;
}
#block2 .content h2 {
    padding-bottom: 25px;
    text-align: center;
    font-size: 30px;
    font-family: "Lobster", arial;
}
#block2 .content .description {
    width: 639px;
    margin: 0px auto;
    padding-bottom: 70px;
    text-align: center;
    line-height: 23px;
}
#block2 .content .value {
    min-height: 385px;
    width: 425px;
}
#block2 .content .value img {
    width: 425px;
}
#block2 .content .value.product img {
    width: auto;
}
#block2 .content .value h3 {
    padding-top: 30px;
    padding-bottom: 15px;
    font-size: 21px;
    line-height: 21px;
}
#block2 .content .value h3 + p {
    line-height: 23px;
}
#block2 .content .expert {
    position: relative;
}
#block2 .content .expert h2 {
    text-align: left;
    font-size: 30px;
}
#block2 .content .expert h2 + p {
    width: 53%;
    text-align: left;
    line-height: 30px;
}
#block2 .content .expert img {
    width: 475px;
    position: absolute;
    bottom: -75px;
    right: 0px;
}
[id^="block"] .content form {
    width: 280px;
}
[id^="block"] .content form .inp {
    box-sizing: border-box;
    width: 100%;
    height: 48px;
    padding: 15px;
    margin-bottom: 15px;
    color: rgb(255, 255, 255);
    border: 1px dashed rgba(255, 255, 255, 0.78);
    background-color: rgba(255, 255, 255, 0.1);
}
[id^="block"] .content form select.inp {
    background-image: url("select-arrow.png") /*tpa=http://waist-trainer.me/dis_cens3/select-arrow.png*/;
    background-repeat: no-repeat;
    background-position: 95% 50%;
    -moz-appearance: none;
}
[id^="block"] .content form select.inp option {
    background-color: rgba(0, 0, 0, 0.5);
}
[id^="block"] .content form .inp[type="submit"] {
    height: 55px;
    margin-top: 10px;
    background-color: rgb(220, 35, 68);
    border: medium none;
    font-size: 24px;
    line-height: 24px;
    cursor: pointer;
}
#block3 {
    background: transparent url("block3-bg.jpg") /*tpa=http://waist-trainer.me/dis_cens3/block3-bg.jpg*/ no-repeat scroll 50% 1px;
    color: rgb(255, 255, 255);
}
#block3 .content {
    padding-top: 90px;
    padding-bottom: 90px;
}
#block3 .content h2 {
    padding-bottom: 35px;
    font-size: 35px;
    line-height: 35px;
}
#block3 .content .prices {
    padding-top: 35px;
    padding-bottom: 35px;
}
#block3 .content .rest {
    color: rgba(255, 255, 255, 0.8);
}
#block3 .content .product {
    position: relative;
}
#block3 .content .product img {
    position: absolute;
    top: -40px;
    left: 355px;
}
#block4 {
    background: transparent url("block4-bg.jpg") /*tpa=http://waist-trainer.me/dis_cens3/block4-bg.jpg*/ no-repeat scroll 50% 2px;
    color: rgb(95, 92, 93);
}
#block4 .content {
    padding-top: 390px;
}
#block4 .content .section:nth-child(1),
#block4 .content .section:nth-child(2) {
    min-height: 310px;
}
#block4 .content .section:nth-child(3),
#block4 .content .section:nth-child(4) {
    min-height: 400px;
}
#block4 .content .section .text {
    width: 50%;
    line-height: 28px;
}
#block4 .content .section .text h2 {
    padding-bottom: 40px;
    font-size: 30px;
    line-height: 30px;
}
#block4 .content .section:nth-child(1) .text h2 {
    padding-left: 50px;
}
#block4 .content .section:nth-child(1) .text ul {
    padding-left: 65px;
}
#block4 .content .section:nth-child(3) img {
    padding-right: 130px;
}
#block4 .content .section:nth-child(3) img,
#block4 .content .section:nth-child(4) img {
    position: relative;
    top: -20px;
}
#block4 .content .section:nth-child(3) .text ul {
    padding-left: 15px;
}
#block4 .content .section:nth-child(4) .text {
    width: 54%;
}
#block5 {
    background: transparent url("block5-bg.jpg") /*tpa=http://waist-trainer.me/dis_cens3/block5-bg.jpg*/ no-repeat scroll 50% 0px;
    color: rgb(255, 255, 255);
}
#block5 .content {
    padding-top: 90px;
    padding-bottom: 90px;
}
#block5 .content h2 {
    padding-bottom: 35px;
    font-size: 35px;
    line-height: 35px;
}
#block5 .content .prices {
    padding-top: 35px;
    padding-bottom: 35px;
}
#block5 .content .rest {
    color: rgba(255, 255, 255, 0.8);
}
#block5 .content .product {
    position: relative;
}
#block5 .content .product img {
    position: absolute;
    top: -40px;
    left: 355px;
}
#block6 {
    /*background: transparent url('block6-bg.jpg') no-repeat scroll 50% 2px; color: rgb(95, 92, 93);*/

    margin-top: -374px;
}
#block6 .content {
    padding-top: 390px;
}
#block6 .content h2 {
    padding-bottom: 60px;
    text-align: center;
    font-size: 30px;
    line-height: 30px;
}
#block6 .content .review {
    min-height: 270px;
}
#block6 .content .review figure {
    float: left;
    padding-right: 35px;
}
#block6 .content .review figure img {
    width: 260px;
}
#block6 .content .review .weight {
    font-family: "Lobster", arial;
    font-size: 40px;
    line-height: 40px;
}
#block6 .content .review .labels {
    padding-bottom: 30px;
}
#block6 .content .review .labels span:first-child {
    padding-right: 15px;
}
#block6 .content .review .text {
    line-height: 28px;
}
#block6 .content .review .person {
    width: 260px;
    text-align: center;
    padding-top: 20px;
    font-family: "Lobster", arial;
    font-size: 21px;
    line-height: 30px;
}
#block7 {
    background: transparent url("block7-bg.jpg") /*tpa=http://waist-trainer.me/dis_cens3/block7-bg.jpg*/ no-repeat scroll 50% 0px;
    color: rgb(255, 255, 255);
    box-shadow: 2px 0px 2px rgba(0, 0, 0, 0.53);
}
#block7 .content {
    padding-top: 90px;
    padding-bottom: 90px;
}
#block7 .content h2 {
    padding-bottom: 35px;
    font-size: 35px;
    line-height: 35px;
}
#block7 .content .prices {
    padding-top: 35px;
    padding-bottom: 35px;
}
#block7 .content .rest {
    color: rgba(255, 255, 255, 0.8);
}
#block7 .content .product {
    position: relative;
}
#block7 .content .product img {
    position: absolute;
    top: -40px;
    left: 355px;
}
#footer {
    min-height: 100px;
    text-align: center;
    background-color: rgb(0, 196, 153);
    color: rgb(255, 255, 255);
    font-family: arial;
    font-size: 13px;
    line-height: 22px;
}
#footer .content {
    padding: 25px 0px;
}
#footer .content a {
    text-decoration: underline;
}
@media screen and (max-width: 990px) {
    img.inside {
        display: block;
    }
    img.outside {
        display: none;
    }
    .for990,
    .for320 {
        display: none;
    }
    .for640 {
        display: block;
    }
    .center-wrapper {
        width: 570px;
    }
    .left,
    .right {
        float: none;
    }
    #header {
        display: none;
    }
    #block1 .content {
        padding-top: 70px;
    }
    #block1 .content .column {
        width: 100%;
    }
    #block1 .content .column h1 {
        text-align: center;
    }
    #block1 .content h1 + p {
        text-align: center;
    }
    #block1 .content .product img {
        width: 190px;
        top: -265px;
        right: 30px;
    }
    #block1 .content .info .rest {
        display: none;
    }
    #block1 .content .arrow {
        display: none;
    }
    #block1 .content form {
        margin: 0px auto;
    }
    #block1 .content .info .effects {
        padding-left: 80px;
    }
    #block1 .content .info .prices {
        padding-left: 80px;
    }
    #block2 .content {
        padding-bottom: 0px;
    }
    #block2 .content .description {
        width: auto;
    }
    #block2 .content .value {
        margin: 0px auto;
    }
    #block2 .content .value.product img {
        margin-left: 15px;
    }
    #block2 .content .expert h2 {
        text-align: center;
    }
    #block2 .content .expert h2 + p {
        width: 100%;
    }
    #block2 .content .expert img {
        position: static;
    }
    #block3 {
        background: transparent url("block3-bg-640.jpg") /*tpa=http://waist-trainer.me/dis_cens3/block3-bg-640.jpg*/ no-repeat scroll 50% 0px;
    }
    #block3 .content {
        padding-top: 60px;
    }
    #block3 .content h2 {
        text-align: center;
    }
    #block3 .content .prices {
        text-align: center;
    }
    [id^="block"] .content form {
        margin: 0px auto;
    }
    #block3 .content .rest {
        display: none;
    }
    #block3 .content .product {
        display: none;
    }
    #block4 .content .section {
        width: 485px;
        margin: 0px auto;
    }
    #block4 .content .section .text {
        width: 100%;
        padding-bottom: 55px;
    }
    #block4 .content .section .text h2 {
        text-align: center;
    }
    #block4 .content .section img {
        padding-bottom: 65px;
    }
    #block4 .content .section:nth-child(1) .text h2 {
        padding-left: 0px;
    }
    #block4 .content .section:nth-child(1) .text ul {
        padding-left: 15px;
    }
    #block4 .content .section:nth-child(3) img,
    #block4 .content .section:nth-child(4) img {
        width: 245px;
        padding: 35px 0px 35px 102px;
    }
    #block4 .content .section:nth-child(4) .text {
        width: 100%;
    }
    #block5 .content h2 {
        text-align: center;
    }
    #block5 .content .prices {
        text-align: center;
    }
    #block5 .content .rest {
        display: none;
    }
    #block5 .content .product {
        display: none;
    }
    #block5 {
        background: transparent url("block5-bg-640.jpg") /*tpa=http://waist-trainer.me/dis_cens3/block5-bg-640.jpg*/ no-repeat scroll 50% 0px;
    }
    #block6 .content .review figure {
        float: none;
        padding-right: 0px;
        text-align: center;
    }
    #block6 .content .review .person {
        width: auto;
        padding: 0px 0px 20px;
    }
    #block6 .content .review .weight {
        padding-top: 30px;
        text-align: center;
    }
    #block6 .content .review .labels {
        text-align: center;
    }
    #block7 {
        background: transparent url("block7-bg-640.jpg") /*tpa=http://waist-trainer.me/dis_cens3/block7-bg-640.jpg*/ no-repeat scroll 50% 0px;
        padding-bottom: 325px;
    }
    #block7 .content h2 {
        text-align: center;
    }
    #block7 .content .prices {
        text-align: center;
    }
    #block6 .content .review {
        padding-bottom: 60px;
    }
    #block7 .content .rest {
        display: none;
    }
    #block7 .content .product img {
        top: 0px;
        left: 159px;
    }
}
@media screen and (max-width: 639px) {
    .center-wrapper {
        width: 320px;
    }
    .for990,
    .for640 {
        display: none;
    }
    .for320 {
        display: block;
    }
    #block1 {
        background: transparent url("block1-bg-320.jpg") /*tpa=http://waist-trainer.me/dis_cens3/block1-bg-320.jpg*/ no-repeat scroll 50% 0px;
    }
    #block1 .content {
        padding-top: 50px;
        padding-bottom: 60px;
    }
    #block1 .content .info .effects {
        padding-left: 70px;
    }
    #block1 .content .info {
        padding-bottom: 210px;
    }
    #block1 .content .info .prices {
        padding-left: 60px;
    }
    #block1 .content form {
        padding-top: 50px;
    }
    #block1 .content .product img {
        top: -265px;
        right: 65px;
    }
    #block2 {
        background: transparent url("block2-bg-320.jpg") /*tpa=http://waist-trainer.me/dis_cens3/block2-bg-320.jpg*/ no-repeat scroll 50% 0px;
    }
    #block2 .content {
        padding-top: 300px;
    }
    #block2 .content .value {
        width: auto;
        min-height: 0px;
        padding-bottom: 50px;
    }
    #block2 .content .value img {
        width: auto;
    }
    #block2 .content .value.product img {
        position: relative;
        top: -25px;
        padding-left: 30px;
    }
    #block2 .content .expert img {
        width: 320px;
    }
    #block3 {
        background: transparent url("block3-bg-320.jpg") /*tpa=http://waist-trainer.me/dis_cens3/block3-bg-320.jpg*/ no-repeat scroll 50% 0px;
    }
    #block3 .content {
        padding-top: 60px;
    }
    #block4 {
        background: transparent url("block4-bg-320.jpg") /*tpa=http://waist-trainer.me/dis_cens3/block4-bg-320.jpg*/ no-repeat scroll 50% 0px;
    }
    #block4 .content {
        padding-top: 300px;
    }
    #block4 .content .section {
        width: auto;
    }
    #block4 .content .section img {
        padding-bottom: 55px;
    }
    #block4 .content .section:nth-child(3) img,
    #block4 .content .section:nth-child(4) img {
        padding-left: 0px;
        margin: auto;
    }
    #block5 {
        background: transparent url("block5-bg-320.jpg") /*tpa=http://waist-trainer.me/dis_cens3/block5-bg-320.jpg*/ no-repeat scroll 50% 0px;
    }
    #block5 .content {
        padding-top: 60px;
    }
    #block6 {
        background: transparent url("block6-bg-320.jpg") /*tpa=http://waist-trainer.me/dis_cens3/block6-bg-320.jpg*/ no-repeat scroll 50% 0px;
    }
    #block6 .content {
        padding-top: 300px;
    }
    #block6 .content .review {
        padding-bottom: 50px;
    }
    #block7 {
        background: transparent url("block7-bg-320.jpg") /*tpa=http://waist-trainer.me/dis_cens3/block7-bg-320.jpg*/ no-repeat scroll 50% 0px;
        padding-bottom: 0px;
    }
    #block7 .content {
        padding-top: 60px;
        padding-bottom: 390px;
    }
    #block7 .content .product img {
        top: 0px;
        left: 34px;
    }
}

* {
    outline: 0px none;
}
.padding {
    padding: 10px;
}
.loader,
.modal {
    background-image: url("undefined.html") /*tpa=http://waist-trainer.me/dis_cens3/undefined.html*/;
    background-repeat: repeat;
    width: 100%;
    height: 100%;
    position: fixed;
    display: none;
    left: 0px;
    top: 0px;
}
.modal {
    z-index: 200001;
    overflow: auto;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: rgb(0, 0, 0);
    text-align: justify;
    margin-left: auto;
    margin-right: auto;
    background-color: transparent;
}
.modal-block {
    position: relative;
    width: 600px;
    background: rgb(255, 255, 255) none repeat scroll 0% 0%;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.35);
    border: 1px solid rgb(58, 135, 173);
}
.modal-block .icon-close {
    position: absolute;
    right: 0px;
    margin: 15px 20px;
    z-index: 1000;
}
.modal-block .title {
    background: rgb(77, 131, 192) none repeat scroll 0% 0%;
    text-align: center;
    line-height: 50px;
    text-shadow: 1px 1px 0px rgb(58, 135, 173);
    border-bottom: 1px solid rgb(58, 135, 173);
    padding: 0px 100px;
    font-size: 18px;
    color: rgb(255, 255, 255);
    width: auto;
    height: auto;
}
.icon-close {
    background: transparent url("undefined.html") /*tpa=http://waist-trainer.me/dis_cens3/undefined.html*/ no-repeat scroll 0px 0px;
    width: 20px;
    height: 19px;
    cursor: pointer;
}
.icon-close:hover {
    background-position: 0px -19px;
}
.modal p {
    font-weight: normal;
    width: auto;
}
.modal .content {
    background: rgb(255, 255, 255) none repeat scroll 0% 0%;
    width: auto;
    overflow: hidden;
    margin: 0px;
    box-shadow: none;
}
@media screen and (max-width: 540px) {
    .modal-block {
        width: 380px;
    }
    .modal-block .title {
        padding: 0px 50px;
        line-height: 39px;
    }
}
@media screen and (max-width: 405px) {
    .modal-block {
        width: 300px;
    }
    .modal-block .title {
        padding: 0px;
    }
}
#kmacb {
    position: fixed;
    display: none;
    background-color: transparent;
    width: 160px;
    height: 160px;
    z-index: 200000 !important;
    transition: visibility 0.5s ease 0s;
    right: 15px;
    bottom: 15px;
}
@media screen and (max-width: 980px) {
    #kmacb {
        display: none !important;
    }
}
#kmacb a {
    text-decoration: none;
}
#kmacb .kmacb-img-circle {
    width: 80px;
    height: 80px;
    background: rgb(90, 170, 222) url("undefined.html") /*tpa=http://waist-trainer.me/dis_cens3/undefined.html*/ no-repeat scroll center center;
    position: absolute;
    top: 40px;
    left: 40px;
    border-radius: 100%;
    border: 2px solid transparent;
    opacity: 0.8;
    animation: 1s ease-in-out 0s normal none infinite running kmacb-circle-img-anim;
    transform-origin: 50% 50% 0px;
}
#kmacb .kmacb-circle-fill {
    opacity: 0.24;
    animation: 2.3s ease-in-out 0s normal none infinite running kmacb-circle-fill-anim !important;
    background: rgb(90, 170, 222) none repeat scroll 0% 0%;
    width: 110px;
    height: 110px;
    top: 25px;
    left: 25px;
    position: absolute;
    border-radius: 100%;
    border: 2px solid transparent;
}
#kmacb .kmacb-circle {
    opacity: 0.35;
    animation: 2.2s ease-in-out 0s normal none infinite running kmacb-circle-anim !important;
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: transparent;
    border-radius: 100%;
    border: 2px solid rgb(90, 170, 222);
}
#kmacb:hover .kmacb-img-circle,
#kmacb:hover .kmacb-circle-fill {
    background-color: rgb(114, 213, 130);
}
#kmacb:hover .kmacb-circle {
    border-color: rgb(114, 213, 130);
}
#kmacb:hover .kmacb-img-circle {
    animation: 1s ease-in-out 0s normal none infinite running kmacb-circle-img-anim-hover;
}
#kmacb-form .modal-block {
    border: 0px none;
    box-shadow: none;
    font-family: Arial;
    border-radius: 10px;
    overflow: hidden;
    color: rgb(34, 34, 34);
    line-height: 1.5 !important;
    width: 570px;
}
#kmacb-form .modal-block .title {
    background: transparent none repeat scroll 0% 0%;
    text-shadow: none;
    color: rgb(34, 34, 34);
    font-weight: bold;
    font-size: 22px;
    border-bottom: 0px none;
    text-transform: none;
}
#kmacb-form .modal-block .icon-close {
    margin: 20px;
    background-image: url("undefined.html") /*tpa=http://waist-trainer.me/dis_cens3/undefined.html*/;
}
#kmacb-form .modal-block .padding {
    padding: 20px 40px 40px;
}
#kmacb-form .modal-block p {
    font-size: 16px;
    text-align: left;
    line-height: 1.5;
}
#kmacb-form .modal-block .bold {
    font-weight: bold;
}
#kmacb-form form {
    margin: 10px 0px;
    text-align: center;
    width: 100%;
    height: auto;
    background: transparent none repeat scroll 0px center;
    position: static;
    padding: 0px;
    border: 0px none;
}
#kmacb-form form input[type="text"] {
    height: 36px;
    line-height: 36px;
    color: rgb(34, 34, 34);
    border: 1px solid rgb(170, 170, 170);
    padding: 0px 10px;
    width: 200px;
    display: inline-block;
    text-indent: 0px;
    margin-bottom: 10px;
    border-radius: 3px;
    background: rgb(255, 255, 255) none repeat scroll 0% 0%;
    font-size: 14px;
    font-style: normal;
    box-shadow: none;
}
#kmacb-form form *::-moz-placeholder {
    color: rgb(136, 136, 136);
}
#kmacb-form form :-moz-placeholder {
    color: rgb(136, 136, 136);
}
#kmacb-form form input[name="name"] {
    padding-right: 10px;
}
#kmacb-form form input[type="submit"] {
    position: static;
    cursor: pointer;
    border: 0px none;
    background: rgb(196, 25, 28) none repeat scroll 0% 0%;
    padding: 0px 10px;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    line-height: 38px;
    height: 38px;
    vertical-align: top;
    margin: 0px;
    display: inline-block;
    text-indent: 0px;
    text-align: center !important;
    border-radius: 3px;
    font-style: normal;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    width: auto;
    opacity: 1;
}
#kmacb-form form input[type="submit"]:hover {
    background: rgb(221, 7, 11) none repeat scroll 0% 0%;
    text-decoration: none;
}
#agreement .title {
    line-height: 1.3;
    padding-top: 15px;
    padding-bottom: 15px;
}
#agreement .agreement-clean {
    font-weight: normal;
    font-size: 14px;
}
#agreement .content {
    line-height: 1.5;
    font-size: 12px;
}
#agreement .content p {
    margin-bottom: 20px;
    font-size: 12px;
}
#agreement .content p.no-margin {
    margin: 0px;
}
.form-control {
    box-sizing: border-box;
    width: 100%;
    height: 48px;
    padding: 15px;
    margin-bottom: 15px;
    color: rgb(255, 255, 255);
    border: 1px dashed rgba(255, 255, 255, 0.78);
    background-color: rgba(255, 255, 255, 0.1);
}