@charset "utf-8";
/* CSS Document */
/*----------------
RESET CSS
-----------------*/


/*==============Media=============*/


@media only screen and (max-width:1187px){
.container{ width:1004px;}

.bnr-left{width: 620px;}
.bnrHdng{font-size: 50px; line-height: 60px;}
.bnr-prod {width: 420px;}
.bnr-para{font-size: 19px;}

.bnr-btm-sec ul li{padding: 0 20px;font-size: 16px;}
.comn-pdng { padding: 0 40px;}
.comnPara{ font-size:18px; letter-spacing:0.5px; line-height:28px;}
.s2-list ul {width: 360px;}
.s2-prod {margin-left: -160px;top: 80px;width: 320px;}
.s3-prod-col{ width:32%;}
.s3-col-txt2{font-size: 18px;line-height: 26px;}
.s4-col-1 {width: 45%;}
.s4-col-abt {padding: 30px 0 0;    width: 50%;}
.s4-abt-txt3{font-size: 19px;line-height: 28px;}
.package{width: 320px;}
.package.mid {margin-left: -160px;}
ul.pkg-list li{ font-size:14px;}

.s7-prod-rght{ padding:17px 20px;}
.s7-rgt-col-1{padding: 0 10px 0 0;}
ul.s7-prd-list li{font-size: 16px;width: 58%;}
ul.s7-prd-list li:nth-child(even) {width: 42%;}
.s7-col-prdHdng{font-size: 24px;}
.s7-col-txt1{font-size: 16px;line-height: 24px;}
.comnHdng {	width:100%;	padding-bottom:34.5px;	margin-bottom: 1%;	background:url(hdng-bdr.png) no-repeat center bottom;	}
.comnHdng2 { width:100%;padding-bottom:34.5px;	margin-bottom: 1%;	background:url(hdng-bdr2.png) no-repeat center bottom; }
}

@media only screen and (max-width:1021px){
.container{ width:750px;}
.forDesk{ display:none;}
.forTab{ display:block;}

.banner{height: 630px;background-size: cover;}
.bnr-left {width: 70%;}
.bnr-txt1{font-size: 20px; line-height: 24px;}
.bnr-rvw{margin-top: 10px;}
.bnrHdng { font-size: 40px;line-height: 48px;}
.bnr-para { font-size: 18px;width: 90%; letter-spacing:0.3px;}
.bnr-prod {width: 315px;top: 260px;}
.bnr-btm-sec ul li {padding: 0 8px;font-size: 15px;}

.sectionOne { padding: 50px 0 30px;}
.comnHdng {	width:100%;	padding-bottom:34.5px;	margin-bottom: 2.1%;	background:url(hdng-bdr.png) no-repeat center bottom;	}
.comnHdng2 { width:100%;padding-bottom:34.5px;	margin-bottom: 2.1%;	background:url(hdng-bdr2.png) no-repeat center bottom; }
.comnHdng span{ font-size: 38px;line-height: 48px;}
.comnHdng p{font-size: 20px;line-height: 26px;}
.comn-pdng{ padding:0;}

.s2-list ul {width: 100%;}
.s2-list ul li{margin-top: 20px;}
.s2-list ul.fr li {text-align: left;padding: 0 0 0 55px;}
.s2-ico2 { right:auto;left: 0;}
.s2-list{ margin-top:20px;}
.s2-prod-m{ display:block; margin:0 auto; max-width:100%;}
.s2-list ul li:after{ display:none;}

.s3-prodBox{ padding:0;}
.s3-prod-col{width: 32.50%;padding: 25px 15px 120px 15px;}
.s4-mdl{ margin:10px 0 20px;}
.s4-row{margin-top: 50px;}
.s4-col-abt {padding: 0;}
.s4-abt-txt1 {font-size: 20px;line-height: 24px;}
.s4-abt-txt2{font-size: 24px;line-height: 26px;}
.s4-abt-txt3 {font-size: 18px;line-height: 26px;    margin-top: 15px;}

.testi-sec{ padding:0;}
.testi-abt{font-size: 18px;line-height: 26px;}
.testi-box h3{font-size: 20px;line-height: 28px;}
.testi-name{font-size: 16px;line-height: 26px;}
.testi-name span {font-size: 18px;}

.package {width: 32%;}
.package.mid {margin-left: -120px;}
.pkg-hdng span{padding: 5px 18px;font-size: 16px;}
.pkg-hdng p{font-size: 22px;line-height: 30px;}
.pkg-prcBox{ padding:15px 15px 10px;}

.pkg-btl{display:inline-block;vertical-align:middle;max-width:100%;height: 150px;}
.s7-prod-left{width: 22%; padding:25px 5px;}
.s7-prod-rght {padding: 15px 15px;width: 78%;}
.s7-rgt-col-1{width: 63%;}
.s7-col-prdHdng {font-size: 20px;line-height: 24px;}
.s7-rgt-col-2{width: 35%;padding: 18px 10px;}
.s7-prd-prc{font-size: 40px;line-height: 44px;}
a.addToodr-btn, .addToodr-btn{font-size: 18px;line-height: 45px;    height: 45px;}


}


@media only screen and (max-width:767px){
.container{ width:100%; max-width:600px; padding:0 10px;}

.forMob{ display:block;}
.hide-mob{ display:none;}

.top-fix-bar{ margin-bottom:50px;}
.header{ height:55px; margin-top:-50px; top:50px;}
.logo {margin-top:10px; width:125px;}
.mob-mnu-ic{ right:15px; top:16px;}
.mobilemenu{ top:50px;}
.mobimenu-top{ top:50px;}

.banner{ height:auto;background: url(bnr-mob-bg.jpg) no-repeat center top; background-size:cover;}
.bnr-left{ width:100%; text-align:center; padding:12px 0 100px;}
.bnr-txt1 {font-size: 16px;line-height: 22px;}
.bnrHdng {font-size: 30px;line-height: 36px;margin-top: 10px;}
.bnr-mob-prod{ margin:0 auto; max-width:65%; padding-bottom: 3%;}
.bnr-para{ width:100%; font-size:16px; line-height:24px;margin-bottom:10px; margin-top:10px;letter-spacing: 0.5px;}
.banner .btn-box{ margin:0;}
.as-seen-img-mob{ margin:15px auto 0; max-width:100%;}
.bnr-btm-strpBox{ padding:0 0 25px;}
.bnr-btm-sec ul li{ float:left; width:33.333%; margin:25px 0 0;line-height: 18px;font-size: 14px;padding: 0 10px;}
.bnr-btm-sec ul li p{ min-height:36px;}

.sectionOne{ padding:30px 0;}
.comnHdng {	width:100%;	padding-bottom:34.5px;	margin-bottom: 2.1%;	background:url(hdng-bdr.png) no-repeat center bottom;	}
.comnHdng2 { width:100%;padding-bottom:34.5px;	margin-bottom: 2.1%;	background:url(hdng-bdr2.png) no-repeat center bottom; }
.comnHdng span {font-size: 27px;line-height: 36px; letter-spacing:0.5px;}
.comnHdng p {font-size: 17px;line-height: 23px;}
.comnPara{font-size: 16px; line-height: 24px;margin-top: 15px;}
.prod-banr-slider{padding: 0 0 20px;margin-bottom: 60px;}

.sectionTwo{ padding:30px 0;}
.s2-list ul li span{ padding:0; font-size:20px; line-height:23px;}
.s2-list ul li p{font-size: 16px; line-height: 23px;}

.sectionThree{ padding:30px 0;}
.s3-prodBox{ margin:0;}
.s3-prod-col{ width:100%; margin:30px 0; text-align:center; padding:20px 15px 0;}
.s3-prod{ position:static; display:block; margin:0 auto -40px; transform:none;}
.s3-col-txt1{font-size: 23px;line-height: 26px;letter-spacing: 0.5px;}
.s3-col-txt2 {font-size: 16px;line-height: 22px; margin-bottom:15px;}

.sectionFour{ padding:30px 0;}
.s4-mdl{ margin:0 0 20px; padding-bottom:20px;}
.s4-row{ margin-top:10px;}
.s4-col-1{ width:100%;}
.s4-col-abt{ width:100%; margin-top:20px;}
.s4-abt-txt1 {font-size: 19px;line-height: 22px;}
.s4-abt-txt2 {font-size: 22px;line-height: 24px;}
.s4-abt-txt3 {font-size: 16px;line-height: 23px; margin-top: 10px;}

.sectionFive{ padding:30px 0;}
.testi-sec{ margin-top:10px;}
.testi-box {text-align: left;padding-left: 60px;padding-bottom: 20px;margin-top: 20px;}
.testi-box h3 {font-size: 19px;line-height: 26px;letter-spacing: 0.5px;}
.testi-abt {font-size: 16px;line-height: 23px;}
.testi-name span {font-size: 16px;}

.sectionSix{ padding:30px 0;}
.pack-sec{ margin:0;}
.package{ width:100%;margin:40px 0 0;}
.package.mid{ position:static; margin:40px 0 0;}

.sectionSeven{ padding:30px 0;}
.s7-prod-left{ width:100%;border-radius: 5px 5px 0 0 ; padding:10px 5px;}
.s7-prod-left img{ width:200px;}
.s7-prod-rght{ width:100%;border-radius:0 0 5px 5px;}
.s7-rgt-col-1{ width:100%; padding:0;}
.s7-rgt-col-2{ width:100%; margin-top:15px;}
ul.s7-prd-list li,ul.s7-prd-list li:nth-child(even){ width:100%;}

.total-fixbar{padding: 10px 0;}
.bar-txt{font-size: 20px;line-height: 30px;margin: 0 5px 0 0;}
.chk-btn{max-width: 190px; margin:0 0 0 5px;height: 48px;line-height: 48px;}

.contactBox{ margin-top:30px;}
.cont-hdng{ font-size: 22px;line-height: 30px;padding: 15px 20px 15px; text-align:center;}
.frmBx-mdl{ padding:15px 10px 25px;}
.grnted-cards{ width:300px;}
.cp-Box{ padding:15px 10px;}
.cp-bx-hdng{font-size: 20px;line-height: 30px;padding: 0 0 0 52px;}
.input-box.hlf{ width:100%;}
.input-box{margin: 15px 0 0;}
.input-box label{font-size: 16px;}

.us-postal{ padding:0; text-align:center;    margin-top: 25px;}
.us-postal img{ display:block; margin:0 auto 10px;}
.us-postal p{ width:100%; padding:0;font-size: 15px;line-height: 20px;}
.btn-box{margin-top: 25px;}





.footer {padding:20px 0 ;}
.ftr-txt1{font-size: 14px;line-height: 22px;}
.ftr-txt1 a{font-size: 14px;line-height: 22px;}



}

@media only screen and (max-width:360px){
.ftr-txt1,.ftr-txt1 a{ font-size:13px;}

}



/*=================================*/
.pulse {
	animation-name: pulse;
	-webkit-animation-name: pulse;
	animation-duration: 1.5s;
	-webkit-animation-duration: 1.5s;
	animation-iteration-count: infinite;
	-webkit-animation-iteration-count: infinite;
	}
@keyframes pulse {
0% {transform: scale(0.9);}
50% {transform: scale(1);}
100% {transform: scale(0.9);}
}

@-webkit-keyframes pulse {
0% {-webkit-transform: scale(0.95);}
50% {-webkit-transform: scale(1);}
100% {-webkit-transform: scale(0.95);}
}



