.errorValidate{
    color: red;
}
html {
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

ul {
    padding: 0;
}

body {
    margin: 0;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
    display: block;
}

audio,
canvas,
progress,
video {
    display: inline-block;
    vertical-align: baseline;
}

audio:not([controls]) {
    display: none;
    height: 0;
}

[hidden],
template {
    display: none;
}

a {
    background-color: transparent;
}

a:active,
a:hover {
    outline: 0;
}

abbr[title] {
    border-bottom: 1px dotted;
}

b,
strong {
    font-weight: bold;
}

dfn {
    font-style: italic;
}

h1 {
    font-size: 2em;
    margin: 0.67em 0;
}

mark {
    background: #ff0;
    color: #000;
}

small {
    font-size: 80%;
}

sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

sup {
    top: -0.5em;
}

sub {
    bottom: -0.25em;
}

img {
    border: 0;
}

svg:not(:root) {
    overflow: hidden;
}

figure {
    margin: 1em 40px;
}

hr {
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    height: 0;
}

pre {
    overflow: auto;
}

code,
kbd,
pre,
samp {
    font-family: monospace, monospace;
    font-size: 1em;
}

button,
input,
optgroup,
select,
textarea {
    color: inherit;
    font: inherit;
    margin: 0;
}

button {
    overflow: visible;
}

button,
select {
    text-transform: none;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
    -webkit-appearance: button;
    cursor: pointer;
}

button[disabled],
html input[disabled] {
    cursor: default;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
    border: 0;
    padding: 0;
}

input {
    line-height: normal;
}

input[type="checkbox"],
input[type="radio"] {
    box-sizing: border-box;
    padding: 0;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    height: auto;
}

input[type="search"] {
    -webkit-appearance: textfield;
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}

fieldset {
    border: 1px solid #c0c0c0;
    margin: 0 2px;
    padding: 0.35em 0.625em 0.75em;
}

legend {
    border: 0;
    padding: 0;
}

textarea {
    overflow: auto;
}

optgroup {
    font-weight: bold;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

td,
th {
    padding: 0;
}


.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

* {
    box-sizing: border-box;
}

* {
    -webkit-font-smoothing: antialiased;
}

body,
html {
    height: 100%;
}

body {
    margin: 0;
    min-width: 1020px;
    overflow-y: scroll;
    font-size: 14px;
    line-height: normal;
    font-family: 'Roboto', sans-serif;
    color: rgb(51, 51, 51);
    font-style: normal;
    background-color: #ffffff;
    -webkit-font-smoothing: antialiased;
}

section,
footer,
header,
article {
    position: relative;
}

html,
body {
    box-sizing: border-box;
    width: 100%;
    min-width: 240px;
    min-height: 400px;
    font-size: 16px;
    overflow-x: hidden;
}

.container {
    max-width: 320px;
    width: auto;
    margin: 0 auto;
    position: relative;
    padding-right: 10px;
    padding-left: 10px;
}

img {
    width: auto \9;
    height: auto;
    max-width: 100%;
    vertical-align: middle;
    border: 0;
    -ms-interpolation-mode: bicubic;
}

#sr1 .container {
    width: 320px;
}

#sr1 {
    background: rgb(173, 222, 209) url(sr1_bg.jpg)no-repeat center top;
    background-size: 100% 666px;
    padding: 10px 0;
    z-index: 1;
}

.sr1__item {
    font-size: 18px;
    color: rgb(38, 62, 56);
    padding-left: 60px;
    position: relative;
    margin-bottom: 30px;
}

.sr1__item:before {
    position: absolute;
    display: block;
    content: "";
    width: 67px;
    height: 101px;
    background-repeat: no-repeat;
    top: 0;
    left: -20px;
    margin-top:-20px;
    margin-right:15px;
}

.sr1__item--1:before {
    background-image: url(sr1_item1.png);
}

.sr1__item--2:before {
    background-image: url(sr1_item2.png);
}

.sr1__item--3:before {
    background-image: url(sr1_item3.png);
}


.sr1__item--4:before {
    background-image: url(jaksistem.png);
}

.sr1__item--5:before {
    background-image: url(kapsula1.png);
}

.sr1__item--6:before {
    background-image: url(ikonica1.png);
}


.sr1__item--7:before {
    background-image: url(ikonica2.png);
}

.sr1__item--8:before {
    background-image: url(ikonica3.png);
}

.sr1__item--9:before {
    background-image: url(oci-ikonica1.png);
}


.sr1__item--10:before {
    background-image: url(oci-ikonica2.png);
}

.sr1__item--11:before {
    background-image: url(oci-ikonica3.png);
}

.sr1__item--12:before {
    background-image: url(knee.png);
}

.sr1__item--13:before {
    background-image: url(bone.png);
}

.sr1__item--14:before {
    background-image: url(jednakapsula.png);
}


.sr1__title {
    color: rgb(161, 22, 121);
    font-size: 50px;

    line-height: 50px;
    width: 300px;
    margin: 0 auto;
}

.sr1__title--1 {
    text-align: center;
}

.sr1__title--2 {
    color: rgb(255, 255, 255);
    background-color: rgb(139, 28, 107);

    font-size: 33px;
    line-height: 33px;
    position: relative;
    text-align: center;
    margin-left: 20px;
    padding-top: -5px;
    float: left;
    width: 100px;
    height: 33px;
    margin-top: 10px;
}

.sr1__title--2:before {
    display: inline-block;
    content: "";
    width: 0;
    position: absolute;
    left: -15px;
    top: 0;
    height: 0;
    border-left: 15px solid transparent;
    border-right: 0 solid transparent;
    border-top: 33px solid rgb(139, 28, 107);
}

.sr1__subtitle {
    color: rgb(38, 62, 56);
    font-size: 20px;
    margin-bottom: 20px;
    text-align: center;
}

.sr1__stamp {
    position: absolute;
    width: 106px;
    height: 89px;
    background-image: url(sr1_stamp.png);
    background-repeat: no-repeat;
    text-transform: uppercase;
    color: rgb(255, 255, 255);
    font-size: 7.5px;

    font-weight: 700;
    top: 0;
    right: -60px;
    text-align: center;
    display: table;
}

.sr1__stamp__slogan {
    -moz-transform: rotate(-14deg);
    -o-transform: rotate(-14deg);
    -webkit-transform: rotate(-14deg);
    transform: rotate(-14deg);
    -ms-filter: "progid:DXImageTransform.Microsoft.Matrix(M11=0.9702957262759964, M12=0.24192189559966823, M21=-0.24192189559966823, M22=0.9702957262759964, SizingMethod='auto expand')";
    display: table-cell;
    vertical-align: middle;
}

.sr1__product {
    position: relative;
    text-align: center;
    width: 230px;
    margin: 30px auto 20px auto;
}

.sr1__product__label1 {
    position: absolute;
    width: 60px;
    height: 37px;
    background-image: url(sr1_label1.png);
    background-repeat: no-repeat;
    top: 80px;
    right: 25px;
    font-size: 7px;
    color: rgb(255, 255, 255);
    text-align: center;
    padding-top: 13px;
    padding-left: 5px;
    text-transform: uppercase;

}

.sr1__product__label2 {
    position: absolute;
    width: 64px;
    height: 42px;
    background-image: url(sr1_label2.png);
    background-repeat: no-repeat;
    top: 140px;
    left: 0;
    font-size: 7px;
    font-weight: bold;
    color: rgb(255, 255, 255);
    text-transform: uppercase;

    padding-top: 9px;
    padding-right: 7px;
}

.sr1__product__label2--up {
    font-size: 10px;
}

.sr1__old__price {
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    font-size: 18px;
}

.sr1__old__price .js_old_price {
    text-decoration: line-through;
}

.sr1__new__price {
    text-transform: uppercase;
    color: rgb(255, 255, 255);
    font-size: 36px;

    font-weight: 700;
}

.sr1__btn {
    width: 300px;
    height: auto;
    background-image: url(sr12_btn.png);
    background-repeat: no-repeat;
    background-size: contain;
    margin: 15px auto 0 auto;
    text-transform: uppercase;
    cursor: pointer;
    color: rgb(255, 255, 255);
    font-size: 36px;
    line-height: 105px;

    font-weight: 700;
    text-align: center;
    border: none;
    background-color: transparent;
    position: relative;
    z-index: 999;
    -moz-transition: all 1s ease-out;
    -o-transition: all 1s ease-out;
    -webkit-transition: all 1s ease-out;
}

.sr1__btn:hover {

    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
}

.sr1__counter {
    color: rgb(90, 70, 48);
    text-align: center;
    font-size: 16px;
}

.discounttext {
    color: #fff;
    position: relative;
    -webkit-box-shadow: 5px -1px 5px 0 rgba(112, 150, 141, 1);
    -moz-box-shadow: 5px -1px 5px 0 rgba(112, 150, 141, 1);
    box-shadow: 5px -1px 5px 0 rgba(112, 150, 141, 1);
    background-color: rgb(70, 183, 75);
    padding: 10px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    text-align: center;
    width: 210px;
    margin: 0 auto;
    z-index: 1;
}

#sr2 {
    background-color: rgb(240, 232, 217);
    padding: 30px 0;
}

#sr2 .container {
    width: 320px;
    margin: 0 auto;
}

.sr2__title {
    text-align: center;
    color: rgb(139, 28, 107);
    font-size: 36px;

    font-weight: 700;
}

.sr2__title--up {
    font-size: 52px;
    text-transform: uppercase;
}

.sr2__subtitle {
    font-size: 24px;
    text-align: center;
    color: rgb(151, 128, 104);
    padding: 30px 0 100px 0;
}

.sr1__count--1 {
    color: rgb(139, 28, 107);
    font-size: 20px;
    text-transform: uppercase;
    display: inline;
    font-weight: 700;
    padding-top: 35px;
}

.sr1__count--2 {
    font-size: 30px;
    color: rgb(139, 28, 107);
    text-transform: uppercase;

    font-weight: 700;
    position: relative;
    margin: 0 0 25px;
}

.sr1__count--up {
    font-size: 60px;
    display: block;
}

.sr1__count--3 {
    color: rgb(139, 28, 107);
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 700;
}

.sr1__count {
    text-align: center;
}

#sr3 {
    background-color: rgb(255, 255, 255);
    padding: 30px 0 0 0;
}

.sr3__title {
    text-align: center;
    font-size: 24px;
    text-transform: uppercase;

    font-weight: 700;
    color: rgb(139, 28, 107);
}

#sr3 .container {
    width: 320px;
}

.sr3__title--up {
    color: rgb(169, 149, 129);
}

.sr3__subtitle {
    text-align: center;
    color: rgb(169, 149, 129);
    font-size: 18px;

    font-weight: 700;
}

.sr3__item {
    padding-left: 90px;
    text-transform: uppercase;
    color: rgb(51, 51, 51);
    font-size: 18px;

    position: relative;
    list-style: none;
    margin-bottom: 30px;
    min-height: 105px;
    padding-top: 30px;
}

.sr3__item_i {
    display: block;
    position: absolute;
    content: "";
    background-repeat: no-repeat;
    left: 0;
    width: 70px;
    line-height: 120px;
    text-align: center;
    height: 99px;
    top: 0;
    font-size: 26px;
    color: rgb(255, 255, 255);

    font-weight: 700;
}

.sr3__item_i--1 {
    background-image: url(sr3_i2.png);
}

.sr3__item_i--2 {
    background-image: url(sr3_i1.png);
}

.sr3__item_i--3 {
    background-image: url(sr3_i3.png);
}

.sr3__items {
    margin: 0;
    padding: 0;
}

#sr5 {
    background-color: rgb(255, 255, 255);
    padding: 40px 0;
    overflow: hidden;
}

.sr5__title {
    text-align: center;
    color: rgb(139, 28, 107);
    font-size: 20px;
    text-transform: uppercase;

    font-weight: 700;
}

.sr5__title--up {
    font-size: 26px;
    text-transform: uppercase;
}

.sr5__subtitle {
    font-size: 18px;
    text-align: center;
    color: rgb(151, 128, 104);
}

.sr5__pluses {
    margin-top: 30px;
}

.sr5__con {
    display: table;
    width: 100%;
    color: rgb(51, 51, 51);
    font-size: 16px;
    position: relative;
    background-color: rgb(223, 207, 177);
    border-radius: 10px;
    margin-bottom: 20px;
    padding: 10px 40px 10px 60px;
    min-height: 60px
}

.sr5__con .text {
    display: table-cell;
    vertical-align: middle;
}

.sr5__con:before {
    display: block;
    content: "";
    position: absolute;
    top: 20px;
    left: 20px;
    background-image: url(sr5_c.png);
    background-repeat: no-repeat;
}

.sr5__con--1:before {
    width: 21px;
    height: 27px;
    background-position: -5px -5px;
}

.sr5__con--2:before {
    width: 21px;
    height: 24px;
    background-position: -5px -42px;
}

.sr5__con--3:before {
    width: 25px;
    height: 24px;
    background-position: -5px -76px;
}

.sr5__con--4:before {
    width: 31px;
    height: 28px;
    background-position: -5px -110px;
}

.sr5__con--5:before {
    width: 30px;
    height: 25px;
    background-position: -5px -148px;
}

.sr5__con--6:before {
    width: 29px;
    height: 22px;
    background-position: -5px -183px;
}

.sr5__product__label1 {
    position: absolute;
    width: 153px;
    height: 94px;
    background: transparent;
    background-repeat: no-repeat;
    top: 210px;
    right: 30px;
    font-size: 18px;
    font-weight: bold;
    color: rgb(255, 255, 255);
    text-align: center;
    padding-top: 35px;
    padding-left: 10px;
    text-transform: uppercase;

}

.sr5__product__label2 {
    position: absolute;
    width: 161px;
    height: 104px;
    background: transparent;
    background-repeat: no-repeat;
    top: 360px;
    left: 20px;
    font-size: 18px;
    font-weight: bold;
    color: rgb(255, 255, 255);
    text-transform: uppercase;

    padding-top: 20px;
    padding-left: 35px;
}

.sr5__product__label2--up {
    font-size: 30px;
}

#sr6 {
    padding: 40px 0 20px 0;
    background-color: rgb(161, 214, 200);
}

.sr6__item_text {
    color: rgb(51, 51, 51);
    text-align: left;
    font-size: 16px;
    padding-left: 115px;
}

.sr6__item_title {
    text-transform: uppercase;
    text-align: left;
    font-size: 18px;
    color: rgb(38, 62, 56);

    font-weight: 700;
    margin-bottom: 15px;
    padding-left: 115px;
}

.sr6__item_img {
    float: left;
}

.sr6__item {
    margin-bottom: 20px;
}

#sr8 {
    background-color: rgb(240, 232, 217);
    padding: 40px 0;
}

.sr8__title {
    text-transform: uppercase;
    text-align: center;
    font-size: 24px;
    color: rgb(139, 28, 107);

    font-weight: 700;
}

.sr8__review {
    position: relative;
    margin-top: 30px;
}

.sr8__review__img1 {
    float: left;
    margin-right: 20px;
}

.sr8__review__text {
    color: rgb(51, 51, 51);
    font-size: 16px;

    font-style: italic;
}

.sr8__review__person span {
    /* display: table-cell; */
    /* vertical-align: middle; */
}

.sr8__review__person {
    color: rgb(51, 51, 51);
    font-size: 16px;

    font-weight: 700;
    font-style: italic;
    margin-top: 16px;
    text-align: left;
    margin-bottom: 20px;
    display: table;
    /* width: 100%; */
}

.sr8__review__text--1 {
    padding-right: 10px;
    padding-left: 10px;
    text-align: center;
    margin-top: 30px;
}

.sr8__review__name--1 {
    padding-left: 112px;
    text-align: left;
    float: left;
}

.sr8__review__img2 {
    display: table-cell;
    vertical-align: middle;
    width: 112px;
}

.sr8__review__text--2 {
    padding: 0 20px;
    text-align: center;
}

.sr8__review__name--2 {
    padding-left: 10px;
    text-align: left;
    display: table-cell;
    vertical-align: middle;
}

.sr8__review:before {
    display: block;
    content: "«";
    position: absolute;
    color: rgb(161, 214, 200);
    font-size: 60px;

    font-style: italic;
    text-align: right;
    top: 82px;
    left: 0;
}

.sr8__review:after {
    display: block;
    content: "»";
    position: absolute;
    color: rgb(161, 214, 200);
    font-size: 60px;

    font-style: italic;
    text-align: right;
    bottom: -50px;
    right: 5px;
}

.sr8__stamp {
    position: absolute;
    width: 182px;
    height: 154px;
    background: transparent;
    background-repeat: no-repeat;
    text-transform: uppercase;
    color: rgb(176, 206, 199);
    font-size: 18px;

    font-weight: 700;
    bottom: -100px;
    right: 140px;
}

.sr8__stamp__slogan {
    -moz-transform: rotate(-14deg);
    -o-transform: rotate(-14deg);
    -webkit-transform: rotate(-14deg);
    transform: rotate(-14deg);
    -ms-filter: "progid:DXImageTransform.Microsoft.Matrix(M11=0.9702957262759964, M12=0.24192189559966823, M21=-0.24192189559966823, M22=0.9702957262759964, SizingMethod='auto expand')";
    padding-top: 53px;
    padding-left: 10px;
}

#sr9 {
    background-color: rgb(255, 255, 255);
    padding: 40px 0;
}

.sr9__title {
    text-transform: uppercase;
    text-align: center;
    font-size: 24px;
    color: rgb(139, 28, 107);

    font-weight: 700;
    margin-bottom: 40px;
}

.sr9__review__text {
    text-align: center;
    color: rgb(51, 51, 51);
    font-size: 16px;
}

.sr9__review__name {
    font-size: 20px;
    text-align: center;
    color: rgb(51, 51, 51);

    font-weight: 700;
    margin-top: 15px;
}

.sr9__img {
    display: block;
    margin: 0 auto 15px auto;
}

.sr9__review__img {
    position: relative;
    width: 204px;
    margin: 0 auto;
}

.sr9__review__before {
    color: rgb(255, 255, 255);
    position: absolute;
    -moz-transform: rotate(-40deg);
    -o-transform: rotate(-40deg);
    -webkit-transform: rotate(-40deg);
    transform: rotate(-40deg);
    -ms-filter: "progid:DXImageTransform.Microsoft.Matrix(M11=0.7660444431189781, M12=0.6427876096865391, M21=-0.6427876096865391, M22=0.7660444431189781, SizingMethod='auto expand')";
    bottom: 19px;
    left: 49px;
    font-size: 14px;
    z-index: 2;
    width: 70px;
    text-align: center;
}

.sr9__review__after {
    color: rgb(255, 255, 255);
    position: absolute;
    -moz-transform: rotate(-40deg);
    -o-transform: rotate(-40deg);
    -webkit-transform: rotate(-40deg);
    transform: rotate(-40deg);
    -ms-filter: "progid:DXImageTransform.Microsoft.Matrix(M11=0.7660444431189781, M12=0.6427876096865391, M21=-0.6427876096865391, M22=0.7660444431189781, SizingMethod='auto expand')";
    bottom: 15px;
    right: -12px;
    font-size: 14px;
    z-index: 2;
    width: 70px;
    text-align: center;
}

.sr11__text {
    font-size: 24px;
    position: relative;
    padding-left: 60px;
}

.sr11__text:before {
    content: "!";
    display: block;
    line-height: 112px;
    position: absolute;
    left: 0;
    top: -10px;
    color: rgb(145, 39, 114);
    font-size: 112px;

}

.sr11__name1 {
    color: rgb(168, 44, 131);
    text-transform: uppercase;
    font-size: 19px;

    font-weight: 700;
    text-align: center;
}

.sr11__name2 {

    font-weight: 700;
    color: rgb(161, 22, 121);
    font-size: 52px;
    text-align: center;
    margin: 0 auto;
    width: 300px;
}

.sr11__name2--2 {
    color: rgb(255, 255, 255);
    background-color: rgb(139, 28, 107);

    font-size: 34px;
    line-height: 35px;
    position: relative;
    margin-left: 20px;
    width: 100px;
    float: left;
    padding-top: -5px;
    margin-top: 18px;
}

.sr11__name2--2:before {
    display: inline-block;
    content: "";
    width: 0;
    position: absolute;
    left: -15px;
    top: 0;
    height: 0;
    border-left: 15px solid transparent;
    border-right: 0 solid transparent;
    border-top: 33px solid rgb(139, 28, 107);
}

.sr11__name2--1 {
    text-align: center;
}

#sr12 {
    background-color: rgb(240, 232, 217);
    background-image: url(sr12_bg.jpg);
    background-repeat: repeat-x;
    background-position: center;
    padding: 40px 0 0;
    overflow: hidden;
}

#sr12 .container {
    padding-bottom: 212px;
    width: 320px;
}

.sr12__girl {
position: absolute;
    width: 360px;
    height: 256px;
    bottom: 0px;
    left: -150px;
    background-image: url(sr12_girl.png);
    z-index: 0;
    background-repeat: no-repeat;
}

.sr12__girl {}

.sr12__product {
    position: absolute;
    left: 170px;
    bottom: 0px;
    width: 159px;
}

.sr12__product2 {
    position: absolute;
    bottom: 0px;
    width: 230px;
}

.sr12__product__label1 {
    position: absolute;
    width: 46px;
    height: 29px;
    background-image: url(sr12_label1.png);
    background-repeat: no-repeat;
    top: 60px;
    right: 20px;
    font-size: 5px;
    color: rgb(255, 255, 255);
    text-align: center;
    padding-top: 11px;
    padding-left: 2px;
    text-transform: uppercase;

}

.sr12__product__label2 {
    position: absolute;
    width: 49px;
    height: 31px;
    background-image: url(sr12_label2.png);
    background-repeat: no-repeat;
    top: 90px;
    left: 0;
    font-size: 5px;
    color: rgb(255, 255, 255);
    text-transform: uppercase;

    padding-top: 8px;
    padding-left: 10px;
}

.sr5__product__label2--up {
    font-size: 30px;
}

.screen12__orderblock {
    width: 290px;
    margin: 20px auto 0 auto;
    text-align: center;
    z-index: 1;
    position: relative;
}

.order-form {
    background-color: rgb(161, 214, 200);
    padding: 20px 20px 0;
    border-radius: 10px;
}

.sr12__old__price {
    text-decoration: line-through;
    text-transform: uppercase;
    font-size: 16px;

    font-weight: 700;
}

.sr12__new__price {

    font-weight: 700;
    text-transform: uppercase;
    color: rgb(161, 22, 121);
    font-size: 30px;
    margin-bottom: 15px;
}

.timmer_container {
    height: 70px;
    width: 245px;
    background-color: rgb(139, 28, 107);
    padding: 5px 0;
    margin: 0 auto;
    font-size: 18px;
    color: rgb(255, 252, 245);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    text-transform: uppercase;
}

.timme_wrap {
    list-style: none;
    margin: 0;
    padding: 0;
}

.list-inline li {
    display: inline-block;
    list-style: none;
    color: rgb(255, 252, 245);
    font-size: 30px;

    font-weight: 700;
}

.list-inline {
    margin: 0;
    padding: 0;
}

.sr12__ordertext {

    font-weight: 700;
    text-transform: uppercase;
    font-size: 14px;
    color: rgb(51, 51, 51);
    margin-bottom: 10px;
}

input,
select {
    font-size: 18px;
    color: rgb(51, 51, 51);
    height: 50px;
    margin: 0 auto;
    line-height: normal;
    width: 100%;
    padding-left: 20px;
    text-align: left;
    overflow: hidden;
    margin-bottom: 10px;
    border: 1px solid #333;
}

select {
    -webkit-user-select: none;
    -moz-user-select: -moz-none;
    -ms-user-select: none;
    user-select: none;

    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: #fff;
}

select::-ms-expand {
    display: none;
}

#country_code_selector {
    position: relative;
    display: block;
}

.custom_select {
    position: relative;
    height: 50px;
    margin-bottom: 10px;
}

.custom_select:before {
    pointer-events: none;
    content: '';
    position: absolute;
    top: 1px;
    bottom: 1px;
    right: 1px;
    border-left: #CCCCCC 1px solid;
    width: 34px;
    border-radius: 0 3px 3px 0;
    background: white;
    z-index: 2;
}

.owl-carousel .owl-item img {
    width: 204px;
}

.custom_select:after {
    pointer-events: none;
    content: '';
    position: absolute;
    top: 50%;
    margin-top: -2px;
    right: 13px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 5px 5px 0 5px;
    border-color: #AFAFB0 transparent transparent transparent;
    z-index: 2;
}

.custom_select:hover:after {
    border-color: #000000 transparent transparent transparent;
}

input[type="text"]:focus,
select:focus {
    border: 1px solid rgb(139, 28, 107);
    outline: none;
}

.screen12__orderblock .sr1__btn {
    cursor: pointer;
    width: 300px;
    height: 100px;
    background: url(sr12_btn.png) no-repeat;
    background-size: contain;
    padding: 0;
    position: relative;
    font-size: 27px;

    color: rgb(255, 255, 255);
    text-align: center;
    padding-left: 10px;
    margin: 0 auto;
    margin-left: -25px;
    border: none;
    outline: none;
    line-height: 100px;
    text-transform: uppercase;
    -webkit-transition: all 0.3s linear;
    transition: all 0.3s linear;
    z-index: 1;
}

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
    color: rgb(51, 51, 51);
}

input:-moz-placeholder,
textarea:-moz-placeholder {
    color: rgb(51, 51, 51);
}

.sr12_delivery {
    text-transform: uppercase;
    font-size: 14px;

    font-weight: 700;
    margin-top: 10px;
}

.sr12_totalprice {
    text-transform: uppercase;
    font-size: 17px;

    font-weight: bold;
    margin-bottom: 10px;
}

.sr12__product img {
    width: 150px;
}

@media only screen and (max-width: 1550px) {
    .container1 {
        width: 100%;
    }
}

@media (max-width: 360px) {
    .container {
        width: auto !important;
    }

    .sr1__stamp {
        right: -46px;
        top: -25px;
    }

    .sr1__stamp__slogan {}

    .sr1__count--3 {
        font-size: 18px;
    }
}

@media (max-width: 320px) {
    .sr1__btn {
        width: 240px;
        line-height: 75px;
        height: 80px;
        background-size: contain;
        margin: -4px auto 0 auto;
        font-size: 30px;
        display: block;
    }

    input[type="submit"] {
        width: 240px;
        line-height: 75px;
        height: 80px;
        background-size: contain;
        margin: -4px auto 0 auto;
        font-size: 30px;
    }

    .sr1__title {
        font-size: 40px;
        width: 240px;
    }

    .sr1__title--2 {
        font-size: 26px;
        width: 80px
    }
}

@media (max-width: 300px) {
    .sr1__title {
        font-size: 40px;
        width: 240px;
    }

    .sr1__title--2 {
        font-size: 26px;
        width: 80px
    }

    .sr11__name2 {
        font-size: 40px;
        width: 240px;
    }

    .sr11__name2--2 {
        font-size: 26px;
        width: 80px
    }

    .sr11__name2--1 {
        padding-top: 10px;
    }

    .owl-nav {
        display: none;
    }
}

@media (max-width: 300px) {
    .sr1__subtitle {
        font-size: 18px;
    }

    .sr1__count--3 {
        font-size: 14px;
        top: 15px;
        left: 35px;
    }

    .sr1__count--1 {
        font-size: 16px;
        padding-top: 25px;
    }

    .sr1__count--up {
        font-size: 60px;
    }

    .sr1__count--2 {
        font-size: 40px;
    }

    .sr12__new__price {
        font-size: 26px;
    }

    .screen12__orderblock {
        width: auto;
    }

    .timmer_container {
        width: 90%;
    }

    .sr12__ordertext {
        font-size: 12px;
    }

    .sr12_delivery {
        font-size: 14px;
    }

    .sr12_totalprice {
        font-size: 14px;
    }

    .sr6__item_title {
        font-size: 13px;
    }

    .sr6__item_text {
        font-size: 14px;
    }
}

@media (max-width: 280px) {
    .sr1__btn {
        width: 200px;
        line-height: 65px;
        height: 67px;
        background-size: contain;
        margin: -4px auto 0 auto;
    }

    input[type="submit"] {
        width: 200px;
        line-height: 65px;
        height: 67px;
        background-size: contain;
        margin: -4px auto 0 auto;
    }
}

.owl-carousel .animated {
    -webkit-animation-duration: 1000ms;
    animation-duration: 1000ms;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.owl-carousel .owl-animated-in {
    z-index: 0;
}

.owl-carousel .owl-animated-out {
    z-index: 1;
}

.owl-carousel .fadeOut {
    -webkit-animation-name: fadeOut;
    animation-name: fadeOut;
}

@-webkit-keyframes fadeOut {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

.owl-height {
    -webkit-transition: height 500ms ease-in-out;
    -moz-transition: height 500ms ease-in-out;
    -ms-transition: height 500ms ease-in-out;
    -o-transition: height 500ms ease-in-out;
    transition: height 500ms ease-in-out;
}

.owl-carousel {
    display: none;
    width: 100%;
    -webkit-tap-highlight-color: transparent;
    position: relative;
    z-index: 1;
}

.owl-carousel .owl-stage {
    position: relative;
    -ms-touch-action: pan-Y;
}

.owl-carousel .owl-stage:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

.owl-carousel .owl-stage-outer {
    position: relative;
    overflow: hidden;
    -webkit-transform: translate3d(0px, 0px, 0px);
}

.owl-carousel .owl-controls .owl-nav .owl-prev,
.owl-carousel .owl-controls .owl-nav .owl-next,
.owl-carousel .owl-controls .owl-dot {
    cursor: pointer;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.owl-carousel.owl-loaded {
    display: block;
}

.owl-carousel.owl-loading {
    opacity: 0;
    display: block;
}

.owl-carousel.owl-hidden {
    opacity: 0;
}

.owl-carousel .owl-refresh .owl-item {
    display: none;
}

.owl-carousel .owl-item {
    position: relative;
    min-height: 1px;
    float: left;
    -webkit-backface-visibility: hidden;
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.owl-carousel .owl-item img {
    display: block;
    -webkit-transform-style: preserve-3d;
}

.owl-carousel.owl-text-select-on .owl-item {
    -webkit-user-select: auto;
    -moz-user-select: auto;
    -ms-user-select: auto;
    user-select: auto;
}

.owl-carousel .owl-grab {
    cursor: move;
    cursor: -webkit-grab;
    cursor: -o-grab;
    cursor: -ms-grab;
    cursor: grab;
}

.owl-carousel.owl-rtl {
    direction: rtl;
}

.owl-carousel.owl-rtl .owl-item {
    float: right;
}

.no-js .owl-carousel {
    display: block;
}

.owl-carousel .owl-item .owl-lazy {
    opacity: 0;
    -webkit-transition: opacity 400ms ease;
    -moz-transition: opacity 400ms ease;
    -ms-transition: opacity 400ms ease;
    -o-transition: opacity 400ms ease;
    transition: opacity 400ms ease;
}

.owl-carousel .owl-item img {
    transform-style: preserve-3d;
}

.owl-carousel .owl-video-wrapper {
    position: relative;
    height: 100%;
    background: #000;
}

.owl-carousel .owl-video-play-icon {
    position: absolute;
    height: 80px;
    width: 80px;
    left: 50%;
    top: 50%;
    margin-left: -40px;
    margin-top: -40px;
    background: transparent;
    cursor: pointer;
    z-index: 1;
    -webkit-backface-visibility: hidden;
    -webkit-transition: scale 100ms ease;
    -moz-transition: scale 100ms ease;
    -ms-transition: scale 100ms ease;
    -o-transition: scale 100ms ease;
    transition: scale 100ms ease;
}

.owl-carousel .owl-video-play-icon:hover {
    -webkit-transition: scale(1.3);
    -moz-transition: scale(1.3);
    -ms-transition: scale(1.3);
    -o-transition: scale(1.3);
    transition: scale(1.3);
}

.owl-carousel .owl-video-playing .owl-video-tn,
.owl-carousel .owl-video-playing .owl-video-play-icon {
    display: none;
}

.owl-carousel .owl-video-tn {
    opacity: 0;
    height: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    -webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
    background-size: contain;
    -webkit-transition: opacity 400ms ease;
    -moz-transition: opacity 400ms ease;
    -ms-transition: opacity 400ms ease;
    -o-transition: opacity 400ms ease;
    transition: opacity 400ms ease;
}

.owl-carousel .owl-video-frame {
    position: relative;
    z-index: 1;
}

.owl-theme .owl-controls {
    margin-top: 10px;
    text-align: center;
    -webkit-tap-highlight-color: transparent
}

.owl-theme .owl-controls .owl-nav [class*=owl-] {
    color: #fff;
    display: inline-block;
    cursor: pointer;
    background-image: url(sr_arrow.png);
    text-indent: -9999px;
    background-repeat: no-repeat;
}

.owl-theme .owl-controls .owl-nav [class*=owl-]:hover {
    color: #fff;
    text-decoration: none
}

.owl-theme .owl-controls .owl-nav .disabled {
    cursor: default
}

.owl-prev {
    width: 21px;
    height: 45px;
    background-position: -5px -5px;
    position: absolute;
    top: 44px;
    left: 0;
}

.owl-next {
    width: 21px;
    height: 45px;
    background-position: -5px -60px;
    position: absolute;
    top: 44px;
    right: 0;
}

.owl-theme .owl-dots .owl-dot {
    display: inline-block;
    zoom: 1;
    *display: inline
}

.owl-theme .owl-dots .owl-dot span {
    width: 22px;
    height: 22px;
    margin: 5px 7px;
    background: rgb(255, 210, 223);
    display: block;
    -webkit-backface-visibility: visible;
    -webkit-transition: opacity 200ms ease;
    -moz-transition: opacity 200ms ease;
    -ms-transition: opacity 200ms ease;
    -o-transition: opacity 200ms ease;
    transition: opacity 200ms ease;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px
}

.owl-theme .owl-dots .owl-dot.active span,
.owl-theme .owl-dots .owl-dot:hover span {
    background: rgb(254, 63, 117);
}

.header__manufacturing {
    margin-bottom: 40px;
}

.footer__manufacturing {
    margin-top: 60px;
}

.manufacturing {
    text-align: center;
}

.manufacturing__item {
    display: inline-block;
    vertical-align: middle;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.manufacturing__item_gmp {
    margin-right: 25px;
    width: 70px;
    height: 70px;
    background-image: url(gmp-black.png);
}

.manufacturing__item_fda {
    width: 128px;
    height: 52px;
    background-image: url(fda-black.png);
}

.sr1__items {
    margin: 0 auto;
    display: table;
}
.notify{
    font-size: 12px;
    margin-top: 30px;
    font-weight: 700;
}

.alert {
    background-color: #fce4e4;
    padding: 20px 30px;
    width: 100%;
}
