/*reset*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn,
em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b,
u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table,
caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details,
embed, figure, figcaption, footer, header, menu, nav, output, ruby, section,
summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; outline: 0; font-size: 100%;}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, menu, nav, section, main {display: block;}

ol, ul {list-style: none;}
blockquote, q {quotes: none;}
img{max-width: 100%; height: auto;}
a{text-decoration: underline;}
a:hover{cursor: pointer;}
*::-webkit-input-placeholder {color: #a9a9a9; opacity: 1;}
*:-moz-placeholder {color: #a9a9a9; opacity: 1;}
*::-moz-placeholder {color: #a9a9a9; opacity: 1;}
*:-ms-input-placeholder {color: #a9a9a9; opacity: 1;}
*{margin: 0; padding: 0;}
*{-webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;}
button,input,a{outline: none;}
button, input, select{-webkit-appearance: none; -moz-appearance: none; appearance: none;}
html{
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    -webkit-font-smoothing: subpixel-antialiased !important;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* my_presets */
.main-form input.field:focus::-webkit-input-placeholder {
    opacity: 0;
}

.main-form input.field:focus::-moz-placeholder {
    opacity: 0;
}

.main-form input.field:focus:-moz-placeholder {
    opacity: 0;
}

.main-form input.field:focus:-ms-input-placeholder {
    opacity: 0;
}

.main-form input.field::-webkit-input-placeholder {
    color: #222;
    opacity: 1;
}

.main-form input.field:-moz-placeholder {
    color: #222;
    opacity: 1;
}

.main-form input.field::-moz-placeholder {
    color: #222;
    opacity: 1;
}

.main-form input.field:-ms-input-placeholder {
    color: #222;
    opacity: 1;
}

.hidden {
    display: none;
}

.left {
    float: left;
}

.right {
    float: right;
}

.center {
    text-align: center;
}

.just {
    text-align: justify;
    -moz-text-align-last: center;
    text-align-last: center;
}

p.par {
    text-align: justify;
    -moz-text-align-last: center;
    text-align-last: center;
    padding: 0 20px 20px;
}

.img {
    display: block;
    margin: 0 auto 20px;
}

.clearfix:after {
    content: "";
    display: block;
    clear: both;
}

.clear {
    clear: both;
    height: 0px;
}

.ulfix {
    font-size: 0;
}

.ulfix li {
    font-size: 16px;
}

/* END my_presets */
h1, h2, h3, h4, h5, h6 {
    font-family: "Gotham Pro", Arial, Helvetica, sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 1.3em;
}

b, strong {
    font-weight: 700;
}

body {
    width: 100%;
    padding: 0px;
    margin: 0px auto;
    font-family: "Gotham Pro", Helvetica, sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5em;
    color: black;
    background: #035584;
}

.wrap {
    width: 480px;
    padding: 0;
    margin: 0 auto;
    background: #f8faf5;
}

section {
    padding: 40px 0 60px;
}

section, footer {
    width: 100%;
    position: relative;
}

.wrap:after {
    clear: both;
    content: "";
    display: table;
}

section:after, footer:after {
    clear: both;
    content: "";
    display: table;
}

.main-form input.field {
    position: relative;
    display: block;
    outline: 0;
    border: 1px solid #dedede;
    border-radius: 35px;
    -webkit-border-radius: 35px;
    width: 100%;
    height: 55px;
    line-height: 88px;
    margin: 0 auto 15px;
    padding: 0 20px;
    background: #f8faf5;
    -webkit-box-shadow: inset 0 0 24px 0 rgba(0, 0, 0, 0.08);
    box-shadow: inset 0 0 24px 0 rgba(0, 0, 0, 0.08);
    text-align: center;
    font-size: 16px;
    font-family: "Gotham Pro", Helvetica, sans-serif;
    font-weight: 400;
    color: #000;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -o-transition: all 0.2s;
    -ms-transition: all 0.2s;
    transition: all 0.2s;
}

.btn {
    position: relative;
    z-index: 2;
    display: block;
    width: 400px;
    height: 88px;
    line-height: 88px;
    margin: 0 auto;
    border: none;
    border-radius: 35px;
    -webkit-border-radius: 35px;
    text-align: center;
    font-family: "Gotham Pro", Helvetica, sans-serif;
    font-size: 24px;
    font-weight: 700;
    letter-spacing: 0.48px;
    text-transform: uppercase;
    text-decoration: none;
    cursor: pointer;
    color: #fff;
    background: #9fdb4b;
    background: -moz-linear-gradient(top, #9fdb4b 0%, #8ac537 100%);
    background: -webkit-linear-gradient(top, #9fdb4b 0%, #8ac537 100%);
    background: linear-gradient(to bottom, #9fdb4b 0%, #8ac537 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr="#9fdb4b", endColorstr="#8ac537",GradientType=0 );
    -webkit-box-shadow: 0 3px 0 0 #7cb033;
    box-shadow: 0 5px 0 0 #7cb033;
    text-shadow: 0 2px 0 rgba(0, 0, 0, 0.15);
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -o-transition: all 0.2s;
    -ms-transition: all 0.2s;
    transition: all 0.2s;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.btn:active {
    top: -1px;
}

.main-form {
    width: 400px;
    margin: 0 auto;
}

.main-form .btn {
    width: 100%;
}

h2.title {
    margin: 0 0 35px 0;
    font-size: 30px;
    letter-spacing: 0.4px;
    text-align: center;
    color: #222222;
    text-transform: none;
}

h2.title > span {
    color: #37b5fe;
}

.video-container {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
    margin-bottom: 25px;
}

.video-container iframe,
.video-container object,
.video-container embed,
.video-container .youtube {
    background: #000;
    border: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/*# sourceMappingURL=settings.css.map */

/*block1*/
.pulse {
    border-radius: 50%;
    position: absolute;
}
.pulse div {
    position: absolute;
    width: 2px;
    height: 2px;
    border-radius: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: pulse 4s infinite;
}
.pulse div:nth-child(2) {
    animation-delay: 700ms;
}
.pulse div:nth-child(3) {
    animation-delay: 1400ms;
}

@-webkit-keyframes pulse {
    0% {
        -webkit-box-shadow: 0 0 0 0 rgba(56, 182, 255, 0.4);
        background: rgba(56, 182, 255, 0.4);
    }
    99% {
        -webkit-box-shadow: 0 0 0 100px rgba(56, 182, 255, 0);
        background: rgba(56, 182, 255, 0);
    }
    100% {
        -webkit-box-shadow: 0 0 0 0 rgba(56, 182, 255, 0);
        background: rgba(56, 182, 255, 0);
    }
}
@keyframes pulse {
    0% {
        -moz-box-shadow: 0 0 0 0 rgba(56, 182, 255, 0.4);
        box-shadow: 0 0 0 0 rgba(56, 182, 255, 0.4);
        background: rgba(56, 182, 255, 0.4);
    }
    99% {
        -moz-box-shadow: 0 0 0 100px rgba(56, 182, 255, 0);
        box-shadow: 0 0 0 100px rgba(56, 182, 255, 0);
        background: rgba(56, 182, 255, 0);
    }
    100% {
        -moz-box-shadow: 0 0 0 0 rgba(56, 182, 255, 0);
        box-shadow: 0 0 0 0 rgba(56, 182, 255, 0);
        background: rgba(56, 182, 255, 0);
    }
}
.b1 {
    padding: 0 0 10px;
    background: #f8faf5 url(offer.jpg) no-repeat center 139px;
    position: relative;
}
.b1 .effect {
    width: 200px;
    position: absolute;
    top: 160px;
    left:50px;
    color: #5e5e5e;
    font-size: 17px;
    text-align: center;
    font-weight: bold;
}

.b1 .pulse {
    top: 423px;
    left: 94px;
}

.b1 h1 {
    color: #35b4fe;
    font-size: 43px;
    font-weight: bold;
    background: #131313;
    text-align: center;
    text-transform: none;
    padding: 3px 0;
    text-shadow: 0 2px 0 rgba(0, 0, 0, 0.15);
}
.b1 h1 span {
    color: white;
}

.b1 h2 {
    font-size: 19px;
    font-weight: normal;
    line-height: 30px;
    color: #fff;
    text-align: center;
    padding: 9px 0;
    text-shadow: 0 2px 0 rgba(0, 0, 0, 0.15);
}

.sale {
    text-align: center;
    padding: 435px 236px 10px 0;
    margin-bottom: 50px;
    color: #fff;
    text-transform: uppercase;
    font-size: 14px;
    text-shadow: 0 3px 0 rgba(0, 0, 0, 0.15);
}

.sale span {
    display: block;
    color: #fffc00;
    font-size: 40px;
    font-weight: 700;
    line-height: 1em;
}

.sale b {
    font-size: 15px;
    font-weight: 700;
}

.checklist {
    margin-bottom: 20px;
}

.checklist li {
    padding: 0 17px 20px 46px;
    background: url(check.png) no-repeat 17px 1px;
}

.checklist p {
    font-size: 17px;
    font-weight: 500;
    color: #222222;
}

.formbox {
    width: 440px;
    margin: 0 auto;
    padding: 30px 0 35px;
    border-radius: 5px;
    -webkit-box-shadow: 0 0 29px 0 rgba(0, 0, 0, 0.18);
    box-shadow: 0 0 29px 0 rgba(0, 0, 0, 0.18);
    text-align: center;
    background: #fff;
}

.formbox h3 {
    font-size: 24px;
    margin-bottom: 30px;
}

.price {
    text-transform: uppercase;
    font-size: 0;
    margin-bottom: 5px;
}

.price li:nth-child(1) {
    font-size: 24px;
    letter-spacing: 0.48px;
    font-weight: 400;
    text-decoration: line-through;
    padding-right: 10px;
}

.price li:nth-child(2) {
    font-size: 37px;
    font-weight: 700;
    color: #89c436;
    letter-spacing: 0.74px;
    padding-left: 10px;
}

.price li {
    display: inline-block;
    vertical-align: baseline;
}

.price li small {
    font-size: 0.8em;
}

.timerbox {
    font-size: 15px;
    margin-bottom: 35px;
}

.timer2 {
    font-size: 15px;
    color: #eb1c24;
    font-weight: 700;
    display: inline-block;
}

.timer2 div {
    display: inline-block;
}

/*block2*/
.b2 .title {
    margin-bottom: 30px;
}
.b2 img {
    margin-bottom: 15px;
}

.b2 > p {
    text-align: center;
    padding: 0 20px 20px;
}

.b2 > p b {
    color: #37b5fe;
}

.b2 > span {
    text-align: center;
    font-weight: 700;
    font-size: 18px;
    text-transform: uppercase;
    margin: 20px auto 30px;
    display: block;
}

.b2 .checklist li {
    font-weight: normal;
    padding: 0 17px 15px 46px;
}
.b2 .checklist li p {
    font-size: 16px;
    font-weight: normal;
}

/*block3*/
.b3 {
    padding-bottom: 40px;
}

.gradient {
    background: #0393e6;
    background: -webkit-gradient(linear, left top, right top, from(#0393e6), to(#38b6ff));
    background: -o-linear-gradient(left, #0393e6, #38b6ff);
    background: linear-gradient(to right, #0393e6, #38b6ff);
}

.gradient h2.title {
    color: #fff;
}

.best__item {
    background: #fff;
    width: 440px;
    margin: 0 auto 30px;
    border-radius: 5px;
    overflow: hidden;
}

.best__item img {
    display: inline-block;
    vertical-align: middle;
    width: 187px;
}

.best__item p {
    display: inline-block;
    vertical-align: middle;
    width: 248px;
    padding: 0 6px 0 20px;
}

.best__item b {
    font-weight: 700;
    text-transform: uppercase;
    display: block;
    margin-bottom: 5px;
}

.b3 > div:last-child {
    margin-bottom: 0;
}

/*block4*/
.b4 > p {
    text-align: center;
    padding: 0 20px 30px;
}

.body {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: baseline;
    align-content: flex-start;
    padding: 0 20px 30px;
}

.body__item {
    width: 137px;
    display: block;
}

.body__item img {
    display: block;
    border-radius: 5px;
}

.body__item p {
    font-weight: 700;
    padding: 10px 0 25px;
    text-align: center;
}

/*block5*/
.b5 {
    padding-bottom: 35px;
}

.b5 > img {
    display: block;
    margin: 0 auto 25px;
}

.b5 p {
    text-align: center;
    line-height: 28px;
    padding: 0 30px;
    color: #fff;
}

/*block6*/
.use {
    -webkit-box-shadow: 0 0 43px 0 rgba(0, 0, 0, 0.13);
    box-shadow: 0 0 43px 0 rgba(0, 0, 0, 0.13);
    margin-bottom: 35px;
}

.use li {
    text-align: center;
}

.use li span {
    display: block;
    margin: 0 auto 10px;
    width: 50px;
    height: 50px;
    background: #8ac537;
    border-radius: 50%;
    line-height: 50px;
    text-align: center;
    color: #fff;
    font-weight: 700;
    font-size: 28px;
}

.use li:nth-child(1) {
    background: #fff url(use1.jpg) no-repeat 0 -5px;
    padding: 30px 0px 30px 240px;
}

.use li:nth-child(2) {
    background: #fff url(use2.jpg) no-repeat right -10px;
    padding: 15px 240px 13px 0;
}

.use li:nth-child(3) {
    background: #fff url(use3.jpg) no-repeat 0 0;
    padding: 30px 0px 21px 240px;
}

.use li:nth-child(4) {
    background: #fff url(use4.jpg) no-repeat right -10px;
    padding: 9px 240px 8px 0;
}

/*block7*/
.b7 {
    padding-top: 0;
}

.b7 > img {
    display: block;
    margin: 0 auto 20px;
}

.char {
    margin-bottom: 50px;
}

.char li {
    list-style: disc inside !important;
    padding: 10px 20px 10px 20px;
}

.char li:nth-child(even) {
    background: #fff;
}

.char b {
    font-weight: 500;
    display: inline-block;
    position: relative;
    left: -5px;
}

.char span {
    float: right;
}

/*block8*/
.reviews__item {
    width: 440px;
    border-radius: 5px;
    background: #fff;
    overflow: hidden;
    margin: 0 auto 30px;
    padding-bottom: 25px;
}

.reviews__item > p {
    padding: 20px 20px 30px;
    text-align: center;
}

.person {
    background: url(quote.png) no-repeat right 30px center;
}

.person img {
    display: inline-block;
    vertical-align: middle;
    margin: 0 25px;
}

.person p {
    display: inline-block;
    vertical-align: middle;
    font-size: 14px;
    line-height: 1.35em;
}

.b8 .btn {
    margin-top: 50px;
}

/*block9*/
.b9 {
    padding-bottom: 30px;
}

.b9 .title {
    font-size: 32px;
    margin-bottom: 25px;
}

.delivery {
    padding: 0 20px;
}

.delivery li {
    padding: 25px 0 25px 0;
    position: relative;
}

.delivery li img {
    display: inline-block;
    vertical-align: middle;
}

.delivery li p {
    display: inline-block;
    vertical-align: middle;
    width: 345px;
    padding-left: 20px;
}

.delivery li p b {
    font-weight: 700;
    font-size: 18px;
    display: block;
    line-height: 1.6em;
}

.delivery li:nth-child(2):before,
.delivery li:nth-child(2):after {
    content: "";
    display: block;
    width: 100%;
    height: 1px;
    background: #f8faf5;
    background: -moz-linear-gradient(left, #f8faf5 0%, #d2d4d0 20%, #d2d4d0 50%, #d2d4d0 80%, #f8faf5 100%);
    background: -webkit-linear-gradient(left, #f8faf5 0%, #d2d4d0 20%, #d2d4d0 50%, #d2d4d0 80%, #f8faf5 100%);
    background: linear-gradient(to right, #f8faf5 0%, #d2d4d0 20%, #d2d4d0 50%, #d2d4d0 80%, #f8faf5 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr="#f8faf5", endColorstr="#f8faf5",GradientType=1 );
    position: absolute;
    left: 0;
    right: 0;
}

.delivery li:nth-child(2):before {
    top: 0;
}

.delivery li:nth-child(2):after {
    bottom: 0;
}

/*block10*/
.end .formbox h3 {
    margin-bottom: 10px;
}

.end .formbox h3 + p {
    margin-bottom: 35px;
}

.freecal {
    font-size: 15px;
    color: #a0a0a0;
    padding: 20px 0 0;
    text-align: center;
}

.footer {
    text-align: center;
    padding: 40px 0 30px;
}

.footer a {
    font-size: 14px;
    color: #333;
    display: block;
    padding: 5px 0 0;
}