body {
    min-width: 320px;
    background: #fff;
    font-family: "AvenirNextCyr", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #333;
    cursor: default;
}
header,
section,
footer {
    margin: 0 auto;
    max-width: 1920px;
}
.wrapper {
    margin: 0 auto;
    padding: 0 10px;
    width: 960px;
    position: relative;
}
.clearfix:after {
    content: "";
    display: block;
    clear: both;
}
img {
    max-width: 100%;
    height: auto;
}
b {
    font-weight: 700;
}
.discount {
    padding: 24px 0 0;
    width: 132px;
    height: 132px;
    background: url(discount_bg.png) center no-repeat;
    font-weight: 700;
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    position: absolute;
}
.discount span {
    display: block;
    font-size: 32px;
    line-height: 32px;
}
.gift {
    padding: 8px 0 0 66px;
    width: 206px;
    height: 56px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    background: #fff;
    -webkit-box-shadow: 0 0 20px rgba(2, 2, 2, 0.1);
    -moz-box-shadow: 0 0 20px rgba(2, 2, 2, 0.1);
    box-shadow: 0 0 20px rgba(2, 2, 2, 0.1);
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    text-transform: uppercase;
    overflow: hidden;
    position: absolute;
}
.gift:before {
    display: block;
    content: "";
    width: 56px;
    height: 56px;
    background: #f270a6 url(gift_icon.html) center no-repeat;
    position: absolute;
    top: 0;
    left: 0;
}
.gift span {
    display: block;
    font-size: 16px;
    color: #f270a6;
}
.button {
    display: block;
    margin: 0 auto;
    width: 280px;
    height: 64px;
    border: none;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    background: #f270a6;
    font-family: "AvenirNextCyr", sans-serif;
    font-weight: 700;
    font-size: 20px;
    line-height: 64px;
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
}
.button:hover {
    background: #eb699f;
}
.button:active {
    -webkit-transform: scale(0.995);
    -moz-transform: scale(0.995);
    -ms-transform: scale(0.995);
    -o-transform: scale(0.995);
    transform: scale(0.995);
}
.deadline_text {
    margin: 15px auto 0;
    width: 280px;
    font-size: 14px;
    line-height: 22px;
    text-align: center;
}
.deadline_text:before {
    display: inline-block;
    vertical-align: middle;
    margin: -3px 8px 0 0;
    content: "";
    width: 20px;
    height: 20px;
    background: url(deadline_icon.png) center no-repeat;
}
h2 {
    margin: 0 0 40px;
    font-weight: 700;
    font-size: 36px;
    line-height: 44px;
    color: #1f9bec;
    text-transform: uppercase;
    text-align: center;
}
.offer_section {
    padding: 25px 0 40px;
    background: url(desctop__offer_bg.jpg) center top no-repeat;
}
.offer_section .main_title {
    margin: 0 0 10px;
    font-weight: 700;
    font-size: 36px;
    line-height: 44px;
    color: #1f9bec;
    text-transform: uppercase;
}
.offer_section .subtitle {
    margin: 0 0 30px;
    width: 450px;
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
}
.offer_section .discount {
    top: 280px;
    left: 530px;
}
.offer_section .gift {
    top: 440px;
    left: 500px;
}
.offer_section ul {
    margin: 0 0 40px;
    width: 340px;
}
.offer_section ul li {
    margin: 0 0 20px;
    padding: 0 0 0 34px;
    background: url(offer__tick_icon.png) left top no-repeat;
}
.offer_section ul li:last-child {
    margin: 0;
}
.offer_section .price_block {
    margin: 0 0 25px;
    width: 280px;
}
.offer_section .price_block .price_item {
    float: left;
    width: 50%;
    text-align: center;
}
.offer_section .price_block .text {
    margin: 0 0 5px;
    font-size: 12px;
    line-height: 12px;
    text-transform: uppercase;
}
.offer_section .price_block .value {
    font-weight: 700;
    font-size: 26px;
    line-height: 26px;
}
.offer_section .price_block .price_item.old .value {
    text-decoration: line-through;
}
.offer_section .price_block .price_item.new .value {
    color: #1f9bec;
}
.offer_section .button {
    margin: 0;
}
.offer_section .deadline_text {
    margin: 15px 0 0;
}
.about_section {
    padding: 40px 0;
}
.about_section .video_wrapper {
    float: left;
    margin: 0 0 40px;
    width: 460px;
    border: 10px solid #fff;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    -webkit-box-shadow: 0 1px 12px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 1px 12px rgba(0, 0, 0, 0.1);
    box-shadow: 0 1px 12px rgba(0, 0, 0, 0.1);
}
.about_section .video_block {
    width: 100%;
    height: 248px;
    background: #000;
    overflow: hidden;
    position: relative;
}
.about_section .video_block iframe,
.about_section .video_block object,
.about_section .video_block embed {
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
.about_section .text_block {
    float: left;
    margin-bottom: 30px;
}
.about_section .text_block p {
    margin: 0 0 15px;
}
.about_section .text_block p:last-child {
    margin: 0;
}
.about_section .images_block {
    clear: both;
}
.about_section .images_block img {
    display: block;
    float: left;
    margin: 0 20px 0 0;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
}
.about_section .images_block img:last-child {
    margin: 0;
}
.problems_section {
    padding: 40px 0;
    background: #abcbeb;
}
.problems_section h2 {
    color: #fff;
}
.problems_section .problems_list {
    font-size: 0;
    line-height: 0;
    letter-spacing: -1px;
    text-align: center;
}
.problems_section .problem_item {
    display: inline-block;
    vertical-align: top;
    padding: 0 10px;
    width: 25%;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    color: #fff;
    letter-spacing: normal;
    text-transform: uppercase;
}
.problems_section .problem_item img {
    display: block;
    margin: 0 auto 15px;
    width: 180px;
    border: 7px solid #fff;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}
.benefits_section {
    padding: 40px 0;
}
.benefits_section .benefits_list {
    float: left;
    width: 470px;
}
.benefits_section .benefit_item {
    display: table;
    margin: 0 0 30px;
    width: 100%;
}
.benefits_section .benefit_item:last-child {
    margin: 0;
}
.benefits_section .benefit_item .image_block {
    display: table-cell;
    vertical-align: middle;
    width: 80px;
}
.benefits_section .benefit_item img {
    display: block;
    border: 1px solid #e0e2f2;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}
.benefits_section .benefit_item .text_block {
    display: table-cell;
    vertical-align: middle;
    padding: 0 0 0 20px;
}
.benefits_section .benefit_item h4 {
    margin: 0 0 5px;
    font-weight: 700;
    text-transform: uppercase;
}
.benefits_section .order_block {
    float: right;
    width: 450px;
}
.benefits_section .order_block img {
    display: block;
    margin: 0 auto 40px;
}
.use_steps_section {
    padding: 40px 0;
    background: #f9f2ff;
}
.use_steps_section h2 {
    color: #333;
}
.use_steps_section .steps_list {
    margin: 0 0 40px;
}
.use_steps_section .step_item {
    float: left;
    margin: 0 20px 0 0;
    width: 300px;
    text-align: center;
    position: relative;
}
.use_steps_section .step_item:nth-child(2) {
    padding: 0 20px;
}
.use_steps_section .step_item:last-child {
    margin: 0;
}
.use_steps_section .step_item:before {
    display: block;
    content: "";
    width: 64px;
    height: 21px;
    background: url(use_steps__arrow1.png) center no-repeat;
    position: absolute;
    top: 60px;
    right: -42px;
}
.use_steps_section .step_item:nth-child(2):before {
    top: 100px;
    background-image: url(use_steps__arrow2.png);
}
.use_steps_section .step_item:last-child:before {
    display: none;
}
.use_steps_section .step_item img {
    display: block;
    margin: 0 auto 15px;
    width: 180px;
    border: 7px solid #fff;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}
.use_steps_section .step_item h4 {
    margin: 0 0 5px;
    font-weight: 700;
    color: #1f9bec;
    text-transform: uppercase;
}
.use_steps_section .results_block img {
    display: block;
    float: left;
    margin: 0 20px 0 0;
}
.use_steps_section .results_block img:last-child {
    margin: 0;
}
.comparison_section {
    padding: 40px 0;
    background: url(desctop__comparison_bg.jpg) center bottom no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.comparison_section h2 {
    margin: 0 0 25px;
}
.comparison_section p.description {
    margin: 0 0 40px;
    text-align: center;
}
.comparison_section .products_list {
    margin: 0 0 40px;
}
.comparison_section .product_item {
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    background: #fff;
    overflow: hidden;
}
.comparison_section .product_item h4 {
    padding: 10px 40px;
    background: #436982;
    font-weight: 700;
    color: #fff;
    text-align: center;
}
.comparison_section .product_item.first h4 {
    background: #1f9bec;
}
.comparison_section .product_item .image_block {
    position: relative;
}
.comparison_section .product_item img {
    display: block;
}
.comparison_section .product_item .price {
    padding: 0 15px;
    height: 32px;
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    border-radius: 16px;
    background: #f270a6;
    font-weight: 700;
    line-height: 32px;
    color: #fff;
    position: absolute;
    right: 20px;
    bottom: 10px;
}
.comparison_section .product_item ul {
    padding: 20px 30px;
}
.comparison_section .product_item li {
    margin: 0 0 10px;
    padding: 0 0 0 26px;
}
.comparison_section .product_item li:last-child {
    margin: 0;
}
.comparison_section .product_item li.yes {
    background: url(comparison__tick_icon.png) left center no-repeat;
}
.comparison_section .product_item li.no {
    background: url(comparison__cross_icon.png) 2px center no-repeat;
}
.opinion_section {
    padding: 40px 0;
}
.opinion_section h2 {
    position: relative;
    z-index: 10;
}
.opinion_section img {
    display: block;
    width: 760px;
    position: absolute;
    bottom: -40px;
    left: -240px;
}
.opinion_section .text_block {
    margin: 0;
    position: relative;
    z-index: 10;
}
.opinion_section .text_block p {
    margin: 0 0 30px;
}
.opinion_section .author_info {
    padding: 0 20px 0 0;
    border-right: 5px solid #f270a6;
    text-align: right;
}
.opinion_section .author_info .name {
    margin: 0 0 5px;
    font-weight: 700;
    font-size: 20px;
}
.opinion_section .author_info .text {
    line-height: 20px;
    color: #989da6;
}
.opinion_section .author_info .text span {
    display: block;
}
.reviews_section {
    padding: 40px 0;
    background: #abcbeb;
}
.reviews_section h2 {
    margin: 0 0 25px;
    color: #fff;
}
.reviews_section p.description {
    margin: 0 auto 40px;
    max-width: 580px;
    color: #fff;
    text-align: center;
}
.reviews_section .review_item {
    padding: 20px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    background: #fff;
    text-align: center;
}
.reviews_section .review_item img {
    display: block;
    margin: 0 0 14px;
}
.reviews_section .review_item .author_info {
    margin: 0 0 12px;
    padding: 0 0 20px;
    background: url(reviews__stars.png) center bottom no-repeat;
    font-weight: 700;
}
.order_steps_section {
    padding: 40px 0;
}
.order_steps_section .steps_list {
    font-size: 0;
    line-height: 0;
    letter-spacing: -1px;
    text-align: center;
}
.order_steps_section .step_item {
    display: inline-block;
    vertical-align: top;
    padding: 0 10px;
    width: 25%;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: normal;
    position: relative;
}
.order_steps_section .step_item:before {
    display: block;
    content: "";
    margin: 0 auto 15px;
    width: 116px;
    height: 116px;
    border: 2px solid #f270a6;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    background: center no-repeat;
}
.order_steps_section .step_item:nth-child(1):before {
    background-image: url(order_steps__step1_icon.png);
}
.order_steps_section .step_item:nth-child(2):before {
    background-image: url(order_steps__step2_icon.png);
}
.order_steps_section .step_item:nth-child(3):before {
    background-image: url(order_steps__step3_icon.png);
}
.order_steps_section .step_item:nth-child(4):before {
    background-image: url(order_steps__step4_icon.png);
}
.order_steps_section .step_item:after {
    display: block;
    content: "";
    width: 8px;
    height: 8px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    background: #1f9bec;
    position: absolute;
    top: 56px;
    right: -4px;
}
.order_steps_section .step_item:last-child:after {
    display: none;
}
.order_steps_section .step_item h4 {
    margin: 0 0 12px;
    font-size: 18px;
    text-transform: uppercase;
}
.order_steps_section .step_item h4:after {
    display: block;
    content: "";
    margin: 6px auto 0;
    width: 20px;
    height: 2px;
    background: #1f9bec;
}
.order_section .title_block {
    padding: 15px 0;
    background: #1f9bec;
    font-weight: 700;
    font-size: 30px;
    line-height: 38px;
    color: #fff;
    text-align: center;
}
.order_section .content_block {
    padding: 25px 0;
    background: url(desctop__order_bg.jpg) center top no-repeat;
}
.order_section .main_title {
    margin: 0 0 5px;
    font-weight: 700;
    font-size: 36px;
    line-height: 44px;
    color: #1f9bec;
    text-transform: uppercase;
    text-align: center;
}
.order_section .subtitle {
    margin: 0 0 25px;
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    text-align: center;
}
.order_section .discount {
    top: 305px;
    left: 540px;
}
.order_section .gift {
    top: 470px;
    left: 510px;
}
.order_section .form_block {
    padding: 20px;
    width: 320px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    background: #fff;
    -webkit-box-shadow: 0 0 20px rgba(2, 2, 2, 0.1);
    -moz-box-shadow: 0 0 20px rgba(2, 2, 2, 0.1);
    box-shadow: 0 0 20px rgba(2, 2, 2, 0.1);
}
.order_section .timer_block {
    margin: 0 auto;
    padding: 9px 10px 0 88px;
    width: 280px;
    height: 78px;
    border: 1px solid #e0e2f2;
    -webkit-border-radius: 20px 6px 6px 20px;
    -moz-border-radius: 20px 6px 6px 20px;
    border-radius: 20px 6px 6px 20px;
    text-align: center;
    position: relative;
}
.order_section .timer_block:before {
    display: block;
    content: "";
    width: 78px;
    height: 78px;
    -webkit-border-radius: 6px 0 0 6px;
    -moz-border-radius: 6px 0 0 6px;
    border-radius: 6px 0 0 6px;
    background: #1f9bec url(order__timer_icon.png) center no-repeat;
    position: absolute;
    top: -1px;
    left: -1px;
}
.order_section .timer_block p {
    margin: 0 0 5px;
    font-weight: 700;
    font-size: 14px;
    line-height: 14px;
    text-transform: uppercase;
}
.order_section .timer_block .timer_item {
    float: left;
    width: 33.333333%;
}
.order_section .timer_block .count {
    font-weight: 700;
    font-size: 30px;
    line-height: 30px;
    color: #00a0e6;
    position: relative;
}
.order_section .timer_block .count:before {
    display: block;
    content: ":";
    width: 10px;
    position: absolute;
    top: -3px;
    right: -5px;
}
.order_section .timer_block .timer_item:last-child .count:before {
    display: none;
}
.order_section .timer_block .text {
    margin-top: -2px;
    font-size: 12px;
    line-height: 12px;
}
.order_section .price_block {
    margin: 19px auto 16px;
    width: 280px;
}
.order_section .price_block .price_item {
    float: left;
    width: 50%;
    text-align: center;
}
.order_section .price_block .text {
    margin: 0 0 5px;
    font-size: 12px;
    line-height: 12px;
    text-transform: uppercase;
}
.order_section .price_block .value {
    font-weight: 700;
    font-size: 26px;
    line-height: 26px;
}
.order_section .price_block .price_item.old .value {
    text-decoration: line-through;
}
.order_section .price_block .price_item.new .value {
    color: #f270a6;
}
.order_section .field,
.order_section select {
    display: block;
    margin: 0 auto 15px;
    padding: 0 20px;
    width: 100%;
    height: 56px;
    border: none;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    background: #f3f4f6;
    -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.2);
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.2);
    font-family: "AvenirNextCyr", sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #333;
    text-align: center;
}
.order_section .field::-webkit-input-placeholder {
    opacity: 1;
    color: #333;
}
.order_section .field:-moz-placeholder {
    opacity: 1;
    color: #333;
}
.order_section .field::-moz-placeholder {
    opacity: 1;
    color: #333;
}
.order_section .field:-ms-input-placeholder {
    opacity: 1;
    color: #333;
}
.order_section .field:focus::-webkit-input-placeholder {
    opacity: 0;
}
.order_section .field:focus:-moz-placeholder {
    opacity: 0;
}
.order_section .field:focus::-moz-placeholder {
    opacity: 0;
}
.order_section .field:focus:-ms-input-placeholder {
    opacity: 0;
}
.footer_section {
    padding: 25px 0;
    font-size: 14px;
    text-align: center;
}
.footer_section img {
    display: block;
    margin: 0 auto 10px;
}
.footer_section a {
    color: #111;
}
.footer_section a:hover {
    text-decoration: none;
}
@media screen and (max-width: 959px) {
    .wrapper {
        width: 640px;
    }
    h2 {
        font-size: 28px;
        line-height: 36px;
    }
    .offer_section {
        padding: 15px 0 40px;
        background-image: url(tablet__offer_bg.jpg);
    }
    .offer_section .main_title {
        margin: 0 0 5px;
        text-align: center;
    }
    .offer_section .subtitle {
        width: 100%;
        font-size: 20px;
        line-height: 28px;
        text-align: center;
    }
    .offer_section .discount {
        top: 135px;
        left: 498px;
    }
    .offer_section .gift {
        top: 460px;
        left: 310px;
    }
    .about_section .video_wrapper {
        float: none;
        width: 100%;
    }
    .about_section .video_block {
        height: 338px;
    }
    .about_section .text_block {
        float: none;
        margin: 0 0 40px;
        width: 100%;
        text-align: center;
    }
    .about_section .images_block img {
        margin: 0 10px 0 0;
        width: 200px;
    }
    .problems_section {
        padding: 40px 0 0;
    }
    .problems_section .problem_item {
        margin: 0 0 40px;
        padding: 0 40px;
        width: 50%;
    }
    .benefits_section .benefits_list {
        float: none;
        margin: 0 0 40px;
        width: 100%;
    }
    .benefits_section .order_block {
        float: none;
        width: 100%;
    }
    .use_steps_section .step_item {
        margin: 0 10px 0 0;
        width: 200px;
    }
    .use_steps_section .step_item:nth-child(2) {
        padding: 0 10px;
    }
    .use_steps_section .step_item:before {
        display: none;
    }
    .use_steps_section .results_block img {
        width: 300px;
    }
    .comparison_section {
        background-image: url(tablet__comparison_bg.jpg);
    }
    .comparison_section .owl-prev,
    .comparison_section .owl-next {
        width: 54px;
        height: 54px;
        background: url(slider__arrows.png) no-repeat;
        position: absolute;
        top: 7px;
    }
    .comparison_section .owl-prev {
        background-position: left center;
        left: 0;
    }
    .comparison_section .owl-next {
        background-position: right center;
        right: 0;
    }
    .opinion_section h2 {
        margin: 0 0 20px;
    }
    .opinion_section img {
        position: static;
        margin: 0 auto 40px;
    }
    .opinion_section .text_block {
        margin: 0;
        text-align: center;
    }
    .opinion_section .text_block p {
        margin: 0 0 15px;
    }
    .opinion_section .author_info {
        padding: 10px 0 0;
        border-right: none;
        text-align: center;
    }
    .reviews_section .owl-prev,
    .reviews_section .owl-next {
        width: 54px;
        height: 54px;
        background: url(slider__arrows.png) no-repeat;
        position: absolute;
        top: 93px;
    }
    .reviews_section .owl-prev {
        background-position: left center;
        left: 20px;
    }
    .reviews_section .owl-next {
        background-position: right center;
        right: 20px;
    }
    .order_steps_section {
        padding: 40px 0 0;
    }
    .order_steps_section .step_item {
        margin: 0 0 40px;
        padding: 0 40px;
        width: 50%;
    }
    .order_steps_section .step_item:after {
        display: none;
    }
    .order_section .title_block {
        font-size: 24px;
        line-height: 32px;
    }
    .order_section .content_block {
        padding: 15px 0 25px;
        background-image: url(tablet__order_bg.jpg);
    }
    .order_section .subtitle {
        margin: 0 0 15px;
        font-size: 20px;
        line-height: 28px;
    }
    .order_section .discount {
        top: 135px;
        left: 498px;
    }
    .order_section .gift {
        top: 519px;
        left: 380px;
    }
}
@media screen and (max-width: 639px) {
    .wrapper {
        width: 320px;
    }
    h2 {
        margin: 0 0 30px;
        font-size: 20px;
        line-height: 28px;
    }
    .offer_section {
        padding: 10px 0 25px;
        background-image: url(mobile__offer_bg.jpg);
    }
    .offer_section .main_title {
        font-size: 22px;
        line-height: 30px;
    }
    .offer_section .subtitle {
        margin: 0 0 375px;
        font-size: 18px;
        line-height: 24px;
    }
    .offer_section .discount {
        display: none;
    }
    .offer_section .gift {
        top: 400px;
        left: 104px;
    }
    .offer_section ul {
        margin: 0 0 30px;
        width: 100%;
    }
    .offer_section .price_block {
        margin: 0 auto 25px;
    }
    .offer_section .button {
        margin: 0 auto;
    }
    .offer_section .deadline_text {
        margin: 15px auto 0;
    }
    .about_section {
        padding: 30px 0;
    }
    .about_section .video_wrapper {
        margin: 0 0 30px;
    }
    .about_section .video_block {
        height: 158px;
    }
    .about_section .text_block {
        margin: 0 0 30px;
    }
    .about_section .images_block img {
        float: none;
        margin: 0 0 20px;
        width: 100%;
    }
    .problems_section {
        padding: 30px 0 0;
    }
    .problems_section .problem_item {
        margin: 0 0 30px;
        padding: 0;
        width: 100%;
    }
    .benefits_section {
        padding: 30px 0;
    }
    .benefits_section .benefits_list {
        margin: 0 0 30px;
    }
    .benefits_section .benefit_item {
        margin: 0 0 20px;
    }
    .benefits_section .benefit_item .image_block {
        vertical-align: top;
        width: 60px;
    }
    .benefits_section .benefit_item .text_block {
        vertical-align: top;
    }
    .benefits_section .order_block img {
        margin: 0 auto 30px;
    }
    .use_steps_section {
        padding: 30px 0;
    }
    .use_steps_section .steps_list {
        margin: 0 0 30px;
    }
    .use_steps_section .step_item {
        float: none;
        margin: 0 0 30px;
        width: 100%;
    }
    .use_steps_section .step_item:nth-child(2) {
        padding: 0;
    }
    .use_steps_section .results_block img {
        float: none;
        margin: 0 0 30px;
    }
    .comparison_section {
        padding: 30px 0;
        background-image: url(mobile__comparison_bg.jpg);
    }
    .comparison_section h2 {
        margin: 0 0 20px;
    }
    .comparison_section p.description {
        margin: 0 0 30px;
    }
    .comparison_section .products_list {
        margin: 0 0 30px;
    }
    .opinion_section {
        padding: 30px 0;
    }
    .opinion_section img {
        margin: 0 auto 30px;
    }
    .reviews_section {
        padding: 30px 0;
    }
    .reviews_section h2 {
        margin: 0 0 20px;
    }
    .reviews_section p.description {
        margin: 0 0 30px;
    }
    .order_steps_section {
        padding: 30px 0 0;
    }
    .order_steps_section .step_item {
        margin: 0 0 30px;
        width: 100%;
    }
    .order_section .title_block {
        font-size: 20px;
        line-height: 28px;
    }
    .order_section .content_block {
        padding: 10px 0 25px;
        background-image: url(mobile__offer_bg.jpg);
    }
    .order_section .main_title {
        font-size: 22px;
        line-height: 30px;
    }
    .order_section .subtitle {
        margin: 0 0 370px;
        font-size: 18px;
        line-height: 24px;
    }
    .order_section .discount {
        display: none;
    }
    .order_section .gift {
        top: 400px;
        left: 104px;
    }
    .order_section .form_block {
        margin-left: -10px;
    }
}
span.price_land_curr {
    font-size: 0.6em;
}
