/*@font-face {*/
    /*font-family:'Segoue Regular';*/
    /*src:url('../font/segoeui.ttf');*/
    /*font-weight:normal;*/
    /*font-style:normal;*/
/*}*/
/*@font-face {
    font-family:'Segoue ';
    src:url('/frontend/web/fonts/Lora-Regular.ttf');
    font-weight:normal;
    font-style:normal;
}
@font-face {
    font-family:'Lora-Regular';
    src:url('/frontend/web/fonts/Lora-Regular.ttf');
    font-weight:normal;
    font-style:normal;
}
@font-face {
    font-family:'Lora-Regular';
    src:url('/frontend/web/fonts/Lora-Regular.ttf');
    font-weight:normal;
    font-style:normal;
}*/


html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
html{
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

body {
    font-size: 18px;
    line-height: 24px;
    font-family: 'Clear Sans', sans-serif;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background: #fff;
    color: #222;
    position: relative;
    min-width: 320px;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
b {font-weight: 600;}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
img {
    max-width: 100%;
}
i {font-style: normal;}
.center {
    text-align: center;
}

h1, .h1, h2, .h2, h3, .h3 {
    margin-top: 0px!important;
    margin-bottom: 10px;
}

/*Site settings*/
/* owmen17 */
input::-webkit-input-placeholder { color: #333; }
input::-moz-placeholder { color: #333; }


.upp {
    text-transform: uppercase;
}

.white {
    color: #fff;
}
.yellow {
    color: #eba22d;
}

.section, .wrap, .container{
    position: relative;
}
.section{
    width: 100%;
}
.wrap {
    width: 970px;
    padding: 0 10px;
    margin: 0 auto;
}
img {
    max-width: 100%;
    height: auto;
}

h1,h2,h3 {
    letter-spacing: 2px;
}
h2 {
    font-size: 36px;
    color:#222222;
    line-height: 1.2;
    font-weight: bold;
}

.block-1 {
    background: url(bg1.png) #FBEFEF no-repeat center bottom;
    height: 790px;
}
.block1inputname, .col-sm-4 select {
    width: 260px;
    height: 46px;
    line-height: 65px;
    padding-left: 15px;
    font-size: 20px;
    border: 1px solid #e0937f;
    background: #f6e1e3;
    margin: 0 0;
    margin-top: 20px;
}
.col-sm-4 select {
    display: inline!important;
}
span.newprice1 {
    font-size: 22px;
}
span.oldprice {
    color: #be4555;
    display: block;
    height: 24px;
}
span.oldprice1 {
    font-size: 20px;
    text-decoration: line-through;
    color: #be4555;
}
.block1inputphone{
    width: 260px;
    height: 46px;
    line-height: 65px;
    padding-left: 15px;
    font-size: 20px;
    border: 1px solid #e0937f;
    background: #f6e1e3;
    margin: 20px 0 0 0;
}
.priceblock {
    height: 94px;
    padding-top: 20px;
    width: 100%;
    background: url(sloy.png) top center no-repeat;
    background-position-y: -9px;
    background-position-x: 100px;
}
.knopka1 {
    width: 260px;
    height: 58px;
    line-height: 58px;
    text-align: center;
    font-size: 20px;
    color: white;
    border: 1px solid #be4555;
    background: #be4555;
}
h1 {
    font-size: 44px;
    line-height: 44px;
    color: #7f362e;
    font-weight: bold;
    padding-top: 30px;

}
h1 span {
    font-size: 26px;
    color:#121212;
    font-weight: normal;
}
.block-1 .discont {
    /*margin-top: 220px;*/
}
.discont {
    font-size: 30px;
    margin: 0 auto;
    /* font-weight: bold; */
    text-transform: uppercase;
    text-align: center;
    line-height: 1.2em;
    background: #be4555;
    width: 165px;
    padding: 35px 0 40px;
    border-radius: 50%;
    /* margin: 30px 0; */
    margin-top: 15px;
    margin-bottom: 15px;
}
.discont span {
    font-size: 58px;
    display: block;
    font-weight: normal;
    margin-top: 17px;
}
.col-xs-12.block2text1 {
    text-align: center;
    margin-top: 40px;
    color: #422b2e;
    margin-bottom: 15px;
    text-transform: uppercase;
    font-size: 30px;
}
.block2text1 {
    line-height: 25px;
    font-size: 16px;
}
.line{
    text-align: center;
    margin-top: 10px;
    margin-bottom: 40px;
}
.block2 {
    height: 570px;
}
.block3 {
    height: 520px;
}
.block3img.col-xs-12 {
    text-align: center;
}

.block3text1 {
    text-align: center;
    font-size: 18px;
    margin: 20px 0;
    margin-bottom: 5px;
}
.block3text2.col-xs-12 {
    text-align: center;
    font-size: 17px;
}
.block-order {
    background: url(pattern.jpg) repeat;
}
.block-order .wrap {
    padding: 30px 0;
}
.block-order h2 {
    font-size: 28px;
    color: #fff;
    line-height: 1.3em;
}
.block-order h2 span {
    display: block;
}
.block-order h2 span s {text-decoration: line-through;}
.block-order h2 span b {
    font-weight: 600;
    font-size: 30px;
}
form {
    padding-top: 0px;
    border-radius: 10px;
    text-align: center;
}

form div {
    display: inline-block;
    width: 290px;
    vertical-align: top;
}

/*input, select {
  box-sizing: content-box;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
    outline: none;
    border: 1px solid #fff;
    width: 240px;
    height: 37px;
    font-size: 20px;
    margin: 0 auto 15px;
    padding: 8px 20px 11px;
    border-radius: 10px;
    font-family: 'Clear Sans', sans-serif;
    box-shadow: inset 1px 1px 3px 0px #ccc;
    text-align: center;
}*/
button.but {
    font-family: 'Clear Sans', sans-serif;
    cursor: pointer;
    outline: none;
    text-decoration: none;
    margin: 0 auto;
    width: 280px;
    height: 58px;
    line-height: 1;
    letter-spacing: 2px;
    font-size: 24px;
    border-radius: 10px;
    background: rgba(255,29,59,1);
    background: linear-gradient(to top, rgba(255,29,59,1) 0%, rgba(255,96,115,1) 100%);
    border: 1px solid #ff4a61;
}
button.but:hover {
    background: #ff7585;
    background: linear-gradient(to top, #ff7585 0%, #ff3e59 100%);
}
button.but:active {
    background: rgba(255,96,115,1);
    background: linear-gradient(to top, rgba(255,96,115,1) 0%, rgba(255,29,59,1) 100%);
}



.block-2 {
    background: #fbead0;
}
.tovars {
    width: 930px;
    overflow: hidden;
    margin: 0 auto;
}
.tovar {
    margin: 50px 10px 50px;
    min-height: 485px;
}
.tovar img {
    margin-top: -43px;
    margin-bottom: 10px;
}
.tovar h3 {
    position: relative;
    font-size: 24px;
    line-height: 22px;
    padding-bottom: 28px;
    color:#663333;
    font-weight: bold;
}

.tovar p {color:#000022;}

.tovar h3:after {
    content: '';
    display: block;
    width: 70px;
    height: 5px;
    position: absolute;
    bottom: 12px;
    left: 50%;
    background: #fb785a;
    margin-left: -35px;
}

.block-3 {
    background: url(bg-3.jpg) no-repeat center top;
    height: 661px;
}

.block-3 .wrap {padding: 30px 0;}
.block-3 .itemBlock {
    width: 480px;
    float: right;
    clear: both;
    margin: 30px 0px;
}
.block-3 .itemBlock ul li {
    background: #fff;
    border-radius: 10px;
    padding: 10px 20px 10px 75px;
    margin-bottom: 20px;
    color:#222222;
    font-size: 16px;
    position: relative;
}

.block-3 .itemBlock ul li b {
    display: block;
    text-transform: uppercase;
    font-size: 18px;

}

.block-3 .itemBlock ul li:before {
    content: '';
    position: absolute;
    background: url(bl3-item.jpg) no-repeat left top;
    width: 43px;
    height: 65px;
    left: 15px;
}

.block-3 .itemBlock ul li:nth-child(1):before {background-position: 0px 18px;}
.block-3 .itemBlock ul li:nth-child(2):before {background-position: 0 -90px;}
.block-3 .itemBlock ul li:nth-child(3):before {background-position: 0 -190px;}
.discBlock {
    background: url(pattern.jpg) repeat;
    border-radius: 10px;
    text-align: center;
    width: 300px;
    float: right;
    padding: 20px 10px;
}
.discBlock p {
    font-size: 30px;
    margin: 10px 0;
}

.block-4 {
    background: url(block4_bg.jpg) top center no-repeat;
    clear: both;
}

.line22.col-sm-12 {
    text-align: center;
}
.block-4 h2 {
    font-weight: 100;
    padding-top: 30px;
}

.block-4 img.smile {
    display: inline-block;
    margin: 0 2px 0;
    border: none;
}
.block-4 .tovar {
    float: left;
    width: 290px;
}
.block4text1{
    background: url(otziv1.png) center top no-repeat;
    background-size: contain;
    padding: 40px;
    font-size: 13px;
    height: 360px;
}
.block-4 .tovar img {
    margin-top: 0;
    border-radius: 30px;
}
.block-4 .tovar p {
    text-align: left;
    font-size: 16px;
    color:#222222;
    padding: 0 15px 15px;
}

.block-4 .tovar p span {
    color:#2052b6;
}

.block-5 {
    height: 530px;
}
.block-5 .wrap {padding: 30px 0;}
.block-5 .specialist {clear:both; margin: 35px 0;}
.block-5 .specialist .left {
    float: left;
    width: 20%;
    margin-right: 50px;
    border-radius: 5px;
    border: 4px solid #fff;
    height: 288px;
}
.block-5 .specialist .right {
    float: right;
    width: 70%;
    background: #fff;
    padding: 0px 0px;
    border-radius: 5px;
    font-size: 16px;
    color: #222222;
}
.block-5 .specialist .right p.name {
    font-style: italic;
    font-weight: bold;
    margin-top: 15px;
}
.line123{
    margin-top: 10px;
    margin-bottom: 40px;
    text-align: center;
}

.block-6 {
    background: url(block6_bg.jpg) top center no-repeat;
}
.block-6 .wrap {padding: 30px 0;}
.block-6 h2 {font-weight: 100;}

.block-6 .tovar {
    width: 290px;
    font-size: 16px;
    background: #ffffff;
    padding: 0;
    min-height: inherit;
    margin: 55px 10px 25px;
    float: left;
}
.block-6 .tovar h3 {
    font-size: 18px;
    color: #000;
}
.block-6 .tovar h3:after {
    background: url(ff2.png) top center no-repeat;
}
.block-6 .tovar img {
    margin-top: -54px;
}
.block-6  .tovar p {
    color: #000022;
    padding: 10px 15px 20px;
}


.block-10 {
    background: url(bg-10.jpg) center top no-repeat;
    height: 565px;
}

.block-10 .wrap {padding: 0;}

.block-10  h1 span {
    font-size: 42px;
    font-weight: 100;
}

.block-10 .discont {
    position: absolute;
    left: 280px;
    top: 273px;
}

.timer {
    width: 320px;
    text-align: center;
    margin-top: 9px;
}
.timer p {
    letter-spacing: 0.4px;
    font-size: 18px;
    color:#663333;
}

.b11 {margin: 20px 0;}

.b11 p a {
    color: #888;
}
/* michael-k90 */
@media screen and (max-width: 959px){
    .section{
        padding: 0;
    }
    .wrap {
        width: 620px;
    }
    .block-1 {
        background: url(bg-1.png) #FBEFEF center top no-repeat;
        height: 560px;
    }
    .section.block-1 {
        padding: 15px 0 0;
    }
    .block-1 h1 {
        font-size: 26px;
        line-height: 1;
        padding: 0;
    }

    .discont {
        position: absolute;
        top: -87px;
        right: -450px;
    }

    .block-order h2 span {
        display: initial;
    }

    .col-xs-6 {
        width: 100%;
    }

    .col-xs-12 {
        text-align: center;
    }

    .block-4 .tovar img {
        float: none;
        margin-right: 0;
        max-width: 100%;
    }

    .hidden-xs {
        display: none !important;
    }

    .block4text1 {
        background: url(otziv1.png) center top no-repeat;
        background-size: contain;
        padding: 47px;
        font-size: 10px;
        margin-bottom: 73px;
    }

    .carousel-inner .block4text {
        width: 310px;
        margin-left: 118px;
    }

    .visible-xs {
        display: block !important;
    }

    .priceblock {
        background-image: none;
    }


    .price {
        top: 20px;
        left: 10px;
    }
    .block-2 .timer {
        float: right;
        width: 300px;
        margin: 234px 10px 0 0;
    }
    .tovars {
        width: 100%;
    }
    .tovar {
        width: 230px;
        padding: 0 20px 30px;
        margin: 80px 20px 30px;
    }

    .block-3 {
        background: url(bg-5.jpg) no-repeat center top /cover;
        padding-bottom: 40px;
    }

    .block-3 .itemBlock {
        float: none;
        margin: 30px auto;
    }

    .discBlock {
        width: 400px;
        font-size: 24px;
        padding: 20px 40px;
    }

    .block-4 .tovar {
        float: none;
        width: 100%;
        min-height: 244px;
        margin: 40px 0px;
    }
    .block-4 img.smile {
        border: none !important;
        float: none !important;
        margin-right: 2px !important;
    }

    .block-4 .tovar p {
        text-align: left;
        font-size: 18px;
        padding: 10px;
        float: left;
        width: 360px;
        line-height: 1.5;
    }
    .block-5 {
        height: auto;
        background-size: cover;
    }

    .block-5 .specialist {
        overflow: hidden;
        background: #fff;
        border-radius: 10px;
    }
    .block-5 .specialist .left {
        width: 190px;
        height: 260px;
        padding: 20px;
    }
    .block-5 .specialist .right {
        width: 360px;
        padding: 20px 20px 20px 0;
    }

    .block-6 .tovar {
        width: 185px;
        min-height: 405px;
    }


    .block-10 {
        background: url(bg-10.jpg) center top no-repeat;
        height: 563px;
    }
    .carousel-control {
        position: absolute;
        top: 638px!important;
    }
    .carousel-control.left {
        background: url(prev.png) center no-repeat!important;
        background-repeat: repeat-x;
        background-size: 100%!important;
        width: 32px;
        height: 30px;
        left: 35px!important;
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#80000000', endColorstr='#00000000', GradientType=1);
    }
    .carousel-control.right {
        left: auto;
        right: 35px!important;
        background: url(next.png) center no-repeat!important;
        background-size: 100%!important;
        width: 32px;
        height: 30px;
        background-repeat: repeat-x;
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#80000000', GradientType=1);
    }
    span.glyphicon.glyphicon-chevron-right {
        display: none;
    }
    span.glyphicon.glyphicon-chevron-left {
        display: none;
    }
    .carousel-indicators .active {
        width: 27px!important;
        height: 28px!important;
        margin: 6px;
        border-radius: 50%!important;
        background-color: #fff!important;
    }
    .carousel-indicators{
        bottom: 22px!important;
    }
    .carousel-indicators li {
        display: inline-block;
        width: 27px!important;
        height: 28px!important;
        margin: 6px;
        border-radius: 50%!important;
        text-indent: -999px;
        /* line-height: 20px; */
        cursor: pointer;
        /* letter-spacing: 20px; */
        background-color: rgb(162, 209, 229)!important;
        border: 1px solid #000;
    }
}
/* bizlife_inc */
@media screen and (max-width: 767px){
    .col-xs-12{
        padding-left: 0;
    }

    .wrap {
        width: 300px;
    }

    h1, h2, h3 {
        letter-spacing: 0px;
    }

    h2 i {
        display: none;
    }
    .block-1 {
        background: url(bg-1.jpg) no-repeat center top;
        height: 1160px;
    }
    .block-1 h1 {
        font-size: 20px;
    }
    .block4text1 {
        background: url(otziv1.png) center top no-repeat;
        background-size: contain;
        padding: 30px;
        font-size: 10px;
        margin-bottom: 73px;
        height: 300px;
    }

    .item {
        height: 660px;
    }

    .carousel-inner .block4text {
        width: 100%;
        margin-left: 0;
    }

    .block-1 .discont {
        /* margin-top: 160px; */
        /* background: url(640/discont.png) no-repeat; */
        font-size: 22px;
        width: 129px;
        padding: 20px 0;
        margin-left: -16px;
        margin-top: 10px;
        margin-bottom: 489px;
        height: 129px;
    }

    .col-xs-6 {
        width: 50%;
    }

    .priceblock {
        background: url(sloy.png) top center no-repeat;
    }

    .discont {
        position: relative;
        top: 0;
        right: 0;
    }

    .discont span {
        font-size: 46px;
    }
    .col-xs-12.block2text1 {
        font-size: 21px;
        line-height: 30px!important;
    }
    .block2text1{
        margin-top: 20px;
    }
    .block3text1 {
        font-size: 15px;
        color: #422b2e;
    }
    .block3text2.col-xs-12 {
        margin-bottom: 30px;
    }
    h1 span {
        font-size: 29px!important;
        display: block;
        font-weight: normal!important;
        margin-top: 10px;
    }
    .spanspan2 {
        font-size: 20px!important;
        margin-top: -15px;
    }

    h2 {
        font-size: 23px;
    }

    .block-2  .tovar {
        width: 260px;
        padding: 0 20px 30px;
        margin: 80px 0px 30px;
        min-height: inherit;
    }

    .block-3 {
        height: auto;
        padding-bottom: 0;
    }

    .block-3 .itemBlock {
        width: 300px;
    }

    .discBlock {
        max-width: 300px;
        font-size: 18px;
        padding: 10px 0;
        float: none;
    }

    .block-4 .tovar {
        margin: 40px 0px;
    }

    .block-4 .tovar img {
        float: none;
        margin-right: 0;
        max-width: 100%;
    }

    .block-4 .tovar p {
        float: none;
        width: initial;
    }

    .block-5 .specialist .left {
        width: 100%;
        padding: 30px 0;
        float: left;
        text-align: center;
    }

    .block-5 .specialist .right {
        width: 100%;
        padding: 20px;
        float: left;
    }
    .line123{
        margin:0 auto;
    }
    #line123{
        margin-bottom: 30px;
    }
    .block-5 .specialist .right p.name {
        font-style: normal;
        font-weight: 500;
        margin-top: 15px;
    }
    .block-6 .tovar {
        width: inherit;
        min-height: inherit;
        margin: 57px 0px 25px;
    }
    .block-6 {
        background: url(block6_bg2.jpg.png) top center no-repeat;
        background-size: cover;
    }
    .block-10 {
        background: url(bg-10-320.jpg) center top no-repeat;
        height: 553px;
    }

    .block-10 h1 {
        font-size: 26px;
        line-height: 1.2;
        padding-top: 5px;
    }

    .block-10 h1 span + br {
        display: none;
    }

    .block-10 h1 span {
        font-size: 24px;
        font-weight: 100;
    }

    .block-10 .discont {
        position: absolute;
        left: 150px;
        top: 233px;
    }

    .timer {
        width: 300px;
    }

    form {
        width: 285px;
    }
}
/*Таймер*/
.countbox {
    font-family: 'Clear Sans';
    font-size: 24px;
    height: 70px;
    margin: 15px auto 15px;
    color: #fff;
    width: 278px;
}
.countbox .countbox-num {
    float: left;
}
.countbox .countbox-space {
    float: left;
    height: 45px;
    width: 15px;
    line-height: 45px;
    color: #fff;
}
.countbox-hours1, .countbox-mins1, .countbox-secs1, .countbox-hours2, .countbox-mins2, .countbox-secs2 {
    background: #a5404c;
    float: left;
    width: 35px;
    margin: 0 3px;
    height: 45px;
    line-height: 45px;
    text-align: center;
    z-index: 1;
    border-radius: 5px;
    margin-bottom: 5px;
}
.countbox-hours-text, .countbox-mins-text, .countbox-secs-text {
    font-size: 16px;
    line-height: 24px;
    color: #663333;
    font-family: 'Clear Sans';
    text-align: center;
    font-weight: normal;
}
.errorMessage{
    box-sizing: border-box;
    position: absolute;
    z-index: 100000;
    font-size: 16px;
    background: #000;
    color: #fff;
    margin-top: 20px;
    text-align: center;
    line-height: 12px;
    padding: 12px 12px;
}
.copyright { font-size: 14px;text-align: center; padding:20px 0;color: #6C6E6F;}
.copyright p { width: 100%; text-align: center; padding: 0; margin: 0; }
.copyright br { display: none; }
.copyright img { margin: 10px auto!important; }
.copyright img:first-child { display: block!important; }
.copyright a {color: #6C6E6F; text-decoration: none;}
.copyright a:hover { color:#FF0069; text-decoration: none; }


@media screen and (max-width: 639px){

    .block-1 {
        background: url(mob_bg.png) #FBEFEF center top no-repeat;
        height: 1100px;
    }
    .block-1 .discont {
        margin-bottom: 422px;
    }
}