/*reset*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn,
em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b,
u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table,
caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details,
embed, figure, figcaption, footer, header, menu, nav, output, ruby, section,
summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; outline: 0; font-size: 100%;}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, menu, nav, section, main {display: block;}

ol, ul {list-style: none;}
blockquote, q {quotes: none;}
img{max-width: 100%; height: auto;}
a{text-decoration: underline;}
a:hover{cursor: pointer;}
*::-webkit-input-placeholder {color: #a9a9a9; opacity: 1;}
*:-moz-placeholder {color: #a9a9a9; opacity: 1;}
*::-moz-placeholder {color: #a9a9a9; opacity: 1;}
*:-ms-input-placeholder {color: #a9a9a9; opacity: 1;}
*{margin: 0; padding: 0;}
*{-webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;}
button,input,a{outline: none;}
button, input, select{-webkit-appearance: none; -moz-appearance: none; appearance: none;}
html{
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    -webkit-font-smoothing: subpixel-antialiased !important;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* my_presets *//* michael-k90 *//* endzeit_____ */
.m1-form input.field:focus::-webkit-input-placeholder {opacity:0;}
.m1-form input.field:focus::-moz-placeholder          {opacity:0;}
.m1-form input.field:focus:-moz-placeholder           {opacity:0;}
.m1-form input.field:focus:-ms-input-placeholder      {opacity:0;}
.m1-form input.field::-webkit-input-placeholder {color: #333333; opacity: 1;}
.m1-form input.field:-moz-placeholder {color: #333333; opacity: 1;}
.m1-form input.field::-moz-placeholder {color: #333333; opacity: 1;}
.m1-form input.field:-ms-input-placeholder {color: #333333; opacity: 1;}
.hidden{display: none;}
.left{float: left;}
.right{float: right;}
.center{text-align: center;}
.just {
    text-align: justify;
    -moz-text-align-last: center;
    text-align-last: center;
}
.clearfix:after,
.header-one_plus li:after
{content: '';display: block;clear: both;}
p {margin-bottom: 20px;}
/* END my_presets */

h1,h2,h3,h4,h5,h6{font-family: 'Montserrat', sans-serif; font-weight: 700; text-transform: uppercase;line-height: 1.2em;}
b,strong{font-weight: 700;}
body{
    width: 100%;
    min-width: 320px;
    padding: 0px;
    margin: 0px auto;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.4em;
    color: #333333;
    background: #fff;
}
section{
    width: 100%;
    max-width: 1920px;
    margin: 0 auto;
    padding: 50px 0;
}
.wrap{
    width: 960px;
    padding: 0px 10px;
    margin: 0 auto;
    height: 100%;
    position: relative;
}
.nopad {padding: 0;}
.pad {padding: 0 10px;}
.container {
    padding: 0 10px;
}
.wrap:after {
    clear: both;
    content: "";
    display: table;
}
.m1-form input.field{
    position: relative;
    display: block;
    outline: 0;
    border: none;
    border-radius: 0;
    -webkit-border-radius: 0;
    width: 100%;
    height: 50px;
    line-height: 50px;
    margin: 0 auto 15px;
    padding: 0 20px;
    background:#fff;
    border-radius: 6px;
    text-align: center;
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    color: #333333;
    -webkit-transition: all 0.2s;
    -moz-transition:    all 0.2s;
    -o-transition:      all 0.2s;
    -ms-transition:     all 0.2s;
    transition:         all 0.2s;
    -webkit-box-shadow:inset 0 1px 2px 0 rgba(0,0,0,.2);
    box-shadow:inset 0 1px 2px 0 rgba(0,0,0,.2);
}
.button-m{
    position: relative;
    display: block;
    width: 300px;
    height: 65px;
    line-height: 65px;
    margin: 0 auto;
    border: none;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 22px;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
    cursor: pointer;
    color: #121314;
    text-shadow: 0.5px 2px 0px rgba(255,255,255,0.2);
    background: #ffcc00;
    background: -moz-linear-gradient(top, #ffcc00 0%, #ff9d00 100%);
    background: -webkit-linear-gradient(top, #ffcc00 0%,#ff9d00 100%);
    background: linear-gradient(to bottom, #ffcc00 0%,#ff9d00 100%);
    border-radius: 6px;
    overflow: hidden;
    border-bottom: 1px solid #ffa617;
    -webkit-box-shadow: 0px 4px 0px 0px #cd7d00, 0px 12px 25px 0px rgba(0,0,0,0.4);
    -moz-box-shadow: 0px 4px 0px 0px #cd7d00, 0px 12px 25px 0px rgba(0,0,0,0.4);
    box-shadow: 0px 4px 0px 0px #cd7d00, 0px 12px 25px 0px rgba(0,0,0,0.4);
}

.button-m:active{
    bottom:-2px;
    background: #ff9d00;
    background: -moz-linear-gradient(top, #ff9d00 0%, #ffcc00 100%);
    background: -webkit-linear-gradient(top, #ff9d00 0%,#ffcc00 100%);
    background: linear-gradient(to bottom, #ff9d00 0%,#ffcc00 100%);
}
.m1-form .button-m {
    width: 100%;
}
.m1-form {
}

h2.title {
    margin: 0 0 30px;
    text-align: center;
    font-size: 40px;
    line-height: 1.2em;
    font-weight: 900;
    color: #fff;
}
h2.title span {
    color: #fffc00;
    display: block;
    font-size: 40px;
    line-height: 1.2em;
}
p.subtitle {
    text-align: center;
    margin: -15px 170px 30px;
}

.price {
    width: 300px;
    margin: 0 auto 30px;
    text-align: center;
    text-transform: uppercase;
    position: relative;
    background: #3682ff;
    color: #fff;
    border-radius: 6px;
    overflow: hidden;
}
.price:before{
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 39px 0 39px 20px;
    border-color: transparent transparent transparent #3d3d4b;
    top: 0;
    left: 50%;
    margin: 0 0 0 -10px;
}
.old-cost {
    float: left;
    background: #3d3d4b;
    width: 140px;
}
.old-cost p {
    font-size: 26px;
    font-weight: 700;
    line-height: 30px;
}
.old-cost p span {
    text-decoration: line-through;
}
.old-cost > span, .new-cost > span {
    font-size: 12px;
}
.new-cost {
    float: right;
    background: #3682ff;
    width: 140px;
}
.new-cost p {
    font-size: 26px;
    font-weight: 700;
    line-height: 30px;
    margin: 0;
}
.new-cost>span, .old-cost>span{
    font-size: 15px;
    text-transform: none;
}
.new-cost, .old-cost  {
    height: 78px;
    padding: 10px 0 0 14px;
    text-align: left;
}
.old-cost p small, .new-cost p small {
    font-size: .9em;
    text-transform: none;
}

.sale2 {
    background: url(sale2.png) no-repeat 0 0;
    width: 132px;
    height: 132px;
    text-align: center;
    font-size: 15px;
    color:#fff;
    font-weight: 700;
    text-transform: uppercase;
    padding: 26px 0 0;
    position: absolute;
    z-index: 5;
}
.sale2 p {
    font-size: 33px;
    line-height: 30px;
    margin: 0;
}


/* Arrows */
.slick-slide img {
    margin: 0 auto;
}
.slick-prev,
.slick-next {
    font-size: 0;
    line-height: 0;
    position: absolute;
    top: 80px;
    display: block;
    padding: 0;
    cursor: pointer;
    color: transparent;
    border: none;
    outline: none;
    background: #424250 url('slider__arrows.png') no-repeat;
    width: 50px;
    height: 50px;
    z-index: 3;
    border-radius: 50%;
    -webkit-border-radius: 50%;
}
.slick-prev{
    background-position: 0% 50%;
}
.slick-next{
    background-position: 100% 50%;
}
/*Ð¢Ð°Ð¹Ð¼ÐµÑ€*/
.countbox:before {
    content: 'ÐšÐ¾Ð½ÐµÑ† Ð°ÐºÑ†Ð¸Ð¸ Ñ‡ÐµÑ€ÐµÐ·:';
    display: block;
    text-align: center;
    font-size: 14px;
    color:#333333;
    font-weight: 700;
    margin-bottom: 2px;
    text-transform: uppercase;
    padding-top: 5px;
}
.countbox {
    height: 76px;
    width: 200px;
    padding-left: 0;
    margin: 0 auto;
    background: #fff;
    float: right;
}
.countbox > div:last-child {
    margin: 0;
}
.countbox > div:first-child {
    margin-left: 15px;
}
.countbox .countbox-num {
    float: left;
    width: 46px;
    height: 38px;
    margin-right: 16px;
}
.countbox-hours, .countbox-mins, .countbox-secs {
    color: #4c6181;
    font-size: 30px;
    text-align: center;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: .3px;
}
.countbox-hours-text, .countbox-mins-text, .countbox-secs-text {
    font-size: 11px;
    line-height: 10px;
    text-align: center;
    text-transform: lowercase;
}
@media screen and (max-width: 959px) {
    .wrap{
        width: 660px;
    }
    h2.title,
    h2.title>span{
        font-size: 32px;
        line-height: 1.1em;
    }
    .slick-next {
        right: 5px;
    }
    .slick-prev {
        left: 5px;
    }
    .char3 .slick-prev, .char3 .slick-next {
        top: 50%;
        margin-top: -20px;
    }
}
@media screen and (max-width: 659px) {
    .wrap{
        width: 320px;
    }
    h2.title {
        font-size: 24px;
        line-height: 1.3em;
    }
    h2.title span{
        display: inline;
        font-size: 24px;
        line-height: 1.3em;
    }

}