.general-wrapper {
    overflow-x: hidden;
}

@media all and (max-width: 1310px) {
    .section.introduce .bg.comb {
        display: none
    }

    .section.effect .bg.man {
        right: 21px
    }
}

@media all and (max-width: 1050px) {
    #footer {
        margin-top: -60px;
        margin-bottom: 20px
    }

    .section.form {
        height: auto;
        margin-bottom: 0
    }

    .section.usage .columns {
        padding-right: 0;
        width: 100%;
        max-width: 100%
    }

    body,
    .general-wrapper,
    .center-wrapper {
        width: 480px;
        min-width: 480px;
        margin: 0 auto
    }

    body {
        overflow-x: hidden;
        overflow-x: hidden
    }

    .section.header,
    .columns {
        width: 480px
    }

    .section-usage-note {
        display: none
    }

    .section-header-left,
    .section-header-right {
        float: none;
        margin: 0 auto
    }

    .section.introduce .bg.man {
        width: 480px;
        height: 464px;
        left: 0;
        top: 35px;
        background: transparent url(section-introduce-bg-man-m.png) repeat scroll 0 0
    }

    .section.introduce .wrapper {
        margin-left: 0;
        margin-top: 416px
    }

    .countdown {
        margin: 10px 22px
    }

    .section.introduce .extend .bg.stuff-medium {
        left: 265px;
        top: -600px
    }

    .section.introduce .extend {
        height: 410px;
        background-repeat: repeat-y !important
    }

    .extend .columns {
        margin-top: 35px
    }

    .section.introduce .wrapper .heading {
        text-align: center
    }

    .section.introduce {
        padding: 30px 0
    }

    .col.w25p {
        width: 50%
    }

    .mb45 {
        margin-bottom: 45px
    }

    .section.effect .wrapper {
        margin: 0 auto;
        margin-top: 380px
    }

    .section.effect .wrapper .heading {
        text-align: center
    }

    .section.usage .wrapper {
        margin-right: 0
    }

    .section.certified {
        background-position-x: initial
    }

    .section.certified .wrapper {
        margin-left: 240px
    }

    .section.form > .heading {
        margin: 0 auto
    }

    .col-10 {
        max-width: 83.333333%;
        flex: 0 0 83.333333%;
        margin: 0 auto;
        margin-bottom: 10px
    }

    .section.effect .extend {
        margin: 5px 10px
    }
}

#order {
    margin-top: 30px;
    margin-bottom: 30px
}

#m1-form {
    display: none
}

form#order-form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column
}

.form-element {
    box-sizing: border-box;
    background-color: rgba(255, 255, 255, .15);
    width: 280px;
    height: 43px;
    padding: 0 15px;
    margin-bottom: 10px;
    color: #fff;
    border: none;
    border-radius: 8px;
    font-size: 16px
}

[id^="order-form"] .form-element {
    height: 48px;
    margin-top: 15px;
    margin-bottom: 0;
    background: #bdbdbd;
    width: 95%;
    font-size: 16px;
    line-height: 22px;
    font-weight: 700;
    cursor: pointer;
    transition-duration: .15s
}

.form-element:hover {
    font-size: 19px;
    text-shadow: 0 0 1px #000;
    background: #ff6f5b
}

@media only screen and (max-width: 767px) {
    #m1-form {
        padding: 0 15px;
        max-width: 260px;
        margin-left: -130px
    }

    .form-element {
        width: auto
    }

    #order {
        margin-top: 80px !important;
    }
}

@media all and (min-width: 992px) and (max-width: 1199px) {
    .item h3 {
        min-height: 135px !important
    }
}

@media all and (min-width: 992px) {
    .item img {
        height: 435px
    }
}

@media all and (min-width: 320px) and (max-width: 991px) {
    .item {
        margin-bottom: 30px
    }

    .item h3 {
        min-height: auto
    }
}

#b8 {
    height: 170px;
    background: none
}

#b8 .mt {
    margin: auto
}

@media all and (min-width: 320px) and (max-width: 1359px) {
    #b8 {
        height: 0;
        background: none
    }
}


.item button {
    background: url(btn.png) no-repeat center top;
    width: 100%;
    height: 60px;
    display: block;
    margin: 0;
    outline: none;
    border: none;
    margin: 20px 0 10px
}

.item button:hover {
    background: url(btn-h.png) no-repeat center top
}

.item img {
    display: block;
    margin: auto;
    margin-bottom: 10px
}

.item {
    padding: 20px;
    border-radius: 20px
}

.item h3 {
    font-family: Arial;
    padding-bottom: 15px;
    font-size: 21px;
    line-height: 30px;
    font-weight: 700;
    text-align: center;
    margin: 0;
    color: #4a4a4a;
    min-height: 75px
}

.price {
    display: flex;
    justify-content: space-around;
    align-items: center
}

.price .old {
    text-decoration: line-through
}

.price .new {
    font-weight: bold;
    color: red;
    font-size: 45px
}

@media (max-width: 1050px) {
    .section.introduce .extend .bg.stuff-medium {
        top: -660px
    }
}

