/* Slider */
.slick-slider
{
    position: relative;
    display: block;
    box-sizing: border-box;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
    touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}

.slick-list
{
    position: relative;
    display: block;
    overflow: hidden;
    margin: 0;
    padding: 0;
}
.slick-list:focus
{
    outline: none;
}
.slick-list.dragging
{
    cursor: pointer;
    cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list
{
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.slick-track
{
    position: relative;
    top: 0;
    left: 0;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.slick-track:before,
.slick-track:after
{
    display: table;
    content: '';
}
.slick-track:after
{
    clear: both;
}
.slick-loading .slick-track
{
    visibility: hidden;
}

.slick-slide
{
    display: none;
    float: left;

    height: 100%;
    min-height: 1px;
}
[dir='rtl'] .slick-slide
{
    float: right;
}
.slick-slide img
{
    display: block;
}
.slick-slide.slick-loading img
{
    display: none;
}
.slick-slide.dragging img
{
    pointer-events: none;
}
.slick-initialized .slick-slide
{
    display: block;
}
.slick-loading .slick-slide
{
    visibility: hidden;
}
.slick-vertical .slick-slide
{
    display: block;

    height: auto;

    border: 1px solid transparent;
}
.slick-arrow.slick-hidden {
    display: none;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
menu,
nav,
section,
main {
    display: block;
}

ol,
ul {
    list-style: none;
    font-size: 0;
}

blockquote,
q {
    quotes: none;
}

img {
    max-width: 100%;
    height: auto;
}

a {
    text-decoration: underline;
}

a:hover {
    cursor: pointer;
}

*::-webkit-input-placeholder {
    color: #a9a9a9;
    opacity: 1;
}

*:-moz-placeholder {
    color: #a9a9a9;
    opacity: 1;
}

*::-moz-placeholder {
    color: #a9a9a9;
    opacity: 1;
}

*:-ms-input-placeholder {
    color: #a9a9a9;
    opacity: 1;
}

* {
    margin: 0;
    padding: 0;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

button,
input,
a {
    outline: none;
}

a {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.m1-form input.field:focus::-webkit-input-placeholder {
    opacity: 0;
}

.m1-form input.field:focus::-moz-placeholder {
    opacity: 0;
}

.m1-form input.field:focus:-moz-placeholder {
    opacity: 0;
}

.m1-form input.field:focus:-ms-input-placeholder {
    opacity: 0;
}

.m1-form input.field::-webkit-input-placeholder {
    color: #555555;
    opacity: 1;
}

.m1-form input.field:-moz-placeholder {
    color: #555555;
    opacity: 1;
}

.m1-form input.field::-moz-placeholder {
    color: #555555;
    opacity: 1;
}

.m1-form input.field:-ms-input-placeholder {
    color: #555555;
    opacity: 1;
}

.hidden {
    display: none;
}

.left {
    float: left;
}

.right {
    float: right;
}

.center {
    text-align: center;
}

.center-justified {
    text-align: justify;
    -moz-text-align-last: center;
    text-align-last: center;
}

.clearfix:after,
.container:after {
    content: '';
    display: block;
    clear: both;
}

.container {
    position: relative;
}

.clear {
    clear: both;
    height: 0px;
}

html {
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    -webkit-font-smoothing: subpixel-antialiased !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Gotham Pro', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 1.2em;
}

b,
strong {
    font-weight: 700;
}

body {
    width: 100%;
    min-width: 320px;
    padding: 0px;
    margin: 0px auto;
    font-family: 'Gotham Pro', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5em;
    color: #333333;
    background: #fff;
}

section {
    width: 100%;
    max-width: 1920px;
    margin: 0 auto;
    padding: 40px 0;
}

.wrap {
    width: 960px;
    padding: 0px 10px;
    margin: 0 auto;
    height: 100%;
    position: relative;
}

.wrap:after {
    clear: both;
    content: "";
    display: table;
}

.m1-form .field {
    position: relative;
    display: block;
    outline: 0;
    border: 1px solid #e5e5e5;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    width: 100%;
    height: 45px;
    line-height: 60px;
    margin: 0 auto 10px;
    padding: 0 20px;
    background: #fff;
    text-align: center;
    font-size: 18px;
    font-family: 'Gotham Pro', sans-serif;
    font-weight: 400;
    color: #333;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -o-transition: all 0.2s;
    -ms-transition: all 0.2s;
    transition: all 0.2s;
}

form .form_text {
    text-align: center;
    font-size: 14px;
    line-height: 14px;
    margin: 0 auto 10px;
    color: red;
}

.button-m {
    position: relative;
    display: block;
    width: 300px;
    height: 60px;
    line-height: 60px;
    margin: 0 auto;
    border: 1px solid #e5953c;
    border-top: 1px solid #ebb734;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    text-align: center;
    font-family: 'Gotham Pro', sans-serif;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 2px;
    text-shadow: 0 2px 0 #cb720e;
    text-transform: uppercase;
    text-decoration: none;
    cursor: pointer;
    color: #fff;
    background: rgba(228, 164, 1, 1);
    background: -moz-linear-gradient(top, rgba(228, 164, 1, 1) 0%, rgba(224, 124, 11, 1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(228, 164, 1, 1)), color-stop(100%, rgba(224, 124, 11, 1)));
    background: -webkit-linear-gradient(top, rgba(228, 164, 1, 1) 0%, rgba(224, 124, 11, 1) 100%);
    background: -o-linear-gradient(top, rgba(228, 164, 1, 1) 0%, rgba(224, 124, 11, 1) 100%);
    background: -ms-linear-gradient(top, rgba(228, 164, 1, 1) 0%, rgba(224, 124, 11, 1) 100%);
    background: linear-gradient(to bottom, rgba(228, 164, 1, 1) 0%, rgba(224, 124, 11, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e4a401', endColorstr='#e07c0b', GradientType=0);
    -webkit-box-shadow: 0 5px 0 0 #cb7008, 0 20px 17px -15px rgba(0, 0, 0, .9);
;
    box-shadow: 0 5px 0 0 #cb7008, 0 20px 17px -15px rgba(0, 0, 0, .9);
;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -o-transition: all 0.2s;
    -ms-transition: all 0.2s;
    transition: all 0.2s;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.button-m:hover {
    background: rgba(239, 171, 1, 1);
    background: -moz-linear-gradient(top, rgba(239, 171, 1, 1) 0%, rgba(234, 130, 11, 1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(239, 171, 1, 1)), color-stop(100%, rgba(234, 130, 11, 1)));
    background: -webkit-linear-gradient(top, rgba(239, 171, 1, 1) 0%, rgba(234, 130, 11, 1) 100%);
    background: -o-linear-gradient(top, rgba(239, 171, 1, 1) 0%, rgba(234, 130, 11, 1) 100%);
    background: -ms-linear-gradient(top, rgba(239, 171, 1, 1) 0%, rgba(234, 130, 11, 1) 100%);
    background: linear-gradient(to bottom, rgba(239, 171, 1, 1) 0%, rgba(234, 130, 11, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#efab01', endColorstr='#ea820b', GradientType=0);
}

.button-m:active {
    top: -1px;
}

.m1-form .button-m {
    width: 100%;
}

.m1-form {
    width: 300px;
    margin: 0 auto;
}

h2.title {
    margin: 0 0 30px 0;
    text-align: center;
    text-transform: uppercase;
    font-size: 36px;
    font-weight: 400;
}

h2.title>span {
    color: #05355d;
    font-weight: 700;
}

.price {
    background: url("price.png") no-repeat center top;
    width: 300px;
    height: 64px;
    margin: 0 0 0 0;
    text-align: center;
    text-transform: uppercase;
    margin: 178px 0 0 271px;
}

.old-cost {
    float: left;
    color: #4f3619;
}

.old-cost p {
    font-size: 24px;
    line-height: 24px;
}

.old-cost p span {
    text-decoration: line-through;
}

.old-cost>span,
.new-cost>span {
    font-size: 12px;
}

.new-cost {
    float: right;
    color: #fff;
}

.new-cost p {
    font-size: 30px;
    line-height: 22px;
    font-weight: 700;
}

.new-cost,
.old-cost {
    width: 50%;
    height: 64px;
    padding-top: 5px;
}

.old-cost p small,
.new-cost p small {
    font-size: 0.7em;
}

.video-container {
    position: relative;
    width: 800px;
    margin: 0 auto;
    height: 450px;
    overflow: hidden;
    background: #000;
    border-radius: 10px;
    -webkit-border-radius: 10px;
}

.video-container iframe,
.video-container object,
.video-container embed {
    border-radius: 10px;
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.youtube {
    height: 100% !important;
}

.slick-prev,
.slick-next {
    font-size: 0;
    line-height: 0;
    position: absolute;
    top: 52px;
    display: block;
    width: 26px;
    height: 98px;
    padding: 0;
    cursor: pointer;
    color: transparent;
    border: none;
    outline: none;
    background: url("arrow.png") no-repeat 0 0;
    z-index: 3;
}

.slick-prev {
    left: -40px;
}

.slick-next {
    right: -40px;
    -moz-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
}

@media screen and (max-width:976px) {
    .wrap {
        width: 640px;
    }
}

@media screen and (max-width:659px) {
    .wrap {
        width: 320px;
    }
}

.block1 {
    background: url("b1.jpg") no-repeat center top;
    height: 514px;
    padding: 32px 0 0;
}

.block1 h1 {
    font-size: 24px;
    letter-spacing: 3.6px;
    padding: 0 0 0 290px;
    line-height: 1em;
    color: white;
}

.block1 h2 {
    font-size: 24px;
    font-weight: 400;
    padding: 0 0 0 290px;
    color: white;
}

.sale {
    color: #fff;
    font-size: 16px;
    text-transform: uppercase;
    margin: 110px 0 0 430px;
}

.sale p {
    font-weight: 700;
    font-size: 39px;
    padding-left: 12px;
    line-height: 30px;
}

.formbox {
    width: 340px;
    height: 325px;
    position: absolute;
    bottom: 0;
    right: 10px;
    background: rgba(255, 255, 255, .7);
    border-radius: 20px 20px 0 0;
    -webkit-border-radius: 20px 20px 0 0;
}

.stock {
    font-size: 14px;
    text-align: center;
    padding: 20px 0;
}

.stock img {
    margin: 0 5px -4px 0;
}

.stock span {
    color: #628fc6;
    font-weight: 700;
}

.block2 {
    background: #f4f4f6;
}

.block2 h2.title>span {
    color: #e0800a;
}

.block2 .container {
    margin-bottom: 35px;
}

.block2 .container img {
    display: block;
    float: left;
    margin: 0 20px 0 0;
    border: 3px solid #adadae;
    border-radius: 10px;
    -webkit-border-radius: 10px;
}

.block2 .container p {
    overflow: hidden;
    padding: 10px 0 0;
    line-height: 30px;
}

.block3 .container {
    height: 364px;
    margin-bottom: 40px;
}

.block3 .container .mop {
    display: block;
    position: absolute;
    top: 0;
    left: 359px;
}

.block3 .container .legend {}

.block3 .container .legend li {
    display: block;
    width: 370px;
    border-bottom: 2px solid #cad76e;
    padding-bottom: 5px;
    position: relative;
    position: absolute;
}

.block3 .container .legend p {
    font-size: 16px;
    color: #000;
    overflow: hidden;
}

.block3 .container .legend li span {
    display: block;
    background: url("d2.png") no-repeat 0 0;
    width: 27px;
    height: 27px;
    position: absolute;
}

.block3 .container .legend li:nth-child(1) span {
    right: -26px;
    bottom: -26px;
    transform: rotate(90deg);
}

.block3 .container .legend li:nth-child(2) span {
    left: -26px;
    bottom: -27px;
}

.block3 .container .legend li:nth-child(3) span {
    right: -26px;
    bottom: -27px;
    -moz-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}

.block3 .container .legend li:nth-child(4) span {
    left: -26px;
    bottom: -2px;
    -moz-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}

.block3 .container .legend li:nth-child(5) span {
    right: -26px;
    bottom: -27px;
    -moz-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}

.block3 .container .legend li:nth-child(6) span {
    left: -26px;
    bottom: -27px;
}

.block3 .container .legend li:nth-child(1) {
    top: 30px;
    left: 62px;
}

.block3 .container .legend li:nth-child(2) {
    top: 30px;
    left: 540px;
}

.block3 .container .legend li:nth-child(3) {
    top: 128px;
    left: 27px;
}

.block3 .container .legend li:nth-child(4) {
    top: 128px;
    left: 516px;
}

.block3 .container .legend li:nth-child(5) {
    top: 228px;
    left: 0px;
}

.block3 .container .legend li:nth-child(6) {
    top: 228px;
    left: 495px;
}

.before-after {
    margin-bottom: 40px;
}

.before-after li {
    display: block;
    border: 3px solid #8399ab;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    width: 220px;
    text-align: center;
    float: left;
    margin: 0 20px 0 0;
    overflow: hidden;
}

.before-after li:nth-child(even) {
    border-color: #a2f124;
}

.before-after li:last-child {
    margin: 0;
}

.before-after li img {
    display: block;
}

.before-after .ba-text {
    height: 46px;
    display: table;
    width: 100%;
}

.before-after .ba-text p {
    display: table-cell;
    vertical-align: middle;
    font-size: 14px;
    line-height: 18px;
}

.block3 {}

.block4 {
    background: url("b2.jpg") no-repeat center top;
    padding: 20px 0;
}

.block4 .wrap {
    padding: 0;
}

.left-title {
    float: left;
    width: 280px;
    margin: 35px 0 0 40px;
}

.left-title h2 {
    font-size: 30px;
}

.left-title h3 {
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
}

.use {
    width: 420px;
    float: right;
}

.use li {
    background: url("use1.png") no-repeat 0 0;
    height: 122px;
    display: block;
    margin-bottom: 10px;
}

.use li:nth-child(2) {
    background-image: url("use2.png");
    margin-left: 20px;
}

.use li:nth-child(3) {
    background-image: url("use3.png");
    height: 127px;
    margin-bottom: 0;
    margin-left: 40px;
}

.use li div {
    display: table;
    height: 100%;
    width: 100%;
    padding-left: 141px;
}

.use li div p {
    font-size: 16px;
    color: #fff;
    display: table-cell;
    vertical-align: middle;
}

.block5 h2.title {
    margin-bottom: 50px;
}

.reviews {
    width: 860px;
    margin: 0 auto;
}

.rev {
    display: table;
    width: 100%;
    padding: 0 20px;
}

.rev .rev-img {
    width: 202px;
    height: 202px;
    display: table-cell;
    vertical-align: middle;
}

.rev .rev-img img {
    display: block;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    border: 6px solid #e2e2e5;
}

.rev .rev-cont {
    display: table-cell;
    vertical-align: middle;
    padding-left: 30px;
}

.rev-cont h3 {
    font-size: 30px;
    text-transform: none;
}

.rev-cont h3:after {
    content: '';
    display: block;
    width: 24px;
    height: 2px;
    background: #cbcbc5;
    margin: 10px 0;
}

.rev-cont h3 span {
    font-weight: 400;
}

.rev-cont p {
    font-size: 16px;
    text-align: left;
}

.block6 {
    background: #f4f4f6;
}

.block6 h2 span {
    color: #e0800a;
    display: block;
}

.ship {
    text-align: center;
}

.ship li {
    display: inline-block;
    vertical-align: top;
    width: 33.3333%;
    position: relative;
}

.ship li:after {
    content: '';
    display: block;
    background: url("arrow2.png") no-repeat 0 0;
    width: 26px;
    height: 98px;
    position: absolute;
    top: 41px;
    right: -13px;
}

.ship li:last-child:after {
    display: none;
}

.ship div {
    width: 180px;
    height: 180px;
    margin: 0 auto 20px;
    position: relative;
}

.ship div:before {
    content: '1';
    display: block;
    width: 50px;
    height: 50px;
    font-size: 36px;
    font-weight: 700;
    text-align: center;
    color: #fff;
    line-height: 50px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    background: #e0800a;
    position: absolute;
    top: 0;
    right: 0;
}

.ship li:nth-child(2) div:before {
    content: '2';
}

.ship li:nth-child(3) div:before {
    content: '3';
}

.ship img {
    display: block;
    border-radius: 50%;
    -webkit-border-radius: 50%;
}

.ship p {
    font-size: 16px;
    line-height: 21px;
    padding: 0 20px;
}

.footer {
    text-align: center;
    padding: 40px 0 30px;
}

.footer a {
    font-size: 14px;
    color: #333;
}

@media screen and (max-width:976px) {
    .block1 {
        background: url("b1m.jpg") no-repeat center top;
        padding: 21px 0 0;
    }

    .block1 h1 {
        padding: 0;
        text-align: center;
        letter-spacing: 3px;
        line-height: 1.2em;
    }

    .block1 h2 {
        padding: 0;
        text-align: center;
    }

    .sale {
        font-size: 13px;
        margin: 114px 0 0 153px;
    }

    .sale p {
        font-size: 30px;
        padding-left: 10px;
        line-height: 21px;
    }

    .price {
        width: 280px;
        border-radius: 10px;
        -webkit-border-radius: 10px;
        margin: 185px 0 0 0px;
    }

    .formbox {
        width: 320px;
        border-radius: 10px 10px 0 0;
        -webkit-border-radius: 10px 10px 0 0;
    }

    .countbox>div:first-child {
        margin-left: 39px;
    }

    .block2 .container p {
        overflow: inherit;
    }

    .video-container {
        width: 100%;
        height: 350px;
    }

    .block2 {
        height: auto;
    }

    .block3 {
        padding-top: 30px;
    }

    .block3 .container .mop {
        left: 10px;
    }

    .block3 .container .legend {
        padding: 75px 0 0 230px;
    }

    .block3 .container .legend li {
        width: auto;
        position: static;
        border: none;
        padding: 0;
        line-height: 30px;
    }

    .block3 .container .legend li:before {
        content: '●';
        display: block;
        font-size: 18px;
        color: #77c102;
        float: left;
        margin: 0 5px 0 0;
    }

    .block3 .container .legend li span {
        display: none;
    }

    .before-after {
        text-align: center;
        margin-bottom: 10px;
    }

    .before-after li {
        margin: 0 10px 10px !important;
        display: inline-block;
        float: none;
    }

    .left-title {
        margin: 35px 0 0 0px;
        background: rgba(255, 255, 255, .5);
    }

    .use {
        width: 356px;
        float: right;
    }

    .block4 {
        background: url("b2m.jpg") no-repeat center top;
    }

    .reviews {
        width: 100%;
    }

    .rev-cont h3 {
        font-size: 24px;
    }

    .rev .rev-cont {
        padding-left: 20px;
    }

    .rev {
        padding: 0 30px;
    }

    .slick-prev {
        left: -10px;
    }

    .slick-next {
        right: -10px;
    }

    .slick-prev,
    .slick-next {
        top: 86px;
    }

    h2.title {
        font-size: 30px;
    }
}

@media screen and (max-width:659px) {
    .block1 {
        background: #e0dfe4 url("b1s.jpg") no-repeat center top;
        height: auto;
        padding: 20px 0 10px;
    }

    .block1 h1 {
        font-size: 24px;
        letter-spacing: 0px;
        text-shadow: 0 0 5px #000;
    }

    .block1 h2 {
        font-size: 22px;
        display: none;
    }

    .sale {
        margin: 70px 0 0 162px;
    }

    .formbox {
        position: static;
        margin: 0 auto;
        width: 100%;
        height: auto;
        background: none;
    }

    .price {
        margin: 183px auto 44px;
    }

    .countbox {
        margin: 0 auto 18px;
    }

    .countbox>div:first-child {
        margin-left: 29px;
    }

    h2.title {
        font-size: 20px;
    }

    .block2 {
        padding-bottom: 0;
    }

    .block2 .wrap {
        padding: 0;
    }

    .block2 .container img {
        float: none;
        margin: 0 auto;
    }

    .block2 .container p {
        line-height: 24px;
        padding: 10px 10px 0;
    }

    .block2 .container {
        margin-bottom: 20px;
    }

    .video-container {
        width: 100%;
        height: 180px;
        border-radius: 0;
    }

    .block3 .container .mop {
        position: static;
        margin: 0 auto;
    }

    .block3 .container {
        height: auto;
        margin-bottom: 30px;
    }

    .block3 .container .legend {
        padding: 7px 0 0 0px;
    }

    .block3 .container .legend li {
        line-height: 24px;
        margin-bottom: 10px;
    }

    .block4 {
        background: url("b2s.jpg") no-repeat center top / cover;
    }

    .left-title {
        margin: 0 0 20px;
        background: none;
        text-align: center;
        color: #fff;
        float: none;
        width: 100%;
    }

    .left-title h2 {
        font-size: 24px;
    }

    .use {
        width: 100%;
        float: none;
        padding: 0 10px;
    }

    .use li {
        margin-left: 0 !important;
    }

    .rev {
        padding: 0 10px;
    }

    .rev .rev-img {
        display: block;
        margin: 0 auto 15px;
    }

    .rev .rev-cont {
        display: block;
        padding-left: 0;
    }

    .rev-cont h3 {
        font-size: 20px;
        text-align: center;
    }

    .rev-cont h3:after {
        margin: 10px auto;
    }

    .slick-prev,
    .slick-next {
        top: 57px;
    }

    .slick-prev {
        left: 0px;
    }

    .slick-next {
        right: 0px;
    }

    .ship li {
        width: 100%;
        margin-bottom: 20px;
    }

    .ship li:last-child {
        margin-bottom: 0;
    }

    .ship li:after {
        display: none;
    }
}

.copyright {
    font-size: 14px;
    text-align: center;
    padding: 20px 0;
    color: #6C6E6F;
}

.copyright p {
    width: 100%;
    text-align: center;
    padding: 0;
    margin: 0;
}

.copyright br {
    display: none;
}

.copyright img {
    margin: 10px auto !important;
    max-width: 100%;
}

.copyright a {
    color: #6C6E6F;
    text-decoration: none;
}

.copyright a:hover {
    color: #FF0069;
    text-decoration: none;
}

.errField {
    display: none;
    font-size: 14px;
    background: #f00;
    color: #fff;
    text-align: center;
    padding: 10px;
    margin-bottom: 10px;
}

.errorMessage {
    font-size: 15px;
    background: rgba(255, 0, 0, 0.64);
    color: #fff;
    text-align: center;
    padding: 5px 10px;
    position: absolute;
    margin: 10px 0 0;
    z-index: 999;
}

.video-container {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
}

.video-container iframe,
.video-container object,
.video-container embed,
.video-container .youtube {
    background: #000;
    border: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.countbox:before {
    content: '';
    display: block;
    text-align: center;
    font-size: 14px;
    color:#f5f6f8;
    font-weight: 400;
    margin-bottom: 3px;
    text-transform: uppercase;
    text-shadow: 0 0 5px #000;
}
.countbox {
    height: 103px;
    width: 100%;
    padding-left: 0;
    margin: -55px auto 18px;
}
.countbox > div:last-child {
    margin: 0;
}
.countbox > div:first-child {
    margin-left: 49px;
}
.countbox .countbox-num {
    float: left;
    width: 64px;
    height: 54px;
    background: url("timer.png") no-repeat 0 0;
    margin-right: 25px;
    border-radius: 5px;
    -webkt-border-radius: 5px;
    -webkit-box-shadow: 0 3px 2px 0 rgba(0,0,0,.1);
    box-shadow: 0 3px 2px 0 rgba(0,0,0,.1);
}
.countbox-hours, .countbox-mins, .countbox-secs {
    color: #fff;
    font-size: 36px;
    text-align: center;
    font-weight: 700;
    line-height: 56px;
}
.countbox-hours-text, .countbox-mins-text, .countbox-secs-text {
    font-size: 11px;
    text-align: center;
    text-transform: uppercase;
}
