/*reset*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn,
em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b,
u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table,
caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details,
embed, figure, figcaption, footer, header, menu, nav, output, ruby, section,
summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; outline: 0; font-size: 100%;}

/* HTML5 display-role reset for older browsers */
/* endzeit_____ */
article, aside, details, figcaption, figure, footer, header, menu, nav, section, main {display: block;}

ol, ul {list-style: none;}
blockquote, q {quotes: none;}
img{max-width: 100%; height: auto;}
a{text-decoration: underline;}
a:hover{cursor: pointer;}
/* michael-k90 */
*::-webkit-input-placeholder {color: #a9a9a9; opacity: 1;}
*:-moz-placeholder {color: #a9a9a9; opacity: 1;}
*::-moz-placeholder {color: #a9a9a9; opacity: 1;}
*:-ms-input-placeholder {color: #a9a9a9; opacity: 1;}
*{margin: 0; padding: 0;}
*{-webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;}
button,input,a{outline: none;}
/* endzeit_____ */
.hidden{display: none;}
.left{float: left;}
.right{float: right;}
.center{text-align: center;}
.clearfix:after{content: '';display: block;clear: both;}
.clear{clear: both;height: 0px;}
.just {
    text-align: justify;
    -moz-text-align-last: center;
    text-align-last: center;
}
html{
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    -webkit-font-smoothing: subpixel-antialiased !important;
}
h1,h2,h3,h4,h5,h6{font-weight: 400;}
b,strong{font-weight: 700;}
body{
    width: 100%;
    min-width: 320px;
    padding: 0px;
    margin: 0px auto;
    font-family: "OfficinaSans", Helvetica, Arial, sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5em;
    color: #333;
}
.main-wrap{
    width: 480px;
    margin: 0 auto;
    background: #fff;
}
section{
    margin: 0 auto;
    padding: 40px 0;
    background: #fff;
}
.line-v1{
    height: 8px;
    color: transparent;
    background: url("dot-bg.png") repeat transparent;
}

.lvl-title-v1{
    margin: 0 20px 30px;
    text-align: center;
    font-size: 29px;
    font-weight: 900;
    line-height: 1.4em;
    text-transform: uppercase;
}
.lvl-title-v1:after{
    content: '';
    display: block;
    background: url("sep.png") no-repeat center top;
    margin: 5px auto 0;
    width: 120px;
    height: 14px;
}
.gradient-theme .lvl-title-v1:after{
    background-image: url("sep2.png");
}
.text-cont-v1{
    padding: 0 30px;
}
.text-cont-v1>img{
    display: block;
    margin: 15px auto;
}
.text-cont-v1>p{
    margin: 15px 0;
}

.button-m{
    display: block;
    width: 380px;
    height: 88px;
    margin: 0 auto;
    border: 0;
    outline: none;
    text-decoration: none;
    cursor: pointer;
    line-height: 86px;
    font-family: "OfficinaSans", Helvetica, Arial, sans-serif;
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    font-size: 26px;
    text-align: center;
    color: #333;
    text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.3);
    border-bottom: 3px solid #d7a200;
    background: #fece20;
    background-image: -webkit-linear-gradient(top, #fddc40, #ffc000);
    background-image: -moz-linear-gradient(top, #fddc40, #ffc000);
    background-image: -ms-linear-gradient(top, #fddc40, #ffc000);
    background-image: -o-linear-gradient(top, #fddc40, #ffc000);
    background-image: linear-gradient(to bottom, #fddc40, #ffc000);
    -webkit-box-shadow: 0 10px 6px -6px rgba(0, 0, 0, 0.25);
    box-shadow:         0 10px 6px -6px rgba(0, 0, 0, 0.25);
    border-radius: 6px;
}

.list-type-v1{
    padding: 15px 0;
}
.list-type-v1>li{
    padding: 0 0 15px 28px;
    background: url("marker-1.png") 0 2px no-repeat;
}
.list-type-v1>li:last-child{
    padding-bottom: 0;
}

.list-type-v2{
    padding: 0 10px;
    font-size: 0;
    letter-spacing: 0;
}
.list-type-v2>li{
    display: inline-block;
    width: 50%;
    margin: 30px 0 0;
    padding: 0 10px;
    vertical-align: top;
    text-align: center;
    font-size: 16px;
    letter-spacing: normal;
}
.list-type-v2>li:nth-child(1),.list-type-v2>li:nth-child(2){
    margin: 0;
}
.list-type-v2>li img{
    display: block;
    margin: 0 auto 18px;
}
.list-type-v2.list-icon>li img{
}
.list-type-v2.list-square>li img{
    border-radius: 4px;
    -webkit-box-shadow: 0 0 0 4px rgba(0, 0, 0, 0.07);
    box-shadow:         0 0 0 4px rgba(0, 0, 0, 0.07);
}
.list-type-v2.list-circle>li img{
    border-radius: 50%;
    -webkit-box-shadow: 0 0 0 4px rgba(0, 0, 0, 0.07);
    box-shadow:         0 0 0 4px rgba(0, 0, 0, 0.07);
}
.list-type-v2>li h4{
    padding: 0 0 10px;
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.list-type-v3{
    padding: 0 10px;
}
.list-type-v3>li{
    overflow: hidden;
    height: 170px;
    margin: 30px auto 0;
    padding: 0 10px 0 0;
    border-radius: 3px;
    border: 1px dashed #ccc;
    background: #f9f9f9;
}
.list-type-v3>li:nth-child(1){
    margin: 0;
}
.list-type-v3>li img{
    display: block;
    float: left;
    margin: 0 20px 0 0;
}
.list-type-v3>li h4{
    padding: 10px 0 4px;
    font-size: 18px;
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.list-type-v4{
    padding: 0 20px;
}
.list-type-v4>li{
    margin: 20px auto 0;
    padding: 0 0 20px;
    border-bottom: 1px dashed #ccc;
}
.list-type-v4>li:after{
    content: '';
    display: block;
    height: 0;
    clear: both;
}
.list-type-v4>li:nth-child(1){
    margin: 0;
}
.list-type-v4>li:last-child{
    padding: 0;
    border: 0;
}
.list-type-v4>li img{
    display: block;
    float: left;
}
.list-type-v4.list-icon>li img{

}
.list-type-v4.list-square>li img{
    border-radius: 4px;
    -webkit-box-shadow: 0 0 0 4px rgba(0, 0, 0, 0.07);
    box-shadow:         0 0 0 4px rgba(0, 0, 0, 0.07);
}
.list-type-v4.list-circle>li img{
    border-radius: 50%;
    -webkit-box-shadow: 0 0 0 4px rgba(0, 0, 0, 0.07);
    box-shadow:         0 0 0 4px rgba(0, 0, 0, 0.07);
}
.list-type-v4>li h4{
    padding: 5px 0 10px 144px;
    font-size: 18px;
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: 1px;
}
.list-type-v4>li p{
    padding: 0 0 0 144px;
}

.video-cont{
    position: relative;
    height: 260px;
    margin: 0 auto;
    overflow: hidden;
    background: #000;
}
.video-cont iframe, .video-cont object, .video-cont embed{
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.gradient-theme{
    color: #fff;
    background: rgb(66, 192, 233);
    background: -moz-linear-gradient(-45deg, rgb(4, 62, 188) 0%,rgb(66, 192, 233) 100%);
    background: -webkit-linear-gradient(-45deg, rgb(4, 62, 188) 0%,rgb(66, 192, 233) 100%);
    background: linear-gradient(135deg, rgb(4, 62, 188) 0%,rgb(66, 192, 233) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#27cdca', endColorstr='#0caddc',GradientType=1 );
}
.gradient-theme .lvl-title-v1:after{
    color: #fff;
}
.gradient-theme .list-type-v2.list-square>li img, .gradient-theme .list-type-v2.list-circle>li img{
    -webkit-box-shadow: 0 0 0 4px rgba(255, 255, 255, 0.25);
    box-shadow:         0 0 0 4px rgba(255, 255, 255, 0.25);
}
.gradient-theme .list-type-v3>li{
    color: #333;
    border: 0;
    background: #fff;
    -webkit-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.25);
    box-shadow:         0 0 10px 0 rgba(0, 0, 0, 0.25);
}
.gradient-theme .list-type-v4>li{
    border-color: rgba(255,255,255,.7);
}
.gradient-theme .list-type-v4.list-square>li img, .gradient-theme .list-type-v4.list-circle>li img{
    -webkit-box-shadow: 0 0 0 4px rgba(255, 255, 255, 0.25);
    box-shadow:         0 0 0 4px rgba(255, 255, 255, 0.25);
}

.dark-theme{
    color: #fff;
    background: url("dark-bg.jpg") repeat;
}
.dark-theme .lvl-title-v1:after{
    color: #fff;
}
.dark-theme .list-type-v2.list-square>li img, .dark-theme .list-type-v2.list-circle>li img{
    -webkit-box-shadow: none;
    box-shadow:         none;
}
.dark-theme .list-type-v3>li{
    color: #333;
    border: 0;
    background: #fff;
    -webkit-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.25);
    box-shadow:         0 0 10px 0 rgba(0, 0, 0, 0.25);
}
.dark-theme .list-type-v4>li{
    border-color: rgba(255,255,255,.2);
}
.dark-theme .list-type-v4.list-square>li img, .dark-theme .list-type-v4.list-circle>li img{
    -webkit-box-shadow: none;
    box-shadow:         none;
}
.m1-form{
    width: auto;
    max-width: 380px;
    margin: 0 auto;
    padding: 15px 0 0;
}
.m1-form>div{
    margin: 15px auto;
}
.m1-form>div:last-of-type{
    margin-bottom: 0;
}
.m1-form input, .m1-form select{
    position: relative;
    display: block;
    outline: 0;
    border: 0;
    width: 100%;
    height: 74px;
    line-height: 74px;
    margin: 0 auto;
    background: #f3f3f3;
    text-indent: 25px;
    font-size: 19px;
    font-family: "OfficinaSans", Helvetica, Arial, sans-serif;
    font-weight: 400;
    border: 1px solid #dedede;
    border-radius: 6px;
}
.m1-form button{
    display: block;
    width: 100%;
}

.m1-form.dark-bg input{
    background: #fff;
    border: 0;
}

/* Slider */
.slick-slider
{
    position: relative;

    display: block;

    -moz-box-sizing: border-box;
    box-sizing: border-box;

    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
    touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}

.slick-list
{
    position: relative;

    display: block;
    overflow: hidden;

    margin: 0;
    padding: 0;
}
.slick-list:focus
{
    outline: none;
}
.slick-list.dragging
{
    cursor: pointer;
    cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list
{
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.slick-track
{
    position: relative;
    top: 0;
    left: 0;

    display: block;
}
.slick-track:before,
.slick-track:after
{
    display: table;

    content: '';
}
.slick-track:after
{
    clear: both;
}
.slick-loading .slick-track
{
    visibility: hidden;
}

.slick-slide
{
    display: none;
    float: left;

    height: 100%;
    min-height: 1px;
}
[dir='rtl'] .slick-slide
{
    float: right;
}
.slick-slide img
{
    display: block;
}
.slick-slide.slick-loading img
{
    display: none;
}
.slick-slide.dragging img
{
    pointer-events: none;
}
.slick-initialized .slick-slide
{
    display: block;
}
.slick-loading .slick-slide
{
    visibility: hidden;
}
.slick-vertical .slick-slide
{
    display: block;

    height: auto;

    border: 1px solid transparent;
}
.slick-arrow.slick-hidden {
    display: none;
}

/* Шапка-примущества */
.head-block-v1{
    padding: 0;
    background: url("head-icon-2.png") 96% 40% no-repeat;
}
.head-block-v1 ul{
    width: 85%;
    padding: 20px 0;
}
.head-block-v1 ul>li{
    float: left;
    width: 50%;
    padding: 0 0 0 20px;
    line-height: 1.3em;
}
.head-block-v1 ul>li:nth-child(1){
    border-right: 1px solid #dcdcdc;
}
.head-block-v1 ul>li:before{
    content: '';
    display: block;
    float: left;
    width: 30px;
    height: 30px;
    margin: 4px 12px 4px 0;
    background: url("head-icon.png") no-repeat;
}
.head-block-v1 ul>li:nth-child(1):before{
    background-position: 0 0;
}
.head-block-v1 ul>li:nth-child(2):before{
    background-position: -30px 0;
}

/* Шапка-v1 top-block-pic-v1.jpg */
.top-block-v1{
    padding: 0;
}
.top-block-v1 .top-img{
    position: relative;
    height: 484px;
    background: url("top-block-pic-v1.html") 50% 0 no-repeat;
}
.top-block-v1 .top-sale{
    position: absolute;
    width: 112px;
    top: 226px;
    left: 138px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    font-size: 18px;
    line-height: 1.1em;
    font-weight: 700;
    color: #fff;
}
.top-block-v1 .top-sale>strong{
    font-size: 2em;
    line-height: 1.05em;
}
.top-block-v1 .top-cont{
    position: relative;
    padding: 40px 50px;
    color: #fff;
    background: #2a2d33;
    -webkit-box-shadow: inset 0 14px 12px -8px rgba(0, 0, 0, 0.35);
    box-shadow: inset 0 14px 12px -8px rgba(0, 0, 0, 0.35);
}
.top-block-v1 .top-cont:after, .top-block-v1 .top-cont:before{
    content: '';
    position: absolute;
    display: block;
}
.top-block-v1 .top-cont:before{
    width: 43px;
    height: 78px;
    top: 26%;
    right: 0;
    background: url("head-flora-right.html") 0 0 no-repeat;
}
.top-block-v1 .top-cont:after{
    width: 40px;
    height: 63px;
    left: 0;
    bottom: 0;
    background: url("head-flora-left.html") 0 0 no-repeat;
}
.top-block-v1 .top-cont .list-type-v1{
    padding: 15px 20px;
    border-radius: 6px;
    font-size: 18px;
    font-weight: 700;
    color: #333;
    border-bottom: 3px solid #dcdcdc;
    background: #fff;
}
.top-block-v1 .timer{
    padding: 40px 0 20px;
    text-align: center;
}
.top-block-v1 .timer>h4{
    padding: 0 0 5px;
    font-size: 22px;
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: 1.5px;
}
.top-block-v1 .time_circles>div>span{
    font-family: "OfficinaSans", Helvetica, Arial, sans-serif;
    font-weight: 700;
}
.top-block-v1 .time_circles>div>h4{
    font-family: "OfficinaSans", Helvetica, Arial, sans-serif;
    letter-spacing: 0.5px;
}
.top-block-v1 .top-cont .cost-cont{
    overflow: hidden;
    border-radius: 6px;
    background: #07a6e0;
    background: -moz-linear-gradient(-45deg, #32dac3 30%, #07a6e0 100%);
    background: -webkit-linear-gradient(-45deg, #32dac3 30%,#07a6e0 100%);
    background: linear-gradient(135deg, #32dac3 30%,#07a6e0 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#32dac3', endColorstr='#07a6e0',GradientType=1 );
}
.top-block-v1 .top-cont .cost-cont>div{
    float: left;
    width: 50%;
    padding: 12px 0 16px;
    text-align: center;
}
.top-block-v1 .top-cont .cost-cont>div>strong{
    display: block;
    font-size: 2.3em;
    line-height: 1em;
    font-weight: 900;
}
.top-block-v1 .top-cont .cost-cont .old-cost{
    position: relative;
    color: #333;
    background: #fff;
}
.top-block-v1 .top-cont .cost-cont .old-cost:after, .top-block-v1 .top-cont .cost-cont .old-cost:before{
    content: '';
    position: absolute;
    display: block;
    width: 60px;
    height: 15px;
    top: 50%;
    right: -30px;
    margin: -33px 0 0;
    background: #fff;
    -webkit-transform: rotate(75deg);
    -ms-transform: rotate(75deg);
    -moz-transform: rotate(75deg);
    transform: rotate(75deg);
}
.top-block-v1 .top-cont .cost-cont .old-cost:after{
    margin: 22px 0 0;
    -webkit-transform: rotate(-75deg);
    -ms-transform: rotate(-75deg);
    -moz-transform: rotate(-75deg);
    transform: rotate(-75deg);
}
.top-block-v1 .top-cont .cost-cont .old-cost>strong{
    text-decoration: line-through;
}
.top-block-v1 .top-cont .cost-cont .new-cost{
    color: #fff;
}
.top-block-v1 a.button-m{
    width: auto;
    margin: 20px auto 0;
}
.top-block-v1 .ost-col{
    margin: 30px 0 0;
    font-weight: 700;
    font-size: 18px;
    letter-spacing: 0.5px;
    text-align: center;
}
.top-block-v1 .ost-col>span{
    display: inline-block;
    margin: 0 4px;
    padding: 4px 12px;
    border-radius: 6px;
    font-size: 1.3em;
    line-height: 1em;
    color: #fff;
    background: #07a6e0;
    background: -moz-linear-gradient(-45deg, #32dac3 30%, #07a6e0 100%);
    background: -webkit-linear-gradient(-45deg, #32dac3 30%,#07a6e0 100%);
    background: linear-gradient(135deg, #32dac3 30%,#07a6e0 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#32dac3', endColorstr='#07a6e0',GradientType=1 );
}

/* Шапка-v2 top-block-pic-v2.jpg */
.top-block-v2{
    padding: 0;
}
.top-block-v2 .top-img{
    position: relative;
    height: 480px;
    background: url("top-block-pic-v2.jpg") 50% 0 no-repeat;
}
.top-block-v2 .top-sale{
    position: absolute;
    width: 112px;
    top: 146px;
    left: 340px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    font-size: 16px;
    line-height: 1.1em;
    font-weight: 700;
    color: #fff;
}
.top-block-v2 .top-sale>strong{
    font-size: 36px;
    line-height: 1.05em;
}
.top-block-v2 .top-cont{
    position: relative;
    padding: 0 0 40px 0;
    color: #fff;
    background: rgb(66, 192, 233);
    background: -moz-linear-gradient(-45deg, rgb(66, 192, 233) 0%,rgb(0, 138, 239) 100%);
    background: -webkit-linear-gradient(-45deg, rgb(66, 192, 233) 0%,rgb(0, 138, 239) 100%);
    background: linear-gradient(135deg, rgb(66, 192, 233) 0%,rgb(0, 138, 239) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#27cdca', endColorstr='#0caddc',GradientType=1 );
}

.top-block-v2 .top-cont .list-type-v1{
    padding: 15px 40px;
    font-size: 18px;
    font-weight: 700;
    color: #333;
    background: #fff;
    border-bottom: 3px solid #dcdcdc;
    -webkit-box-shadow: 0 12px 12px -6px rgba(0, 0, 0, 0.2);
    box-shadow: 0 12px 12px -6px rgba(0, 0, 0, 0.2);
}
.top-block-v2 .timer{
    padding: 40px 50px 20px;
    text-align: center;
}
.top-block-v2 .timer>h4{
    padding: 0 0 5px;
    font-size: 22px;
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: 1.5px;
}
.top-block-v2 .time_circles>div>span{
    font-family: "OfficinaSans", Helvetica, Arial, sans-serif;
    font-weight: 700;
}
.top-block-v2 .time_circles>div>h4{
    font-family: "OfficinaSans", Helvetica, Arial, sans-serif;
    letter-spacing: 0.5px;
}
.top-block-v2 .top-cont .cost-cont{
    overflow: hidden;
    margin: 0 50px;
    border-radius: 6px;
    background: #01497a;
}
.top-block-v2 .top-cont .cost-cont>div{
    float: left;
    width: 50%;
    padding: 12px 0 16px;
    text-align: center;
}
.top-block-v2 .top-cont .cost-cont>div>strong{
    display: block;
    font-size: 2.3em;
    line-height: 1em;
    font-weight: 900;
}
.top-block-v2 .top-cont .cost-cont .old-cost{
    position: relative;
}
.top-block-v2 .top-cont .cost-cont .old-cost:after, .top-block-v2 .top-cont .cost-cont .old-cost:before{
    content: '';
    position: absolute;
    display: block;
    width: 60px;
    height: 15px;
    top: 50%;
    right: -30px;
    margin: -33px 0 0;
    background: #17b5c4;
    -webkit-transform: rotate(75deg);
    -ms-transform: rotate(75deg);
    -moz-transform: rotate(75deg);
    transform: rotate(75deg);
}
.top-block-v2 .top-cont .cost-cont .old-cost:after{
    margin: 22px 0 0;
    -webkit-transform: rotate(-75deg);
    -ms-transform: rotate(-75deg);
    -moz-transform: rotate(-75deg);
    transform: rotate(-75deg);
}
.top-block-v2 .top-cont .cost-cont .old-cost>strong{
    text-decoration: line-through;
}
.top-block-v2 .top-cont .cost-cont .new-cost{
    color: #333;
    background: #fff;
}
.top-block-v2 a.button-m{
    width: auto;
    margin: 20px 50px 0;
}
.top-block-v2 .ost-col{
    margin: 30px 0 0;
    font-weight: 700;
    font-size: 18px;
    letter-spacing: 0.5px;
    text-align: center;
}
.top-block-v2 .ost-col>span{
    display: inline-block;
    margin: 0 4px;
    padding: 4px 12px;
    border-radius: 6px;
    font-size: 1.3em;
    line-height: 1em;
    color: #0eaddc;
    background: #fff;
}

/* Шапка-v3 top-block-pic-v3.jpg */
.top-block-v3{
    padding: 0;
}
.top-block-v3 .top-title{
    text-align: center;
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    color: #fff;
}
.top-block-v3 .top-title .sub-title{
    padding: 10px 0;
    font-size: 28px;
    line-height: 1.2em;
    background: #2a2d33;
}
.top-block-v3 .top-title>h1{
    padding: 10px 0;
    font-size: 50px;
    line-height: 1em;
    font-weight: 900;
    background: #1fc4cf;
}
.top-block-v3 .top-img{
    height: 490px;
    padding: 388px 0 0;
    background: url("top-block-pic-v3.html") 50% 0 no-repeat;
}
.top-block-v3 .cost-cont>div{
    float: left;
    width: 190px;
    padding: 2px 0 0;
    text-align: center;
    color: #fff;
}
.top-block-v3 .cost-cont .sale-cost{
    width: 100px;
    padding: 4px 0 0;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    font-size: 18px;
    line-height: 1.2em;
    font-weight: 700;
    color: #333;
    text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.3);
}
.top-block-v3 .cost-cont .sale-cost>strong{
    font-size: 2em;
    line-height: 1em;
    font-weight: 900;
}
.top-block-v3 .cost-cont .old-cost>strong, .top-block-v3 .cost-cont .new-cost>strong{
    display: block;
    display: block;
    font-size: 2.3em;
    line-height: 1em;
    font-weight: 900;
}
.top-block-v3 .cost-cont .old-cost>strong{
    text-decoration: line-through;
}
.top-block-v3 .top-cont{
    padding: 0 50px 40px;
}
.top-block-v3 .top-cont .list-type-v1{
    padding: 15px 0;
    font-size: 18px;
    font-weight: 700;
}
.top-block-v3 .timer{
    margin: 20px auto 0;
    padding: 15px 20px 10px;
    border-radius: 6px;
    border: 1px dashed #ccc;
}
.top-block-v3 .timer>h4{
    float: left;
    width: 110px;
    padding: 0 0 5px;
    font-size: 20px;
    line-height: 1.4em;
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: 1px;
}
.top-block-v3 .timer>h4 strong{
    font-weight: 900;
    font-size: 28px;
}
.top-block-v3 .timer .timer-action{
    float: right;
}
.top-block-v3 .timer .timer-action .timer-col{
    position: relative;
    display: inline-block;
    width: 55px;
    margin: 0 10px;
    text-align: center;
    line-height: 1em;
    color: #1fc4cf;
}
.top-block-v3 .timer .timer-action .timer-col:after{
    content: ':';
    position: absolute;
    top: 20%;
    right: -12px;
    font-size: 1.2em;
    color: #ccc;
}
.top-block-v3 .timer .timer-action .timer-col:last-child:after{
    display: none;
}
.top-block-v3 .timer .timer-action .timer-col>strong{
    display: inline-block;
    width: 50px;
    font-size: 2.5em;
    line-height: 1em;
    font-weight: 900;
}
.top-block-v3 .timer .timer-action .timer-col>span{
    display: inline-block;
    font-weight: 400;
}
.top-block-v3 a.button-m{
    width: auto;
    margin: 20px auto 0;
}
.top-block-v3 .ost-col{
    margin: 30px 0 0;
    font-weight: 700;
    font-size: 18px;
    letter-spacing: 0.5px;
    text-align: center;
}
.top-block-v3 .ost-col>span{
    display: inline-block;
    margin: 0 4px;
    padding: 4px 12px;
    border-radius: 6px;
    font-size: 1.3em;
    line-height: 1em;
    color: #fff;
    background: #07a6e0;
    background: -moz-linear-gradient(-45deg, #32dac3 30%, #07a6e0 100%);
    background: -webkit-linear-gradient(-45deg, #32dac3 30%,#07a6e0 100%);
    background: linear-gradient(135deg, #32dac3 30%,#07a6e0 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#32dac3', endColorstr='#07a6e0',GradientType=1 );
}

/* video-block */
.video-block{
    padding: 0;
}

.anon {
    text-align: center;
    background: #fff;
    border:5px solid #f3f5f7;
    border-radius: 5px;
    padding: 10px 15px 20px;
    width: 430px;
    margin: 20px auto 0;
    color:#222;
    position: relative;
}
.anon h3 {
    font-size: 18px;
    font-weight: 700;
}
.anon p {
}
.icons:before{
    color: #068fee;
    font-size: 40px;
}

/* comparison-block */
.comparison-block{
    padding: 40px 0 0;
}
.comparison-block table{
    border-spacing: 2px 0;
    text-align: center;
}
.comparison-block table td{
    width: 50%;
    padding: 12px 8px;
    border-bottom: 1px dashed #ccc;
}
.comparison-block table thead td{
    padding: 20px 5px;
    font-size: 18px;
    line-height: 1.2em;
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    color: #fff;
    border-bottom: 0;
}
.comparison-block table thead td:nth-child(2){
    background: #ff9103;
}
.comparison-block table thead td:nth-child(2):before{
    content: '';
    display: inline-block;
    width: 18px;
    height: 18px;
    margin: 0 10px -3px 0;
    background: url("comparison-icon.png") 0 0 no-repeat;
}
.comparison-block table thead td:nth-child(1){
    background: #4c4dff;
}
.comparison-block table thead td:nth-child(1):before {
    content: '';
    display: inline-block;
    width: 18px;
    height: 18px;
    margin: 0 10px -3px 0;
}
.comparison-block table tbody tr:nth-child(2n){
    background: #f9f9f9;
}
.comparison-block table.t2 thead td:before {
    display: none;
}
.use-block-v1 .list-type-v4>li h4{
    padding: 18px 0 10px 144px;
}

.use-block-v2 .list-type-v4>li h4{
    padding: 18px 0 10px 144px;
}
.use-block-v3 {
    padding-bottom: 0;
}
.use-block-v3 .use-cont{
    padding: 0 20px 30px;
}
.use-block-v3 .use-cont>li{
    margin: 25px auto 0;
    padding: 0 0 25px;
    border-bottom: 1px dashed #ccc;
}
.use-block-v3 .use-cont>li:nth-child(1){
    margin: 0;
}
.use-block-v3 .use-cont>li:last-child{
    padding: 0;
    border: 0;
}
.use-block-v3 .use-cont>li>span{
    display: block;
    float: left;
    width: 50px;
    padding: 0 10px 0 0;
    line-height: 48px;
    text-align: center;
    font-size: 39px;
    font-weight: 900;
    color: #0c4fc2;
    border-right: 1px solid #eee;
}
.use-block-v3 .use-cont>li>p{
    padding: 0 0 4px 70px;
}
.use-block-v3.gradient-theme .use-cont>li{
    border-color: rgba(255,255,255,.7);
}
.use-block-v3.gradient-theme .use-cont>li>span{
    color: #fff;
    border-color: rgba(255,255,255,.3);
}
.use-block-v3.dark-theme .use-cont>li{
    border-color: rgba(255,255,255,.2);
}
.use-block-v3.dark-theme .use-cont>li>span{
    color: #fff;
    border-color: rgba(255,255,255,.12);
}

/* Эксперт-v1 expert-block-v1.psd */
.expert-block-v1{
    padding: 25px 0 40px;
    background: url("expert-block-v1.html") 50% 0 no-repeat;
}
.expert-block-v1 .lvl-title-v1, .expert-block-v1 .lvl-title-v1:after{
    color: #fff;
}
.expert-block-v1 .expert-cont{
    padding: 155px 30px 0;
}
.expert-block-v1 .expert-cont .expert-title{
    margin: 0 0 40px;
    text-align: center;
}
.expert-block-v1 .expert-cont .expert-title>strong{
    display: block;
    font-size: 20px;
    line-height: 1.2em;
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: 1.5px;
}
.expert-block-v1 .expert-cont .expert-text{
    text-align: center;
}

/* Эксперт-v2 expert-block-v2.png */
.expert-block-v2 .expert-cont{
    position: relative;
    padding: 75px 25px 0;
}
.expert-block-v2 .expert-cont>img{
    position: absolute;
    display: block;
    top: -50px;
    left: 0;
}
.expert-block-v2 .expert-cont .expert-text{
    padding: 90px 20px 20px;
    text-align: center;
    border-radius: 6px;
    border-bottom: 3px solid #dcdcdc;
    color: #333;
    background: #fff;
}


.expert-block-v3{
    background: linear-gradient(135deg, white 50%,#a0a0e94d 50%);
}
.expert-block-v3 .expert-title{
    height: 290px;
    padding: 192px 40px 0;
    color: #fff;
    background: url("expert-block-v3.html") 50% 0 no-repeat;
}
.expert-block-v3 .expert-title>strong{
    display: block;
    margin: 0 0 16px;
    font-size: 20px;
    line-height: 1em;
    font-weight: 900;
    letter-spacing: 0.5px;
}
.expert-block-v3 .expert-cont {
    padding: 20px 30px 0;
    text-align: center;
}
.expert-block-v3 .expert-cont p:nth-of-type(1) {
    margin-bottom: 20px;
}

/* Подделка-v1 fake-block-v1.psd */
.fake-block-v1{

}
.fake-block-v1 .fake-cont-v1{
    padding: 0 30px;
    text-align: center;
}
.fake-block-v1 .fake-cont-v1>img{
    display: block;
    margin: 15px auto;
}
.fake-block-v1 .fake-cont-v1>h3{
    margin: 15px auto;
    font-weight: 700;
}
.fake-block-v1 .fake-cont-v1>h3 strong{
    display: block;
    font-size: 20px;
    line-height: 1.3em;
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: 1.5px;
}
.fake-block-v1 .fake-cont-v1>p{
    margin: 15px 0;
}

/* Доставка/оплата-v1 delivery-block-v1.psd */
.delivery-block-v1{
}
.delivery-block-v1 .delivery-cont{
    background: url("delivery-block-v1.html") 50% 0 no-repeat;
}
.delivery-block-v1 .delivery-cont>li{
    float: left;
    width: 50%;
    height: 236px;
    margin: 0 0 8px;
    padding: 186px 10px 0 5px;
    text-align: center;
    font-weight: 700;
    line-height: 1.3em;
    color: #fff;
}
.delivery-block-v1 .delivery-cont>li:nth-child(2n){
    padding: 186px 5px 0 10px;
}

/* Доставка/оплата-v2 delivery-block-v2.psd*/
.delivery-block-v2{
}
.delivery-block-v2 .delivery-cont{
    padding: 0 30px;
}
.delivery-block-v2 .delivery-cont>li{
    margin: 20px 0 40px;
}
.delivery-block-v2 .delivery-cont>li:last-child{
    margin: 0;
}
.delivery-block-v2 .delivery-cont>li:before{
    content: '';
    display: block;
    float: left;
    width: 91px;
    height: 91px;
    background: url("delivery-block-v2.png") no-repeat;
}
.delivery-block-v2 .delivery-cont>li:nth-child(1):before{
    background-position: 0 0;
}
.delivery-block-v2 .delivery-cont>li:nth-child(2):before{
    background-position: -91px 0;
}
.delivery-block-v2 .delivery-cont>li:nth-child(3):before{
    background-position: -182px 0;
}
.delivery-block-v2 .delivery-cont>li>h4{
    padding: 10px 0 4px 111px;
    font-size: 20px;
    font-weight: 900;
    letter-spacing: 0.5px;
}
.delivery-block-v2 .delivery-cont>li>p{
    padding: 0 0 0 111px;
}

/* Доставка/оплата-v3 delivery-block-v3.psd */
.delivery-block-v3{
}
.delivery-block-v3 .delivery-cont{
    background: url("delivery-block-v3.html") 50% 0 no-repeat;
}
.delivery-block-v3 .delivery-cont>li{
    float: left;
    width: 50%;
    height: 300px;
    margin: 0 0 12px;
    padding: 250px 12px 0;
    text-align: center;
    font-weight: 700;
    line-height: 1.3em;
}

/* Доставка/оплата-v4 delivery-block-v4.psd */
.delivery-block-v4{
}
.delivery-block-v4 .delivery-cont{
    padding: 0 10px;
}
.delivery-block-v4 .delivery-cont>li{
    float: left;
    width: 50%;
    margin: 30px 0 0;
    padding: 0 15px;
    text-align: center;
    font-weight: 700;
    line-height: 1.5em;
}
.delivery-block-v4 .delivery-cont>li:nth-child(1),.delivery-block-v4 .delivery-cont>li:nth-child(2){
    margin: 0;
}
.delivery-block-v4 .delivery-cont>li:before{
    content: '';
    display: block;
    width: 147px;
    height: 159px;
    margin: 0 auto 15px;
    background: url("delivery-block-v4.png") no-repeat;
}
.delivery-block-v4 .delivery-cont>li:nth-child(1):before{
    background-position: 0 0;
}
.delivery-block-v4 .delivery-cont>li:nth-child(2):before{
    background-position: -147px 0;
}
.delivery-block-v4 .delivery-cont>li:nth-child(3):before{
    background-position: -294px 0;
}
.delivery-block-v4 .delivery-cont>li:nth-child(4):before{
    background-position: -441px 0;
}

/* Отзывы-v1 rev-block-v1_1.jpg + rev-block-v1-button.psd*/
.rev-block-v1 .rev-cont{
    padding: 0px 25px;
    text-align: center;
}
.rev-block-v1 .rev-item>img{
    display: block;
    margin: 0 auto 20px;
    border-radius: 3px;
}
.rev-block-v1 .rev-item>h4{
    padding: 10px 0 15px;
    font-size: 20px;
    font-weight: 900;
    letter-spacing: 0.5px;
}
.rev-block-v1 .rev-item>h4:after{
    content: '';
    display: block;
    width: 94px;
    height: 14px;
    margin: 10px auto 0;
    background: url("star-icon.png") 0 0 repeat-x;
}
.rev-block-v1 .slick-arrow{
    display: inline-block;
    position: absolute;
    width: 43px;
    height: 43px;
    cursor: pointer;
    z-index: 99;
    top: 280px;
    background: url("rev-block-v1-button.png") no-repeat;
 }
.rev-block-v1 .slick-prev{
    left: 25px;
    background-position: 0 0;
}
.rev-block-v1 .slick-next{
    background-position: -43px 0;
    right: 25px;
}

/* Отзывы-v2 rev-block-v2_1.jpg + rev-block-v2-button.psd*/
.rev-block-v2{
}
.rev-block-v2 .rev-cont{
    padding: 0 40px;
    text-align: center;
}
.rev-block-v2 .rev-item{
    margin: 60px 0 0;
    padding: 12px 20px 20px;
    text-align: center;
    color: #333;
    border-radius: 6px;
    border-bottom: 3px solid #dcdcdc;
    background: #fff;
}
.rev-block-v2 .rev-item>img{
    display: block;
    margin: -67px auto 20px;
    border-radius: 50%;
    -webkit-box-shadow: 0 0 0 4px rgba(255, 255, 255, 0.25);
    box-shadow:         0 0 0 4px rgba(255, 255, 255, 0.25);
}
.rev-block-v2 .rev-item>h4{
    padding: 0 0 15px;
    font-size: 20px;
    font-weight: 900;
    letter-spacing: 0.5px;
}
.rev-block-v2 .rev-item>h4:after{
    content: '';
    display: block;
    width: 94px;
    height: 14px;
    margin: 10px auto 0;
    background: url("star-icon.png") 0 0 repeat-x;
}
.rev-block-v2 .slick-arrow{
    display: inline-block;
    position: absolute;
    width: 56px;
    height: 56px;
    cursor: pointer;
    z-index: 99;
    top: 32px;
    background: url("rev-block-v2-button.png") no-repeat;
 }
.rev-block-v2 .slick-prev{
    left: 75px;
    background-position: 0 0;
}
.rev-block-v2 .slick-next{
    background-position: -56px 0;
    right: 75px;
}

/* Отзывы-v3 rev-block-v3_1.jpg + rev-block-v3-button.psd*/
.rev-block-v3{
}
.rev-block-v3 .rev-cont{
    padding: 0 25px;
    text-align: center;
}
.rev-block-v3 .rev-item{
    text-align: center;
}
.rev-block-v3 .rev-item>img{
    display: block;
    margin: 0 auto 20px;
    border-radius: 50%;
}
.rev-block-v3 .rev-item>h4{
    padding: 0 0 15px;
    font-size: 20px;
    font-weight: 900;
    letter-spacing: 0.5px;
}
.rev-block-v3 .rev-item>h4:after{
    content: '';
    display: block;
    width: 94px;
    height: 14px;
    margin: 10px auto 0;
    background: url("star-icon.png") 0 0 repeat-x;
}
.rev-block-v3 .slick-arrow{
    display: inline-block;
    position: absolute;
    width: 54px;
    height: 54px;
    cursor: pointer;
    z-index: 99;
    top: 70px;
    background: url("rev-block-v3-button.png") no-repeat;
 }
.rev-block-v3 .slick-prev{
    left: 40px;
    background-position: 0 0;
}
.rev-block-v3 .slick-next{
    background-position: -54px 0;
    right: 40px;
}
.rev-block-v3 .slick-dots{
    padding: 20px 0 0;
    text-align: center;
}
.rev-block-v3 .slick-dots button{
    display: none;
}
.rev-block-v3 .slick-dots li{
    display: inline-block;
    width: 30px;
    height: 8px;
    margin: 0 5px;
    border-radius: 35px;
    border-top: 1px solid #ddd;
    background: #f3f3f3;
}
.rev-block-v3 .slick-dots li.slick-active{
    border: 0;
    background: #4c4dff;
}

/* Реквизиты */
.copyright{
    color: #333;
    padding: 30px 0 20px;
    text-align: center;
    font-size: 14px;
    background: #eee;
}
.copyright>div{
    padding: 0 0 10px;
    font-size: 40px;
    line-height: 1em;
}

.copyright { font-size: 14px;text-align: center; padding:20px 0;color: #6C6E6F;}
.copyright p { width: 100%; text-align: center; padding: 0; margin: 0; }
.copyright br { display: none; }
.copyright img { margin: 10px auto!important; max-width:100%; }
.copyright a {color: #6C6E6F; text-decoration: none;}
.copyright a:hover { color:#FF0069; text-decoration: none; }

.errField { display:none; font-size: 14px; background: #f00; color: #fff; text-align: center; padding: 10px; margin-bottom:10px; }

.errorMessage {font-size: 11px;background: rgba(255, 0, 0, 0.64);color: #fff;text-align: center;padding: 5px 10px;position: absolute;margin: 44px 0 0; }
