.owl-carousel{display:none;width:100%;-webkit-tap-highlight-color:transparent;position:relative;z-index:1}.owl-carousel .owl-stage{position:relative;-ms-touch-action:pan-Y}.owl-carousel .owl-stage:after{content:".";display:block;clear:both;visibility:hidden;line-height:0;height:0}.owl-carousel .owl-stage-outer{position:relative;overflow:hidden;-webkit-transform:translateZ(0)}.owl-carousel .owl-item{position:relative;min-height:1px;float:left;-webkit-backface-visibility:hidden;-webkit-tap-highlight-color:transparent;-webkit-touch-callout:none}.owl-carousel .owl-item img{display:block;-webkit-transform-style:preserve-3d}.owl-carousel .owl-dots.disabled,.owl-carousel .owl-nav.disabled{display:none}.owl-carousel .owl-dot,.owl-carousel .owl-nav .owl-next,.owl-carousel .owl-nav .owl-prev{cursor:pointer;-webkit-user-select:none;-khtml-user-select:none;-moz-user-select:none;-ms-user-select:none}.owl-carousel.owl-loaded{display:block}.owl-carousel.owl-loading{opacity:0;display:block}.owl-carousel.owl-hidden{opacity:0}.owl-carousel.owl-refresh .owl-item{visibility:hidden}.owl-carousel.owl-drag .owl-item{-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none}.owl-carousel.owl-grab{cursor:move;cursor:-webkit-grab;cursor:grab}.owl-carousel.owl-rtl{direction:rtl}.owl-carousel.owl-rtl .owl-item{float:right}.no-js .owl-carousel{display:block}.owl-carousel .animated{-webkit-animation-duration:1s;animation-duration:1s;-webkit-animation-fill-mode:both;animation-fill-mode:both}.owl-carousel .owl-animated-in{z-index:0}.owl-carousel .owl-animated-out{z-index:1}.owl-carousel .fadeOut{-webkit-animation-name:a;animation-name:a}@-webkit-keyframes a{0%{opacity:1}to{opacity:0}}@keyframes a{0%{opacity:1}to{opacity:0}}.owl-height{-webkit-transition:height .5s ease-in-out;transition:height .5s ease-in-out}.owl-carousel .owl-item .owl-lazy{opacity:0;-webkit-transition:opacity .4s ease;transition:opacity .4s ease}.owl-carousel .owl-item img.owl-lazy{-webkit-transform-style:preserve-3d;transform-style:preserve-3d}.owl-carousel .owl-video-wrapper{position:relative;height:100%;background:#000}.owl-carousel .owl-video-play-icon{position:absolute;height:80px;width:80px;left:50%;top:50%;margin-left:-40px;margin-top:-40px;background:url(owl.video.play.html) no-repeat;cursor:pointer;z-index:1;-webkit-backface-visibility:hidden;transition:-webkit-transform .1s ease;-webkit-transition:-webkit-transform .1s ease;transition:transform .1s ease;transition:transform .1s ease,-webkit-transform .1s ease}.owl-carousel .owl-video-play-icon:hover{-webkit-transform:scale(1.3);-ms-transform:scale(1.3);transform:scale(1.3)}.owl-carousel .owl-video-playing .owl-video-play-icon,.owl-carousel .owl-video-playing .owl-video-tn{display:none}.owl-carousel .owl-video-tn{opacity:0;height:100%;background-position:50%;background-repeat:no-repeat;background-size:contain;-webkit-transition:opacity .4s ease;transition:opacity .4s ease}.owl-carousel .owl-video-frame{position:relative;z-index:1;height:100%;width:100%}

.clear:after, .container:after {
	clear: both
}
.header_bottom, .header_top, header, section {
	position: relative
}
a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote, body, canvas, caption, center, cite, code, dd, del, details, dfn, div, dl, dt, em, embed, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, ins, kbd, label, legend, li, mark, menu, nav, object, ol, output, p, pre, q, ruby, s, samp, section, small, span, strike, strong, sub, summary, sup, table, tbody, td, tfoot, th, thead, time, tr, tt, u, ul, var, video {
	margin: 0;
	padding: 0;
	border: 0;
	font: inherit;
	vertical-align: baseline
}
* {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-webkit-transition: all .25s;
	-o-transition: all .25s;
	transition: all .25s;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block
}
img {
	max-width: 100%
}
body {
	line-height: 18px;
	font-family: 'Open Sans', serif;
	font-weight: 400;
	font-size: 16px;
	min-width: 300px;
	color: #181817;
	overflow-x: hidden;
	width: 100%;
	margin: auto;
	background: #fff
}
.bold, b {
	font-weight: 700
}
ol, ul {
	list-style: none
}
blockquote, q {
	quotes: none
}
blockquote:after, blockquote:before, q:after, q:before {
	content: '';
	content: none
}
.clear {
	clear: both;
}
.clear:after, .clear:before, .container:after, .container:before {
	content: "";
	display: table
}
.wrap {
	max-width: 1920px;
	margin: auto;
	overflow: hidden;
}
table {
	border-collapse: collapse;
	border-spacing: 0
}
.main_block {
	position: relative;
}
.container {
	max-width: 960px;
	margin: auto;
	padding: 0 9px;
	position: relative;
}
.center {
	display: table-cell;
	vertical-align: middle;
}
.inlhack {
	letter-spacing: -.36em;
	text-align: center;
}
.header_bottom {
	background: url(main_bg.jpg) no-repeat top center;
	height: 933px;
	padding-top: 45px;
}
.header_top {
	padding: 5px 0 0;
	background-color: #444443;
	height: 72px;
	position: relative;
	z-index: 2;
}
.ht_block {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}
.ht {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	font-weight: 600;
	line-height: 18px;
	color: #fff;
	text-transform: uppercase;
	width: 33.3%;
}
.ht .image {
	-ms-flex: 0 0 auto;
	-webkit-box-flex: 0;
	flex: 0 0 auto;
	margin-right: 10px;
}
.main_title {
	width: 560px;
	margin-left: auto;
	margin-bottom: 46px;
}
h1, .last_block h2 {

	text-align: center;
}
h1 b, .last_block h2 b {
	display: block;
	font-size: 72px;
	line-height: 86px;
	font-weight: 800;
}
.last_block h2:after {
	display: none;
}
.main_slog {
	font-size: 24px;
	line-height: 26px;
	color: #181817;
	position: relative;
}
.main_slog:before {
	content: "";
	width: 55px;
	height: 5px;
	display: inline-block;
	vertical-align: middle;
	margin-right: 10px;
	background: #FA6D2E;
}
.list {
	margin-left: 490px;
}
.list li {
	font-size: 18px;
	color: #181817;
	position: relative;
	padding-left: 30px;
	margin-bottom: 15px;
}
.list li:before {
	content: "";
	background: url(list.png) no-repeat;
	width: 23px;
	height: 23px;
	position: absolute;
	top: 0;
	left: 0;
}
.prod_sale {
	position: relative;
}
.main_prod {
	position: absolute;
	top: 100px;
	left: 275px;
}
.sale_block {
	border-radius: 8px;
	background-color: rgb(255, 255, 255);
	-webkit-box-shadow: 0px 7px 13px 0px rgba(0, 1, 1, 0.16);
	box-shadow: 0px 7px 13px 0px rgba(0, 1, 1, 0.16);
	width: 300px;
	margin-left: auto;
	padding: 10px 0 15px;
	margin-top: 30px;
	margin-right: 55px;
}
.sale {
	text-align: center;
	margin-bottom: 5px;
}
.sale b {
	display: block;
}
.count {
	margin-bottom: 10px;
	text-align: center;
}
.countbox>div:last-child {
	margin: 0
}
.countbox .countbox-num {
	font-weight: bold;
	position: relative;
	margin-right: 25px;
	background: url(count.png) no-repeat top center;
	width: 60px;
	height: 57px;
	padding-top: 0px;
	display: inline-block
}
.countbox .countbox-num:last-child {
	margin-right: 0;
}
.countbox .countbox-num:before {
	content: ':';
	font-size: 32px;
	color: #4D4D4A;
	right: -16px;
	top: 15px;
	position: absolute;
}
.countbox .countbox-num:last-child:before {
	display: none
}
.countbox-hours, .countbox-mins, .countbox-secs {
	color: #fff;
	font-size: 40px;
	text-align: center;
	font-weight: 600;
	line-height: 52px;
	margin-bottom: 0px;
	letter-spacing: 0px;
	padding-left: 0px;
}
.countbox-hours-text, .countbox-mins-text, .countbox-secs-text {
	font-size: 14px;
	color: #4d4d4a;
	font-weight: 400;
	text-align: center;
	letter-spacing: 0;
	margin: 2px auto 0;
}
.sale_form {
	width: 245px;
	margin: auto;
	text-align: center;
}
.sale_form input {
	width: 100%;
	height: 50px;
	border: 2px solid #DBDBDB;
	margin-bottom: 5px;
	padding: 0 40px 0 15px;
	outline: none;
	color: #4d4d4a;
	font-weight: 500;
	font-size: 16px;
}
.form-control {
	width: 100%;
	height: 50px;
	border: 2px solid #DBDBDB;
	margin-bottom: 5px;
	padding: 0 40px 0 15px;
	outline: none;
	color: #4d4d4a;
	font-weight: 500;
	font-size: 16px;
}
.sale_form input.name {
	background: url(name.png) no-repeat 95% center;
}
.sale_form input.phone {
	background: url(phone.png) no-repeat 95% center;
}
.price {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	background: #E7E7EA;
	padding: 10px 0;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	text-align: center;
	margin-bottom: 10px;
}
.old_price {
	margin-right: 15px;
}
.old_price .numb {
	font-weight: 600;
	color: #292A30;
	font-size: 30px;
	line-height: 32px;
	text-decoration: line-through;
}
.old_price .price_title {
	color: #292A30;
	font-size: 14px;
	font-weight: 600;
}
.new_price .price_title {
	color: #292A30;
	font-weight: bold;
	font-size: 14px;
}
.new_price .numb {
	font-weight: bold;
	color: #ea8157;
	font-size: 34px;
	line-height: 36px;
}
.btn {
	outline: none;
	text-decoration: none;
	text-transform: uppercase;
	border-style: solid;
	font-size: 20px;
	text-transform: uppercase;
	color: #FFF;
	background-image: -webkit-linear-gradient( 90deg, rgb(249, 81, 74) 0%, rgb(250, 112, 43) 100%);
	background-image: -ms-linear-gradient( 90deg, rgb(249, 81, 74) 0%, rgb(250, 112, 43) 100%);
	width: 245px;
	height: 64px;
	border: none;
	line-height: 64px;
	display: inline-block;
	text-align: center;
	font-weight: bold;
	-webkit-appearance: none;
	border-radius: 40px;
	cursor: pointer;
}
.btn:hover {
	-webkit-box-shadow: 0px 3px 0px 0px rgba(131, 91, 0, 0.8), inset 0px 0px 20px 0px rgba(255, 255, 255, 0.95);
	box-shadow: 0px 3px 0px 0px rgba(131, 91, 0, 0.8), inset 0px 0px 20px 0px rgba(255, 255, 255, 0.95);
}
.btn:active {
	background: #F9514A;
	-webkit-box-shadow: none;
	box-shadow: none;
}
.last_block .btn {
	font-size: 26px;
}
.secure {
	font-size: 14px;
	color: #4D4D4A;
	position: relative;
	padding-left: 20px;
	margin-bottom: 7px;
}
.secure:before {
	content: "";
	position: absolute;
	left: 20px;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
	background: url(secure.png);
	width: 12px;
	height: 16px;
}
section {
	padding: 50px 0;
	position: relative;
}
h2 {
	font-size: 28px;
	color: #181817;
	font-weight: bold;
	line-height: 48px;
	text-align: center;
	position: relative;
	margin-bottom: 0px;
	text-transform: uppercase;
}
h2:after {
	content: "";
	display: block;
	width: 458px;
	height: 10px;
	background: url(line1.png) no-repeat;
	margin: 10px auto 0;
}
h2.line2:after {
	background: url(line2.png) no-repeat;
	width: 497px;
}
h2.line3:after {
	background: url(line3.png) no-repeat;
	width: 497px;
}
/* look */

.look {
	background: url(look_bg.jpg) no-repeat top center / cover;
}
.look h2 {
	color: #FFF;
}
.video-container {
	position: relative;
	z-index: 3;
	width: 100%;
	height: 370px;
	border: 4px solid #fff;
	overflow: hidden;
	background: #000;
	border-radius: 35px;
	-webkit-box-shadow: 0px 6px 13px 0px rgba(0, 0, 1, 0.21);
	box-shadow: 0px 6px 13px 0px rgba(0, 0, 1, 0.21);
}
.video-container iframe {
	width: 100%;
	height: 100%
}
/* look */

.problems {
	background: #FFE0D3;
}
.problems h2 {
	color: #181817;
}
.problems_item {
	text-align: center;
	color: #181817;
	font-size: 18px;
	line-height: 24px;
	font-weight: 600;
}
.problems_item img {
	display: block;
	margin: 0 auto 10px;
}
.problems_block .owl-nav {
	top: 86px;
}
.owl-nav {
	position: absolute;
	width: 100%;
}
.owl-prev, .owl-next {
	background: rgb(98, 98, 98) url(left_arrow.png) no-repeat center center;
	width: 70px;
	height: 70px;
	border-radius: 35px;
	border: 1px solid #ffff;
	text-indent: -9999em;
}
.owl-prev:hover, .owl-next:hover {
	background-color: #EA875F;
}
.owl-prev {
	float: left;
	margin-left: -50px;
}
.owl-next {
	float: right;
	margin-right: -50px;
	-webkit-transform: scale(-1, 1);
	-ms-transform: scale(-1, 1);
	transform: scale(-1, 1);
}
/* revolution */

.revolution {
	background: url(revolution_bg.jpg) no-repeat top center;
	height: 833px;
}
.revolution h2 span {
	color: #f99871;
}
.revolution_bottom.hidden {
	display: none;
}
.revolution_bottom {
	width: 410px;
	font-size: 18px;
	line-height: 24px;
	color: #181817;
	position: relative;
	font-weight: 600;
	margin-left: auto;
	margin-top: 120px;
}
.revolution_bottom div {
	position: relative;
	z-index: 2;
}
.revolution_bottom .text {
	margin-bottom: 20px;
}
.btn2 {
	width: 268px;
	height: 70px;
	font-size: 22px;
	line-height: 68px;
}
.revolution_block {
	width: 775px;
	height: 400px;
	font-size: 18px;
	position: relative;
}
.revolution_block div {
	position: absolute;
}
.revol_item1 {
	right: 5px;
	top: 73px;
}
.revol_item2 {
	right: 5px;
	top: 166px;
}
.revol_item3 {
	left: 60px;
	top: 79px;
}
.revol_item4 {
	top: 23px;
	left: 78px;
}
/* revolution */

/* ba */

.ba {
	background: url(ba_bg.jpg) no-repeat top center / cover;
}
.ba .container {
	max-width: 1366px;
	padding: 0;
}
.ba .owl-nav {
	top: 150px;
}
.ba img {
	width: 342px;
}
.ba .owl-prev {
	margin-left: 20px;
}
.ba .owl-next {
	margin-right: 20px;
}
/* ba */

/* how */

.how {
	background: #FFE0D3;
}
.how_block {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
}
.how_item {
	width: 25%;
	text-align: center;
	color: #000;
	padding: 0 20px;
	font-size: 14px;
}
.how_item .title {
	font-size: 18px;
	text-transform: uppercase;
	line-height: 20px;
	font-weight: 600;
	position: relative;
}
.how_item .title:after {
	content: "";
	width: 90px;
	height: 1px;
	background: #310809;
	display: block;
	margin: 15px auto 10px;
}
/* how */

/* components */

.components {
	background: url(components_bg.jpg) no-repeat top center;
	background-size: cover;
}
.components h2 {
	margin-bottom: 20px;
}
.components h2 span {
	color: #F99871;
}
.sslog {
	text-align: center;
	font-size: 18px;
	line-height: 24px;
}
.comp_block {
	position: relative;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-align-items: flex-start;
	align-items: flex-start;
	color: #181817;
	margin-top: 35px;
}
.comp_item {
	position: relative;
	/* FF3.6-15 */
	background: -webkit-linear-gradient(left, #ffffff 0%, #f8e6d8 30%, #f3e1d4 30%, #e9cfbe 60%, #f6e0d4 100%);
	/* Chrome10-25,Safari5.1-6 */
	background: -webkit-gradient(linear, left top, right top, from(#ffffff), color-stop(30%, #f8e6d8), color-stop(30%, #f3e1d4), color-stop(60%, #e9cfbe), to(#f6e0d4));
	background: -o-linear-gradient(left, #ffffff 0%, #f8e6d8 30%, #f3e1d4 30%, #e9cfbe 60%, #f6e0d4 100%);
	background: linear-gradient(to right, #ffffff 0%, #f8e6d8 30%, #f3e1d4 30%, #e9cfbe 60%, #f6e0d4 100%);
	/* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	min-height: 200px;
	width: 465px;
	padding: 30px;
}
.comp_item .title {
	font-weight: bold;
	font-size: 18px;
	line-height: 20px;
	text-transform: uppercase;
	margin: 0 0 10px 120px;
}
i {
	font-style: italic;
}
.comp_item .text {
	font-size: 16px;
	line-height: 18px;
	width: 380px;
}
.comp_item .image {
	position: absolute;
	top: -40px;
	left: 20px;
}
.comp_item2 {
	text-align: right;
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f5ebe6+0,e8e8eb+51,e7e7ea+100 */
	background: #f5ebe6;
	/* Old browsers */
	/* FF3.6-15 */
	background: -webkit-linear-gradient(left, #f5ebe6 0%, #e8e8eb 51%, #e7e7ea 100%);
	/* Chrome10-25,Safari5.1-6 */
	background: -webkit-gradient(linear, left top, right top, from(#f5ebe6), color-stop(51%, #e8e8eb), to(#e7e7ea));
	background: -o-linear-gradient(left, #f5ebe6 0%, #e8e8eb 51%, #e7e7ea 100%);
	background: linear-gradient(to right, #f5ebe6 0%, #e8e8eb 51%, #e7e7ea 100%);
	/* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f5ebe6', endColorstr='#e7e7ea', GradientType=1);
	/* IE6-9 */
	margin-left: auto;
}
.comp_item2 .text {
	margin-left: auto;
}
.comp_item2 .image {
	left: auto;
	right: 20px;
}
.comp_item2 .title {
	left: auto;
	margin-left: 0;
	margin-right: 120px;
}
.comp_item3 {
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#fdf9f5+0,e5d3c8+51,faf0eb+100 */
	background: #fdf9f5;
	/* Old browsers */
	/* FF3.6-15 */
	background: -webkit-linear-gradient(left, #fdf9f5 0%, #e5d3c8 51%, #faf0eb 100%);
	/* Chrome10-25,Safari5.1-6 */
	background: -webkit-gradient(linear, left top, right top, from(#fdf9f5), color-stop(51%, #e5d3c8), to(#faf0eb));
	background: -o-linear-gradient(left, #fdf9f5 0%, #e5d3c8 51%, #faf0eb 100%);
	background: linear-gradient(to right, #fdf9f5 0%, #e5d3c8 51%, #faf0eb 100%);
	/* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fdf9f5', endColorstr='#faf0eb', GradientType=1);
	/* IE6-9 */
}
.product2 {
	position: absolute;
	z-index: 2;
	width: 182px;
	left: 348px;
	top: -15px;
}
.comp_item1 {
	top: 130px;
}
/* components */

/* easy */

.easy {
	background: url(easy_bg.jpg) no-repeat top center;
	height: 530px;
	padding-top: 75px;
}
.easy_block {
	width: 590px;
	margin-left: auto;
}
.easy_block h2 {
	color: #FFF;
	text-align: left;
}
.easy_block h2:after {
	width: 215px;
	margin-left: 0;
	background: #737373;
	height: 1px;
}
.easy_block h2 span {
	color: #FFCE76;
}
.easy_item {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	color: #FFF;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	font-size: 14px;
	line-height: 16px;
	margin-bottom: 20px;
}
.easy_item .numb {
	font-size: 32px;
	-ms-flex: 0 0 60px;
	-webkit-box-flex: 0;
	flex: 0 0 60px;
	height: 60px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	border: 2px solid #fff;
	border-radius: 30px;
	margin-right: 15px;
}
.easy_item .title {
	font-size: 20px;
	line-height: 20px;
	color: #FFCE76;
	font-weight: bold;
	margin-bottom: 15px;
}
/* easy */

/* secret */

.secret {
	background: url(secret_bg.jpg) no-repeat top center;
	height: 646px;
	padding-top: 75px;
}
.secret h2 span {
	color: #f99871;
}
.secret_block {
	width: 590px;
}
.secret_top {
	font-size: 18px;
	line-height: 24px;
	margin-bottom: 55px;
	margin-top: 10px;
}
.secret_top p:not(:last-child) {
	margin-bottom: 25px;
}
.secret_bottom {
	font-size: 22px;
	line-height: 24px;
	color: #181817;
	font-weight: 600;
}
.secret_bottom p {
	margin-bottom: 20px;
}
/* secret */

/* choice */

.choice {
	background: url(choice_bg.jpg) no-repeat top center;
}
.choice_block {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
}
.choice_item {
	width: 228px;
	background: #F7FAFC;
	padding-bottom: 10px;
}
.ci_image img {
	display: block;
	width: 100%;
}
.ci_title {
	text-align: center;
	color: #333;
	font-size: 18px;
	padding: 10px 0;
}
.ci_price {
	background: url(ci_price.png) no-repeat top center;
	width: 100%;
	height: 104px;
	text-align: center;
	margin-bottom: 10px;
	padding-top: 15px;
}
.ci_price .numb {
	font-size: 40px;
	line-height: 40px;
	font-weight: 600;
}
.ci_price .numb span {
	font-size: 20px;
}
.ci_often {
	text-align: center;
	font-size: 14px;
	color: #777;
	padding-bottom: 10px;
	margin: 0 20px 10px;
	border-bottom: 1px dashed #EFEFEF;
}
.ci_often span {
	font-weight: 600;
	display: block;
	color: #181817;
	font-size: 18px;
}
.ci_list {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	font-size: 13px;
	line-height: 14px;
	margin: 0 20px 10px;
	border-bottom: 1px dashed #EFEFEF;
	padding-bottom: 10px;
	height: 157px;
}
.ci_list div {
	width: 50%;
}
.cil_left {
	color: #777;
}
.cil_right {
	color: #F9514A;
}
.cil_right p:not(:last-child) {
	margin-bottom: 5px;
}
.ci_time {
	font-size: 14px;
	color: #777777;
	text-align: center;
}
.ci_time span {
	font-size: 16px;
	font-weight: 600;
	display: block;
	color: #181817;
}
.choice_item.main {
	background: #fff;
}
.choice_item.main .ci_image img {
	margin-top: -37px;
}
.choice_item.main .ci_title {
	font-size: 24px;
	font-weight: bold;
	color: #FB603C;
}
.choice_item.main .ci_price {
	background: url(ci_price_main.png) no-repeat top center;
	color: #FFF;
}
.choice_item.main .ci_often {
	font-size: 14px;
	font-weight: 600;
}
.choice_item.main .ci_often span {
	display: inline;
	font-size: 14px;
}
.choice_item.main .ci_list {
	font-size: 18px;
	color: #47A800;
	font-weight: 600;
	text-align: center;
	line-height: 18px;
}
.choice_item.main .ci_time {
	font-size: 16px;
}
/* choice */

/* expert */

.expert {
	overflow: hidden;
	padding-bottom: 30px;
	padding-top: 75px;
}
.expert h2 {
	text-align: left;
}
.expert h2:after {
	width: 230px;
	margin-left: 0;
	background: #6B6B6A;
	height: 1px;
}
.expert h2 span {
	color: #f99871;
}
.expert_block {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
}
.expert_block .text {
	-ms-flex: 0 0 520px;
	-webkit-box-flex: 0;
	flex: 0 0 520px;
}
.expert_block .text p {
	margin-bottom: 20px;
}
.expert_block .text i {
	font-weight: 600;
}
.expert_block .image {
	text-align: center;
	position: relative;
	-ms-flex: 0 0 380px;
	-webkit-box-flex: 0;
	flex: 0 0 380px;
	margin-top: -100px;
}
.expert_block .image:before {
	content: "";
	position: absolute;
	top: -64px;
	height: 456px;
	background-image: -webkit-linear-gradient( 90deg, rgb(62, 62, 62) 0%, rgb(252, 221, 208) 100%);
	background-image: -ms-linear-gradient( 90deg, rgb(62, 62, 62) 0%, rgb(252, 221, 208) 100%);
	left: 0;
	width: 100%;
}
.expert_block .image * {
	position: relative;
	z-index: 2;
}
.expert_block .name {
	font-size: 24px;
	font-weight: bold;
	text-transform: uppercase;
	line-height: 26px;
	margin-bottom: 10px;
}
.expert_block .position {
	margin-top: 10px;
	color: #FFF;
}
/* expert */

/* reviews */

.reviews {
	background: url(reviews_bg.jpg) no-repeat top center;
	background-size: cover;
}
.reviews h2 {
	color: #FFF;
}
.rev_item {
	background: #FFF;
	width: 278px;
	margin: auto;
	min-height: 595px;
}
.rev_item .name {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	padding: 15px;
	font-size: 14px;
	color: #0089E2;
}
.rev_item .name img {
	margin-right: 10px;
}
.rev_item .text {
	padding: 10px 15px;
	font-size: 14px;
	color: #2B1C27;
	line-height: 16px;
}
.rev_item .like {
	font-size: 12px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	margin-bottom: 10px;
}
.rev_item .like img {
	margin-right: 5px;
}
.rev_item .text b, .rev_item .hash {
	color: #017DDC;
}
/* reviews */

/* effect */

.effect {
	background: url(effect_bg.jpg) no-repeat top center;
	height: 450px;
}
.effect h2 {
	text-align: left;
	margin-left: 345px;
	letter-spacing: -1px;
}
.effect h2:after {
	width: 230px;
	margin-left: 0;
	background: #6B6B6A;
	height: 1px;
}
.effect h2 span {
	color: #f99871;
}
.effect_block {
	width: 595px;
	margin-left: auto;
}
.effect_block p {
	margin-bottom: 25px;
}
.effect_block b {
	display: block;
	margin-bottom: 25px;
	font-size: 18px;
}
.effect_block i {
	font-weight: 600;
}
/* effect */

/* care */

.care {
	background: #FFE0D3;
	padding-bottom: 0;
}
.care h2 {
	text-align: left;
}
.care h2 span {
	color: #FFF;
}
.care h2:after {
	width: 230px;
	margin-left: 0;
	background: #6B6B6A;
	height: 1px;
}
.care_block {
	width: 620px;
	position: relative;
	margin-bottom: 30px;
}
.care_text b {
	font-size: 18px;
	line-height: 24px;
	position: relative;
}
.care_text p {
	font-size: 14px;
	line-height: 16px;
	margin-bottom: 10px;
}
.care_img {
	position: absolute;
	right: -280px;
	top: 0;
}
.care_bottom {
	background: #181817;
	padding: 15px 0;
	font-weight: 600;
	color: #FFF;
	font-size: 18px;
	line-height: 24px;
}
.care_bottom .container {
	max-width: 760px;
}
.cb_inner {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}
/* care */

/* order */

.order {
	padding-bottom: 0;
}
.order h2 span {
	color: #f99871;
}
.order_block {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	text-align: center;
	font-weight: 600;
	font-size: 20px;
	line-height: 24px;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
}
.order_item {
	width: 30%;
	margin-bottom: 30px;
}
.order_item .image {
	position: relative;
}
.order_item p {
	position: relative;
}
.order_item p:after {
	content: "";
	display: block;
	width: 110px;
	height: 1px;
	background: #310809;
	margin: 15px auto 0;
}
.order_item:not(:last-child) .image:after {
	content: "";
	position: absolute;
	background: url(order_arrow.png) no-repeat;
	width: 48px;
	height: 48px;
	top: 50px;
	right: -25px;
}
.ob_block {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-evenly;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
}
.order_bottom {
	padding: 15px 0;
	color: #fff;
	background: #E7E7EA;
}
.ob_item {
	font-size: 17px;
	line-height: 24px;
	color: #181817;
	text-transform: uppercase;
	position: relative;
}
.ob_item span {
	color: #f99871;
}
.ob_item:before {
	content: '';
	position: absolute;
	right: -25px;
	top: -5%;
	height: 110%;
	width: 1px;
	background: #fff;
}
.ob_item:last-child:before {
	display: none;
}
/* order */

footer {
	color: #FFF;
	background: #000;
	text-align: center;
	padding: 25px 0;
}
br.pvis {
	display: none;
}
.care_p {
	display: none;
}
.expert_p {
	display: none;
}
.order h2 span.mhide {
	color: inherit;
}
@media (max-width: 1120px) {
	.ba img {
		width: 100%;
	}
}
@media (max-width: 980px) {
	.container {
		max-width: 640px;
	}
	.header_top {
		height: auto;
		padding: 5px 0;
	}
	.ht .image {
		-ms-flex: 0 0 50px;
		-webkit-box-flex: 0;
		flex: 0 0 50px;
	}
	.ht {
		font-size: 14px;
		line-height: 16px;
	}
	.header_bottom {
		background: url(main_bg_p.jpg) no-repeat top center;
		height: 889px;
		padding-top: 40px;
	}
	.main_title {
		width: 100%;
		text-align: center;
		margin-bottom: 32px;
	}
	.main_slog:before {
		position: absolute;
		margin-right: 0;
		top: 10px;
		left: 0;
	}
	.main_slog {
		text-align: center;
	}
	.list {
		margin-left: 245px;
	}
	.list li {
		font-size: 16px;
	}
	.list li:before {
		top: 2px;
		-webkit-transform: none;
		-ms-transform: none;
		transform: none;
	}
	.sale_block {
		margin-right: 0;
		margin-top: 0px;
	}
	.main_prod {
		top: 157px;
		left: 112px;
		width: 170px;
	}
	h2 {
		font-size: 36px;
		line-height: 44px;
		margin-bottom: 20px;
	}
	br.pvis {
		display: inline-block;
	}
	.sslog {
		font-size: 18px;
		line-height: 20px;
	}
	.revolution {
		background: url(revolution_bg_p.jpg) no-repeat top center;
		height: 770px;
		padding-bottom: 0;
		padding-top: 40px;
	}
	.revolution .sslog {
		padding: 0 120px;
	}
	.revolution_bottom {
		display: none;
	}
	.revolution_block {
		width: 100%;
		height: 450px;
		font-size: 16px;
	}
	.revol_item1 {
		right: -1px;
		top: 209px;
		width: 90px;
	}
	.revol_item2 {
		top: 320px;
	}
	.revol_item3 {
		left: 106px;
		top: 232px;
	}
	.revol_item4 {
		top: 187px;
		left: 115px;
	}
	.revolution_bottom.hidden {
		display: block;
		background: #E7E7EA;
		width: 100%;
		margin: 0;
		padding: 20px 0;
	}
	.revolution_bottom.hidden .container {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-align: center;
		-ms-flex-align: center;
		align-items: center;
	}
	.revolution_bottom .text {
		margin-bottom: 0;
		font-size: 18px;
		line-height: 18px;
	}
	.components {
		background: url(components_bg_p.jpg) no-repeat top center / cover;
	}
	.comp_block {
		margin-top: 60px;
	}
	.components .sslog br {
		display: none;
	}
	.comp_item {
		margin-bottom: 50px;
		background-color: rgb(249, 234, 224);
		background-image: none;
		min-height: auto;
		width: auto;
		padding: 20px;
	}
	.comp_item1 {
		top: 0;
	}
	.comp_item .title br {
		display: none;
	}
	.comp_item .image {
		width: 100px;
	}
	.comp_item:last-child {
		margin-bottom: 0;
	}
	.comp_item2 {
		text-align: left;
		margin-left: 0;
		margin-top: 0;
		background-image: -webkit-linear-gradient( 0deg, rgb(153, 232, 247) 0%, rgba(153, 231, 246, 0.37) 63%, rgba(191, 196, 181, 0.18) 82%, rgba(229, 161, 115, 0) 100%);
		background-image: -ms-linear-gradient( 0deg, rgb(153, 232, 247) 0%, rgba(153, 231, 246, 0.37) 63%, rgba(191, 196, 181, 0.18) 82%, rgba(229, 161, 115, 0) 100%);
	}
	.product2 {
		display: none;
	}
	.comp_item2 .image {
		right: 20px;
		left: auto;
	}
	.comp_item2 {
		background-color: rgb(231, 231, 234);
		background-image: none;
	}
	.comp_item .title {
		margin-bottom: 15px;
	}
	.comp_item2 .title {
		margin-right: 0;
		margin-left: 180px;
	}
	.comp_item2 .text {
		margin-left: 0;
		text-align: right;
	}
	.comp_item:before {
		display: none;
	}
	.comp_item .text {
		width: auto;
		font-size: 14px;
		line-height: 16px;
	}
	.comp_item .text br {
		display: none;
	}
	.comp_item3 {
		background-color: rgb(249, 234, 224);
		background-image: none;
	}
	.comp_item3 .image {
		top: -40px;
		left: 20px;
	}
	.comp_item3 .title {
		margin-left: 120px;
	}
	.comp_item3 .text {
		text-align: left;
	}
	.easy {
		padding-top: 50px;
		height: 490px;
	}
	.how {
		padding-bottom: 10px;
	}
	.how h2 {
		padding: 0 0px;
	}
	.how_block {
		-ms-flex-pack: distribute;
		justify-content: space-around;
		-ms-flex-wrap: wrap;
		flex-wrap: wrap;
	}
	.how_item {
		width: 40%;
		margin-bottom: 30px;
	}
	.easy h2 br {
		display: none;
	}
	.easy_block {
		width: 435px;
	}
	.easy_item {
		-webkit-box-align: start;
		-ms-flex-align: start;
		align-items: flex-start;
	}
	.video-container {
		width: 620px;
	}
	br.pvis {
		display: inline-block!important;
	}
	.secret {
		background-position: 58% top;
		padding-top: 70px;
	}
	.secret h2 {
		margin-bottom: 40px;
		text-align: left;
	}
	.secret h2:after {
		margin-left: 0;
	}
	.secret_top {
		font-size: 16px;
		line-height: 18px;
		margin-bottom: 32px;
	}
	.secret_block {
		width: 400px;
	}
	.secret_bottom {
		font-size: 18px;
		line-height: 22px;
	}
	.choice {
		background-size: cover;
	}
	.choice_item {
		width: 200px;
	}
	.choice_item:nth-child(3) {
		display: none;
	}
	.ci_title {
		font-size: 16px;
	}
	.ci_price {
		font-size: 14px;
	}
	.ci_price .numb {
		font-size: 34px;
	}
	.ci_price .numb span {
		font-size: 18px;
	}
	.ci_often {
		font-size: 12px;
		margin-left: 10px;
		margin-right: 10px;
	}
	.ci_list {
		margin-left: 10px;
		margin-right: 10px;
		height: 140px;
	}
	.ci_often span {
		font-size: 16px;
	}
	.ci_list {
		font-size: 11px;
		line-height: 13px;
	}
	.ci_time {
		font-size: 12px;
	}
	.ci_time span {
		font-size: 14px;
	}
	.choice_item.main .ci_title {
		font-size: 20px;
	}
	.choice_item.main .ci_often span, .choice_item.main .ci_often {
		font-size: 14px;
	}
	.choice_item.main .ci_list {
		font-size: 16px;
	}
	.choice_item.main .ci_time {
		font-size: 14px;
	}
	.expert h2 {
		padding-right: 320px;
	}
	.expert {
		padding-top: 50px;
	}
	.expert_p {
		display: block;
	}
	.expert_d {
		display: none;
	}
	.expert_block .text {
		-ms-flex: 0 0 300px;
		-webkit-box-flex: 0;
		flex: 0 0 300px;
	}
	.expert_block .text p {
		font-size: 14px;
		line-height: 18px;
	}
	.expert_block .image {
		-ms-flex: 0 0 345px;
		-webkit-box-flex: 0;
		flex: 0 0 345px;
		padding: 0 40px;
		margin-right: -40px;
		margin-top: -75px;
	}
	.expert_block .position {
		font-size: 14px;
	}
	.expert_block .image:before {
		height: 580px;
		top: -94px
	}
	.reviews .owl-nav {
		top: 150px;
	}
	.effect h2 {
		text-align: center;
		margin-left: 0;
		margin-bottom: 20px;
	}
	.effect h2:after {
		content: "";
		display: block;
		width: 497px;
		height: 10px;
		background: url(line2.png) no-repeat;
		margin: 10px auto 0;
	}
	.effect {
		background: url(effect_bg_p.jpg) no-repeat top center;
		height: 480px;
		padding-top: 50px;
		padding-bottom: 20px;
	}
	.effect_block b {
		font-size: 16px;
	}
	.effect_block {
		width: 360px;
		font-size: 16px;
		line-height: 16px;
	}
	.care_block {
		width: auto;
	}
	.care h2 {
		margin-bottom: 15px;
		text-align: center;
	}
	.care_text b {
		line-height: 18px;
	}
	.care h2:after {
		content: "";
		display: block;
		height: 10px;
		margin: 10px auto 0;
		background: url(line3.png) no-repeat;
		width: 497px;
	}
	.care_text {
		width: 425px;
	}
	.care_d {
		display: none;
	}
	.care_p {
		display: block;
		right: 0;
		top: 75px;
	}
	.care_bottom .container {
		max-width: 640px;
	}
	.care_bottom {
		line-height: 18px;
	}
	.order h2 {
		padding: 0 20px;
	}
	.ob_item span {
		display: block;
	}
	.order_block {
		font-size: 18px;
		line-height: 20px;
	}
	.order_item br {
		display: none;
	}
	.order_item {
		width: 33.3%;
	}
	.ob_item {
		width: 100%;
		text-align: center;
		margin-bottom: 20px;
		padding: 0 85px;
	}
	.ob_item:before {
		width: 430px;
		right: 0;
		left: 0;
		top: auto;
		bottom: -10px;
		margin: auto;
		height: 1px;
	}
	.ob_item br {
		display: none;
	}
	.ob_item:last-child {
		margin-bottom: 0;
	}
	.problems_item {
		width: 280px;
		margin: auto;
	}
}
.revo_img {
	display: none;
}
.ci_image_p {
	display: none!important;
}
span.mvis {
	display: none;
}
@media (max-width: 665px) {
	.wrap {
		width: 420px;
	}
	.container {
		max-width: 300px;
	}
	.header_top {
		display: none;
	}
	h1, .last_block h2 {
		font-size: 36px;
		line-height: 45px;
	}
	.main_slog {
		font-size: 22px;
	}
	.main_slog:before {
		position: static;
		display: block;
		margin: 0 auto 10px;
	}
	.revolution_bottom.hidden {
		margin-top: 20px;
	}
	.header_bottom {
		background: url(main_bg_m.jpg) no-repeat top center;
		height: auto;
		padding-top: 20px;
	}
	h1 b, .last_block h2 b {
		font-size: 32px;
		line-height: 40px;
	}
	.list {
		margin: auto;
	}
	.main_title {
		margin-bottom: 35px;
	}
	.list li {
		font-weight: 600;
		font-size: 15px;
	}
	.list li:nth-child(2) {
		display: none;
	}
	.sale_block {
		width: 420px;
		margin-left: -69px;
		border-radius: 0;
		margin-top: 0;
	}
	.sale {
		font-size: 20px;
		line-height: 20px;
	}
	.countbox .countbox-num {
		width: 64px;
		height: 60px;
		background-size: 100% 100%;
	}
	.countbox-hours, .countbox-mins, .countbox-secs {
		font-size: 44px;
	}
	.countbox-hours-text, .countbox-mins-text, .countbox-secs-text {
		margin: 5px auto 0;
	}
	.sale_form {
		width: 280px;
	}
	.sale_form input {
		height: 56px;
		font-size: 16px;
	}
	.old_price .numb {
		font-size: 34px;
		line-height: 36px;
	}
	.new_price .numb {
		font-size: 40px;
		line-height: 44px;
	}
	.btn {
		width: 280px;
		font-size: 22px;
		height: 76px;
		line-height: 74px;
	}
	.main_prod {
		position: static;
		width: 132px;
		display: block;
		margin: 20px 0 0px auto;
	}
	h2 {
		font-size: 18px;
		line-height: 18px;
	}
	h2:after {
		width: 228px;
		background-size: 100% 100%;
		background: url(line1_m.png) no-repeat;
	}
	h2.line2:after {
		background: url(line2_m.png) no-repeat;
		width: 228px;
	}
	h2.line3:after {
		background: url(line3_m.png) no-repeat;
		width: 228px;
	}
	.problems_item {
		width: 210px;
		font-size: 16px;
		line-height: 20px;
	}
	.problems_block .owl-nav {
		top: 65px;
	}
	.owl-prev {
		margin-left: -38px;
	}
	.owl-next {
		margin-right: -38px;
	}
	.revolution .sslog {
		padding: 0;
	}
	.sslog {
		font-size: 16px;
		line-height: 16px;
	}
	.revo_img {
		display: block;
		max-width: none;
		margin-left: -30px;
	}
	.revolution {
		background: #FFF;
		height: auto;
		padding-bottom: 0;
	}
	.revolution_block {
		width: 100%;
		height: auto;
		margin-top: 20px;
	}
	.revolution_block div {
		position: static;
		width: 100% !important;
		text-align: center;
	}
	.revol_item {
		position: relative;
		margin-bottom: 10px;
	}
	.revol_item br {
		display: none;
	}
	.revol_item:after {
		content: "";
		display: block;
		background: url(revo_item.png) no-repeat;
		width: 100%;
		height: 14px;
	}
	.revolution_bottom.hidden .container {
		-ms-flex-wrap: wrap;
		flex-wrap: wrap;
		text-align: center;
	}
	.revolution_bottom .text {
		margin-bottom: 20px;
	}
	.ba img {
		width: 100%;
	}
	.ba .owl-prev, .ba .owl-next {
		width: 70px;
		height: 70px;
	}
	.ba .owl-nav {
		top: 50%;
		-webkit-transform: translateY(-50%);
		-ms-transform: translateY(-50%);
		transform: translateY(-50%);
	}
	.how_item {
		width: 100%;
	}
	.video-container {
		width: 420px;
		margin-left: -70px;
		height: 250px;
	}
	.look_bottom {
		height: 350px;
	}
	section {
		padding-bottom: 30px;
	}
	.components {
		background: #fff url(components_bg_m.jpg) no-repeat top center;
	}
	.comp_block {
		margin-top: 310px;
	}
	.comp_item {
		width: 100%;
		margin-bottom: 70px;
		padding: 0;
		text-align: center;
		padding: 20px;
	}
	.comp_item .image {
		position: static;
		margin: -60px auto 0;
	}
	.comp_item .title {
		margin: 0 0 10px 0 !important;
		text-align: center;
	}
	.comp_item .text {
		text-align: center !important;
	}
	.easy_block {
		width: 100%;
	}
	.easy_block h2 {
		text-align: center;
	}
	.easy_block h2:after {
		width: 228px;
		background-size: 100% 100%;
		background: url(line1_m.png) no-repeat;
		height: 10px;
		margin: 20px auto 0;
	}
	.easy {
		height: auto;
		background-size: cover;
		padding-bottom: 10px;
	}
	.easy_item {
		-ms-flex-wrap: wrap;
		flex-wrap: wrap;
		-webkit-box-pack: center;
		-ms-flex-pack: center;
		justify-content: center;
		text-align: center;
		padding: 0 15px;
		margin-bottom: 30px;
	}
	.easy_item br {
		display: none;
	}
	.easy_item .numb {
		margin-right: 0;
		margin-bottom: 10px;
		-webkit-box-flex: 0;
		-ms-flex: 0 0 50px;
		flex: 0 0 50px;
		height: 50px;
		font-size: 26px;
	}
	.easy_item .title {
		font-size: 18px;
		padding: 0 20px;
	}
	.secret {
		background: url(secret_bg_m.jpg) no-repeat top center;
		height: 925px;
		padding-top: 10px;
	}
	.secret h2 {
		text-align: center;
		margin-bottom: 20px;
	}
	.secret h2:after {
		margin-left: auto;
	}
	.secret_block {
		width: 100%;
	}
	.ci_image_d {
		display: none!important;
	}
	span.mhide {
		display: none;
	}
	.ci_image_p {
		display: block!important;
	}
	.secret_bottom {
		font-size: 18px;
		line-height: 18px;
		text-align: center;
		margin-top: 340px;
	}
	.choice_item:nth-child(1), .choice_item:nth-child(2) {
		display: none;
	}
	.choice_item {
		width: 100%;
	}
	.choice_item.main .ci_image img {
		margin-top: 0;
	}
	.choice_block {
		margin-top: 30px;
	}
	.choice_item.main .ci_title {
		font-size: 30px;
		padding: 15px 0;
	}
	.ci_price {
		font-size: 20px;
	}
	.ci_price .numb {
		font-size: 50px;
		line-height: 56px;
	}
	.choice_item.main .ci_price {
		padding-top: 20px;
		background-size: 100% 100%;
		height: 115px;
	}
	.choice_item.main .ci_often span, .choice_item.main .ci_often {
		font-size: 20px;
		line-height: 22px;
	}
	.choice_item.main .ci_list {
		font-size: 22px;
		height: auto;
		padding: 20px 0;
		line-height: 22px;
	}
	.choice_item.main .ci_time, .ci_time span {
		font-size: 20px;
		line-height: 22px;
	}
	.expert_block .text {
		-ms-flex: 0 0 100%;
		-webkit-box-flex: 0;
		flex: 0 0 100%;
	}
	.expert_block {
		-ms-flex-wrap: wrap;
		flex-wrap: wrap;
	}
	.expert_block .image {
		-ms-flex: 0 0 100%;
		-webkit-box-flex: 0;
		flex: 0 0 100%;
		background-image: -webkit-linear-gradient( 90deg, rgb(62, 62, 62) 0%, rgb(252, 221, 208) 100%);
		background-image: -ms-linear-gradient( 90deg, rgb(62, 62, 62) 0%, rgb(252, 221, 208) 100%);
		margin: 0 0 20px 0;
		-ms-order: -1;
		-webkit-box-ordinal-group: 0;
		-ms-flex-order: -1;
		order: -1;
		padding: 15px 30px;
	}
	.expert {
		padding-top: 50px;
	}
	span.mvis {
		display: block;
	}
	.expert h2 {
		text-align: center;
		padding: 0;
	}
	.expert h2:after {
		background: url(line2_m.png) no-repeat;
		width: 228px;
		height: 10px;
		margin-left: auto;
		margin-right: auto;
	}
	.expert_block .text i {
		font-size: 14px;
		font-weight: 600;
	}
	.expert_block .image:before {
		display: none;
	}
	.expert_block .position {
		margin-top: 5px;
		line-height: 14px;
	}
	.expert_block .name {
		font-size: 18px;
		line-height: 20px;
	}
	.rev_item {
		height: 100% !important;
	}
	.effect_block {
		width: 100%;
		margin-top: 275px;
	}
	.effect {
		background: url(effect_bg_m.jpg) no-repeat 0 55px;
		height: auto;
		padding: 50px 0 20px;
	}
	.care_block {
		width: 100%;
	}
	.care {
		padding-bottom: 0;
	}
	.care h2 {
		text-align: center;
	}
	.care_p {
		position: static;
		display: block;
		margin: auto;
	}
	.care_text b {
		line-height: 18px;
		text-align: center;
		display: block;
	}
	.care_text {
		width: auto;
	}
	.care_text b:after {
		margin-left: auto;
		margin-right: auto;
	}
	.care_bottom .container {
		max-width: 300px;
	}
	.cb_inner {
		text-align: center;
		-ms-flex-wrap: wrap;
		flex-wrap: wrap;
		-webkit-box-pack: center;
		-ms-flex-pack: center;
		justify-content: center;
	}
	.cb_inner .text {
		margin-bottom: 15px;
	}
	.order_block {
		-ms-flex-wrap: wrap;
		flex-wrap: wrap;
	}
	.order_item {
		width: 100%;
		padding: 0 30px;
	}
	.order_item:not(:last-child) .image:after {
		display: none;
	}
	.ob_item {
		padding: 0;
	}
	.ob_item:before {
		left: -75px;
	}
}
