.up,
h1,
h2,
h3 {
    text-transform: uppercase;
}
* html body,
body,
html {
    height: 100%;
}
#body,
#header {
    min-width: 1100px;
}
a,
abbr,
acronym,
address,
applet,
big,
blockquote,
body,
caption,
cite,
code,
dd,
del,
dfn,
div,
dl,
dt,
em,
fieldset,
font,
form,
h1,
h2,
h3,
h4,
h5,
h6,
html,
iframe,
img,
input,
ins,
kbd,
label,
legend,
li,
object,
ol,
p,
pre,
q,
s,
samp,
small,
span,
strike,
strong,
sub,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
tr,
tt,
ul,
var {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-weight: inherit;
    font-style: inherit;
    vertical-align: top;
    background: 0 0;
    font-family: pf_din_text_cond;
    width: auto;
}
.form {
    margin: 55px 0 0;
}
h1,
h2,
h3 {
    font-weight: 700;
    font-family: pf_din_text_cond_bold;
}
ul {
    list-style-type: none;
}
a,
a:hover,
a:visited {
    color: #0077a8;
    text-decoration: none;
}
a img {
    border: 0;
}
.clear_both {
    clear: both;
}
* html #main {
    min-height: 100%;
}
body {
    color: #000;
    background: #fff;
    font-size: 18px;
    font-weight: 400;
    font-style: normal;
}
#body {
    width: 100%;
}
#header {
    max-width: 1200px;
    margin: 0 auto;
    color: #fff;
}
.el1 {
    height: 820px;
    background-color: #121f3f;
    background-image: url(el1.jpg) /*tpa=http://abgymnicbelt.com/images/el1.jpg*/;
    background-position: top center;
    background-repeat: no-repeat;
}
.el1 .el1_1 {
    width: 1100px;
    margin: 0 auto;
    padding-top: 140px;
}
.el1 .el1_1 h1 {
    margin-left: 620px;
    margin-bottom: 25px;
    font-weight: 400;
    text-transform: none;
    font-style: italic;
    font-size: 27px;
    line-height: 25px;
    color: #fff;
}
.el1 .el1_1 p {
    margin-left: 620px;
    margin-right: 30px;
    text-align: justify;
    font-size: 17px;
}
.el1 .el1_1 p span.blue {
    color: #6cf;
}
.el1 .el1_1 p span.red {
    color: #be8de0;
}
.el1 .el1_1 div.price {
    margin-left: 655px;
    margin-top: 140px;
    width: 160px;
    text-align: center;
    font-size: 28px;
    font-family: Arial;
    -webkit-transform: rotate(-10deg);
    -moz-transform: rotate(-10deg);
    -ms-transform: rotate(-10deg);
    -o-transform: rotate(-10deg);
    transform: rotate(-10deg);
}
.el1 .el1_1 .el1_2,
.el2 .el2_1 ul li span {
    font-family: pf_din_text_cond_bold;
}
.el1 .el1_1 .el1_2 {
    color: #036;
    font-weight: 700;
    font-style: italic;
    margin-top: 170px;
    font-size: 40px;
}
.complekt {
    overflow: hidden;
    padding: 80px 0 0;
}
.compl-img {
    float: left;
    width: 500px;
    margin: 0 25px 30px;
}
.el2 {
    background: #fff;
    padding-bottom: 20px;
}
.el2 .el2_1 {
    width: 100%;
    margin: 0 auto;
    color: #333;
}
.el2 .el2_1 h1 {
    text-align: center;
    font-size: 33px;
    padding-top: 25px;
    font-weight: 400;
}
.el2 .el2_1 ul {
    list-style: none;
    text-align: center;
}
.el2 .el2_1 ul li {
    display: inline-block;
    color: #666;
    width: 27%;
    min-width: 250px;
    padding: 0 2%;
    text-align: justify;
    font-size: 14px;
}
.el2 .el2_1 ul li:first-child {
    padding-left: 10px;
}
.el2 .el2_1 ul li span {
    display: block;
    font-size: 29px;
    color: #000;
    text-transform: uppercase;
    font-weight: 700;
    text-align: center;
}
.el2 .el2_1 ul li:before {
    content: "";
    display: block;
    position: relative;
    width: 100%;
    height: 200px;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}
.el2 .el2_1 ul li:nth-child(1):before {
    background-image: url(el2_1.jpg); /*tpa=http://abgymnicbelt.com/images/el2_1.jpg*/
}
.el2 .el2_1 ul li:nth-child(2):before {
    background-image: url(el2_2.jpg); /*tpa=http://abgymnicbelt.com/images/el2_2.jpg*/
}
.el2 .el2_1 ul li:nth-child(3):before {
    background-image: url(el2_3.jpg); /*tpa=http://abgymnicbelt.com/images/el2_3.jpg*/
}
.el2 .el2_1 ul li:nth-child(4):before {
    background-image: url(el2_4.jpg); /*tpa=http://abgymnicbelt.com/images/el2_4.jpg*/
}
.el2 .el2_1 ul li:nth-child(5):before {
    background-image: url(el2_5.jpg); /*tpa=http://abgymnicbelt.com/images/el2_5.jpg*/
}
.el2 .el2_1 ul li:nth-child(6):before {
    background-image: url(el2_6.jpg); /*tpa=http://abgymnicbelt.com/images/el2_6.jpg*/
}
span.state {
    display: block;
    font-size: 20px;
}
.el3 .el3_1 .el3_2 a,
.form form input.ordr_btn {
    font-size: 36px;
    text-align: center;
    display: inline-block;
}
.form form {
    width: 359px;
    margin: 0 auto;
    color: #000;
}
.form form input,
.form form select {
    border-radius: 4px;
    border-width: 1px;
    border-style: solid;
    border-color: #c5c5c5;
    padding-left: 6px;
    font-family: "PT Sans", sans-serif;
    font-weight: 400;
    background-color: #fff;
    margin: 0 0 16px;
}
.form form input {
    width: 350px;
    height: 35px;
}
.form form select {
    width: 358px;
    height: 39px;
}
.form form input.ordr_btn {
    width: 410px;
    height: 85px;
    padding-top: 8px;
    color: #fff;
    background-image: url(button.png) /*tpa=http://abgymnicbelt.com/images/button.png*/;
    background-position: top center;
    background-repeat: no-repeat;
    border: none;
    background-color: transparent;
    text-transform: uppercase;
    font-weight: 700;
    font-family: pf_din_text_cond_bold;
    cursor: pointer;
    margin: 23px 0 0 -25px;
}
.form form input.ordr_btn:hover {
    background-position: bottom center;
}
.form form input.error {
    background: #ffc5c5;
    border-color: red;
}
.el3 {
    height: 590px;
    margin-top: 10px;
    background-image: url(el3.jpg) /*tpa=http://abgymnicbelt.com/images/el3.jpg*/;
    background-position: top center;
    background-repeat: no-repeat;
    position: relative;
}
.el3:before {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
}
.el3 .el3_1 .el3_2 a,
.el4 {
    background-repeat: no-repeat;
}
.el3 .el3_1 {
    width: 1100px;
    position: relative;
    margin: 0 auto;
    padding-top: 140px;
}
.el3 .el3_1 .el3_2 {
    float: left;
    width: 470px;
    padding-top: 310px;
}
.el3 .el3_1 .el3_2 a {
    width: 410px;
    height: 60px;
    padding-top: 25px;
    color: #fff;
    background-image: url(button.png) /*tpa=http://abgymnicbelt.com/images/button.png*/;
    background-position: top center;
}
.el3 .el3_1 .el3_2 a:hover {
    background-position: bottom center;
}
.el3 .el3_1 .el3_3 {
    float: right;
    width: 620px;
    text-align: right;
    padding-right: 10px;
    box-sizing: border-box;
}
.el3 .el3_1 .el3_3 h2 {
    font-size: 41px;
}
.el4 {
    height: 490px;
    margin-top: 10px;
    background-image: url(el4.jpg) /*tpa=http://abgymnicbelt.com/images/el4.jpg*/;
    background-position: top center;
}
.el4 .el4_1 {
    width: 1100px;
    margin: 0 auto;
    color: #fff;
}
.el4 .el4_1 h1 {
    text-align: center;
    font-size: 53px;
    padding-top: 25px;
    padding-bottom: 40px;
}
.el4 .el4_1 table {
    display: inline-block;
    width: 450px;
}
.el4 .el4_1 table.first-child {
    margin-right: 100px;
}
.el4 .el4_1 table tr td {
    padding-bottom: 15px;
    font-size: 20px;
    line-height: 30px;
    text-align: justify;
}
.el4 .el4_1 table tr td:first-child {
    width: 60px;
    background-image: url(chek.png) /*tpa=http://abgymnicbelt.com/images/chek.png*/;
    background-position: center 5px;
    background-repeat: no-repeat;
}
.complete-page {
    color: #000;
}
.complete-page h3 {
    font-size: 28px;
    text-align: center;
    margin-bottom: 15px;
    margin-top: 10px;
}
.complete-page p {
    margin: 0 0 10px;
}
.el5 {
    background-color: #f2f2f2;
}
.el5 .el5_1 {
    width: 100%;
    margin: 0 auto;
    padding-bottom: 30px;
    padding-top: 25px;
    text-align: center;
}
.el5 .el5_1 h1 {
    text-align: center;
    font-size: 34px;
    color: #005e66;
    padding-bottom: 30px;
}
.el5 .el5_1 .el5_2 {
    display: inline-block;
    vertical-align: top;
    width: 45%;
    margin: 40px 2%;
    background: #fff;
    border-radius: 10px;
    padding: 10px 30px 0;
    box-sizing: border-box;
    min-height: 570px;
}
.el5_2_sex {
    position: relative;
    width: 123px;
    height: 123px;
    margin: -48px auto 10px;
    border-radius: 50%;
}
.el5_2_sex_women {
    background: url(black_girl.png) /*tpa=http://abgymnicbelt.com/images/black_girl.png*/ bottom center no-repeat #fff;
}
.el5_2_sex_men {
    background: url(black_men.png) /*tpa=http://abgymnicbelt.com/images/black_men.png*/ bottom center no-repeat #fff;
}
.el5 .el5_1 .el5_2 p {
    padding-bottom: 10px;
}
.el5 .el5_1 .el5_2 p.title {
    color: #999;
    text-align: center;
    font-size: 22px;
}
.el5 .el5_1 .el5_2 p.title span {
    color: #005e66;
}
.el5 .el5_1 .el5_2 p.text {
    font-style: italic;
    color: #666;
    text-align: justify;
}
.el5 .el5_1 .el5_2 p.img,
.el5 .el5_1 .el5_3,
.footer .finfo {
    text-align: center;
}
.el5 .el5_1 .el5_2 p img {
    height: auto;
    max-width: 90%;
}
.el5 .el5_1 .el5_3 a,
a.order_btn {
    display: inline-block;
    width: 410px;
    height: 60px;
    padding-top: 25px;
    color: #fff;
    font-size: 36px;
    text-align: center;
    background-image: url(button.png) /*tpa=http://abgymnicbelt.com/images/button.png*/;
    background-position: top center;
    background-repeat: no-repeat;
}
.el5 .el5_1 .el5_3 a:hover,
a.order_btn:hover {
    background-position: bottom center;
}
.el14 {
    width: 1100px;
    margin: 0 auto;
    padding-top: 30px;
    padding-bottom: 30px;
    color: #333;
}
.footer {
    border-top: 1px solid #fff;
    margin-top: 50px;
    color: #003;
}
.footer .finfo {
    width: 1100px;
    margin: 0 auto;
    padding-bottom: 20px;
    padding-top: 20px;
    font-size: 14px;
}
.footer .finfo .copy {
    width: 500px;
    float: left;
}
.footer .finfo .info {
    width: 500px;
    float: right;
    text-align: right;
}
.video-wrap iframe {
    width: 560px;
}
.mobile_logo,
.top_price_mob {
    display: none;
}


@media all and (max-width: 1140px){

    #header, #body {
        min-width: 240px;
    }

    .el4{
        height: auto;
        background-size: cover;
    }

    .el4 .el4_1{
        width: 100%;
    }

    .el4 .el4_1 table{
        width: auto;
    }

    .el4 .el4_1 table tr td {
        text-align: left;
        padding-top: 7px;
    }

    .el5 .el5_1 {
        width: 100%;
    }

    .compl-img{
        width: 45%;
        margin: 0 2.5% 30px;
    }

    .compl-img img{
        max-width: 100%;
    }

    .el3:before {
        content: "";
    }

    .el3 {
        height: auto;
        background-position: top left;
        padding-bottom: 10px;
        background-size: cover;
    }

    .el3 .el3_1 .el3_3{
        float: none;
        width: 100%;
        text-align: left;
        padding: 0 20px;
    }

    .el3 .el3_1 .el3_2 {
        float: none;
        width: 100%;
        text-align: center;
        padding: 10px;
        box-sizing: border-box;
    }

    .el3 .el3_1 {
        width: 100%;
        padding-top: 85px;
    }

    .el1 {
        position: relative;
        height: 820px;
        background-image: url('el1_640.jpg')/*tpa=http://abgymnicbelt.com/images/el1_640.jpg*/;
    }

    .el1 .el1_1 {
        width: 100%;
    }

    .el1 .el1_1 h1 {
        margin-left: 0;
        padding-top: 14px;
        text-align: center;
    }

    .el1 .el1_1 p {
        width: 80%;
        margin: 0 auto;
    }

    .price{
        display: none;
    }

    .el1 .el1_1 .el1_2{
        display: none;
    }

    .top_price_mob{
        display: block;
        position: absolute;
        left: 5%;
        bottom: 3px;
        color: #FF0048;
        font-size: 34px;
    }
}

@media all and (max-width: 768px){
    .el5 .el5_1 .el5_2{
        width: 96%;
        min-width: 220px;
        display: block;
        margin: 50px auto 40px;
        min-height: 0;
    }

    .el4 .el4_1 table.first-child {
        margin-right: 0;
    }
}

@media all and (max-width: 640px){


    .el1 {
        position: relative;
        height: auto;
        background-image: url('el1_320.jpg')/*tpa=http://abgymnicbelt.com/images/el1_320.jpg*/;
        min-height: 622px;
    }

    .el1 .el1_1 p {
        font-size: 17px;
        font-style: italic;
        width: 96%;
    }

    .el1 .el1_1 h1{
        padding-top: 14px;
        font-size: 17px;
    }



    .el1 .el1_1{
        padding-top: 63px;
    }

    .el2 .el2_1 ul li {
        min-width: 0;
        width: 80%;
    }

    .el2 .el2_1 ul li span {
        font-size: 23px;
    }

    .video-block h4{
        font-size: 34px !important;
    }

    .video-wrap{
        margin: 0 auto;
        width: 400px !important;
    }

    .video-wrap iframe{
        width: 400px;
        height: 230px;
    }

    .el4 .el4_1 h1 {
        font-size: 40px;
    }

    .el5 .el5_1 h1 {
        font-size: 26px;
        padding-bottom: 0;
    }

    .el3 .el3_1 .el3_2 a,
    .form form input.ordr_btn{
        max-width: 410px;
        width: 90%;
        padding-top: 0;
        height: 60px;
        font-size: 30px;
        line-height: 60px;
        margin: 10px auto;
        border-radius: 42px;

        background: #ffe003; /* Old browsers */
        background: -moz-linear-gradient(top,  #ffe003 0%, #ffb601 100%); /* FF3.6+ */
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffe003), color-stop(100%,#ffb601)); /* Chrome,Safari4+ */
        background: -webkit-linear-gradient(top,  #ffe003 0%,#ffb601 100%); /* Chrome10+,Safari5.1+ */
        background: -o-linear-gradient(top,  #ffe003 0%,#ffb601 100%); /* Opera 11.10+ */
        background: -ms-linear-gradient(top,  #ffe003 0%,#ffb601 100%); /* IE10+ */
        background: linear-gradient(to bottom,  #ffe003 0%,#ffb601 100%); /* W3C */
    }

    .el3 .el3_1 .el3_2 a:hover,
    .form form input.ordr_btn:hover{
        background: #ffb601; /* Old browsers */
        background: -moz-linear-gradient(top,  #ffb601 0%, #ffe003 100%); /* FF3.6+ */
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffb601), color-stop(100%,#ffe003)); /* Chrome,Safari4+ */
        background: -webkit-linear-gradient(top,  #ffb601 0%,#ffe003 100%); /* Chrome10+,Safari5.1+ */
        background: -o-linear-gradient(top,  #ffb601 0%,#ffe003 100%); /* Opera 11.10+ */
        background: -ms-linear-gradient(top,  #ffb601 0%,#ffe003 100%); /* IE10+ */
        background: linear-gradient(to bottom,  #ffb601 0%,#ffe003 100%); /* W3C */
    }
}

@media all and (max-width: 480px){
    .video-wrap{
        margin: 0 auto;
        width: 320px !important;
    }

    .video-wrap iframe{
        width: 320px;
        height: 180px;
    }

    .form form select {
        width: 220px;
    }

    .form form input {
        width: 212px;
    }

    .complekt {
        padding: 0;
    }

    .form {
        margin: 5px 0 0 0;
    }

    .el4 .el4_1 h1 {
        font-size: 28px;
        line-height: 34px;
        padding-bottom: 25px;
    }

    .el4 .el4_1 table tr td {
        font-size: 18px;
        line-height: 24px;
    }

    .el3 .el3_1 .el3_3 h2 {
        font-size: 28px;
        padding-bottom: 10px;
    }

    .el3 .el3_1 {
        padding-top: 20px;
    }

    .el2 .el2_1 h1 {
        font-size: 26px;
        padding: 25px 10px 0;
    }

    .el3 .el3_1 .el3_2 a,
    .form form input.ordr_btn {
        font-size: 26px;
    }

    .form form{
        width: auto;
    }
}

@media all and (max-width: 340px){

    .el1 .el1_1 h1 {
        font-size: 15px;
    }

    .video-wrap{
        margin: 0 auto;
        width: 200px !important;
    }

    .video-wrap iframe{
        width: 200px;
        height: 115px;
    }

    .video-block h4 {
        font-size: 23px !important;
        padding-top: 16px !important;
        padding-bottom: 15px !important;
    }

    .el4 .el4_1 table tr td {
        font-size: 16px;
        line-height: 19px;
        text-transform: none;
    }

    .el1{
        background: #386481;
        min-height: 0;
    }

    .el1 .el1_1{
        padding-top: 15px;
    }

    .mobile_logo{
        display: block;
        text-align: center;
    }

    .mobile_logo img{
        max-width: 96%;
    }

    .top_price_mob {
        display: block;
        position: relative;
        bottom: auto;
        left: 0;
        color: #FF0048;
        font-size: 36px;
        text-align: center;
    }
}

/*--== ACTION STICKY ==--*/
.action-sticky-wrapper,
.action-sticky{
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
    backface-visibility: hidden;
}
.action-sticky-wrapper *{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.action-sticky{
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.8);
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.6);
    z-index: 777;
    min-width: 240px;
    text-align: center;
    padding: 5px;
}
/*hidden action*/
.action-sticky-hidden .action-sticky{
    display: none;
    height: 0;
    padding: 0;
}
.action-sticky-hidden .action-sticky-closer{
    display: none;
}
/*hidden action end*/
.action-sticky-center{
    max-width: 980px;
    margin: 0 auto;
}
.action-sticky-text{
    display: inline-block;
    vertical-align: middle;
    line-height: 26px;
    padding: 5px 55px;
    text-align: center;
    position: relative;
    font-size: 26px;
    color: #ffffff;
    letter-spacing: 0;

}
.action-sticky-text nobr{
    font-weight: bold;
    color: #0ebe70;
}
.action-sticky-holder{
    font-size: 0;
    letter-spacing: -4px;
}
.action-sticky-timer{
    height: auto;
    text-align: center;
    margin: 0 auto;
    display: inline-block;
    vertical-align: middle;
    padding: 5px 10px;
    font-size: 14px;
    letter-spacing: normal;
}
.action-sticky-timer .timer-text{
    text-align: center;
    padding: 0 0 7px;
    font-size: 18px;
}
.action-sticky-timer .time-item{
    position: relative;
    display: inline-block;
    vertical-align: top;
    height: auto;
    width: 24%;
    font-size: 36px;
    line-height: 44px;
    color: #fff;
    text-align: center;
    letter-spacing: normal;
    margin: 0 0.5%;
    padding-bottom: 16px;
    border-radius: 7px;
    background: #113f50;
}
.action-sticky-timer .time-item.days {
    display: none;
}
.action-sticky-timer .time-unit {
    position: absolute;
    left: 0;
    bottom: 4px;
    width: 100%;
    font-size: 12px;
    line-height: 16px;
    font-weight: 300;
    color: #fff;
    text-align: center;
}
.action-sticky-btn{
    padding: 5px 10px;
    display: inline-block;
    vertical-align: middle;
    font-size: 14px;
    letter-spacing: normal;
}
.action-sticky-btn .btn-default{
    display: inline-block;
    vertical-align: top;
    font: 30px/1.2 Arial, Helvetica, sans-serif;
    padding: 4px 20px;
    min-width: 212px;
    background: #FFDD04;
    border: 3px solid #FFB301;
    text-transform: uppercase;
    color: #ffffff;
    text-decoration: none;
    position: relative;
    border-radius: 20px;
}
.action-sticky-btn .btn-default:hover{
    background: #34495e;
    color: #88b8d4;
    border-color: #88b8d4;
}
.action-sticky-btn .btn-default:active{
    position: relative;
    -webkit-box-shadow: inset 0 -2px 5px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: inset 0 -2px 5px rgba(0, 0, 0, 0.4);
    -ms-box-shadow: inset 0 -2px 5px rgba(0, 0, 0, 0.4);
    -o-box-shadow: inset 0 -2px 5px rgba(0, 0, 0, 0.4);
    box-shadow: inset 0 -2px 5px rgba(0, 0, 0, 0.4);
    bottom: -1px;
}

/*action sticky closer*/
.action-sticky-closer{
    position: absolute;
    right: 1%;
    top: 8px;
    padding: 0;
    width: 32px;
    height: 32px;
    text-indent: -9999px;
    overflow: hidden;
    white-space: nowrap!important;
    border: 1px solid #ddd;
    color: #333;
    background-color: #f6f6f6;
    box-shadow: 0 1px 3px rgba(0,0,0,.15);
    border-radius: 50%;
    -webkit-transition: 0.2s;
    -moz-transition: 0.2s;
    -o-transition: 0.2s;
    transition: 0.2s;
    backface-visibility: hidden;
}
.action-sticky-closer:hover{
    background-color: #ededed;
}
.action-sticky-closer:active{
    background-color: #e6e6e6;
    box-shadow: none;
}
.action-sticky-closer > span{
    content: "";
    position: absolute;
    left: 50%;
    margin-left: -14px;
    top: 50%;
    margin-top: -14px;
    width: 28px;
    height: 28px;
    background-color: #666;
    background-color: rgba(0,0,0,.3);
    border-radius: 50%;
}
.action-sticky-closer > span:before,
.action-sticky-closer > span:after{
    content: '';
    position: absolute;
    left: 50%;
    margin-left: -12px;
    top: 50%;
    margin-top: -3px;
    height: 6px;
    width: 24px;
    backface-visibility: hidden;
    border-radius: 0.15em;
    background: #fff;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
}
.action-sticky-closer > span:before{
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}
.action-sticky-closer > span:after{
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
}


.counter-inline li, .landing__countdown span{
    display: inline-block;
    vertical-align: top;
}

.count-div, .landing__countdown span{
    width: 40px;
    height: 40px;
    background: #ffffff;
    color: #005E66;
    line-height: 40px;
    font-size: 40px;

}

.timer-text{
    color: #ffffff;
}

.count_separator{
    color: #ffffff;
    font-size: 34px;
    line-height: 40px;
    margin-top: -5px;
}
.landing__countdown .minutes{
    position:relative;
    margin: 0 10px;
}
.landing__countdown .minutes:before,
.landing__countdown .minutes:after{
    position:absolute;
    content:':';
    top:-3px;
    color:#ffffff;
}
.landing__countdown .minutes:before{
    left:-10px;
}
.landing__countdown .minutes:after{
    right:-10px;
}

/*action sticky closer end*/
/*--== ACTION STICKY END ==--*/

/*--== ACTION STICKY MEDIA QUERIES ==--*/
@media screen and (max-width: 639px){
    .action-sticky-text{
        font-size: 16px;
        line-height: 17px;
        display: block;
    }
    .action-sticky .btn-default{
        font-size: 18px;
        min-width: 0;
        border-width: 2px;
    }
    .action-sticky-text{
        padding: 5px;
    }
    .action-sticky-timer{
        width: 100%;
    }
    .action-sticky-timer .time-item{
        margin: 0 2%;
        width: 29%;
        font-size: 20px;
        line-height: 28px;
        padding: 0 0 5px;
    }
    .action-sticky-timer .time-unit{
        font-size: 8px;
        line-height: 12px;
        bottom: 0;
    }
    .action-sticky-btn {
        width: 100%;
        text-align: center;
    }
    .action-sticky-closer{
        top: 100%;
        margin: -38px 0 0;
        right: 5px;
    }
    .action-sticky-closer > span:before,
    .action-sticky-closer > span:after{
        width: 16px;
        margin-top: -4px;
    }
    .action-sticky-closer > span:before{
        margin-left: -4px;
    }
    .action-sticky-closer > span:after{
        margin-left: -11px;
    }
    /*hidden action*/
    .action-sticky-hidden .action-sticky-wrapper{
        padding-top: auto !important;
    }
    .action-sticky-hidden .action-sticky{
        display: block;
        height: auto;
        padding: 5px 0;
    }
    .action-sticky-hidden .action-sticky-text,
    .action-sticky-hidden .action-sticky-timer{
        display: none;
    }
    .action-sticky-hidden .action-sticky-holder{
        margin: 0;
    }
    /*hidden action end*/

    .timer-text{
        display: none;
    }

    .count-div, .landing__countdown span{
        width: 30px;
        height: 30px;
        background: #ffffff;
        color: #005E66;
        line-height: 30px;
        font-size: 30px;
    }

    .count_separator{
        color: #ffffff;
        font-size: 34px;
        line-height: 30px;
        margin-top: -2px;
    }
}
@media screen and (max-width: 405px){
    .action-sticky{
        text-align: left;
    }
    .action-sticky-hidden .action-sticky{
        text-align: center;
    }
    .action-sticky-timer .time-item{
        margin: 0 2%;
        width: 29%;
        font-size: 20px;
        line-height: 28px;
        padding: 0 0 6px;
        height: auto;
    }
    .action-sticky-timer .time-unit{
        font-size: 8px;
        line-height: 12px;
        margin: 0;
        width: 100%;
        bottom: 0;
    }

    .variant_text1{
        font-size: 16px;
    }

    .action-sticky-closer {
        margin: 8px 0 0;
        right: 9px;
        top: 0;
    }
}
@media only screen and (max-width: 319px){
    .action-sticky-text{
        font-size: 1em;
    }
    .action-sticky .btn-default{
        font-size: 16px;
        padding: 2px 9px;
    }
    .action-sticky-timer .timer-text {
        display: none;
    }
    .action-sticky-timer .time-item {
        font-size: 17px;
        line-height: 27px;
        padding: 0;
    }
    .action-sticky-timer .time-unit{
        display: none;
        padding: 0;
    }

    .count-div, .landing__countdown span{
        width: 25px;
        height: 25px;
        background: #ffffff;
        color: #005E66;
        line-height: 25px;
        font-size: 18px;
    }

    .count_separator{
        color: #ffffff;
        font-size: 24px;
        line-height: 25px;
        margin-top: -1px;
    }
}
/*--== ACTION STICKY MEDIA QUERIES END ==--*/

/*--== DELIVERY ==--*/
.delivery-section, .delivery-section *, .work-section, .work-section *, .footer-area, .footer-area *{-webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;}

.max-wrap{max-width:980px;margin:0 auto;}
/*icons*/
[class*="icon-"], .delivery-note > span:before, .steps-list li:after{background:url(hotfooter-sprite.png)/*tpa=http://abgymnicbelt.com/images/hotfooter-sprite.png*/ no-repeat;display:inline-block;vertical-align:top;}
.icon-lock, .delivery-note > span:before{background-position:0 0;width:11px;height:13px;}
.post-country{display:none;}
.icon-phone{background-position:0 -33px;width:19px;height:19px;}
.icon-mail{background-position:0 -72px;width:19px;height:13px;}
.icon-back{background-position:0 -105px;width:33px;height:18px;}
.icon-step-01{background-position:0 -143px;width:36px;height:36px;}
.icon-step-02{background-position:0 -199px;width:41px;height:41px;}
.icon-step-03{background-position:0 -260px;width:37px;height:37px;}
.icon-step-04{background-position:0 -317px;width:37px;height:38px;}
.icon-arrow-step, .steps-list li:after{background-position:0 -375px;width:61px;height:13px;}
.icon-post-blr, #BLR-post-img .post-country{display:inline-block;background-position:0 -408px;width:138px;height:50px;}
.icon-post-rus, #RUS-post-img .post-country{display:inline-block;background-position:0 -478px;width:113px;height:55px;}
.icon-post-kaz, #KAZ-post-img .post-country{display:inline-block;background-position:0 -553px;width:186px;height:23px;}
.icon-post-kgz, #KGZ-post-img .post-country{display:inline-block;background-position:0 -596px;width:180px;height:42px;}
.icon-post-ukr, #UKR-post-img .post-country{display:inline-block;background-position:0 -658px;width:186px;height:37px;}
.icon-post-lva, #LVA-post-img .post-country, #LTU-post-img .post-country{display:inline-block;background-position:0 -715px;width:186px;height:43px;}
.icon-post-rus-alt, #RUS-post-img .post-country-alt{display:inline-block;background-position:0 -778px;width:170px;height:55px;}
.icon-post-mda, #MDA-post-img .post-country{display:inline-block;background-position:0 -853px;width:55px;height:55px;}
.icon-post-mc, #-post-img .post-country{display:inline-block;background-position:0 -928px;width:88px;height:55px;}
.icon-post-visa, #-post-img .post-country-alt{display:inline-block;background-position:0 -1003px;width:88px;height:55px;}
.icon-post-deu, #DEU-post-img .post-country{display:inline-block;background-position:0 -1078px;width:186px;height:55px;}
.icon-post-pol, #POL-post-img .post-country{display:inline-block;background-position:0 -1153px;width:186px;height:38px;}
.icon-hotname{background-position:0 -1211px;width:16px;height:16px;}
/*icons end*/
.delivery-section{background:#fff;}
.delivery-post{padding:10px 15px;font-size:12px;line-height:18px;color:#000;text-align:center;}
.delivery-post, .delivery-post *{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;}
.delivery-post .deliver-holder{display:inline-block; vertical-align:middle; padding:0; margin:0 1% 0 0; max-width:68%; border:solid #e1e1e1; border-width:0 2px 0 0;}
.post-country, .post-country-alt{background-position:-100px -100px;vertical-align:middle;margin:8px 10px;}
.post-country-alt{display:none;}
#RUS-post-img .post-country-alt, #-post-img .post-country-alt{display:inline-block;}
.delivery-post .delivery-label{display:inline-block;vertical-align:middle;padding:0 11px;font-size:22px;line-height:26px;}
.delivery-post#BLR-post-img .delivery-label,
.delivery-post#RUS-post-img .delivery-label,
.delivery-post#KAZ-post-img .delivery-label,
.delivery-post#KGZ-post-img .delivery-label,
.delivery-post#UKR-post-img .delivery-label,
.delivery-post#LVA-post-img .delivery-label,
.delivery-post#LTU-post-img .delivery-label,
.delivery-post#DEU-post-img .delivery-label,
.delivery-post#POL-post-img .delivery-label{max-width:42%;}
.delivery-post#MDA-post-img .delivery-label{max-width:50%;}
.delivery-note{text-align:left;display:inline-block;vertical-align:middle;max-width:28%;}
.delivery-note > span{display:block;padding:0 0 0 18px;position:relative;}
.delivery-note > span > em{font-style:normal;display:inline-block;vertical-align:top;}
.delivery-note > span:before{content:'';position:absolute;left:0;top:0;}
/*--== DELIVERY END ==--*/

/*--== WORKS ==--*/
.work-section{background-color:#000;}
.work-steps{padding:31px 10px 20px;color:#fff;}
/*steps*/
.steps{padding:0 0 20px 35px;overflow:hidden;}
.steps-label{float:left;font-size:20px;line-height:22px;padding:5px 27px 0 0;max-width:230px;}
/*step list*/
.steps-wrap{overflow:hidden;padding:0 0 20px;}
.steps-list{padding:0;list-style:none;font-size:0;letter-spacing:-4px;margin:0 -12px 0 0;}
.steps-list li{width:25.0%;font-size:16px;letter-spacing:normal;display:inline-block;vertical-align:top;position:relative;}
.steps-list li:after{content:'';position:absolute;right:100%;top:100%;width:61px;height:13px;margin:-1px 15px 0 0;}
.steps-list li:first-child:after{content:none;display:none;}
.step-item{font-size:12px;line-height:14px;overflow:hidden;}
.steps-list li .step-item{padding:0 15px 0 0;}
.step-img{padding:0 10px 0 0;float:left;}
.step-description{padding:2px 0 0;display:block;overflow:hidden;}
/*step list end*/
/*steps end*/
/*call*/
.call{text-align:center;font-size:20px;line-height:22px;color:#fff;padding:0 0 9px;}
.call > span{display:inline-block;vertical-align:top;position:relative;}
.call .call-title:before{content:'';display:inline-block;vertical-align:top;margin:3px 13px 0 -17px;height:17px;width:17px;background-color:#05a210;border-radius:50%;}
/*call end*/
/*--== WORKS END ==--*/

/*--== FOOTER ==--*/
.footer-area{font-size:12px;line-height:18px;padding:0;background:#fff;}
/* footer holder */
.footer-holder{padding:15px;}
.footer-section{font-size:12px;line-height:18px;color:#505050;overflow:hidden;padding:9px 0 6px;border-top:2px solid #ececec;position:relative;}
.footer-section:first-child{border-top:none;}
.footer-left{width:59%;float:left;}
.footer-section:first-child .footer-left{width:88.7%;}
.footer-right{float:right;width:33%;margin-left:12.4%;}
.footer-section:first-child .footer-right{width:55.4%;margin-left:3.4%;}
.footer-bottom{overflow:hidden;padding-left:5px;text-align:right;}
.footer-bottom > *{padding:5px 0 0;}
.footer-bottom > *:first-child{padding:0;}
.hotname .icon-hotname{margin-right:5px;}
.footer-section address{font-style:normal;overflow:hidden;font-size:14px;line-height:21px;margin:0;}
.politic *{display:inline;}
/*contact list*/
.contacts-list{padding:0;margin:0;list-style:none;font-size:14px;line-height:18px;float:left;width:50%;}
.contacts-list li{padding:0 5px 9px 28px;position:relative;}
.contacts-list li.call-title{font-size:13px;line-height:13px;font-weight:normal;padding:0 0 4px;}
.ordinfo-text{display:block;width:50%;float:right;font-size:14px;line-height:16px;padding:0 0 20px;}
.contacts-list li [class*="icon-"]{left:1px;position:absolute;top:2px;}
.contacts-list li .icon-mail{left:1px;top:3px;}
.contacts-phone{font-size:20px;line-height:22px;}
/*contact list end*/
/*back to top*/
.back-to-top{position:absolute;right:1px;top:10px;text-decoration:none !important;width:60px;height:60px;border-radius:50%;border:1px solid #dadada;z-index:555;background:rgba(255, 255, 255, 0.2);-webkit-transition:0.2s;-moz-transition:0.2s;-o-transition:0.2s;transition:0.2s;backface-visibility:hidden;}
.back-to-top i, .back-to-top [class*="icon-"]{position:absolute;top:11px;left:50%;margin-left:-16px;}
.back-to-top .text-inner{display:block;color:#505050;font:12px/14px Arial, Helvetica, sans-serif;text-align:center;padding:31px 0 0;}
.back-to-top:hover{border-color:#505050;background:#eee;}
/*back to top end*/
/* footer holder end */
/*--== FOOTER END ==--*/
@media only screen and (max-width:979px){
    /*--== DELIVERY ==--*/
    .delivery-post .deliver-holder{padding:0 0 10px;margin:0 0 8px;border-width:0 0 2px 0;display:block;max-width:none;}
    .delivery-post .delivery-label{margin:0;}
    .delivery-post#BLR-post-img .delivery-label,
    .delivery-post#RUS-post-img .delivery-label,
    .delivery-post#KAZ-post-img .delivery-label,
    .delivery-post#KGZ-post-img .delivery-label,
    .delivery-post#UKR-post-img .delivery-label,
    .delivery-post#LVA-post-img .delivery-label,
    .delivery-post#LTU-post-img .delivery-label,
    .delivery-post#DEU-post-img .delivery-label,
    .delivery-post#POL-post-img .delivery-label{max-width:none;}
    .delivery-note{display:block;text-align:center;max-width:none;}
    .delivery-note > span{display:inline-block;vertical-align:top;padding:0;}
    .delivery-note > span:before{content:'';position:relative;left:auto;top:auto;display:inline-block;vertical-align:top;width:11px;height:13px;margin:1px 5px 0 0;}
    /*--== DELIVERY END ==--*/

    /*--== WORKS ==--*/
    .work-steps{padding:22px 10px 23px;}
    /*steps*/
    .steps{padding:0 29px 12px;}
    .steps-label{display:block;text-align:center;float:none;padding:0 0 37px;max-width:none;}
    /*step list*/
    .steps-wrap{overflow:visible;padding:20px 0;}
    .steps-list{margin:0;}
    .steps-list li:after{top:auto;bottom:100%;margin:0 -31px 4px 0;-webkit-transform:scaleY(-1);-moz-transform:scaleY(-1);-ms-transform:scaleY(-1);-o-transform:scaleY(-1);transform:scaleY(-1);}
    .step-item{text-align:center;}
    .steps-list li .step-item{padding:0 12px;}
    .step-img{padding:0 0 10px;float:none;text-align:center;min-height:47px;}
    /*step list end*/
    /*steps end*/
    /*call*/
    .call{font-size:19px;line-height:24px;padding:0 100px;}
    /*call end*/
    /*--== WORKS END ==--*/

    /*--== FOOTER ==--*/
    .footer-holder{padding:16px 19px 5px;}
    .footer-section{padding:11px 0 16px;}
    .footer-left{width:65.0%;}
    .footer-right, .footer-section:first-child .footer-right{float:none;width:auto;margin-left:0;}
    .contacts-list{float:none;padding:0 0 4px;width:100%;}
    .ordinfo-text{float:none;width:100%;}
    .contacts-list li{padding:0 5px 9px 30px;}
    .back-to-top{top:12px;}
    .copyright{display:block;padding:10px 0 0;}
    /*--== FOOTER END ==--*/
}
@media only screen and (max-width:639px){
    /*--== DELIVERY ==--*/
    .delivery-post{text-align:center;padding:7px 15px 15px;}
    .delivery-post .deliver-holder{padding:0 0 10px;margin:0 0 8px;}
    .delivery-post .delivery-label{padding:0;}
    .delivery-note{margin:0;}
    /*--== DELIVERY END ==--*/

    /*--== WORKS ==--*/
    .work-steps{padding:16px 15px;}
    /*steps*/
    .steps{padding:0 0 7px;}
    .steps-label{padding:0 0 20px;}
    /*step list*/
    .steps-wrap{padding: 0 30px;width: 218px;margin: 0 auto;}
    .steps-list{margin:0;}
    .steps-list li{display:block;width:auto;padding:0 0 23px;}
    .steps-list li:after{top:auto;right:-40px;bottom:100%;margin:0 0 9px;-webkit-transform:rotate(83deg) scaleY(-1);-moz-transform:rotate(83deg) scaleY(-1);-ms-transform:rotate(83deg) scaleY(-1);-o-transform:rotate(83deg) scaleY(-1);transform:rotate(83deg) scaleY(-1);}
    .steps-list li:nth-child(odd):after{right:auto;left:-52px;-webkit-transform:rotate(-83deg) scaleY(-1) scaleX(-1);-moz-transform:rotate(-83deg) scaleY(-1) scaleX(-1);-ms-transform:rotate(-83deg) scaleY(-1) scaleX(-1);-o-transform:rotate(-83deg) scaleY(-1) scaleX(-1);transform:rotate(-83deg) scaleY(-1) scaleX(-1);margin:0 0 5px;}
    .step-item{text-align:left;}
    .steps-list li .step-item{padding:0;}
    .step-img{padding:0 10px 0 0;float:left;min-height:0;text-align:left;}
    .step-description{padding:6px 5px 0 0;}
    /*step list end*/
    /*steps end*/
    /*call*/
    .call{font-size:14px;line-height:30px;font-weight:normal;padding:0;}
    .call .call-title{display:inline;font-size:20px;line-height:27px;font-weight:bold;position:relative;margin:0;padding:0;}
    .call .call-title{display:block;}
    /*call end*/
    /*--== WORKS END ==--*/

    /*--== FOOTER ==--*/
    .footer-holder{padding:5px 15px;}
    .footer-section{padding:15px 0 14px;}
    .footer-left{width:auto;float:none;}
    .footer-right{float:none;width:auto;margin-left:0;}
    .contacts-list{width:auto;padding:0 38px 4px 0;}
    .contacts-list li{padding:0 5px 9px 30px;}
    .footer-bottom{padding:20px 0 0;}
    .footer-section>*{display:block;text-align:left;}
    .copyright{display:block;padding:19px 0 0;}
    /*--== FOOTER END ==--*/
}
@media only screen and (max-width:319px){
    .call{font-size:14px;line-height:18px;}
    .footer-holder{padding:13px 3% 16px;}
    .footer-section:first-child .footer-left{width:auto;text-align:center;}
    .footer-right{text-align:center;}
    .contacts-list{padding:0 0 4px;width:auto;display:inline-block;text-align:left;}
    .contacts-phone{font-size:18px;}
    .footer-section:first-child{padding:15px 0 85px;}
    .footer-section:last-child{text-align:center;}
    .footer-section>*{text-align:center;}
    .footer-section address{font-size:12px;line-height:16px;}
    .back-to-top{bottom:12px;top:auto;right:50%;margin-right:-31px;}
    .footer-bottom{text-align:center;padding-top:10px;}
    .copyright{padding-top:10px;}
}

/*--== POPUP MESSAGES ==--*/
#pop-messages ul{list-style:none;padding:0;margin:0;}
#pop-messages{position:fixed;bottom:0;left:0;z-index:1000;}
#pop-messages li{display:none;width:200px;background:black;background:rgba(0, 0, 0, 0.8);font:16px/20px arial, sans-serif;color:#fff;border:1px solid #fff;box-shadow:0 0 5px -1px #000;padding:15px 20px 15px;text-align:center;margin-bottom:5px;}
.close-msg{height:16px;width:16px;border:1px solid #fff;cursor:pointer;position:absolute;top:0;right:0;background:url(close-msg.png)/*tpa=http://abgymnicbelt.com/images/close-msg.png*/ 1px 1px no-repeat;}
/*--== POPUP MESSAGES END ==--*/

/*--== RED CONNECT & CALL BACK ==--*/
.calllback-mobile{display:none;}
@media only screen and (max-width:979px){
    .calllback-mobile{display:block;}
    #rc-connect, #pop-messages{display:none !important;}
}
/*--== RED CONNECT & CALL BACK END ==--*/

