html {
    scroll-behavior: smooth;
}
.header-one {
    background: #3b3a42 url(bg_header1.jpg) no-repeat center top;
    height: 666px;
    padding: 25px 0 0;
}
.header-one h1 {
    color: #fffc00;
    font-size: 60px;
    line-height: 1em;
    letter-spacing: 2px;
    font-weight: 900;
}
.header-one h2 {
    font-size: 28px;
    line-height: 1.1em;
    color: #fff;
    letter-spacing: 1px;
    font-weight: 900;
    margin-top: 8px;
}
.header-one h3{
    font-size: 16px;
    line-height: 28px;
    padding: 0 12px;
    color: #fff;
    letter-spacing: 1px;
    background: #3682ff;
    display: inline-block;
    border-radius: 5px;
    margin-top: 10px;
}

.header-one_plus {
    width: 355px;
    margin: 30px 0;
}
.header-one_plus>li {
    margin-bottom: 15px;
}
.header-one_plus>li:last-child{
    margin-bottom: 0;
}
.header-one_plus>li>p {
    color: #fff;
    overflow: hidden;
    line-height: 1.3em;
    font-size: 16px;
    padding: 3px 0 0 15px;
    margin: 0;
}
.header-one_plus>li:before {
    content: '';
    display: block;
    background: url('offer_check.png') no-repeat 0 0;
    width: 25px;
    height: 25px;
    float: left;
}
.offer_left {
    width: 300px;
}
.stock {
    text-align: center;
    padding-top: 11px;
    font-size: 14px;
}
.stock:before {
    content: '';
    display: inline-block;
    background: url('sprite.png') no-repeat -115px 0;
    width: 20px;
    height: 20px;
    margin-right: 10px;
    position: relative;
    top:5px;
}
.prod_count{
    max-width: 300px;
    text-align: center;
    margin-top: 25px;
    color: #fff;
    position: absolute;
    top: 560px;
    left: 590px;
}
.prod_count>span{
    background: #ffffff;
    color: #272732;
    font-weight: 700;
    text-align: center;
    padding: 3px 4px;
    margin: 0 4px;
    font-size: 18px;
    border-radius: 4px;
}
.tovar-sale {
    width: 100px;
    height: 100px;
    position: absolute;
    top: 40px;
    left: 620px;
    color: #fff;
    font-size: 16px;
    line-height: 18px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    padding: 26px 0 0;
    background: #f69111;
    background: -moz-linear-gradient(top, #f69111 0%, #ff1f00 100%);
    background: -webkit-linear-gradient(top, #f69111 0%,#ff1f00 100%);
    background: linear-gradient(to bottom, #f69111 0%,#ff1f00 100%);
    border-radius: 50%;
    box-shadow: 0 0 0 10px rgba(255,255,255,0.2);
}
.tovar-sale>span{
    display: block;
    font-size: 32px;
    line-height: 1.1em;
}


/*sect2*/
.sect2{
    background: #2c2c36 url(s2_bg.jpg) 50% 108px no-repeat;
}
.sect2 .wrap{
    padding-left: 420px;
    position: relative;
}
.sect2 .title{
    font-size: 21px;
    line-height: 1.2em;
    text-align: left;
}
.sect2 .description>p{
    margin-bottom: 20px;
    color: #fff;
}
.sect2 .description>p>span{
    background: #3682ff;
}
.sect2 .description>img{
    display: block;
    margin: 0 0 20px;
}
.sect2 .description>p:last-child{
    margin-bottom: 0;
}

.sect2 .benef_block{
    position: absolute;
    left: 10px;
    top: 25px;
}
.sect2 .benef_block>img{
    display: none;
}
.sect2 .benef_block>p{
    font-size: 18px;
    line-height: 1.5em;
    color: #fff;
    font-weight: 900;
    text-transform: uppercase;
    width: 165px;
}
.sect2 .benef_block>p>span{
    color: #3682ff;
}
.sect2 .benef_block>p>span>span{
    display: block;
    font-size: 27px;
    line-height: 1.1em;
}




/*sect5*/
.sect5{
    background: #33343c url(s5_bg.jpg) 50% 0% no-repeat;
    height: 886px;
}
.sect5 .title{
    margin-bottom: 50px;
}
.benef_list2{
    width: 290px;
}
.benef_list2.list_left{
    float: left;
}
.benef_list2.list_right{
    float: right;
}
.benef_list2>li{
    max-width: 290px;
    border-left: 3px solid #fffc00;
    margin-bottom: 32px;
}
.benef_list2>li>span{
    background: #424250;
    color: #fff;
    text-align: center;
    font-size: 40px;
    font-weight: 900;
    letter-spacing: 2px;
    width: 178px;
    padding-right: 80px;
    height: 70px;
    line-height: 70px;
    display: inline-block;
    position: relative;
}
.benef_list2>li>span:after{
    content: '';
    display: inline-block;
    width: 80px;
    height: 70px;
    background-color: #3682ff;
    position: absolute;
    right: 0;
    top: 0;
}
.benef_list2.list_left>li:nth-child(1)>span:after{
    background: #3682ff url(s5_list2_icons.png) 50% 0px;
}
.benef_list2.list_left>li:nth-child(2)>span:after{
    background: #3682ff url(s5_list2_icons.png) 50% -70px;
}
.benef_list2.list_left>li:nth-child(3)>span:after{
    background:#3682ff  url(s5_list2_icons.png) 50% -140px;
}
.benef_list2.list_right>li:nth-child(1)>span:after{
    background: #3682ff url(s5_list2_icons.png) 50% -210px;
}
.benef_list2.list_right>li:nth-child(2)>span:after{
    background: #3682ff url(s5_list2_icons.png) 50% -280px;
}
.benef_list2.list_right>li:nth-child(3)>span:after{
    background: #3682ff url(s5_list2_icons.png) 50% -350px;
}
.benef_list2>li>p{
    background: #343440;
    padding: 12px 25px 12px 15px;
    color: #fff;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.3em;
    display: inline-block;
    margin: 0;
}

.sect5 .button-m{
    margin-top: 95px;
}


/*gallery_sect*/
.gallery_sect{
    padding: 30px 0;
    background: #272732;
}


/*sect4*/
.sect4{
    background: #2c2c36;
}
.sect4 .title{
    margin-bottom: 40px;
}
.benef1{
    font-size: 0;
    text-align: center;
}
.benef1>li{
    display: inline-block;
    vertical-align: top;
    width: 25%;
    padding: 0 15px;
    color: #fff;
    font-size: 18px;
}
.benef1>li>img{
    display: block;
    margin: 0 auto 30px;
    border-radius: 50%;
    box-shadow: 0 0 0 10px #373740;
}
.benef1>li>p{
    margin: 0;
}
.sect4 .button-m{
    margin-top: 30px;
}


/*sect3*/
.sect3{
    background: url(s3_bg.jpg) 50% 0% no-repeat;
}
.sect3 .wrap{
    padding-right: 420px;
}
.sect3 .wrap>img{
    display: none;
}
.sect3 .title{
    text-align: left;
    font-size: 21px;
    line-height: 1.2em;
}

.char_list>li{
    text-align: right;
    padding: 12px 0;
    color: #fff;
    border-bottom: 2px dashed #ffffff;
}
.char_list>li:last-child{
    border-bottom: none;
}
.char_list>li:after{
    content: '';
    display: block;
    clear: both;
}
.char_list>li>b{
    float: left;
}



/*sect6*/
.sect6{
    background: #2c2c36 url(s6_bg.jpg) 50% -50px no-repeat;
    min-height: 880px;
}
.sect6 .title{
    line-height: 61px;
}
.rev_item{
    background: #373743;
    width: 310px;
    margin: 0px auto;
}
.rev_item>img{
    display: block;
    margin: 0px auto;
}
.rev_item .info{
    border-left: 10px solid #3682ff;
    height: 76px;
    display: table;
    width: 100%;
}
.rev_item .info:after{
    content: '';
    width: 76px;
    height: 76px;
    background: #424250 url(rev_q.png) 50% 50% no-repeat;
    float: right;
}
.rev_item .info>p{
    display: table-cell;
    vertical-align: middle;
    width: 180px;
    color: #fff;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 700;
    line-height: 1.3em;
    padding: 0 0 0 12px;
}
.rev_item>p{
    color: #fff;
    padding: 17px 20px 20px;
    margin: 0;
}

.sect6 .button-m{
    margin-top: 40px;
}



/* sect7 */
.sect7{
    background: #222329 url(s7_bg.jpg) 50% 0% no-repeat;
    height: 466px;
}
.order_list>li{
    width: 240px;
    height: 240px;
    float: left;
    font-size: 15px;
}
.order_list>li:nth-child(1){
    background: url(order_bg.jpg?v=2) 0px 50% no-repeat;
}
.order_list>li:nth-child(2){
    background: url(order_bg.jpg?v=2) -240px 50% no-repeat;
}
.order_list>li:nth-child(3){
    background: url(order_bg.jpg?v=2) -480px 50% no-repeat;
}
.order_list>li:nth-child(4){
    background: url(order_bg.jpg?v=2) -720px 50% no-repeat;
}
.order_list>li>span{
    font-size: 32px;
    line-height: 36px;
    color: #3682ff;
    font-weight: 700;
    display: block;
    margin: 8px 0 0 12px;
}
.order_list>li .text{
    margin-top: 85px;
    display: table;
    width: 100%;
    border-left: 10px #fffc00 solid;
    height: 80px;
}
.order_list>li .text p{
    display: table-cell;
    vertical-align: middle;
    color: #fff;
    text-transform: uppercase;
    margin: 0;
    font-weight: 700;
    padding: 0 0 0 10px;
    line-height: 1.5em;
}
.sect7 .alert{
    background: #3682ff;
    color: #fff;
    font-weight: 700;
    text-align: center;
    padding: 10px 20px;
    font-size: 18px;
    text-transform: uppercase;
}
.sect7 .alert:before{
    content: '';
    width: 34px;
    height: 34px;
    background: url(order_alert.png) 50% 50% no-repeat;
    display: inline-block;
    vertical-align: middle;
    margin: 0 10px 0 0;
}

.formbox{
    margin-top: 20px;
    padding: 22px 20px 30px;
    background: rgba(55,55,67,0.7);
    width: 340px;
    border-top: #838391 2px solid;
    border-radius: 6px;
    -webkit-box-shadow: inset 0px 2px 5px 0px rgba(0,0,0,0.2);
    -moz-box-shadow: inset 0px 2px 5px 0px rgba(0,0,0,0.2);
    box-shadow: inset 0px 2px 5px 0px rgba(0,0,0,0.2);
}
.formbox .price{
    margin-bottom: 15px;
}

.bott_sect h2{
    max-width: 480px;
    font-size: 30px;
    line-height: 1.2em;
}
.bott_sect h2>span{
    color: #fffc00;
}

.timer{
    text-align: center;
    color: #fff;
    font-weight: 900;
    margin-bottom: 25px;
}
.timer>p{
    text-transform: uppercase;
    font-size: 18px;
    margin-bottom: 12px;
}
.timer .timer_container{
    font-size: 0;
    text-align: center;
}
.timer_container .timer_block{
    font-size: 0;
    text-align: center;
    display: inline-block;
    vertical-align: top;
}
.timer_container .timer_block:not(:last-child):after{
    content: ':';
    color: #fff;
    font-weight: 900;
    font-size: 25px;
    line-height: 1.1em;
    display: inline-block;
    vertical-align: middle;
    margin: 0 10px;
}
.timer_block .count{
    color: #fffc00;
    font-size: 25px;
    line-height: 1.1em;
    display: inline-block;
    vertical-align: bottom;
}
.timer_block .text{
    font-size: 18px;
    line-height: 1.1em;
    display: inline-block;
    vertical-align: bottom;
    margin-left: 8px;
}

.present{
    width: 470px;
    border-radius: 20px;
    border: 3px dashed #fff;
    padding: 15px 245px 15px 20px;
    font-size: 18px;
    font-weight: 700;
    color: #fff;
    position: absolute;
    top: 445px;
    right: 10px;
}
.present>span{
    display: block;
    font-size: 25px;
    line-height: 1.1em;
    color: #fffc00;
    font-weight: 900;
    text-transform: uppercase;
}
.present:before{
    content: '';
    width: 98px;
    height: 88px;
    background: url(present_arrow.png) 50% 50% no-repeat;
    position: absolute;
    top: -96px;
    left: 50%;
    margin-left: -20px;
}
.present:after{
    content: '';
    width: 217px;
    height: 76px;
    background: url(present.png) 50% 0% no-repeat;
    position: absolute;
    top: 15px;
    right: 20px;
}



/*COPYRIGHT*/
.copyright {
    text-align: center;
    padding: 40px 0 30px;
    background: #2c2c36;
    color: #fff;
}
.copyright a {
    font-size: 14px;
    color:#fff;
    display: block;
}
.copyright p{
    margin: 0;
}







/*-------------------------------------- Media Queries ----959---------------------------------*//* after_qbici */
@media screen and (max-width: 959px) {
    section{
        padding: 40px 0;
    }
    /* Ð¨ÐÐŸÐšÐ 1 */
    .header-one {
        background: #3d3c45 url(bg_header1_tab.jpg) no-repeat center top;
        overflow: hidden;
    }
    .tovar-sale{
        top: 75px;
        left: 530px;
    }
    .present{
        width: 300px;
        right: 0;
        font-size: 15px;
        line-height: 1.3em;
        padding: 20px 105px 20px 20px;
    }
    .present>span{
        font-size: 18px;
        line-height: 1.1em;
    }
    .present::after{
        width: 170px;
        -webkit-background-size: 100%;
        background-size: 100%;
        transform: rotate(-50deg);
        right: -30px;
    }
    .prod_count{
        left: 385px;
        font-size: 16px;
    }
    .sect2{
        background: #2c2c36;
    }
    .sect2 .wrap{
        padding-left: 10px;
    }
    .sect2 .title{
        letter-spacing: normal;
        text-align: center;
        margin-bottom: 30px;
    }
    .sect2 .title span{
        margin-left: 0;
    }
    .sect2 .benef_block{
        position: relative;
        top: auto;
        left: auto;
        padding-top: 30px;
        width: 410px;
        margin: 0 auto 30px;
    }
    .sect2 .benef_block > img{
        display: block;
    }
    .sect2 .benef_block > p{
        position: absolute;
        top: 0;
        left: 0;
    }
    .description{
        text-align: center;
    }
    .sect2 .description > img{
        margin: 0 auto 20px;
    }
    .sect3{
        background: #2c2c36;
        height: auto;
    }
    .benef_list1{
        margin: 0;
    }
    .benef_list1 > li:nth-child(3n){
        margin: 0 1px 1px 0;
    }
    .benef_list1 > li:nth-child(2n){
        margin-right: 0;
    }
    .popup-video{
        margin-left: -280px;
    }
    .popup-video .video-frame{
        width: 560px;
        height: 310px;
    }
    .sect5{
        background: #23232b;
        height: auto;
    }
    .benef_list2>li br{
        display: none;
    }
    .sect5 .button-m{
        margin-top: 20px;
    }
    .sect4 .title{
        padding: 0 60px;
    }
    .benef1 > li{
        width: 50%;
        margin-bottom: 30px;
    }
    .sect4 .button-m{
        margin-top: 0;
    }
    .sect3{
        background: #3c80f1;
        background: -moz-linear-gradient(-45deg, #3c80f1 0%, #367aea 50%, #4a8fff 100%);
        background: -webkit-linear-gradient(-45deg, #3c80f1 0%,#367aea 50%,#4a8fff 100%);
        background: linear-gradient(135deg, #3c80f1 0%,#367aea 50%,#4a8fff 100%);
    }
    .sect3 .wrap{
        padding-right: 10px;
    }
    .sect3 .title{
        text-align: center;
    }
    .sect3 .wrap>img{
        display: block;
        border-radius: 50%;
        margin: 0 auto;
        box-shadow: 0 0 30px 0 rgba(255,255,255,0.4);
    }
    .sect6{
        min-height: auto;
        background: #2c2c36;
    }
    .sect6 .title{
        line-height: 1.1em;
    }
    .sect7{
        background: #222329;
        height: auto;
    }
    .order_list{
        width: 484px;
        margin: 0px auto;
    }
    .order_list>li{
        margin: 1px;
    }
    .sect7 .alert{
        width: 482px;
        margin: 1px auto;
        font-size: 16px;
    }
    .sect7 .alert:before{
        display: block;
        margin: 0px auto 10px;
    }
}
/*-------------------------------------- Media Queries ----639---------------------------------*//* michael-k90 */
@media screen and (max-width: 659px) {
    section{
        padding: 30px 0;
    }
    /* Ð¨ÐÐŸÐšÐ */
    .header-one {
        background: #272732 url(bg_header1_mob.jpg) no-repeat center top;
        padding: 15px 0 30px;
        height: auto;
    }
    .header-one h2{
        letter-spacing: normal;
        text-align: center;
        font-size: 17px;
    }
    .header-one h1{
        text-align: center;
        letter-spacing: normal;
        font-size: 30px;
    }
    .tovar-sale{
        top: 269px;
        left: 10px;
    }
    .present{
        position: relative;
        top: auto;
        right: auto;
        margin: 485px auto 0;
        padding: 20px 100px 20px 15px;
    }
    .present:before{
        display: none;
    }
    .present:after{
        width: 120px;
        transform: rotate(-30deg);
        top: 22px;
        right: -5px;
    }
    .prod_count{
        position: static;
        margin-top: 30px;
    }
    .header-one_plus{
        width: 100%;
        margin-top: 510px;
        margin-bottom: 33px;
    }
    .header-one_plus li{
        font-size: 14px;
    }
    .header-one_plus li br{
        display: none;
    }
    .header-one_plus li:before{
        margin-right: 10px;
    }
    .timer > p{
        margin-bottom: 5px;
    }
    .sect2 .benef_block{
        width: 100%;
        padding-top: 55px;
    }
    .sect2 .title{
        text-align: center;
        font-size: 20px;
    }
    .sect2 .title span{
        font-size: 24px;
        margin-bottom: 0;
    }
    .sect4 .title{
        padding: 0;
    }
    .sect4 .list1{
        width: 100%;
    }
    .sect4 .list1 > li{
        font-size: 16px;
    }
    .sect4 .wrap > img{
        width: 220px;
    }
    .benef1 > li{
        width: 100%;
        padding: 0;
    }
    .benef1>li>img{
        margin-bottom: 15px;
    }
    .sect5 .image_list > img{
        width: 100%;
        display: block;
    }
    .sect5 .image_list > img:not(:first-child),
    .sect5 .image_list > img:nth-child(3){
        margin-top: -20px;
    }
    .benef_list2 > li{
        width: 100%;
    }
    .benef_list2.list_left,
    .benef_list2.list_right{
        float: none;
        width: 100%;
    }
    .benef_list2 > li{
        max-width: 100%;
    }
    .sect3 .title{
        font-size: 24px;
    }
    .char_list > li{
        text-align: left;
    }
    .char_list > li>b{
        float: none;
        display: block;
    }
    .order_list{
        width: 240px;
    }
    .order_list > li{
        margin: 0 0 5px;
    }
    .sect7 .alert{
        width: 240px;
        font-size: 14px;
        padding: 10px;
        margin-top: 0px;
    }
    .formbox{
        margin: 505px -20px 0;
    }
    .header-one.bott_sect{
        padding-top: 6px;
    }

}

.form-control {
    position: relative;
    display: block;
    outline: 0;
    border: none;
    border-radius: 0;
    -webkit-border-radius: 0;
    width: 100%;
    height: 50px;
    line-height: 50px;
    margin: 0 auto 15px;
    padding: 0 20px;
    background:#fff;
    border-radius: 6px;
    text-align: center;
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    color: #333333;
    -webkit-transition: all 0.2s;
    -moz-transition:    all 0.2s;
    -o-transition:      all 0.2s;
    -ms-transition:     all 0.2s;
    transition:         all 0.2s;
    -webkit-box-shadow:inset 0 1px 2px 0 rgba(0,0,0,.2);
    box-shadow:inset 0 1px 2px 0 rgba(0,0,0,.2);
}