* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

ul {
  list-style: outside none none;
}
html,
body {
  width: 100%;
  max-width: 100%;
}
body {
  overflow-x: hidden;
  font-family: 'Montserrat', sans-serif;
}
img {
  max-width: 100%;
  height: auto;
}
html {
  height: 100%;

  background: rgb(246, 131, 92) url("bg-html.jpg") repeat scroll 0 -14px;
}
h1 {
  display: inline-block;
  width: -webkit-calc(85% - 30px);
  width:         calc(85% - 30px);
  margin: 13px 0 0;

  font-size: 32px;
  line-height: 38px;
  vertical-align: middle;

  color: black;
}
.green-link {
  font-weight: bold;
  text-decoration: none;
  color: #58b44f;
}
h2 {
  margin: 40px 0 0;

  font-size: 25px;
  line-height: 35px;

  color: black;
}
body {
  margin: 0;

  font: 16px/18px 'Montserrat', sans-serif;
  color: rgb(74, 73, 72);
}
img {
  border-style: none;
}
.vk-comment-load img {
  width: 50px;
  height: 50px;
}
.vk-link img {
  width: 50px;
  height: 50px;
}
p {
  margin: 15px 0;

  font: 16px/24px 'Montserrat', sans-serif;;
  color: rgb(74, 73, 72);
}
a {
  color: rgb(226, 101, 30);
  text-decoration: underline;
}
b {
  font-weight: bolder;
}
.clear {
  clear: both;
  width: 100%;
  height: 1px;
}
a:hover {
  text-decoration: none;
}
.right-img {
  min-width: 25%;
  max-width: 50%;
  margin: 7px 0 5px 0px;
}
.left-img {
  max-width: 50%;
  margin: 7px 20px 2px 0;
}
.nav {
  width: 100%;
  margin: -4px 0 0;
  overflow: hidden;
  text-align: center;
  list-style: outside none none;
  font: bold 12px 'Montserrat', sans-serif;;
}

.nav li {
  display:inline-block;
  margin: 0 0 0 14px;
}
#logo {
  margin-top: 25px;
  text-align: center;
  font-size: 38px;
  line-height: 50px;
  font-family: "Bad Script", cursive;
  color: rgb(226, 101, 30);
}
.main-container {
  position: relative;

  width: 1016px;
  max-width: 100%;
  margin: 45px auto;
  overflow: hidden;

  text-align: justify;

  background: rgb(255, 255, 255) none repeat scroll 0 0;
  -webkit-border-radius: 14px;
          border-radius: 14px;
  -webkit-box-shadow: 0 0 60px rgb(0, 0, 0);
          box-shadow: 0 0 60px rgb(0, 0, 0);
}
.header {
  position: relative;

  margin: 0 auto -5px;
  padding: 10px 25px 0;

  -webkit-border-radius: 14px 14px 0 0;
          border-radius: 14px 14px 0 0;
}
.content {
  padding: 87px 50px 5px;
  overflow: hidden;
}
.avatar {
  display: inline-block;
  width: 15%;
  margin-right: 30px;

  vertical-align: middle;
}
.footer {
  width: 100%;
  margin: 0 auto;
  padding: 0 0 25px;

  font-size: 15px;
  text-align: center;
  color: rgb(15, 15, 15) ! important;
}
.question {
  padding: 0px 20px 0 60px;
}
#sm {
  position: absolute;
  top: 323px;
  left: 50%;
  z-index: 80;

  width: 100%;
  height: 57px;

  background: transparent url(bg-html.jpg) no-repeat scroll 50% 0;
  -webkit-transform: translate(-50%);
      -ms-transform: translate(-50%);
          transform: translate(-50%);
}
.result {
  padding: 10px;

  background: rgb(253, 233, 189) none repeat scroll 0 0;
  border: 1px solid rgb(221, 195, 157);
}
.vk-comment-like {
  position: absolute;
  right: -5px;
  bottom: 10px;

  display: inline-block;
  width: 30px;
  height: 13px;

  background: transparent url("like.png") no-repeat scroll left center;
  -webkit-background-size: contain;
          background-size: contain;
}
.button {
  display: block;
  width: 333px;
  max-width: 100%;
  min-height: 35px;
  margin: 25px auto;
  padding: 16px 5px;

  font: 26px/34px 'Montserrat', sans-serif;
  text-align: center;
  color: rgb(255, 255, 255);
  text-transform: uppercase;
  text-decoration: none;
  text-shadow: 1px 1px 2px rgb(170, 94, 66);

  background: transparent -webkit-gradient(linear, left top, left bottom, from(rgb(245, 131, 94)), to(rgb(174, 93, 66))) repeat scroll 0 0;
  background: transparent -webkit-linear-gradient(top, rgb(245, 131, 94) 0%, rgb(174, 93, 66) 100%) repeat scroll 0 0;
  background: transparent -o-linear-gradient(top, rgb(245, 131, 94) 0%, rgb(174, 93, 66) 100%) repeat scroll 0 0;
  background: transparent linear-gradient(to bottom, rgb(245, 131, 94) 0%, rgb(174, 93, 66) 100%) repeat scroll 0 0;
  -webkit-border-radius: 8px;
          border-radius: 8px;

  -webkit-transition: all 0.7s ease-out 0s;
       -o-transition: all 0.7s ease-out 0s;
          transition: all 0.7s ease-out 0s;
}
.button:hover {
  text-decoration: none ! important;

  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
}
.vk-container {
  margin-top: 40px;

  font-size: 11px;
  line-height: 17px;
  font-family: 'Montserrat', sans-serif;;
  color: black;
  text-decoration: none;
}
.vk-link {
  font-size: 9px;
  text-decoration: none ! important;

  cursor: default ! important;
}
.vk-header {
  margin-bottom: 10px;
  padding: 4px 4px 4px 6px;

  background: rgb(218, 226, 232) none repeat scroll 0 0;
}
.vk-logo {
  float: right;
  width: 16px;
  height: 16px;
  margin-top: -1px;

  background: transparent url("vk-logo.gif") no-repeat scroll 0 0;
}
.vk-header-text {
  padding: 2px 3px 1px;

  font-weight: bold;
  line-height: 100%;
  color: rgb(69, 104, 142);
}
.vk-avatar img {
  float: left;
  margin-right: 10px;
}
.vk-comment,
.vk-comment-load {
  position: relative;

  margin-bottom: 15px;
  padding-bottom: 15px;

  border-bottom: 1px solid rgb(218, 225, 232);
}
#info {
  padding-top: 5px;

  font-size: 13px;
  color: rgb(185, 184, 184);
}
.vk-comment:last-child {
  border-bottom: 0 none;
}
.vk-comment-name {
  font-weight: bold;
  font-size: 12px;
  color: rgb(43, 88, 122);
}
.vk-comment-text {
  margin-left: 60px;
}

.vk-comment-text .vk-link {
  font-size: 11px;
}

.vk-comment-date {
  margin-left: 60px;

  color: rgb(153, 153, 153);
}
.vk-comment-like-count {
  padding-left: 18px;

  font-weight: bold;
  font-size: 10px;
  color: rgb(114, 149, 178);
}
.vk-comment-answer {
  font-size: 9px;
  color: rgb(43, 88, 122);
}
.firstImg {
 
  padding-top: 20px;

}
@media screen and (max-width: 642px) {
  .footer {
    display: none;
  }
  #info {
    display: none;
  }
  .main-container {
    margin-top: 0;
    margin-bottom: 0;

    -webkit-border-radius: 0;
            border-radius: 0;
  }
  #logo {
    margin-top: 20px;

    font-size: 40px;
    text-align: center;
  }
  .avatar {
    width: 25%;
    margin-top: 15px;
    margin-right: 15px;
  }
  h1 {
    width: -webkit-calc(75% - 30px);
    width:         calc(75% - 30px);

    font-size: 18px;
    line-height: 26px;
  }
  .left-img {
    max-width: 100%;
    margin: 5px 0 20px;
  }
  h2 {
    font-size: 18px;
    line-height: 22px;
  }
  .button {
    font-size: 23px;
  }
  .nav {
    margin-top: 15px;
  }
  .nav li {
    margin: 0 4px;
  }
  #sm {
    top: 116px;
    left: 0;

    width: 100%;
    min-width: 100%;
    max-width: 100%;

    -webkit-transform: translate(0%);
        -ms-transform: translate(0%);
            transform: translate(0%);
  }
  .content {
    padding: 70px 10px 0 10px;
  }
  p {
    text-align: left;
  }
  
}
@media screen and (max-width: 400px) {
  #logo {
    font-size: 30px;
    line-height: 35px;
  }
}



/* koleso */
.wheel {
  text-align: center;
}

.wheel__title,
.prize__title {
  margin-bottom: 0.8em;
  font-size: 1.5em;
  font-weight: bold;
}

.wheel__wrapper {
  padding: 1em;
  border: 2px solid #ff7426;
  margin: 2em 0;
  border-radius: 10px;
  -webkit-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 0 0 1px rgba(0, 0, 0, 0.05);
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 0 0 1px rgba(0, 0, 0, 0.05);
}

.order__title {
  font-size: 1.1em;
  font-weight: bold;
}

.wheel__pic {
  position: relative;
}

.prize-wheel {
  -webkit-transition: 4s;
  -o-transition: 4s;
  transition: 4s;
}

.wheel__cursor {
  width: 158px;
  height: 158px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  cursor: pointer;
}
@media (max-width: 500px) {
  .wheel__cursor {
    width: 130px;
    height: 130px;
  }
}

.wheel__cursor-text {
  font-size: 14px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 45%;
  height: 45%;
  border-radius: 100%;
  background-color: #fff;
  -webkit-box-shadow: white 0 -2px 0 inset, white 0 2px 0 inset, rgba(0, 0, 0, 0.4) 0 0 5px;
  box-shadow: white 0 -2px 0 inset, white 0 2px 0 inset, rgba(0, 0, 0, 0.4) 0 0 5px;
  text-transform: uppercase;
  font-weight: bold;
}

.spin {
  -webkit-animation: spin 7s ease-in-out forwards;
  animation: spin 7s ease-in-out forwards;
}

@-webkit-keyframes spin {
  70% {
    -webkit-transform: rotate(1783deg);
    transform: rotate(1783deg);
  }
  100% {
    -webkit-transform: rotate(1774deg);
    transform: rotate(1774deg);
  }
}

@keyframes spin {
  70% {
    -webkit-transform: rotate(1783deg);
    transform: rotate(1783deg);
  }
  100% {
    -webkit-transform: rotate(1774deg);
    transform: rotate(1774deg);
  }
}
/*order*/
.order {
  display: none;
}

.order__product {
  position: relative;
  text-align: center;
}

.sale {
  position: absolute;
  width: 3.5em;
  height: 3.5em;
  top: 0;
  left: 0;
  font-size: 29px;
  font-weight: bold;
  color: #fff;
  letter-spacing: 0px;
  text-shadow: 1px 1px 2px black;
  z-index: 1;
  line-height: 3.5em;
  background: url('sale.png') center center/cover no-repeat;
}
@media (max-width: 500px) {
  .sale {   
    font-size: 18px;
    letter-spacing: 1px;
    top: 0;
    left: 0;
  }
}

.bottom-teaser .sale {
  display: none;
}
.bottom-teaser .sale.shown {
  display: block;
}

.order__afisha {
  position: relative;
  display: inline-block;
  width: 50%;
  margin-bottom: 1.5em;
}

.order__info {
  position: absolute;
  bottom: 0;
  right: 0;
  -webkit-transform: rotateZ(-7deg);
  -ms-transform: rotate(-7deg);
  transform: rotateZ(-7deg);
  padding: 0.8em;
  border: 2px solid #fff;
  border-radius: 10px;
  background-color: #ff7426;
  -webkit-box-shadow: rgba(0, 0, 0, 0.5) 0px 3px 20px;
  box-shadow: rgba(0, 0, 0, 0.5) 0px 3px 20px;
  font-weight: bold;
}


.order__lead {
  letter-spacing: 2px;
}

.order__price {
  display: inline-block;
}
.order__price.old {
  text-decoration: line-through;
}
.order__price.new {
  font-size: 2em;
  color: #fff;
  margin-top: 5px;
  padding-bottom: 2px;
  border-bottom: 2px solid #59c12d;
}
@media (max-width: 600px) {
  .order__info {
    right: 12px;
    bottom: 0;
  }
.order__price.new {
font-size: 1.3em;
}
.order__afisha{
width: 100%;
}

}
.timer {
  font-size: 1.5em;
  margin: 0.5em 0;
  font-weight: bold;
}

.pack {
  font-size: 1.3em;
  font-weight: bold;
}

/*popup*/
.overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 200;
}

.popup {
  position: absolute;
  top: -100%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  max-width: 500px;
  padding: 2.9em 0.5em 1em 0.5em;
  text-align: center;
  font-size: 18px;
  background-color: #fff;
  border-radius: 10px;
  -webkit-animation: toUp 1s ease 0.2s forwards;
  animation: toUp 1s ease 0.2s forwards;
}
@media (min-width: 320px) {
  .popup {
    font-size: 16px;
    font-size: calc(0.0070175439 * 100vw + 15.7543859649px);
  }
}
@media (min-width: 1460px) {
  .popup {
    font-size: 26px;
  }
}
@media (max-width: 700px) {
  .popup {
    width: 90%;
    max-width: 90%;
  }
}

@-webkit-keyframes toUp {
  100% {
    top: 50%;
  }
}

@keyframes toUp {
  100% {
    top: 50%;
  }
}


.popup__title {
  font-size: 1.5em;
  margin-bottom: 0.5em;
}

.popup__text {
  padding-bottom: 1em;
}

.popup__icon {
  position: absolute;
  top: -50px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  width: 4.2em;
  height: 4.2em;
  border-radius: 100%;
  color: #fff;
}
.popup__icon.prize {
  background-color: #59c12d;
}
.popup__icon.prize:before {
  content: "";
  position: absolute;
  top: 40%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) rotate(-45deg);
  -ms-transform: translate(-50%, -50%) rotate(-45deg);
  transform: translate(-50%, -50%) rotate(-45deg);
  width: 2.2em;
  height: 1.1em;
  border-left: 3px solid;
  border-bottom: 3px solid;
}
.popup__icon.false {
  background-color: #ff7426;
}
.popup__icon.false:before,
.popup__icon.false:after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 2.2em;
  height: 2px;
  background-color: #fff;
}
.popup__icon.false:before {
  -webkit-transform: translate(-50%, -50%) rotate(45deg);
  -ms-transform: translate(-50%, -50%) rotate(45deg);
  transform: translate(-50%, -50%) rotate(45deg);
}
.popup__icon.false:after {
  -webkit-transform: translate(-50%, -50%) rotate(-45deg);
  -ms-transform: translate(-50%, -50%) rotate(-45deg);
  transform: translate(-50%, -50%) rotate(-45deg);
}
.accent {
  color: #ff7426;
}

.accent2 {
  color:
  #ffc14f;
}


.order__form {
  max-width: 500px;
  margin: 0 auto 30px;
}

.order__form-row,
.comments__form-row,
.calc__form-row {
  margin-bottom: 1.1em;
}
.order__form-row label,
.comments__form-row label,
.calc__form-row label {
  display: block;
  margin-bottom: 10px;
}
.order__price

.order__form-row,
.order__form-row select,
.wheel_input,
.only__number {
  display: block;
  padding: 10px;
  border: none;
  border-bottom: 1px solid #838383;
  border-radius: 5px;
  width: 100%;
  text-align: center;
}

.order__form-row select {
  width: 100%;
}


select::-ms-expand {
  display: none;
}

.formResult {
  padding: 10px;
  margin: 10px 0;
}
.comments__form {
  max-width: 500px;
  margin: 40px auto;
}

.calc {
  max-width: 500px;
  margin: 0 auto;
}

.comments__form-row input[type="file"] {
  text-align: left;
}

.btn {
  display: inline-block;
  font-size: 1em;
  color: #fff;
  padding: 0.5em 1em;
  border: 2px solid transparent;
  border-radius: 5px;
  background-color: #ff7426;
  -webkit-transition: all 0.3s ;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  cursor: pointer;
  text-decoration: none;
}
.btn:hover {
  background-color: #fff;
  color: #ff7426;
  border-color: currentColor;
}
.btn--submit {
  background-color: #59c12d;
}
.btn--submit:hover {
  color: #59c12d;
}