/* cyrillic-ext */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: local('Roboto'), local('Roboto-Regular'), url(fonts/KFOmCnqEu92Fr1Mu72xMOzY.woff) format('woff');
    unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: local('Roboto'), local('Roboto-Regular'), url(fonts/KFOmCnqEu92Fr1Mu5mxMOzY.woff) format('woff');
    unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* greek-ext */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: local('Roboto'), local('Roboto-Regular'), url(fonts/KFOmCnqEu92Fr1Mu7mxMOzY.woff) format('woff');
    unicode-range: U+1F00-1FFF;
}
/* greek */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: local('Roboto'), local('Roboto-Regular'), url(fonts/KFOmCnqEu92Fr1Mu4WxMOzY.woff) format('woff');
    unicode-range: U+0370-03FF;
}
/* vietnamese */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: local('Roboto'), local('Roboto-Regular'), url(fonts/KFOmCnqEu92Fr1Mu7WxMOzY.woff) format('woff');
    unicode-range: U+0102-0103, U+0110-0111, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: local('Roboto'), local('Roboto-Regular'), url(fonts/KFOmCnqEu92Fr1Mu7GxMOzY.woff) format('woff');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: local('Roboto'), local('Roboto-Regular'), url(fonts/KFOmCnqEu92Fr1Mu4mxM.woff) format('woff');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* cyrillic-ext */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    src: local('Roboto Medium'), local('Roboto-Medium'), url(fonts/KFOlCnqEu92Fr1MmEU9fCRc-EsA.woff) format('woff');
    unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    src: local('Roboto Medium'), local('Roboto-Medium'), url(fonts/KFOlCnqEu92Fr1MmEU9fABc-EsA.woff) format('woff');
    unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* greek-ext */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    src: local('Roboto Medium'), local('Roboto-Medium'), url(fonts/KFOlCnqEu92Fr1MmEU9fCBc-EsA.woff) format('woff');
    unicode-range: U+1F00-1FFF;
}
/* greek */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    src: local('Roboto Medium'), local('Roboto-Medium'), url(fonts/KFOlCnqEu92Fr1MmEU9fBxc-EsA.woff) format('woff');
    unicode-range: U+0370-03FF;
}
/* vietnamese */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    src: local('Roboto Medium'), local('Roboto-Medium'), url(fonts/KFOlCnqEu92Fr1MmEU9fCxc-EsA.woff) format('woff');
    unicode-range: U+0102-0103, U+0110-0111, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    src: local('Roboto Medium'), local('Roboto-Medium'), url(fonts/KFOlCnqEu92Fr1MmEU9fChc-EsA.woff) format('woff');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    src: local('Roboto Medium'), local('Roboto-Medium'), url(fonts/KFOlCnqEu92Fr1MmEU9fBBc-.woff) format('woff');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* cyrillic-ext */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    src: local('Roboto Bold'), local('Roboto-Bold'), url(fonts/KFOlCnqEu92Fr1MmWUlfCRc-EsA.woff) format('woff');
    unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    src: local('Roboto Bold'), local('Roboto-Bold'), url(fonts/KFOlCnqEu92Fr1MmWUlfABc-EsA.woff) format('woff');
    unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* greek-ext */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    src: local('Roboto Bold'), local('Roboto-Bold'), url(fonts/KFOlCnqEu92Fr1MmWUlfCBc-EsA.woff) format('woff');
    unicode-range: U+1F00-1FFF;
}
/* greek */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    src: local('Roboto Bold'), local('Roboto-Bold'), url(fonts/KFOlCnqEu92Fr1MmWUlfBxc-EsA.woff) format('woff');
    unicode-range: U+0370-03FF;
}
/* vietnamese */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    src: local('Roboto Bold'), local('Roboto-Bold'), url(fonts/KFOlCnqEu92Fr1MmWUlfCxc-EsA.woff) format('woff');
    unicode-range: U+0102-0103, U+0110-0111, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    src: local('Roboto Bold'), local('Roboto-Bold'), url(fonts/KFOlCnqEu92Fr1MmWUlfChc-EsA.woff) format('woff');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    src: local('Roboto Bold'), local('Roboto-Bold'), url(fonts/KFOlCnqEu92Fr1MmWUlfBBc-.woff) format('woff');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* cyrillic-ext */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 900;
    src: local('Roboto Black'), local('Roboto-Black'), url(fonts/KFOlCnqEu92Fr1MmYUtfCRc-EsA.woff) format('woff');
    unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 900;
    src: local('Roboto Black'), local('Roboto-Black'), url(fonts/KFOlCnqEu92Fr1MmYUtfABc-EsA.woff) format('woff');
    unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* greek-ext */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 900;
    src: local('Roboto Black'), local('Roboto-Black'), url(fonts/KFOlCnqEu92Fr1MmYUtfCBc-EsA.woff) format('woff');
    unicode-range: U+1F00-1FFF;
}
/* greek */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 900;
    src: local('Roboto Black'), local('Roboto-Black'), url(fonts/KFOlCnqEu92Fr1MmYUtfBxc-EsA.woff) format('woff');
    unicode-range: U+0370-03FF;
}
/* vietnamese */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 900;
    src: local('Roboto Black'), local('Roboto-Black'), url(fonts/KFOlCnqEu92Fr1MmYUtfCxc-EsA.woff) format('woff');
    unicode-range: U+0102-0103, U+0110-0111, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 900;
    src: local('Roboto Black'), local('Roboto-Black'), url(fonts/KFOlCnqEu92Fr1MmYUtfChc-EsA.woff) format('woff');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 900;
    src: local('Roboto Black'), local('Roboto-Black'), url(fonts/KFOlCnqEu92Fr1MmYUtfBBc-.woff) format('woff');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* cyrillic-ext */
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    src: local('Open Sans Regular'), local('OpenSans-Regular'), url(fonts/mem8YaGs126MiZpBA-UFWJ0dbck.woff) format('woff');
    unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    src: local('Open Sans Regular'), local('OpenSans-Regular'), url(fonts/mem8YaGs126MiZpBA-UFUZ0dbck.woff) format('woff');
    unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* greek-ext */
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    src: local('Open Sans Regular'), local('OpenSans-Regular'), url(fonts/mem8YaGs126MiZpBA-UFWZ0dbck.woff) format('woff');
    unicode-range: U+1F00-1FFF;
}
/* greek */
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    src: local('Open Sans Regular'), local('OpenSans-Regular'), url(fonts/mem8YaGs126MiZpBA-UFVp0dbck.woff) format('woff');
    unicode-range: U+0370-03FF;
}
/* vietnamese */
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    src: local('Open Sans Regular'), local('OpenSans-Regular'), url(fonts/mem8YaGs126MiZpBA-UFWp0dbck.woff) format('woff');
    unicode-range: U+0102-0103, U+0110-0111, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    src: local('Open Sans Regular'), local('OpenSans-Regular'), url(fonts/mem8YaGs126MiZpBA-UFW50dbck.woff) format('woff');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    src: local('Open Sans Regular'), local('OpenSans-Regular'), url(fonts/mem8YaGs126MiZpBA-UFVZ0d.woff) format('woff');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* cyrillic-ext */
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    src: local('Open Sans SemiBold'), local('OpenSans-SemiBold'), url(fonts/mem5YaGs126MiZpBA-UNirkOX-hvOqc.woff) format('woff');
    unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    src: local('Open Sans SemiBold'), local('OpenSans-SemiBold'), url(fonts/mem5YaGs126MiZpBA-UNirkOVuhvOqc.woff) format('woff');
    unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* greek-ext */
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    src: local('Open Sans SemiBold'), local('OpenSans-SemiBold'), url(fonts/mem5YaGs126MiZpBA-UNirkOXuhvOqc.woff) format('woff');
    unicode-range: U+1F00-1FFF;
}
/* greek */
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    src: local('Open Sans SemiBold'), local('OpenSans-SemiBold'), url(fonts/mem5YaGs126MiZpBA-UNirkOUehvOqc.woff) format('woff');
    unicode-range: U+0370-03FF;
}
/* vietnamese */
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    src: local('Open Sans SemiBold'), local('OpenSans-SemiBold'), url(fonts/mem5YaGs126MiZpBA-UNirkOXehvOqc.woff) format('woff');
    unicode-range: U+0102-0103, U+0110-0111, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    src: local('Open Sans SemiBold'), local('OpenSans-SemiBold'), url(fonts/mem5YaGs126MiZpBA-UNirkOXOhvOqc.woff) format('woff');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    src: local('Open Sans SemiBold'), local('OpenSans-SemiBold'), url(fonts/mem5YaGs126MiZpBA-UNirkOUuhv.woff) format('woff');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* cyrillic-ext */
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    src: local('Open Sans Bold'), local('OpenSans-Bold'), url(fonts/mem5YaGs126MiZpBA-UN7rgOX-hvOqc.woff) format('woff');
    unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    src: local('Open Sans Bold'), local('OpenSans-Bold'), url(fonts/mem5YaGs126MiZpBA-UN7rgOVuhvOqc.woff) format('woff');
    unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* greek-ext */
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    src: local('Open Sans Bold'), local('OpenSans-Bold'), url(fonts/mem5YaGs126MiZpBA-UN7rgOXuhvOqc.woff) format('woff');
    unicode-range: U+1F00-1FFF;
}
/* greek */
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    src: local('Open Sans Bold'), local('OpenSans-Bold'), url(fonts/mem5YaGs126MiZpBA-UN7rgOUehvOqc.woff) format('woff');
    unicode-range: U+0370-03FF;
}
/* vietnamese */
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    src: local('Open Sans Bold'), local('OpenSans-Bold'), url(fonts/mem5YaGs126MiZpBA-UN7rgOXehvOqc.woff) format('woff');
    unicode-range: U+0102-0103, U+0110-0111, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    src: local('Open Sans Bold'), local('OpenSans-Bold'), url(fonts/mem5YaGs126MiZpBA-UN7rgOXOhvOqc.woff) format('woff');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    src: local('Open Sans Bold'), local('OpenSans-Bold'), url(fonts/mem5YaGs126MiZpBA-UN7rgOUuhv.woff) format('woff');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* cyrillic-ext */
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 800;
    src: local('Open Sans ExtraBold'), local('OpenSans-ExtraBold'), url(fonts/mem5YaGs126MiZpBA-UN8rsOX-hvOqc.woff) format('woff');
    unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 800;
    src: local('Open Sans ExtraBold'), local('OpenSans-ExtraBold'), url(fonts/mem5YaGs126MiZpBA-UN8rsOVuhvOqc.woff) format('woff');
    unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* greek-ext */
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 800;
    src: local('Open Sans ExtraBold'), local('OpenSans-ExtraBold'), url(fonts/mem5YaGs126MiZpBA-UN8rsOXuhvOqc.woff) format('woff');
    unicode-range: U+1F00-1FFF;
}
/* greek */
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 800;
    src: local('Open Sans ExtraBold'), local('OpenSans-ExtraBold'), url(fonts/mem5YaGs126MiZpBA-UN8rsOUehvOqc.woff) format('woff');
    unicode-range: U+0370-03FF;
}
/* vietnamese */
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 800;
    src: local('Open Sans ExtraBold'), local('OpenSans-ExtraBold'), url(fonts/mem5YaGs126MiZpBA-UN8rsOXehvOqc.woff) format('woff');
    unicode-range: U+0102-0103, U+0110-0111, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 800;
    src: local('Open Sans ExtraBold'), local('OpenSans-ExtraBold'), url(fonts/mem5YaGs126MiZpBA-UN8rsOXOhvOqc.woff) format('woff');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 800;
    src: local('Open Sans ExtraBold'), local('OpenSans-ExtraBold'), url(fonts/mem5YaGs126MiZpBA-UN8rsOUuhv.woff) format('woff');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Roboto';
  line-height: 1.4em;
}

.container {
  max-width: 1075px;
  width: 100%;
  background-color: #fff;
  margin: 25px 0;
  padding: 0 25px 100px;
}

header {
  border: 2px solid #b8b8b8;
  border-top: none;
  border-left: none;
  border-right: none;
  margin-bottom: 40px;
}

header .header_content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-image: url("header_img.png");
  background-position: 65% bottom;
  background-repeat: no-repeat;
}

header .header_content h1 {
  max-width: 540px;
  width: 100%;
  font-family: 'Open Sans', sans-serif;
  color: #1b478a;
  font-size: 36px;
  font-weight: 700;
  text-align: left;
  margin: 35px 0;
  text-transform: uppercase;
}

header .header_content h1 span {
  color: #000000;
  font-size: 24px;
  font-weight: 400;
  text-align: left;
  text-transform: none;
}

header .header_input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border: 1px solid #707070;
  height: 35px;
  max-width: 290px;
  width: 100%;
}

header .header_input input {
  border: none;
  width: 100%;
  height: 100%;
}

header .header_input img {
  border-left: 1px solid #b8b8b8;
  padding: 0 5px;
}

header .header_box {
  background-color: #1b478a;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

header ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  list-style: none;
}

header ul li {
  padding: 10px 20px 10px;
}

header ul li a {
  color: #1c1c1c;
  font-size: 18px;
  font-weight: 400;
  line-height: 18px;
  text-align: center;
  text-decoration: none;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  max-width: 1025px;
  width: auto;
}

.content {
  width: auto;
}

.content h2 {
  color: #000000;
  font-size: 48px;
  font-weight: 700;
  line-height: 1.4em;
  text-align: left;
  margin-top: 10px;
}

.content h2 span {
  font-size: 30px;
}

.content h3 {
  color: #000000;
  font-size: 20px;
  font-weight: 700;
  line-height: 1.4em;
  text-align: left;
}

.content h4 {
  color: #000000;
  font-size: 27px;
  font-weight: 500;
  text-align: left;
  line-height: 1.4em;
  margin: 30px 0 20px;
}

.content p {
  color: #000000;
  font-size: 17px;
  font-weight: 400;
  line-height: 1.4em;
  text-align: left;
  margin: 20px 0;
}

.content .img2 {
  max-width: 260px;
  width: 100%;
  float: left;
  margin: 0 25px 25px 25px;
}

.content ul {
  margin-left: 25px;
}

.content ul li h4 {
  color: #000000;
  font-size: 20px;
  font-weight: 700;
  line-height: 1.4em;
  text-align: left;
  margin: 0;
}

.content ul li p {
  margin: 5px 0 25px;
}

.content h5 {
  color: #000000;
  font-size: 22px;
  font-weight: 700;
  margin: 30px 0 0;
}

.content .cta {
  color: #0006ff;
  font-size: 25px;
  font-weight: 700;
  line-height: 32px;
  text-decoration: underline;
  text-align: left;
  line-height: 1.4em;
}

.chart {
  max-width: 545px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: 3px solid #000;
  border-top: none;
  border-right: none;
  margin: 25px auto 0;
}

.chart article {
  width: 25%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

.chart article p {
  text-align: center;
  font-size: 13px;
  margin: 10px 0;
  padding: 10px;
}

.chart article div {
  background-color: #429543;
  width: 40%;
  height: 100px;
}

.chart_text {
  margin: auto;
  max-width: 545px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 25px;
}

.chart_text p {
  width: 25%;
  text-align: center;
  margin: 0;
  font-size: 18px;
  font-weight: 700;
  margin: 5px 0;
}
.wrapper > strong {
  width: 40%;
}
.sidebar {
  width: auto;
  margin-left: 30px;
  max-width: 360px;
}

.sidebar h2 {
  background-color: #d3d3d3;
  color: #000000;
  font-size: 22px;
  font-weight: 700;
  text-align: center;
  padding: 10px;
}

.sidebar article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 20px;
}

.sidebar article p {
  color: #000000;
  font-size: 15px;
  font-weight: 400;
  text-align: left;
  margin-left: 10px;
}

.sidebar a {
  text-decoration: none;
}

.sidebar .banner {
  background: -webkit-linear-gradient(top, #ebd50c 0%, #795e8e 100%);
  background: linear-gradient(to bottom, #ebd50c 0%, #795e8e 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ebd50c', endColorstr='#795e8e', GradientType=0);
  padding: 20px 0;
  border: 1px solid #000;
  cursor: pointer;
}

.sidebar .banner h2 {
  color: #ffffff;
  font-size: 34px;
  font-weight: 700;
  line-height: 32px;
  text-align: center;
  background-color: #3454b9;
  padding: 15px;
}

.sidebar .banner p {
  text-decoration: none;
  color: #ffffff;
  font-size: 22px;
  font-weight: 700;
  line-height: 32px;
  text-align: center;
  border-radius: 10px;
  background: -webkit-linear-gradient(90deg, #0056ba 0%, #4494f1 100%);
  background: -webkit-linear-gradient(bottom, #0056ba 0%, #4494f1 100%);
  background: linear-gradient(0deg, #0056ba 0%, #4494f1 100%);
  box-shadow: 0px 1px 6.96px 1.04px rgba(0, 0, 0, 0.63);
  max-width: 200px;
  width: 100%;
  padding: 10px 0;
  margin: 10px auto 0;
}

.sidebar .banner img {
  max-width: 330px;
  width: 100%;
}

.comments {
  margin-top: 50px;
  max-width: 690px;
  width: 100%;
}

.comments h2 {
  max-width: 220px;
  width: 100%;
  color: #3a3a3a;
  font-size: 32px;
  font-weight: 700;
  text-align: left;
  border-bottom: 2px solid #434343;
  margin-bottom: 15px;
}

.comments article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  padding: 20px 0;
  border-bottom: 2px solid #dedede;
}

.comments article div {
  width: 100%;
}

.comments article img {
  margin-right: 15px;
}

.comments article h3 {
  color: #000000;
  font-size: 15px;
  font-weight: 900;
  font-style: italic;
  text-align: left;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.comments article h3 span {
  color: #000000;
  font-size: 12px;
  font-weight: 400;
  text-align: right;
}

.comments article p {
  color: #000000;
  font-size: 15px;
  font-weight: 400;
  text-align: left;
  margin-top: 5px;
}

div.aw-widget-36hour-inner {
  min-width: 0px!important;
}

footer {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}

footer a, .footer-links {
  color: grey;
  font-weight: normal;
  text-decoration: none;
  font-size: 11px;
}
.myCurs {
  position: absolute;
  right: 200px;
  top: 100px;
  display: none;
  z-index: 101;
  width: 18px;
}

footer .footer-links-impressum, footer .footer-links-impressum a{
  color: #3b5998; text-align:center;font-size: 14px; text-decoration: none;
}
.video_lp{
  width: 100%;
  margin: 25px 0 15px;
}
.wrapper .content .vjs-afterglow-skin.vjs-responsive, .wrapper .content .vjs-afterglow-skin.vjs-responsive video{
  background-color: transparent;
  max-height: 375px;
  height: 100%;
}
.vjs-fullscreen-control{
  display: none !important;
}

#link_get_widget {
                display: none ! important;
            }

            #link_logo {
                height: 33px;
            }

            #link_logo>img {
                display: none !important;
            }

            div.aw-temp-unit {
                height: 22px !important;
            }

            div.aw-temp-unit>ul {
                display: none;
            }

            .aw-widget-36hour .tbg-su,
            .aw-widget-36hour .bg-su,
            .aw-widget-current .tbg-su,
            .aw-widget-current .bg-su {
                background: none !important;
            }

            #link_arrow_right {
                display: none;
            }

            .aw-widget-36hour .tbg-cl,
            .aw-widget-36hour .bg-cl,
            .aw-widget-current .tbg-cl,
            .aw-widget-current .bg-cl {
                background: none !important;
                color: white !important;
            }

            div.aw-widget-36hour-inner div.aw-widget-content div.aw-36-hours li.night a {
                color: black !important;
            }

            .aw-widget-36hour .tbg-c,
            .aw-widget-36hour .bg-c,
            .aw-widget-current .tbg-c,
            .aw-widget-current .bg-c {
                background: none !important;
            }

            div.aw-widget-36hour-inner div.aw-widget-content div.aw-header div.aw-search {
                border: 1px solid #E9E9E9 !important;
            }

            div.aw-widget-36hour-inner div.aw-widget-content div.aw-header div.aw-search button.aw-submit-button {
                background: none !important;
            }

            div.aw-widget-36hour-inner div.aw-widget-content div.aw-36-hours span.aw-day-details,
            div.aw-header {
                display: none !important;
            }

            div.aw-widget-36hour-inner div.aw-widget-content {
                border-bottom: 1px solid #e9e9e9 !important;
            }

            div.aw-widget-36hour-inner div.aw-widget-content div.aw-36-hours li a .aw-bg {
                border: none !important;
            }

            div.aw-widget-36hour-inner div.aw-widget-content div.aw-36-hours li a:hover .aw-bg {
                border: 1px solid #e8e8e8 !important;
            }

            div.aw-widget-36hour-inner div.aw-widget-content div.aw-36-hours li.night a:hover .aw-bg {
                border: 1px solid #e8e8e8 !important;
            }

            #link_current {
                cursor: default;
            }

            div.pogoda {
                position: relative;
            }

            .aw-widget-36hour .tbg-t,
            .aw-widget-36hour .bg-t,
            .aw-widget-current .tbg-t,
            .aw-widget-current .bg-t,
            .aw-widget-36hour .tbg-s,
            .aw-widget-36hour .bg-s,
            .aw-widget-current .tbg-s,
            .aw-widget-current .bg-s,
            .aw-widget-36hour .tbg-r,
            .aw-widget-36hour .bg-r,
            .aw-widget-current .tbg-r,
            .aw-widget-current .bg-r {
                background: none !important;
            }

            div.aw-widget-36hour-inner div.aw-widget-content.bg-cl,
            div.aw-widget-36hour-inner div.aw-widget-content.bg-s,
            div.aw-widget-36hour-inner div.aw-widget-content.bg-cl a.aw-current-weather div.aw-current-weather-info,
            div.aw-widget-36hour-inner div.aw-widget-content.bg-s a.aw-current-weather div.aw-current-weather-info {
                color: #000 !important;
            }

            #akudet {
                position: absolute;
                width: 100%;
                height: 100%;
                top: 0px;
                z-index: 9999;
            }

            span.aw-icon-1-l,
            span.aw-icon-1-m,
            span.aw-icon-1-s {
                background: url('1.png') no-repeat;
            }

            span.aw-icon-2-l,
            span.aw-icon-2-m,
            span.aw-icon-2-s {
                background: url('2.png') no-repeat;
            }

            span.aw-icon-3-l,
            span.aw-icon-3-m,
            span.aw-icon-3-s {
                background: url('3.png') no-repeat;
            }

            span.aw-icon-4-l,
            span.aw-icon-4-m,
            span.aw-icon-4-s {
                background: url('4.png') no-repeat;
            }

            span.aw-icon-5-l,
            span.aw-icon-5-m,
            span.aw-icon-5-s {
                background: url('5.png') no-repeat;
            }

            span.aw-icon-6-l,
            span.aw-icon-6-m,
            span.aw-icon-6-s {
                background: url('6.png') no-repeat;
            }

            span.aw-icon-7-l,
            span.aw-icon-7-m,
            span.aw-icon-7-s {
                background: url('7.png') no-repeat;
            }

            span.aw-icon-8-l,
            span.aw-icon-8-m,
            span.aw-icon-8-s {
                background: url('8.png') no-repeat;
            }

            span.aw-icon-11-l,
            span.aw-icon-11-m,
            span.aw-icon-11-s {
                background: url('11.png') no-repeat;
            }

            span.aw-icon-12-l,
            span.aw-icon-12-m,
            span.aw-icon-12-s {
                background: url('12.png') no-repeat;
            }

            span.aw-icon-13-l,
            span.aw-icon-13-m,
            span.aw-icon-13-s {
                background: url('13.png') no-repeat;
            }

            span.aw-icon-14-l,
            span.aw-icon-14-m,
            span.aw-icon-14-s {
                background: url('14.png') no-repeat;
            }

            span.aw-icon-15-l,
            span.aw-icon-15-m,
            span.aw-icon-15-s {
                background: url('15.png') no-repeat;
            }

            span.aw-icon-16-l,
            span.aw-icon-16-m,
            span.aw-icon-16-s {
                background: url('16.png') no-repeat;
            }

            span.aw-icon-17-l,
            span.aw-icon-17-m,
            span.aw-icon-17-s {
                background: url('17.png') no-repeat;
            }

            span.aw-icon-18-l,
            span.aw-icon-18-m,
            span.aw-icon-18-s {
                background: url('18.png') no-repeat;
            }

            span.aw-icon-19-l,
            span.aw-icon-19-m,
            span.aw-icon-19-s {
                background: url('19.png') no-repeat;
            }

            span.aw-icon-20-l,
            span.aw-icon-20-m,
            span.aw-icon-20-s {
                background: url('20.png') no-repeat;
            }

            span.aw-icon-21-l,
            span.aw-icon-21-m,
            span.aw-icon-21-s {
                background: url('21.png') no-repeat;
            }

            span.aw-icon-22-l,
            span.aw-icon-22-m,
            span.aw-icon-22-s {
                background: url('22.png') no-repeat;
            }

            span.aw-icon-23-l,
            span.aw-icon-23-m,
            span.aw-icon-23-s {
                background: url('23.png') no-repeat;
            }

            span.aw-icon-24-l,
            span.aw-icon-24-m,
            span.aw-icon-24-s {
                background: url('24.png') no-repeat;
            }

            span.aw-icon-25-l,
            span.aw-icon-25-m,
            span.aw-icon-25-s {
                background: url('25.png') no-repeat;
            }

            span.aw-icon-26-l,
            span.aw-icon-26-m,
            span.aw-icon-26-s {
                background: url('26.png') no-repeat;
            }

            span.aw-icon-29-l,
            span.aw-icon-29-m,
            span.aw-icon-29-s {
                background: url('29.png') no-repeat;
            }

            span.aw-icon-30-l,
            span.aw-icon-30-m,
            span.aw-icon-30-s {
                background: url('30.png') no-repeat;
            }

            span.aw-icon-31-l,
            span.aw-icon-31-m,
            span.aw-icon-31-s {
                background: url('31.png') no-repeat;
            }

            span.aw-icon-32-l,
            span.aw-icon-32-m,
            span.aw-icon-32-s {
                background: url('32.png') no-repeat;
            }

            span.aw-icon-33-l,
            span.aw-icon-33-m,
            span.aw-icon-33-s {
                background: url('33.png') no-repeat;
            }

            span.aw-icon-34-l,
            span.aw-icon-34-m,
            span.aw-icon-34-s {
                background: url('34.png') no-repeat;
            }

            span.aw-icon-35-l,
            span.aw-icon-35-m,
            span.aw-icon-35-s {
                background: url('35.png') no-repeat;
            }

            span.aw-icon-36-l,
            span.aw-icon-36-m,
            span.aw-icon-36-s {
                background: url('36.png') no-repeat;
            }

            span.aw-icon-37-l,
            span.aw-icon-37-m,
            span.aw-icon-37-s {
                background: url('37.png') no-repeat;
            }

            span.aw-icon-38-l,
            span.aw-icon-38-m,
            span.aw-icon-38-s {
                background: url('38.png') no-repeat;
            }

            span.aw-icon-39-l,
            span.aw-icon-39-m,
            span.aw-icon-39-s {
                background: url('39.png') no-repeat;
            }

            span.aw-icon-40-l,
            span.aw-icon-40-m,
            span.aw-icon-40-s {
                background: url('40.png') no-repeat;
            }

            span.aw-icon-41-l,
            span.aw-icon-41-m,
            span.aw-icon-41-s {
                background: url('41.png') no-repeat;
            }

            span.aw-icon-42-l,
            span.aw-icon-42-m,
            span.aw-icon-42-s {
                background: url('42.png') no-repeat;
            }

            span.aw-icon-43-l,
            span.aw-icon-43-m,
            span.aw-icon-43-s {
                background: url('43.png') no-repeat;
            }

            span.aw-icon-44-l,
            span.aw-icon-44-m,
            span.aw-icon-44-s {
                background: url('44.png') no-repeat;
            }

            .lt-480 div.aw-widget-36hour-inner div.aw-widget-content a.aw-current-weather {
                padding-top: 10px !important;
            }

            .lt-480 div.aw-widget-36hour-inner div.aw-top-content div.aw-emergency-header,
            div.aw-more-block,
            div.aw-alert-info,
            div.aw-six-hours,
            div.aw-more-block.aw-more-block-first {
                display: none;
            }

            .aw-fc-status {
                display: none;
            }