
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn,
em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b,
u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table,
caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details,
embed, figure, figcaption, footer, header, menu, nav, output, ruby, section,
summary, time, mark, audio, video{margin:0;padding:0;border:0;outline:0;}
article, aside, details, figcaption, figure, footer, header, menu, nav, section, main{display:block;}
ol, ul{list-style:none;font-size:0;}
blockquote, q{quotes:none;}
img{max-width:100%;height:auto;}
a{text-decoration:underline;}
a:hover{cursor:pointer;}
*::-webkit-input-placeholder{color:#a9a9a9;opacity:1;}
*:-moz-placeholder{color:#a9a9a9;opacity:1;}
*::-moz-placeholder{color:#a9a9a9;opacity:1;}
*:-ms-input-placeholder{color:#a9a9a9;opacity:1;}
*{margin:0;padding:0;}
*{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;}
button,input,a{outline:none;}
a{-webkit-touch-callout:none;-webkit-user-select:none;-khtml-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;}
.forma input.field:focus::-webkit-input-placeholder{opacity:0;}
.forma input.field:focus::-moz-placeholder{opacity:0;}
.forma input.field:focus:-moz-placeholder{opacity:0;}
.forma input.field:focus:-ms-input-placeholder{opacity:0;}
.forma input.field::-webkit-input-placeholder{color:#222;opacity:1;}
.forma input.field:-moz-placeholder{color:#222;opacity:1;}
.forma input.field::-moz-placeholder{color:#222;opacity:1;}
.forma input.field:-ms-input-placeholder{color:#222;opacity:1;}
.forma input.input-phone:focus::-webkit-input-placeholder{opacity:0;}
.forma input.input-phone:focus::-moz-placeholder{opacity:0;}
.forma input.input-phone:focus:-moz-placeholder{opacity:0;}
.forma input.input-phone:focus:-ms-input-placeholder{opacity:0;}
.forma input.input-phone::-webkit-input-placeholder{color:#222;opacity:1;}
.forma input.input-phone:-moz-placeholder{color:#222;opacity:1;}
.forma input.input-phone::-moz-placeholder{color:#222;opacity:1;}
.forma input.input-phone:-ms-input-placeholder{color:#222;opacity:1;}
.hidden{display:none;}
.left{float:left;}
.right{float:right;}
.center{text-align:center;}
.center-justified{text-align:center;-moz-text-align-last:center;text-align-last:center;}
.clearfix:after, .use li:after{content:'';display:block;clear:both;}
.clear{clear:both;height:0px;}

html{-ms-text-size-adjust:100%;-moz-text-size-adjust:100%;-webkit-text-size-adjust:100%;-webkit-font-smoothing:subpixel-antialiased !important;}
h1,h2,h3,h4,h5,h6{font-family: 'Merriweather', serif;font-weight:700;text-transform:uppercase;line-height:1.2em;}
b,strong{font-weight:700;}
body{width:100%;min-width:320px;padding:0px;margin:0px auto;font-family: 'Merriweather', serif;font-weight:400;font-size:16px;line-height:1.5em;color:#222;background:#fff;}
section{width:100%;max-width:1920px;margin:0 auto;padding:40px 0;}
.wrap{width:960px;padding:0px 10px;margin:0 auto;height:100%;position:relative;}
.wrap:after{clear:both;content:"";display:table;}
.forma input.field{position:relative;display:block;outline:0;border:none;border-radius:3px;-webkit-border-radius:3px;width:100%;height:60px;line-height:60px;margin:0 auto 8px;padding:0 20px;background:#fff;text-align:left;font-size:16px;font-family:'a', sans-serif;font-weight:400;color:#222222;-webkit-transition:all 0.2s;-moz-transition:all 0.2s;-o-transition:all 0.2s;-ms-transition:all 0.2s;transition:all 0.2s;}
.forma input.input-phone{position:relative;display:block;outline:0;border:none;border-radius:3px;-webkit-border-radius:3px;width:100%;height:60px;line-height:60px;margin:0 auto 8px;padding:0 20px;background:#fff;text-align:left;font-size:16px;font-family:'a', sans-serif;font-weight:400;color:#222222;-webkit-transition:all 0.2s;-moz-transition:all 0.2s;-o-transition:all 0.2s;-ms-transition:all 0.2s;transition:all 0.2s;}
.button-m{position:relative;display:block;width:300px;height:68px;line-height:68px;margin:0 auto;border:none;border-radius:3px;-webkit-border-radius:3px;border-bottom:1px solid #ff8c4c;text-align:center;font-family:'a', sans-serif;font-size:18px;font-weight:700;letter-spacing:.45px;text-transform:uppercase;text-decoration:none;cursor:pointer;color:#fff;background:#ff8932;background:-moz-linear-gradient(top, #ff8932 4%, #ff6f20 100%);background:-webkit-linear-gradient(top, #ff8932 4%,#ff6f20 100%);background:linear-gradient(to bottom, #ff8932 4%,#ff6f20 100%);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff8932', endColorstr='#ff6f20',GradientType=0);-webkit-box-shadow:0 4px 0 0 #e1631c;box-shadow:0 4px 0 0 #e1631c;-webkit-transition:all 0.2s;-moz-transition:all 0.2s;-o-transition:all 0.2s;-ms-transition:all 0.2s;transition:all 0.2s;-webkit-appearance:none;-moz-appearance:none;appearance:none;}
.button-m:hover{}
.button-m:active{top:-1px;}
.forma{width:300px;margin:0 auto;}
.forma .button-m{width:100%;}
h2.title{margin:0 0 50px 0;text-align:center;font-size:33px;color: #fff;}
h2.t2{font-size:36px;color: #261d2e;}
.price{width:300px;margin:20px 0 10px;text-align:center;}
.old-cost{float:left;border-radius:3px 0 0 3px;background:#fff;}
.old-cost p{font-size:23px;font-weight:400;line-height:50px;text-decoration:line-through;}
.old-cost p span{text-decoration:line-through;}
.old-cost > span, .new-cost > span{font-size:16px;}
.new-cost{float:right;background:#37b3ca;color:#fff;border-radius:0 3px 3px 0;}
.new-cost p{font-size:25px;line-height:50px;font-weight:700;}
.new-cost, .old-cost{width:50%;height:100px;padding:11px 0 0;}
@media screen and (max-width:976px){.wrap{width:640px;}
}
@media screen and (max-width:659px){.wrap{width:320px;}
}