/*reset*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn,
em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b,
u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table,
caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details,
embed, figure, figcaption, footer, header, menu, nav, output, ruby, section,
summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; outline: 0; font-size: 100%;}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, menu, nav, section, main {display: block;}

ol, ul {list-style: none;}
blockquote, q {quotes: none;}
img{max-width: 100%; height: auto;}
a{text-decoration: underline;}
a:hover{cursor: pointer;}
*::-webkit-input-placeholder {color: #a9a9a9; opacity: 1;}
*:-moz-placeholder {color: #a9a9a9; opacity: 1;}
*::-moz-placeholder {color: #a9a9a9; opacity: 1;}
*:-ms-input-placeholder {color: #a9a9a9; opacity: 1;}
*{margin: 0; padding: 0;}
*{-webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;}
button,input,a{outline: none;}
button, input, select{-webkit-appearance: none; -moz-appearance: none; appearance: none;}
html{
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    -webkit-font-smoothing: subpixel-antialiased !important;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* Slider */
.slick-slider
{
    position: relative;

    display: block;
    box-sizing: border-box;

    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
    touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}

.slick-list
{
    position: relative;

    display: block;
    overflow: hidden;

    margin: 0;
    padding: 0;
}
.slick-list:focus
{
    outline: none;
}
.slick-list.dragging
{
    cursor: pointer;
    cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list
{
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.slick-track
{
    position: relative;
    top: 0;
    left: 0;

    display: block;
    margin-left: auto;
    margin-right: auto;
}
.slick-track:before,
.slick-track:after
{
    display: table;

    content: '';
}
.slick-track:after
{
    clear: both;
}
.slick-loading .slick-track
{
    visibility: hidden;
}

.slick-slide
{
    display: none;
    float: left;

    height: 100%;
    min-height: 1px;
}
[dir='rtl'] .slick-slide
{
    float: right;
}
.slick-slide img
{
    display: block;
}
.slick-slide.slick-loading img
{
    display: none;
}
.slick-slide.dragging img
{
    pointer-events: none;
}
.slick-initialized .slick-slide
{
    display: block;
}
.slick-loading .slick-slide
{
    visibility: hidden;
}
.slick-vertical .slick-slide
{
    display: block;

    height: auto;

    border: 1px solid transparent;
}
.slick-arrow.slick-hidden {
    display: none;
}

.m1-form ::-webkit-input-placeholder {
    color: #141414;
}

.m1-form ::-moz-placeholder {
    color: #141414;
}

.m1-form :-moz-placeholder {
    color: #141414;
}

.m1-form :-ms-input-placeholder {
    color: #141414;
}

.m1-form :focus::-webkit-input-placeholder {
    color: transparent;
}

.m1-form :focus::-moz-placeholder {
    color: transparent;
}

.m1-form :focus:-moz-placeholder {
    color: transparent;
}

.m1-form :focus:-ms-input-placeholder {
    color: transparent;
}

.hidden {
    display: none;
}

.center {
    text-align: center;
}

.just {
    text-align: justify;
    -moz-text-align-last: center;
    text-align-last: center;
}

.clrfix:after {
    content: '';
    display: block;
    clear: both;
}

.clear {
    clear: both;
    height: 0;
}

.ulfix {
    font-size: 0;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 700;
}

b, strong {
    font-weight: 700;
}

body {
    width: 100%;
    min-width: 320px;
    padding: 0;
    margin: 0 auto;
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #1c1c1e;
    background: #282828;
}

section {
    width: 100%;
    margin: 0 auto;
    padding: 0 15px 30px;
}

.wrap {
    position: relative;
    background: #292a39;
    width: 480px;
    height: 100%;
    padding: 0;
    margin: 0 auto;
}

.wrap:after {
    clear: both;
    content: "";
    display: table;
}

img.photo {
    display: block;
    margin: 0 auto;
}

.nopad {
    padding: 0;
}

.order-txt {
    padding: 0 45px 30px;
    color: #fff;
    text-align: center;
}

.order-txt span {
    color: #ffc600;
}

.m1-form input.field.name {
    background: url("name-icon.png") 21px 50% no-repeat #fff;
}

.m1-form input.field.phone {
    background: url("phone-icon.png") 18px 50% no-repeat #fff;
}

.m1-form input.field {
    position: relative;
    display: block;
    outline: 0;
    border: none;
    background: #fff;
    width: 100%;
    height: 80px;
    margin: 0 auto 20px;
    padding: 0 20px 0 80px;
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #141414;
    text-align: left;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -o-transition: all 0.2s;
    -ms-transition: all 0.2s;
    transition: all 0.2s;
}

.button-m {
    position: relative;
    display: block;
    width: 400px;
    height: 77px;
    line-height: 80px;
    margin: 0 auto;
    border: none;
    text-align: center;
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    font-size: 25px;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
    cursor: pointer;
    letter-spacing: 2px;
    text-shadow: 0 2px 0 #d17c00;
    color: #fff;
    background: rgb(234, 138, 0);
    background: -moz-linear-gradient(0deg, rgba(234, 138, 0, 1) 0%, rgba(255, 198, 0, 1) 100%);
    background: -webkit-linear-gradient(0deg, rgba(234, 138, 0, 1) 0%, rgba(255, 198, 0, 1) 100%);
    background: linear-gradient(0deg, rgba(234, 138, 0, 1) 0%, rgba(255, 198, 0, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ea8a00", endColorstr="#ffc600", GradientType=1);
    -webkit-box-shadow: 0 3px 0 #d17c00;
    box-shadow: 0 3px 0 #d17c00;
    border-radius: 5px;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -o-transition: all 0.2s;
    -ms-transition: all 0.2s;
    transition: all 0.2s;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.button-m:active {
    top: 1px;
}

.m1-form {
    width: 400px;
    margin: 0 auto;
}

.m1-form .button-m {
    width: 100%;
}

h2.title {
    background: url("title-dott.png") 50% 100% no-repeat;
    font-size: 27px;
    padding-bottom: 25px;
    margin: 0 0 30px;
    color: #fff;
    line-height: 33px;
    text-align: center;
    text-transform: uppercase;
}

h2.title span {
    color: #ffc600;
}

.dark-bg h3.title {
    margin-top: -25px;
}

h3.title {
    color: #fff;
    font-size: 22px;
    font-weight: 700;
    line-height: 29px;
    text-align: center;
    text-transform: uppercase;
    border-radius: 10px 10px 0 0;
    padding: 15px;
    background: rgb(48, 53, 83);
    background: -moz-linear-gradient(0deg, rgba(48, 53, 83, 1) 0%, rgba(75, 83, 131, 1) 100%);
    background: -webkit-linear-gradient(0deg, rgba(48, 53, 83, 1) 0%, rgba(75, 83, 131, 1) 100%);
    background: linear-gradient(0deg, rgba(48, 53, 83, 1) 0%, rgba(75, 83, 131, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#303553", endColorstr="#4b5383", GradientType=1);
}

h3.title span {
    color: #ffc600;
}

.dark-bg {
    padding: 25px 0 45px;
    background: #303553;
    border-radius: 10px;
}

/*   price   */

.price {
    background: url("price-bg.png") 50% 0 no-repeat;
    height: 80px;
}

.price:after {
    display: block;
    clear: both;
    content: '';
}

.price .old,
.price .new {
    float: left;
    width: 50%;
    text-align: center;
    font-weight: 700;
    line-height: 28px;
    padding-top: 8px;
}

.price .val {
    font-size: 32px;
}

.price .val i {
    font-size: 26px;
    font-style: normal;
    text-transform: uppercase;
}

.price .old .val span {
    text-decoration: line-through;
}

/*   timer   */

.timer-block {
    padding: 25px 0 15px;
}

.timer-block h4 {
    font-size: 20px;
    font-weight: 700;
    color: #fff;
    text-align: center;
    padding-bottom: 10px;
}

.el-timer {
    max-width: 380px;
    margin: 0 auto;
}

.time_circles {
    position: relative;
    width: 100%;
    height: 100%;
}

.time_circles > div {
    position: absolute;
    text-align: center;
    color: #fff;
}

.time_circles > div > h4 {
    margin: 0;
    padding: 0;
    font-size: 16px;
    text-align: center;
    text-transform: uppercase;
}

.time_circles > div > span {
    display: block;
    width: 100%;
    text-align: center;
    font-size: 40px;
    font-weight: 700;
    line-height: 1.2em;
}

/*   slider   */

.slider {
    margin-bottom: 30px;
}

.slider .item img {
    display: block;
}

.slick-prev,
.slick-next {
    font-size: 0;
    line-height: 0;
    position: absolute;
    top: 50%;
    margin-top: -30px;
    display: block;
    width: 35px;
    height: 40px;
    padding: 0;
    cursor: pointer;
    color: transparent;
    border: none;
    outline: none;
    background: url("slider-arrow.png") 50% 50% no-repeat #ffc600;
    z-index: 3;
}

.slick-prev {
    left: 0;
    border-radius: 4px 0 0 4px;
    -moz-transform: rotate(-180deg);
    -webkit-transform: rotate(-180deg);
    -o-transform: rotate(-180deg);
    -ms-transform: rotate(-180deg);
    transform: rotate(-180deg);
}

.slick-next {
    right: 0;
    border-radius: 4px 0 0 4px;
}

/*   offer   */

.offer {
    background: url("hr-offer-bg.png") 50% 100% no-repeat #303553;
    padding: 0 0 40px;
    margin-bottom: 30px;
}

.offer .head {
    background: #292a39;
    height: 75px;
}

.offer .head:after {
    display: block;
    clear: both;
    content: '';
}

.offer .logo {
    float: left;
    text-align: center;
    width: 248px;
    height: 65px;
    line-height: 65px;
    border-radius: 0 0 30px 0;
    background: rgb(196, 198, 200);
    background: -moz-linear-gradient(0deg, rgba(196, 198, 200, 1) 0%, rgba(255, 255, 255, 1) 100%);
    background: -webkit-linear-gradient(0deg, rgba(196, 198, 200, 1) 0%, rgba(255, 255, 255, 1) 100%);
    background: linear-gradient(0deg, rgba(196, 198, 200, 1) 0%, rgba(255, 255, 255, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#c4c6c8", endColorstr="#ffffff", GradientType=1);
}

.offer .logo img {
    position: relative;
    top: -3px;
    vertical-align: middle;
}

.offer .time-work {
    width: 210px;
    height: 65px;
    background: url("top-icon.png") 0 15px no-repeat;
    padding: 17px 0 0 60px;
    float: right;
    color: #fff;
    line-height: 19px;
}

.offer .main-title {
    padding: 12px 30px;
    font-size: 27px;
    font-weight: 700;
    color: #ffc600;
    line-height: 33px;
    text-align: center;
    text-transform: uppercase;
    background: rgb(48, 53, 83);
    background: -moz-linear-gradient(0deg, rgba(48, 53, 83, 1) 0%, rgba(75, 83, 131, 1) 100%);
    background: -webkit-linear-gradient(0deg, rgba(48, 53, 83, 1) 0%, rgba(75, 83, 131, 1) 100%);
    background: linear-gradient(0deg, rgba(48, 53, 83, 1) 0%, rgba(75, 83, 131, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#303553", endColorstr="#4b5383", GradientType=1);
}

.offer .box {
    position: relative;
}

.offer .box img {
    display: block;
}

.offer .sale {
    position: absolute;
    left: 0;
    bottom: 0;
    background: url("sale-bg.png") 0 0 no-repeat;
    width: 176px;
    height: 146px;
}

.offer .sale span {
    position: absolute;
    left: -3px;
    top: 75px;
    display: inline-block;
    transform: rotate(40deg);
    color: #fff;
    font-size: 23px;
    font-weight: 700;
    text-transform: uppercase;
}

.offer .bullet {
    background: #292a39;
    text-align: center;
    font-size: 0;
    padding: 30px 0 25px;
}

.offer .bullet li {
    display: inline-block;
    vertical-align: top;
    width: 33.33%;
    color: #fff;
    font-size: 15px;
    line-height: 19px;
}

.offer .bullet p {
    padding: 0 12px;
}

.offer .bullet li:before {
    display: block;
    width: 66px;
    height: 66px;
    border: 2px solid #fff;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    border-radius: 10px;
    margin: 0 auto 15px;
    content: '';
}

.offer .bullet li:nth-child(1):before {
    background-image: url("bullet-icon1.png");
}

.offer .bullet li:nth-child(2):before {
    background-image: url("bullet-icon2.png");
}

.offer .bullet li:nth-child(3):before {
    background-image: url("bullet-icon3.png");
}

.offer .form {
    background: url("hr-offer-bg.png") 50% 0 no-repeat;
    padding-top: 20px;
}

.offer .stock {
    color: #fff;
    text-align: center;
    padding-top: 25px;
}

.offer .stock b {
    display: inline-block;
    vertical-align: middle;
    width: 30px;
    height: 30px;
    line-height: 30px;
    color: #1c1c1e;
    background: #ffc600;
    margin: 0 3px;
    border-radius: 5px;
}

/*   s1   */

.s1 h2.title {
    padding: 0 20px 25px;
}

.s1 h2.title span {
    display: block;
}

.s1 img.photo {
    margin-bottom: 30px;
}

/*   s2   */

.s2 h3.title span {
    display: block;
    font-size: 21px;
}

.s2 img.photo {
    border-radius: 0 0 10px 10px;
}

.s2 .dark-bg {
    padding-bottom: 10px;
}

.s3 {
    padding: 0 0 35px;
}

.s3 h2.title span {
    display: block;
}

.s4 .dark-bg {
    padding-bottom: 10px;
}

.s4 h3.title {
    font-size: 25px;
    padding: 30px 0;
}

.s5 {
    padding-left: 0;
    padding-right: 0;
}

.s5 h2.title small {
    display: block;
    font-size: 18px;
    font-weight: 400;
    line-height: 23px;
    text-transform: initial;
    padding: 10px 45px 0;
}

/*   char-list   */

.char-list {
    padding: 0 15px 35px;
}

.char-list li {
    display: table;
    width: 100%;
    color: #fff;
    font-size: 15px;
    line-height: 19px;
    background: #3f435f;
    border-left: 5px solid #ffab0a;
    border-radius: 5px;
    margin-bottom: 10px;
}

.char-list li:last-child {
    margin-bottom: 0;
}

.char-list .name {
    display: table-cell;
    vertical-align: middle;
    width: 160px;
    font-weight: 700;
    padding: 10px 10px 10px 18px;
}

.char-list .par {
    text-align: right;
    padding: 20px 20px 20px 15px;
}

.char-list .par p {
    padding-bottom: 10px;
}

.char-list .par p:last-child {
    padding-bottom: 0;
}

/*   list-v1   */

.list-v1 {
    font-size: 0;
    padding: 0 10px 10px;
}

.list-v1 li {
    display: inline-block;
    vertical-align: top;
    width: 50%;
    font-size: 16px;
    text-align: center;
    padding: 30px 10px 25px;
}

.list-v1 .item {
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 3px 0 #1a1b23;
}

.list-v1 .icon {
    display: inline-block;
    vertical-align: top;
    width: 100%;
    margin: -30px auto 10px;
}

.list-v1 .icon img {
    display: block;
    margin: 0 auto;
}

.list-v1 p {
    line-height: 21px;
    padding: 0 10px 15px;
}

/*   list-v2   */

.list-v2 {
    font-size: 0;
    text-align: center;
    padding: 20px 5px 0;
}

.list-v2 li {
    display: inline-block;
    vertical-align: top;
    width: 50%;
    font-size: 16px;
    line-height: 21px;
    color: #fff;
    padding: 0 10px 40px;
}

.list-v2 .item {
    height: 305px;
    background: #303553;
    border-radius: 10px;
}

.list-v2 .pic {
    position: relative;
}

.list-v2 .pic img {
    display: block;
    border-radius: 10px 10px 0 0;
}

.list-v2 .num {
    position: absolute;
    left: calc(50% - 25px);
    top: -25px;
    width: 50px;
    height: 50px;
    line-height: 50px;
    background: #ffc600;
    text-align: center;
    font-size: 25px;
    font-weight: 700;
    color: #1c1c1e;
    border-radius: 50%;
}

.list-v2 h4 {
    padding: 20px 10px 0;
}

/*   list-v3   */

.list-v3 {
    height: 243px;
    background: url("s4-list-bg.jpg") 50% 0 no-repeat;
    padding: 25px 25px 0;
}

.list-v3 li {
    display: table;
    width: 100%;
    height: 60px;
    margin-bottom: 5px;
}

.list-v3 li:nth-child(odd) {
    padding-left: 80px;
}

.list-v3 li:nth-child(even) {
    padding-right: 80px;
    text-align: right;
}

.list-v3 p {
    width: 100%;
    display: table-cell;
    vertical-align: middle;
    color: #fff;
}

.list-v3 li:nth-child(1) {
    background: url("s4-icon1.png") 0 50% no-repeat;
}

.list-v3 li:nth-child(2) {
    background: url("s4-icon2.png") 100% 50% no-repeat;
}

.list-v3 li:nth-child(3) {
    background: url("s4-icon3.png") 0 50% no-repeat;
}

/*   list-v4   */

.list-v4 {
    font-size: 0;
    text-align: center;
    padding: 0 5px;
}

.list-v4 li {
    display: inline-block;
    vertical-align: top;
    width: 50%;
    font-size: 16px;
    padding: 0 10px 20px;
}

.list-v4 .item {
    color: #fff;
    height: 285px;
    background: #303553;
    border: 2px solid #ff2d0a;
    border-radius: 10px;
}

.list-v4.not .pic {
    position: relative;
}

.list-v4.not .pic:before {
    display: block;
    position: absolute;
    left: 8px;
    top: 8px;
    background: url("not-icon.png") 50% 50% no-repeat #ff2d0a;
    width: 30px;
    height: 30px;
    border-radius: 10px;
    content: '';
    z-index: 8;
}

.list-v4 .pic img {
    display: block;
    border-radius: 10px 10px 0 0;
}

.list-v4 h4 {
    padding: 20px 15px 0;
    line-height: 21px;
}

/*   reviews   */

.reviews h2.title small {
    display: block;
    font-size: 18px;
    font-weight: 400;
    line-height: 23px;
    text-transform: initial;
    padding: 10px 50px 0;
}

.reviews h2.title small i {
    font-style: normal;
    color: #ffc600;
}

.rev-list {
    padding: 0 0 10px;
}

.rev-list .item {
    background: #fff;
    border-radius: 10px;
    margin-bottom: 20px;
}

.rev-list .pic {
    position: relative;
}

.rev-list .pic:before {
    position: absolute;
    left: calc(50% - 30px);
    bottom: -30px;
    display: block;
    width: 60px;
    height: 60px;
    background: url("qoute-icon.png") 50% 50% no-repeat #fff;
    border-radius: 50%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    content: '';
}

.rev-list .pic img {
    display: block;
    border-radius: 10px 10px 0 0;
}

.rev-list .txt {
    padding: 45px 20px 20px;
    text-align: center;
}

.rev-list .txt strong {
    display: block;
    padding-bottom: 10px;
}

.rev-list .author {
    font-weight: 700;
    color: #aaa;
    text-align: center;
    padding-bottom: 20px;
}

.rev-list .author span {
    display: block;
}

/*   order-list   */

.order-list {
    font-size: 0;
    padding: 0 10px;
    margin-bottom: -35px;
}

.order-list .item {
    display: inline-block;
    vertical-align: top;
    margin: 0 10px 20px;
    padding: 20px 20px 0 20px;
    width: 195px;
    height: 150px;
    font-size: 16px;
    line-height: 21px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 3px 0 #1a1b23;
    position: relative;
}

.order-list .item:before {
    display: block;
    content: '';
    width: 33px;
    height: 33px;
    background: center no-repeat;
    position: absolute;
    top: 15px;
    right: 15px;
}

.order-list .item:nth-child(1):before {
    background-image: url("order-icon1.png");
}

.order-list .item:nth-child(2):before {
    background-image: url("order-icon2.png");
}

.order-list .item:nth-child(3):before {
    background-image: url("order-icon3.png");
}

.order-list .item:nth-child(4):before {
    background-image: url("order-icon4.png");
}

.order-list .item h4 {
    margin: 0 0 15px;
    font-weight: 700;
    font-size: 16px;
    text-transform: uppercase;
}

.order-list .item h4:after {
    display: block;
    content: '';
    margin: 12px 0 0;
    width: 30px;
    height: 2px;
    background: #4b5383;
}

/*   footer   */

.footer {
    text-align: center;
    padding: 10px 0 30px;
}

.footer img {
    display: block;
    margin: 0 auto 15px;
}

.footer a {
    display: inline-block;
    font-size: 16px;
    color: #ccc;
    margin: 0 10px;
}

.footer a:hover {
    text-decoration: none;
}
