/*reset*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn,
em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b,
u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table,
caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details,
embed, figure, figcaption, footer, header, menu, nav, output, ruby, section,
summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; outline: 0;}
/* HTML5 display-role reset for older browsers */
/* endzeit_____ */
article, aside, details, figcaption, figure, footer, header, menu, nav, section, main {display: block;}
ol, ul {list-style: none;}
blockquote, q {quotes: none;}
img{max-width: 100%; height: auto;}
a{text-decoration: underline;}
a:hover{cursor: pointer;}
/* michael-k90 */
*::-webkit-input-placeholder {color: #a9a9a9; opacity: 1;}
*:-moz-placeholder {color: #a9a9a9; opacity: 1;}
*::-moz-placeholder {color: #a9a9a9; opacity: 1;}
*:-ms-input-placeholder {color: #a9a9a9; opacity: 1;}
*{margin: 0; padding: 0;}
*{-webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;}
button,input,a{outline: none;}
/* endzeit_____ */
.m1-form input.field:focus::-webkit-input-placeholder {opacity:0;}
.m1-form input.field:focus::-moz-placeholder          {opacity:0;}
.m1-form input.field:focus:-moz-placeholder           {opacity:0;}
.m1-form input.field:focus:-ms-input-placeholder      {opacity:0;}
.m1-form input.field::-webkit-input-placeholder {color: #999999; opacity: 1;}
.m1-form input.field:-moz-placeholder {color: #999999; opacity: 1;}
.m1-form input.field::-moz-placeholder {color: #999999; opacity: 1;}
.m1-form input.field:-ms-input-placeholder {color: #999999; opacity: 1;}
.hidden{display: none;}
.left{float: left;}
.right{float: right;}
.center{text-align: center;}
.center-justified {
    text-align: justify;
    -moz-text-align-last: center;
    text-align-last: center;
}
.clearfix:after{content: '';display: block;clear: both;}
.clear{clear: both;height: 0px;}

html{
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    -webkit-font-smoothing: subpixel-antialiased !important;
}
h1,h2,h3,h4,h5,h6{font-family:'Bebas Neue Bold'; font-weight: 700; text-transform: uppercase;line-height: 1.3em;}
b,strong{font-weight: 700;}
body{
    width: 100%;
    padding: 0px;
    margin: 0px auto;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5em;
    color: #222222;
    background: #535353;
}
.wrap {
    width: 480px;
    padding: 0;
    margin: 0 auto;
    background: #fff;
}
section {
    padding: 24px 0 0;
}
section, footer {
    width: 100%;
    position: relative;
    margin:0 auto;
}
.wrap:after {
    clear: both;
    content: "";
    display: table;
}
section:after, footer:after {
    clear: both;
    content: "";
    display: table;
}
.m1-form input.field{
    position: relative;
    display: block;
    outline: 0;
    border: none;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    width: 100%;
    height: 84px;
    line-height: 84px;
    margin: 0 auto 20px;
    padding: 0 20px;
    background:#fff;
    text-align: center;
    font-size: 18px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    color: #222;
    -webkit-transition: all 0.2s;
    -moz-transition:    all 0.2s;
    -o-transition:      all 0.2s;
    -ms-transition:     all 0.2s;
    transition:         all 0.2s;
}
.button-m{
    position: relative;
    z-index: 2;
    display: block;
    width: 386px;
    height: 105px;
    line-height: 105px;
    margin: 0 auto;
    border: none;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    text-align: center;
    font-family:'Bebas Neue Bold';
    font-size: 38px;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
    cursor: pointer;
    color: #222222;
    background: rgb(251,245,3);
    background: -moz-linear-gradient(top,  rgba(251,245,3,1) 0%, rgba(251,213,3,1) 100%);
    background: -webkit-linear-gradient(top,  rgba(251,245,3,1) 0%,rgba(251,213,3,1) 100%);
    background: linear-gradient(to bottom,  rgba(251,245,3,1) 0%,rgba(251,213,3,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fbf503', endColorstr='#fbd503',GradientType=0 );
    -webkit-box-shadow: 0 4px 0 0 #c6a800;
    box-shadow: 0 4px 0 0 #c6a800;
    -webkit-transition: all 0.2s;
    -moz-transition:    all 0.2s;
    -o-transition:      all 0.2s;
    -ms-transition:     all 0.2s;
    transition:         all 0.2s;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    text-shadow: 0 1px 0 rgba(255,255,255,.6);
}
.button-m:hover{
    background: rgb(251,213,3);
    background: -moz-linear-gradient(top,  rgba(251,213,3,1) 0%, rgba(251,245,3,1) 100%);
    background: -webkit-linear-gradient(top,  rgba(251,213,3,1) 0%,rgba(251,245,3,1) 100%);
    background: linear-gradient(to bottom,  rgba(251,213,3,1) 0%,rgba(251,245,3,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fbd503', endColorstr='#fbf503',GradientType=0 );
}
.button-m:active{
    top:-1px;
}
.m1-form {
    width: 386px;
    margin: 0 auto;
}
.m1-form .button-m{
    width: 100%;
}
h2.title {
    margin: 0 0 20px 0;
    font-size: 40px;
    font-family:'Bebas Neue Bold';
    text-align: center;
    font-weight: 700;
    line-height: 1.100em;
}
h2.title > span {
    color: #ff4853;
}
.price {
    position: relative;
    width: 435px;
    height: 72px;
    margin: 0 auto;
    background: #242628;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    overflow: hidden;
    color:#fff;
    text-transform: uppercase;
    text-align: center;
    position: relative;
    top:-50px;
}
.price:before {
    content: 'Redovna cena:';
    display: block;
    font-size: 14px;
    color:#fff;
    width: 68px;
    position: absolute;
    top:17px;
    left: 20px;
    text-align: left;
    text-transform: none;
    line-height: 17px;
}
.price .old-cost {
    width: 50%;
    height: 100%;
    float: left;
    font-family:'Bebas Neue Regular';
    font-weight: 400;
    font-size: 36px;
    line-height: 74px;
    padding-left: 76px;
}
.price .old-cost span {
    text-decoration: line-through;
}
.price .new-cost {
    width: 50%;
    height: 100%;
    float: right;
    background: #ff4853;
    font-family:'Bebas Neue Bold';
    font-weight: 700;
    color:#fff;
    font-size: 52px;
    line-height: 78px;
}
.video-container{
    position: relative;
    width: 100%;
    height: 270px;
    overflow:hidden;
    background:#000;
}
.video-container iframe, .video-container object, .video-container embed{
    position:absolute;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}
.youtube {
    height: 100% !important;
}

/* Slider */
.slick-slider {
    position: relative;
    display: block;
    box-sizing: border-box;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
    touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}
.slick-list {
    position: relative;
    display: block;
    overflow: hidden;
    margin: 0;
    padding: 0;
}
.slick-list:focus {
    outline: none;
}
.slick-list.dragging {
    cursor: pointer;
    cursor: hand;
}
.slick-slider .slick-track,
.slick-slider .slick-list {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}
.slick-track {
    position: relative;
    top: 0;
    left: 0;
    display: block;
}
.slick-track:before,
.slick-track:after {
    display: table;
    content: '';
}
.slick-track:after {
    clear: both;
}
.slick-loading .slick-track {
    visibility: hidden;
}
.slick-slide {
    display: none;
    float: left;
    height: 100%;
    min-height: 1px;
}
[dir='rtl'] .slick-slide {
    float: right;
}
.slick-slide img {
    display: block;
}
.slick-slide.slick-loading img {
    display: none;
}
.slick-slide.dragging img{
    pointer-events: none;
}
.slick-initialized .slick-slide{
    display: block;
}
.slick-loading .slick-slide{
    visibility: hidden;
}
.slick-vertical .slick-slide{
    display: block;
    height: auto;
    border: 1px solid transparent;
}
.slick-arrow.slick-hidden {
    display: none;
}
/* Arrows */
.slick-prev,
.slick-next{
    font-size: 0;
    line-height: 0;
    position: absolute;
    top: 43px;
    display: block;
    width: 54px;
    height: 54px;
    padding: 0;
    cursor: pointer;
    color: transparent;
    border: none;
    outline: none;
    background:#373a41 url(arrow41c1f.png) no-repeat center center;
    z-index: 3;
}
.slick-prev{
    left: 0;
}
.slick-next{
    right: 0;
    -moz-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
}
/* Dots */
.slick-dotted.slick-slider{
    margin-bottom: 30px;
}
.slick-dots{
    position: absolute;
    bottom: -25px;
    display: block;
    width: 100%;
    padding: 0;
    margin: 0;
    list-style: none;
    text-align: center;
}
.slick-dots li{
    position: relative;
    display: inline-block;
    width: 20px;
    height: 20px;
    margin: 0 5px;
    padding: 0;
    cursor: pointer;
}
.slick-dots li button{
    font-size: 0;
    line-height: 0;
    display: block;
    width: 20px;
    height: 20px;
    padding: 5px;
    cursor: pointer;
    color: transparent;
    border: 0;
    outline: none;
    background: transparent;
}
.slick-dots li button:before{
    font-family: 'slick';
    font-size: 6px;
    line-height: 20px;
    position: absolute;
    top: 0;
    left: 0;
    width: 20px;
    height: 20px;
    content: '•';
    text-align: center;
    opacity: .25;
    color: black;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

/*block1*//* after_qbici */
.b1 {
    background: url(led12407a.jpg) no-repeat center top;
    height: 585px;
    padding: 16px 0 0;
}.phone-site {
    display: flex;
    justify-content: center;
    background: white;
}
.phone-site a {
    font-size: 32px;
    color: #333;
    padding: 10px;
    text-decoration: none;
}.phone-sites {
    display: flex;
    justify-content: center;

}
.phone-sites a {
    font-size: 32px;
    color: #333;
    padding: 10px;
    text-decoration: none;
}
.b1 h2 {
    color:#000;
    font-size: 17px;
    font-family:'Bebas Neue Regular';
    font-weight: 400;
    text-align: center;
    letter-spacing: 3.4px;
    line-height: 25px;
}
.b1 h1 {

    -webkit-text-fill-color:#FFD700 ;
-webkit-text-stroke: 1.5px black;
    font-size: 45px;
    text-align: center;
    line-height: 50px;
    letter-spacing: 6px;
}
.b1 h3 {
    color:#fff;
    font-size: 40px;
    font-family:'Bebas Neue Regular';
    font-weight: 600;
    text-align: center;
    display: block;
    margin: 0 auto;
    background: #7CFC00	;
    width: 480px;
    height: 40.2px;
    line-height: 40px;
    letter-spacing: 3px;


    position: absolute;
    top: 0px;
    left: 0px;
}
.for {
    text-align: center;
    margin: 23px 0;
}
.for li {
    display: inline-block;
    font-size: 20px;
    color:#000;
    font-family:'Bebas Neue Bold';
    font-weight: 700;
    text-transform: uppercase;
    padding: 0 5px;
    height: 20px;
    line-height: 22px;
}
.for span {
    color:#7CFC00;
}
.for li:nth-child(2) {
    border-left: 1px solid #000;
    border-right: 1px solid #000;
    padding: 0 10px;
}
.b1 img {
    display: block;
    margin: 0 auto 27px;
}
.sale {
    font-family:'Bebas Neue Bold';
    font-weight: 700;
    font-size: 16px;
    text-align: center;
    text-transform: uppercase;
    width: 106px;
    height: 106px;
    display: block;
    border-radius: 100%;
    -webkit-border-radius: 100%;
    background: #FFD700	;
    text-shadow: 0 1px 0 rgba(255,255,255,.6);
    line-height: 1.5em;
    border:8px solid rgba(0,0,0,0);
    background-clip: padding-box;
    padding: 4px 0 0;
    -webkit-box-shadow: 0 0 0 1.5px rgba(255,255,255,.2);
    box-shadow: 0 0 0 1.5px rgba(255,255,255,.2);
    position: absolute;
    bottom: 300px;
    left: 30px;
	}

.sale1 {
    font-family:'Bebas Neue Bold';
    font-weight: 700;
    font-size: 16px;
    text-align: center;
    text-transform: uppercase;
    width: 106px;
    height: 106px;
    display: block;
    border-radius: 100%;
    -webkit-border-radius: 100%;
    background: #FFD700	;
    text-shadow: 0 1px 0 rgba(255,255,255,.6);
    line-height: 1.5em;
    border:8px solid rgba(0,0,0,0);
    background-clip: padding-box;
    padding: 4px 0 0;
    -webkit-box-shadow: 0 0 0 1.5px rgba(255,255,255,.2);
    box-shadow: 0 0 0 1.5px rgba(255,255,255,.2);
    position: absolute;
    bottom: 120px;
    right: 30px;
	}

.sale1 p {
    font-size: 24px;
}
.sale p {
    font-size: 24px;
}
.stock {
    font-size: 24px;
    color:#fff;
    text-align: center;
    text-transform: uppercase;
    font-family:'Bebas Neue Regular';
    font-weight: 400;

}
.stock span {
    color:#fff;
    display: inline-block;
    background: #ff4853;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    width: 32px;
    height: 34px;
    border-bottom: 2px solid #af272f;
    line-height: 34px;
    font-family:'Bebas Neue Regular';
    font-weight: 700;
    margin: 0 5px;
    text-shadow: 0 1px 0 rgba(255,255,255,.5);
}
/*block2*//* endzeit_____ */
.b2 h2 {
    padding: 0 30px;
}
.beaf {
    position: relative;
    border-bottom: 2px solid #fff;
    border-top:2px solid #fff;
}
.beaf img {
    display: block;
}
.beaf hr {
    display: block;
    border:none;
    width: 2px;
    height: 100%;
    position: absolute;
    top:0;
    left: 239px;
    background: #fff;
}
.beaf:before {
    content: '';
    display: block;
    background: url(beforeb38b3.html) no-repeat 0 0 ;
    width: 52px;
    height: 53px;
    position: absolute;
    top:0;
    left:0;
}
.beaf:after {
    content: '';
    display: block;
    background: url(aftera4fe6.html) no-repeat 0 0 ;
    width: 110px;
    height: 56px;
    position: absolute;
    bottom:0;
    right:0;
}
.b2 > p {
    padding: 20px;
    text-align: justify;
}
.place {
    text-align: center;
}
.place li {
    width: 49.5%;
    vertical-align: top;
    display: inline-block;
    margin-bottom: 30px;
}
.place p {
    font-size: 18px;
    font-family:'Bebas Neue Regular';
    font-weight: 400;
    line-height: 22px;
}
.place li:before {
    content: '';
    display: block;
    width: 122px;
    height: 122px;
    border-radius: 100%;
    -webkit-border-radius: 100%;
    background: #ff4853 url(place4c9a5.html) no-repeat center 30px;
    margin: 0 auto 13px;
    border:4px solid #f2f2f2;
}
.place li:nth-child(2):before {
    background-position: center -97px;
}
.place li:nth-child(3):before {
    background-position: center -223px;
}
.place li:nth-child(4):before {
    background-position: center -367px;
}
.place li:nth-child(5):before {
    background-position: center -490px;
}
.place li:nth-child(6):before {
    background-position: center -616px;
}
/*block3*//* michael-k90 */
.b3 {
    color:#fff;
    background: #373a41;
    padding-bottom: 40px;
}
.b3 h2 span {
    display: block;
}
.b3 p {
    padding: 0 20px;
}
.plus {
    text-align: center;
    border-top:1px dashed #4b4e54;
    border-bottom:1px dashed #4b4e54;
    padding-top: 18px;
    margin: 20px 0 25px;
}
.plus li {
    display: inline-block;
    margin: 0 -12px 16px;
}
.plus p {
    font-size: 20px;
    text-transform: uppercase;
    font-family:'Bebas Neue Bold';
    font-weight: 700;
    overflow: hidden;
}
.plus li p:before {
    content: '';
    display:block;
    width: 23px;
    height: 21px;
    background: url(plus69dc2.png) no-repeat center 0px;
    float: left;
    margin: 0 4px 0 0;
}
.plus li:nth-child(2) p:before {
    background-position: center -32px;
}
.plus li:nth-child(3) p:before {
    background-position: center -63px;
}
.plus li:nth-child(4) p:before {
    background-position: center -95px;
}
.plus li:nth-child(5) p:before {
    background-position: center -129px;
}
.plus li:nth-child(4) {
    margin-right: 5px;
}
/*block4*//* bizlife_inc */
.b4 {
   padding-top: 0;
}
.b4 h2 {
    margin-top: 24px;
}
.use {
    background: #373a41;
    color:#fff;
}
.use li {
    display: block;
    height: 240px;
    background: url(use6d590.html) no-repeat 0 0;
    text-align: center;
    padding: 44px 38px 0 282px;
}
.use li:nth-child(2) {
    background-position: right -240px;
    padding: 44px 282px 0 38px;
}
.use li:nth-child(3) {
    background-position: left -480px;
}
.use p:before {
    content: '1';
    display: block;
    width: 66px;
    height: 66px;
    border-radius: 100%;
    -webkit-border-radius: 100%;
    background: #ff4853;
    margin: 0 auto 10px;
    font-size: 46px;
    font-family:'Bebas Neue Bold';
    font-weight: 700;
    line-height: 71px;
}
.use li:nth-child(2) p:before {
    content: '2';
}
.use li:nth-child(3) p:before {
    content: '3';
}
/*block5*//* owmen17 */
.b5 {
    background: url(b2301ae.jpg) no-repeat center top;
    height: 614px;
    color:#fff;
}
.ship {
    text-align: center;
}
.ship li {
    display: inline-block;
    width: 49.5%;
    vertical-align: top;
    margin-bottom: 38px;
}
.ship span {
    background: url(ship7a9e1.png) no-repeat center 0;
    display: block;
    width: 137px;
    height: 137px;
    margin: 0 auto 30px;
    padding-top: 121px;
}
.ship p {
    padding: 0 27px;
}
.ship li:nth-child(2) span {
    background-position: center -137px;
}
.ship li:nth-child(3) span {
    background-position: center -274px;
}
.ship li:nth-child(4) span {
    background-position: center -411px;
}
.ship span:after {
    content: '01';
    display: block;
    width: 31px;
    height: 31px;
    border-radius: 100%;
    -webkit-border-radius: 100%;
    background: #fff;
    color:#222222;
    font-size: 18px;
    font-family:'Bebas Neue Bold';
    font-weight: 700;
    text-align: center;
    line-height: 34px;
    margin: 0 auto;
}
.ship li:nth-child(2) span:after {
    content: '02';
}
.ship li:nth-child(3) span:after {
    content: '03';
}
.ship li:nth-child(4) span:after {
    content: '04';
}
/*block6*//* after_qbici */
.b6 {

}
.reviews {

}
.reviews img {
    margin: 0 auto 10px;
}
.reviews h3 {
    text-align: center;
    font-size: 22px;
}
.reviews h3:after {
    content: '';
    display: block;
    background: url(stars74378.png) no-repeat 0 0;
    width: 94px;
    height: 14px;
    margin: 3px auto 0;
}
.reviews p {
    padding: 10px 20px 40px;
}
/*block7*//* endzeit_____ */
.b7 {
    background: #313642;
    padding:9px 0 3px 0px;
    border-bottom: 1px solid #555963;
}
.b7 h2 {
    color:#fff;
    font-size: 54px;
    text-align: center
}
.b7 h2 span {
    color:#00e391;
}
/*block8*//* michael-k90 */
.end {
    height: 480px;
    border-bottom: 1px solid #555963;
}
/*block9*//* bizlife_inc */
.b8 {
    background: #313642;
    border-bottom: 1px solid #484b54;
}
/*block10*//* owmen17 */
.footer {
    text-align: center;
    padding: 0 0 30px;
    background: #2e2f33;
}
.footer a {
    font-size: 14px;
    color:#d5d5d6;
}
.block1-pod {
	display:none;
	width:145px;
	height:163px;
	position:absolute;
}
.podarok {
	display:none;
	background:#EEEEEE;
	padding:30px 0;
}
.podarok img{
		float:none;
		width:200px;
		margin:15px auto;
		display:block;
	}
.stock{
	padding-bottom: 20px;
}
.payment{
	max-width: 990px;
	width: 100%;
	display: block;
	margin-left: auto;
	margin-right: auto;
	border-top: 1px solid #cccccc;
}
.delivery{
	max-width: 990px;
	margin-bottom: 0;
	width: 100%;
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 20px;
}
.proposition{
	color: #000;
    text-align: center;
    margin-bottom: 60px;
    margin-top: -22px;
}
.proposition-white{
    color: #fff;
    text-align: center;
    margin-bottom: 22px;
	margin-top: 22px;
}

/* benefits 2 */
.benefits_list2 {
    margin: 0 10px;
    font-size: 0;
    line-height: 0;
    letter-spacing: -1px;
    text-align: center;
}

.benefits_list2 .benefit_item {
    display: inline-block;
    vertical-align: top;
    padding: 0 10px 30px;
    width: 50%;
    font-size: 15px;
    line-height: 22px;
    letter-spacing: normal;
}

.benefits_list2 .benefit_item img {
    display: block;
    margin: 0 auto 15px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.benefits_list2 .benefit_item h4 {
    font-weight: 700;
    font-size: 22px;
    line-height: 24px;
}

.m1-form select {
    position: relative;
    display: block;
    outline: 0;
    border: none;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    width: 100%;
    height: 84px;
    line-height: 84px;
    margin: 0 auto 20px;
    padding: 0 20px;
    background: #fff;
    text-align: center;
    font-size: 18px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    color: #222;
    -webkit-transition: all .2s;
    -moz-transition: all .2s;
    -o-transition: all .2s;
    -ms-transition: all .2s;
    transition: all .2s;
}

.iAloza {
    margin-top: 11px;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
}

.iOBGpd {
    padding-right: 7px;
    font-size: 13px;
    color: rgb(68, 73, 80);
}

.iALXKM {
    display: inline-flex;
    position: relative;
    appearance: none;
    user-select: none;
    outline: none;
    text-decoration: none;
    cursor: pointer;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    vertical-align: middle;
    text-align: center;
    margin: 0px;
    padding: 0px;
    border-radius: 0px;
    border: 0px;
    color: inherit;
    background-color: transparent;
}

.ksTSWJ {
    margin: 18px 0px;
    display: flex;
}

.bpgmEB {
    width: 100%;
    display: flex;
}

.hhFvJt {
    margin: 0px;
    width: 30px;
    max-width: none;
    display: block;
    height: 30px;
    border-radius: 100%;
}

.ggLknz {
    padding-left: 5px;
}

.eWitUL {
    padding: 7px 10px 10px 15px;
    background-color: rgb(242, 243, 245);
    border-radius: 20px;
}

.gKpCSo {
    padding-right: 5px;
    font-size: 14px;
    color: rgb(68, 73, 80);
    font-weight: 700;
    line-height: 1.3;
}

.degbuh {
    font-size: 14px;
    color: rgb(0, 0, 0);
    line-height: 1.25;
}

.bEEZHa {
    position: absolute;
    right: 0px;
    bottom: -13px;
}

.iTNacO {
    display: flex;
}

.kkgXjw {
    margin: 0px;
    display: block;
    height: auto;
    max-width: 100%;
}

.blvJQI {
    font-size: 14px;
    color: rgb(137, 137, 137);
    position: absolute;
    top: 5px;
    right: 9px;
}

.jBtIxC {
    margin-top: 9px;
    padding-left: 16px;
    display: flex;
}

.bdxwcP {
    display: inline-flex;
    position: relative;
    appearance: none;
    user-select: none;
    outline: none;
    text-decoration: none;
    cursor: pointer;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    vertical-align: middle;
    text-align: center;
    margin: 0px;
    padding: 0px 13px 0px 0px;
    border-radius: 0px;
    border: 0px;
    background-color: transparent;
    font-size: 14px;
    color: rgb(56, 88, 152);
}

.bdxwcP::after {
    content: ".";
    position: absolute;
    top: -6px;
    right: 4px;
    color: rgb(137, 137, 137);
    font-size: 15px;
}

.jUItPz {
    display: inline-flex;
    position: relative;
    appearance: none;
    user-select: none;
    outline: none;
    text-decoration: none;
    cursor: pointer;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    vertical-align: middle;
    text-align: center;
    margin: 0px;
    padding: 0px 13px 0px 0px;
    border-radius: 0px;
    border: 0px;
    background-color: transparent;
    font-size: 14px;
    color: rgb(56, 88, 152);
}

.jUItPz::after {
    content: ".";
    position: absolute;
    top: -6px;
    right: 4px;
    color: rgb(137, 137, 137);
    font-size: 15px;
}

.jAAtcy {
    padding-right: 9px;
    font-size: 14px;
    color: rgb(171, 171, 171);
}

.fExxFQ {
    font-size: 14px;
    color: rgb(68, 73, 80);
}

.tab3 {
    text-align: center;
    list-style: none;
}
