/*------------------------------------*\
    GENERAL
\*------------------------------------*/

*,
*:after,
*:before {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
}

html {
    min-width: 350px;
    min-height: 200px;
}

html, body {
    height: 100%;
    width: 100%;
}

body {
    margin: 0;
    background-color: #222;
    font-family: 'Product Sans', 'Open Sans', sans-serif;
    color: #222;
    line-height: 1.5;
}

a {
    color: #222;
    text-decoration: none;
    outline: none;
}

a:focus,
a:hover,
a:active,
a:visited {
    color: #222;
    text-decoration: unset;
    outline: none;
}

.clear:before,
.clear:after {
    content: ' ';
    display: table;
}

.clear:after {
    clear: both;
}

.clear {
    *zoom: 1;
}

img {
    max-width: 100%;
    max-height: 100%;
    vertical-align: bottom;
    height: auto;
    object-fit: contain;
}

input:focus {
    outline: 0;
    border: 1px solid #04A4CC;
}

ul {
    padding: 0;
    margin: 0;
}


/*------------------------------------*\
    COMMON
\*------------------------------------*/

.wrapper {
    overflow: hidden;
    position: relative;
}

.italic {
    font-style: italic;
}

span.b {
    font-weight: bold;
}

.horizontal-flip {
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: FlipH;
    -ms-filter: "FlipH";
}

.flickity-prev-next-button {
    background: none;
}

.no-margin {
    margin: 0;
}

.no-padding {
    padding: 0;
}

.no-margin-padding {
    margin: 0;
    padding: 0;
}

.inclinedSction {
    -webkit-clip-path: polygon(0 0,100% 3vw,100% 100%,0 calc(100% - 3vw));
    clip-path: polygon(0 0,100% 3vw,100% 100%,0 calc(100% - 3vw));
    margin-top: -50px;
}

/* notify-js */
.notifyjs-sale-style-base {
    background: #F5F5F5;
    padding: 20px 22px 20px 20px;
    border-radius: 10px;
    box-shadow: 0 6px 16px -9px rgba(0, 0, 0,.5);
}

.notifyjs-sale-style-base .icon-cart-plus {
    color: green;
    font-size: 35px;
    margin-top: -4px;
    margin-left: -6px;
    margin-right: 8px;
    margin-bottom: -5px;
    display: inline-block;
    float: left;
}


/*------------------------------------*\
    TITLES
\*------------------------------------*/

.innerTitle {
    font-size: 32px;
    line-height: 40px;
    color: #222;
    text-align: left;
    padding-bottom: 15px;
    font-weight: bold;
    letter-spacing: 1px;
    color: #df982a;
}


/*------------------------------------*\
    GRADIENTS
\*------------------------------------*/

.grayMesh {
    background-color: #E4E4E1;
    background-image: radial-gradient(at top center, rgba(255,255,255,0.03) 0%, rgba(0,0,0,0.03) 100%), linear-gradient(to top, rgba(255,255,255,0.1) 0%, rgba(143,152,157,0.60) 100%);
    background-blend-mode: normal, multiply;
}

.blackMesh {
    background-color: #222;
    background-image: radial-gradient(circle, #2c2c2c 0%, black 100%);
}

.blackMesh_light {
    background-color: #222;
    background-image: radial-gradient(circle, #222 0%, #222222c2 100%);
}

.blueMesh {
    background: #01bbd4;
    background: radial-gradient(circle, #01bbd4, #01bbd4e8);
}

.grayMesh_light {
    background-color: #ebedee;
    background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
}

.grayMesh_UltraLight {
    background-color: #eef1f5;
    background-image: linear-gradient(to top, #e6e9f0 0%, #eef1f5 100%);
}

.purpleMesh {
    background: #41295a;
    background: -webkit-linear-gradient(to right, #2f0743f0, #41295af7);
    background: linear-gradient(to right, #2f0743f0, #41295af7);
}

.redMesh {
    background: #a52a2a;
    background: radial-gradient(circle, #ff6f5e, #a52a2a);
}

.redMeshAlpha {
    background: #ff3030;
    background: radial-gradient(circle, #ff3030, #a52a2a);
}

.lightBlueTexture {
    background: rgb(140,222,218);
    background: -moz-linear-gradient(top, rgb(124, 181, 179) 0%, rgb(69, 140, 136) 100%);
    background: -webkit-linear-gradient(top, rgb(124, 181, 179) 0%,rgb(69, 140, 136) 100%);
    background: linear-gradient(to bottom, rgb(124, 181, 179) 0%,rgb(69, 140, 136) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8cdeda', endColorstr='#50c9c3',GradientType=0 );
}

.gold-text {
    color: #c3a343;
    -webkit-text-fill-color: transparent;
    background: -webkit-linear-gradient(transparent, transparent), url('Gold_background2.jpg') repeat;
    background: -o-linear-gradient(transparent, transparent);
    -webkit-background-clip: text;
}

.samsBlueMesh {
    background: rgb(17,118,196);
    background: -moz-radial-gradient(circle, rgba(17,118,196,1) 0%, rgba(16,92,180,1) 51%, rgba(33,67,163,1) 100%);
    background: -webkit-radial-gradient(circle, rgba(17,118,196,1) 0%, rgba(16,92,180,1) 51%, rgba(33,67,163,1) 100%);
    background: radial-gradient(circle, rgba(17,118,196,1) 0%, rgba(16,92,180,1) 51%, rgba(33,67,163,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#1176c4",endColorstr="#2143a3",GradientType=1);
}

.mellowGradient {
    background-color: #00364b;
    background-image: radial-gradient(circle, #555555 0%,#002a3a 120%);
}

.lateralImageGray {
    background-image: url('light_gray.jpg');
    background-size: 100%;
    background-position: center;
}

.luxuryTexture {
    background: url('luxury_ornament.jpg');
    background-repeat: repeat;
    background-size: auto;
}


/*------------------------------------*\
    ANIMATION
\*------------------------------------*/

.pulse {
    -webkit-animation: pulse 1s linear infinite;
    -moz-animation: pulse 1s linear infinite;
    -ms-animation: pulse 1s linear infinite;
    animation: pulse 1s linear infinite;
}

.lxdx {
    animation: nudge 3s linear infinite;
}

.float {
    animation: float 3s ease-in-out infinite;
}

@keyframes pulse {
    0% {
        -webkit-transform: scale(1.1);
        -moz-transform: scale(1.1);
        -o-transform: scale(1.1);
        -ms-transform: scale(1.1);
        transform: scale(1.1);
    }
    50% {
        -webkit-transform: scale(0.8);
        -moz-transform: scale(0.8);
        -o-transform: scale(0.8);
        -ms-transform: scale(0.8);
        transform: scale(0.8);
    }
    100% {
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -o-transform: scale(1);
        -ms-transform: scale(1);
        transform: scale(1);
    }
}

@keyframes nudge {
    0%, 100% {
        transform: translate(0, 0);
    }
    50% {
        transform: translate(120px, 0);
    }
    100% {
        transform: translate(-120px, 0);
    }
}

@keyframes float {
    0% {
        transform: translatey(0px);
    }
    50% {
        transform: translatey(-20px);
    }
    100% {
        transform: translatey(0px);
    }
}


/*------------------------------------*\
    BUTTONS
\*------------------------------------*/

.mybutton_round {
    display: inline-block;
    background: linear-gradient(to bottom, rgba(255,255,255,0.15) 0%, rgba(0,0,0,0.15) 100%), radial-gradient(at top center, rgba(255,255,255,0.40) 0%, rgba(0,0,0,0.40) 120%) #313131;
    border-radius: 12px;
    text-shadow: 0px 1px 3px #666666;
    box-shadow: 0px 2px 4px #1d1d1d;
    color: #ffffff;
    font-size: 36px;
    padding: 15px 25px 15px 25px;
    text-decoration: none;
}

.mybutton_round:hover {
    background: linear-gradient(to bottom, rgba(255,255,255,0.15) 0%, rgba(0,0,0,0.15) 100%), radial-gradient(at top center, rgba(255,255,255,0.40) 0%, rgba(0,0,0,0.40) 120%) #828282;
    text-decoration: none;
    color: #fff;
}

.cornerButton {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    width: auto;
    display: inline-block;
    font-size: 16px;
    height: 42px;
    padding: 0 20px;
    border: 2px solid #fff;
    color: #fff;
    text-transform: uppercase;
    line-height: 38px;
    position: relative;
    font-family: "Open sans";
    transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    -ms-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -webkit-transition: all 0.3s ease 0s;
}

.cornerButton::after {
    content: "";
    height: 0;
    left: 0;
    position: absolute;
    top: 0;
    transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    -ms-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -webkit-transition: all 0.3s ease 0s;
    width: 100%;
    z-index: -1;
    background: #fff;
}

.cornerButton:hover {
    color: #e1206f;
    background-color: #fff;
}

.cornerButton a:hover {
    color: #222;
}

.navMenu_button {
    border-radius: 46px;
    border: none;
    text-align: center;
    font-size: 17px;
    height: 48px;
    line-height: 48px;
    font-weight: 600;
    transition: all 0.5s;
    cursor: pointer;
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0,.1);
    background: #fff;
    color: #373737 !important;
}

.navMenu_button:hover {
    opacity: 0.7;
}


/*------------------------------------*\
    countdown
\*------------------------------------*/

.countdown {
    text-align: center;
    color: #222;
}

.countdown .time {
    width: 250px;
    font-size: 17px;
}

.countdown .time > div {
    line-height: 18px;
    margin-bottom: 5px;
    font-weight: 600;
}

.countdown .time ul {
    padding: 0px;
    margin: 0px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.countdown .time ul li {
    line-height: 1;
    font-size: 48px;
    text-align: center;
    margin: 0 13px;
    list-style-type: none;
    position: relative;
}

.countdown .time ul li .podp {
    display: block;
    position: relative;
    font-size: 17px;
    margin-top: 3px;
}


/*--------------------------------------------------------*\
    countdown-text (ORDER)
\*--------------------------------------------------------*/

#countdown .container {
    padding: 0;
    padding-top: 40px;
    padding-bottom: 0;
    text-align: center;
}

#countdown .container .content {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

#countdown .container .content .text {
    float: left;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 5px 15px 5px 15px;
    margin-bottom: 25px;
    text-align: left;
    font-size: 16px;
    color: #fff;
    border-left: 5px solid #fff;
    max-width: 400px;
}

#countdown .container .content .countdown {
    margin: 0 25px 50px 0;
    float: left;
    color: #fff;
}

#countdown .container .content .countdown .time {
    margin: auto;
}


/*------------------------------------*\
    navMenu
\*------------------------------------*/

#navMenu {
    background-color: transparent;
    position: absolute;
    top: 0;
    height: fit-content;
    z-index: 99;
    width: 100%;
    color: #373737;
}

#navMenu.open {
    background-color: #9b9b9bb3;
}

#navMenu::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 170%;
    opacity: .6;
    pointer-events: none;
    background: -webkit-gradient(linear,left top,left bottom,color-stop(0,rgba(0,0,0,.5)),to(transparent));
    background: linear-gradient(180deg,rgba(0,0,0,.5) 0,transparent);
    z-index: 0;
    -webkit-transition: opacity .3s var(--easeOutCubic);
    transition: opacity .3s var(--easeOutCubic);
}

#navMenu > .content {
    margin-top: 25px;
    margin-bottom: 25px;
    width: 100%;
    max-width: 85%;
}

#navMenu > .content,
#navMenu .logo {
    height: 100%;
    position: relative;
}

#navMenu .logo {
    padding-left: 9px;
}

#navMenu .logo img {
    max-height: 50px;
    height: 100%;
    margin-right: 40px;
}

#navMenu .mobile-menu {
    display: none;
    position: absolute;
    left: 270px;
    top: -14px;
}

#navMenu .mobile-menu.hamburger {
    padding: 23px;
}

#navMenu ul.menu {
    list-style: none;
}

#navMenu ul.menu li {
    float: left;
    width: auto;
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 0;
    font-size: 16px;
    font-weight: 500;
    text-transform: uppercase;
}

#navMenu ul.menu li a {
    letter-spacing: 1px;
    color: #fff;
    z-index: 999999;
}

#navMenu ul li .hide.button {
    display: none;
}

#navMenu ul.menu li a.navMenu_button {

}

.hamburger-inner,
.hamburger-inner:after,
.hamburger-inner:before {
    background-color: #fff !important;
}


/*------------------------------------*\
    header
\*------------------------------------*/

#header {
    margin: 0;
    background-image: url("header_bg.jpg");
    background-size: cover;
    padding-top: 95px;
}

#header > .content {
    width: 100%;
}

#header .logo {
    padding-top: 15px;
    padding-bottom: 20px;
}

#header .logo .subtitle {
    font-size: 24px;
    margin: 5px 0 20px 0;
    line-height: 40px;
    font-weight: 500;
}

#header .logo .subtitle span {
    color: #a52a2a;
}

#header .logo img {
    max-width: 500px;
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
}

#header .price > span {
    padding-left: 10px;
    padding-right: 10px;
}

#header .price .quantity {
    font-size: 26px;
    margin-bottom: 5px;
}

#header .price .quantity b {
    margin-right: 10px;
    font-size: 50px;
    color: #a52a2a;
}

#header .price .old {
    font-size: 38px;
    font-weight: 500;
    text-decoration: line-through;
    color: #747474;
}

#header .price .new {
    font-size: 54px;
    font-weight: bold;
    color: #a52a2a;
}

#header .price .discount img {
    max-width: 105px;
}

#header .watch {
    position: relative;
}

#header .watch img {
    width: 100%;
}

#header .logo-column {
    z-index: 2;
    margin-top: 100px;
    height: fit-content;
}

#header .logo-column > .content {
    min-width: 600px;
    text-align: center;
}

#header .logo-column .specs {
    font-size: 23px;
    line-height: 31px;
    font-weight: bold;
    text-align: left;
    margin-top: 15px;
    margin-bottom: 25px;
    padding-left: 0;
    padding-right: 0;
    max-width: 500px;
}

#header .logo-column .specs .spec {
    margin-top: 8px;
    margin-bottom: 8px;
    margin-left: 15px;
}

#header .logo-column .specs .spec span {
    color: #a52a2a;
}

#header .logo-column .specs .text {
    width: calc(100% - 100px);
}

#header .logo-column .specs img {
    padding-right: 15px;
    width: 80px;
}

#header .logo-column .image img {
    max-width: 350px;
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
}

#header .countdown_button .content {
    max-width: 700px;
}

#header .countdown_button .countdown,
#header .countdown_button .btn {
    margin-top: 30px;
    margin-bottom: 35px;
    min-width: 300px;
    font-family: "Open Sans";
    font-weight: 600;
}


/*--------------------------------------------------------*\
    only-text-banner
\*--------------------------------------------------------*/

#only-text-banner {
    padding-top: 40px;
    padding-bottom: 40px;
    border-top: 5px solid #df982a;
}

#only-text-banner .row1 {
    font-size: 37px;
    font-weight: 600;
    letter-spacing: 1px;
    line-height: 46px;
    width: 100%;
    color: #fff;
    text-shadow: 1px 1px 0px #292929;
}

#only-text-banner .row1 img {
    max-height: 31px;
    margin-bottom: 12px;
    margin-left: 3px;
    margin-right: 3px;
}

#only-text-banner .countdown_button .content {
    max-width: 730px;
    padding-top: 40px;
    color: #fff;
}

#only-text-banner .countdown_button .content .countdown {
    color: #fff;
}


/*------------------------------------*\
    advise-banner
\*------------------------------------*/

#advise-banner {
    background-color: #fff;
    padding-bottom: 50px;
}

#advise-banner > .content {
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    max-width: 1400px;
    margin: auto;
}

#advise-banner .sx {
    text-align: left;
    padding-left: 40px;
    height: fit-content;
    padding-top: 70px;
}

#advise-banner .sx > * {
    padding-bottom: 15px;
}

#advise-banner .sx .surtitle {
    font-size: 26px;
}

#advise-banner .sx .title {
    font-size: 37px;
    font-weight: 600;
    font-style: italic;
    line-height: 45px;
    color: #df982a;
}

#advise-banner .sx > .subtitle {
    font-size: 18px;
    font-family: "Open Sans";
    margin-bottom: 30px;
    text-align: justify;
}

#advise-banner .dx img {
    padding: 50px;
    /*max-height: 700px;*/
    width: 100%;
    margin: auto;
}

#advise-banner .bottom .box {
    padding-left: 10px;
    padding-right: 10px;
    text-align: left;
    margin-bottom: 30px;
}

#advise-banner .bottom .box > * {
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
}

#advise-banner .bottom .box .title {
    font-size: 30px;
    font-weight: bold;
    color: #df982a;
    line-height: 35px;
}

#advise-banner .bottom .box .subtitle {
    font-size: 18px;
}

#advise-banner .bottom .box .description {
    padding-top: 5px;
    font-size: 17px;
    line-height: 25px;
    color: #222;
}


/*--------------------------------------------------------*\
    big-g
\*--------------------------------------------------------*/

#big-g {
    padding-top: 20px;
    background-color: #fff;
    padding-left: 20px;
    padding-right: 20px;
}

#big-g .content {
    max-width: 1600px;
    margin: auto;
}

#big-g .uppert-title h5 {
    color: #6e6e6e;
    font-weight: bold;
    font-size: 18px;
    letter-spacing: 1px;
    margin-bottom: 10px;
}

#big-g .main-title {
    font-family: 'Product Sans', sans-serif;
}

#big-g h2 {
    font-weight: bold;
    color: #ff4545;
    margin-bottom: 0;
    letter-spacing: 1px;
}

#big-g .left-text p {
    margin-left: auto;
    margin-right: 0;
}

#big-g .feature-item {
    position: relative;
    margin-top: 10px;
}

#big-g .feature-item:last-child {
    margin-top: 120px;
}

#big-g .feature-item i {
    color: #ff4545;
    margin-right: 5px;
}

#big-g .feature-item h2 {
    font-size: 1.6em;
    color: #373737;
    margin-bottom: 3px;
}

#big-g .feature-item .text {
    width: calc(100% - 160px);
    display: inline-block;
}

#big-g .left-text .feature-item .text {
    text-align: right;
    margin-bottom: -15px;
}

#big-g .right-text .feature-item .text {
    text-align: left;
    margin-bottom: -15px;
}

#big-g .feature-item img {
    margin-left: 22px;
    max-width: 130px;
    display: inline-block;
}

#big-g .right-text .feature-item img {
    text-align: left;
    margin-left: 0;
    margin-right: 22px;
}

#big-g .feature-s2 .feature-item {
    margin-top: 70px;
}

#big-g .feature-s2 .feature-item:first-child {
    margin-top: 0px;
}

#big-g .feature-s2 .feature-item-d {
    margin-top: 30px;
}

#big-g .feature-s2 .feature-img {
    margin-top: 40px;
}

#big-g .feature-s2 .feature-img img {
    max-height: 800px;
    padding: 0 25px 0 25px;
}

#big-g .feature p {
    font-size: 17px;
    font-family: 'Open Sans';
    max-width: 350px;
}

#big-g .carousel-cell {
    width: 100%;
}


/*--------------------------------------------------------*\
    big-g-lateral
\*--------------------------------------------------------*/

#big-g-lateral {
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: #fff;
    margin-top: -1px;
}

#big-g-lateral .content {
    max-width: 1200px;
    margin: auto;
}

#big-g-lateral .main-title {
    padding-bottom: 15px;
}

#big-g-lateral .main-title h2 {
    line-height: 60px;
    text-align: left;
    font-weight: 300;
    font-size: 70px;
    font-weight: normal;
    letter-spacing: -1px;
    color: #df982a;
}

#big-g-lateral .right-text {
    padding-top: 45px;
    padding-bottom: 10px;
}

#big-g-lateral .main-title h2 span {
    margin-left: 260px;
}

#big-g-lateral h2 {
    font-weight: bold;
    margin-bottom: 0;
    letter-spacing: 1px;
}

#big-g-lateral .uppertitle {
    margin-bottom: 0;
}

#big-g-lateral .uppertitle h5 {
    font-size: 16px;
    letter-spacing: 1px;
}

#big-g-lateral .feature-item {
    position: relative;
    margin-top: 10px;
}

#big-g-lateral .feature-item:last-child {
    margin-top: 120px;
}

#big-g-lateral .feature-item i {
    color: #FFA500;
    margin-right: 11px;
    font-size: 36px;
}

#big-g-lateral .feature-item h2 {
    font-size: 22px;
    color: #272727;
    text-align: left;
}

#big-g-lateral .img-box {
    width: 60px;
    height: 60px;
    background: #fff;
    color: #fff;
    text-align: center;
    padding: 3px;
    margin-right: 15px;
}

#big-g-lateral .img-box .icon {
    color: #fe7088;
    padding-top: 3px;
    padding-left: 1px;
    display: inline-block;
}

#big-g-lateral .feature-item h2 img {
    max-width: 85px;
}

#big-g-lateral .feature-item span {
    margin-top: 10px;
    margin-bottom: 10px;
}

#big-g-lateral .feature-s2 .feature-item {
    margin-top: 11px;
}

#big-g-lateral .feature-s2 .feature-item:first-child {
    margin-top: 0px;
}

#big-g-lateral .feature-s2 .feature-img img {
    max-height: 650px;
    padding: 40px 15px 0 15px;
}

#big-g-lateral .feature p {
    font-size: 17px;
    max-width: 380px;
    margin-left: 80px;
    color: #6e6e6e;
    text-align: justify;
}

#big-g-lateral .carousel-cell {
    width: 100%;
}


/*--------------------------------------------------------*\
    box-banner
\*--------------------------------------------------------*/

#box-banner {
    padding-top: 70px;
    background-color: #fff;
}

#box-banner .content {
    padding: 0;
    max-width: 1200px;
    padding-left: 5px;
    padding-right: 5px;
    margin: auto;
}

#box-banner .flickity-prev-next-button .flickity-button-icon {
    display: none;
}

#box-banner .image,
#box-banner .description {
    max-width: 500px;
    margin: auto;
}

#box-banner .innerTitle {
    padding-bottom: 8px;
    font-weight: bold;
    padding-left: 15px;
    padding-right: 15px;
    font-size: 36px;
}

#box-banner .subtitle {
    padding-left: 15px;
    padding-right: 15px;
    font-size: 24px;
    margin-bottom: 35px;
}

#box-banner ul {
    width: 100%;
}

#box-banner ul li {
    display: inline-block;
    width: 33.3%;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 50px;
}

#box-banner ul li .content {
    max-width: 400px;
    margin: auto;
}

#box-banner li .image img {
    border: 1px solid #eee;
    border-radius: 10px;
}

#box-banner li .description {
    text-align: left;
    margin-top: 15px;
}

#box-banner li .description .title {
    color: #222;
    font-size: 23px;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 10px;
    min-height: 50px;
}

#box-banner li .description .title i {
    color: red;
    margin-right: 1px;
    font-size: 36px;
}

#box-banner li .description .title i.icon-mail-alt {
    margin-right: 5px;
}

#box-banner li .description .title span {
    font-weight: 300;
    font-size: 36px;
    margin-right: 15px;
}

#box-banner li .description .title > div {
    float: left;
}

#box-banner li .description .text {
    color: #464646;
    font-size: 16px;
    line-height: 25px;
    text-align: left;
    padding-left: 5px;
    padding-right: 5px;
    min-height: 100px;
    font-family: "Open Sans";
}

#box-banner li .description .cornerButton {
    background-color: #FFA500;
    margin-top: 20px;
}

#box-banner li .description .cornerButton:hover {
    color: #222;
}


/*--------------------------------------------------------*\
    text-image-banner
\*--------------------------------------------------------*/

#text-image-banner {
    padding-top: 50px;
    padding-bottom: 50px;
}

#text-image-banner .innerTitle {
    color: #fff;
}

#text-image-banner .text {
    font-size: 30px;
    color: #fff;
    line-height: 36px;
    float: right;
    padding: 35px 5px 35px 0;
    text-align: left;
    max-width: 500px;
    width: 40%;
    padding-left: 25px;
    padding-right: 10px;
}

#text-image-banner .blade {
    max-width: 110px;
    margin-right: 24px;
    margin-bottom: 30px;
}

#text-image-banner.second .text {
    font-size: 25px;
    line-height: 35px;
}

#text-image-banner .text span {
    font-weight: bold;
}

#text-image-banner .trimmer {
    padding-top: 20px;
}

#text-image-banner .image {
    max-width: 600px;
    width: 60%;
}

#text-image-banner .image img {
    width: 100%;
    border-radius: 10px;
    max-width: 600px;
}


/*--------------------------------------------------------*\
    text-image-banner-2
\*--------------------------------------------------------*/

#text-image-banner-2 {
    padding-top: 70px;
    padding-bottom: 30px;
    min-height: 100px;
    margin-top: -3px;
    background-color: #fff;
}

#text-image-banner-2 .innerTitle {
    font-weight: bolder;
    font-size: 34px;
}

#text-image-banner-2 .text {
    font-size: 17px;
    text-align: justify;
    float: right;
    margin-top: -20px;
    padding: 0 0 30px 0;
    max-width: 400px;
    font-weight: 500;
    width: 40%;
    font-family: "Open sans";
}

#text-image-banner-2 .image {
    max-width: 700px;
    width: 60%;
    padding-left: 40px;
    padding-right: 40px;
}

#text-image-banner-2.app-banner .image img {
    max-width: 500px;
    width: 100%;
    margin: auto;
}

#text-image-banner-2 .os-images {
    margin-top: 25px;
}

#text-image-banner-2 .os-images img.icon {
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 25px;
    max-height: 60px;
}


/*--------------------------------------------------------*\
    text-image-banner-3
\*--------------------------------------------------------*/

#text-image-banner-3 {
    padding-top: 80px;
    padding-bottom: 80px;
    min-height: 100px;
    margin-top: -3px;
    background-color: #fff;
}

#text-image-banner-3 .innerTitle {
    font-weight: bolder;
    font-size: 30px;
}

#text-image-banner-3 .text {
    font-size: 17px;
    text-align: justify;
    float: right;
    margin-top: -20px;
    padding: 0 0 30px 0;
    max-width: 400px;
    font-weight: 500;
    width: 40%;
    font-family: "Open sans";
}

#text-image-banner-3 .image {
    max-width: 800px;
    width: 60%;
    padding-left: 40px;
    padding-right: 40px;
}

#text-image-banner-3.app-banner .image img {
    max-width: 500px;
    width: 100%;
    margin: auto;
}


/*--------------------------------------------------------*\
    slider
\*--------------------------------------------------------*/

#slider .content {
    margin: auto;
}

#slider .content > * {
    padding: 0;
}

#slider .carousel-cell {
    width: 100%;
}

#slider .carousel-cell img {
    width: 100%;
}

#slider .text .innerTitle {
    font-family: 'Product Sans', sans-serif;
    color: #fff;
    margin-left: -5px;
    line-height: 36px;
    font-size: 35px;
    text-align: left;
}

#slider .text .innerTitle i {
    margin-right: 5px;
}

#slider .text ul {
    margin-top: 15px;
    margin-bottom: 15px;
}

#slider .text .title {
    font-size: 17px;
    text-align: justify;
    line-height: 27px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 25px;
    padding-bottom: 25px;
    color: #fff;
}

#slider .text > * {
    max-width: 600px;
    font-family: "Open Sans";
}

#slider .cornerButton {
    background-color: #FFA500;
}

#slider .cornerButton:hover {
    color: #222;
}


/*--------------------------------------------------------*\
    opinions
\*--------------------------------------------------------*/

#opinions {
    padding-top: 70px;
    padding-bottom: 70px;
}

#opinions h2 {
    font-weight: bold;
    color: #FFA500;
}

#opinions .title i {
    color: #3B5998;
}

#opinions .subtitle {
    font-size: 18px;
    margin-bottom: 10px;
}

#opinions .box {
    padding: 20px;
    background-color: #343a40;
    color: #fff;
    border-radius: 10px;
    margin: 0;
}

#opinions .box .title {
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 1px;
}

#opinions .box .subtitle {
    font-size: 16px;
    margin-bottom: 10px;
}

#opinions .box .description {
    font-size: 16px;
    font-style: italic;
    font-weight: 300;
}

#opinions .carousel-cell {
    width: 50%;
    padding: 25px;
}

#opinions .rating {
    margin-top: 15px;
}

#opinions .rating .icon {
    color: red;
}

#opinions .opinions-carousel {
    position: relative;
}

#opinions .opinions-carousel::before,
#opinions .opinions-carousel::after {
    content: '';
    display: inline-block;
    width: 40px;
    height: 100%;
    position: absolute;
    top: 0;
    z-index: 99;
}

#opinions .opinions-carousel::before {
    background-image: linear-gradient(to left, #fff0, rgb(255 255 255));
    left: 0;
}

#opinions .opinions-carousel::after {
    background-image: linear-gradient(to right, #fff0, rgb(255 255 255));
    right: 0;
}


/*--------------------------------------------------------*\
    secureShopping
\*--------------------------------------------------------*/

#secureShopping {
    padding-top: 60px;
    padding-bottom: 60px;
}

#secureShopping .content {
    text-align: left;
    margin: auto;
}

#secureShopping .title,
#secureShopping .subtitle {
    text-align: center;
    color: #222;
}

#secureShopping .subtitle {
    font-size: 19px;
}

#secureShopping ul {
    list-style: none;
    margin-top: 30px;
}

#secureShopping ul li {
    margin: 0;
    padding-bottom: 10px;
}

#secureShopping ul li img {
    width: 120px;
    height: 120px;
    padding: 0;
    margin-right: 15px;
    float: left;
}


/*--------------------------------------------------------*\
    order
\*--------------------------------------------------------*/

#order {
    background: #a52a2a;
    background-position: center;
    margin-top: -5px;
}

#order > .content > .container {
    padding: 50px 0 50px 0;
    text-align: center;
}

#order .container .center {
    max-width: 800px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

#order iframe {
    height: 600px;
    width: 100%;
    background: white;
    border: 3px dashed #3a926c;
    padding-top: 20px;
}

#order #order_frame {/* togliere! */
    /*padding: 15px;
    height: 1000px;
    width: 100%;
    background: white;
    border: 3px dashed #3a926c;
    max-height: 300px;
    margin-bottom: 20px;*/
}


/*--------------------------------------------------------*\
    footer
\*--------------------------------------------------------*/

#footer {
    position: relative;
    color: white;
    font-size: 15px;
    text-align: center;
    width: 100%;
    padding-top: 35px;
    padding-bottom: 30px;
    background-color: #121212;
    margin-top: -5px;
}

#footer .footer-logo {
    margin-bottom: 30px;
}

#footer .footer-logo img {
    max-width: 230px;
}

#footer .description {
    font-weight: 300;
    letter-spacing: 1px;
}

#footer a {
    display: block;
    margin-top: 2px;
    margin-bottom: 5px;
}

#footer a i {
    margin-right: 5px;
}

#footer a,
#footer a i {
    height: 18px;
    line-height: 18px;
    color: #fff;
}


/*--------------------------------------------------------*\
    facebook-box
\*--------------------------------------------------------*/

.facebook-box {
    margin: 30px auto;
    background: #fff;
    border: 1px solid;
    border-color: #e5e6e9 #dfe0e4 #d0d1d5;
    border-radius: 3px;
    box-shadow: 0px 0px 12px #a2a1a1e0;
    -webkit-box-shadow: 0px 0px 12px #a2a1a1e0;
    -moz-box-shadow: 0px 0px 12px #a2a1a1e0;
    -o-box-shadow: 0px 0px 12px #a2a1a1e0;
}

.facebook-box a {
    color: #3b5998;
    cursor: pointer;
    text-decoration: none;
}

.facebook-box hr {
    line-height: 1px;
    height: 1px;
    color: rgba(0, 0, 0, .1);
    background: rgba(0, 0, 0, .1);
    border: 0;
    margin: 10px 0 0 0;
}

.facebook-box .right-icon {
    float: right;
    display: inline;
    width: 24px;
    height: 24px;
    color: #d8d8d8;
    cursor: pointer;
}

.facebook-box .content {
    padding: 12px;
    font-family: "Open Sans";
}

.facebook-box .row.header {
    max-height: 60px;
    margin-bottom: 11px;
}

.facebook-box .header .avatar {
    float: left;
    width: 60px;
    height: 60px;
    margin-right: 8px;
}

.facebook-box .header .name {
    width: calc(100% - 60px - 8px);
}

.facebook-box .header .name h5 {
    margin-bottom: 0px;
    font-weight: 700;
    font-size: 14px;
}

.facebook-box .header .name span {
    color: #9197a3;
    font-size: 12px;
}

.facebook-box .footer {
    border-top: 1px solid #e1e2e3;
    margin: 0;
    padding: 9px 12px 7px 12px;
    font-size: 12px;
    background-color: #f6f7f8;
    border-radius: 0 0 3px 3px;
    color: #141823;
    overflow: hidden;
}

.facebook-box .footer .row {
    margin-top: 10px;
    margin-bottom: 2px;
    overflow: hidden;
}

.form-wrapper {
    padding: 15px;
    width: 100%;
    background: #fff;
    border: 3px dashed #3a926c;
}

.form-wrapper form {
    font-size: 16px;
    max-width: 500px;
    margin: 0 auto;
}
.form-wrapper .form-control {
    font-size: 14px;
    display: block;
    width: 100%;
}
.form-wrapper h3 {
    font-size: 26px;
    font-weight: 700;
    margin-bottom: 20px;
}
.form-wrapper label {
    text-align: left;
    display: block;
}
.form-wrapper  select.form-control:not([size]):not([multiple]) {
    height: 38px;
}
.form-wrapper .btn-lg {
    font-size: 24px;
    line-height: 26px;
    font-weight: 700;
    padding: 10px;
    height: auto;
    margin-top: 20px;
    background: #ffc205;
    border: none;
    color: #000;
}
.form-wrapper .free-delivery {
    margin-top: 15px;
}

[class^="icon-"]:before, [class*=" icon-"]:before {
    font-family: "fontello";
    font-style: normal;
    font-weight: normal;
    speak: never;

    display: inline-block;
    text-decoration: inherit;
    width: 1em;
    margin-right: .2em;
    text-align: center;
    /* opacity: .8; */

    /* For safety - reset parent styles, that can break glyph codes*/
    font-variant: normal;
    text-transform: none;

    /* fix buttons height, for twitter bootstrap */
    line-height: 1em;

    /* Animation center compensation - margins should be symmetric */
    /* remove if not needed */
    margin-left: .2em;

    /* you can be more comfortable with increased icons size */
    /* font-size: 120%; */

    /* Font smoothing. That was taken from TWBS */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    /* Uncomment for 3D effect */
    /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

.icon-down-open:before { content: '\e800'; } /* 'î €' */
.icon-play:before { content: '\e801'; } /* 'î ' */
.icon-star:before { content: '\e802'; } /* 'î ‚' */
.icon-star-empty:before { content: '\e803'; } /* 'î ƒ' */
.icon-heart:before { content: '\e804'; } /* 'î „' */
.icon-temperatire:before { content: '\e805'; } /* 'î …' */
.icon-camera:before { content: '\e806'; } /* 'î †' */
.icon-blood-drop:before { content: '\e808'; } /* 'î ˆ' */
.icon-distance:before { content: '\e809'; } /* 'î ‰' */
.icon-footsteps-silhouette-variant:before { content: '\e80a'; } /* 'î Š' */
.icon-run:before { content: '\e80b'; } /* 'î ‹' */
.icon-battery:before { content: '\e80c'; } /* 'î Œ' */
.icon-night:before { content: '\e80d'; } /* 'î ' */
.icon-ok-circled:before { content: '\f06d'; } /* 'ï­' */
.icon-mail-alt:before { content: '\f0e0'; } /* 'ïƒ ' */
.icon-star-half-alt:before { content: '\f123'; } /* 'ï„£' */
.icon-thumbs-up-alt:before { content: '\f164'; } /* 'ï…¤' */
.icon-cart-plus:before { content: '\f217'; } /* 'ïˆ—' */
.icon-heartbeat:before { content: '\f21e'; } /* 'ïˆž' */
.icon-bed:before { content: '\f236'; } /* 'ïˆ¶' */
.icon-facebook-squared:before { content: '\f30e'; } /* 'ïŒŽ' */
.icon-fire:before { content: '\f525'; } /* 'ï”¥' */