h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 600;
}
b,
strong {
    font-weight: 700;
}
i {
    font-style: italic;
}
.col-1 {
    color: #ffdc00;
}
.col-2 {
    color: #c41255;
}
.col-3 {
    color: #3a6662;
}
.col-4 {
    color: #111;
}
.f-normal {
    font-weight: normal;
}
.mob-vis {
    display: none;
}
body {
    position: relative;
    width: 100%;
    min-width: 1000px;
    padding: 0;
    margin: 0 auto;
    font-family: "Open Sans", "Helvetica", "Arial", sans-serif;
    font-size: 18px;
    line-height: 1.5em;
    color: #111;
    overflow-x: hidden;
    background: #fff;
}
.section,
.wrap,
.container {
    position: relative;
}
.section {
    width: 100%;
}
.wrap {
    width: 960px;
    padding: 0 20px;
    margin: 0 auto;
}
.button-a {
    position: relative;
    display: block;
    width: 288px;
    height: 73px;
    margin: 0 auto;
    outline: none;
    border: 0;
    background: url(button.png) 0 0 no-repeat;
    text-decoration: none;
    cursor: pointer;
    top: 0;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -o-transition: all 0.2s;
    -ms-transition: all 0.2s;
    transition: all 0.2s;
}
.button-a:hover {
    top: -2px;
}
form > div {
    position: relative;
    padding-bottom: 15px;
}
form > div:last-child {
    padding-bottom: 0;
}
form input,
select {
    position: relative;
    display: block;
    outline: 0;
    border: 0;
    width: 288px;
    height: 58px;
    line-height: 58px;
    margin: 0 auto;
    background: #fff;
    text-indent: 15px;
    font-size: 20px;
    border: 1px solid #d7d7d7;
    font-family: "Open Sans", "Helvetica", "Arial", sans-serif;
    font-weight: normal;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}
form input:focus {
    border-color: #222;
}
h1 {
    position: relative;
    font-size: 64px;
    font-weight: 700;
    line-height: 1em;
    text-transform: uppercase;
    color: #fc0;
    text-align: center;
}
h2 {
    position: relative;
    font-size: 44px;
    line-height: 1.2em;
    text-transform: uppercase;
    text-align: center;
}
h3 {
    font-size: 22px;
    color: #999;
    text-transform: uppercase;
}
h2.line {
    padding-bottom: 20px;
}
h2.line:after {
    content: "";
    position: relative;
    display: block;
    width: 315px;
    height: 2px;
    margin: 15px auto 0;
    background: #df111d;
    text-transform: uppercase;
}
h4 {
    line-height: 1.5em;
}
.bg-rep {
    background: url(rep-bg.jpg) repeat;
    color: #fff;
}
.head-line {
    position: relative;
    width: 100%;
    padding: 8px 0 0 0;
    background: #fff;
}
.head-line .logo {
    position: relative;
    float: left;
}
.head-line ul {
    position: relative;
    float: right;
    padding: 10px 0 0 0;
}
.head-line ul li {
    position: relative;
    float: left;
    padding-left: 30px;
}
.head-line ul li > a {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 18px;
    color: #111;
}
.head-line ul li > a:hover {
    color: #38d8ff;
}
.head-line ul li > a span {
    padding: 4px 10px 3px;
    background: #fdc107;
    background: -moz-linear-gradient(top, #fdc107 0%, #fcdb38 100%);
    background: -webkit-linear-gradient(top, #fdc107 0%, #fcdb38 100%);
    background: linear-gradient(to bottom, #fdc107 0%, #fcdb38 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fdc107', endColorstr='#fcdb38',GradientType=0 );
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    color: #222;
}
.head-line ul li > a span:hover {
    background: #fcdb38;
}
.block-1 {
    height: 785px;
    padding-top: 28px;
    background: url(bg-1.jpg) center top no-repeat;
    color: #fff;
}
.block-1 .container {
    position: relative;
    padding-top: 200px;
}
.block-1 .cost {
    margin-top: -23px;
    position: relative;
    float: left;
    width: 500px;
    padding-left: 130px;
    color: #fff;
}
.block-1 .cost > span {
    margin: 0 20px;
    vertical-align: top;
    line-height: 0.8em;
}
.block-1 .new-cost {
    font-weight: 700;
    font-size: 42px;
}
.block-1 .old-cost {
    font-weight: 600;
    font-size: 36px;
}
.block-1 .sale {
    position: relative;
    float: left;
    width: 160px;
    text-align: center;
    color: #222;
    font-weight: 700;
    font-size: 52px;
    line-height: 0.8em;
}
.block-1 .button-a {
    margin: 390px auto 0;
}
.block-2 {
    padding: 60px 0 40px;
}
.block-2 .container {
    padding-top: 60px;
}
.block-2 .video {
    position: relative;
    float: right;
    width: 607px;
    height: 455px;
    padding: 20px 0 0 78px;
    margin: -20px -62px 0 0;
    background: url(bg-2.jpg) center 0 no-repeat;
}
.block-2 .container > p {
    padding-bottom: 20px;
}
.bl-photo {
    padding: 40px 0;
}
.block-3 {
    padding: 60px 0;
}
.block-3 .container-1 {
    position: relative;
    min-height: 350px;
    margin-top: 40px;
    padding: 20px 0 0 500px;
    background: url(bg-4.jpg) left 0 no-repeat;
}
.block-3 .container-1 ul li {
    padding-bottom: 20px;
}
.block-3 .container-2 {
    position: relative;
    min-height: 375px;
    margin-top: 40px;
    padding: 40px 500px 0 0;
    background: url(bg-5-5.jpg) right 0 no-repeat;
}
.block-3 .container-2 ul li {
    padding-bottom: 20px;
}
.block-3 .container-2 h4 {
    padding: 20px 0;
    font-size: 26px;
}
.block-6 {
    padding: 50px 0 60px;
}
.block-6 h2 {
    margin-bottom: 60px;
}
.block-6 .rew-cont {
    position: relative;
    overflow: hidden;
}
.block-6 .rew-item {
    position: relative;
    float: left;
    margin: 0 90px;
}
.block-6 .rew-item > img {
    position: relative;
    display: block;
    float: left;
    margin-top: 10px;
}
.block-6 .rew-item > div {
    padding-left: 180px;
    font-size: 18px;
    line-height: 1.5em;
    text-align: justify;
}
.block-6 .rew-item h4 {
    padding: 5px 0 15px;
    font-size: 22px;
    line-height: 1em;
}
.block-6 .slick-arrow {
    display: inline-block;
    position: absolute;
    width: 42px;
    height: 42px;
    cursor: pointer;
    z-index: 99;
    top: 80px;
    background: url(but-sl.png) no-repeat;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
    filter: alpha(opacity=70);
    -moz-opacity: 0.7;
    -khtml-opacity: 0.7;
    opacity: 0.7;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -o-transition: all 0.2s;
    -ms-transition: all 0.2s;
    transition: all 0.2s;
}
.block-6 .slick-arrow:hover {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=100);
    -moz-opacity: 1;
    -khtml-opacity: 1;
    opacity: 1;
}
.block-6 .slick-prev {
    left: 10px;
    background-position: 0 0;
}
.block-6 .slick-next {
    background-position: -42px 0;
    right: 10px;
}
.block-7 {
    padding: 50px 0;
}
.block-7 ul {
    position: relative;
    padding: 40px 0 0;
}
.block-7 ul li {
    position: relative;
    float: left;
    width: 33%;
    padding: 0 20px;
    text-align: center;
}
.block-7 ul li:before {
    content: "";
    position: relative;
    display: block;
    width: 75px;
    height: 75px;
    margin: 0 auto;
    margin-bottom: 20px;
    background: url(icon-3.png) no-repeat;
}
.block-7 ul li:nth-child(1):before {
    background-position: 0 0;
}
.block-7 ul li:nth-child(2):before {
    background-position: -75px 0;
}
.block-7 ul li:nth-child(3):before {
    background-position: -150px 0;
}
.block-8 {
    padding: 40px 0 10px 0;
    background: url(bg-6.jpg) center 0 no-repeat;
}
.block-8 .left-cont {
    position: relative;
    float: left;
    width: 480px;
    padding: 0 0 0 40px;
}
.block-8 h2 {
    padding-top: 10px;
    font-size: 24px;
    line-height: 1.4em;
    color: #fff;
}
.block-8 h2 > span {
    color: #fc0;
}
.block-8 .cost {
    position: relative;
    width: 370px;
    padding: 57px 0 0 0;
    text-align: center;
    color: #fff;
}
.block-8 .cost > span {
    margin: 0 20px;
    vertical-align: top;
    line-height: 0.8em;
}
.block-8 .new-cost {
    font-weight: 700;
    font-size: 42px;
}
.block-8 .old-cost {
    font-weight: 600;
    font-size: 36px;
}
.block-8 .right-cont {
    position: relative;
    float: right;
    width: 380px;
    margin-top: 54px;
    padding: 30px;
    background: rgba(0, 0, 0, 0.75);
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}
.block-8 .right-cont p.title {
    color: #fff;
    text-align: center;
    font-size: 14px;
    line-height: 1.5em;
}
.block-8 .right-cont p.title strong {
    display: inline-block;
    padding-bottom: 5px;
    font-size: 20px;
    text-transform: uppercase;
}
.block-8 form {
    padding-top: 20px;
    padding-bottom: 0;
}
.footer {
    padding: 125px 0 0;
    font-size: 14px;
    line-height: 1.3em;
    color: rgba(255, 255, 255, 0.8);
}
p.limit {
    text-align: left;
    color: #fff;
    font-size: 17px;
    line-height: 19px;
    margin: auto;
    width: 288px;
    padding-top: 0;
    padding-bottom: 10px;
}
