/*reset*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn,
em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b,
u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table,
caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details,
embed, figure, figcaption, footer, header, menu, nav, output, ruby, section,
summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; outline: 0; font-size: 100%;}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, menu, nav, section, main {display: block;}

ol, ul {list-style: none;}
blockquote, q {quotes: none;}
img{max-width: 100%; height: auto;}
a{text-decoration: underline;}
a:hover{cursor: pointer;}
*::-webkit-input-placeholder {color: #a9a9a9; opacity: 1;}
*:-moz-placeholder {color: #a9a9a9; opacity: 1;}
*::-moz-placeholder {color: #a9a9a9; opacity: 1;}
*:-ms-input-placeholder {color: #a9a9a9; opacity: 1;}
*{margin: 0; padding: 0;}
*{-webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;}
button,input,a{outline: none;}
button, input, select{-webkit-appearance: none; -moz-appearance: none; appearance: none;}
html{
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    -webkit-font-smoothing: subpixel-antialiased !important;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

input::-webkit-input-placeholder { opacity: 1; transition: opacity 0.3s ease; }

input::-moz-placeholder { opacity: 1; transition: opacity 0.3s ease; }

input:-moz-placeholder { opacity: 1; transition: opacity 0.3s ease; }

input:-ms-input-placeholder { opacity: 1; transition: opacity 0.3s ease; }

input:focus::-webkit-input-placeholder { opacity: 0; transition: opacity 0.3s ease; }

input:focus::-moz-placeholder { opacity: 0; transition: opacity 0.3s ease; }

input:focus:-moz-placeholder { opacity: 0; transition: opacity 0.3s ease; }

input:focus:-ms-input-placeholder { opacity: 0; transition: opacity 0.3s ease; }

img {
    flex-shrink: 0;
    align-self: center;
}

input, button {
    font-family: inherit;
}

/* my_presets */
.main-form input.field:focus::-webkit-input-placeholder {opacity:0;}
.main-form input.field:focus::-moz-placeholder          {opacity:0;}
.main-form input.field:focus:-moz-placeholder           {opacity:0;}
.main-form input.field:focus:-ms-input-placeholder      {opacity:0;}
.main-form input.field::-webkit-input-placeholder {color: #222; opacity: 1;}
.main-form input.field:-moz-placeholder {color: #222; opacity: 1;}
.main-form input.field::-moz-placeholder {color: #222; opacity: 1;}
.main-form input.field:-ms-input-placeholder {color: #222; opacity: 1;}
.hidden{display: none;}
.left{float: left;}
.right{float: right;}
.center{text-align: center;}
.just {
    text-align: justify;
    -moz-text-align-last: center;
    text-align-last: center;
}
.clearfix:after{content: '';display: block;clear: both;}
.clear{clear: both;height: 0px;}
.ulfix {font-size: 0;}
/* END my_presets */

h1,h2,h3,h4,h5,h6{font-family: 'Museo Sans', Arial, Helvetica, sans-serif; font-weight: 700; text-transform: uppercase;line-height: 1.2em;}
b,strong{font-weight: 700;}
body{
    width: 100%;
    min-width: 320px;
    padding: 0px;
    margin: 0px auto;
    font-family: 'Museo Sans', Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.5em;
    color: #000;
    background: #fff;
}
section{
    width: 100%;
    max-width: 1920px;
    margin: 0 auto;
    padding: 50px 0;
}
.wrap{
    width: 1170px;
    padding: 0px 10px;
    margin: 0 auto;
    height: 100%;
    position: relative;
}
.wrap:after {
    clear: both;
    content: "";
    display: table;
}
.nopad {
    padding: 0;
}
.main-form input.field {
    position: relative;
    display: block;
    outline: 0;
    border: none;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    width: 100%;
    height: 70px;
    line-height: 68px;
    margin: 0 auto 15px;
    padding: 0 20px;
    background:#fff;
    text-align: center;
    font-size: 18px;
    font-family: 'Museo Sans', Arial, Helvetica, sans-serif;
    font-weight: 400;
    color: #222;
    -webkit-transition: all 0.2s;
    -moz-transition:    all 0.2s;
    -o-transition:      all 0.2s;
    -ms-transition:     all 0.2s;
    transition:         all 0.2s;
}
.btn {
    position: relative;
    display: block;
    width: 300px;
    height: 80px;
    line-height: 80px;
    border-radius: 40px;
    margin: 0 auto;
    border: none;
    text-align: center;
    font-family: 'Museo Sans', Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: 900;
    letter-spacing: .5px;
    text-transform: uppercase;
    text-decoration: none;
    cursor: pointer;
    color: #fff;
    background: #fd3c5f; /* Old browsers */
    background: -moz-linear-gradient(left,  #fd3c5f 0%, #f66543 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left,  #fd3c5f 0%,#f66543 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right,  #fd3c5f 0%,#f66543 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fd3c5f', endColorstr='#f66543',GradientType=1 ); /* IE6-9 */

    -webkit-transition: all 0.2s;
    -moz-transition:    all 0.2s;
    -o-transition:      all 0.2s;
    -ms-transition:     all 0.2s;
    transition:         all 0.2s;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
.btn:hover{
    background: #f66543; /* Old browsers */
    background: -moz-linear-gradient(left,  #f66543 0%, #fd3c5f 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left,  #f66543 0%,#fd3c5f 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right,  #f66543 0%,#fd3c5f 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f66543', endColorstr='#fd3c5f',GradientType=1 ); /* IE6-9 */

}
.btn:active{
    top:1px;
}
.main-form {
    width: 400px;
    margin: 0 auto;
}
.main-form .btn{
    width: 100%;
}
h2.title {
    margin: 0 0 60px 0;
    text-align: center;
    font-size: 36px;
    text-transform: none;
}
h2.title>span{
    color: #f058b1;
}
.price {
    width: 400px;
    margin: 0 auto;
    text-align: center;
}
.old-cost {
    float: left;
}
.old-cost p {
    font-size: 48px;
    line-height: 40px;
}
.old-cost p span {
    text-decoration: line-through;
}
.old-cost > span, .new-cost > span {
    font-size: 16px;
}
.new-cost {
    float: right;
}
.new-cost p {
    font-size: 48px;
    line-height: 40px;
}
.new-cost, .old-cost  {
    width: 50%;
}
.old-cost p small, .new-cost p small {
    font-size: .7em;
}
@media screen and (max-width: 1169px) {
    .wrap{
        width: 780px;
    }
}
@media screen and (max-width: 779px) {
    .wrap{
        width: 320px;
    }

}

/*block1*/
.block1 {
    padding: 10px 0 50px;
    background: url(bg1.jpg) no-repeat center top;
}
.topline {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    align-content: stretch;
    margin-bottom: 50px;
}
.logo {
    margin-right: auto;
}
.logo img {

}
.topbullets {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: stretch;
    align-content: stretch;
}
.topbullets__item {
    font-size: 15px;
    height: 36px;
    border-radius: 18px;
    padding: 0 10px;
    margin-left: 30px;
    -webkit-box-shadow: 0 0 21px 0 rgba(0,0,0,.1);
    box-shadow: 0 0 21px 0 rgba(0,0,0,.1);
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    align-content: stretch;
}
.topbullets__item img {
    margin-right: 10px;
}
.topbullets__item p {
    line-height: 1.2em;
}

.top-title {
    font-weight: 900;
    font-size: 76px;
    margin-bottom: 40px;
}
.top-title span {
    color:#c9213f;
}
.subtitle {
    font-size: 46px;
    font-weight: 700;
    text-transform: none;
    width: 500px;
    margin-bottom: 40px;
}
.subtitle span {
    font-weight: 500;
    font-size: 24px;
    display: block;
}
.product_img {
    position: absolute;
    top: 210px;
    left: 599px;
    z-index: 2;
}
.bullets {
    font-size: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: stretch;
    align-content: stretch;
    width: 710px;
    margin-bottom: 60px;
}
.bullets__item {
    padding: 0 20px 0 22px;
}
.bullets__item p {
    display: block;
    background: #e6e6e6;
    border-radius: 17px;
    padding: 12px 10px 12px 35px;
    position: relative;
}
.bullets__item p:before {
    content: '';
    display: block;
    background: url(check.png) no-repeat 0 0;
    width: 45px;
    height: 44px;
    position: absolute;
    top: -10px;
    left: -22px;
}
.toplead {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    align-content: stretch;
    position: relative;
    z-index: 3;
}
.price {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: center;
    align-content: stretch;
    line-height: 2.5em;
    width: 300px;
}
.price__old {
    font-size: 20px;
    text-decoration: line-through;
}
.price__new {
    color:#fd3c5f;
    font-size: 32px;
    font-weight: 900;
}
.date_sale {
    color:#6a6a6a;
    font-size: 14px;
    line-height: 1.4em;

    margin: 10px 0 0 0px;
}
.dat{
    margin: 10px 0 0 120px;
}
.toplead .date_sale {
    padding-left: 30px;
}
/*block2*/
.block2 {
    background: #efefef url(bg2.png) no-repeat center 0px;
    background-size: cover;
}
.block2  h2.title {
    text-align: left;
}
.about {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: stretch;
    align-content: stretch;
}
.about__left {
    width: 45%;
    flex-shrink: 0;
    padding-top: 90px;
    text-align: center;
}
.about__left img {
    margin-bottom: -15px;
}
.about_img__small {
    display: none;
}
.about__right {
    width: 55%;
    flex-shrink: 0;
    padding: 0 0 0 25px;
}
.about__right p {
    font-size: 20px;
    margin-bottom: 30px;
}
.block2 .date_sale {
    padding-top: 20px;
}
.block2 .date_sale br {
    display: none;
}

/*block3*/
.preim {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: stretch;
    align-content: stretch;
}
.preim__item {
    text-align: center;
    width: 300px;
}
.preim__item img {
    display: block;
    margin: 0 auto 30px;
    border-radius: 50%;
    -webkit-box-shadow: 0 0 21px 0 rgba(0,0,0,.17);
    box-shadow: 0 0 21px 0 rgba(0,0,0,.17);
}
.preim__item p {
    font-size: 22px;
}
.preim__item p b {
    display: block;
    font-weight: 700;
}
/*block4*/
.block4 {
    background: url(bg4.jpg) no-repeat center top / cover;
}
.block4 h2 {
    font-size: 43px;
    text-transform: none;
    text-align: center;
    margin-bottom: 30px;
}
.block4 h2 span {
    background: #fff;
    display: inline-block;
    height: 75px;
    line-height: 75px;
    border-radius: 37px;
    padding: 0 40px;
    position: relative;
}
.block4 h2 span:before {
    content: '';
    display: block;
    position: absolute;
    bottom: -20px;
    left: 40px;
    width: 0;
    height: 0;
    border-left: 17px solid transparent;
    border-right: 17px solid transparent;
    border-top: 20px solid #fff;
}
.block4 h2+p {
    font-size: 20px;
    text-align: center;
    color:#333;
    margin-bottom: 50px;
}
.reviews {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: stretch;
    align-content: stretch;
}
.reviews__item {
    width: 30%;
    background-color: #fff7f6;
    border-radius: 20px;
    padding: 10px;
}
.reviews__item img {

}
/*block5*/
.char-box {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: stretch;
    align-content: stretch;
    margin-bottom: 50px;
}
.char-box__left {
    flex-shrink: 0;
    width: 600px;
}
.char-box_list {
    border-radius: 20px;
    overflow: hidden;
    -webkit-box-shadow: 0 0 16px 0 rgba(0,0,0,.2);
    box-shadow: 0 0 16px 0 rgba(0,0,0,.2);
}
.char-box_list li {
    padding: 5px 5px 5px 30px;
}
.char-box_list li:nth-child(even) {
    background: #e6e6e6;
}
.char-box_list li span {
    font-weight: 700;
    float: right;
    display: inline-block;
    /* width: 150px;*/
}

.char-box__right {
    padding-left: 50px;
}
.char-box__bullets {
    list-style: disc outside;
    margin-left: 20px;
}
.char-box__bullets li {
    font-size: 20px;
    line-height: 1.2em;
    margin-bottom: 10px;
}
.block5 .date_sale {
    text-align: center;
    padding-top: 20px;
}
.block5 .date_sale br {
    display: none;
}
/*block6*/
.block6 {
    background: #efefef;
    padding: 50px 0 0!important;
}
.howto {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: stretch;
    align-content: stretch;
}
.howto__left {
    padding-top: 12px;
}
.howto__right {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    align-content: stretch;
}
.howto__ul {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: baseline;
    align-content: stretch;
}
.howto__li {
    font-size: 24px;
    background: #fff;
    margin-bottom: 43px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    align-content: stretch;
    border-radius: 49px;
}
.howto__li span {
    width: 97px;
    height: 97px;
    background: #fd3c5f;
    border-radius: 50%;
    display: block;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: stretch;
    flex-shrink: 0;
}
.howto__li p {
    padding: 0 20px 0 30px;
}
.warranty {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: stretch;
    max-width: 360px;
    background: #6a9f15;
    color:#fff;
    font-size: 20px;
    height: 97px;
    border-radius: 50px;
    margin-top: -30px;
}
.warranty img {
    margin: 0 20px 0 30px;
}
.warranty p {
    line-height: 1.2em;
}
.warranty p b {
    display: block;
}
/*block7*/
.block7 {
    background: url(b7_large.jpg) no-repeat center 0px;
}
.block7 h2 {
    font-weight: 900;
    font-size: 70px;
    margin-bottom: 10px;
}
.block7 h2 span {
    color: #c9213f;
}
.block7 h3 {
    font-size: 37px;
    font-weight: 700;
    text-transform: none;
    margin-bottom: 20px;
}
.block7 p.subtitle {
    font-size: 24px;
    font-weight: 500;
}
.order-form {
    max-width: 350px;
    background: #efefef;
    border-radius: 50px;
    padding: 20px 15px;
    z-index: 3;
    position: relative;
}
.order-form .price {
    margin-bottom: 20px;
}
.order-form__tile {
    text-align: center;
    font-size: 22px;
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 10px;
}
.order-form__subtitle {
    font-size: 14px;
    text-align: center;
    line-height: 1.3em;
    margin-bottom: 20px;
}
.mainform-body__field, .form-control {
    position: relative;
    display: block;
    outline: 0;
    border: none;
    border-radius: 35px;
    -webkit-border-radius: 35px;
    width: 100%;
    height: 70px;
    line-height: 70px;
    margin: 0 auto 10px;
    padding: 0 20px;
    background: #fff;
    text-align: center;
    font-size: 18px;
    font-family: 'Museo Sans', Helvetica, sans-serif;
    font-weight: 400;
    color: #222;
    -webkit-transition: all 0.2s;
    -moz-transition:    all 0.2s;
    -o-transition:      all 0.2s;
    -ms-transition:     all 0.2s;
    transition:         all 0.2s;
}
.mainform-body__btn {
    position: relative;
    z-index: 2;
    display: block;
    width: 100%;
    height: 70px;
    line-height: 70px;
    margin: 0 auto;
    border: none;
    border-radius: 35px;
    -webkit-border-radius: 35px;
    text-align: center;
    font-family: 'Museo Sans', Helvetica, sans-serif;
    font-size: 20px;
    letter-spacing: .5px;
    font-weight: 900;
    text-transform: uppercase;
    text-decoration: none;
    cursor: pointer;
    color: #fff;
    background: #fd3d5f; /* Old browsers */
    background: -moz-linear-gradient(left,  #fd3d5f 0%, #f66543 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left,  #fd3d5f 0%,#f66543 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right,  #fd3d5f 0%,#f66543 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fd3d5f', endColorstr='#f66543',GradientType=1 ); /* IE6-9 */

    -webkit-transition: all 0.2s;
    -moz-transition:    all 0.2s;
    -o-transition:      all 0.2s;
    -ms-transition:     all 0.2s;
    transition:         all 0.2s;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
.mainform-body__btn:hover {
}
.mainform-body__btn:active {
    top:-1px;
}
.mainform-body {
    width: 100%;
    margin: 0;
}
.order-form .date_sale {
    text-align: center;
    padding: 15px 0 0;
}
.foot-img {
    position: absolute;
    top: 321px;
    right: 248px;
}
/*block8*/

/*block9*/


/*block10*/


.footer {
    text-align: center;
    padding: 40px 0 30px;
}
.footer a {
    font-size: 14px;
    color:#333;
}


@media screen and (max-width: 1169px) {
    .block1 {
        padding: 10px 0 50px;
        background: url(bg1-2.jpg) no-repeat center top;
    }
    .topbullets > :last-child {
        display: none;
    }

    .subtitle {
        font-size: 40px;
    }
    .product_img {
        top: 140px;
        left: 422px;
        width: 360px;
    }
    .about {
        flex-direction: column-reverse;
    }
    .about > div {
        width: 100%;
    }
    .block2 {
        background: #efefef;
    }
    .dat{
        margin: 10px 0 0 120px;
    }
    .date_sale {
        color: #6a6a6a;
        font-size: 14px;
        line-height: 1.4em;
    }
    .about_img__large {
        display: none;
    }
    .about_img__small {
        display: block;
        margin: 0 auto 20px !important;
    }
    .about__left,
    .about__right {
        padding: 0;
    }

    .reviews__item {
        margin-bottom: 20px;
    }
    .char-box {
        flex-direction: column;
    }
    .char-box > div {
        width: 100%;
    }
    .char-box__right {
        padding-left: 0;
    }
    .howto {
        flex-direction: column;
    }
    .block7 {
        background: url(b7_medium.jpg) no-repeat center 0px;
    }
    .foot-img {
        top: 349px;
        right: -26px;
        width: 465px;
        z-index: 1;
    }
}

@media screen and (max-width: 960px) {
    .reviews__item {
        width: 47%;
    }
}
@media screen and (max-width: 779px) {

    .reviews__item {
        width: 90%;
    }
    .topbullets {
        display: none;
    }
    .topline {
        margin-bottom: 25px;
    }
    .logo {
        margin: 0 auto;
    }
    .block1   {
        background: url(block1_small.jpg) no-repeat center 0px;
    }
    .block7 {
        background: url(b7_medium2.jpg) no-repeat center 0px;
    }
    .date_sale {
        margin: 10px auto 0;
        text-align: center;
    }
    .top-title {
        font-size: 40px;
        margin-bottom: 10px;
        text-align: center;
    }
    .subtitle {
        width: 100%;
        font-size: 30px;
        text-align: center;
        margin-bottom: 50px;
    }
    .subtitle span {
        font-size: 17px;
    }
    .product_img {
        position: static;
        width: auto;
        margin-bottom: 30px;
    }
    .bullets {
        flex-direction: column;
        width: 100%;
        margin-bottom: 20px;
    }
    .bullets__item p {
        font-size: 16px;
        line-height: 1.3em;
    }
    .bullets__item {
        margin-bottom: 10px;
    }
    .toplead {
        flex-direction: column;
    }
    .toplead .price {
        margin-bottom: 20px;
    }
    .toplead .date_sale {
        padding: 20px 0 0;
        text-align: center;
    }
    h2.title {
        font-size: 30px;
        text-align: center !important;
    }
    .about__right p {
        font-size: 18px;
    }
    .preim__item {
        margin-bottom: 30px;
    }
    .block4 .wrap,
    .block5 .wrap  {
        padding: 0;
    }
    .char-box_list li {
        padding: 2px 5px 2px 10px;
    }
    .char-box_list {
        font-size: 12px;
        margin-bottom: 20px;
    }
    .char-box_list li span {
        /*width: 84px;*/
    }
    .char-box__bullets li {
        font-size: 18px;
    }
    .howto__li {
        font-size: 18px;
    }
    .howto__li span {
        width: 90px;
        height: 90px;
    }
    .howto__li p {
        padding: 0 10px 0 10px;
        line-height: 1.3em;
    }
    .warranty {
        font-size: 17px;
    }
    .block7 h2 {
        font-size: 40px;
        text-align: center;
    }
    .block7 h3 {
        font-size: 27px;
        text-align: center;
    }
    .block7 p.subtitle {
        font-size: 17px;
    }
    .foot-img {
        position: static;
        width: 100%;
        margin: 0 auto;
        display: block;
    }
    .subtitle {
        margin-bottom: 164px;
    }
    .block7 .wrap {
        padding: 0;
    }


}
