/* reset */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: "";
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

a, input, button {
    outline: none;
}

a {
    background-color: transparent;
    text-decoration: underline;
    -webkit-text-decoration-skip: objects;
}

input, button {
    margin: 0;
    padding: 0;
    border: 0;
    background: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

/* styles */

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    -webkit-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    min-width: 320px;
    background: #fff;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #000;
    cursor: default;
}

header, section, footer {
    margin: 0 auto;
    max-width: 1920px;
}

.wrapper {
    margin: 0 auto;
    padding: 0 10px;
    width: 1170px;
    position: relative;
}

.clearfix:after {
    content: "";
    display: block;
    clear: both;
}

img {
    max-width: 100%;
    height: auto;
}

/* placeholder */

::-webkit-input-placeholder {
    opacity: 1;
    color: #fff;
}

:-moz-placeholder {
    opacity: 1;
    color: #fff;
}

::-moz-placeholder {
    opacity: 1;
    color: #fff;
}

:-ms-input-placeholder {
    opacity: 1;
    color: #fff;
}

:focus::-webkit-input-placeholder {
    opacity: 0;
}

:focus:-moz-placeholder {
    opacity: 0;
}

:focus::-moz-placeholder {
    opacity: 0;
}

:focus:-ms-input-placeholder {
    opacity: 0;
}

/* bold */

b {
    font-weight: 700;
}

/* items list */

.items_list {
    font-size: 0;
    line-height: 0;
    letter-spacing: -1px;
    text-align: center;
}

.items_list .item {
    display: inline-block;
    vertical-align: top;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: normal;
}

/* button */

.button {
    display: block;
    margin: 0 auto;
    width: 300px;
    height: 64px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    font-weight: 700;
    font-size: 18px;
    line-height: 64px;
    text-transform: uppercase;
    text-align: center;
}

/* form */

form {
    position: relative;
}

form input,
.wrapper select {
    display: block;
    margin: 0 auto 10px auto;
    padding: 0 15px;
    width: 300px;
    height: 64px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    background-color: rgba(255, 255, 255, 0.15);
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #fff;
    text-align: center;
}

.wrapper select {
    color: #789DAA;
}

form button {
    background-color: #ffd600;
    background-image: -webkit-gradient(linear, left bottom, left top, from(#ff9000), to(#ffd600));
    background-image: -webkit-linear-gradient(bottom, #ff9000 0%, #ffd600 100%);
    background-image: -moz-linear-gradient(bottom, #ff9000 0%, #ffd600 100%);
    background-image: -o-linear-gradient(bottom, #ff9000 0%, #ffd600 100%);
    background-image: linear-gradient(to top, #ff9000 0%, #ffd600 100%);
    -webkit-box-shadow: 0 3px 0 0 #d27800;
    -moz-box-shadow: 0 3px 0 0 #d27800;
    box-shadow: 0 3px 0 0 #d27800;
    font-family: 'Open Sans', sans-serif;
    color: #362001;
    text-shadow: 0 1px 0 #ffd500;
    cursor: pointer;
}

form button:hover {
    background-color: #f2cc03;
    background-image: -webkit-gradient(linear, left bottom, left top, from(#f28902), to(#f2cc03));
    background-image: -webkit-linear-gradient(bottom, #f28902 0%, #f2cc03 100%);
    background-image: -moz-linear-gradient(bottom, #f28902 0%, #f2cc03 100%);
    background-image: -o-linear-gradient(bottom, #f28902 0%, #f2cc03 100%);
    background-image: linear-gradient(to top, #f28902 0%, #f2cc03 100%);
}

form button:active {
    background-color: #f28902;
    background-image: -webkit-gradient(linear, left bottom, left top, from(#f2cc03), to(#f28902));
    background-image: -webkit-linear-gradient(bottom, #f2cc03 0%, #f28902 100%);
    background-image: -moz-linear-gradient(bottom, #f2cc03 0%, #f28902 100%);
    background-image: -o-linear-gradient(bottom, #f2cc03 0%, #f28902 100%);
    background-image: linear-gradient(to top, #f2cc03 0%, #f28902 100%);
}

/* timer */

.timer_block {
    width: 260px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
}

.timer_block p {
    margin: 0 0 6px 0;
    font-size: 14px;
}

.timer_block .timer_item {
    float: left;
    width: 64px;
}

.timer_block .timer_item:nth-child(2) {
    margin: 0 34px;
    position: relative;
}

.timer_block .count {
    margin: 0 0 5px 0;
    height: 54px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    background-color: #ffd500;
    background-image: -webkit-gradient(linear, left bottom, left top, color-stop(50%, #ffd500), color-stop(50%, #ffb400), to(#ffb400));
    background-image: -webkit-linear-gradient(bottom, #ffd500 50%, #ffb400 50%, #ffb400 100%);
    background-image: -moz-linear-gradient(bottom, #ffd500 50%, #ffb400 50%, #ffb400 100%);
    background-image: -o-linear-gradient(bottom, #ffd500 50%, #ffb400 50%, #ffb400 100%);
    background-image: linear-gradient(to top, #ffd500 50%, #ffb400 50%, #ffb400 100%);
    -webkit-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.15);
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.15);
    font-weight: 700;
    font-size: 36px;
    line-height: 54px;
    text-shadow: 0 1px 4px rgba(0, 0, 0, 0.5);
}

.timer_block .text {
    font-size: 11px;
}

/* price block */

.price_block {
    margin: 0 0 20px 0;
    border-top: 1px solid rgba(255, 255, 255, 0.4);
    border-bottom: 1px solid rgba(255, 255, 255, 0.4);
    background: rgba(24,57,66,0.5);
}

.price_block .price_item {
    float: left;
    width: 50%;
    height: 60px;
    font-weight: 700;
    line-height: 58px;
    text-transform: uppercase;
    text-align: center;
}

.price_block .price_item.old {
    font-size: 28px;
    position: relative;
}

.price_block .price_item.old:before {
    display: block;
    content: '';
    width: 110px;
    height: 3px;
    background: #ffd600;
    -webkit-transform: rotate(-15deg);
    -moz-transform: rotate(-15deg);
    -ms-transform: rotate(-15deg);
    -o-transform: rotate(-15deg);
    transform: rotate(-15deg);
    position: absolute;
    top: 50%;
    margin-top: -2px;
    left: 50%;
    margin-left: -55px;
}

.price_block .price_item.old span {
    font-size: 20px;
}

.price_block .price_item.new {
    font-size: 30px;
    color: #ffd600;
}

.price_block .price_item.new span {
    font-size: 20px;
}

/* product count */

.products_count_block {
    font-weight: 700;
    font-size: 18px;
    line-height: 20px;
    text-transform: uppercase;
}

.products_count_block span {
    display: block;
    float: left;
    margin: -4px 10px 0 0;
    width: 60px;
    height: 48px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    background: #124454;
    -webkit-box-shadow: 0 2px 0 #0b3543;
    -moz-box-shadow: 0 2px 0 #0b3543;
    box-shadow: 0 2px 0 #0b3543;
    font-size: 36px;
    line-height: 48px;
    text-align: center;
}

/* offer */

.offer_section {
    padding: 40px 0 0 0;
    height: auto;
    background: #1b7ac2 url(desctop__offer_bg.png) center top no-repeat;
    background-size: cover;
    color: #fff;
}

.offer_section .accent_color {
    color: #ffd600;
}

.offer_section h1,
.offer_section h2 {
    margin: 0 0 40px 0;
    font-weight: 700;
    font-size: 38px;
    line-height: 44px;
    text-transform: uppercase;
    text-align: center;
}




.offer_section h1 span {
    text-decoration: underline;
}

.offer_section .subtitle {
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
    text-transform: uppercase;
    text-align: center;
}

.offer_section .info {
    float: left;
    margin: 0 0 0 10px;
    padding: 31px 0 0 0;
    width: 770px;
    position: relative;
}

.offer_section ul {
    margin: 8px 0 40px 0;
    width: 420px;
}

.offer_section ul li {
    margin: 0 0 33px 0;
    padding: 38px 0 0 100px;
    height: 86px;
    background-position: left top;
    background-repeat: no-repeat;
    font-size: 20px;
}

.offer_section ul li:first-child {
    background-image: url(offer__icon1.png);
}

.offer_section ul li:nth-child(2) {
    background-image: url(offer__icon2.png);
}

.offer_section ul li:last-child {
    margin: 0;
    background-image: url(offer__icon3.png);
}

.offer_section ul li span {
    font-weight: 700;
}

.offer_section .products_count_block {
    margin: 0 0 0 100px;
}

.offer_section .discount {
    width: 233px;
    height: 116px;
    background: url(offer__discount.png) center no-repeat;
    position: absolute;
    top: -23px;
    right: 51px;
    transform: rotate(7deg);
}

.offer_section .discount span {
    display: block;
    padding: 30px 0 0 16px;
    font-size: 30px;
    line-height: 30px;
    color: #ffd500;
    text-transform: uppercase;
    -webkit-transform: rotate(10.8deg);
    -moz-transform: rotate(10.8deg);
    -ms-transform: rotate(10.8deg);
    -o-transform: rotate(10.8deg);
    transform: rotate(10.8deg);
}

.offer_section form {
    float: left;
    margin: 5px 0 0 0;
    padding: 13px 0 23px 0;
    width: 360px;
    border: 1px solid rgba(255, 255, 255, 0.4);
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    background: rgba(24,57,66,0.5);
    position: relative;
}

.offer_section form .arrow {
    width: 27px;
    height: 72px;
    background: url(offer__arrow.png) center no-repeat;
    position: absolute;
    top: 75px;
    right: 15px;
}

.offer_section .timer_block {
    margin: 0 auto 12px auto;
}

/* diseases */

.diseases_section {
    padding: 41px 0 50px 0;
    background: url(desctop__diseases_bg.jpg) center top no-repeat;
    color: #222;
}

.diseases_section h2 {
    margin: 0 0 33px 0;
    font-weight: 700;
    font-size: 40px;
    line-height: 46px;
    text-transform: uppercase;
    text-align: center;
}

.diseases_section .accent_color {
    color: #c32f1c;
}

.diseases_section p:first-of-type {
    margin: 0 0 25px 0;
}

.diseases_section p:last-of-type {
    margin: 0 0 43px 0;
}

.diseases_section .disease_item {
    margin: 0 4.6px 0 0;
    padding: 213px 0 0 0;
    width: 284px;
    height: 284px;
    background-position: center;
    background-repeat: no-repeat;
}

.diseases_section .disease_item:first-child {
    background-image: url(diseases__disease1_image.png);
}

.diseases_section .disease_item:nth-child(2) {
    background-image: url(diseases__disease3_image.png);
}

.diseases_section .disease_item:nth-child(3) {
    background-image: url(diseases__disease3_image.png);
}

.diseases_section .disease_item:last-child {
    margin: 0;
    background-image: url(diseases__disease4_image.png);
}

.diseases_section .disease_item h3 {
    font-weight: 700;
    font-size: 18px;
    color: #fff;
    text-transform: uppercase;
    text-shadow: 0 1px 5px #791205;
}

/* cellulite types */

.cellulite_types_section {
    padding: 54px 0 30px 0;
    background: #eadfd9 url(desctop__cellulite_types_bg.jpg) center top no-repeat;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.cellulite_types_section h2 {
    margin: 0 0 54px 0;
    font-weight: 700;
    font-size: 38px;
    line-height: 44px;
    color: #fff;
    text-transform: uppercase;
    text-align: center;
}

.cellulite_types_section h2 span {
    padding: 0 10px;
    background: #f83232;
}

.cellulite_types_section .photo_block {
    float: left;
    margin: 0 36px 0 0;
    width: 484px;
    position: relative;
}

.cellulite_types_section .photo_block:after {
    display: block;
    content: '';
    width: 488px;
    height: 22px;
    background: url(cellulite_types__shadow.png) center top no-repeat;
    position: absolute;
    bottom: -22px;
    left: -2px;
}

.cellulite_types_section .photo_block img {
    display: block;
    width: 484px;
    border: 1px solid #f83232;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

.cellulite_types_section .text {
    float: left;
    width: 630px;
}

.cellulite_types_section .text h3 {
    margin: 0 0 15px 0;
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
    color: #f83232;
    text-transform: uppercase;
}

.cellulite_types_section .text p {
    line-height: 30px;
    color: #222;
}

.cellulite_types_section .text p span {
    padding: 0 4px;
    background: #f83232;
    color: #fff;
}

.cellulite_types_section .owl-dots {
    margin: 30px 0 0 0;
    text-align: center;
}

.cellulite_types_section .owl-dots .owl-dot {
    display: inline-block;
    margin: 0 5px;
    width: 20px;
    height: 20px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    background: #fb908c;
}

.cellulite_types_section .owl-dots .owl-dot.active {
    border: 4px solid #fb908c;
    background: #f83232;
}

/* effects */

.effects_section {
    padding: 43px 0 50px 0;
    background: #025271 url(desctop__effects_bg.jpg) center top no-repeat;
    font-weight: 700;
    color: #fff;
}

.effects_section h2 {
    margin: 0 0 21px 0;
    font-size: 38px;
    line-height: 38px;
    text-transform: uppercase;
}

.effects_section h2 small {
    font-size: 24px;
    white-space: nowrap;
}

.effects_section p {
    margin: 0 0 34px 0;
    width: 950px;
    color: #ffd600;
}

.effects_section p span {
    text-decoration: underline;
    white-space: nowrap;
}

.effects_section ul {
    display: table;
    width: 1020px;
}

.effects_section ul li {
    display: table-cell;
    vertical-align: middle;
    padding: 0 0 0 130px;
    height: 110px;
    background-position: left center;
    background-repeat: no-repeat;
    font-size: 14px;
    line-height: 18px;
}

.effects_section ul li:first-child {
    padding: 0 20px 0 130px;
    width: 335px;
    background-image: url(effects__effect1_icon.png);
}

.effects_section ul li:nth-child(2) {
    padding: 0 20px 0 130px;
    width: 330px;
    background-image: url(effects__effect2_icon.png);
}

.effects_section ul li:last-child {
    width: 355px;
    background-image: url(effects__effect3_icon.png);
}

/* components */

.components_section {
    padding: 41px 0 43px 0;
    background: url(components__product_image.png) center 130px no-repeat;
}

.components_section h2 {
    margin: 0 0 50px 0;
    font-weight: 700;
    font-size: 40px;
    line-height: 46px;
    text-transform: uppercase;
    text-align: center;
}

.components_section h2 span {
    color: #008ebc;
}

.components_section .component_item {
    width: 287.5px;
}

.components_section .component_item:first-child {
    margin: 0 575px 39px 0;
}

.components_section .component_item:nth-child(4),
.components_section .component_item:nth-child(5) {
    margin: 110px 0 0 0;
    padding: 0 5px;
}

.components_section .component_item h3 {
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: #ff9500;
    text-transform: uppercase;
    text-align: center;
}

.components_section .component_item:nth-child(4) h3,
.components_section .component_item:nth-child(5) h3 {
    padding: 0 30px;
}

.components_section .component_item img {
    display: block;
    margin: 16px auto 11px auto;
    border-radius: 180px;
}

.components_section .component_item p {
    font-size: 14px;
}

/* use */

.use_section {
    background: #0172a0 url(desctop__use_bg.png) center -36px no-repeat;
}

.use_section .info {
    padding: 42px 0 38px 450px;
    color: #fff;
}

.use_section h2 {
    margin: 0 0 11px 0;
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    text-transform: uppercase;
}

.use_section h2 span {
    color: #ffd600;
}

.use_section p span {
    padding: 0 4px;
    background: #ffd600;
    line-height: 36px;
    color: #002330;
}

/* methods */

.methods_section {
    padding: 43px 0 50px 0;
    color: #222;
}

.methods_section h2 {
    margin: 0 0 168px 0;
    font-weight: 700;
    font-size: 38px;
    line-height: 38px;
    text-transform: uppercase;
    text-align: center;
}

.methods_section h2 span {
    color: #3aa913;
}

.methods_section h2 small {
    font-size: 24px;
    color: #3aa913;
    white-space: nowrap;
}

.methods_section .method_item {
    width: 80%;
    border: 2px solid #ff004e;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    font-size: 18px;
    padding-bottom: 30px;
}

.methods_section .method_item:nth-child(2) {
    margin: 0 40px;
    padding: 0 0 28px 0;
    border: 2px solid #3aa913;
}

.methods_section .method_item img {
    display: block;
    margin: -140px auto 0 auto;
    border-radius: 180px;
    border: 2px solid #36a110;
    box-shadow: 0 0 10px #36a110;
}

.methods_section .method_item h3 {
    margin-top: 15px;
    height: 54px;
    background: #ff004e;
    font-weight: 700;
    font-size: 18px;
    line-height: 54px;
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    position: relative;
    z-index: 99;
}

.methods_section .method_item:nth-child(2) h3 {
    background: #3aa913;
}

.methods_section .method_item h3:before,
.methods_section .method_item h3:after {
    display: block;
    content: '';
    width: 10px;
    height: 75px;
    position: absolute;
    top: 0;
}

.methods_section .method_item h3:before {
    background: url(methods__red_title_left.png) center no-repeat;
    left: -12px;
}

.methods_section .method_item h3:after {
    background: url(methods__red_title_right.png) center no-repeat;
    right: -12px;
}

.methods_section .method_item:nth-child(2) h3:before {
    background: url(methods__green_title_left.png) center no-repeat;
    left: -12px;
}

.methods_section .method_item:nth-child(2) h3:after {
    background: url(methods__green_title_right.png) center no-repeat;
    right: -12px;
}

.methods_section .method_item:nth-child(2) ul {
    margin: 0 0 25px 0;
    border-bottom: 2px solid #3aa913;
}

.methods_section .method_item li {
    padding: 20px 25px 15px 25px;
}

.methods_section .method_item li:nth-child(2n) {
    background: #c1ffc3;
}

.methods_section .method_item:nth-child(2) li:nth-child(2n) {
    background: #b9ffa1;
}

.methods_section .method_item li:before {
    display: block;
    content: '';
    margin: 0 auto 10px auto;
    background-position: center;
    background-repeat: no-repeat;
}

.methods_section .method_item li.yes:before {
    width: 32px;
    height: 25px;
    background-image: url(methods__yellow_tick_icon.png);
    display: none;
}

.methods_section .method_item:nth-child(2) li.yes:before {
    background-image: url(methods__green_tick_icon.png);
}

.methods_section .method_item li.no:before {
    width: 32px;
    height: 32px;
    background-image: url(methods__cross_icon.png);
}

.methods_section .button {
    background-color: #3aa913;
    background-image: -webkit-gradient(linear, left bottom, left top, from(#2c8e09), to(#3aa913));
    background-image: -webkit-linear-gradient(bottom, #2c8e09 0%, #3aa913 100%);
    background-image: -moz-linear-gradient(bottom, #2c8e09 0%, #3aa913 100%);
    background-image: -o-linear-gradient(bottom, #2c8e09 0%, #3aa913 100%);
    background-image: linear-gradient(to top, #2c8e09 0%, #3aa913 100%);
    -webkit-box-shadow: 0 3px 0 0 #267a08;
    -moz-box-shadow: 0 3px 0 0 #267a08;
    box-shadow: 0 3px 0 0 #267a08;
    color: #fff;
    text-decoration: none;
    text-shadow: 0 1px 0 #2c8e09;
}

.methods_section .button:hover {
    background-color: #369d11;
    background-image: -webkit-gradient(linear, left bottom, left top, from(#298209), to(#369d11));
    background-image: -webkit-linear-gradient(bottom, #298209 0%, #369d11 100%);
    background-image: -moz-linear-gradient(bottom, #298209 0%, #369d11 100%);
    background-image: -o-linear-gradient(bottom, #298209 0%, #369d11 100%);
    background-image: linear-gradient(to top, #298209 0%, #369d11 100%);
}

.methods_section .button:active {
    background-color: #298209;
    background-image: -webkit-gradient(linear, left bottom, left top, from(#369d11), to(#298209));
    background-image: -webkit-linear-gradient(bottom, #369d11 0%, #298209 100%);
    background-image: -moz-linear-gradient(bottom, #369d11 0%, #298209 100%);
    background-image: -o-linear-gradient(bottom, #369d11 0%, #298209 100%);
    background-image: linear-gradient(to top, #369d11 0%, #298209 100%);
}

/* opinion */

.opinion_section {
    background: #328bc4 url(desctop__opinion_bg.jpg) center top no-repeat;
}

.opinion_section .info {
    padding: 49px 0 100px 430px;
}

.opinion_section h2 {
    font-weight: 700;
    font-size: 48px;
    line-height: 48px;
    color: #fff;
    text-transform: uppercase;
    text-align: center;
}

.opinion_section h2 span {
    padding: 0 10px;
    background: #245ba1;
}

.opinion_section .author_info {
    margin: 16px 0 11px 0;
    font-weight: 700;
    font-size: 16px;
    line-height: 30px;
    color: #fff;
    text-align: center;
}

.opinion_section .author_info span {
    text-transform: uppercase;
}

.opinion_section p {
    padding: 18px 30px 21px 30px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    background: rgba(255,255,255,0.8) url(opinion__quote_icon.png) 15px 18px no-repeat;
    line-height: 30px;
    color: #222;
    text-indent: 25px;
    position: relative;
}

.opinion_section p:before {
    display: block;
    content: '';
    width: 98px;
    height: 89px;
    background: url(opinion__arrow.png) center no-repeat;
    opacity: 0.8;
    position: absolute;
    top: 60px;
    left: -98px;
}

.opinion_section p:after {
    display: block;
    content: '';
    width: 281px;
    height: 113px;
    background: url(opinion__signature.png) center no-repeat;
    position: absolute;
    bottom: -70px;
    right: 25px;
}

/* reviews */

.reviews_section {
    padding: 40px 0 50px 0;
}

.reviews_section h2 {
    margin: 0 0 43px 0;
    font-weight: 700;
    font-size: 38px;
    line-height: 44px;
    text-transform: uppercase;
    text-align: center;
}

.reviews_section h2 span {
    color: #008ebc;
    position: relative;
}

.reviews_section h2 span:after {
    display: block;
    content: '';
    width: 27px;
    height: 26px;
    background: url(reviews__title_icon.png) center no-repeat;
    position: absolute;
    top: -10px;
    right: -38px;
}

.reviews_section .reviews_list {
    margin: 0 auto;
    width: 1100px;
}

.reviews_section .review_item {
    padding: 0 0 17px 0;
    width: 350px;
    height: 823px;
    border: 1px solid #b6b6b6;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    background: #d9dfeb;
    overflow: hidden;
}

.reviews_section .review_item img {
    display: block;
    margin: 0 0 24px 0;
    -webkit-border-radius: 4px 4px 0 0;
    -moz-border-radius: 4px 4px 0 0;
    border-radius: 4px 4px 0 0;
}

.reviews_section .review_item .author_info {
    margin: 0 0 12px 0;
    color: #222;
    text-align: center;
}

.reviews_section .review_item .author_info span {
    font-weight: 700;
    font-size: 18px;
    color: #008ebc;
    text-transform: uppercase;
}

.reviews_section .review_item p {
    padding: 0 20px;
    font-size: 14px;
    line-height: 30px;
    color: #222;
}

/* audio review */

.audio_review_section {
    padding: 27px 20px 35px 20px;
    background: #75b4c3;
}



.audio_review_section .audio_review_wrapper {
    display: table;
    width: 100%;
    margin-bottom: 50px;
}

.video-container {
    position: relative;
    width: 470px;
    height: 265px;
    overflow: hidden;
    margin: 50px auto;
    float: right;
}



.video-container iframe, .video-container object, .video-container embed{
    position:absolute;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.youtube .thumb {
    border-radius: 0;
}

.audio_review_section .wrapper {
    width: 960px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.audio_review_section .photo_block {
    display: table-cell;
    vertical-align: middle;
    width: 144px;
}

.audio_review_section img {
    display: block;
    width: 75px;
    height: 75px;
    border: 2px solid #2c2924;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    background: #000;
}

.audio_review_section .review_block {
    display: table-cell;
    vertical-align: middle;
}

.audio_review_section .author_info {
    display: inline-block;
    margin: 0 0 15px 0;
    padding: 2px 6px;
    background: #2c2924;
    font-weight: 700;
    color: #fff;
}

.audio_review_section h2 {
    margin: 0 0 27px 0;
    text-align: center;
    line-height: 47px;
    font-size: 38px;
    text-transform: uppercase;
    font-weight: bold;
}

.audio_review_section h2 span {
    color: #fff;
}

.audio_review_section audio {
    display: block;
    width: 296px;
}
.review_audio {
    clear: both;
    overflow: hidden;
}

.audioLeft {
    float: left;
    width: 400px;
}




/* statistics */

.statistics_section {
    padding: 40px 0 50px 0;
    background: #6060a8 url(desctop__statistics_bg.jpg) center top no-repeat;
    font-weight: 700;
    color: #fff;
    text-align: center;
}

.statistics_section h2,
.statistics_section h3 {
    font-size: 38px;
    line-height: 44px;
    text-transform: uppercase;
}

.statistics_section h2 {
    margin: 0 0 31px 0;
}

.statistics_section h3 {
    margin: 32px 0 43px 0;
}

.statistics_section h2 span {
    color: #ffd600;
    text-decoration: underline;
}

.statistics_section .description {
    font-size: 18px;
    line-height: 30px;
}

.statistics_section .description span {
    padding: 0 4px;
    background: #fff;
    color: #245ba1;
}

.statistics_section .statistics_item {
    margin: 0 70px 0 0;
    width: 235px;
    height: 235px;
    position: relative;
}

.statistics_section .statistics_item:first-child {
    padding: 81px 10px 0 10px;
    background: url(statistics__statistics1_border.png) center no-repeat;
}

.statistics_section .statistics_item:nth-child(2) {
    padding: 69px 10px 0 10px;
    background: url(statistics__statistics2_border.png) center no-repeat;
}

.statistics_section .statistics_item:nth-child(3) {
    padding: 81px 20px 0 20px;
    background: url(statistics__statistics3_border.png) center no-repeat;
}

.statistics_section .statistics_item:last-child {
    margin: 0;
    padding: 81px 15px 0 15px;
    background: url(statistics__statistics4_border.png) center no-repeat;
}

.statistics_section .statistics_item:after {
    display: block;
    content: '';
    width: 20px;
    height: 51px;
    background: url(statistics__arrow.png) center no-repeat;
    position: absolute;
    top: 50%;
    margin-top: -25px;
    right: -45px;
}

.statistics_section .statistics_item:last-child:after {
    display: none;
}

.statistics_section .statistics_item .persents {
    width: 68px;
    height: 68px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    background: #ffd600;
    font-size: 24px;
    line-height: 68px;
    position: absolute;
    top: 0;
    left: 0;
}

.statistics_section .statistics_item:nth-child(2n) .persents {
    background: #245ba1;
}

.statistics_section .statistics_item p {
    font-size: 13px;
    text-transform: uppercase;
}

/* fake */

.fake_section .info {
    padding: 88px 580px 0 0;
    height: 368px;
    background: url(fake__sertificate_image.jpg) 630px 50px no-repeat;
}

.fake_section .info h2 {
    margin: 0 0 35px 0;
    font-weight: 700;
    font-size: 38px;
    line-height: 44px;
    text-transform: uppercase;
    color: #fff;
}

.fake_section .info h2 span {
    padding: 0 15px;
    background: #f83232;
}

.fake_section .info h2 span:after {
    display: inline-block;
    margin: 0 0 0 12px;
    content: '';
    width: 31px;
    height: 27px;
    background: url(fake__title_icon.png) center no-repeat;
}

.fake_section .info p {
    font-size: 18px;
    color: #222;
}

.fake_section .info p:first-of-type {
    margin: 0 0 26px 0;
}

.fake_section .info p:first-of-type span {
    text-decoration: underline;
}

.fake_section .info p:last-of-type {
    font-weight: 700;
}

.fake_section .info p:last-of-type span {
    padding: 0 4px;
    background: #f83232;
    color: #fff;
}

/* order steps */

.order_steps_section {
    padding: 40px 0 44px 0;
    background: #eaeff7;
    color: #222;
    text-align: center;
}

.order_steps_section h2 {
    margin: 0 0 43px 0;
    font-weight: 700;
    font-size: 38px;
    line-height: 44px;
    text-transform: uppercase;
}

.order_steps_section h2 span {
    color: #008ebc;
}

.order_steps_section .step_item {
    width: 25%;
    position: relative;
}

.order_steps_section .step_item:after {
    display: block;
    content: '';
    width: 20px;
    height: 51px;
    background: url(order_steps__arrow.png) center no-repeat;
    position: absolute;
    top: 48px;
    right: -10px;
}

.order_steps_section .step_item:last-child:after {
    display: none;
}

.order_steps_section .step_item .icon {
    margin: 0 auto 16px auto;
    width: 147px;
    height: 147px;
    border: 4px solid #6cb6d3;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    background-position: center;
    background-repeat: no-repeat;
}

.order_steps_section .step_item:first-child .icon {
    background-image: url(order_steps__step1_icon.png);
}

.order_steps_section .step_item:nth-child(2) .icon {
    background-image: url(order_steps__step2_icon.png);
}

.order_steps_section .step_item:nth-child(3) .icon {
    background-image: url(order_steps__step3_icon.png);
}

.order_steps_section .step_item:last-child .icon {
    background-image: url(order_steps__step4_icon.png);
}

.order_steps_section .info {
    margin: 44px 0 0 0;
    padding: 41px 0 0 0;
    border-top: 2px solid #75bed9;
    position: relative;
}

.order_steps_section .info:before {
    display: block;
    content: '';
    width: 26px;
    height: 26px;
    border: 2px solid #75bed9;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    background: #eaeff7;
    -webkit-box-shadow: 0 0 0 10px #eaeff7;
    -moz-box-shadow: 0 0 0 10px #eaeff7;
    box-shadow: 0 0 0 10px #eaeff7;
    position: absolute;
    top: -16px;
    left: 50%;
    margin-left: -13px;
}

/* footer */

footer {
    padding: 15px 10px;
    background: #3c487f;
    font-size: 14px;
    line-height: 14px;
    text-align: center;
    color: #fff;
}

footer img {
    display: block;
    margin: 0 auto 10px auto;
}

footer a {
    color: #d8dae5;
}

footer a:hover {
    text-decoration: none;
}

/* window */

.order_window {
    width: 1000px;
    height: 410px;
    background: #356295 url(desctop__order_window_bg.jpg) center top no-repeat;
    color: #fff;
    position: relative;
}

.order_window .close_button {
    width: 20px;
    height: 20px;
    cursor: pointer;
    position: absolute;
    top: 15px;
    right: 15px;
    z-index: 101;
}

.order_window .close_button:before,
.order_window .close_button:after {
    display: block;
    content: '';
    width: 20px;
    height: 2px;
    background: #fff;
    position: absolute;
    top: 50%;
    margin-top: -1px;
    left: 0;
}

.order_window .close_button:before {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}

.order_window .close_button:after {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.order_window .info {
    float: left;
    padding: 21px 280px 0 35px;
    width: 639px;
    position: relative;
}

.order_window .info h2 {
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    color: #ffd501;
    text-transform: uppercase;
}

.order_window .info .subtitle {
    margin: 0 0 22px 0;
    font-weight: 700;
    font-size: 48px;
    line-height: 38px;
    text-transform: uppercase;
}

.order_window .info .subtitle span {
    font-size: 20px;
    text-decoration: underline;
}

.order_window .timer_block {
    margin: 0 0 20px 0;
}

.order_window .discount {
    width: 185px;
    height: 94px;
    background: url(order_window__discount.png) center no-repeat;
    position: absolute;
    top: 8px;
    right: 51px;
}

.order_window .discount span {
    display: block;
    padding: 24px 0 0 11px;
    font-size: 24px;
    line-height: 24px;
    color: #ffd500;
    text-transform: uppercase;
    -webkit-transform: rotate(10.8deg);
    -moz-transform: rotate(10.8deg);
    -ms-transform: rotate(10.8deg);
    -o-transform: rotate(10.8deg);
    transform: rotate(10.8deg);
}

.order_window form {
    float: left;
    padding: 9px 0 0 0;
    width: 361px;
}

.order_window form .arrow {
    width: 30px;
    height: 59px;
    background: url(order_window__arrow.png) center no-repeat;
    position: absolute;
    top: 45px;
    right: 25px;
}

.order_window form p {
    margin: 0 0 10px 0;
    font-weight: 700;
    font-size: 18px;
    line-height: 34px;
    text-transform: uppercase;
    text-align: center;
}

.order_window form p span {
    font-size: 36px;
    color: #ffd600;
}

@media screen and (max-width: 1169px) {

    /* styles */

    .wrapper {
        width: 640px !important;
    }

    header, section, footer {
        max-width: 960px;
    }

    /* offer */

    .offer_section {
        padding: 25px 0 0 0;
        height: 640px;
        background-image: url(tablet__offer_bg.jpg);
    }

    .offer_section .subtitle {
        display: none;
    }

    .offer_section .info {
        margin: 0;
        padding: 56px 0 0 0;
        width: 280px;
    }

    .offer_section ul {
        display: none;
    }

    .offer_section .products_count_block {
        display: none;
    }

    .offer_section .discount {
        top: -66px;
        right: 8px;
        transform: rotate(13deg);
    }

    .offer_section form {
        margin: -15px 0 0 0;
        width: 340px;
    }

    /* diseases */

    .diseases_section {
        background: url(tablet__diseases_bg.jpg) center bottom no-repeat;
    }

    .diseases_section h2 {
        font-size: 36px;
        line-height: 44px;
    }

    .diseases_section .disease_item:first-child {
        margin: 0 52px 40px 0;
    }

    .diseases_section .disease_item:nth-child(2) {
        margin: 0 0 40px 0;
    }

    .diseases_section .disease_item:nth-child(3) {
        margin: 0 52px 0 0;
    }

    .diseases_section p {
        text-align: center;
    }

    /* cellulite types */

    .cellulite_types_section {
        background-image: none;
    }

    .cellulite_types_section h2 {
        font-size: 36px;
        line-height: 44px;
    }

    .cellulite_types_section .photo_block {
        float: none;
        margin: 0 auto 30px auto;
    }

    .cellulite_types_section .text {
        float: none;
        width: 100%;
    }

    .cellulite_types_section .text {
        text-align: center;
    }

    /* effects */

    .effects_section {
        background-image: none;
        text-align: center;
    }

    .effects_section h2 {
        font-size: 36px;
        line-height: 44px;
    }

    .effects_section h2 small {
        display: inline-block;
        padding: 10px 50px 0 50px;
        line-height: 38px;
        white-space: normal;
    }

    .effects_section p {
        width: 100%;
    }

    .effects_section ul {
        display: block;
        width: 100%;
        font-size: 0;
        line-height: 0;
        letter-spacing: -1px;
    }

    .effects_section ul li {
        display: inline-block;
        vertical-align: top;
        height: auto;
        background-position: center top;
        font-size: 14px;
        line-height: 18px;
        letter-spacing: normal;
    }

    .effects_section ul li:first-child {
        padding: 130px 0 0 0;
        width: 50%;
    }

    .effects_section ul li:nth-child(2) {
        padding: 130px 0 0 0;
        width: 50%;
    }

    .effects_section ul li:last-child {
        margin: 30px 0 0 0;
        padding: 130px 0 0 0;
        width: 50%;
    }

    /* components */

    .components_section {
        background: none;
    }

    .components_section h2 {
        font-size: 36px;
        line-height: 44px;
    }

    .components_section h2 span {
        white-space: nowrap;
    }

    .components_section .component_item {
        margin: 0 40px 40px 0;
        width: 290px;
    }

    .components_section .component_item:first-child {
        margin: 0 40px 40px 0;
    }

    .components_section .component_item:nth-child(2) {
        margin: 0 0 40px 0;
    }

    .components_section .component_item:nth-child(3) {
        margin: 0 40px 40px 0;
    }

    .components_section .component_item:nth-child(4) {
        margin: 0 0 40px 0;
        padding: 0;
    }

    .components_section .component_item:nth-child(5) {
        margin: 0 40px 0 0;
        padding: 0;
    }

    .components_section .component_item:last-child {
        margin: 0;
        padding: 0;
    }

    .components_section .component_item:nth-child(3) h3 {
        padding: 0 50px;
    }

    .components_section .component_item:nth-child(4) h3,
    .components_section .component_item:nth-child(5) h3 {
        padding: 0;
    }

    /* use */

    .use_section {
        background-image: none;
    }

    .use_section .info {
        padding: 42px 0 38px 0;
        text-align: center;
    }

    .use_section h2 {
        font-size: 36px;
        line-height: 44px;
    }

    /* methods */

    .methods_section h2 {
        font-size: 36px;
        line-height: 44px;
    }

    .methods_section h2 small {
        display: inline-block;
        padding: 0 50px 0 40px;
        line-height: 38px;
        white-space: normal;
    }


    .methods_section .method_item:nth-child(2) {
        display: block;
        margin: 0 auto;
    }

    /* opinion */

    .opinion_section {
        background-image: none;
    }

    .opinion_section .info {
        padding: 49px 0 100px 0;
    }

    .opinion_section h2 {
        font-size: 36px;
        line-height: 44px;
    }

    .opinion_section p:before {
        display: none;
    }

    /* reviews */

    .reviews_section h2 {
        font-size: 36px;
        line-height: 44px;
    }

    .reviews_section h2 span {
        display: inline;
    }

    .reviews_section h2 span:after {
        display: none;
    }

    .reviews_section .reviews_list {
        width: 100%;
    }

    .reviews_section .review_item {
        width: 300px;
        height: auto;
    }

    .reviews_section .review_item p {
        font-size: 16px;
        line-height: 24px;
        text-align: center;
    }

    /* audio review */



    /* statistics */

    .statistics_section {
        background-image: none;
    }

    .statistics_section h2,
    .statistics_section h3 {
        font-size: 36px;
        line-height: 44px;
    }

    .statistics_section .description span {
        white-space: nowrap;
    }

    .statistics_section .statistics_item {
        margin: 0 40px 0 0;
    }

    .statistics_section .statistics_item:nth-child(2n) {
        margin: 0;
    }

    .statistics_section .statistics_item:first-child {
        margin: 0 40px 40px 0;
    }

    .statistics_section .statistics_item:after {
        display: none;
    }

    /* fake */

    .fake_section .info {
        padding: 49px 0 365px 0;
        height: auto;
        background-position: center bottom;
        text-align: center;
    }

    .fake_section .info h2 {
        font-size: 36px;
    }

    /* order steps */

    .order_steps_section h2 {
        font-size: 36px;
    }

    .order_steps_section h2 span {
        white-space: nowrap;
    }

    .order_steps_section .step_item {
        width: 50%;
    }

    .order_steps_section .step_item:first-child {
        margin: 0 0 40px 0;
    }

    .order_steps_section .step_item:after {
        display: none;
    }

    /* window */

    .order_window {
        width: 620px;
        background-image: url(tablet__order_window_bg.jpg);
    }

    .order_window .info {
        padding: 30px 0 0 25px;
        width: 312px;
    }

    .order_window .info h2 {
        font-size: 26px;
        line-height: 32px;
    }

    .order_window .info .subtitle {
        margin: 10px 0 22px 0;
        font-size: 36px;
        line-height: 36px;
    }

    .order_window .info .subtitle span {
        font-size: 16px;
    }

    .order_window .products_count_block {
        font-size: 16px;
    }

    .order_window .products_count_block span {
        margin: -5px 10px 0 0;
    }

    .order_window .discount {
        display: none;
    }

    .order_window form {
        width: 308px;
    }

    .order_window form .arrow {
        display: none;
    }

    .order_window .price_block .price_item.old {
        font-size: 30px;
    }

    .order_window .price_block .price_item.old span {
        font-size: 24px;
    }

    .order_window .price_block .price_item.new {
        font-size: 36px;
    }

    .order_window .price_block .price_item.new span {
        font-size: 30px;
    }

    .order_window form input {
        width: 280px;
    }

    .order_window form button {
        width: 280px;
    }

}

@media screen and (max-width: 639px) {

    /* styles */

    .wrapper {
        width: 320px !important;
    }

    /* price block */

    .price_block {
        text-align: center;
    }

    .price_block .price_item {
        float: none;
        display: inline-block;
        width: 150px;
    }

    .price_block .price_item.old {
        font-size: 30px;
    }

    .price_block .price_item.old span {
        font-size: 24px;
    }

    .price_block .price_item.new {
        font-size: 30px;
    }

    .price_block .price_item.new span {
        font-size: 30px;
    }

    /* offer */

    .offer_section {
        height: auto;
        background: #0086cd url(mobile__offer_bg.png) center 85px no-repeat;
        padding-bottom: 20px;
        background-size: 520px auto;
    }

    .offer_section .wrapper {
        padding: 0;
        width: 100%;
    }

    .offer_section h1,
    .offer_section h2 {
        margin: 0 auto;
        width: 300px;
        font-size: 22px;
        line-height: 28px;
    }

    .offer_section .info {
        float: none;
        margin: 0 auto;
        padding: 0;
        width: 300px;
        height: 540px;
    }

    .offer_section .discount {
        top: 55px;
        right: 60px;
    }

    .offer_section form {
        margin: 0;
        width: 100%;
        border: none;
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        border-radius: 0;
        background: #124454;
    }

    .offer_section form .arrow {
        display: none;
    }

    /* diseases */

    .diseases_section {
        background: none;
    }

    .diseases_section h2 {
        font-size: 24px;
        line-height: 32px;
    }

    .diseases_section .disease_item:first-child {
        margin: 0 0 30px 0;
    }

    .diseases_section .disease_item:nth-child(2) {
        margin: 0 0 30px 0;
    }

    .diseases_section .disease_item:nth-child(3) {
        margin: 0 0 30px 0;
    }

    .diseases_section p {
        text-align: center;
    }

    /* cellulite types */

    .cellulite_types_section h2 {
        font-size: 24px;
        line-height: 32px;
    }

    .cellulite_types_section h2 span {
        padding: 0;
        -webkit-box-shadow: -10px 0 0 0 #f83232, 10px 0 0 0 #f83232;
        -moz-box-shadow: -10px 0 0 0 #f83232, 10px 0 0 0 #f83232;
        box-shadow: -10px 0 0 0 #f83232, 10px 0 0 0 #f83232;
    }

    .cellulite_types_section .photo_block {
        margin: 0 0 20px 0;
        width: 300px;
    }

    .cellulite_types_section .photo_block:after {
        display: none;
    }

    .cellulite_types_section .photo_block img {
        width: 300px;
    }

    /* effects */

    .effects_section h2 {
        font-size: 24px;
        line-height: 32px;
    }

    .effects_section h2 small {
        padding: 0;
        font-size: 18px;
        line-height: 32px;
    }

    .effects_section ul li:first-child {
        width: 100%;
    }

    .effects_section ul li:nth-child(2) {
        margin: 30px 0 0 0;
        width: 100%;
    }

    .effects_section ul li:last-child {
        margin: 30px 0 0 0;
        width: 100%;
    }

    /* components */

    .components_section h2 {
        font-size: 24px;
        line-height: 32px;
    }

    .components_section h2 span {
        white-space: normal;
    }

    .components_section .component_item {
        margin: 0 0 30px 0;
        width: 300;
    }

    .components_section .component_item:first-child {
        margin: 0 0 30px 0;
    }

    .components_section .component_item:nth-child(2) {
        margin: 0 0 30px 0;
    }

    .components_section .component_item:nth-child(3) {
        margin: 0 0 30px 0;
    }

    .components_section .component_item:nth-child(4) {
        margin: 0 0 30px 0;
    }

    .components_section .component_item:nth-child(5) {
        margin: 0 0 30px 0;
    }

    .components_section .component_item:nth-child(3) h3 {
        padding: 0;
    }

    /* use */

    .use_section h2 {
        font-size: 24px;
        line-height: 32px;
    }

    /* methods */

    .methods_section h2 {
        font-size: 24px;
        line-height: 32px;
    }

    .methods_section h2 small {
        padding: 0;
        font-size: 18px;
        line-height: 32px;
    }

    .methods_section .method_item {
        width: 300px;
        font-size: 16px;
    }

    .methods_section .method_item h3:before,
    .methods_section .method_item h3:after {
        display: none;
    }

    .methods_section .button {
        width: 260px;
    }

    /* opinion */

    .opinion_section .info {
        padding: 49px 0 170px 0;
    }

    .opinion_section h2 {
        font-size: 24px;
        line-height: 32px;
    }

    .opinion_section h2 span {
        padding: 0;
        -webkit-box-shadow: -10px 0 0 0 #245ba1, 10px 0 0 0 #245ba1;
        -moz-box-shadow: -10px 0 0 0 #245ba1, 10px 0 0 0 #245ba1;
        box-shadow: -10px 0 0 0 #245ba1, 10px 0 0 0 #245ba1;
    }

    .opinion_section p {
        padding: 18px 20px 21px 20px;
        line-height: 26px;
        text-indent: 35px;
    }

    .opinion_section p:after {
        bottom: -130px;
        right: 10px;
    }

    /* reviews */

    .reviews_section h2 {
        font-size: 24px;
        line-height: 32px;
    }

    .reviews_section h2 span {
        white-space: nowrap;
    }

    /* audio review */

    .audio_review_section h2 {
        font-size: 24px;
        line-height: 32px;
    }

    .audio_review_section .audio_review_wrapper {
        display: block;
    }

    .audio_review_section .photo_block {
        display: block;
        margin: 0 0 20px 0;
        width: 100%;
    }

    .audio_review_section .photo_block img {
        margin: 0 auto;
    }

    .audio_review_section .review_block {
        display: block;
        text-align: center;
    }

    .audio_review_section audio {
        width: 300px;
        margin: 0 auto;
    }

    /* statistics */

    .statistics_section h2,
    .statistics_section h3 {
        font-size: 24px;
        line-height: 32px;
    }

    .statistics_section .description span {
        white-space: normal;
    }

    .statistics_section .statistics_item {
        margin: 0 0 30px 0;
    }

    .statistics_section .statistics_item:nth-child(2n) {
        margin: 0 0 30px 0;
    }

    .statistics_section .statistics_item:first-child {
        margin: 0 0 30px 0;
    }

    .statistics_section .statistics_item:last-child {
        margin: 0;
    }

    /* fake */

    .fake_section .info {
        padding: 49px 0 240px 0;
        -moz-background-size: contain;
        -o-background-size: contain;
        background-size: contain;
    }

    .fake_section .info h2 {
        font-size: 24px;
        line-height: 32px;
    }

    .fake_section .info h2 span {
        padding: 0 10px;
    }

    .fake_section .info h2 span:after {
        display: none;
    }

    .fake_section .info p:last-of-type span {
        padding: 0;
        background: none;
        color: #222;
    }


    .video-container{
        width: 300px;
        height: 165px;
    }

    /* order steps */

    .order_steps_section h2 {
        font-size: 24px;
        line-height: 32px;
    }

    .order_steps_section .step_item {
        margin: 0 0 30px 0;
        width: 100%;
    }

    .order_steps_section .step_item:first-child {
        margin: 0 0 30px 0;
    }

    .order_steps_section .step_item:last-child {
        margin: 0;
    }

}


@media (max-width: 1170px) {
    .audioLeft {
        float: none;
        margin: 0 auto;
    }
    .video-container {
        float: none;
    }

}

@media (max-width: 660px) {

    .audio_review_section .photo_block {
        width: 70px;
        margin: 0 auto 10px;
    }

    .audioLeft {
        width: inherit;
    }
    .audio_review_section .wrapper {
        width: initial !important;
    }

    .audio_review_section img {
        width: 60px;
        height: 60px;
    }
    .video-container {
        width: 280px;
        height: 155px;
        margin: 50px auto 20px;
    }

}

.video-container {
    position: relative;
    width: 800px;
    margin: 0 auto;
    height: 450px;
    overflow: hidden;
    background: #000;
    border-radius: 10px;
    -webkit-border-radius: 10px;
}
@media screen and (max-width: 976px){
    .video-container {
        width: 100%;
        height: 350px;
    }
}
@media screen and (max-width: 659px){
    .video-container {
        width: 100%;
        height: 180px;
        border-radius: 0;
    }
}
.atten {
    text-align: center;
    font-size: 10px;
    width: 360px;
    display: block;
    margin: 10px auto;
    padding: 0px;
}
.tech_list {
    margin-bottom: 15px;
}
label {
    display: block;
    text-align: center;
}