/*reset*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn,
em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b,
u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table,
caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details,
embed, figure, figcaption, footer, header, menu, nav, output, ruby, section,
summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; outline: 0; font-size: 100%;}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, menu, nav, section, main {display: block;}

ol, ul {list-style: none;}
blockquote, q {quotes: none;}
img{max-width: 100%; height: auto;}
a{text-decoration: underline;}
a:hover{cursor: pointer;}
*::-webkit-input-placeholder {color: #a9a9a9; opacity: 1;}
*:-moz-placeholder {color: #a9a9a9; opacity: 1;}
*::-moz-placeholder {color: #a9a9a9; opacity: 1;}
*:-ms-input-placeholder {color: #a9a9a9; opacity: 1;}
*{margin: 0; padding: 0;}
*{-webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;}
button,input,a{outline: none;}
button, input, select{-webkit-appearance: none; -moz-appearance: none; appearance: none;}
html{
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    -webkit-font-smoothing: subpixel-antialiased !important;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

input::-webkit-input-placeholder { opacity: 1; transition: opacity 0.3s ease; }

input::-moz-placeholder { opacity: 1; transition: opacity 0.3s ease; }

input:-moz-placeholder { opacity: 1; transition: opacity 0.3s ease; }

input:-ms-input-placeholder { opacity: 1; transition: opacity 0.3s ease; }

input:focus::-webkit-input-placeholder { opacity: 0; transition: opacity 0.3s ease; }

input:focus::-moz-placeholder { opacity: 0; transition: opacity 0.3s ease; }

input:focus:-moz-placeholder { opacity: 0; transition: opacity 0.3s ease; }

input:focus:-ms-input-placeholder { opacity: 0; transition: opacity 0.3s ease; }

img {
    flex-shrink: 0;
    align-self: center;
}

input, button {
    font-family: inherit;
}

/* styles */
body {
    min-width: 480px;
    background: #e3e3e3;
    font-family: 'Gotham Pro', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5em;
    color: #333333;
    cursor: default;
}

.main_wrapper {
    margin: 0 auto;
    width: 480px;
    background: #fff;
}

img {
    max-width: 100%;
    height: auto;
}

b {
    font-weight: 700;
}
.clearfix:after{
    content: '';
    display: block;
    clear: both;
}
h2.title{
    font-size: 26px;
    line-height: 1.1em;
    text-transform: uppercase;
    font-weight: 400;
    text-align: center;
    margin-bottom: 30px;
    padding: 0 20px;
}
h2.title span{
    display: block;
    font-weight: 700;
    font-size: 32px;
    line-height: 1.1em;
    color: #f99507;
}
p.subtitle{
    text-align: center;
    font-size: 18px;
    line-height: 1.3em;
    margin: -10px 0 20px;
}
section{
    padding: 35px 0 30px;
}
.Ñolor_theme{
    background: #ed525c;
    background: -moz-linear-gradient(top, #ed525c 0%, #e65336 100%);
    background: -webkit-linear-gradient(top, #ed525c 0%,#e65336 100%);
    background: linear-gradient(to bottom, #ed525c 0%,#e65336 100%);
}
.Ñolor_theme .title,
.Ñolor_theme .title span{
    color: #fff;
}
.m1-form{
    padding: 0 40px;
}
.form-control {
    background: #fff;
}
.m1-form input, .form-control{
    width: 100%;
    display: block;
    font-family: 'Gotham Pro', sans-serif;
    border: #ececec 1px solid;
    font-size: 18px;
    margin-bottom: 20px;
    height: 68px;
    border-radius: 6px;
    background: #fff;
    text-indent: 65px;
    color: #727272;
}
.m1-form input[name="name"]{
    background: #fff url(input_name.png) 20px 50% no-repeat;
}
.m1-form input[name="phone"]{
    background: #fff url(input_phone.png) 20px 50% no-repeat;
}
.m1-form .button-m{
    margin-top: 0;
}
.m1-form ::-webkit-input-placeholder {
    color: #727272;
}
.m1-form ::-moz-placeholder {
    color: #727272;
}
.m1-form :-moz-placeholder {
    color: #727272;
}
.m1-form :-ms-input-placeholder {
    color: #727272;
}
.m1-form :focus::-webkit-input-placeholder {
    color: transparent;
}
.m1-form :focus::-moz-placeholder {
    color: transparent;
}
.m1-form :focus:-moz-placeholder {
    color: transparent;
}
.m1-form :focus:-ms-input-placeholder {
    color: transparent;
}
/* button */
.button-m{
    border: none;
    cursor: pointer;
    font-family: 'Gotham Pro', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    height: 82px;
    width: 400px;
    display: block;
    border-radius: 6px;
    line-height: 80px;
    text-decoration: none;
    text-align: center;
    border-bottom: 4px solid #f99507;
    background: linear-gradient(to bottom, #fec925, #ffa707);
    -webkit-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.4);
    -moz-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.4);
    box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.4);
    font-size: 24px;
    letter-spacing: 1px;
    margin: 0px auto;
    color: #fff;
    position: relative;
    text-shadow: 1px 2px 0 #fca30c;
}
.button-m:active{
    background: linear-gradient(to bottom, #ffa707, #fec925);
    top: 2px;
}


/*  header   */
.top_line{
    background: #fff;
}
.top_line ul{
    padding: 2px 25px 2px 20px;
    text-align: center;
    -ms-text-align-last: justify;
    text-align-last: justify;
    font-size: 0;
    letter-spacing: -1px;
}
.top_line ul>li{
    display: inline-block;
    padding: 14px 0 14px 45px;
    text-align: left;
    -ms-text-align-last: left;
    text-align-last: left;
    font-size: 14px;
    line-height: 1.3em;
    letter-spacing: normal;
}
.top_line ul>li:nth-child(1){
    background: url(top_line1.png) 5px 50% no-repeat;
}
.top_line ul>li:nth-child(2){
    background: url(top_line2.png) 10px 50% no-repeat;
}
.top_line ul>li:nth-child(3){
    background: url(top_line3.png) 0px 50% no-repeat;
}
.top_line ul>li span{
    font-weight: 700;
    display: block;
}

.offer_section {
    background: #f0f3ee url(offer_bottom.jpg) 50% 100% no-repeat;
    padding-top: 0;
    padding-bottom: 35px;
}
.main_title{
    color: #fff;
    font-size: 25px;
    line-height: 1.1em;
    text-align: center;
    font-weight: 700;
    padding: 23px 0 25px;
    background: #d92d53;
    background: -moz-linear-gradient(left, #d92d53 0%, #f03c64 100%);
    background: -webkit-linear-gradient(left, #d92d53 0%,#f03c64 100%);
    background: linear-gradient(to right, #d92d53 0%,#f03c64 100%);
}
.header_image{
    position: relative;
}
.header_image>img{
    display: block;
}
.offer_desc{
    position: absolute;
    color: #fff;
    font-size: 26px;
    line-height: 1.2em;
    right: 20px;
    top: 27px;
    width: 175px;
    font-weight: 700;
    text-align: right;
}
.offer_section .sale{
    position: absolute;
    width: 252px;
    height: 112px;
    background: url(sale.png) 50% 50% no-repeat;
    display: block;
    bottom: 0;
    right: 0;
    color: #fff;
    font-size: 13px;
    line-height: 1.1em;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
}
.offer_section .sale>p{
    transform: rotate(-20deg);
    position: absolute;
    bottom: 21px;
    left: 100px;
}
.offer_section .sale>p>span{
    font-size: 29px;
    font-weight: 700;
    line-height: 1em;
    display: inline-block;
    vertical-align: middle;
    margin: -4px 0 0 5px;
}

.offer_bulets>li{
    padding: 20px 20px 20px 70px;
    background: #fff url(offer_bull.png) 20px 50% no-repeat;
    border-bottom: 1px solid #efefef;
}


.offer_section .timer_block {
    padding: 20px 50px 0;
    margin-bottom: 30px;
    text-align: center;
}
.offer_section .timer_block>p {
    font-size: 18px;
    text-align: center;
    margin: 0 0 12px;
}
.offer_section .timer_block .timer_item {
    display: inline-block;
    width: 76px;
    padding: 10px 0;
    position: relative;
    background: #fff;
    text-align: center;
    margin: 0 20px;
    background: #f04165;
    border-radius: 5px;
}
.offer_section .timer .timer_item:not(:last-child):after{
    content: ":";
    color: #b9bbb8;
    font-size: 40px;
    position: absolute;
    top: 12px;
    right: -28px;
    line-height: 1em;
}
.offer_section .timer_block .count span {
    font-size: 40px;
    font-weight: 400;
    color: #fff;
    line-height: 1em;
}
.offer_section .timer_block .text {
    font-size: 14px;
    line-height: 1.1em;
    color: #fff;
}


.offer_section .price{
    background: url(price.png) 50% 4px no-repeat;
    padding: 0;
    margin: 30px 0;
}
.offer_section .price>div{
    width: 50%;
    float: left;
    font-size: 14px;
    line-height: 1.1em;
    text-transform: uppercase;
}
.offer_section .price .old{
    text-align: right;
    padding-right: 40px;
}
.offer_section .price .new{
    padding-left: 40px;
}
.offer_section .price p{
    font-size: 36px;
    line-height: 1.1em;
}
.offer_section .price .old p span{
    text-decoration: line-through;
}
.offer_section .price p small{
    font-size: 0.8em;
}

.offer_section .price .new p{
    color: #f99507;
    font-weight: 700;
}


.offer_section .products_count {
    margin: 30px 0 0;
    font-size: 16px;
    line-height: 1.1em;
    text-align: center;
}
.offer_section .products_count>span{
    color: #fff;
    font-weight: 700;
    background: #f04165;
    border-radius: 4px;
    display: inline-block;
    vertical-align: top;
    padding: 5px 8px;
    margin: -4px 0 0 8px;
}

/*sect2*/
.sect2 .title{
    margin-bottom: 20px;
}
.sect2 img{
    display: block;
    margin: 0 auto 10px;
}
.sect2>p{
    padding: 0 20px;
    line-height: 1.8em;
    text-align: center;
    margin-bottom: 20px;
}
.sect2>p>span{
    background: #feefda;
}
.sect2 .gifka{
    border-radius: 8px;
    margin-bottom: 30px;
    width: 440px;
}
.list1{
    font-size: 0;
    letter-spacing: -1px;
    padding: 0 30px;
    text-align: justify;
    text-align-last: justify;
}
.list1>li{
    width: 180px;
    display: inline-block;
    font-size: 16px;
    letter-spacing: normal;
    text-align: left;
    text-align-last: left;
    padding: 0 0 0 30px;
    background: url(list_check.png) 0% 3px no-repeat;
    margin-bottom: 30px;
}


/*sect3*/
.sect3{
    padding: 0;
}
.sect3 h2{
    color: #fff;
    font-size: 19px;
    line-height: 1.4em;
    text-align: center;
    padding: 12px 60px;
    background: #f2435e;
    text-transform: uppercase;
    font-weight: 500;
    margin-bottom: 6px;
}
.sect3 h2 span{
    font-size: 30px;
    line-height: 1.2em;
    display: block;
    font-weight: 700;
}
.sect3>img{
    display: block;
    margin-bottom: 6px;
}
.sect3>img:last-child{
    margin-bottom: 0;
}


/*sect4*/
.sect4{
    padding-bottom: 5px;
}
.sect4 .img{
    position: relative;
}
.sect4 .img>img{
    display: block;
    margin: 0 0 -15px;
}
.sect4 .img:after{
    content: '';
    width: 34px;
    height: 84px;
    background: url(s4_img_after.png) 50% 50% no-repeat;
    position: absolute;
    bottom: -10px;
    left: 333px;
}
.sect4 .list2{
    font-size: 0;
    letter-spacing: -1px;
}
.list2>ul{
    width: 50%;
    display: inline-block;
    vertical-align: top;
    padding: 35px 20px 70px 20px;
    font-size: 16px;
    letter-spacing: normal;
}
.list2>ul>h4{
    text-align: center;
    margin-bottom: 25px;
}
.list2>ul>li:not(:last-child){
    margin-bottom: 25px;
}
.list2>.plus{
    background: #fff9f0;
}
.list2 .minus>li{
    padding: 0 0 0 22px;
    background: url(x_icon.png) 0% 5px no-repeat;
}
.list2 .plus>li{
    padding: 0 0 0 24px;
    background: url(check_icon.png) 0% 5px no-repeat;
}
.list2>.plus>h4{
    color: #f04165;
}
.sect4 .button-m{
    margin: -41px auto -51px;
}


/*sect5*/
.sect5{
    background: #f13e58 url(s5_bg.jpg) 50% 0% no-repeat;
    padding: 70px 0 10px;
}
.sect5 .title{
    margin-bottom: 120px;
}
.sect5 .title,
.sect5 .title span{
    color: #fff;
}

.list3{
    font-size: 0;
    letter-spacing: -1px;
    margin-bottom: 30px;
}
.list3>li{
    width: 210px;
    display: inline-block;
    vertical-align: top;
    background: #fff;
    border-radius: 6px;
    margin: 0 0 110px 20px;
    font-size: 16px;
    letter-spacing: normal;
    padding: 5px 15px 20px;
    text-align: center;
}
.list3>li>img{
    display: block;
    margin: -95px auto 20px;
    /* border-radius: 50%;
    -webkit-box-shadow: 0px 0px 0px 5px rgba(255,255,255,0.3);
    -moz-box-shadow: 0px 0px 0px 5px rgba(255,255,255,0.3);
    border: 8px solid rgba(255,255,255,0.5);
    box-shadow: 0px 2px 12px 0px rgba(0,0,0,0.35); */
}
.list3>li:nth-child(3),
.list3>li:nth-child(4){
    margin-bottom: 0;
}
.sect5>img{
    display: block;
    margin: 0 auto;
}


/*sect6*/
.sect6 .title span{
    color: #f2435e;
}
.list4{
    padding: 0 20px;
}
.list4>li{
    display: table;
    width: 100%;
    margin-bottom: 55px;
}
.list4>li .img{
    display: table-cell;
    vertical-align: middle;
    width: 105px;
}
.list4>li .img>img{
    display: block;
    margin: 0 auto;
    border-radius: 6px;
}
.list4>li .txt{
    padding: 0 0 0 20px;
    display: table-cell;
    vertical-align: middle;
}
.list4>li .txt>span{
    font-weight: 700;
    display: block;
    font-size: 18px;
    margin-bottom: 5px;
}
.list4>li:nth-child(2n) .txt{
    text-align: right;
    padding: 0 20px 0 0;
}
.list4>li:last-child{
    margin-bottom: 0;
}




/*.sect7*/
.sect7{
    background: -moz-linear-gradient(top, #f3f3f3 0%, #ffffff 100%);
    background: -webkit-linear-gradient(top, #f3f3f3 0%,#ffffff 100%);
    background: linear-gradient(to bottom, #f3f3f3 0%,#ffffff 100%);
    padding-bottom: 0;
}
.rev_item .info{
    padding: 30px 30px 20px;
    background: #fff;
}
.rev_item .info>img{
    float: left;
    border-radius: 50%;
}
.rev_item .info .txt{
    padding: 4px 0 0 0px;
    background: url(rev_q.png) 100% 50% no-repeat;
}
.rev_item .info .txt span{
    font-size: 18px;
    display: block;
}
.rev_item>img{
    display: block;
    margin: 0 auto;
}
.rev_item p{
    background: #f8f8f8;
    padding: 25px 20px 30px;
    text-align: center;
}
.rev_item p>span{
    display: block;
    margin-bottom: 15px;
    font-weight: 700;
}


/* vote */
.vote_section{
    background: #f5547f url(vote_bg.jpg) 50% 0% no-repeat;
    padding-top: 30px;
}
.vote_section h2{
    color: #fff;
    text-transform: uppercase;
    font-size: 24px;
    line-height: 1.5em;
    text-align: center;
    margin-bottom: 30px;
    padding: 0 40px;
}

.vote_section .vote_block {
    margin: 0 18px;
    padding: 20px 20px 30px;
    background: #fff;
    -webkit-box-shadow: 0 0 27px rgba(2, 2, 2, 0.1);
    -moz-box-shadow: 0 0 27px rgba(2, 2, 2, 0.1);
    box-shadow: 0 0 27px rgba(2, 2, 2, 0.1);
}

.vote_section .questions_list {
    margin: 0 0 22px;
}

.vote_section .question_item {
    margin: 0 0 20px;
    height: 55px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    background: #ededed;
    overflow: hidden;
    position: relative;
    cursor: pointer;
    padding: 0 0 0 65px;
}

.vote_section .question_item:last-child {
    margin: 0;
}

.vote_section .question_item .line {
    display: none;
    width: 0%;
    height: 55px;
    position: absolute;
    top: 0;
    left: 0;
}

.vote_section .questions_list.active .question_item .line {
    display: block;
}

.vote_section .question_item:nth-child(1) .line {
    background: #3ce434 ;
}

.vote_section .question_item:nth-child(2) .line {
    background: #ff4242;
}

.vote_section .question_item:nth-child(3) .line {
    background: #ffb73a;
}

.vote_section .question_item .question_text {
    float: left;
    padding: 0px;
    line-height: 55px;
    position: relative;
}

.vote_section .question_item .question_text:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    content: '';
    width: 55px;
    height: 55px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    position: absolute;
    left: -65px;
}

.vote_section .questions_list.active .question_item .question_text:before {
    display: none;
}

.vote_section .question_item:nth-child(1) .question_text:before {
    background: #3ce434 url(question_yes.png) 50% 50% no-repeat;
}

.vote_section .question_item:nth-child(2) .question_text:before {
    background: #ff4242 url(question_no.png) 50% 50% no-repeat;
}

.vote_section .question_item:nth-child(3) .question_text:before {
    background: #ffb73a url(question_dknow.png) 50% 50% no-repeat;
}

.vote_section .question_item .percents {
    display: none;
    float: right;
    padding: 0 10px 0 0;
    font-weight: 700;
    line-height: 55px;
    text-align: right;
    position: relative;
}

.vote_section .questions_list.active .question_item .percents {
    display: block;
}

.vote_section .voice_count {
    text-align: center;
    margin-top: 35px;
}
.vote_section .voice_count:before{
    content: '';
    width: 46px;
    height: 34px;
    background: url(voice_count.png) 50% 50% no-repeat;
    display: inline-block;
    vertical-align: top;
    margin: -7px 20px 0 0;
}
.vote_section .voice_count b {
    font-weight: 700;
    color: #f99507;
}
.vote_section .voice_count span{
    font-weight: 700;
    color: #f99507;
}


/*sect9*/
.sect9{
    padding-bottom: 40px;
}
.list5{
    padding: 0 20px;
}
.list5>li{
    width: 100%;
    display: table;
    margin-bottom: 42px;
}
.list5>li:last-child{
    margin-bottom: 0;
}
.list5>li .img{
    display: table-cell;
    width: 50%;
    vertical-align: middle;
}
.list5>li .img img{
    display: block;
    margin: 0 auto;
    border-radius: 6px;
}
.list5>li .txt{
    width: 50%;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    padding-left: 20px;
}
.list5>li:nth-child(2n) .txt{
    padding: 0 20px 0 0;
}
.list5>li .txt p{
    font-size: 14px;
}
.list5>li .txt span{
    display: block;
    font-weight: 700;
    font-size: 16px;
}


.offer_section h5{
    text-align: center;
    padding: 0 75px;
    margin-bottom: 30px;
    font-weight: 400;
}
.offer_section h5 span{
    font-size: 24px;
    line-height: 1.4em;
    display: block;
}







/* footer */
.footer_section {
    padding: 25px 0;
    background: #fff;
    font-size: 14px;
    line-height: 24px;
    text-align: center;
}

.footer_section img {
    display: block;
    margin: 0 auto 10px auto;
}

.footer_section a {
    color: #222;
    display: block;
}

.steps{
    padding: 0 15px;
    margin-bottom: 50px;
}

.step__item {
    display: flex;
    justify-content: space-around;
}

.step__text h3{
    display: block;
}

.step__text {
    margin-left: 30px;
}

.arrow {
    width: 30%;
    text-align: center;
    margin: 5px 0px
}

.text {
    text-align: center;
}

.step__subtitle {
    max-width: 250px;
    margin: 0 auto;
    font-style: italic;
}

.bg__white {
    background-color: #fff;
    padding-bottom: 20px;
    text-align: center;
}

.creo {
    margin-top: 20px;
}
