/*reset*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn,
em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b,
u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table,
caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details,
embed, figure, figcaption, footer, header, menu, nav, output, ruby, section,
summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; outline: 0; font-size: 100%;}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, menu, nav, section, main {display: block;}

ol, ul {list-style: none;}
blockquote, q {quotes: none;}
img{max-width: 100%; height: auto;}
a{text-decoration: underline;}
a:hover{cursor: pointer;}
*::-webkit-input-placeholder {color: #a9a9a9; opacity: 1;}
*:-moz-placeholder {color: #a9a9a9; opacity: 1;}
*::-moz-placeholder {color: #a9a9a9; opacity: 1;}
*:-ms-input-placeholder {color: #a9a9a9; opacity: 1;}
*{margin: 0; padding: 0;}
*{-webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;}
button,input,a{outline: none;}
button, input, select{-webkit-appearance: none; -moz-appearance: none; appearance: none;}
html{
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    -webkit-font-smoothing: subpixel-antialiased !important;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
/* Slider */
.slick-slider
{
    position: relative;

    display: block;
    box-sizing: border-box;

    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
    touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}

.slick-list
{
    position: relative;

    display: block;
    overflow: hidden;

    margin: 0;
    padding: 0;
}
.slick-list:focus
{
    outline: none;
}
.slick-list.dragging
{
    cursor: pointer;
    cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list
{
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.slick-track
{
    position: relative;
    top: 0;
    left: 0;

    display: block;
    margin-left: auto;
    margin-right: auto;
}
.slick-track:before,
.slick-track:after
{
    display: table;

    content: '';
}
.slick-track:after
{
    clear: both;
}
.slick-loading .slick-track
{
    visibility: hidden;
}

.slick-slide
{
    display: none;
    float: left;

    height: 100%;
    min-height: 1px;
}
[dir='rtl'] .slick-slide
{
    float: right;
}
.slick-slide img
{
    display: block;
}
.slick-slide.slick-loading img
{
    display: none;
}
.slick-slide.dragging img
{
    pointer-events: none;
}
.slick-initialized .slick-slide
{
    display: block;
}
.slick-loading .slick-slide
{
    visibility: hidden;
}
.slick-vertical .slick-slide
{
    display: block;

    height: auto;

    border: 1px solid transparent;
}
.slick-arrow.slick-hidden {
    display: none;
}

/* personal reset */

body {
  line-height: 1.4;
  font-weight: 400;
  font-size: 16px;
  color: #333333;
}

h1,
h2,
h3,
h4,
h5,
b,
strong {
  font-weight: 700;
}

input,
button,
body {
  font-family: 'AvenirNextCyr', sans-serif;
}

/*      global element      */

.container {
  padding: 0 10px;
  margin: 0 auto;
  width: 960px;
  position: relative;
}

.section {
  padding: 40px 0;
}

.wrapper > * {
  margin: 0 auto;
  width: 100%;
  max-width: 1920px;
}

.btn {
  display: block;
  margin: 0 auto;
  cursor: pointer;
  -webkit-box-flex: 1;
  -ms-flex: 1 0 auto;
  flex: 1 0 auto;
  width: 280px;
  background-color: #ef4379;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#e82764), color-stop(42%, #ef4379), to(#fb81a7));
  background-image: -o-linear-gradient(bottom, #e82764 0%, #ef4379 42%, #fb81a7 100%);
  background-image: linear-gradient(to top, #e82764 0%, #ef4379 42%, #fb81a7 100%);
  border-radius: 32px;
  border: none;
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  height: 56px;
  line-height: 56px;
  text-align: center;
  text-decoration: none;
  border-bottom: 4px solid #bc0740;
  text-transform: uppercase;
  -webkit-transition-duration: 250ms;
  -o-transition-duration: 250ms;
  transition-duration: 250ms;
}

.btn:active {
  opacity: 0.9;
}

/* assembly */

.row,
.column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.column__x4,
.column__x3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.column__x4 > *,
.column__x3 > * {
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 20px;
}

.column__x4 > * {
  width: 25%;
}

.column__x3 > * {
  width: 33.33333%;
}

.column {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.circle {
  overflow: hidden;
  border-radius: 50%;
  border: 5px solid #fff;
}

.text-center {
  text-align: center;
}

/* end assembly */
.title-to{
  font-size: 30px;
  text-align: center;
  line-height: 1.3;
  padding-bottom: 40px;
}
.title {
  font-size: 36px;
  text-align: center;
  line-height: 1.3;
  padding-bottom: 40px;
}

.title__theme-white {
  color: #cf911d;
}

.title__theme-primary {
  color: #cf911d;
}

.order {
  padding: 20px;
  max-width: 320px;
}

.order--theme-white {
  background-color: #fff;
  -webkit-box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1);
}

/* price */

.price__old,
.price__new {
  font-weight: 700;
  color: #000;
    font-size: 28px;
  -webkit-box-flex: 1;
  -ms-flex: 1 0 auto;
  flex: 1 0 auto;
}

.price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-transform: uppercase;
  text-align: center;
  padding-bottom: 12px;
}

.price__old-item {
  text-decoration: line-through;
  -webkit-text-decoration-color: #ef4379;
  text-decoration-color: #ef4379;
}

.price__new {
    margin-left: 10px;
  color: #ef4379;
}

.price__text {
  display: block;
  color: #333;
  font-size: 12px;
  font-weight: 500;
}

.price small {
  font-size: 0.75em;
}

.prod-count {
  margin-top: 12px;
  font-size: 14px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.prod-count__item {
  margin-right: 8px;
}

/*form*/

.m1-form input, .form-control {
  border: none;
  background: #f3f4f6;
  border-top: 2px solid #e4e5e6;
  width: 100%;
  height: 56px;
  border-radius: 24px;
  margin-bottom: 12px;
  text-align: center;
  font-size: 16px;
}

.m1-form ::-webkit-input-placeholder {
  color: #333;
}

.m1-form ::-moz-placeholder {
  color: #333;
}

.m1-form :-moz-placeholder {
  color: #333;
}

.m1-form :-ms-input-placeholder {
  color: #333;
}

.m1-form :focus::-webkit-input-placeholder {
  color: transparent;
}

.m1-form :focus::-moz-placeholder {
  color: transparent;
}

.m1-form :focus:-moz-placeholder {
  color: transparent;
}

.m1-form :focus:-ms-input-placeholder {
  color: transparent;
}

.discount {
  position: absolute;
  left: 413px;
  bottom: 210px;
  height: 79px;
  width: 79px;
  background: url("discount.png");
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  line-height: 1.2;
  font-size: 12px;
  color: #fff;
  font-weight: 700;
}

.discount span {
  font-size: 22px;
}

.video_block {
  border-radius: 40px;
  position: relative;
  height: auto;
  max-width: 430px;
  width: 100%;
  overflow: hidden;
  -webkit-box-flex: 1;
  -ms-flex: 1 0 auto;
  flex: 1 0 auto;
}

.video_block iframe,
.video_block object,
.video_block embed,
.video_block .youtube {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

div.video_block .play {
  height: 100%;
  width: 100%;
  left: 0%;
  margin-left: 0px;
  margin-top: 0px;
  position: absolute;
  top: 0%;
  background: rgba(7, 12, 36, 0.2) url("youtube.html") no-repeat center;
}

.slick-arrow {
  background: transparent;
  position: absolute;
  top: 95.2%;
  z-index: 11;
  padding: 8px;
  background: #97c097;
  border-radius: 8px;
  border: none;
}

.slick-arrow img {
  display: block;
}

.slick-next {
  right: 0;
  /*-webkit-transform: rotate(180deg);*/
  /*-ms-transform: rotate(180deg);*/
  /*transform: rotate(180deg);*/
}

/* Dots */

.slick-dotted.slick-slider {
  margin-bottom: 30px;
}

.slick-dots {
  margin-top: 35px;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-align: center;
  width: 100%;
}

.slick-dots li {
  position: relative;
  display: inline-block;
  height: 12px;
  width: 12px;
  margin: 0 15px;
  background-color: rgba(21, 173, 54, 0.3);
  border-radius: 50%;
  -webkit-transition-duration: 250ms;
  -o-transition-duration: 250ms;
  transition-duration: 250ms;
}

.slick-dots li button {
  border: 0;
  background: transparent;
  display: block;
  height: 100%;
  width: 100%;
  outline: none;
  line-height: 0px;
  font-size: 0px;
  color: transparent;
}

.slick-dots li.slick-active {
  -webkit-transform: scale(1.4);
  -ms-transform: scale(1.4);
  transform: scale(1.4);
  background-color: rgba(21, 173, 54, 0.8);
}

/* Home */

.home {
  background: url("home__bg.jpg") center top no-repeat;
}

.home .container {
  min-height: 567px;
}

.home__title {
  font-size: 56px;
  color: #000;
  padding: 20px 0 12px;
  line-height: 1.1;
 /* max-width: 475px;*/
  text-align: center;
  text-transform: uppercase;
}

.home__subtitle {
  font-size: 26px;
  color: #5c3d18;
  font-weight: 500;
  padding-bottom: 20px;
  line-height: 1.2;
  text-align: center;
}


.home__list {
  padding-bottom: 16px;
  font-size: 18px;
}

.home__list li {
  color: #000;
  padding: 8px 0 8px 36px;
  background: url("home__icon.png") left center no-repeat;
}

.home__images img {
  display: none;
}

.home__discount {
  background-color: #ef4379;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
  font-size: 30px;
  padding: 10px 0;
  font-weight: 700;
  letter-spacing: 1px;
}

.home__discount-item {
  color: #efcb94;
}

/* info */

/* info-1 */

.info-1 {
  background: url("info__1--bg.jpg") center top no-repeat;
}

.info-1__list-images {
  margin-bottom: 16px;
  position: relative;
}


/* info-2 */

.info-2 {
  background: url("info__2--bg.jpg") center top no-repeat;
  padding-top: 0;
}
.info-2-2 {
  background: url("info__2--bg-2.jpg") center top no-repeat;
  padding-top: 0;
  background-size: cover;
}
.info-2__description {
  margin-bottom: 40px;
}

.info-2__description .row {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.info-2__text {
  margin-right: 40px;
}

.info-2__text p {
  padding-bottom: 20px;
}

.info-2__images {
  margin: 0 -10px;
  margin-bottom: 40px;
}

.info-2__images-item {
  margin: 0 10px;
}

.info-2__images-item img {
  border-radius: 4px;
  -webkit-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
}

/* info-3 */

.info-3 {
  background: url("info__3--bg.jpg") center top no-repeat;
  background-size: cover;
}

.info-3__product {
  position: relative;
}

.info-3__product > img {
  display: block;
  margin: 0 auto;
  margin-bottom: 20px;
}

.info-3__list {
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  width: 100%;
  max-width: 740px;
}

.info-3__list li {
  width: 50%;
  position: relative;
  margin-bottom: 120px;
}

.info-3__list li .circle {
  border-color: #fff;
}

.info-3__list img {
  height: 170px;
  width: 170px;
}

.info-3__list-item--left {
  text-align: left;
}

.info-3__list-item--right {
  text-align: right;
}

/* info-4 */



.info-4__list img {
  display: block;
  margin: 0 auto;
  margin-bottom: 16px;
}

.info-4__list strong {
  display: block;
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 8px;
  text-transform: uppercase;
}

.info-4__list-cold {
  position: relative;
  width: 40%;
  left: 40px;
  margin-top: 80px;
}

/* expert */

.expert {
  background: url("expert__bg.jpg") center top no-repeat;
}

.expert__avatar {
  -webkit-box-flex: 1;
  -ms-flex: 1 0 auto;
  flex: 1 0 auto;
  margin-right: 40px;
  margin-bottom: 20px;
}

.expert__avatar img {
  display: block;
  margin: 0 auto;
  margin-bottom: 12px;
}

.expert__text p {
  font-size: 18px;
  padding-bottom: 32px;
}

/* steps */

.steps {
  padding-bottom: 20px;
}

.steps__images {
  text-align: center;
  position: relative;
  margin-bottom: 12px;
}

.steps__images:before {
  position: absolute;
  width: 46px;
  height: 46px;
  line-height: 46px;
  background-color: #ef4379;
  border-radius: 50%;
  color: #fff;
  font-weight: 700;
  font-size: 20px;
  border: 4px solid #fff;
}

.steps__images img {
  -webkit-box-shadow: 0 0 0 2px #ef4379;
  box-shadow: 0 0 0 2px #ef4379;
}

.steps__number-1:before {
  content: "01";
}

.steps__number-2:before {
  content: "02";
}

.steps__number-3:before {
  content: "03";
}
.steps__number-4:before {
  content: "04";
}
/* recall */

.recall {
  background: url("recall__bg.jpg") center top no-repeat;
}

.recall__card {
  margin: 0 -10px;
}

.recall__card-item {
  width: 300px;
  padding: 20px;
  -webkit-box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.1);
  margin: 0 10px;
  background: #fff;
}

.recall__card-item strong {
  text-align: center;
  display: block;
  padding: 20px 0 28px;
  background: url(recall__star.png) 50% 90% no-repeat;
}

/* delivery */

.delivery {
  background: url("delivery__bg.jpg") center top no-repeat;
}

.delivery__list-item {
  position: relative;
  z-index: 1;
}

.delivery__list-item:before {
  position: absolute;
  content: '';
  width: 101%;
  border-bottom: 2px dashed #e3e4e6;
  left: 50%;
  top: 60px;
  margin-top: 1px;
  z-index: -1;
}

.delivery__list-item:after {
  position: absolute;
  content: '';
  width: 8px;
  height: 8px;
  left: calc(100% - 4px);
  top: 58px;
  background-color: #ef4379;
  border-radius: 50%;
}

.delivery__list-item:last-child:before,
.delivery__list-item:last-child:after {
  display: none;
}

.delivery__list-item br {
  display: none;
}

.delivery__list-images {
  -webkit-box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.05);
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.05);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  background: #fff;
  margin: 0 auto;
  height: 120px;
  width: 120px;
  margin-bottom: 16px;
}

.delivery__list-title {
  margin-bottom: 4px;
  padding-bottom: 6px;
  display: block;
  text-transform: uppercase;
  position: relative;
}

.delivery__list-title:before {
  position: absolute;
  content: '';
  width: 20px;
  height: 2px;
  background-color: #ef4379;
  bottom: 0;
  left: 50%;
  margin-left: -10px;
}

/* footer */

.footer {
  text-align: center;
  padding: 25px 10px;
}

.footer a {
  display: block;
  margin: 10px auto;
  color: #333;
  -webkit-transition-duration: 250ms;
  -o-transition-duration: 250ms;
  transition-duration: 250ms;
}

.footer a:hover {
  text-decoration: none;
  color: #000;
}

@media (max-width: 959px) {
  .container {
    width: 640px;
  }

  .section {
    padding: 30px 0;
  }

  .column__x4 > * {
    width: 50%;
  }

  .column--tb {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .title {
    font-size: 32px;
    padding-bottom: 30px;
  }

  .discount {
    left: 400px;
    bottom: 190px;
  }

  /*.home {*/
  /*  background: url("home__bg-tablet.jpg") center top no-repeat;*/
  /*}*/

  .info-1 {
    background: linear-gradient(to top, #fff 0, #f8f3e0 100%);
  }

  .info-2__text {
    margin-right: 0;
  }

  .info-2__images {
    margin-bottom: 20px;
  }

  .info-2__images-item {
    margin: 0 auto;
    margin-bottom: 20px;
  }

  .info-3__product-instruction {
    width: 50%;
  }

  .info-3__list li {
    margin-bottom: 60px;
  }

  .info-4 {
    background: none;
  }

  .info-4__list-cold {
    position: static;
    margin-top: auto;
    padding: 30px 0;
    width: 100%;
    padding-right: 45%;
    background: url("info-4__cold.html") center right no-repeat;
  }

  .expert {
    background: url(info__2--bg-2.jpg) center top no-repeat;
  }

  .expert__avatar {
    margin-right: 20px;
  }

  .expert__avatar img {
    width: 80%;
  }

  .expert__text {
    padding-bottom: 16px;
  }

  .expert__text p {
    padding-bottom: 16px;
  }

  .steps__images img {
    width: 80%;
  }

  .recall__card {
    margin: 0;
  }

  .delivery {
    background-size: cover;
  }

  .delivery__list-item:nth-child(2):before,
  .delivery__list-item:nth-child(2):after {
    display: none;
  }

  .delivery__list-item br {
    display: block;
  }
}

@media (max-width: 639px) {
  .container {
    width: 320px;
  }
  .title-to {
    font-size: 19px;
    text-align: center;
    line-height: 1.3;
    padding-bottom: 40px;
  }
  .column__x4 > *,
  .column__x3 > * {
    padding-left: 0;
    padding-right: 0;
  }

  .column__x4 > *:last-child,
  .column__x3 > *:last-child {
    margin-bottom: 0;
  }

  .column__x4 > * {
    width: 100%;
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
  }

  .column__x3 > * {
    width: 100%;
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
  }

  .column--mb {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .title {
    font-size: 28px;
    padding-bottom: 20px;
  }

  .order {
    margin: 16px -10px 0 -10px;
  }

  .discount {
    left: 16px;
    bottom: 143px;
  }


  .home {
    background: url("home__bg-mobile.jpg") center top no-repeat;
    background-size: cover;
    padding-bottom: 20px;
  }

  .home__title {
    font-size: 25px;
  }

  .home__subtitle {
    text-align: center;
    font-size: 22px;
    padding-bottom: 12px;
  }

  .home__subtitle br {
    display: block;
  }

  .home__list {
    font-size: 14px;
  }

  .home__images {
    position: relative;
  }

  .home__images img {
    display: block;
  }

  .home__discount {
    font-size: 18px;
    letter-spacing: normal;
  }

  .info-3__product > img {
    width: 100%;
  }

  .info-3__list {
    position: static;
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
  }

  .info-3__list li {
    margin-bottom: 20px;
  }

  .info-3__list img {
    height: 140px;
    width: 140px;
  }

  .info-4__list-cold {
    padding: 0;
    background: none;
  }

  .steps__images:before {
    bottom: -9px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
  }

  .delivery__list-item:before {
    display: none;
  }

  .delivery__list-item:after {
    display: none;
  }
}

@media (min-width: 640px) and (max-width: 959px) {
  .info-3__product {
    padding-top: 55px;
  }

  .steps__images:before {
    width: 36px;
    height: 36px;
    font-size: 18px;
    line-height: 36px;
  }
}
