/*reset*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn,
em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b,
u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table,
caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details,
embed, figure, figcaption, footer, header, menu, nav, output, ruby, section,
summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; outline: 0; font-size: 100%;}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, menu, nav, section, main {display: block;}

ol, ul {list-style: none;}
blockquote, q {quotes: none;}
img{max-width: 100%; height: auto;}
a{text-decoration: underline;}
a:hover{cursor: pointer;}
*::-webkit-input-placeholder {color: #a9a9a9; opacity: 1;}
*:-moz-placeholder {color: #a9a9a9; opacity: 1;}
*::-moz-placeholder {color: #a9a9a9; opacity: 1;}
*:-ms-input-placeholder {color: #a9a9a9; opacity: 1;}
*{margin: 0; padding: 0;}
*{-webkit-box-sizing: border-box; box-sizing: border-box;}
button,input,a{outline: none;}
button, input{-webkit-appearance: none; -moz-appearance: none; appearance: none;}
html{
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    -webkit-font-smoothing: subpixel-antialiased !important;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
/**
 * Owl Carousel v2.2.1
 * Copyright 2013-2017 David Deutsch
 * Licensed under  ()
 */
.owl-carousel,.owl-carousel .owl-item{-webkit-tap-highlight-color:transparent;position:relative}.owl-carousel{display:none;width:100%;z-index:1}.owl-carousel .owl-stage{position:relative;-ms-touch-action:pan-Y;-moz-backface-visibility:hidden}.owl-carousel .owl-stage:after{content:".";display:block;clear:both;visibility:hidden;line-height:0;height:0}.owl-carousel .owl-stage-outer{position:relative;overflow:hidden;-webkit-transform:translate3d(0,0,0)}.owl-carousel .owl-item,.owl-carousel .owl-wrapper{-webkit-backface-visibility:hidden;-moz-backface-visibility:hidden;-ms-backface-visibility:hidden;-webkit-transform:translate3d(0,0,0);-moz-transform:translate3d(0,0,0);-ms-transform:translate3d(0,0,0)}.owl-carousel .owl-item{min-height:1px;float:left;-webkit-backface-visibility:hidden;-webkit-touch-callout:none}.owl-carousel .owl-item img{display:block;width:100%}.owl-carousel .owl-dots.disabled,.owl-carousel .owl-nav.disabled{display:none}.no-js .owl-carousel,.owl-carousel.owl-loaded{display:block}.owl-carousel .owl-dot,.owl-carousel .owl-nav .owl-next,.owl-carousel .owl-nav .owl-prev{cursor:pointer;cursor:hand;-webkit-user-select:none;-khtml-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none}.owl-carousel.owl-loading{opacity:0;display:block}.owl-carousel.owl-hidden{opacity:0}.owl-carousel.owl-refresh .owl-item{visibility:hidden}.owl-carousel.owl-drag .owl-item{-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none}.owl-carousel.owl-grab{cursor:move;cursor:grab}.owl-carousel.owl-rtl{direction:rtl}.owl-carousel.owl-rtl .owl-item{float:right}.owl-carousel .animated{animation-duration:1s;animation-fill-mode:both}.owl-carousel .owl-animated-in{z-index:0}.owl-carousel .owl-animated-out{z-index:1}.owl-carousel .fadeOut{animation-name:fadeOut}@keyframes fadeOut{0%{opacity:1}100%{opacity:0}}.owl-height{transition:height .5s ease-in-out}.owl-carousel .owl-item .owl-lazy{opacity:0;transition:opacity .4s ease}.owl-carousel .owl-item img.owl-lazy{transform-style:preserve-3d}.owl-carousel .owl-video-wrapper{position:relative;height:100%;background:#000}.owl-carousel .owl-video-play-icon{position:absolute;height:80px;width:80px;left:50%;top:50%;margin-left:-40px;margin-top:-40px;background:url(owl.video.play.html) no-repeat;cursor:pointer;z-index:1;-webkit-backface-visibility:hidden;transition:transform .1s ease}.owl-carousel .owl-video-play-icon:hover{-ms-transform:scale(1.3,1.3);transform:scale(1.3,1.3)}.owl-carousel .owl-video-playing .owl-video-play-icon,.owl-carousel .owl-video-playing .owl-video-tn{display:none}.owl-carousel .owl-video-tn{opacity:0;height:100%;background-position:center center;background-repeat:no-repeat;background-size:contain;transition:opacity .4s ease}.owl-carousel .owl-video-frame{position:relative;z-index:1;height:100%;width:100%}

/* styles */

body {
    min-width: 320px;
    background: #fff;
    font-family: 'AvenirNextCyr', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #333;
    cursor: default;
}

header, section, footer {
    margin: 0 auto;
    max-width: 1920px;
}

.wrapper {
    margin: 0 auto;
    padding: 0 10px;
    width: 960px;
    position: relative;
}

.clearfix:after {
    content: "";
    display: block;
    clear: both;
}

img {
    max-width: 100%;
    height: auto;
}

b {
    font-weight: 700;
}

/* button */

.button {
    display: block;
    margin: 0 auto;
    width: 250px;
    height: 60px;
    border: none;
    border-radius: 4px;
    background: #bf1b1b;
    -webkit-box-shadow: 0 4px 0 #840b0b;
    box-shadow: 0 4px 0 #840b0b;
    font-family: 'AvenirNextCyr', sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 64px;
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
    position: relative;
}

.button:hover {
    background: #840b0b;
}

.button:active {
    -webkit-box-shadow: 0 3px 0 #840b0b;
    box-shadow: 0 3px 0 #840b0b;
    top: 1px;
}

/* titles */

h2 {
    margin: 0 0 40px;
    font-weight: 700;
    font-size: 30px;
    line-height: 44px;
    text-transform: uppercase;
    text-align: center;
}
.results_section {
    background-color: #fff;
}

/* offer */

.offer_section {
    height: 630px;
    background: #eee url(desctop__offer_bg.jpg) center top no-repeat;
}

.offer_section .triggers_block {
    margin: 0;
    height: 30px;
    background: transparent;
    position: relative;
}


.offer_section .triggers_block ul {
    font-size: 0;
    line-height: 0;
    letter-spacing: -1px;
    text-align: justify;
}

.offer_section .triggers_block ul:after {
    display: inline-block;
    content: '';
    width: 100%;
    height: 0;
    visibility: hidden;
    overflow: hidden;
}

.offer_section .triggers_block ul li {
    display: inline-block;
    vertical-align: middle;
    background: left center no-repeat;
    font-size: 16px;
    line-height: 70px;
    letter-spacing: normal;
    text-align: left;
}

.offer_section .triggers_block ul li:nth-child(1) {
    padding: 0 0 0 35px;
    background-image: url(offer__trigger1_icon.html);
}

.offer_section .triggers_block ul li:nth-child(2) {
    padding: 0 0 0 41px;
    background-image: url(offer__trigger2_icon.html);
}

.offer_section .triggers_block ul li:nth-child(3) {
    padding: 0 0 0 42px;
    background-image: url(offer__trigger3_icon.html);
}

.title_block{
    margin: 0 0 30px;
    padding: 0 0 0 20px;
    border-left: 8px solid #51187f;
    text-transform: uppercase;}

.offer_section .title_block {
    margin: 0 0 30px;
    padding: 0 0 0 20px;
    border-left: 8px solid #bf1b1b;
    text-transform: uppercase;

}

.offer_section .main_title {
    font-weight: 700;
    font-size: 25px;
    line-height: 50px;
    color: #bf1b1b;

}

.offer_section .subtitle {
    font-size: 24px;
    line-height: 34px;
    letter-spacing: 0.8px;
    font-weight: 600;
    color: black;
    width: 500px;
}

.offer_section .discount {
    padding: 23px 0 0;
    width: 130px;
    height: 130px;
    /*	background: url(discount_bg.png) center no-repeat;*/
    font-weight: 700;
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    position: absolute;
    top: 380px;
    left: 359px;
}

.offer_section .discount span {
    display: block;
    font-size: 34px;
    line-height: 34px;
}

.offer_section .content_block ul {
    margin: 0 0 30px;
    width: 330px;
}

.offer_section .content_block ul li {
    margin: 0 0 15px;
    padding: 0 0 0 34px;
    background: url(check.svg) left top no-repeat;
    font-size: 17px;
    font-weight: 600;
    color: black;

}

.offer_section .content_block ul li:last-child {
    margin: 0;
}

.offer_section .price_block {
    margin: 0 0 25px;
    width: 280px;
}

.offer_section .price_block .price_item {
    float: left;
    width: 50%;
    text-align: center;
}

.offer_section .price_block .text {
    margin: 0 0 5px;
    font-size: 12px;
    line-height: 12px;
    text-transform: uppercase;

    font-weight: 600;

}

.offer_section .price_block .value {
    font-weight: 700;
    font-size: 24px;
    line-height: 26px;
}

.offer_section .price_block .price_item.old .value {
    text-decoration: line-through;
}

.offer_section .price_block .price_item.new .value {
    color: #bf1b1b;
}

.offer_section .button {
    margin: 0;
}

.offer_section .deadline_text {
    margin: 15px 0 0;
    width: 280px;
    font-size: 14px;
    line-height: 22px;
    text-align: center;
}

.offer_section .deadline_text:before {
    display: inline-block;
    vertical-align: middle;
    margin: -3px 8px 0 0;
    content: '';
    width: 20px;
    height: 20px;
    background: url(circle.svg) center no-repeat;
}

/* use */

.use_section {
    padding: 40px 0 44px;
    background: #edeef7;
}

.use_section .use_list {
    font-size: 0;
    line-height: 0;
    letter-spacing: -1px;
    text-align: center;
}

.use_section .use_item {
    display: inline-block;
    vertical-align: top;
    margin: 0 20px 40px 0;
    width: 170px;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: normal;
}

.use_section .use_item:nth-child(3n) {
    margin: 0 0 40px;
}

.use_section .use_item img {
    display: block;
    margin: 0 auto 15px;
    width: 150px;
    border: 4px solid #bf1b1b;
    border-radius: 50%;
}

.use_section .use_item h4 {
    margin: 0 0 5px;
    font-weight: 700;
    text-transform: uppercase;
}

/* video */

.video_section {
    padding: 40px 0;
    background: #fff;
    /*background: linear-gradient(90deg, rgba(221,229,228,1) 0%, rgba(247,252,252,1) 50%, rgba(221,229,228,1) 100%);*/
    color: #fff;
}

.video_section .video_wrapper {
    margin: 0 auto;
    padding: 30px;
    width: 705px;
    background: #fff;
}

.video_section .video_block {
    width: 637px;
    height: 300px;
    background: #000;
    overflow: hidden;
    position: relative;
    margin: 0 auto;
}

.video_section .video_block iframe,
.video_section .video_block object,
.video_section .video_block embed {
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

/* results */

.results_section {
    padding: 60px 0 20px;
}

.results_section h2 {
    margin: 0 0 15px;
}

.results_section p.description {
    margin: 0 0 40px;
    text-align: center;
}

.results_section .images_block img {
    display: block;
    float: left;
    margin: 0 20px 20px 0;
    width: 460px;
}

.results_section .images_block img:nth-child(even) {
    margin: 0 0 20px;
}

/* benefits */

.benefits_section {
    padding: 40px 0;
    /*background: url(122.jpg);*/

}
#otpusk{padding: 40px 0;
    background: #2f6dc6 url(3.html);}

.benefits_section .benefits_list {
    font-size: 0;
    line-height: 0;
    letter-spacing: -1px;
    text-align: center;
}

.benefits_section .benefit_item {
    display: inline-block;
    vertical-align: top;
    margin: 0 20px 0 0;
    width: 220px;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: normal;
}

.benefits_section .benefit_item:last-child {
    margin: 0;
}
.block-img {
    width: 100%;
    height: 100%;
    border-radius: 9px;
}
.benefits_section .benefit_item .icon_block {
    margin: 20px auto 20px;
    width: 220px;
    font-size: 0;
    line-height: 120px;
    border: 2px solid #bf1b1b;
    letter-spacing: -1px;
    border-radius: 11px;
    -moz-transition: all 1s ease-out;
    -o-transition: all 1s ease-out;
    -webkit-transition: all 1s ease-out;
}
.benefits_section .benefit_item .icon_block:hover {
    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
    -o-transform: scale(1.05);
}
.benefits_section .benefit_item img {
    display: inline-block;
    vertical-align: middle;
}

.benefits_section .benefit_item h4 {
    margin: 0 0 5px;
    font-weight: 700;
}

/* use steps */

.use_steps_section {
    padding: 40px 0 10px;
}

.use_steps_section img {
    display: block;
    float: left;
}

.use_steps_section ul {
    float: left;
    margin: 20px 0 20px 30px;
    width: 540px;
}

.use_steps_section ul li {
    margin: 0 0 10px;
    padding: 0 0 0 51px;
    position: relative;
}

.use_steps_section ul li:last-child {
    margin: 0;
}

.use_steps_section ul li span {
    display: block;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    background: #3170cc;
    font-weight: 700;
    font-size: 20px;
    line-height: 36px;
    color: #fff;
    text-align: center;
    position: absolute;
    top: -6px;
    left: 0;
}

/* reviews */

.reviews_section {
    padding: 40px 0;
    background: #edeef7;
    /*background: linear-gradient(90deg, rgba(250,212,220,1) 0%, rgba(243,243,243,1) 50%, rgba(250,212,220,1) 100%);*/
}

.reviews_section h2 {
    margin: 0 0 15px;
    color: #fff;
}

.reviews_section p.description {
    margin: 0 auto 40px;
    max-width: 600px;
    color: #fff;
    text-align: center;
}

.reviews_section .review_item {
    padding: 20px 20px 15px;
    background: #fff;
    text-align: center;
}

.reviews_section .review_item img {
    margin: 0 0 15px;
}

.reviews_section .review_item .author_name {
    margin: 0 0 15px;
    padding: 0 0 20px;
    background: url(reviews__stars.png) center bottom no-repeat;
    font-weight: 700;
}

/* order steps */

.order_steps_section {
    padding: 40px 0;
}

.order_steps_section .steps_list {
    font-size: 0;
    line-height: 0;
    letter-spacing: -1px;
    text-align: center;
}

.order_steps_section .step_item {
    display: inline-block;
    vertical-align: top;
    margin: 0 20px 0 0;
    width: 200px;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: normal;
}

.order_steps_section .step_item:last-child {
    margin: 0;
}

.order_steps_section .step_item .image_block {
    margin: 0 0 4px;
    border: 1px solid #51187f;
    position: relative;
}

.order_steps_section .step_item img {
    display: block;
}

.order_steps_section .step_item .number {
    width: 48px;
    height: 48px;
    background: #bf1b1b;
    font-weight: 700;
    font-size: 24px;
    line-height: 48px;
    color: #fff;
    position: absolute;
    top: -1px;
    left: -1px;
}

.order_steps_section .step_item p {
    padding: 10px 0;
    background: #f1f1f1;
}

/* order */

.order_section .top_title_block {
    padding: 18px 0 16px;
    background: #bf1b1b;
}

.order_section .top_title_block h3 {
    font-weight: 700;
    font-size: 30px;
    line-height: 38px;
    letter-spacing: 2px;
    color: #fff;
    text-transform: uppercase;
    text-align: center;
}

.order_section .top_title_block h3 span {
    color: #000000;
}

.order_section .content_block {
    padding: 25px 0 0;
    height: 700px;
    background: #eee url(desctop__order_bg.jpg) center top no-repeat;
}

.order_section .title_block {
    margin: 0 0 25px;
    padding: 0 0 0 20px;
    border-left: 8px solid #3170cc;
    text-transform: uppercase;
    color: #9A363A;
    border-left: 8px solid #bf1b1b;

}

.order_section .main_title {
    font-weight: 700;
    font-size: 25px;
    line-height: 40px;
    color: #bf1b1b;

}

.order_section .subtitle {
    font-size: 24px;
    line-height: 34px;
    letter-spacing: 0.8px;
    font-weight: 600;
    color: black;
    width: 500px;

}

.order_section .discount {
    padding: 23px 0 0;
    width: 132px;
    height: 132px;
    /*	background: url(discount_bg.png) center no-repeat;*/
    font-weight: 700;
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    position: absolute;
    top: 412px;
    left: 428px;
}

.order_section .discount span {
    display: block;
    font-size: 34px;
    line-height: 34px;
}

.order_section .form_block {
    padding: 2px;
    width: 320px;
    background: #fff;
    -webkit-box-shadow: 0 0 12px rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.2);
}

.order_section .timer_block {
    margin: 0 auto;
    padding: 9px 10px 0 88px;
    width: 280px;
    height: 78px;
    border: 1px solid #cfd0d1;
    text-align: center;
    position: relative;
}

.order_section .timer_block:before {
    display: block;
    content: '';
    width: 78px;
    height: 78px;
    background: #bf1b1b url(order__clock_icon.png) center no-repeat;
    position: absolute;
    top: -1px;
    left: -1px;
}

.order_section .timer_block p {
    margin: 0 0 5px;
    font-weight: 700;
    font-size: 14px;
    line-height: 14px;
    text-transform: uppercase;
}

.order_section .timer_block .timer_item {
    float: left;
    width: 33.333333%;
}

.order_section .timer_block .count {
    font-weight: 700;
    font-size: 30px;
    line-height: 30px;
    color: #bf1b1b;
    position: relative;
}

.order_section .timer_block .count:before {
    display: block;
    content: ':';
    width: 10px;
    position: absolute;
    top: -3px;
    right: -5px;
}

.order_section .timer_block .timer_item:last-child .count:before {
    display: none;
}

.order_section .timer_block .text {
    margin-top: -2px;
    font-size: 12px;
    line-height: 12px;
}

.order_section .price_block {
    margin: 19px auto 16px;
    width: 280px;
}

.order_section .price_block .price_item {
    float: left;
    width: 50%;
    text-align: center;
}

.order_section .price_block .text {
    margin: 0 0 5px;
    font-size: 12px;
    line-height: 12px;
    text-transform: uppercase;

    font-weight: 600;
}

.order_section .price_block .value {
    font-weight: 700;
    font-size: 24px;
    line-height: 26px;
}

.order_section .price_block .price_item.old .value {
    text-decoration: line-through;
}

.order_section .price_block .price_item.new .value {
    color: #bf1b1b;
}

.order_section .field,
.order_section select{
    display: block;
    margin: 16px auto 15px;
    padding: 0 20px;
    width: 100%;
    height: 50px;
    border: none;
    border-radius: 4px;
    background: #f3f4f6;
    -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.2);
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.2);
    font-family: 'AvenirNextCyr', sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #333;
    text-align: center;
}

.order_section .field::-webkit-input-placeholder {
    opacity: 1;
    color: #333;
}

.order_section .field:-moz-placeholder {
    opacity: 1;
    color: #333;
}

.order_section .field::-moz-placeholder {
    opacity: 1;
    color: #333;
}

.order_section .field:-ms-input-placeholder {
    opacity: 1;
    color: #333;
}

.order_section .field:focus::-webkit-input-placeholder {
    opacity: 0;
}

.order_section .field:focus:-moz-placeholder {
    opacity: 0;
}

.order_section .field:focus::-moz-placeholder {
    opacity: 0;
}

.order_section .field:focus:-ms-input-placeholder {
    opacity: 0;
}

.order_section .button {
    margin: 0 auto;
}

.order_section .deadline_text {
    margin-top: 10px;
    width: 280px;
    font-size: 14px;
    line-height: 22px;
    text-align: center;
}

.order_section .deadline_text:before {
    display: inline-block;
    vertical-align: middle;
    margin: -3px 8px 0 0;
    content: '';
    width: 20px;
    height: 20px;
    background: url(circle.svg) center no-repeat;
}

/* footer */

.footer_section {
    padding: 25px 0;
    font-size: 14px;
    text-align: center;
    background-color: #2d2d2d;
}

.footer_section img {
    display: block;
    margin: 0 auto 10px auto;
}

.footer_section a {
    color: #222;
}

.footer_section a:hover {
    text-decoration: none;
}

@media screen and (max-width: 959px) {

    /* styles */

    .wrapper {
        width: 640px;
    }

    /* titles */

    h2 {
        font-size: 30px;
        line-height: 38px;
    }

    /* offer */

    .offer_section .subtitle {
        width: 50%;
    }
    .order_section .subtitle {
        width: 50%;
    }
    .offer_section .triggers_block {
        padding: 13px 0 0;
    }

    .offer_section .triggers_block ul li {
        line-height: 22px;
    }

    .offer_section .triggers_block ul li:nth-child(1) {
        width: 220px;
    }

    .offer_section .triggers_block ul li:nth-child(2) {
        width: 160px;
    }

    .offer_section .triggers_block ul li:nth-child(3) {
        width: 150px;
    }

    /* use */

    .use_section .use_item:nth-child(3n) {
        margin: 0 20px 40px 0;
    }

    .use_section .use_item:nth-child(2n) {
        margin: 0 0 40px;
    }

    /* video */

    .video_section .video_wrapper {
        width: 100%;
    }

    .video_section .video_block {
        width: 300px;
        height: 315px;
    }

    /* results */

    .results_section .images_block img {
        width: 300px;
    }

    /* benefits */

    .benefits_section {
        padding: 40px 0 40px;
    }

    .benefits_section .benefit_item {
        margin: 0 40px 40px;
    }

    .benefits_section .benefit_item:last-child {
        margin: 0 40px 40px;
    }

    /* use steps */

    .use_steps_section {
        padding: 40px 0 46px;
    }

    .use_steps_section img {
        float: none;
        margin: 0 auto 10px;
    }

    .use_steps_section ul {
        float: none;
        margin: 0 auto;
        width: 500px;
    }

    /* reviews */

    .reviews_section .owl-prev,
    .reviews_section .owl-next {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        background: #bf1b1b url(slider__arrows.png) no-repeat;
        position: absolute;
        top: 100px;
    }

    .reviews_section .owl-prev {
        background-position: left center;
        left: 10px;
    }

    .reviews_section .owl-next {
        background-position: right center;
        right: 10px;
    }

    /* order steps */

    .order_steps_section {
        padding: 40px 0 10px;
    }

    .order_steps_section .step_item {
        margin: 0 40px 30px;
    }

    .order_steps_section .step_item:last-child {
        margin: 0 40px 30px;
    }

    /* order */

    .order_section .top_title_block h3 {
        letter-spacing: normal;
    }

    .order_section .discount {
        top: 442px;
        left: 343px;
    }

}

@media screen and (max-width: 639px) {

    /* styles */

    .wrapper {
        width: 320px;
    }

    /* titles */

    h2 {
        margin: 0 0 30px;
        font-size: 20px;
        line-height: 28px;
    }

    /* offer */

    .offer_section {
        padding: 20px 0 25px;
        height: auto;
        background-image: url(mobile__offer_bg.jpg);
    }
    .offer_section .subtitle {
        width: 100%;
    }
    .order_section .subtitle {
        width: 100%;
    }

    .offer_section .triggers_block {
        display: none;
    }

    .offer_section .title_block {
        margin: 0 0 360px;
        padding: 0;
        border: none;
        text-align: center;
    }

    .offer_section .main_title {
        margin: 10px 0 10px;
        font-size: 23px;
        line-height: 26px;
    }

    .offer_section .subtitle {
        font-size: 18px;
        line-height: 26px;
        letter-spacing: normal;
    }

    .offer_section .discount {
        top: 260px;
        left: 10px;
    }

    .offer_section .content_block ul {
        padding: 0 10px;
        width: 100%;
    }

    .offer_section .price_block {
        margin: 0 auto 25px;
    }

    .offer_section .button {
        margin: 0 auto;
    }

    .offer_section .deadline_text {
        margin: 15px auto 0;
    }

    /* use */

    .use_section {
        padding: 30px 0 34px;
    }

    .use_section .use_item,
    .use_section .use_item:nth-child(3n),
    .use_section .use_item:nth-child(2n) {
        margin: 0 0 30px;
    }

    /* video */

    .video_section {
        padding: 30px 0;
    }

    .video_section .video_wrapper {
        padding: 10px;
    }

    .video_section .video_block {
        width: 280px;
        height: 158px;
    }

    /* results */

    .results_section {
        padding: 30px 0 10px;
    }

    .results_section p.description {
        margin: 0 0 30px;
    }

    .results_section .images_block img {
        float: none;
        margin: 0 0 20px;
    }

    /* benefits */

    .benefits_section {
        padding: 30px 0 30px;
    }

    .benefits_section .benefit_item {
        margin: 0 0 30px;
        width: 100%;
    }

    .benefits_section .benefit_item:last-child {
        margin: 0 0 30px;
    }

    /* use steps */

    .use_steps_section {
        padding: 30px 0 36px;
    }

    .use_steps_section ul {
        width: 100%;
    }

    /* reviews */

    .reviews_section {
        padding: 30px 0;
    }

    .reviews_section p.description {
        margin: 0 auto 30px;
    }

    /* order steps */

    .order_steps_section {
        padding: 30px 0 0;
    }

    .order_steps_section .step_item {
        margin: 0 0 30px;
    }

    .order_steps_section .step_item:last-child {
        margin: 0 0 30px;
    }

    /* order */

    .order_section .top_title_block h3 {
        font-size: 22px;
        line-height: 30px;
    }

    .order_section .top_title_block h3 span {
        display: block;
    }

    .order_section .content_block {
        padding: 38px 0 25px;
        height: auto;
        background-image: url(mobile__offer_bg.jpg);
    }

    .order_section .title_block {
        margin: 0 0 360px;
        padding: 0;
        border: none;
        text-align: center;
    }

    .order_section .main_title {
        margin: 0 0 10px;
        font-size: 23px;
        line-height: 26px;
    }

    .order_section .subtitle {
        font-size: 18px;
        line-height: 26px;
        letter-spacing: normal;
        font-weight: 600;
    }

    .order_section .discount {
        top: 260px;
        left: 10px;
    }

    .order_section .form_block {
        margin: 0 0 0 -10px;
    }

}
.number-border{

    display: block;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    background-color: #0097ce;
    font-weight: 700;
    font-size: 20px;
    line-height: 36px;
    color: #fff;
    text-align: center;
    position: absolute;

}
.top-info {
    width: 100%;
}
.left-2 {

    float: left;
}
.right-2 {
    width: 100%;
    /*float: right;*/
    font-weight: 600;
}
.comp{
    display: block;
}
.comp-left{

    float: left;
}
.comp-right{

    float: right;
}

@media  (max-width: 960px){
    .comp-left{
        width: 100%;
    }
    .comp-right{
        width: 100%;
    }

}

.box__body-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    font-weight: 600;


}
.box__body-text {
    margin-top: 15px;
    letter-spacing: .3px;
    font-size: 18px;
    font-family: "segoeuisemilight";
    line-height: 1.5;

}


#osob{
    background-color: white;
}
.box-osob{
    width: 975px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.box-osob-2 {
    width: 975px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.left-img{
    float: left;
    width: 50%;
}
.right-img{
    float: right;
    width: 50%;
}
.left-text{
    float: left;
    width: 50%;
    padding-top: 70px;
}
.right-text{
    float: right;
    width: 50%;
    padding-top: 70px;
}

.img-toptop {
    width: 50%;
}
.img-my-top {
    width: 100%;
    height: 100%;
}
.main-text {
    margin: 55px 20px 20px 20px;
}
@media (max-width: 1000px) {
    #os{
        width: 300px;
        margin: 0 auto;
    }
    .box-osob {
        width: 480px;
        margin: 0 auto;
    }
    .box-osob-2 {
        width: 400px;
        margin: 0 auto;
    }
    .img-toptop {
        width: 100%;
    }
    .flex-left {
        order: -1;
    }
    .box__body-text{
        font-size: 20px;
    }
    .box__body-title{
        font-weight: 600;
    }
}
@media (max-width: 500px){
    .box-osob {
        width: 300px;
        margin: 0 auto;
    }
    .box-osob-2 {
        width: 300px;
        margin: 0 auto;
    }
    .ki{
        display: none;
    }
}



@media screen and (max-width: 999px) {
    .wrapper {
        width: 660px;
    }
}

@media screen and (max-width: 659px) {

    .wrapper{
        width: 320px;
    }

}
@media (max-width: 1000px){
    .menu-hid{
        display: none;

    }
}
@media (min-width: 1001px){
    .menu-hid{
        display: block;

    }
}

.b-video-title {
    margin-bottom: 35px;
    font-weight: 300;
    font-size: 35px;
    text-align: center;
    padding-top: 17px;
    line-height: 1.3;
    letter-spacing: 1px;
}


.catalog{
    display: flex;
    width: 1000px;
    margin: 0 auto;
    justify-content: space-between;
    flex-wrap: wrap;

}
h4{
    text-align: center;
}
.cat-1{
    width: 24%;
    margin: 10px auto;
    border: 1px solid #212b7b;
    padding: 5px 10px;
    border-radius: 5px;
}
.cat-2{
    width: 24%;
    margin: 10px auto;
}
.cat-3{
    width: 24%;
    margin: 10px auto;
}
.cat-4{
    width: 24%;
    margin: 10px auto;
}
.flex{
    display: flex;
    width: 1000px;
    margin: 0 auto;
    justify-content: space-between;
    flex-wrap: wrap;
}
.flex-img{
    display: none;
}
.flex-left{
    width: 49%;
}
.flex-ring{
    width: 49%;
}
@media(max-width:1000px){
    .flex-img{
        display: block;
    }
    .flex{
        width: 700px;
    }
    .foot-form{
        margin-top: 30px;
    }
    .flex-img{
        margin-top: 50px;
    }
    .catalog{
        width: 700px;
    }
    .cat-1, .cat-2, .cat-3, .cat-4{
        width:50%;
    }
}

@media(max-width:700px){
    .flex{
        width: 480px;
    }
    .flex-left{
        width: 100%;
    }
    .flex-ring{
        width: 100%;
    }
    .catalog{
        width: 480px;
    }
    .cat-1, .cat-2, .cat-3, .cat-4{
        width:100%;
    }
}
@media(max-width:480px){
    .flex-img{
        display: block;
    }

    .flex{
        width: 300px;
    }
    .foot-form{
        margin-top: 30px;
    }
    .flex-img{
        margin-top: 50px;
    }
    .flex-left{
        width: 100%;
    }
    .flex-ring{
        width: 100%;
    }
    .catalog{
        width: 260px;
    }
    .cat-1, .cat-2, .cat-3, .cat-4{
        width:100%;
    }
}

.btn{
    padding: 7px;
    background-color: #5564d8;
    border-radius: 5px;
    border: 1px solid #212b7b;
    text-decoration: none;
    color: white;
    display: block;
    width: 50%;
}
.field {
    position: relative;
    display: block;
    outline: 0;
    border: 1px solid;;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    width: 250px;
    height: 60px;
    line-height: 60px;
    margin: 0 auto 15px;
    padding: 0 20px;
    background: #f3f4f6;
    text-align: left;
    font-size: 16px;
    font-family: 'AvenirNextCyr', sans-serif;
    font-weight: 400;
    color: #333333;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -o-transition: all 0.2s;
    -ms-transition: all 0.2s;
    transition: all 0.2s;
    -webkit-box-shadow: inset 0 1px 2px 0 rgba(0, 0, 0, .2);
    box-shadow: inset 0 1px 2px 0 rgba(0, 0, 0, .2);
}
.form-control {
    position: relative;
    display: block;
    outline: 0;
    border: 1px solid;;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    width: 250px;
    height: 60px;
    line-height: 60px;
    margin: 0 auto 15px;
    padding: 0 20px;
    background: #f3f4f6;
    text-align: left;
    font-size: 16px;
    font-family: 'AvenirNextCyr', sans-serif;
    font-weight: 400;
    color: #333333;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -o-transition: all 0.2s;
    -ms-transition: all 0.2s;
    transition: all 0.2s;
    -webkit-box-shadow: inset 0 1px 2px 0 rgba(0, 0, 0, .2);
    box-shadow: inset 0 1px 2px 0 rgba(0, 0, 0, .2);
}
.text-articul{
    font-weight: 700;
    padding-bottom: 20px;
}
#osss{
    background-color: #edeef7;
}
#pochemu{
    background-color: #edeef7;
}
#instr{
    background-color: #fff;
}
#order{
    background-color: #fff;
}
.price-text{
    margin-bottom: 15px;
}
.price-2{
    font-weight: 600;
}





/*sect6*/
.sect6{
    padding: 50px 0 60px;
    background: #f7f7f7;
}
.accordion .accordion_item {
    position: relative;
    overflow: hidden;
    border-radius: 20px;
    margin-bottom: 25px;
    box-shadow: 0 0 20px 0 rgba(0,0,0,0.15);
}
.accordion .accordion_item:last-child {
    margin-bottom: 0;
}

.accordion .title-accordion {
    position: relative;
    font-weight: 700;
    font-size: 20px;
    line-height: 1.3em;
    cursor: pointer;
    padding: 20px;
    background: #fff;
    transition: all .2s linear;
    text-transform: none;
}

.accordion .title-accordion:before {
    display: block;
    width: 20px;
    height: 11px;
    background: url("down.png") no-repeat 0 0;
    position: absolute;
    right: 20px;
    top: 22px;
    content: '';
}

.accordion .active_block .title-accordion:before {
    -moz-transform: rotate(-180deg);
    -webkit-transform: rotate(-180deg);
    -o-transform: rotate(-180deg);
    -ms-transform: rotate(-180deg);
    transform: rotate(-180deg);
    -webkit-transition: all 200ms ease;
    -moz-transition: all 200ms ease;
    -ms-transition: all 200ms ease;
    -o-transition: all 200ms ease;
    transition: all 200ms ease;
}

.accordion .info {
    display: none;
    line-height: 22px;
    padding: 0 20px 25px 20px;
    overflow: hidden;
    background: #fff;
    font-size: 16px;
}

.accordion .info p {
    padding-bottom: 15px;
}

.accordion .info p:last-child {
    padding-bottom: 0;
}


/*sect7*/
.sect7 .title span{
    display: block;
}

.rev_item{
    background: #fff;
    border-radius: 40px;
    overflow: hidden;
    margin-bottom: 25px;
}
.rev_item:last-child{
    margin-bottom: 0;
}
.rev_item>img{
    float: left;
}
.rev_item .text{
    float: right;
    width: 718px;
    padding: 20px 30px 0;
}
.rev_item .name{
    margin-bottom: 22px;
}
.rev_item .name>img{
    float: left;
    border-radius: 50%;
}
.rev_item .name>p{
    overflow: hidden;
    font-size: 17px;
    line-height: 1.3em;
    padding: 3px 0 0 18px;
    background: url(../images/rev_q.html) 100% 50% no-repeat;
}
.rev_item .name>p>span{
    display: block;
    font-weight: 700;
}
.rev_item .text>span{
    font-weight: 700;
    display: block;
    margin-bottom: 4px;
}

.rev_item:nth-child(2n)>img{
    float: right;
}
.rev_item:nth-child(2n) .name>img{
    float: right;
}
.rev_item:nth-child(2n) .text{
    text-align: right;
}
.rev_item:nth-child(2n) .name>p{
    background-position: 0% 50%;
    padding: 3px 18px 0 0;
}

.sect7 .button-m{
    margin-top: 40px;
}





@media screen and (max-width: 999px) {
    .wrapper{
        width: 660px;
    }
    section{
        padding: 40px 0 0;
    }
    h2.title{
        font-size: 30px;
        line-height: 1.3em;
        margin-bottom: 30px;
    }

    .offer_section .title{
        width: 300px;
    }
    .main_subtitle{
        font-size: 22px;
        line-height: 28px;
        margin-top: 8px;
    }
    .top_bull > li:nth-child(2){
        display: none;
    }
    .top_bull > li:nth-child(1){
        width: 270px;
        margin: -5px 0 0;
    }
    .offer_section img.gif{
        display: none;
    }
    .offer_section .top_bull{
        padding: 0px 0 0 68px;
    }
    .ofr_bull{
        margin-top: 52px;
    }
    .ofr_bull > li:nth-child(1){
        margin-left: 0px;
    }
    .ofr_bull > li:nth-child(2){
        margin-left: 48px;
    }
    .ofr_bull > li:nth-child(3){
        margin-left: 104px;
    }
    .offer_section .sale{
        width: 105px;
        height: 107px;
        -webkit-background-size: 100%;
        background-size: 100%;
        font-size: 15px;
        line-height: 1.1em;
        padding-top: 30px;
        left: 480px;
        top: 110px;
    }
    .offer_section .sale > span{
        font-size: 28px;
    }
    .price{
        margin-top: 45px;
    }
    .price > div{
        height: 72px;
        padding-top: 14px;
        font-size: 14px;
        line-height: 1.1em;
    }
    .price > div > p{
        font-size: 25px;
    }
    .price .old{
        width: 130px;
    }
    .price .new{
        width: 160px;
    }
    .action_block .left{
        float: none;
        margin: 0 auto;
    }
    .action_block .button-m{
        float: none;
        margin: 22px auto 0;
    }
    .button-m{
        width: 280px;
        height: 68px;
        line-height: 66px;
        font-size: 20px;
    }
    .sect2{
        background: #fff;
        padding-top: 215px;
    }
    .benef1 > li{
        margin-bottom: 40px;
    }
    .benef1 > li:nth-child(2n){
        margin-right: 0;
    }
    .benef1 > li:last-child{
        margin-bottom: 0;
    }
    .sect3{
        background: #f0f0f0;
        background: -moz-linear-gradient(-45deg, #f0f0f0 0%, #ececec 100%);
        background: -webkit-linear-gradient(-45deg, #f0f0f0 0%,#ececec 100%);
        background: linear-gradient(135deg, #f0f0f0 0%,#ececec 100%);
        padding-bottom: 35px;
    }
    .sect3 .title{
        padding: 0 80px;
    }
    .benef2 > li{
        width: 50%;
        margin-bottom: 30px;
    }
    .benef2 > li:last-child{
        margin-bottom: 0;
    }
    .sect4{
        background: #fff;
    }
    .sect4 .wrapper:before,
    .sect4 .wrapper:after{
        display: none;
    }
    .gif_block{
        width: 620px;
        margin-bottom: 35px;
        margin-left: 20px;
        padding: 1px 15px 30px 275px;
    }
    .gif_block > img{
        width: 290px;
        left: -27px;
    }
    .gif_block > h3 > span{
        font-size: 28px;
    }
    .gif_block > h3{
        font-size: 19px;
        line-height: 1.5em;
        margin: -34px 0 30px;
    }
    .gif_block > h3 > small{
        margin-bottom: 18px;
    }
    .gif_block .button-m{
        margin: 30px auto 0;
    }
    .product_list .plus{
        position: static;
        margin: 0 auto 30px;
        text-align: left;
    }
    .product_list > ul > li{
        position: static;
    }
    .product_list > ul > li:before,
    .product_list > ul > li:after{
        display: none;
    }
    .product_list > ul > li>span{
        display: block;
        position: static;
        float: left;
        margin: 0;
        width: 40px;
        height: 40px;
        line-height: 36px;
        box-shadow: none;
        font-size: 18px;
        background: #fff;
        border: 2px solid #3b84ff;
        color: #3b84ff;
    }
    .product_list > ul > li>p{
        min-height: 40px;
        padding: 10px 0 0 60px;
    }
    .product_list > ul > li:nth-child(1),
    .product_list > ul > li:nth-child(2),
    .product_list > ul > li:nth-child(3),
    .product_list > ul > li:nth-child(4),
    .product_list > ul > li:nth-child(5){
        position: static;
        width: auto;
        display: block;
        text-align: left;
        margin: 0 0 20px;
        font-size: 15px;
    }
    .product_list > ul > li:last-child{
        margin-bottom: 0;
    }
    .product_list>img{
        margin: 0 auto 40px;
    }

    .benef3 > li,
    .benef3 > li:nth-child(2n){
        float: none;
        margin: 0 auto 20px;
    }
    .sect5{
        background: #f3f7ff;
    }
    .sect5 .action_block{

    }
    .sect6{
        background: #fff;
    }
    .expert > h3{
        margin: -46px auto 20px;
    }
    .expert{
        position: static;
        max-width: 440px;
        margin: 0 auto;
        padding: 1px 10px 50px;
    }
    .expert .img{
        position: relative;
        width: 380px;
        top: auto;
        right: auto;
        margin: 0 auto 20px;
    }
    .rev_item{
        width: 400px;
        border-radius: 25px;
        padding: 20px 0;
        margin: 0 auto 25px;
    }
    .rev_item > img,
    .rev_item:nth-child(2n) > img{
        float: none;
        display: block;
        margin: 0 auto 30px;
        border-radius: 12px;
    }
    .rev_item .text{
        float: none;
        width: auto;
        padding: 0 20px;
    }
    .rev_item:nth-child(2n) .name > img{
        float: left;
    }
    .rev_item:nth-child(2n) .name > p{
        background-position: 100% 50%;
        padding: 3px 0 0 18px;
    }
    .rev_item:nth-child(2n) .text{
        text-align: left;
    }
    .order_list > li{
        width: 50%;
        margin-bottom: 30px;
    }

    .offer_section.bottom .main_subtitle{
        font-size: 30px;
    }
    .offer_section.bottom .top_bull{
        padding-top: 10px;
    }
    .offer_section.bottom .price{
        margin-top: 30px;
    }
    .formbox{
        width: 340px;
        margin-top: 30px;
        padding: 20px 0 34px;
    }
    .formbox > h4{
        font-size: 20px;
        margin-bottom: 0;
    }
    .formbox > h4 + p{
        font-size: 15px;
    }
    .formbox .timer_container{
        margin: 8px auto 16px;
        width: 200px;
    }
    .formbox .timer_block .count{
        font-size: 33px;
    }
    .formbox .timer_container .timer_block:not(:last-child)::after{
        font-size: 36px;
        top: -4px;
    }
    .m1-form{
        padding: 0 30px;
    }
    .m1-form input{
        height: 66px;
        font-size: 14px;
    }
    .offer_section.bottom .sale{
        left: 480px;
    }
}




@media screen and (max-width: 659px) {
    section{
        padding-top: 30px;
    }
    .wrapper{
        width: 320px;
    }
    h2.title{
        font-size: 26px;
        line-height: 1.2em;
    }
    .offer_section .wrapper{
        overflow: hidden;
    }

    .offer_section .top_bull{
        display: none;
    }
    .main_title{
        font-size: 38px;
        line-height: 42px;
        text-align: center;
    }
    .main_subtitle{
        text-align: center;
    }
    .ofr_bull{
        margin: 80px 0 50px;
        padding-left: 15px;
    }
    .ofr_bull>li{
        text-align: left;
        width: 180px;
        font-size: 13px;
        line-height: 1.5em;
    }
    .ofr_bull > li:nth-child(1){
        margin-bottom: 40px;
    }
    .ofr_bull > li:nth-child(2) {
        margin-left: 4px;
        margin-bottom: 39px;
    }
    .ofr_bull > li:nth-child(3){
        margin-left: 0px;
    }
    .offer_section img.gif {
        position: static;
        display: block;
        border-radius: 10px;
        border: 7px solid rgba(255,255,255,0.2);
    }
    .price{
        width: 290px;
        margin: 40px auto 0;
    }
    .offer_section .sale{
        left: auto;
        right: 0;
        top: 130px;
        width: 85px;
        height: 87px;
        font-size: 13px;
        padding-top: 25px;
    }
    .offer_section .sale>span{
        font-size: 23px;
    }
    .action_block{
        width: 320px;
        margin: 30px 0 0 -10px;
        padding: 20px 10px 24px;
        border-radius: 20px;
    }
    .action_block .left{
        width: auto;
    }
    .timer > p{
        background: none;
        padding: 0;
        width: 100%;
        display: block;
        text-align: center;
    }
    .timer_container{
        display: block;
        margin: 5px auto 0;
        border: none;
        padding: 0;
    }
    .action_block .prod_count{
        margin-top: 14px;
        line-height: 1.3em;
    }
    .prod_count span{
        display: block;
    }
    .sect2{
        padding-top: 180px;
    }
    .benef1 > li,
    .benef1 > li:nth-child(2n),
    .benef1 > li:nth-child(3n){
        margin: 0 auto 30px;
        display: block;
        min-height: auto;
        border-radius: 20px;
    }
    .benef1 > li:last-child{
        margin-bottom: 0;
    }
    .sect3 .title{
        padding: 0;
    }
    .benef2 > li{
        width: 100%;
        padding: 0;
    }
    .sect4{
        padding: 40px 0 35px;
    }
    .gif_block{
        width: 100%;
        margin: 0 auto 35px;
        position: static;
        padding: 1px 0 20px;
        border-radius: 20px;
    }
    .gif_block > img{
        position: static;
        display: block;
        margin: 0 auto;
        width: 260px;
    }
    .gif_block > h3 > span{
        font-size: 23px;
    }
    .gif_block>ul{
        padding: 0 10px;
        margin-top: 20px;
    }
    .expert{
        width: 100%;
        border-radius: 20px;
    }
    .expert > h3{
        font-size: 20px;
        margin-top: -36px;
    }
    .expert > h3 > span{
        font-size: 22px;
        margin-top: 24px;
    }
    .expert .img{
        width: 100%;
    }
    .expert>p{
        padding: 0 5px;
    }
    .expert .text{
        padding: 12px 0;
    }
    .expert .text > p{
        font-size: 14px;
    }
    .subtitle{
        font-size: 16px;
        line-height: 1.3em;
    }
    .benef3 > li{
        width: 100%;
        height: auto;
        display: block;
    }
    .benef3 > li .img{
        display: none;
    }
    .benef3 > li > span{
        top: 56px;
        right: 50px;
    }
    .benef3 > li .text{
        display: block;
        text-align: center;
        padding: 20px 20px;
    }
    .faq_item{
        border-radius: 20px;
        padding: 15px 15px 0;
    }
    .faq_item .question{
        line-height: 1.2em;
        font-size: 16px;
        padding-right: 25px;
    }
    .faq_item::after{
        right: 14px;
    }
    .faq_item .answer{
        padding-bottom: 15px;
        font-size: 15px;
    }
    .accordion .title-accordion{
        font-size: 16px;
    }
    .sect8{
        background: #fff;
    }
    .rev_item{
        width: 100%;
    }
    .rev_item .name > p{
        background: none;
    }
    .rev_item > img,
    .rev_item:nth-child(2n) > img{
        margin-bottom: 20px;
    }
    .rev_item .text > span,
    .rev_item .text > p{
        text-align: center;
    }
    .order_list > li{
        width: 100%;
    }

    .offer_section.bottom .main_subtitle{
        padding: 0;
        margin: 0;
        line-height: 1.4em;
    }
    .offer_section.bottom .price{
        margin-top: 335px;
    }
    .m1-form{
        padding: 0 20px;
    }
    .formbox{
        width: 320px;
        margin: 35px 0 0 -10px;
    }
    .offer_section.bottom .sale{
        left: 180px;
        top: 180px;
    }
}
.wrp{width:1000px;margin:0 auto}.header{text-align:center;border:1px dashed #ddd;padding:50px 0;margin:20px 0;font-size:18px}.block{text-align:center;border:1px dashed #ddd;padding:100px 0;margin-bottom:20px;font-size:18px;background:#eee}.header-menu-wrp{height:40px;line-height:40px;width:100%;background:#bf1b1b;color:white}.header-menu-wrp.cloned{position:fixed;top:0;margin-top:0;z-index:9999;display:none}.header-menu{width:100%;display:table;border-left:1px solid #fff}.header-menu ul{display:table-row}.header-menu li{display:table-cell;float:none;border-right:1px solid #fff}.header-menu li.active{background:#840b0b}.header-menu li a{display:block;color:#fff;text-align:center;text-decoration:none}@media(min-width:640px) and (max-width:659px){.order_section .discount{display:none}.offer_section .triggers_block{display:none}.use_steps_section ul{width:300px}.order_section .main_title{font-size:16px;line-height:32px}.offer_section .main_title{font-size:16px;line-height:32px}.order_section .subtitle{font-size:20px;line-height:23px}}
