/*.steps {*/
    /*background-color: #27244e;*/
    /*background-image: url(../img/steps.jpg);*/
    /*background-repeat: no-repeat;*/
    /*background-size: cover;*/
/*}*/
.steps img {
    height: 160px;
    margin: 0 auto;
    display: block;
    margin-bottom: 60px;
}
.steps__text {
    height: 110px;
    margin-bottom: 60px;
}
.steps__text h3 {
    font-size: 30px;
    font-family: "PF DinDisplay Pro";
    font-weight: 700;
    color: #fff;
    margin-bottom: 11px;
}
.steps__text p {
    font-size: 19px;
    color: #fff;
}
.steps h2 {
    text-align: center;
    text-transform: uppercase;
    font-size: 48px;
    color: #fef200;
    font-weight: 700;
    margin-top: 25px;
    margin-bottom: 65px;
}
.size {
    background-color: #fff;
    padding-bottom: 30px;
}
.size h3 {
    color: #d8451f;
    font-weight: 700;
    font-family: "PF DinDisplay Pro";
    font-size: 48px;
    text-transform: uppercase;
    line-height: 48px;
    margin-top: 40px;
    margin-bottom: 40px;
}
.size iframe {
    margin-bottom: 35px;
}
.size__header p {
    font-size: 32px;
    font-weight: 700;
    text-transform: uppercase;
    font-family: "PF DinDisplay Pro";
    color: #d8451f;
}
.size__header p span {
    font-size: 48px;
}
.size__img {
    margin-bottom: 40px;
}
.size__img img {
    margin-right: 15px;
}
.size__choise {
    position: relative;
    display: inline-block;
}
.size__choise h4 {
    font-size: 24px;
    color: #4f407e;
    font-weight: 700;
    margin-bottom: 10px;
}
.size__choise p {
    font-size: 18px;
    color: #4f407e;
    line-height: 24px;
}
.size__choise:last-child {
    position: absolute;
    bottom: 0;
    right: 0;
}
.size__cont {
    position: relative;
}
.size form {
    margin-top: 83px;
    padding-bottom: 30px;
    position: relative;
    background-color: #514282;
}
.size form input,
.size form select {
    display: block;
    width: 70%;
    height: 61px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0 auto;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding-left: 20px;
    font-family: "PF DinDisplay Pro";
    font-size: 18px;
    border: 0;
    margin-bottom: 10px;
}
.size form button {
    border: 0;
    text-transform: uppercase;
    width: 70px;
    background-color: #fef200;
    font-family: "PF DinDisplay Pro";
    font-size: 19px;
    color: #362d54;
    margin: 0 auto;
    display: block;
    width: 70%;
    padding: 15px;
    text-align: center;
}
.size form .birka {
    position: absolute;
    top: -21px;
    left: 66px;
}
.size form .price {
    margin-bottom: 30px;
    position: relative;
    padding-top: 13px;
    z-index: 55;
}
.size form .price > div {
    display: inline-block;
}
.size form .price__old {
    color: #fff;
    font-size: 24px;
    font-family: "PF DinDisplay Pro";
    text-decoration: line-through;
    text-align: center;
    margin-left: 18px;
}
.size form .price__new {
    color: #fff;
    font-family: "PF DinDisplay Pro";
    font-size: 24px;
    padding-left: 10px;
    line-height: 26px;
}
.size form .price__new .new_price_val {
    font-size: 40px;
}
.size form .price__new p {
    display: inline-block;
    vertical-align: middle;
}
.size form .price__new .new_price_cur {
    font-size: 30px;
}
@media (max-width: 992px) {
    .header form .price__new .new_price_val {
        font-size: 20px;
    }
}
@media (max-width: 1200px) {
    .header form button {
        font-size: 15px !important;
    }
    .size form button {
        font-size: 15px !important;
    }
}
/*.features {*/
    /*background-image: url(../img/steps.jpg);*/
    /*background-repeat: no-repeat;*/
    /*background-size: cover;*/
/*}*/
.features h2 {
    text-align: center;
    text-transform: uppercase;
    color: #fef200;
    font-weight: 700;
    font-size: 48px;
    margin-top: 45px;
    margin-bottom: 55px;
}
.features__item p {
    color: #fff;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 18px;
    padding-bottom: 80px;
    text-align: center;
}
.features__item img {
    display: block;
    margin: 0 auto;
    margin-bottom: 10px;
}
.reviews {
    background-color: #f7f7f7;
}
.reviews__item {
    position: relative;
    background-color: #fff;
    -webkit-box-shadow: 0 0 2px 2px #ededed;
    box-shadow: 0 0 2px 2px #ededed;
    margin-bottom: 35px;
}
.reviews__item_img {
    display: inline-block;
    vertical-align: middle;
}
.reviews__item_img img {
    position: absolute;
    left: -87px;
    top: -14px;
}
.reviews__item_text {
    padding: 15px 97px 30px 110px;
}
.reviews__item_text h4 {
    text-transform: uppercase;
    color: #261b49;
    font-size: 18px;
    font-weight: 700;
}
.reviews__item_text p {
    color: #261b49;
    font-size: 18px;
}
.reviews h2 {
    color: #d8451f;
    text-transform: uppercase;
    text-align: center;
    font-size: 48px;
    font-weight: 700;
    margin-top: 45px;
    margin-bottom: 50px;
}
.order {
    background-position: top center;
    background-repeat: no-repeat;
    background-color: #fff;
    padding-bottom: 50px;
}
.order E img {
    display: block;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 20px;
}
.order span {
    font-size: 18px;
    display: block;
    color: #362d54;
    font-family: "PF DinDisplay Pro";
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 8px;
}
.order p {
    display: block;
    text-align: center;
    font-size: 14px;
    color: #362d54;
    font-family: "PF DinDisplay Pro";
}
.order h2 {
    font-size: 56px;
    text-transform: uppercase;
    color: #d8451f;
    font-family: "PF DinDisplay Pro";
    font-weight: 700;
    text-align: center;
    margin-top: 35px;
    margin-bottom: 45px;
}
.order__item img {
    display: block;
    margin: 0 auto;
    margin-bottom: 10px;
}
/*.header {*/
    /*background-image: url(../img/header.jpg);*/
    /*background-repeat: no-repeat;*/
    /*background-position: top center;*/
/*}*/
.header__logo {
    padding-top: 20px;
}
.header h1 {
    font-family: "PF DinDisplay Pro";
    font-weight: 700;
    color: #fff;
    text-transform: uppercase;
    line-height: 48px;
    margin-top: 30px;
    font-size: 48px;
}
.header ul {
    padding: 0;
    margin: 0;
    margin-top: 50px;
}
/*.header ul li {*/
    /*color: #fff;*/
    /*font-family: "PF DinDisplay Pro";*/
    /*font-weight: 700;*/
    /*text-transform: uppercase;*/
    /*font-size: 28px;*/
    /*line-height: 36px;*/
    /*margin-bottom: 45px;*/
    /*list-style-type: none;*/
    /*background-image: url(../img/ul.png);*/
    /*background-repeat: no-repeat;*/
    /*font-size: 24px;*/
    /*padding-left: 49px;*/
    /*background-position: top left;*/
/*}*/
.header__image img {
    padding-top: 62px;
    padding-left: 24px;
}
.header form {
    padding-bottom: 30px;
    position: relative;
    background-color: #121020;
}
.header form input,
.header form select {
    display: block;
    width: 70%;
    height: 61px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0 auto;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding-left: 20px;
    font-family: "PF DinDisplay Pro";
    font-size: 18px;
    border: 0;
    margin-bottom: 10px;
}
.header form button {
    border: 0;
    text-transform: uppercase;
    height: 65px;
    width: 70px;
    background-color: #fef200;
    font-family: "PF DinDisplay Pro";
    font-size: 19px;
    color: #362d54;
    margin: 0 auto;
    display: block;
    width: 70%;
    padding: 15px;
    text-align: center;
}
.header form .birka {
    position: absolute;
    top: -21px;
    left: 66px;
}
.header form .price {
    margin-bottom: 30px;
    position: relative;
    padding-top: 13px;
    z-index: 55;
}
.header form .price > div {
    display: inline-block;
}
.header form .price__old {
    color: #635491;
    font-size: 21px;
    font-family: "PF DinDisplay Pro";
    text-decoration: line-through;
    text-align: center;
    margin-right: 11px;
    margin-left: 9px;
}
.header form .price__new {
    color: #fff;
    font-family: "PF DinDisplay Pro";
    font-size: 24px;
    padding-left: 10px;
    line-height: 26px;
}
.header form .price__new .new_price_val {
    font-size: 40px;
}
.header form .price__new p {
    display: inline-block;
    vertical-align: middle;
}
.header form .price__new .new_price_cur {
    font-size: 30px;
}
.header__gif h2 {
    font-family: "PF DinDisplay Pro";
    text-transform: uppercase;
    text-align: center;
    line-height: 52px;
    font-size: 48px;
    color: #d8451f;
    margin-top: 45px;
    margin-bottom: 40px;
}
.header__gif img {
    width: 100%;
    margin-bottom: 40px;
}
.header__gif span {
    text-transform: uppercase;
    font-family: "PF DinDisplay Pro";
    font-size: 18px;
    color: #4f407e;
    text-align: center;
    display: block;
    margin-bottom: 40px;
}
.recv {
    margin-top: 40px;
}
.recv p {
    float: right;
    text-align: right;
    font-size: 12px;
    color: #635491;
    font-family: "PF DinDisplay Pro";
}
.recv a {
    text-transform: uppercase;
    color: #635491;
    text-decoration: underline;
    font-size: 12px;
    font-family: "PF DinDisplay Pro";
}
.recv > div {
    float: right;
}
/*@font-face {*/
    /*font-family: "PF DinDisplay Pro-Regular";*/
    /*src: url(../fonts/PFDinDisplayPro-Regular.html);*/
    /*src: url(../fonts/PFDinDisplayPro-Regulard41d.html?#iefix) format("embedded-opentype"), url(../fonts/PFDinDisplayPro-Regular-2.html) format("woff2"), url(../fonts/PFDinDisplayPro-Regular-3.html) format("woff"),*/
    /*url(../fonts/PFDinDisplayPro-Regular-4.html) format("truetype");*/
    /*font-weight: 400;*/
    /*font-style: normal;*/
/*}*/
/*@font-face {*/
    /*font-family: "PF DinDisplay Pro";*/
    /*src: url(../fonts/PFDinDisplayPro-Bold.eot);*/
    /*src: url(../fonts/PFDinDisplayPro-Boldd41d.eot?#iefix) format("embedded-opentype"), url(../fonts/PFDinDisplayPro-Bold.woff2) format("woff2"), url(../fonts/PFDinDisplayPro-Bold.woff) format("woff"),*/
    /*url(../fonts/PFDinDisplayPro-Bold.ttf) format("truetype");*/
    /*font-weight: 700;*/
    /*font-style: normal;*/
/*}*/
@media (max-width: 1200px) {
    .header__logo img {
        width: 100%;
    }
    .header h1 {
        line-height: 40px;
        margin-top: 30px;
        font-size: 37px;
    }
    .header ul li {
        font-size: 19px;
        line-height: 29px;
    }
    .header__image {
        margin-top: 21%;
    }
    .header__image img {
        width: 100%;
        padding-top: 62px;
        padding-left: 24px;
    }
    .header form .birka {
        position: absolute;
        top: -18px;
        left: 66px;
        width: 77%;
    }
    .header form .price__old {
        font-size: 20px;
    }
    .header form .price__new {
        font-size: 20px;
        line-height: 19px;
    }
    .header form .price__new .new_price_val {
        font-size: 33px;
    }
    .header form button {
        font-size: 16px;
    }
    .header__gif h2 {
        margin-top: 108px;
    }
    .size h3 {
        font-size: 37px;
        line-height: 41px;
    }
    .size form .birka {
        width: 78%;
        top: -16px;
    }
    .size form .price__old {
        font-size: 21px;
    }
    .size form .price__new {
        color: #fff;
        font-family: "PF DinDisplay Pro";
        font-size: 21px;
        padding-left: 10px;
        line-height: 19px;
    }
    .size form .price__new .new_price_val {
        font-size: 31px;
    }
    .size form button {
        font-size: 16px;
    }
    .recv {
        margin-top: 85px;
    }
    .size__choise:last-child {
        position: absolute;
        bottom: 0;
        right: -10%;
    }
}
@media (max-width: 992px) {
    .header h1 {
        font-size: 29px;
    }
    .header ul li {
        font-size: 14px;
    }
    .header form .birka {
        width: 70%;
        height: 67px;
    }
    .header form .price__new {
        font-size: 15px;
        line-height: 13px;
    }
    .header form .price__new {
        font-size: 15px;
        line-height: 13px;
    }
    .header form .price__new .new_price_val {
        font-size: 21px;
    }
    .header form .price__new .new_price_cur {
        font-size: 20px;
    }
    .header form .price__new {
        padding-left: 0;
    }
    .header form input,
    .header form select {
        width: 86%;
    }
    .header form button {
        width: 86%;
    }
    .steps img {
        height: auto;
        width: 100%;
    }
    .steps__text h3 {
        font-size: 26px;
        font-family: "PF DinDisplay Pro";
        font-weight: 700;
        color: #fff;
        margin-bottom: 11px;
    }
    .steps__text p {
        font-size: 15px;
        color: #fff;
    }
    .size h3 {
        font-size: 30px;
    }
    .size__img img {
        margin-right: 0;
        width: 24%;
    }
    .size__choise:last-child {
        display: none;
    }
    .features h2 {
        font-size: 44px;
    }
    .features__item img {
        width: 100%;
    }
    .features__item p {
        color: #fff;
        text-transform: uppercase;
        font-weight: 700;
        font-size: 13px;
        padding-bottom: 37px;
        text-align: center;
    }
    .features__item p br {
        display: none;
    }
    .order__item img {
        width: 100%;
    }
    .order p br {
        display: none;
    }
    .recv {
        margin-top: 16%;
    }
}
@media (max-width: 768px) {
    .container {
        width: 320px !important;
        margin: 0 auto;
    }
    .pc {
        display: none;
    }
    .recv {
        margin-top: 8%;
    }
    /*.header {*/
        /*background-image: url(../img/header-m.jpg);*/
        /*background-size: cover;*/
    /*}*/
    .recv > div {
        float: none;
    }
    .recv p {
        text-align: center;
        font-size: 12px;
        color: #635491;
        font-family: "PF DinDisplay Pro";
    }
    .reviews__item p {
        font-size: 11px;
    }
    .reviews h2 {
        font-size: 36px;
    }
    .recv a {
        display: block;
        text-align: center;
        margin: 0 auto;
        margin-bottom: 10px;
    }
    .header__logo img {
        width: 51%;
        display: block;
        margin: 0 auto;
    }
    .header h1 {
        font-size: 36px;
        text-align: center;
    }
    .recv p {
        color: #000;
    }
    .recv a {
        color: #000;
    }
    .reviews__item p {
        font-size: 13px;
        padding: 10px;
    }
    .header .mob img {
        display: block;
        margin: 0 auto;
    }
    .header .mob img {
        width: 100%;
    }
    .header ul {
        padding: 0;
        margin-top: 50px;
        width: 300px;
        margin: 0 auto;
    }
    .header ul li {
        font-size: 20px;
        margin-bottom: 13px;
    }
    .header form {
        margin: 0 auto;
        width: 300px;
    }
    .header form .price > div {
        display: block;
        text-align: center;
        margin-left: 21px;
    }
    .header form .price__new {
        font-size: 24px;
        line-height: 19px;
    }
    .header form .birka {
        width: 78%;
        height: 80px;
    }
    .header form .price > div {
        display: block;
        text-align: center;
        margin-left: 69px;
    }
    .header form .price__old {
        color: #fff;
    }
    .header form .price__old {
        font-size: 24px;
    }
    .header form .price__new .new_price_val {
        font-size: 28px;
    }
    .header form .price__new {
        font-size: 22px;
        line-height: 19px;
    }
    .header form button {
        font-size: 21px;
    }
    .header__gif h2 {
        font-size: 30px;
        margin-top: 30px;
        line-height: 33px;
    }
    .header__gif h2 br {
        display: none;
    }
    .steps h2 {
        font-size: 36px;
        margin-bottom: 21px;
    }
    .steps img {
        margin-bottom: 0;
    }
    .steps .owl-carousel .owl-item img {
        display: block;
        width: auto;
    }
    .steps__text {
        height: auto;
        text-align: center;
        margin-bottom: 18px;
    }
    .steps__text h3 {
        text-align: center;
    }
    .owl-dots {
        text-align: center;
        padding-bottom: 15px;
    }
    .owl-dots > .owl-dot {
        display: inline-block;
        margin-right: 10px;
        -webkit-border-radius: 30px;
        border-radius: 30px;
        width: 20px;
        height: 20px;
        background-color: #fff;
    }
    /*.owl-prev {*/
        /*background-image: url(../img/prev.png);*/
        /*background-repeat: no-repeat;*/
        /*background-position: top center;*/
        /*width: 20px;*/
        /*height: 30px;*/
        /*left: 10%;*/
        /*position: absolute;*/
    /*}*/
    /*.owl-next {*/
        /*background-image: url(../img/next.png);*/
        /*background-repeat: no-repeat;*/
        /*background-position: top center;*/
        /*width: 20px;*/
        /*height: 30px;*/
        /*right: 10%;*/
        /*position: absolute;*/
    /*}*/
    .owl-nav {
        position: relative;
    }
    .owl-dots .owl-dot.active {
        background-color: transparent;
        width: 20px;
        height: 20px;
        border: 2px solid #fff;
    }
    .size h3 {
        font-size: 24px;
        line-height: 31px;
        margin-top: 18px;
        margin-bottom: 27px;
    }
    .size iframe {
        margin-bottom: 0;
    }
    .size form {
        margin-top: 40px;
    }
    .size form .price > div {
        display: block;
    }
    .size form .price__new {
        padding-left: 100px;
        padding-top: 16px;
        font-size: 24px;
    }
    .size form .price__new .new_price_val {
        font-size: 29px;
    }
    .size form .price__old {
        font-size: 24px;
        margin-top: 23px;
        padding-left: 3px;
    }
    .size form .price__old .mob {
        display: inline-block;
        padding-right: 5px;
    }
    .size form input,
    .size form select {
        width: 91%;
    }
    .size form button {
        width: 91%;
        font-size: 21px;
    }
    .size form .price {
        margin-bottom: 10px;
        padding-top: 0;
    }
    .size__header p span {
        font-size: 36px;
        display: block;
    }
    .size__header {
        margin-top: 30px;
    }
    .size__img img {
        margin-right: 0;
        width: 48%;
    }
    .size__header p {
        font-size: 30px;
        line-height: 36px;
    }
    .size .mob img {
        display: block;
        margin: 0 auto;
    }
    .features h2 {
        font-size: 36px;
        text-align: left;
        margin-top: 26px;
        margin-bottom: 29px;
    }
    .reviews__item_text {
        font-size: 18px;
    }
    .reviews .owl-carousel img {
        width: auto !important;
    }
    .reviews__item_text {
        padding: 20px;
    }
    .reviews__item_img img {
        position: static;
        display: inline-block !important;
        vertical-align: middle;
    }
    .reviews__item_img h4 {
        display: inline-block;
        color: #261b49;
        text-transform: uppercase;
        font-family: "PF DinDisplay Pro";
        width: 20%;
        position: relative;
        top: 62px;
        left: -23px;
    }
    .reviews .mob .owl-carousel .owl-dots > .owl-dot {
        background-color: #261b49;
    }
    .reviews .mob .owl-carousel .owl-dots .owl-dot.active {
        border-color: #261b49;
        background-color: transparent;
    }
    /*.reviews .mob .owl-carousel .owl-prev {*/
        /*background-image: url(../img/prev2.png);*/
    /*}*/
    /*.reviews .mob .owl-carousel .owl-next {*/
        /*background-image: url(../img/next2.png);*/
    /*}*/
    .reviews__item {
        margin-bottom: 11px;
    }
    .order h2 {
        font-size: 36px;
    }
    .features__item img {
        height: 132px;
    }
    .features__item p {
        color: #fff;
        text-transform: uppercase;
        font-weight: 700;
        font-size: 11px;
        padding-bottom: 37px;
        text-align: center;
    }
    .ulPadding {
        margin-top: 30px;
    }
}
@media (min-width: 769px) {
    .mob {
        display: none;
    }
}
.rec2 {
    margin-top: 20px;
}
@media (max-width: 890px) and (min-width: 768px) {
    .header form button {
        font-size: 14px;
    }
}
.grow:hover {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
.header form input,
.header form select {
    opacity: 1;
}
.header form input:hover,
.header form select:hover {
    opacity: 0.8;
}
.header form input:active,
.header form select:focus {
    opacity: 1;
}
.size form input,
.size form select {
    opacity: 1;
}
.size form input:hover,
.size form select:hover {
    opacity: 0.8;
}
.size form input,
.size form select {
    opacity: 1;
}
@-webkit-keyframes swing {
    15% {
        -webkit-transform: translateX(9px);
        transform: translateX(9px);
    }
    30% {
        -webkit-transform: translateX(-9px);
        transform: translateX(-9px);
    }
    40% {
        -webkit-transform: translateX(6px);
        transform: translateX(6px);
    }
    50% {
        -webkit-transform: translateX(-6px);
        transform: translateX(-6px);
    }
    65% {
        -webkit-transform: translateX(3px);
        transform: translateX(3px);
    }
    to {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}
@keyframes swing {
    15% {
        -webkit-transform: translateX(9px);
        transform: translateX(9px);
    }
    30% {
        -webkit-transform: translateX(-9px);
        transform: translateX(-9px);
    }
    40% {
        -webkit-transform: translateX(6px);
        transform: translateX(6px);
    }
    50% {
        -webkit-transform: translateX(-6px);
        transform: translateX(-6px);
    }
    65% {
        -webkit-transform: translateX(3px);
        transform: translateX(3px);
    }
    to {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}
.swing:hover {
    -webkit-animation: swing 0.6s ease;
    animation: swing 0.6s ease;
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1;
}
.header form button:active {
    background-color: #e7af04;
    color: #10373c;
}
.header form button:hover {
    background-color: #d8451f;
    color: #fff;
}
.size form button:active {
    background-color: #e7af04;
    color: #10373c;
}
.size form button:hover {
    background-color: #d8451f;
    color: #fff;
}
.header form button {
    -webkit-transition: 200ms;
    transition: 200ms;
}
.size form button {
    -webkit-transition: 200ms;
    transition: 200ms;
}
