[class^="icon-"]:before {
    font-family: "fontello";
    font-style: normal;
    font-weight: 400;
    speak: none;
    display: inline-block;
    text-decoration: inherit;
    width: 1em;
    margin-right: 0.2em;
    text-align: center;
    font-variant: normal;
    text-transform: none;
    line-height: 1em;
    margin-left: 0.2em;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.icon-cloud:before {
    content: "\e800";
}
.icon-stethoscope:before {
    content: "\f0f1";
}
.icon-medkit:before {
    content: "\f0fa";
}
.prod {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
}
* {
    box-sizing: border-box;
}
.product {
    display: block;
    margin: 25px auto;
    max-width: 100%;
}
.logo {
    display: inline-block;
    vertical-align: middle;
}
.comment_img {
    width: 300px;
    max-width: 100%;
    margin-top: 10px;
}
.logo img {
    display: inline-block;
    vertical-align: middle;
}
.header ul {
    display: inline-block;
    vertical-align: middle;
    padding: 0;
    font-size: 0;
    width: calc(100% - 269px);
    text-align: right;
}
.header .content {
    border-bottom: 1px solid #ccc;
}
.header ul li {
    display: inline-block;
    vertical-align: middle;
}
.header ul li span {
    text-decoration: none;
    color: #565656;
    padding: 5px 15px;
    transition: all 0.3s ease;
    font-size: 16px;
    text-align: center;
}
.header ul li span:hover {
    color: #2981b7;
    cursor: pointer;
}
h1 {
    display: block;
    width: auto;
    line-height: 1.2;
    color: #0a0a0a;
    font-size: 23px;
}
h2 {
    display: block;
    line-height: 1.2;
    color: #0a0a0a;
    font-size: 19px;
    margin-top: 25px;
}
h2::after {
    content: "";
    margin-top: 25px;
    border-bottom: 4px solid #168de2;
    display: block;
}
.link {
    color: #ed1f24;
    text-decoration: none;
}
a {
    color: #23527c;
    text-decoration: underline;
}
p {
    margin: 0 0 16px;
}
a:hover {
    color: #b0493b;
}
hr {
    margin-top: 20px;
    margin-bottom: 20px;
    border-width: 1px 0 0;
    border-style: solid none none;
    border-color: #eee currentcolor currentcolor;
    -moz-border-top-colors: none;
    -moz-border-right-colors: none;
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    border-image: none;
}
body {
    display: block;
    font-family: "Open Sans", sans-serif;
    background: #fafafa none repeat scroll 0 0;
    height: auto;
    color: #444;
    line-height: 1.5625;
}
.spoiler {
    width: 50%;
    margin-top: 10px;
}
.header {
    display: block;
    width: 100%;
    background: transparent none repeat scroll 0 0;
    margin: 0 auto;
}
.content {
    display: block;
    width: 97%;
    max-width: 1000px;
    margin: 0 auto;
    background: #fff none repeat scroll 0 0;
    padding: 1px 1.5%;
    padding-top: 10px;
    position: relative;
}
.order-block .mobile_left {
    display: none !important;
}
.content-left {
    display: block;
}
.content-left-social {
    display: block;
    width: 100%;
    background: #eee none repeat scroll 0 0;
    padding: 1% 2%;
    margin: 15px 0;
}
.content-left-social-comments {
    display: block;
    float: right;
    width: 50%;
    text-align: right;
    font-size: 13px;
}
.content-left-social-comments span {
    margin-left: 1%;
    color: #23527c;
    text-decoration: underline;
    cursor: pointer;
}
.content-left-social-comments span:hover {
    color: #ed1f24;
}
.content-left-social::after {
    content: "";
    display: block;
    clear: both;
}
.content-left-doctor {
    display: block;
    width: 100%;
    background-color: #e2e2e2;
    padding: 2%;
    margin-top: 25px;
}
.content-left-doctor-foto {
    display: block;
    width: 48%;
    float: left;
    margin-right: 2%;
}
.content-left-doctor-foto img {
    width: 100%;
    display: block;
}
.content-left-doctor-text {
    display: block;
    width: 50%;
    float: right;
}
.content-left-doctor::after {
    content: "";
    display: block;
    clear: both;
}
.content-important {
    display: block;
    width: auto;
    text-align: left;
    font-weight: 700;
    font-style: italic;
}
.vk-container {
    font-family: tahoma, arial, verdana, sans-serif;
    font-size: 15px;
    color: #000;
    text-decoration: none;
}
.vk-header {
    background: #dae2e8 none repeat scroll 0 0;
    padding: 4px 4px 4px 6px;
    margin-bottom: 10px;
}
.vk-logo {
    background: transparent none no-repeat scroll 0 0;
    width: 16px;
    height: 16px;
    float: right;
    margin-top: -1px;
}
.vk-header-text {
    padding: 2px 3px 1px;
    line-height: 100%;
    color: #45688e;
    font-weight: 700;
}
.vk-comment,
.vk-comment-load {
    margin-bottom: 15px;
    position: relative;
    border-bottom: 1px solid #dae1e8;
    padding-bottom: 15px;
}
.vk-avatar img {
    float: left;
    margin-right: 10px;
    margin-top: 4px;
}
.vk-comment-name {
    color: #2b587a;
    font-weight: 700;
    font-size: 12px;
}
.vk-comment-text {
    margin-left: 60px;
}
.vk-comment-date {
    margin-left: 60px;
    color: #999;
    font-size: 12px;
}
.content::after {
    content: "";
    display: block;
    clear: both;
}
@media screen and (max-width: 1199px) {
    .content-left {
        width: 100%;
        padding-right: 0;
    }
}
@media screen and (max-width: 989px) {
    .content {
        max-width: 750px;
        padding: 3% 6%;
        width: 100%;
    }
}
@media screen and (max-width: 720px) {
    .content-left-social-comments {
        font-size: 2.8vw;
    }
}
@media screen and (max-width: 599px) {
    .content-left-doctor-foto {
        float: none;
        width: 100%;
    }
    .content-left-doctor-text {
        float: none;
        width: 100%;
        margin-top: 3%;
    }
}
.rub-ramka {
    margin-top: 22px;
    margin-bottom: 18px;
    background: rgba(189, 61, 77, 0.04);
    padding: 15px;
    color: #080808;
    font-size: 18px;
    font-family: roboto condensed, arial;
    border: 2px solid;
    border-radius: 4px;
    border-color: #ed1f24;
    text-shadow: 0 0 0 #616161;
    text-indent: 0 !important;
    text-align: center;
}
@media all and (max-width: 1023px) {
    .header ul,
    .content-left-social {
        display: none;
    }
    .logo {
        width: 100%;
        text-align: center;
    }
}
@media screen and (max-width: 550px) {
    .spoiler {
        width: 100%;
    }
}
.frame {
    border: 3px solid #168de2;
    padding: 15px;
    margin: 0 0 16px;
}
.frame p {
    font-weight: 700;
    margin: 0 0 10px;
}
.frame ul {
    margin: 0 0 0 35px;
    list-style: decimal;
    padding-left: 0;
}
.link {
    font-weight: 700;
    color: #ed1f24;
    text-decoration: none;
}
.order-block {
    font-size: 0;
    margin-bottom: 22px;
}
.order-block img {
    max-width: 100%;
}
.order-block .head {
    text-align: center;
    max-width: 530px;
    width: 100%;
    margin: 0 auto 20px;
}
.order-block .head img {
    display: inline-block;
    vertical-align: middle;
    max-width: 70px;
    margin-right: 5px;
}
.order-block .head span {
    display: inline-block;
    vertical-align: middle;
    font-size: 24px;
    font-weight: 700;
    width: calc(100% - 80px);
    line-height: 1.5;
    text-align: center;
}
.order-block .left {
    display: inline-block;
    vertical-align: middle;
    width: 50%;
}
.order-block .right {
    display: inline-block;
    vertical-align: middle;
    width: 50%;
    position: relative;
}
.order-block .right .sale {
    position: absolute;
    max-width: 150px;
    top: 50%;
    left: -108px;
}
.order-block .left .price {
    position: relative;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
    border-radius: 20px;
    border: 3px dashed #000;
    width: 160px;
    height: 107px;
    margin: 0 auto;
}
/*.order-block .left .price:before {*/
    /*content: "";*/
    /*position: absolute;*/
    /*left: 26px;*/
    /*right: 0;*/
    /*top: -104px;*/
    /*bottom: 0;*/
    /*background: url(scissors.svg) center no-repeat;*/
    /*width: 24px;*/
    /*height: auto;*/
/*}*/
/*.order-block .left .price:after {*/
    /*content: "";*/
    /*position: absolute;*/
    /*left: 89px;*/
    /*right: 0;*/
    /*top: 0;*/
    /*bottom: -105px;*/
    /*background: url(scissors.svg) center no-repeat;*/
    /*width: 24px;*/
    /*height: auto;*/
    /*transform: rotate(180deg);*/
/*}*/
.order-block .left .price span {
    font-size: 30px;
    display: inline-block;
    margin: 0;
}
.order-block .left .price span:nth-of-type(1) {
    color: #444;
}
.order-block .right img {
    max-width: 230px;
}
@media all and (max-width: 715px) {
    .order-block {
        text-align: center;
    }
    .order-block .head span {
        font-size: 16px;
    }
    .order-block .head img {
        max-width: 65px;
    }
    .order-block .left .price {
        margin: 0 auto;
    }
    .order-block .left {
        width: 100%;
        text-align: center;
        margin-bottom: 20px;
    }
    .order-block .right .sale {
        display: none;
    }
    .order-block .right {
        width: 100%;
    }
    .order-block .head {
        margin: 0 auto 40px;
    }
    .order-block .mobile_left {
        display: block !important;
        margin: 30px 0;
    }
    .order-block .left .desktop {
        display: none;
    }
}
@media all and (max-width: 360px) {
    .order-block .head span {
        font-size: 15px;
    }
}
.form_btn {
    display: block;
    padding: 20px;
    color: #fff;
    font-weight: 700;
    text-decoration: none;
    box-shadow: 0 4px 15px 0 rgba(129, 150, 160, 0.45);
    border-radius: 5px;
    background-color: #0299ff;
    background-position: 1.35em 0.94em;
    background-size: 1em;
    background-repeat: no-repeat;
    transition: all 0.15s ease-in-out;
    border: none;
    cursor: pointer;
    font-size: 20px;
    margin: 20px auto 0;
    max-width: 290px;
    text-align: center;
    line-height: 1.2;
    font-family: arial, verdana, sans-serif;
}
.form_btn:hover {
    color: #fff;
}
.order_info {
    text-align: center;
}
.l-text {
    display: inline-block;
    vertical-align: middle;
}
.r-img {
    display: inline-block;
    vertical-align: middle;
}
#region_test {
    margin-top: 52px;
}
.order_info p {
    font-size: 32px;
    text-shadow: 0 0 1px #67864d;
    line-height: 1.3;
    text-align: center;
    display: inline-block;
    width: 100%;
    max-width: 650px;
    vertical-align: middle;
    text-transform: uppercase;
    margin: 0;
    font-weight: 300;
    color: #000;
}
.left_count {
    display: block;
    font-family: Roboto;
    font-weight: 700;
    padding: 3px;
    line-height: 1.4;
    margin: 12px auto 33px;
    width: 200px;
    color: red;
    font-size: 48px;
    border-radius: 5px;
    border: 5px solid #000;
}
/*#order_form {*/
    /*background: #fff;*/
    /*padding: 30px 20px;*/
    /*max-width: 600px;*/
    /*margin: 20px auto 35px;*/
    /*background-image: url(formbg.jpg);*/
    /*background-repeat: no-repeat;*/
    /*background-size: 100% 100%;*/
    /*padding-bottom: 55px;*/
    /*text-align: center;*/
/*}*/
#order_form h2 {
    margin: 10px 0 0;
    padding: 0;
    line-height: 32px;
    border: none;
    font-size: 26px;
    font-weight: 400;
}
#order_form h2:after {
    display: none;
}
#order_form span {
    font-size: 12px;
}
#order_form .order_form_pole {
    padding: 10px;
    display: inline-block;
    margin: 10px;
}
#order_form label {
    width: 230px;
    margin: 0 auto;
    display: block;
    padding: 5px 0;
    font-weight: 700;
    font-size: 16px;
    text-align: center;
}
#order_form input {
    font-size: 21px;
    padding: 15px;
    border-radius: 3px;
    border: 2px solid #e9d7dc;
    max-width: 300px;
    width: 100%;
}
#order_form button {
    display: inline-block;
    padding: 20px;
    color: #fff;
    font-weight: 700;
    text-decoration: none;
    box-shadow: 0 4px 15px 0 rgba(129, 150, 160, 0.45);
    border-radius: 5px;
    background-color: #0299ff;
    background-position: 1.35em 0.94em;
    background-size: 1em;
    background-repeat: no-repeat;
    transition: all 0.15s ease-in-out;
    border: none;
    cursor: pointer;
    font-size: 20px;
    margin-top: 20px;
}
.price {
    color: red;
    font-weight: 700;
}
@media (max-width: 320px) {
    #order_form .order_form_pole {
        margin: 10px 0;
        padding: 10px 0;
        max-width: 100%;
    }
    .order-block .head img {
        max-width: 55px;
    }
    .order-block .head span {
        font-size: 13px;
    }
}
.ac_footer {
    position: relative;
    text-align: center;
    overflow: hidden;
    padding: 50px 0 3px;
    color: #a12000;
}
.ac_footer a {
    color: #a12000;
}
.ac_footer p {
    text-align: center;
}
.button__text:after {
    content: "*";
    display: inline-block;
    font-size: 75%;
    vertical-align: top;
}
@media only screen and (max-width: 1230px) {
    .ac_footer {
        padding-bottom: 50px;
        padding-left: 15px;
        padding-right: 15px;
    }
}
@media only screen and (max-width: 991px) {
    .ac_footer {
        padding: 15px;
        font-size: 11px;
        line-height: 1.2;
    }
}
