.jSale, .jSaleFeedback  {
    width: auto;
    margin: 0 !important;
}

.jSaleWrapper  .jSale  {
    padding-top: 0;
}

.jSaleWrapper {
    margin: 0 auto 20px;
}

.jSaleOrder {
    cursor: pointer;
}
.jSaleForm input{
    border: none;
}
.jSaleCall h2{
    font-size: 29px;
    line-height: 1.2;
    font-weight: 300;
    color: #000;
}
body .jSale .jSaleWrapper .success h2{
    font-size: 29px;
    line-height: 1.2;
    font-weight: 300;
    color: #ffffff;
    text-align: center;
    font-family: 'Roboto', sans-serif;
}
.jSaleForm h6.we_callback{
    font-size: 20px;
    margin-bottom: 10px;
    text-align: center;
    line-height: 25px;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}
.jSaleButton {
    display: inline-block;*
display: inline;*
margin-left: .3em;
    line-height: 18px;*
line-height: 20px;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;*
border: 0;*zoom:1;*
background-color: #0055cc;
    font-family: Arial, sans-serif;
}

.jSaleButton:hover {/* Buttons in IE7 don't get borders, so darken on hover */
}

.jSaleButton:focus {
    outline: thin dotted #333;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
}

.jSaleButton:active {
    background-color: #e6e6e6;
    background-color: #d9d9d9 \9;
    background-image: none;
    outline: 0;
    -webkit-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
}

.jSaleButton, .jSaleButton:hover {
}

.jSaleButton:hover, .jSaleButton:active {*
background-color: #004ab3;
    background: #006f7c;
}

.jSaleButton:active{
    background-color: #004099 \9;
}

.jSaleButton:disabled {
    opacity: 0.3;
}
.float br {
    display: none;
}
#jsale_form_3 {
    margin-top: 10px;
}
.jSaleLarge {
    margin-top: 10px;
    font-size: 18px;
    font-weight: 400 !important;
    border-radius: 4px !important;
    color: #ffffff;
    min-width: 150px;
    border: none;
    padding: 16px 25px 16px 25px;
    -webkit-transition: all ease 0.25s;
    transition: all ease 0.25s;
    background: #0196a7;
    width: 100%;
    line-height: 1.5;
    display: block;
    font-family: 'Roboto', sans-serif;
}
.jSaleForm {
    padding: 0 15px 5px 15px;
    margin: 0;
    font-family: Arial, sans-serif;
    border: none;
    padding: 0;
    width: 300px;
    margin-left: auto !important;
    margin-right: auto !important;
    display: block;
}

.jSaleForm h6 {
    text-align: center;
    font-size: 110%;margin: 0;}

.jSaleForm p {
    font-size: 90%;
}

.jSaleMessage {
    text-align: center;
    color: #f00;
}

.jSaleQty {
    width: 22px;
    line-height: 1.8;
    text-align: center;
}
.jSaleQtyMinus, .jSaleQtyPlus {
    font-weight: bold;
    cursor: pointer;
    line-height: 1.7;
}

.jSaleQtyMinus:hover, .jSaleQtyPlus:hover {
    color: #666;
}

.jSaleCode {
    width: 50px;
}

.jSaleForm .attention, .jSaleForm .error, .jSaleForm .warning {
    color: #0B9A2B;
}

.jSaleForm .error {
    border-color: #f00;
}

.jSaleForm .warning {
    display: block;
    font-size: 10px;
}

.jSaleForm .t-center {
    text-align: center;
}

.jSaleForm .submit {
    text-align: left;
}

.simplemodal-container .success {
    text-align: center;
    padding: 50px 20px;
    background: #000;
}
.order_text {
    margin-top: 3px;
}
.float label,
.float br {
    /* display: none !important; */
}
.simplemodal-container .success h3 {
    text-align: center;
    color: #3caa3c;
}

.simplemodal-container .success h4 {
    text-align: center;
}

.jSaleForm p, .jSaleForm div.p {
    margin: 0px 0 7px;
    padding: 0 10px;
    clear: both;
}

.jSaleForm div.p {
    font-size: 80%;
    height: 16px;
    vertical-align: top;
    margin: 0 0 20px;
}
.jSaleCall .jSaleWrapper{
    margin: 0;
}
.jSaleForm p.float {
    clear: none;
}

#jsale_form_2 {
    width: 300px;
}

.jSaleForm p.float-left {
    float: left;
    clear: none;
    padding: 5px;
    text-align: center;
    font-weight: normal;
    max-width: 150px;
}
.float label {
    display: none !important;
}
input.jSaleSubmit.jSaleButton {
    background-color: #fe1a00 !important;
    border-radius: 4px;
    letter-spacing: 4px;
    color: white !important;
    width: 100%;
    font-size: 24px;
    font-weight: 400 !important;
    margin: 0 !important;
    border: none !important;
    margin-top: 0 !important;
    line-height: 1.2;
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    text-shadow: 1px 1px 1px #111111;
    overflow: hidden;
    position: relative;
    box-shadow: none !important;
    text-transform: none;
    color: #000 !important;
    padding: 18px 45px;
    background: #ffe400 !important;
    border: none;
    border-bottom: 4px solid #dd9700 !important;
    font-family: 'AGLettericaCondensed-Bold';
}
.jSaleForm p.align-right {
    text-align: right;
    font-weight: normal;
    font-size: 80%;
}
.jSaleCall input {
    width: 100% !important;
}
.jSaleCall input[type=text] {
    height: 45px !important;
}
body .jSale .jSaleWrapper .success h3{
    text-align: center;
}
.jSaleForm p.float-left:hover, .jSaleForm p.float-left.hover {
    background: #ff0;
}

.jSaleForm p.float-left label, .jSaleForm p.float-left input{
    cursor: pointer;
}

.jSaleForm p.float input {
    margin: 0 auto !important;
    font-style: normal;
    padding-left: 12px;
    background: #FFFFFF;
    display: block;
    width: 100%;
    height: 57px;
    border-radius: 0 !important;
    padding: 6px 12px;
    font-size: 16px;
    line-height: 1.42857143;
    margin-bottom: 10px;
    font-family: 'Roboto', sans-serif;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    max-width: 253px;
    height: 47px;
    line-height: 27px;
}

.jSaleForm textarea {
    width: 95%;
}

.jSaleForm #payment_info, .jSaleForm #delivery_info{
    background: #ececec;
    margin: 0 10px;
}

.jSaleForm div.add_product_param {
    clear:both;
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid #999;
}

/*************  CLEARFIX  ***************/

/* http://sonspring.com/journal/clearing-floats */

.clear {
    clear: both;
    display: block;
    overflow: hidden;
    visibility: hidden;
    width: 0;
    height: 0;
}

/* http://perishablepress.com/press/2008/02/05/lessons-learned-concerning-the-clearfix-css-hack */
.disk1 {
    display: block;
}
.jSaleForm .submit{
    padding: 0;
    font-weight: 300;
    font-family: Calibri, sans-serif;
    padding: 0 10px;
}
form.jSaleForm.jSaleCall {
    padding: 0;
    border: none;
}
.jSaleCall p.float {
    padding: 0;
}
.price_final {
    display: none;
}
.jSaleCall label {
    text-align: left;
    width: 100%;
    font-size: 17px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}
.clearfix:after {
    clear: both;
    content: ' ';
    display: block;
    font-size: 0;
    line-height: 0;
    visibility: hidden;
    width: 0;
    height: 0;
}
.jSaleCall .submit {
    margin-top: 0;
}
.jSale label.colvo {
    width: auto;
}
.jSale label{
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 17px;
    font-weight: 300;
    text-align: left;
    width: 100%;
    margin-left: 23px;
    color: white;
    display: block !important;
    margin-bottom: 5px;
    margin-left: 0;
}
.jSaleCall .submit{
    padding: 0;
    margin: 0 !Important;
}
body .jSaleCall h6.jSaleMessage{
    font-size: 20px;
    margin-bottom: 11px;
    text-align: center;
    line-height: 25px;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    color: #f00;
}
.clearfix {
    display: inline-block;
}
.jSale label .attention,
.jSaleCall label .attention{
    color: #FF0000;
}
* html .clearfix {
    height: 1%;
}
.jSaleForm .attention{
    color: #ff0000;
}
.jSaleForm .error, .jSaleForm .warning{
    color: #FF0000;
}
.clearfix {
    display: block;
}
.jSaleOrder.jSaleButton {
    transition: all .6s;
    background: none;
    background-color: transparent;
    border: none;
    border: 2px solid #b48f4f;
    color: #000 !important;
    cursor: pointer;
    font-family: 'medium' !important;
    font-size: 14px !important;
    height: 52px;
    line-height: 50px !important;
    outline: none;
    text-transform: uppercase;
    vertical-align: middle;
    width: 205px;
    margin-top: 15px;
}
.jSaleOrder.jSaleButton{
    color: #fff;

}
div#simplemodal-container {
    /* background: #000; */
    /* width: 500px !important; */
}
div#simplemodal-container {
    border-radius: 0;
}

input.jSaleSubmit.jSaleButton.jSaleLarge {
    font-style: normal;
    padding: 0 !important;
    height: 54px;
    line-height: 32px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border-bottom: 4px solid #dd9700 !important;
    display: block;
    letter-spacing: 4px;
    font-size: 2em;
    font-family: "Roboto", sans-serif;
    text-shadow: 1px 1px 1px #111111;
    box-shadow: 2px 2px 2px #981000;
    margin: 0 !Important;
    overflow: hidden;
    position: relative;
    text-transform: capitalize;
    width: 232px;
    height: 50px;
    margin: 0 auto !important;
    display: block;
    border: 0px #DCDCDC solid;
    background: -moz-linear-gradient(bottom, #FF4500 0%, #FECB0D 100%);
    background: -o-linear-gradient(bottom, #FF4500 0%, #FECB0D 100%);
    background: -ms-linear-gradient(bottom, #FF4500 0%, #FECB0D 100%);
    color: #000000 !important;
    font-family: 'PT Sans Narrow';
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-shadow: none !important;
    font-size: 30px;
    font-weight: 800 !important;
    -moz-box-shadow: 0px 0px 5px #000000;
    -webkit-box-shadow: 0px 0px 5px #000000;
    width: 100%;
    height: 65px;
    box-sizing: border-box;
    background: #ffe400 !important;
    border: none;
    border-bottom: 4px solid #dd9700 !important;
    font-family: 'AGLettericaCondensed-Bold';
    font-size: 24px;
    color: #121212;
    text-transform: uppercase;
    margin-top: 10px;
    box-shadow: none !important;
    border-radius: 0 !important;
}

.jSaleCall h2{
    text-align: center !important;
}
.padding-jsale {
}
#jsale_form_1 label {
    margin-bottom: 3px;
    display: inline-block;
    display: block !important;
    margin-left: 0 !important;
}
.jSaleForm h2 {
    font-family: "AGLettericaCondensed-Bold";
    font-size: 20px;
    line-height: 30px;
    font-weight: 400;
    margin-bottom: 20px;
    text-transform: uppercase;
    text-align: center;
    color: #fff;
}
.order_text {
    text-align: center;
    display: block;
}
@media (max-width: 900px){
    #simplemodal-container{
        box-shadow: none !important;
    }
}
@media (max-width: 600px){
    .jSaleForm{
        padding: 15px;
    }
    .jSaleForm h2{
        margin-bottom: 15px;
    }
}
@media (max-width: 520px){
    .jSaleForm{
        padding: 15px;
    }
    #simplemodal-container {
        width: 300px !important;
        margin: 0 auto;
        display: block !important;
        top: 30px !important;
    }
}
@media (max-width: 415px){
    .jSaleForm{
        padding: 5px;
    }
    #simplemodal-container{
        box-shadow: none;
        width: 250px !important;
    }
    .jSaleForm{
        width: 230px;
    }
    .jSaleForm p.float input{
        /* width: 184px; */
    }

}