/*reset*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn,
em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b,
u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table,
caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details,
embed, figure, figcaption, footer, header, menu, nav, output, ruby, section,
summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; outline: 0;}

/* HTML5 display-role reset for older browsers */
/* endzeit_____ */
article, aside, details, figcaption, figure, footer, header, menu, nav, section, main {display: block;}
@font-face {
    font-family: 'Oswald', sans-serif;
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: 'Oswald', sans-serif;
    font-style: normal;
    font-weight: normal;
}
ol, ul {list-style: none; font-size: 0;}
blockquote, q {quotes: none;}
img{max-width: 100%; height: auto;}
a{text-decoration: underline;}
a:hover{cursor: pointer;}
/* michael-k90 */
*::-webkit-input-placeholder {color: #a9a9a9; opacity: 1;}
*:-moz-placeholder {color: #a9a9a9; opacity: 1;}
*::-moz-placeholder {color: #a9a9a9; opacity: 1;}
*:-ms-input-placeholder {color: #a9a9a9; opacity: 1;}
*{margin: 0; padding: 0;}
*{-webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;}
button,input,a{outline: none;}
a {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
/* endzeit_____ */
.m1-form input.field:focus::-webkit-input-placeholder {opacity:0;}
.m1-form input.field:focus::-moz-placeholder          {opacity:0;}
.m1-form input.field:focus:-moz-placeholder           {opacity:0;}
.m1-form input.field:focus:-ms-input-placeholder      {opacity:0;}
.m1-form input.field::-webkit-input-placeholder {color: #333; opacity: 1;}
.m1-form input.field:-moz-placeholder {color: #333; opacity: 1;}
.m1-form input.field::-moz-placeholder {color: #333; opacity: 1;}
.m1-form input.field:-ms-input-placeholder {color: #333; opacity: 1;}
.hidden{display: none;}
.left{float: left;}
.right{float: right;}
.center{text-align: center;}
.center-justified {
    text-align: justify;
    -moz-text-align-last: center;
    text-align-last: center;
}
.clearfix:after, .plus li:after, .use li:after {content: '';display: block;clear: both;}
.clear{clear: both;height: 0px;}


html{
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    -webkit-font-smoothing: subpixel-antialiased !important;
}
h1,h2,h3,h4,h5,h6{font-family: 'Oswald', sans-serif; text-transform: uppercase;line-height: 1.2em;}
b,strong{font-family: 'Oswald', sans-serif;}
body{
    width: 100%;
    min-width: 320px;
    padding: 0px;
    margin: 0px auto;
    font-family: 'Oswald', sans-serif;
    font-size: 16px;
    line-height: 1.5em;
    color: #333333;
    background: #fff;
}
section{
    width: 100%;
    max-width: 1920px;
    margin: 0 auto;
    padding: 40px 0;
}
.wrap{
    width: 960px;
    padding: 0px 10px;
    margin: 0 auto;
    height: 100%;
    position: relative;
}
.wrap:after {
    clear: both;
    content: "";
    display: table;
}
.m1-form input.field{
    position: relative;
    display: block;
    outline: 0;
    border: none;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    width: 100%;
    height: 60px;
    line-height: 60px;
    margin: 0 auto 15px;
    padding: 0 20px;
    background:#fff;
    text-align: center;
    font-size: 14px;
    font-family: 'Oswald', sans-serif;
    color: #333;
    -webkit-transition: all 0.2s;
    -moz-transition:    all 0.2s;
    -o-transition:      all 0.2s;
    -ms-transition:     all 0.2s;
    transition:         all 0.2s;
}
.button-m, .button-m-1 {
    position: relative;
    display: block;
    width: 300px;
    height: 66px;
    line-height: 66px;
    margin: 0 auto;
    border: none;
    border-radius: 33px;
    -webkit-border-radius: 33px;
    text-align: center;
    font-family: 'Oswald', sans-serif;
    font-size: 17px;
    text-transform: uppercase;
    text-decoration: none;
    cursor: pointer;
    color: #fff;
    background: #e94481;
    background: -moz-linear-gradient(top, #547d02 0%,#719c19 51%,#547d02 100%);
    background: -webkit-linear-gradient(top, #547d02 0%,#719c19 51%,#547d02 100%);
    background: linear-gradient(to bottom, #547d02 0%,#719c19 51%,#547d02 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e94481', endColorstr='#d4365d',GradientType=0 );
    -webkit-box-shadow: 0 4px 0 0 #436303;
    box-shadow: 0 4px 0 0 #436303;
    -webkit-transition: all 0.2s;
    -moz-transition:    all 0.2s;
    -o-transition:      all 0.2s;
    -ms-transition:     all 0.2s;
    transition:         all 0.2s;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.button-m:active, .button-m-1:active{
    top:-1px;
}
.m1-form {
    width: 260px;
    margin: 0 auto;
}
.m1-form .button-m{
    width: 100%;
}
h2.title{
    margin: 0 0 30px 0;
    text-align: center;
    font-size: 46px;
    font-family: 'Oswald', sans-serif;
}
h2.title:after {
    content: '';
    display: block;
    background: url(sep.png) no-repeat 0 0;
    width: 36px;
    height: 14px;
    margin: 5px auto 0;
}
.price {
    width: 100%;
    margin: 0 auto;
    text-align: center;
}
.old-cost {
    float: left;
    background: #fff;
}
.old-cost p {
    font-size: 30px;
    line-height: 30px;
}
.old-cost p span {
    text-decoration: line-through;
}
.old-cost > span, .new-cost > span {
    font-size: 14px;
}
.new-cost {
    float: right;
    background: #547d02;
    color:#fff;
}
.new-cost p {
    font-size: 30px;
    line-height: 30px;
}
.new-cost, .old-cost  {
    width: 50%;
    height: 80px;
    padding-top: 10px;
}
@media screen and (max-width: 976px) {
    .wrap{
        width: 640px;
    }
}
@media screen and (max-width: 659px) {
    .wrap{
        width: 320px;
    }

}

/* Slider */
.slick-slider {
    position: relative;
    display: block;
    box-sizing: border-box;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
    touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}
.slick-list {
    position: relative;
    display: block;
    overflow: hidden;
    margin: 0;
    padding: 0;
}
.slick-list:focus {
    outline: none;
}
.slick-list.dragging {
    cursor: pointer;
    cursor: hand;
}
.slick-slider .slick-track,
.slick-slider .slick-list {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}
.slick-track {
    position: relative;
    top: 0;
    left: 0;
    display: block;
}
.slick-track:before,
.slick-track:after {
    display: table;
    content: '';
}
.slick-track:after {
    clear: both;
}
.slick-loading .slick-track {
    visibility: hidden;
}
.slick-slide {
    display: none;
    float: left;
    height: 100%;
    min-height: 1px;
}
[dir='rtl'] .slick-slide {
    float: right;
}
.slick-slide img {
    display: block;
}
.slick-slide.slick-loading img {
    display: none;
}
.slick-slide.dragging img{
    pointer-events: none;
}
.slick-initialized .slick-slide{
    display: block;
}
.slick-loading .slick-slide{
    visibility: hidden;
}
.slick-vertical .slick-slide{
    display: block;
    height: auto;
    border: 1px solid transparent;
}
.slick-arrow.slick-hidden {
    display: none;
}
/* Arrows */
.reviews .slick-prev,
.reviews .slick-next {
    top:102px;
}
.reviews .slick-prev {
    left: -31px;
}
.reviews .slick-next {
    right: -31px;
}
.slick-prev,
.slick-next {
    font-size: 0;
    line-height: 0;
    position: absolute;
    top: 163px;
    display: block;
    width: 50px;
    height: 50px;
    padding: 0;
    cursor: pointer;
    color: transparent;
    border: none;
    outline: none;
    background: url(arrow.png) no-repeat 0 0;
    z-index: 3;
}
.slick-prev{
    left: -25px;
}
.slick-next{
    right: -25px;
    -moz-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
}
/* Dots */
.slick-dotted.slick-slider{
    margin-bottom: 30px;
}
.slick-dots{
    position: absolute;
    bottom: -49px;
    left: 0;
    display: block;
    width: 100%;
    padding: 0;
    margin: 0;
    list-style: none;
    text-align: center;
}
.slick-dots li{
    position: relative;
    display: inline-block;
    margin: 0 3px;
    padding: 0;
    cursor: pointer;
}
.slick-dots li.slick-active button {
    background: #009688;
}
.slick-dots li button{
    font-size: 0;
    line-height: 0;
    display: block;
    width: 14px;
    height: 14px;
    border-radius: 100%;
    cursor: pointer;
    color: transparent;
    border: 0;
    outline: none;
    background: #e6e6e6;
    -webkit-box-shadow:inset 2px 0 4px 0 rgba(0,0,0,.2);
    box-shadow:inset 2px 0 4px 0 rgba(0,0,0,.2);
}

/*block1*//* after_qbici */
.block1 {
    padding: 13px 0 11px;
}
.top {
}
.top li {
    display: inline-block;
    width: 324px;
}
.top li:last-child {
    width: 290px;
}
.top p {
    font-size: 16px;
    overflow: hidden;
    padding: 7px 0 0;
}
.top li:before {
    content: '';
    display: block;
    background: url(icon.png) no-repeat 0 0;
    width: 40px;
    height: 40px;
    float: left;
    margin: 0 10px 0 0;
}
.top li:nth-child(2):before {
    background-position: -40px 0;
}
.top li:nth-child(3):before {
    background-position: -80px 0;
}
.gift {
    width: 190px;
    height: 90px;
    border-radius: 5px;
    background: rgba(115,62,185,.9);
    color:#fff;
    text-align: center;
    position: relative;
    padding: 8px 0 0;
    margin: 201px 0 0 235px;
}
.gift:before {
    content: '';
    display: block;
    background: url(strelka.png) no-repeat 0 0;
    width: 51px;
    height: 65px;
    position: absolute;
    top: -53px;
    left: 47px;
}
.gift p {
    text-transform: uppercase;
    font-family: "GothamProBold";
}
/*block2*//* endzeit_____ */
.block2 {
    background: url(b1.jpg) no-repeat center top;
    padding: 24px 0 0;
    height: 601px;
}
.title-block {
    padding-left: 362px;
}
.block2 h1 {
    color:#547d02;
    font-size: 60px;
    letter-spacing: .6px;
    text-transform: none;
    display: inline-block;
    margin: 0 28px 0 0;
    line-height: 62px;
}
.block2 h2 {
    font-family: "GothamProRegular";
    font-size: 24px;
    display: inline-block;
    width: 300px;
    line-height: 36px;
}
.formbox {
    width: 300px;
    background: #f6cefe;
    background: -moz-linear-gradient(-45deg, #f6cefe 0%, #dadffa 50%, #f1f4f9 100%);
    background: -webkit-linear-gradient(-45deg, #f6cefe 0%,#dadffa 50%,#f1f4f9 100%);
    background: linear-gradient(135deg, #f6cefe 0%,#dadffa 50%,#f1f4f9 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f6cefe', endColorstr='#f1f4f9',GradientType=1 );
    position: absolute;
    top:160px;
    right: -45px;
    padding-bottom: 30px;
    -webkit-box-shadow: 0 6px 14px 0 rgba(0,0,0,.3);
    box-shadow: 0 6px 14px 0 rgba(0,0,0,.3);
}
.plus {
    width: 224px;
    margin: 27px 0 0 383px;
}
.plus li {
    margin-bottom: 10px;
}
.plus p {
    font-size: 15px;
    text-transform: uppercase;
    overflow: hidden;
}
.plus li:before {
    content: '';
    display: block;
    background: url(check.svg) no-repeat 0 0;
    height: 54px;
    width: 54px;
    float: left;
    margin: 0 25px 0 0;
}
/*.plus li:nth-child(2):before {
    background-position: -54px 0;
}
.plus li:nth-child(3):before {
    background-position: -108px 0;
}*/
.sale {
    font-size: 16px;
    letter-spacing: .4px;
    color:#fff;
    background: rgba(232,78,135,.9);
    border-radius: 100%;
    text-align: center;
    padding: 16px 0 0;
    width: 90px;
    height: 90px;
    position: absolute;
    top: 330px;
    left: 540px;
}
.sale p {
    font-size: 30px;
    letter-spacing: 0;
    line-height: 30px;
}
/*block3*//* michael-k90 */
.block3 .wrap > P {
    font-size: 18px;
    line-height: 30px;
    text-align: center;
    margin-bottom: 30px;
}
.kollage {
    width: 902px;
    height: 540px;
    margin: 0 auto;
    position: relative;
}
.kollage img {
    position: absolute;
    top:0;
    right: 0;
    display: block;
}
.kollage .video {
    width: 432px;
    height: 540px;
}
.kollage .video video {
    width: 432px;
    height: 540px;
    overflow: hidden;
    z-index: 1;
}
/*block4*//* bizlife_inc */
.block4 {
    background: #e3e9f3;
    height: 856px;
}
.block4 .wrap > p {
    text-align: center;
    font-size: 18px;
    margin-bottom: 30px;
}
.preim {
    text-align: center;
    margin-bottom: 30px;
}
.preim li {
    display: inline-block;
    width: 25%;
    vertical-align: top;
}
.preim img {
    display: block;
    border-radius: 100%;
    margin: 0 auto;
    border:4px solid #fff;
    -webkit-box-shadow: 0 6px 14px 0 rgba(0,0,0,.3);
    box-shadow: 0 6px 14px 0 rgba(0,0,0,.3);
}
.preim p {
    font-size: 16px;
    padding: 20px 10px 0;
}
.gallery {
    width: 900px;
    height: 400px;
    border-radius: 4px;
    margin: 0 auto;
    background: #f6c8f6;
    background: -moz-linear-gradient(-45deg, #7bb30c 0%, #ced2fb 50%, #dee4c4 50%, #f1f4f9 100%);
    background: -webkit-linear-gradient(-45deg, #7bb30c 0%,#ced2fb 50%,#dee4c4 50%,#f1f4f9 100%);
    background: linear-gradient(135deg, #7bb30c 0%,#ced2fb 50%,#ced2fb 50%,#dee4c4 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f6c8f6', endColorstr='#f1f4f9',GradientType=1 );
    padding: 39px 20px 0;
}
.gallery div {
}
.gallery .gal {
    width: 400px;
    height: 320px;
    margin: 0 auto;
}
.gal img {
    max-width: 100%;
    height: auto;
}
/*block5*//* owmen17 */
.block5 {
    padding: 180px 0 30px;
    background: url(b2.jpg) no-repeat center 0px;

    background-color: #e7e8ea;
}
.use {
    padding: 0 407px 0 58px;
}
.use li {
    -webkit-box-shadow: 0 6px 14px 0 rgba(0,0,0,.3);
    box-shadow: 0 6px 14px 0 rgba(0,0,0,.3);
    display: block;
    height: 150px;
    margin-bottom: 30px;
    position: relative;
    padding:22px 0 0 125px;
}
.use img {
    display: block;
    position: absolute;
    top: -4px;
    left: -58px;
}
.use h3 {
    font-size: 16px;
    color:#733eb9;
    overflow: hidden;
    line-height: 24px;
    margin-bottom: 3px;
    padding-right: 26px;
    margin-top: 20px;
}
.use p {
    font-size: 16px;
    overflow: hidden;

}
.use-details {
    position: relative;
    margin-top: -121px;
    margin-bottom: 40px;
}
.use-details p {
    padding: 0 0 0 566px;
}
.apruv {
    width: 125px;
    height: 100px;
    text-align: center;
    font-size: 12px;
    text-transform: uppercase;
    line-height: 16px;
    position: absolute;
    top: -400px;
    left: 577px;
    background: url(apruv.png) no-repeat center top;
    padding: 69px 0 0 0;
}

/*block6*//* after_qbici */
.block6 {
    background: url(b3.jpg) no-repeat center top;
}
.specbox {
    background: #fff;
    padding: 30px;
    position: relative;
}
.specbox .title {
    font-size: 36px;
    margin-bottom: 20px;
}
.specbox img {
    display: block;
    float: left;
    border-radius: 100%;
    border:4px solid #e3e9f3;
    margin: 0 30px 0 0;
}
.specbox p {
    font-size: 18px;
    line-height: 30px;
}
.specbox p:nth-of-type(1) {
    margin-bottom: 20px;
}
.sign {
    background: url(sign.png) no-repeat 0 0;
    width: 140px;
    height: 92px;
    position: absolute;
    bottom: 20px;
    right: 50px;
}
/*block7*//* endzeit_____ */
.block7 {
    padding-bottom: 50px;
}
.reviews {
    width: 900px;
    margin: 0 auto;
    padding: 30px 0;
    background: #e3e9f3;
}
.reviews div {
}
.reviews img {
    display: block;
    float: left;
    margin: 0 30px 0 30px;
}
.reviews h3 {
    font-size: 16px;
    margin-bottom: 4px;
    overflow: hidden;
}
.reviews p {
    font-size: 18px;
    line-height: 30px;
    overflow: hidden;
    padding-right: 30px;
}
/*block8*//* michael-k90 */
.block8 {
    background: url(b4.jpg) no-repeat center top;
}
.block8 .wrap {
    padding: 0;
}
.block8 h2 {
    color: #fff;
}
.block8 h2:after {
    background-image: url(sep2.png);
}
.stars {
    text-align: center;
}
.star {
    width: 300px;
    background: #fff;
    padding: 4px;
    margin: 1px auto 13px;
    -webkit-box-shadow: 0 6px 14px 0 rgba(0,0,0,.3);
    box-shadow: 0 6px 14px 0 rgba(0,0,0,.3);
}
.star img {
    display: block;
    margin: 0 auto;
}
.star p {
    font-size: 20px;
    padding: 14px 0;
}

/*block9*//* bizlife_inc */
.block9 {
    background: #e3e9f3;
}
.block9 .wrap {
    padding: 0;
}
.ship {
    text-align: center;
}
.ship li {
    display: inline-block;
    width: 25%;
    vertical-align: top;
}
.ship img {
    display: block;
    margin: 0 auto;
}
.ship p {
    font-size: 16px;
    padding: 20px 10px 0;
}
.stars .slick-prev, .stars .slick-next {
    top: 127px;
    border:2px solid #fff;
    border-radius: 100%;
    width: 54px;
    height: 54px;
}
.stars .slick-prev {
    left: 0;
}
.stars .slick-next {
    right: 0;
}

/*block10*//* owmen17 */
.end {
    background-image: url(bf.jpg);
}

.footer {
    text-align: center;
    padding: 40px 0 30px;
}
.footer a {
    font-size: 14px;
    color:#333;
}
/*-------------------------------------- Media Queries ----959---------------------------------*//* after_qbici */
@media screen and (max-width: 976px) {
    .top li {
        width: 220px;
    }
    .top li:last-child {
        width: 180px;
    }
    .top li:before {
        margin: 8px 10px 0 0;
    }
    .top p {
        line-height: 20px;
    }
    .block1 {
        padding: 7px 0 8px;
    }
    .block2 {
        background-image: url(b1m.jpg);
    }
    .title-block {
        padding-left: 0;
    }

    .block2 h1 {
    }
    .plus {
        margin: 23px 0 0 -24px;
    }
    .sale {
        top: 357px;
        left: 224px;
    }
    .gift {
        margin: 203px 0 0 0px;
    }
    .gift:before {
        display: none;
    }
    .kollage {
        width: 100%;
        height: auto;
    }
    .kollage .video {
        margin: 0 auto;
    }
    .kollage img {
        position: static;
        margin: 20px auto 0;
    }
    h2.title {
        font-size: 36px;
    }
    .preim li {
        width: 50%;
    }
    .preim p {
        padding: 20px 38px 20px;
    }
    .preim {
        margin-bottom: 10px;
    }
    .gallery {
        width: 100%;
        height: 400px;
    }
    .block4 {
        height: 961px;
    }
    .slick-next {
        right: 20px;
    }
    .slick-prev {
        left: 20px;
    }
    .block5 {
        background: rgb(254,254,254);
        background: linear-gradient(111deg, rgba(254,254,254,0.006039915966386533) 2%, rgba(26,215,168,0.5494572829131652) 100%);
    }
    .use-details {
        margin-top: 0;
    }
    .use-details p {
        padding: 0 0 0 200px;
    }
    .apruv {
        top: 14px;
        left: 54px;
    }
    .use {
        padding: 0 35px 20px 79px;
    }
    .use li {
        padding: 22px 20px 0 125px;
    }
    .apruv {
        top: 3px;
        left: 40px;
    }
    .specbox .title {
        font-size: 30px;
    }
    .specbox img {
        float: none;
        margin: 0 auto 20px;
    }
    .block6 {
        background: url(b3m.jpg) no-repeat center top;
    }
    .reviews {
        width: 100%;
    }
    .reviews img {
        float: none;
        margin: 0 auto 20px;
    }
    .reviews h3 {
        text-align: center;
    }
    .reviews p {
        text-align: justify;
        padding: 0 20px;
    }
    .reviews .slick-next {
        right: 59px;
    }
    .reviews .slick-prev {
        left: 59px;
    }

    .ship li {
        width: 50%;
    }
    .ship p {
        font-size: 16px;
        padding: 20px 37px 26px;
    }
    .block8 {
        background: url(b4m.jpg) no-repeat center top;
    }
    .block9 {
        padding-bottom: 20px;
    }
}
/*-------------------------------------- Media Queries ----639---------------------------------*//* michael-k90 */
@media screen and (max-width: 659px) {
    .block1 {
        display: none;
    }
    .title-block {
        text-align: center;
    }
    .block2 h1 {
        margin: 0 0 0 0px;
        text-align: center;
        float: none;
    }
    .block2 {
        background-image: url(b1s.jpg);
        height: auto;
        padding: 11px 0 20px;
    }
    .formbox {
        position: static;
        margin: 0 auto;
    }
    .block2 h2 {
        float: none;
        text-align: center;
    }
    .sale {
        position: static;
        margin: 18px 0 0 207px;
    }
    .gift {
        position: absolute;
        margin: 0;
        top:334px;
        left: 10px;
    }
    .plus {
        margin: 257px 0 24px 0px;
        width: 100%;
    }
    .plus li:first-child {
        padding-right: 50px;
    }
    .gift:before {
        display: block;
        left: 7px;
    }
    h2.title {
        font-size: 22px;
    }
    .block3 .wrap > P {
        font-size: 16px;
        line-height: 26px;
    }
    .kollage .video, .kollage .video video {
        width: 100%;
        height: 376px;
    }
    .kollage img {
        margin: 0;
    }
    .preim li {
        width: 100%;
    }
    .block4 .wrap {
        padding: 0;
    }
    .block4 {
        height: 1486px;
    }
    .gallery .gal {
        width: 280px;
        height: 224px;
    }
    .gallery {
        height: 308px;
    }
    .gallery .slick-prev, .gallery .slick-next {
        top: 133px;
    }
    .gallery .slick-next {
        right: 10px;
    }
    .gallery .slick-prev {
        left: 10px;
    }
    .block5 {
        padding: 220px 0 30px;
    }
    .use {
        padding: 0;
    }
    .use li {
        padding: 0 15px 15px;
        height: auto;
        text-align: center;
        margin-top: 106px;
    }
    .use img {
        position: relative;
        left: inherit;
        top: -76px;
        margin: 0 auto -60px;
    }
    .use h3 {
        padding: 0;
    }
    .apruv {
        margin: 0 auto;
        position: static;
    }
    .use-details p {
        padding: 20px 0 0;
    }
    .specbox .title {
        font-size: 24px;
    }
    .specbox p {
        font-size: 16px;
        line-height: 24px;
    }
    .specbox {
        padding: 15px;
    }
    .block6 {
        background: url(b3s.jpg) no-repeat center top / cover;
    }
    .reviews {
        padding: 10px 0 20px;
    }
    .reviews p {
        font-size: 16px;
        line-height: 24px;
    }
    .reviews .slick-next {
        right: -9px;
    }
    .reviews .slick-prev {
        left: -9px;
    }
    .block8 {
        background: url(b4s.jpg) no-repeat center top;
    }
    .ship li {
        width: 100%;
    }
}

#bl6 {
    padding: 20px 0;
}
.flex-size {
    display: flex;
    width: 1000px;
    margin: 0 auto;
    justify-content: space-between;
    flex-wrap: wrap;
}
.flex-size-1 {
    width: 17%;
}
.bl6 {
    width: 70%;
    margin: 0 auto;
}
.table {
    width: 100%;
    border: none;
    margin-bottom: 20px;
}
.flex-size{
    display: flex; width: 1000px; margin: 0 auto; justify-content: space-between; flex-wrap: wrap
}
.flex-size-1{
    width: 17%
}
.bl6{
    width: 70%
}
.video-flex{
    display: flex;
    flex-wrap: wrap;
    width: 1000px;
}
.vid-1{
    width: 45%;
    margin: 0 10px;
}
.vid-2{
    width: 50%;
}
.cat-p{
    text-align: center;
    margin: 0 0 10px 0;
}
.img-cat{
    margin: 10px;
    width: 290px;
    margin: 10px auto;
}
.cat-flex{
    display: flex;
    flex-wrap: wrap;
    width: 1000px;
}
@media(max-width: 1000px){
    .flex-size-1{
        display: none;
    }
    .flex-size{
        width: 500px;
    }
    .video-flex{
        width: 650px;
    }
    .cat-flex{
        width: 650px;
    }
}
@media(max-width: 700px){
    .flex-size{
        width: 320px;
    }
    .video-flex{
        width: 300px;
    }
    .vid-1, .vid-2{
        width: 98%;
    }
    .cat-flex{
        width: 300px;
        margin: 0 auto;
    }
}
