
html, body, body div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, figure, footer, header, menu, nav, section, time, mark, audio, video, details, summary {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font-weight: normal;
    vertical-align: baseline;
    background: transparent;
}

article, aside, figure, footer, header, nav, section, details, summary {display: block;}

html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

img,
object,
embed {max-width: 100%;}

html {overflow-y: scroll;}

ul {list-style: none;}

blockquote, q {quotes: none;}

blockquote:before,
blockquote:after,
q:before,
q:after {content: ''; content: none;}

a {margin: 0; padding: 0; font-size: 100%; vertical-align: baseline; background: transparent;}

del {text-decoration: line-through;}

abbr[title], dfn[title] {border-bottom: 1px dotted #000; cursor: help;}

/* tables still need cellspacing="0" in the markup */
table {border-collapse: collapse; border-spacing: 0;}
th {font-weight: bold; vertical-align: bottom;}
td {font-weight: normal; vertical-align: top;}

hr {display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0;}

input, select {vertical-align: middle;}

pre {
    white-space: pre; /* CSS2 */
    white-space: pre-wrap; /* CSS 2.1 */
    white-space: pre-line; /* CSS 3 (and 2.1 as well, actually) */
    word-wrap: break-word; /* IE */
}

input[type="radio"] {vertical-align: text-bottom;}
input[type="checkbox"] {vertical-align: bottom;}
.ie7 input[type="checkbox"] {vertical-align: baseline;}
.ie6 input {vertical-align: text-bottom;}

select, input, textarea {font: 99% sans-serif;}

table {font-size: inherit; font: 100%;}

small {font-size: 85%;}

strong {font-weight: bold;}

td, td img {vertical-align: top;}

/* Make sure sup and sub don't mess with your line-heights https://gist.github.com/413930 */
sub, sup {font-size: 75%; line-height: 0; position: relative;}
sup {top: -0.5em;}
sub {bottom: -0.25em;}

/* standardize any monospaced elements */
pre, code, kbd, samp {font-family: monospace, sans-serif;}

/* hand cursor on clickable elements */
.clickable,
label,
input[type=button],
input[type=submit],
input[type=file],
button {cursor: pointer;}

/* Webkit browsers add a 2px margin outside the chrome of form elements */
button, input, select, textarea {margin: 0;}

/* make buttons play nice in IE */
button,
input[type=button] {width: auto; overflow: visible;}

/* scale images in IE7 more attractively */
.ie7 img {-ms-interpolation-mode: bicubic;}

/* let's clear some floats */
.clearfix:before, .clearfix:after { content: "\0020"; display: block; height: 0; overflow: hidden; }
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }

html {
	font-size: 10px;
	}
	body {
		box-sizing: border-box;
		overflow: hidden;
		font-size: 1.8rem;
		font-family: 'Roboto', sans-serif;
	}
	.wrap {
		max-width: 132.8rem;
		margin-right: auto;
		margin-left: auto;
	}
	.f {
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
	}
	.fj {
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		-webkit-justify-content: space-between;
		justify-content: space-between;
	}
	.fja {
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		-webkit-justify-content: space-between;
		justify-content: space-between;
		-webkit-align-items: center;
		-ms-align-items: center;
		align-items: center;
	}
	.fca {
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		-webkit-align-items: center;
		-ms-align-items: center;
		align-items: center;
		-webkit-justify-content: center;
		justify-content: center;
	}
	.fc {
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		-webkit-justify-content: center;
		justify-content: center;
	}
	.fa {
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		-webkit-align-items: center;
		-ms-align-items: center;
		align-items: center;
	}
	.wr {
		-webkit-flex-wrap: wrap;
		-moz-flex-wrap: wrap;
		-ms-flex-wrap: wrap;
		-o-flex-wrap: wrap;
		flex-wrap: wrap;
	}
	img {
		width: 100%;
	}
	input, textarea, button {
		outline: none;
	}
	.relative {
		position: relative;
	}
	.absolute {
		position: absolute;
	}
	.bold {
		font-weight: 700;
	}
	.center {
		text-align: center;
	}
	.white {
		color: #fff;
	}
	.upp {
		text-transform: uppercase;
	}
	.bl {
		display: block;
	}
	.none {
		display: none;
	}
	.ma {
		margin-right: auto;
		margin-left: auto;
	}
	.medium {
		font-weight: 500;
	}
	.black {
		font-weight: 900;
	}
	.light {
		font-weight: 300;
	}
	.through {
		text-decoration: line-through;
	}
	.fz12 {
		font-size: 12px;
	}
	.fz13 {
		font-size: 1.3rem;
	}
	.fz14 {
		font-size: 1.4rem;
	}
	.fz24 {
		font-size: 2.4rem;
	}
	.fz36 {
		font-size: 3.6rem;
	}
	.fz48 {
		font-size: 4.8rem;
	}
	#nmb {
		margin-bottom: 0;
	}

.main {
	background: transparent url(main_bg.jpg) center 0 no-repeat;
	-webkit-background-size: auto 74rem;
	background-size: auto 74rem;
	padding-bottom: 4rem;
 }
 .main .wrap .main_block {
 	width: 61.8rem;
 	min-height: 100px;
 	margin-left: auto;
 	padding-top: 9rem;
 }
 .main .wrap .main_block h1 {
 	font-family: 'Gilroy';
 	font-size: 9.6rem;
 }
 .main .wrap .main_block ul li {
 	width: 46%;
 }
 .main .wrap .main_block ul li span {
 	color: #FFD542
 }
 .main .wrap .main_block ul li:nth-child(1), .main .wrap .main_block ul li:nth-child(2) {
 	margin-bottom: 1rem;
 }
 .main .wrap .main_block ul li .icon {
 	width: 1.73rem;
 	margin-right: 1.2rem;
 }
 .main .wrap .main_block ul li .icon img {
 	min-width: 1.73rem;
 }
 .main .wrap .main_block .price_block {
 	margin: 3.47rem 0;
 }
 .main .wrap .main_block .price_block .right {
	background: #FFA800;
	border-radius: 9px;
	padding: 0.75rem 1.3rem 0.55rem 1.3rem;
	margin-right: 2.89rem;
 }
 .main .wrap .main_block .timer_block {
 	background: transparent url(timer_bg.png) center center no-repeat;
 	-webkit-background-size: 100% 100%;
 	background-size: 100% 100%;
 	display: inline-block;
 	padding: 0.85rem 4.2rem 0.7rem 4.2rem;
 }
 .main .wrap .main_block .timer_block .title {
 	color: #FFD542;
 	text-align: center;
 }
 .main .wrap .main_block .timer_block .timer {
 	font-family: 'Righteous', cursive;
 	margin-top: -0.8rem;
 }
 .main .wrap .main_block .timer_block .timer .last {
 	color: #FF3D00;
 }
 .main .wrap .main_block .timer_block .timer .timer-separatop {
 	margin: 0 0.3rem;
 }
 .main .wrap .main_block .timer_block .bomb_icon {
 	width: 4rem;
 	right: -2.2rem;
 	top: calc(50% - 2.5rem);
 }
 .main .wrap .main_block .form_wrap {
 	width: 43.1rem;
 }
 .main .wrap .main_block form {
 	margin-top: 3.47rem;
 	width: 43.1rem;
 	border-radius: 9px;
	background: -moz-linear-gradient(180deg, #0026AC 0%, rgba(255, 77, 0, 0.61) 100%), #001C7D;
	background: -webkit-linear-gradient(180deg, #0026AC 0%, rgba(255, 77, 0, 0.61) 100%), #001C7D;
	background: -webkit-linear-gradient(180deg, #0026AC 0%, rgba(255, 77, 0, 0.61) 100%), #001C7D;
	background: -o-linear-gradient(180deg, #0026AC 0%, rgba(255, 77, 0, 0.61) 100%), #001C7D;
	background: -ms-linear-gradient(180deg, #0026AC 0%, rgba(255, 77, 0, 0.61) 100%), #001C7D;
	background: linear-gradient(180deg, #0026AC 0%, rgba(255, 77, 0, 0.61) 100%), #001C7D;
 	padding: 3.01rem 5.13rem 3.48rem 5.13rem;
 	z-index: 10;
 	top: 0;
 	left: 0;
 }
 .main .wrap .main_block .form_wrap .stay {
 	height: 12.2rem;
 	width: 16.8rem;
 	right: -16.8rem;
 	top: 3rem;
 	z-index: 5;
 	border: 2px solid #422616;
	border-radius: 9px;
	-webkit-transform: rotate(-15.86deg);
	-ms-transform: rotate(-15.86deg);
	-o-transform: rotate(-15.86deg);
	transform: rotate(-15.86deg);
	padding: 1.5rem 0.5rem 0 0.5rem;
 }
 .main .wrap .main_block .form_wrap .stay .icon {
 	width: 3.5rem;
 	margin-bottom: 0.3rem;
 }
 .main .wrap .main_block .form_wrap .stay .text {
 	color: #FF3D00;
 }
 .main .wrap .main_block form:before {
 	position: absolute;
 	content: '';
 	left: 1.6rem;
 	bottom: -0.67rem;
 	width: calc(100% - 3.2rem);
 	height: 0.67rem;
 	background-color: #250B00;
 	border-radius: 0px 0px 9px 9px;
 }
 .main .wrap .main_block form input {
 	width: 100%;
 }
 .main .wrap .main_block form .title {
 	font-size: 2.3rem;
 	margin-bottom: 1.23rem;
 }
 .main .wrap .main_block form input {
 	margin-bottom: 0.8rem;
 	border: none;
 	font-weight: 500;
 	font-size: 1.8rem;
 	color: #161616;
 	padding: 1.35rem 1.54rem;
 	border-radius: 9px;
 }
 .main .wrap .main_block form input[type='submit'] {
 	background: -moz-linear-gradient(180deg, #FF9900 0%, #FF8A00 0.01%, #FF0000 100%), #C4C4C4;
 	background: -webkit-linear-gradient(180deg, #FF9900 0%, #FF8A00 0.01%, #FF0000 100%), #C4C4C4;
 	background: -webkit-linear-gradient(180deg, #FF9900 0%, #FF8A00 0.01%, #FF0000 100%), #C4C4C4;
 	background: -o-linear-gradient(180deg, #FF9900 0%, #FF8A00 0.01%, #FF0000 100%), #C4C4C4;
 	background: -ms-linear-gradient(180deg, #FF9900 0%, #FF8A00 0.01%, #FF0000 100%), #C4C4C4;
 	background: linear-gradient(180deg, #FF9900 0%, #FF8A00 0.01%, #FF0000 100%), #C4C4C4;
 	border: none;
 	border-radius: 110px;
 	height: 7.12rem;
 	-webkit-box-shadow: 0px 5.36px 0px 0px rgba(132,9,0,1), 0px 4px 19px rgba(0, 0, 0, 0.61);;
 	-moz-box-shadow: 0px 5.36px 0px 0px rgba(132,9,0,1), 0px 4px 19px rgba(0, 0, 0, 0.61);;
 	box-shadow: 0px 5.36px 0px 0px rgba(132,9,0,1), 0px 4px 19px rgba(0, 0, 0, 0.61);;
 }
 .main .wrap .video {
 	left: 0;
 	bottom: 4rem;
 	width: 34.7rem;
 	cursor: pointer;
 	-webkit-transition: all 0.5s;
 	-o-transition: all 0.5s;
 	transition: all 0.5s;
 }
 .main .wrap .video:hover {
 	-webkit-transform: scale(1.2);
 	-ms-transform: scale(1.2);
 	transform: scale(1.2);
 	-webkit-transition: all 0.5s;
 	-o-transition: all 0.5s;
 	transition: all 0.5s;
 }

.description_block {
	min-height: 93.2rem;
	background: transparent url(description_block_bg.jpg) center center no-repeat;
	-webkit-background-size: cover;
	background-size: cover;
	margin-top: -12.3rem;
	padding: 16.4rem 0 9.8rem 0;
 }
 .description_block .wrap .title {
 	line-height: 56px;
 	margin-bottom: 5.37rem;
 }
 .description_block .wrap .title span {
 	font-size: 3.1rem;
 	color: #FF3D00;
 	line-height: 3.6rem;
 }
 .description_block .wrap .blocks .block {
 	width: 32.5%;
 	min-height: 52.8rem;
 	border-radius: 9px;
 	padding: 2.79rem 2.5rem 0rem 2.5rem;
 }
 .description_block .wrap .blocks .block:nth-child(1) {
	background-color: #FFE4CB;
 }
 .description_block .wrap .blocks .block:nth-child(2) {
	background-color: #F9F7D4;
 }
 .description_block .wrap .blocks .block:nth-child(3) {
	background-color: #DAF8FF;;
 }
 .description_block .wrap .blocks .block .title {
 	margin-bottom: 1rem;
 	line-height: 28px;
 }
 .description_block .wrap .blocks .block .image {
 	bottom: -0.6rem;
 	left: 0;
 	width: 100%;
 }
 .description_block .wrap .blocks .block .image img {
 	border-radius: 9px;
 }

.icons_section .wrap .icons_block .block:nth-child(2) {
	margin: 0 25rem;
 }
 .icons_section .wrap {
 	padding: 5.54rem 0 5.52rem 0;
 }
 .icons_section .wrap .icons_block .block .icon {
 	width: 8.5rem;
 	margin-bottom: 1.95rem;
 }

.wireless {
	background: transparent url(description_block_bg.jpg) center center no-repeat;
	-webkit-background-size: cover;
	background-size: cover;
	padding: 7.61rem 0 4.33rem 0;
 }
 .wireless .wrap .title {
 	line-height: 56px;
 	margin-bottom: 3.42rem;
 }
 .wireless .wrap .title span {
 	color: #1CADFF;
 	font-size: 3.1rem;
 	line-height: 36px;
 }
 .wireless .wrap .suspicion {
 	background: #CF2F2F;
 	border-radius: 9px;
 	width: 60rem;
 	padding: 1.1rem 0;
 	margin-bottom: 3.34rem;
 }
 .wireless .wrap .image_blocks .image {
 	width: 32.5%;
 }
 .wireless .wrap .image_blocks .image {
 	width: 43rem;
 }
 .wireless .wrap .image_blocks .image img {
 	min-width: 43rem;
 	height: 35.2rem;
 }
 .wireless .wrap .help {
 	background: #0526A8;
 	border-radius: 9px;
 	margin-top: 3.34rem;
 	width: 59.2rem;
 	padding: 1.1rem 0 1.38rem 0;
 }

.middle_list {
	min-height: 25.4rem;
 }
 .middle_list .bg {
 	height: 100%;
 	top: 0;
 	left: 50%;
 	width: 97rem;
 	-webkit-transform: translate(-100%, 0);
 	-ms-transform: translate(-100%, 0);
 	-o-transform: translate(-100%, 0);
 	transform: translate(-100%, 0);
 }
 .middle_list .wrap .list_block {
 	margin-left: auto;
 	width: 50%;
 	min-height: 25.4rem;
 	padding-left: 5.27rem;
 }
 .middle_list .wrap .list_block ul li {
 	margin-bottom: 0.7rem;
 }
 .middle_list .wrap .list_block ul li .icon {
 	margin-right: 0.93rem;
 	width: 1.73rem;
 	padding-top: 0.4rem;
 }
 .middle_list .wrap .list_block ul li .icon img {
 	min-width: 1.73rem;
 }

.users {
	background-color: #FFEFD8;
 }
 .users .wrap {
 	padding: 7.27rem 0 6.4rem 0;
 }
 .users .wrap .title {
 	margin-bottom: 4.21rem;
 }
 .users .wrap .blocks .block {
 	width: 32.4rem;
 }
 .users .wrap .blocks .block:nth-child(2) {
 	margin: 0 12rem
 }
 .users .wrap .blocks .block .icon {
 	width: 7.16rem;
 	margin-bottom: 0.72rem;
 }
 .users .wrap .blocks .block .block_title {
 	margin-bottom: 1.13rem;
 }

.main.footer {
	background: transparent url(main_footer_bg.jpg) center 0 no-repeat;
    -webkit-background-size: auto 74rem;
    background-size: auto 74rem;
 }

.copyright {
	background-color: #2A2B47;
	padding: 10.57rem 0 1.03rem 0;
	margin-top: -12.2rem;
	color: #787AAA;
}

@media screen and (max-width: 1350px) {
	html {
		font-size: 9px;
	}
 }
 @media screen and (max-width: 1215px) {
	html {
		font-size: 8px;
	}
 }
 @media screen and (max-width: 1080px) {
	html {
		font-size: 7px;
	}
 }
 @media screen and (max-width: 945px) {
	html {
		font-size: 6px;
	}
 }
 @media screen and (max-width: 815px) {
	html {
		font-size: 5.7px;
	}
 }






@media screen and (max-width: 768px) {
	html {
		font-size: 18px;
	}
	.none {
		display: block;
	}
	.main, .main.footer {
		background: none;
	}
	.main .wrap .video, .wireless .wrap .image_blocks .image img:first-child, .middle_list .bg, .copyright {
		display: none;
	}
	.main .wrap .main_block, .main .wrap .main_block .form_wrap, .main .wrap .main_block form, .description_block .wrap .blocks .block, .wireless .wrap .suspicion, .wireless .wrap .image_blocks .image, .middle_list .wrap .list_block, .users .wrap .blocks .block, .icons_section .wrap .icons_block .block {
		width: 100%;
	}
	.description_block {
		margin-top: 0;
	}
	.description_block .wrap .blocks, .icons_section .wrap .icons_block, .wireless .wrap .image_blocks, .users .wrap .blocks {
		-webkit-flex-wrap: wrap;
		-moz-flex-wrap: wrap;
		-ms-flex-wrap: wrap;
		-o-flex-wrap: wrap;
		flex-wrap: wrap;
	}

.main {
	background: -moz-linear-gradient(180deg, #161B46 0%, #04040D 100%);
	background: -webkit-linear-gradient(180deg, #161B46 0%, #04040D 100%);
	background: -webkit-linear-gradient(180deg, #161B46 0%, #04040D 100%);
	background: -o-linear-gradient(180deg, #161B46 0%, #04040D 100%);
	background: -ms-linear-gradient(180deg, #161B46 0%, #04040D 100%);
	background: linear-gradient(180deg, #161B46 0%, #04040D 100%);
	}
	.main .wrap .main_block h1 {
		font-size: 6.11rem;
		text-align: center;
	}
	.main .wrap .main_block {
		margin-left: 0;
		padding-top: 1.7rem;
	}
	.main .wrap .main_block ul li span {
		font-size: 1.4rem;
	}
	.main .wrap .main_block ul {
		justify-content: center;
		padding: 0 1.27rem;
		margin-bottom: 1.7rem;
	}
	.main .wrap .main_block ul li .icon {
		width: 1.1rem;
	}
	.main .wrap .main_block ul li .icon img {
		min-width: 1.1rem;
	}
	.main .wrap .main_block ul li {
		width: 50%;
	}
	.main .wrap .main_block ul li:nth-child(1), .main .wrap .main_block ul li:nth-child(2) {
	    margin-bottom: 0.3rem;
	}
	.main .wrap .main_block .price_block {
		justify-content: center;
		margin: 1.1rem 0 1.7rem 0;
	}
	.main .wrap .main_block .timer_block {
		display: block;
		margin-left: 1.58rem;
		margin-right: 4.01rem;
	}
	.main .wrap .main_block form {
		margin-top: 1.5rem;
		padding: 2.4rem 3.91rem 2.3rem 3.91rem;
	}
	.main .wrap .main_block .form_wrap {
		padding: 0 1.55rem;
		margin-bottom: 10.5rem;
	}
	.main .wrap .main_block form .title {
		font-size: 2.36rem;
		margin-bottom: 0.9rem;
	}
	.main .wrap .main_block form input[type='text'], .main .wrap .main_block form input[type='tel'] {
		padding: 1.02rem 0.78rem;
		font-size: 1.6rem;
		font-weight: 500;
        text-align: center;
	}
	.main .wrap .main_block form input[type='submit'] {
		font-size: 1.82rem;
		height: 5.41rem;
		margin-top: -0.2rem;
	}
	.main .wrap .main_block .form_wrap .stay {
		right: 9rem;
		bottom: -9.8rem;
		top: auto;
	}
	.main .wrap .main_block .mobile_video_wrap {
		min-height: 19.3rem;
	}
	.main .wrap .main_block .mobile_video_wrap iframe {
		position: absolute;
		z-index: 100;
		width: calc(100% - 3.08rem);
		top: 0;
		left: 1.54rem;
	}

.description_block .wrap .title {
	font-size: 2.74rem;
	line-height: normal;
	margin-bottom: 2.1rem;
 }
 .description_block .wrap .title span {
 	font-size: 1.76rem;
 	line-height: normal;
 }
 .description_block {
 	padding: 2.9rem 0 4.2rem 0;
 }
 .description_block .wrap .blocks {
 	padding: 0 1.68rem;
 }
 .description_block .wrap .blocks .block {
 	margin-bottom: 1.66rem;
 	min-height: 0;
 }
 .description_block .wrap .blocks .block:last-child {
 	margin-bottom: 0rem;
 }
 .description_block .wrap .blocks .block:nth-child(1) {
 	-webkit-order: 2;
 	-moz-order: 2;
 	-ms-order: 2;
 	-o-order: 2;
 	order: 2;
 }
 .description_block .wrap .blocks .block:nth-child(2) {
 	-webkit-order: 1;
 	-moz-order: 1;
 	-ms-order: 1;
 	-o-order: 1;
 	order: 1;
 }
 .description_block .wrap .blocks .block:nth-child(3) {
 	-webkit-order: 3;
 	-moz-order: 3;
 	-ms-order: 3;
 	-o-order: 3;
 	order: 3;
 }
 .description_block .wrap .blocks .block .title {
 	font-size: 1.85rem;
 	line-height: 1.8rem;
 	padding: 0 1.67rem;
 }
 .description_block .wrap .blocks .block p {
 	padding: 0 1.67rem;
 }
 .description_block .wrap .blocks .block {
 	font-size: 1.38rem;
 	padding: 2.15rem 0 0 0;
 }
 .description_block .wrap .blocks .block .image {
 	position: static;
 	margin-top: 1rem;
 	-webkit-transform: translate(0, 1rem);
 	-ms-transform: translate(0, 1rem);
 	-o-transform: translate(0, 1rem);
 	transform: translate(0, 1rem);
 }

.icons_section .wrap {
	padding: 4.4rem 0 1.4rem 0;
 }
 .icons_section .wrap .icons_block .block {
 	margin-bottom: 4.5rem;
 }
 .icons_section .wrap .icons_block .block:last-child {
 	margin-bottom: 3rem;
 }
 .icons_section .wrap .icons_block .block:nth-child(2) {
 	margin-right: 0;
 	margin-left: 0;
 	margin-bottom: 4.5rem;
 }

.wireless {
	padding: 2.72rem 0 3.2rem 0;
 }
 .wireless .wrap .title {
	font-size: 2.95rem;
	line-height: 3.5rem;
	margin-bottom: 2.7rem;
 }
 .wireless .wrap .title span {
 	font-size: 1.9rem;
 	line-height: 2.2rem;
 }
 .wireless .wrap .suspicion {
 	margin-right: 1.64rem;
 	margin-left: 1.64rem;
 	width: auto;
 	padding: 0.9rem 0.8rem;
 	margin-bottom: 1.24rem;
 }
 .wireless .wrap .image_blocks {
 	padding: 0 1.64rem;
 }
 .wireless .wrap .image_blocks .image {
 	margin-bottom: 1.2rem;
 }
 .wireless .wrap .image_blocks .image img {
 	min-width: 0;
 	height: auto;
 }
 .wireless .wrap .help {
 	width: auto;
 	margin: 0 1.64rem;
 }

.middle_list {
	min-height: 0;
 }
 .middle_list .wrap .list_block {
 	padding: 0 2.29rem;
 }
 .middle_list .wrap .list_block ul li {
 	-ms-align-items: flex-start;
 	align-items: flex-start;
 }

.users {
	margin-top: -0.6rem;
 }
 .users .wrap .title {
 	font-size: 2.9rem;
 	margin-bottom: 1.8rem;
 }
 .users .wrap .title span {
 	display: block;
 }
 .users .wrap {
 	padding: 4.29rem 0 3.67rem 0;
 }
 .users .wrap .blocks .block:nth-child(2) {
 	margin-right: 0;
 	margin-left: 0;
 	padding-top: 1.7rem;
 	padding-bottom: 1.85rem;
 	border-bottom: 1px solid #E4D1B4;
 }
 .users .wrap .blocks .block {
 	padding: 0 1.79rem;
 }
 .users .wrap .blocks .block:nth-child(1) {
	padding-bottom: 1.85rem;
	border-bottom: 1px solid #E4D1B4;
 }
 .users .wrap .blocks .block:nth-child(3) {
 	padding-top: 1.7rem;
 }
 .users .wrap .blocks .block p {
 	line-height: 1.6rem;
 }
 .users .wrap .blocks .block .icon {
 	margin-bottom: 0;
 }

.main.footer {
	background: -moz-linear-gradient(180deg, #161B46 0%, #04040D 100%);
	background: -webkit-linear-gradient(180deg, #161B46 0%, #04040D 100%);
	background: -webkit-linear-gradient(180deg, #161B46 0%, #04040D 100%);
	background: -o-linear-gradient(180deg, #161B46 0%, #04040D 100%);
	background: -ms-linear-gradient(180deg, #161B46 0%, #04040D 100%);
	background: linear-gradient(180deg, #161B46 0%, #04040D 100%);
	padding-bottom: 2rem;
 }
 .main.footer .wrap .main_block .form_wrap {
 	margin-bottom: 14.5rem;
 }
 .main.footer .wrap .mobile_copyright {
 	color: #787AAA;
 	font-size: 11px;
 }

}

@media screen and (max-width: 670px) {
	html {
		font-size: 17px;
	}
 }
 @media screen and (max-width: 625px) {
	html {
		font-size: 16px;
	}
 }
 @media screen and (max-width: 590px) {
	html {
		font-size: 15px;
	}
 }
 @media screen and (max-width: 550px) {
	html {
		font-size: 14px;
	}
 }
 @media screen and (max-width: 515px) {
	html {
		font-size: 13px;
	}
 }
 @media screen and (max-width: 480px) {
	html {
		font-size: 12px;
	}
 }
 @media screen and (max-width: 440px) {
	html {
		font-size: 11px;
	}
 }
 @media screen and (max-width: 405px) {
	html {
		font-size: 10px;
	}
 }
 @media screen and (max-width: 359px) {
	html {
		font-size: 9px;
	}
 }
 @media screen and (max-width: 330px) {
	html {
		font-size: 8.9px;
	}
 }

